{a
 {:args [],
  :methods
  {turn-on
   [{:args [],
     :pre {:type :mode-reference, :pclass this, :mode :off},
     :temporal-constraints [{:type :bounds, :value [1 3]}],
     :reward 5,
     :controllable true,
     :primitive true,
     :betweens [],
     :display-name "turn-on/a",
     :post {:type :mode-reference, :pclass this, :mode :on},
     :cost 2,
     :body nil,
     :doc "turns on the power supply type a"}]},
  :modes
  {:off {:type :literal, :value true},
   :on {:type :literal, :value true}},
  :type :pclass},
 b
 {:args [],
  :methods
  {turn-on
   [{:args [],
     :pre {:type :mode-reference, :pclass this, :mode :off},
     :temporal-constraints [{:type :bounds, :value [1 3]}],
     :reward 5,
     :controllable true,
     :primitive true,
     :betweens [],
     :display-name "turn-on/b",
     :post {:type :mode-reference, :pclass this, :mode :on},
     :cost 2,
     :body nil,
     :doc "turns on the power supply type b"}]},
  :modes
  {:off {:type :literal, :value true},
   :on {:type :literal, :value true}},
  :type :pclass},
 c
 {:args [],
  :methods
  {turn-on
   [{:args [],
     :pre {:type :mode-reference, :pclass this, :mode :off},
     :temporal-constraints [{:type :bounds, :value [1 3]}],
     :reward 5,
     :controllable true,
     :primitive true,
     :betweens [],
     :display-name "turn-on/a",
     :post {:type :mode-reference, :pclass this, :mode :on},
     :cost 2,
     :body nil,
     :doc "turns on the power supply type a"}]},
  :modes
  {:off {:type :literal, :value true},
   :on {:type :literal, :value true}},
  :type :pclass}}
