{:hedge-28 {:type :edge, :uid :hedge-28, :end-node :hem-25},
 :hedge-30 {:type :edge, :uid :hedge-30, :end-node :hpt-23},
 :hedge-31 {:type :edge, :uid :hedge-31, :end-node :hpt-24},
 :hem-25
 {:uid :hem-25,
  :type :htn-expanded-method,
  :label "Flip 3()",
  :display-name "Flip 3",
  :network :net-29,
  :incidence-set #{:hedge-28},
  :edges []},
 :henpt-21
 {:uid :henpt-21,
  :type :htn-expanded-nonprimitive-task,
  :label "main",
  :display-name "main",
  :incidence-set #{},
  :edges [:hedge-28]},
 :hpt-22
 {:args [],
  :interface "RMQ",
  :plantid "penny",
  :uid :hpt-22,
  :name "flip",
  :argsmap {},
  :type :htn-primitive-task,
  :label "TEMP-flip",
  :display-name "Flip",
  :incidence-set #{},
  :edges [:hedge-30],
  :plant-part "coin-fsm"},
 :hpt-23
 {:args [],
  :interface "RMQ",
  :plantid "penny",
  :uid :hpt-23,
  :name "flip",
  :argsmap {},
  :type :htn-primitive-task,
  :label "TEMP-flip",
  :display-name "Flip",
  :incidence-set #{:hedge-30},
  :edges [:hedge-31],
  :plant-part "coin-fsm"},
 :hpt-24
 {:args [],
  :interface "RMQ",
  :plantid "penny",
  :uid :hpt-24,
  :name "flip",
  :argsmap {},
  :type :htn-primitive-task,
  :label "TEMP-flip",
  :display-name "Flip",
  :incidence-set #{:hedge-31},
  :edges [],
  :plant-part "coin-fsm"},
 :net-27
 {:type :htn-network,
  :uid :net-27,
  :display-name "main",
  :label "main",
  :rootnodes #{:henpt-21}},
 :net-29 {:type :htn-network, :uid :net-29, :rootnodes #{:hpt-22}},
 :network :net-27}
