{:hedge-28 {:end-node :hem-25, :type :edge, :uid :hedge-28},
 :hedge-30 {:end-node :hpt-23, :type :edge, :uid :hedge-30},
 :hedge-31 {:end-node :hpt-24, :type :edge, :uid :hedge-31},
 :hem-25
 {:args [],
  :display-name "Flip 3",
  :edges [],
  :incidence-set #{:hedge-28},
  :network :net-29,
  :type :htn-expanded-method,
  :uid :hem-25},
 :henpt-21
 {:display-name "main",
  :edges [:hedge-28],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-21},
 :hpt-22
 {:args [],
  :argsmap {},
  :display-name "Flip",
  :edges [:hedge-30],
  :incidence-set #{},
  :interface "RMQ",
  :name "flip",
  :plant-part "coin-fsm",
  :plantid "penny",
  :type :htn-primitive-task,
  :uid :hpt-22},
 :hpt-23
 {:args [],
  :argsmap {},
  :display-name "Flip",
  :edges [:hedge-31],
  :incidence-set #{:hedge-30},
  :interface "RMQ",
  :name "flip",
  :plant-part "coin-fsm",
  :plantid "penny",
  :type :htn-primitive-task,
  :uid :hpt-23},
 :hpt-24
 {:args [],
  :argsmap {},
  :display-name "Flip",
  :edges [],
  :incidence-set #{:hedge-31},
  :interface "RMQ",
  :name "flip",
  :plant-part "coin-fsm",
  :plantid "penny",
  :type :htn-primitive-task,
  :uid :hpt-24},
 :net-27
 {:display-name "main",
  :rootnodes #{:henpt-21},
  :type :htn-network,
  :uid :net-27},
 :net-29
 {:display-name "Flip 3",
  :rootnodes #{:hpt-22},
  :type :htn-network,
  :uid :net-29},
 :network :net-27}
