{:hedge-18 {:end-node :hem-12, :type :edge, :uid :hedge-18},
 :hedge-20 {:end-node :hem-14, :type :edge, :uid :hedge-20},
 :hedge-22 {:end-node :hem-16, :type :edge, :uid :hedge-22},
 :hem-12
 {:args [],
  :display-args [],
  :display-name "Main-0",
  :edges [],
  :incidence-set #{:hedge-18},
  :network :net-19,
  :type :htn-expanded-method,
  :uid :hem-12},
 :hem-14
 {:args [],
  :display-args [],
  :display-name "Main-1",
  :edges [],
  :incidence-set #{:hedge-20},
  :network :net-21,
  :type :htn-expanded-method,
  :uid :hem-14},
 :hem-16
 {:args [],
  :display-args [],
  :display-name "Main-2",
  :edges [],
  :incidence-set #{:hedge-22},
  :network :net-23,
  :type :htn-expanded-method,
  :uid :hem-16},
 :henpt-10
 {:display-name "choice-feasible",
  :edges [:hedge-18 :hedge-20 :hedge-22],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-10},
 :hpt-11
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Option",
  :edges [],
  :incidence-set #{},
  :name "option",
  :type :htn-primitive-task,
  :uid :hpt-11},
 :hpt-13
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Option",
  :edges [],
  :incidence-set #{},
  :name "option",
  :type :htn-primitive-task,
  :uid :hpt-13},
 :hpt-15
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Option",
  :edges [],
  :incidence-set #{},
  :name "option",
  :type :htn-primitive-task,
  :uid :hpt-15},
 :net-17
 {:display-name "choice-feasible",
  :rootnodes #{:henpt-10},
  :type :htn-network,
  :uid :net-17},
 :net-19
 {:display-name "Main-0",
  :rootnodes #{:hpt-11},
  :type :htn-network,
  :uid :net-19},
 :net-21
 {:display-name "Main-1",
  :rootnodes #{:hpt-13},
  :type :htn-network,
  :uid :net-21},
 :net-23
 {:display-name "Main-2",
  :rootnodes #{:hpt-15},
  :type :htn-network,
  :uid :net-23},
 :network :net-17}
