{:hedge-51 {:type :edge, :uid :hedge-51, :end-node :hem-43},
 :hedge-53 {:type :edge, :uid :hedge-53, :end-node :hem-46},
 :hedge-55 {:type :edge, :uid :hedge-55, :end-node :hem-49},
 :hem-43
 {:uid :hem-43,
  :type :htn-expanded-method,
  :label "Main-0()",
  :display-name "Main-0",
  :network :net-52,
  :incidence-set #{:hedge-51},
  :edges []},
 :hem-46
 {:uid :hem-46,
  :type :htn-expanded-method,
  :label "Main-1()",
  :display-name "Main-1",
  :network :net-54,
  :incidence-set #{:hedge-53},
  :edges []},
 :hem-49
 {:uid :hem-49,
  :type :htn-expanded-method,
  :label "Main-2()",
  :display-name "Main-2",
  :network :net-56,
  :incidence-set #{:hedge-55},
  :edges []},
 :henpt-40
 {:uid :henpt-40,
  :type :htn-expanded-nonprimitive-task,
  :label "choice-feasible",
  :display-name "choice-feasible",
  :incidence-set #{},
  :edges [:hedge-51 :hedge-53 :hedge-55]},
 :hpt-41
 {:type :htn-primitive-task,
  :uid :hpt-41,
  :name "option",
  :incidence-set #{},
  :edges [],
  :label "TEMP-option",
  :display-name "Option",
  :args [],
  :argsmap {}},
 :hpt-44
 {:type :htn-primitive-task,
  :uid :hpt-44,
  :name "option",
  :incidence-set #{},
  :edges [],
  :label "TEMP-option",
  :display-name "Option",
  :args [],
  :argsmap {}},
 :hpt-47
 {:type :htn-primitive-task,
  :uid :hpt-47,
  :name "option",
  :incidence-set #{},
  :edges [],
  :label "TEMP-option",
  :display-name "Option",
  :args [],
  :argsmap {}},
 :net-50
 {:type :htn-network,
  :uid :net-50,
  :display-name "choice-feasible",
  :label "choice-feasible",
  :rootnodes #{:henpt-40}},
 :net-52
 {:type :htn-network,
  :uid :net-52,
  :display-name "Main-0()",
  :label "Main-0()",
  :rootnodes #{:hpt-41}},
 :net-54
 {:type :htn-network,
  :uid :net-54,
  :display-name "Main-1()",
  :label "Main-1()",
  :rootnodes #{:hpt-44}},
 :net-56
 {:type :htn-network,
  :uid :net-56,
  :display-name "Main-2()",
  :label "Main-2()",
  :rootnodes #{:hpt-47}},
 :network :net-50}
