{:hedge-20 {:type :edge, :uid :hedge-20, :end-node :hem-12},
 :hedge-22 {:type :edge, :uid :hedge-22, :end-node :hem-15},
 :hedge-24 {:type :edge, :uid :hedge-24, :end-node :hem-18},
 :hem-12
 {:uid :hem-12,
  :type :htn-expanded-method,
  :label "Main-0()",
  :display-name "Main-0",
  :network :net-21,
  :incidence-set #{:hedge-20},
  :edges []},
 :hem-15
 {:uid :hem-15,
  :type :htn-expanded-method,
  :label "Main-1()",
  :display-name "Main-1",
  :network :net-23,
  :incidence-set #{:hedge-22},
  :edges []},
 :hem-18
 {:uid :hem-18,
  :type :htn-expanded-method,
  :label "Main-2()",
  :display-name "Main-2",
  :network :net-25,
  :incidence-set #{:hedge-24},
  :edges []},
 :henpt-9
 {:uid :henpt-9,
  :type :htn-expanded-nonprimitive-task,
  :label "choice-feasible",
  :display-name "choice-feasible",
  :incidence-set #{},
  :edges [:hedge-20 :hedge-22 :hedge-24]},
 :hpt-10
 {:type :htn-primitive-task,
  :uid :hpt-10,
  :name "option",
  :incidence-set #{},
  :edges [],
  :label "TEMP-option",
  :display-name "Option",
  :args [],
  :argsmap {}},
 :hpt-13
 {:type :htn-primitive-task,
  :uid :hpt-13,
  :name "option",
  :incidence-set #{},
  :edges [],
  :label "TEMP-option",
  :display-name "Option",
  :args [],
  :argsmap {}},
 :hpt-16
 {:type :htn-primitive-task,
  :uid :hpt-16,
  :name "option",
  :incidence-set #{},
  :edges [],
  :label "TEMP-option",
  :display-name "Option",
  :args [],
  :argsmap {}},
 :net-19
 {:type :htn-network,
  :uid :net-19,
  :display-name "choice-feasible",
  :label "choice-feasible",
  :rootnodes #{:henpt-9}},
 :net-21 {:type :htn-network, :uid :net-21, :rootnodes #{:hpt-10}},
 :net-23 {:type :htn-network, :uid :net-23, :rootnodes #{:hpt-13}},
 :net-25 {:type :htn-network, :uid :net-25, :rootnodes #{:hpt-16}},
 :network :net-19}
