{:act-22
 {:args [],
  :constraints #{:tc-21},
  :uid :act-22,
  :name "Option",
  :tpn-type :activity,
  :argsmap {},
  :command "option",
  :htn-node :hem-43,
  :controllable false,
  :end-node :node-20,
  :label "TEMP-option",
  :display-name "Option"},
 :act-28
 {:args [],
  :constraints #{:tc-27},
  :uid :act-28,
  :name "Option",
  :tpn-type :activity,
  :argsmap {},
  :command "option",
  :htn-node :hem-46,
  :controllable false,
  :end-node :node-26,
  :label "TEMP-option",
  :display-name "Option"},
 :act-34
 {:args [],
  :constraints #{:tc-33},
  :uid :act-34,
  :name "Option",
  :tpn-type :activity,
  :argsmap {},
  :command "option",
  :htn-node :hem-49,
  :controllable false,
  :end-node :node-32,
  :label "TEMP-option",
  :display-name "Option"},
 :na-24
 {:tpn-type :null-activity,
  :uid :na-24,
  :constraints #{},
  :end-node :node-23},
 :na-25
 {:tpn-type :null-activity,
  :uid :na-25,
  :constraints #{},
  :end-node :node-17},
 :na-30
 {:tpn-type :null-activity,
  :uid :na-30,
  :constraints #{},
  :end-node :node-29},
 :na-31
 {:tpn-type :null-activity,
  :uid :na-31,
  :constraints #{},
  :end-node :node-17},
 :na-36
 {:tpn-type :null-activity,
  :uid :na-36,
  :constraints #{},
  :end-node :node-35},
 :na-37
 {:tpn-type :null-activity,
  :uid :na-37,
  :constraints #{},
  :end-node :node-17},
 :net-19
 {:tpn-type :network,
  :uid :net-19,
  :begin-node :node-18,
  :end-node :node-17},
 :network-id :net-19,
 :node-17
 {:tpn-type :c-end,
  :uid :node-17,
  :constraints #{},
  :activities #{},
  :incidence-set #{:na-37 :na-25 :na-31}},
 :node-18
 {:tpn-type :c-begin,
  :uid :node-18,
  :constraints #{},
  :activities #{:na-36 :na-30 :na-24},
  :incidence-set #{},
  :end-node :node-17,
  :htn-node :hem-49},
 :node-20
 {:tpn-type :state,
  :uid :node-20,
  :constraints #{},
  :activities #{:na-25},
  :incidence-set #{:act-22}},
 :node-23
 {:tpn-type :state,
  :uid :node-23,
  :constraints #{},
  :activities #{:act-22},
  :incidence-set #{:na-24},
  :htn-node :hem-43,
  :end-node :node-20},
 :node-26
 {:tpn-type :state,
  :uid :node-26,
  :constraints #{},
  :activities #{:na-31},
  :incidence-set #{:act-28}},
 :node-29
 {:tpn-type :state,
  :uid :node-29,
  :constraints #{},
  :activities #{:act-28},
  :incidence-set #{:na-30},
  :htn-node :hem-46,
  :end-node :node-26},
 :node-32
 {:tpn-type :state,
  :uid :node-32,
  :constraints #{},
  :activities #{:na-37},
  :incidence-set #{:act-34}},
 :node-35
 {:tpn-type :state,
  :uid :node-35,
  :constraints #{},
  :activities #{:act-34},
  :incidence-set #{:na-36},
  :htn-node :hem-49,
  :end-node :node-32},
 :tc-21
 {:tpn-type :temporal-constraint,
  :uid :tc-21,
  :value [55 65],
  :end-node :node-20},
 :tc-27
 {:tpn-type :temporal-constraint,
  :uid :tc-27,
  :value [65 75],
  :end-node :node-26},
 :tc-33
 {:tpn-type :temporal-constraint,
  :uid :tc-33,
  :value [75 85],
  :end-node :node-32}}
