{:hedge-20 {:end-node :hem-12, :type :edge, :uid :hedge-20},
 :hedge-22 {:end-node :hem-15, :type :edge, :uid :hedge-22},
 :hedge-24 {:end-node :hem-18, :type :edge, :uid :hedge-24},
 :hem-12
 {:args [],
  :display-name "Main-0",
  :edges [],
  :incidence-set #{:hedge-20},
  :network :net-21,
  :type :htn-expanded-method,
  :uid :hem-12},
 :hem-15
 {:args [],
  :display-name "Main-1",
  :edges [],
  :incidence-set #{:hedge-22},
  :network :net-23,
  :type :htn-expanded-method,
  :uid :hem-15},
 :hem-18
 {:args [],
  :display-name "Main-2",
  :edges [],
  :incidence-set #{:hedge-24},
  :network :net-25,
  :type :htn-expanded-method,
  :uid :hem-18},
 :henpt-9
 {:display-name "choice-feasible",
  :edges [:hedge-20 :hedge-22 :hedge-24],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-9},
 :hpt-10
 {:args [],
  :argsmap {},
  :display-name "Option",
  :edges [],
  :incidence-set #{},
  :name "option",
  :type :htn-primitive-task,
  :uid :hpt-10},
 :hpt-13
 {:args [],
  :argsmap {},
  :display-name "Option",
  :edges [],
  :incidence-set #{},
  :name "option",
  :type :htn-primitive-task,
  :uid :hpt-13},
 :hpt-16
 {:args [],
  :argsmap {},
  :display-name "Option",
  :edges [],
  :incidence-set #{},
  :name "option",
  :type :htn-primitive-task,
  :uid :hpt-16},
 :net-19
 {:display-name "choice-feasible",
  :rootnodes #{:henpt-9},
  :type :htn-network,
  :uid :net-19},
 :net-21
 {:display-name "Main-0",
  :rootnodes #{:hpt-10},
  :type :htn-network,
  :uid :net-21},
 :net-23
 {:display-name "Main-1",
  :rootnodes #{:hpt-13},
  :type :htn-network,
  :uid :net-23},
 :net-25
 {:display-name "Main-2",
  :rootnodes #{:hpt-16},
  :type :htn-network,
  :uid :net-25},
 :network :net-19}
