{:act-12
 {:args [],
  :constraints #{:tc-11},
  :uid :act-12,
  :name "Option",
  :tpn-type :activity,
  :argsmap {},
  :command "option",
  :htn-node :hem-15,
  :controllable false,
  :end-node :node-10,
  :label "TEMP-option",
  :display-name "Option"},
 :act-18
 {:args [],
  :constraints #{:tc-17},
  :uid :act-18,
  :name "Option",
  :tpn-type :activity,
  :argsmap {},
  :command "option",
  :htn-node :hem-18,
  :controllable false,
  :end-node :node-16,
  :label "TEMP-option",
  :display-name "Option"},
 :act-6
 {:args [],
  :constraints #{:tc-5},
  :uid :act-6,
  :name "Option",
  :tpn-type :activity,
  :argsmap {},
  :command "option",
  :htn-node :hem-12,
  :controllable false,
  :end-node :node-4,
  :label "TEMP-option",
  :display-name "Option"},
 :na-14
 {:tpn-type :null-activity,
  :uid :na-14,
  :constraints #{},
  :end-node :node-13},
 :na-15
 {:tpn-type :null-activity,
  :uid :na-15,
  :constraints #{},
  :end-node :node-1},
 :na-20
 {:tpn-type :null-activity,
  :uid :na-20,
  :constraints #{},
  :end-node :node-19},
 :na-21
 {:tpn-type :null-activity,
  :uid :na-21,
  :constraints #{},
  :end-node :node-1},
 :na-8
 {:tpn-type :null-activity,
  :uid :na-8,
  :constraints #{},
  :end-node :node-7},
 :na-9
 {:tpn-type :null-activity,
  :uid :na-9,
  :constraints #{},
  :end-node :node-1},
 :net-3
 {:tpn-type :network,
  :uid :net-3,
  :begin-node :node-2,
  :end-node :node-1},
 :network-id :net-3,
 :node-1
 {:tpn-type :c-end,
  :uid :node-1,
  :constraints #{},
  :activities #{},
  :incidence-set #{:na-9 :na-21 :na-15}},
 :node-10
 {:tpn-type :state,
  :uid :node-10,
  :constraints #{},
  :activities #{:na-15},
  :incidence-set #{:act-12}},
 :node-13
 {:tpn-type :state,
  :uid :node-13,
  :constraints #{},
  :activities #{:act-12},
  :incidence-set #{:na-14},
  :htn-node :hem-15,
  :end-node :node-10},
 :node-16
 {:tpn-type :state,
  :uid :node-16,
  :constraints #{},
  :activities #{:na-21},
  :incidence-set #{:act-18}},
 :node-19
 {:tpn-type :state,
  :uid :node-19,
  :constraints #{},
  :activities #{:act-18},
  :incidence-set #{:na-20},
  :htn-node :hem-18,
  :end-node :node-16},
 :node-2
 {:tpn-type :c-begin,
  :uid :node-2,
  :constraints #{},
  :activities #{:na-20 :na-8 :na-14},
  :incidence-set #{},
  :end-node :node-1,
  :htn-node :hem-18},
 :node-4
 {:tpn-type :state,
  :uid :node-4,
  :constraints #{},
  :activities #{:na-9},
  :incidence-set #{:act-6}},
 :node-7
 {:tpn-type :state,
  :uid :node-7,
  :constraints #{},
  :activities #{:act-6},
  :incidence-set #{:na-8},
  :htn-node :hem-12,
  :end-node :node-4},
 :tc-11
 {:tpn-type :temporal-constraint,
  :uid :tc-11,
  :value [65 75],
  :end-node :node-10},
 :tc-17
 {:tpn-type :temporal-constraint,
  :uid :tc-17,
  :value [75 85],
  :end-node :node-16},
 :tc-5
 {:tpn-type :temporal-constraint,
  :uid :tc-5,
  :value [55 65],
  :end-node :node-4}}
