{:hedge-49 {:end-node :hem-33, :type :edge, :uid :hedge-49},
 :hedge-51 {:end-node :henpt-30, :type :edge, :uid :hedge-51},
 :hedge-52
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-36,
  :type :edge,
  :uid :hedge-52},
 :hedge-54
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-38,
  :type :edge,
  :uid :hedge-54},
 :hedge-56
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-40,
  :type :edge,
  :uid :hedge-56},
 :hedge-58 {:end-node :henpt-31, :type :edge, :uid :hedge-58},
 :hedge-59
 {:display-name "3", :end-node :hem-43, :type :edge, :uid :hedge-59},
 :hedge-61 {:end-node :henpt-32, :type :edge, :uid :hedge-61},
 :hedge-62
 {:display-name "4",
  :edge-type :choice,
  :end-node :hem-45,
  :type :edge,
  :uid :hedge-62},
 :hedge-64
 {:display-name "4",
  :edge-type :choice,
  :end-node :hem-47,
  :type :edge,
  :uid :hedge-64},
 :hem-33
 {:args [],
  :display-args [],
  :display-name "Main",
  :edges [:hedge-52 :hedge-54 :hedge-56 :hedge-59 :hedge-62 :hedge-64],
  :incidence-set #{:hedge-49},
  :network :net-50,
  :type :htn-expanded-method,
  :uid :hem-33},
 :hem-36
 {:args [],
  :display-args [],
  :display-name "Transfer-0",
  :edges [],
  :incidence-set #{},
  :network :net-53,
  :type :htn-expanded-method,
  :uid :hem-36},
 :hem-38
 {:args [],
  :display-args [],
  :display-name "Transfer-1",
  :edges [],
  :incidence-set #{},
  :network :net-55,
  :type :htn-expanded-method,
  :uid :hem-38},
 :hem-40
 {:args [],
  :display-args [],
  :display-name "Transfer-2",
  :edges [],
  :incidence-set #{},
  :network :net-57,
  :type :htn-expanded-method,
  :uid :hem-40},
 :hem-43
 {:args [],
  :display-args [],
  :display-name "Work",
  :edges [],
  :incidence-set #{},
  :network :net-60,
  :type :htn-expanded-method,
  :uid :hem-43},
 :hem-45
 {:args [],
  :display-args [],
  :display-name "Copy-0",
  :edges [],
  :incidence-set #{},
  :network :net-63,
  :type :htn-expanded-method,
  :uid :hem-45},
 :hem-47
 {:args [],
  :display-args [],
  :display-name "Copy-1",
  :edges [],
  :incidence-set #{},
  :network :net-65,
  :type :htn-expanded-method,
  :uid :hem-47},
 :henpt-28
 {:display-name "coverage-test",
  :edges [:hedge-49],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-28},
 :henpt-30
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Transfer",
  :edges [:hedge-58],
  :incidence-set #{:hedge-51},
  :name "transfer",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-30},
 :henpt-31
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Work",
  :edges [:hedge-61],
  :incidence-set #{:hedge-58},
  :name "work",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-31},
 :henpt-32
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Copy",
  :edges [],
  :incidence-set #{:hedge-61},
  :name "copy",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-32},
 :hpt-29
 {:display-name "Delay",
  :edges [:hedge-51],
  :incidence-set #{},
  :name "delay",
  :type :htn-primitive-task,
  :uid :hpt-29},
 :hpt-35
 {:args ["bigfile" "me@192.168.11.100:~me/copyofbigfile"],
  :argsmap
  {"fromfile" "bigfile",
   "tofile" "me@192.168.11.100:~me/copyofbigfile"},
  :display-args ["bigfile" "me@192.168.11.100:~me/copyofbigfile"],
  :display-name "Scp",
  :edges [],
  :incidence-set #{},
  :name "scp",
  :plant-id "sp1",
  :plant-interface "RMQ",
  :plant-part "mypart",
  :type :htn-primitive-task,
  :uid :hpt-35},
 :hpt-37
 {:args ["bigfile" "copyofbigfile"],
  :argsmap {"fromfile" "bigfile", "tofile" "copyofbigfile"},
  :display-args ["bigfile" "copyofbigfile"],
  :display-name "Copy",
  :edges [],
  :incidence-set #{},
  :name "cp",
  :plant-id "sp1",
  :plant-interface "RMQ",
  :plant-part "mypart",
  :type :htn-primitive-task,
  :uid :hpt-37},
 :hpt-39
 {:args ["ls" "-lart" ">" "foo"],
  :argsmap {"arg1" "-lart", "arg2" ">", "arg3" "foo", "cmd" "ls"},
  :display-args ["ls" "-lart" ">" "foo"],
  :display-name "Shell",
  :edges [],
  :incidence-set #{},
  :name "shell",
  :plant-id "sp1",
  :plant-interface "RMQ",
  :plant-part "mypart",
  :type :htn-primitive-task,
  :uid :hpt-39},
 :hpt-41
 {:args [10],
  :argsmap {"time" 10},
  :display-args [10],
  :display-name "Hardwork",
  :edges [],
  :incidence-set #{},
  :name "hardwork",
  :plant-id "sp1",
  :plant-interface "RMQ",
  :plant-part "mypart",
  :type :htn-primitive-task,
  :uid :hpt-41},
 :hpt-42
 {:args ["myscript.py" "2" "3" "4" "5"],
  :argsmap
  {"arg1" "3",
   "arg2" "4",
   "arg3" "5",
   "options" "2",
   "script" "myscript.py"},
  :display-args ["myscript.py" "2" "3" "4" "5"],
  :display-name "Python",
  :edges [],
  :incidence-set #{},
  :name "python",
  :plant-id "sp1",
  :plant-interface "RMQ",
  :plant-part "mypart",
  :type :htn-primitive-task,
  :uid :hpt-42},
 :hpt-44
 {:args ["bigfile" "me@192.168.11.100:~me/copyofbigfile"],
  :argsmap
  {"fromfile" "bigfile",
   "tofile" "me@192.168.11.100:~me/copyofbigfile"},
  :display-args ["bigfile" "me@192.168.11.100:~me/copyofbigfile"],
  :display-name "Scp",
  :edges [],
  :incidence-set #{},
  :name "scp",
  :plant-id "sp1",
  :plant-interface "RMQ",
  :plant-part "mypart",
  :type :htn-primitive-task,
  :uid :hpt-44},
 :hpt-46
 {:args ["bigfile" "copyofbigfile"],
  :argsmap {"fromfile" "bigfile", "tofile" "copyofbigfile"},
  :display-args ["bigfile" "copyofbigfile"],
  :display-name "Copy",
  :edges [],
  :incidence-set #{},
  :name "cp",
  :plant-id "sp1",
  :plant-interface "RMQ",
  :plant-part "mypart",
  :type :htn-primitive-task,
  :uid :hpt-46},
 :net-48
 {:display-name "coverage-test",
  :rootnodes #{:henpt-28},
  :type :htn-network,
  :uid :net-48},
 :net-50
 {:display-name "Main",
  :rootnodes #{:hpt-29},
  :type :htn-network,
  :uid :net-50},
 :net-53
 {:display-name "Transfer-0",
  :rootnodes #{:hpt-35},
  :type :htn-network,
  :uid :net-53},
 :net-55
 {:display-name "Transfer-1",
  :rootnodes #{:hpt-37},
  :type :htn-network,
  :uid :net-55},
 :net-57
 {:display-name "Transfer-2",
  :rootnodes #{:hpt-39},
  :type :htn-network,
  :uid :net-57},
 :net-60
 {:display-name "Work",
  :rootnodes #{:hpt-42 :hpt-41},
  :type :htn-network,
  :uid :net-60},
 :net-63
 {:display-name "Copy-0",
  :rootnodes #{:hpt-44},
  :type :htn-network,
  :uid :net-63},
 :net-65
 {:display-name "Copy-1",
  :rootnodes #{:hpt-46},
  :type :htn-network,
  :uid :net-65},
 :network :net-48}
