{:net-40
 {:tpn-type :network,
  :uid :net-40,
  :begin-node :node-39,
  :end-node :node-38},
 :network-id :net-40,
 :node-38
 {:tpn-type :state,
  :uid :node-38,
  :constraints #{},
  :activities #{},
  :incidence-set #{}},
 :node-39
 {:tpn-type :state,
  :uid :node-39,
  :constraints #{},
  :activities #{},
  :incidence-set #{},
  :end-node :node-38,
  :htn-node :hem-76}}
