{:hedge-46 {:end-node :hem-30, :type :edge, :uid :hedge-46},
 :hedge-48 {:end-node :henpt-27, :type :edge, :uid :hedge-48},
 :hedge-49
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-33,
  :type :edge,
  :uid :hedge-49},
 :hedge-51
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-35,
  :type :edge,
  :uid :hedge-51},
 :hedge-53
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-37,
  :type :edge,
  :uid :hedge-53},
 :hedge-55 {:end-node :henpt-28, :type :edge, :uid :hedge-55},
 :hedge-56
 {:display-name "3", :end-node :hem-40, :type :edge, :uid :hedge-56},
 :hedge-58 {:end-node :henpt-29, :type :edge, :uid :hedge-58},
 :hedge-59
 {:display-name "4",
  :edge-type :choice,
  :end-node :hem-42,
  :type :edge,
  :uid :hedge-59},
 :hedge-61
 {:display-name "4",
  :edge-type :choice,
  :end-node :hem-44,
  :type :edge,
  :uid :hedge-61},
 :hem-30
 {:args [],
  :display-name "Main",
  :edges [:hedge-49 :hedge-51 :hedge-53 :hedge-56 :hedge-59 :hedge-61],
  :incidence-set #{:hedge-46},
  :network :net-47,
  :type :htn-expanded-method,
  :uid :hem-30},
 :hem-33
 {:args [],
  :display-name "Transfer-0",
  :edges [],
  :incidence-set #{},
  :network :net-50,
  :type :htn-expanded-method,
  :uid :hem-33},
 :hem-35
 {:args [],
  :display-name "Transfer-1",
  :edges [],
  :incidence-set #{},
  :network :net-52,
  :type :htn-expanded-method,
  :uid :hem-35},
 :hem-37
 {:args [],
  :display-name "Transfer-2",
  :edges [],
  :incidence-set #{},
  :network :net-54,
  :type :htn-expanded-method,
  :uid :hem-37},
 :hem-40
 {:args [],
  :display-name "Work",
  :edges [],
  :incidence-set #{},
  :network :net-57,
  :type :htn-expanded-method,
  :uid :hem-40},
 :hem-42
 {:args [],
  :display-name "Copy-0",
  :edges [],
  :incidence-set #{},
  :network :net-60,
  :type :htn-expanded-method,
  :uid :hem-42},
 :hem-44
 {:args [],
  :display-name "Copy-1",
  :edges [],
  :incidence-set #{},
  :network :net-62,
  :type :htn-expanded-method,
  :uid :hem-44},
 :henpt-25
 {:display-name "coverage-test",
  :edges [:hedge-46],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-25},
 :henpt-27
 {:display-name "Transfer",
  :edges [:hedge-55],
  :incidence-set #{:hedge-48},
  :name "transfer",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-27},
 :henpt-28
 {:display-name "Work",
  :edges [:hedge-58],
  :incidence-set #{:hedge-55},
  :name "work",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-28},
 :henpt-29
 {:display-name "Copy",
  :edges [],
  :incidence-set #{:hedge-58},
  :name "copy",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-29},
 :hpt-26
 {:display-name "Delay",
  :edges [:hedge-48],
  :incidence-set #{},
  :name "delay",
  :type :htn-primitive-task,
  :uid :hpt-26},
 :hpt-32
 {:args
  [{:type :literal, :value "bigfile"}
   {:type :literal, :value "me@192.168.11.100:~me/copyofbigfile"}],
  :argsmap
  {"fromfile" {:type :literal, :value "bigfile"},
   "tofile"
   {:type :literal, :value "me@192.168.11.100:~me/copyofbigfile"}},
  :display-name "Scp",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "scp",
  :plant-part "mypart",
  :plantid "sp1",
  :type :htn-primitive-task,
  :uid :hpt-32},
 :hpt-34
 {:args
  [{:type :literal, :value "bigfile"}
   {:type :literal, :value "copyofbigfile"}],
  :argsmap
  {"fromfile" {:type :literal, :value "bigfile"},
   "tofile" {:type :literal, :value "copyofbigfile"}},
  :display-name "Copy",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "cp",
  :plant-part "mypart",
  :plantid "sp1",
  :type :htn-primitive-task,
  :uid :hpt-34},
 :hpt-36
 {:args
  [{:type :literal, :value "ls"}
   {:type :literal, :value "-lart"}
   {:type :literal, :value ">"}
   {:type :literal, :value "foo"}],
  :argsmap
  {"arg1" {:type :literal, :value "-lart"},
   "arg2" {:type :literal, :value ">"},
   "arg3" {:type :literal, :value "foo"},
   "cmd" {:type :literal, :value "ls"}},
  :display-name "Shell",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "shell",
  :plant-part "mypart",
  :plantid "sp1",
  :type :htn-primitive-task,
  :uid :hpt-36},
 :hpt-38
 {:args [{:type :literal, :value 10}],
  :argsmap {"time" {:type :literal, :value 10}},
  :display-name "Hardwork",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "hardwork",
  :plant-part "mypart",
  :plantid "sp1",
  :type :htn-primitive-task,
  :uid :hpt-38},
 :hpt-39
 {:args
  [{:type :literal, :value "myscript.py"}
   {:type :literal, :value "2"}
   {:type :literal, :value "3"}
   {:type :literal, :value "4"}
   {:type :literal, :value "5"}],
  :argsmap
  {"arg1" {:type :literal, :value "3"},
   "arg2" {:type :literal, :value "4"},
   "arg3" {:type :literal, :value "5"},
   "options" {:type :literal, :value "2"},
   "script" {:type :literal, :value "myscript.py"}},
  :display-name "Python",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "python",
  :plant-part "mypart",
  :plantid "sp1",
  :type :htn-primitive-task,
  :uid :hpt-39},
 :hpt-41
 {:args
  [{:type :literal, :value "bigfile"}
   {:type :literal, :value "me@192.168.11.100:~me/copyofbigfile"}],
  :argsmap
  {"fromfile" {:type :literal, :value "bigfile"},
   "tofile"
   {:type :literal, :value "me@192.168.11.100:~me/copyofbigfile"}},
  :display-name "Scp",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "scp",
  :plant-part "mypart",
  :plantid "sp1",
  :type :htn-primitive-task,
  :uid :hpt-41},
 :hpt-43
 {:args
  [{:type :literal, :value "bigfile"}
   {:type :literal, :value "copyofbigfile"}],
  :argsmap
  {"fromfile" {:type :literal, :value "bigfile"},
   "tofile" {:type :literal, :value "copyofbigfile"}},
  :display-name "Copy",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "cp",
  :plant-part "mypart",
  :plantid "sp1",
  :type :htn-primitive-task,
  :uid :hpt-43},
 :net-45
 {:display-name "coverage-test",
  :rootnodes #{:henpt-25},
  :type :htn-network,
  :uid :net-45},
 :net-47
 {:display-name "Main",
  :rootnodes #{:hpt-26},
  :type :htn-network,
  :uid :net-47},
 :net-50
 {:display-name "Transfer-0",
  :rootnodes #{:hpt-32},
  :type :htn-network,
  :uid :net-50},
 :net-52
 {:display-name "Transfer-1",
  :rootnodes #{:hpt-34},
  :type :htn-network,
  :uid :net-52},
 :net-54
 {:display-name "Transfer-2",
  :rootnodes #{:hpt-36},
  :type :htn-network,
  :uid :net-54},
 :net-57
 {:display-name "Work",
  :rootnodes #{:hpt-38 :hpt-39},
  :type :htn-network,
  :uid :net-57},
 :net-60
 {:display-name "Copy-0",
  :rootnodes #{:hpt-41},
  :type :htn-network,
  :uid :net-60},
 :net-62
 {:display-name "Copy-1",
  :rootnodes #{:hpt-43},
  :type :htn-network,
  :uid :net-62},
 :network :net-45}
