{:act-19
 {:args ["bigfile" "me@192.168.11.100:~me/copyofbigfile"],
  :constraints #{:tc-18},
  :interface "RMQ",
  :plantid "sp1",
  :uid :act-19,
  :name "Scp(\"bigfile\" \"me@192.168.11.100:~me/copyofbigfile\")",
  :tpn-type :activity,
  :argsmap
  {"fromfile" "bigfile",
   "tofile" "me@192.168.11.100:~me/copyofbigfile"},
  :command "scp",
  :htn-node :hem-38,
  :controllable false,
  :end-node :node-9,
  :display-name "Scp",
  :plant-part "mypart"},
 :act-29
 {:args ["bigfile" "copyofbigfile"],
  :constraints #{:tc-28},
  :interface "RMQ",
  :plantid "sp1",
  :uid :act-29,
  :name "Cp(\"bigfile\" \"copyofbigfile\")",
  :tpn-type :activity,
  :argsmap {"fromfile" "bigfile", "tofile" "copyofbigfile"},
  :command "cp",
  :htn-node :hem-41,
  :controllable false,
  :end-node :node-23,
  :display-name "Cp",
  :plant-part "mypart"},
 :act-39
 {:args ["ls" "-lart" ">" "foo"],
  :constraints #{:tc-38},
  :interface "RMQ",
  :plantid "sp1",
  :uid :act-39,
  :name "Shell(\"ls\" \"-lart\" \">\" \"foo\")",
  :tpn-type :activity,
  :argsmap {"cmd" "ls", "arg1" "-lart", "arg2" ">", "arg3" "foo"},
  :command "shell",
  :htn-node :hem-44,
  :controllable false,
  :end-node :node-33,
  :display-name "Shell",
  :plant-part "mypart"},
 :act-49
 {:args [10],
  :constraints #{:tc-48},
  :interface "RMQ",
  :plantid "sp1",
  :uid :act-49,
  :name "Hardwork(10)",
  :tpn-type :activity,
  :argsmap {"time" 10},
  :command "hardwork",
  :htn-node :hem-49,
  :controllable false,
  :end-node :node-47,
  :label :hardwork,
  :display-name "Hardwork",
  :plant-part "mypart"},
 :act-58
 {:args ["myscript.py" "2" "3" "4" "5"],
  :constraints #{:tc-57},
  :interface "RMQ",
  :plantid "sp1",
  :uid :act-58,
  :name "Python(\"myscript.py\" \"2\" \"3\" \"4\" \"5\")",
  :tpn-type :activity,
  :argsmap
  {"script" "myscript.py",
   "options" "2",
   "arg1" "3",
   "arg2" "4",
   "arg3" "5"},
  :command "python",
  :htn-node :hem-49,
  :controllable false,
  :end-node :node-56,
  :label :python,
  :display-name "Python",
  :plant-part "mypart"},
 :act-73
 {:args ["bigfile" "me@192.168.11.100:~me/copyofbigfile"],
  :constraints #{},
  :interface "RMQ",
  :plantid "sp1",
  :uid :act-73,
  :name "Scp(\"bigfile\" \"me@192.168.11.100:~me/copyofbigfile\")",
  :tpn-type :activity,
  :argsmap
  {"fromfile" "bigfile",
   "tofile" "me@192.168.11.100:~me/copyofbigfile"},
  :command "scp",
  :htn-node :hem-51,
  :controllable false,
  :end-node :node-63,
  :display-name "Scp",
  :plant-part "mypart"},
 :act-82
 {:args ["bigfile" "copyofbigfile"],
  :constraints #{},
  :interface "RMQ",
  :plantid "sp1",
  :uid :act-82,
  :name "Cp(\"bigfile\" \"copyofbigfile\")",
  :tpn-type :activity,
  :argsmap {"fromfile" "bigfile", "tofile" "copyofbigfile"},
  :command "cp",
  :htn-node :hem-53,
  :controllable false,
  :end-node :node-77,
  :display-name "Cp",
  :plant-part "mypart"},
 :costle-87
 {:tpn-type :cost<=-constraint,
  :uid :costle-87,
  :value 7,
  :end-node :node-12,
  :between [:xfer :work]},
 :da-6
 {:tpn-type :delay-activity,
  :uid :da-6,
  :constraints #{:tc-5},
  :end-node :node-4,
  :label :initial-delay,
  :controllable false,
  :name "Delay",
  :htn-node :hem-34},
 :na-14
 {:tpn-type :null-activity,
  :uid :na-14,
  :constraints #{},
  :end-node :node-13},
 :na-16
 {:tpn-type :null-activity,
  :uid :na-16,
  :constraints #{},
  :end-node :node-12},
 :na-21
 {:tpn-type :null-activity,
  :uid :na-21,
  :constraints #{},
  :end-node :node-20},
 :na-26
 {:tpn-type :null-activity,
  :uid :na-26,
  :constraints #{},
  :end-node :node-12},
 :na-31
 {:tpn-type :null-activity,
  :uid :na-31,
  :constraints #{},
  :end-node :node-30},
 :na-36
 {:tpn-type :null-activity,
  :uid :na-36,
  :constraints #{},
  :end-node :node-12},
 :na-41
 {:tpn-type :null-activity,
  :uid :na-41,
  :constraints #{},
  :end-node :node-40},
 :na-53
 {:tpn-type :null-activity,
  :uid :na-53,
  :constraints #{},
  :end-node :node-52},
 :na-54
 {:tpn-type :null-activity,
  :uid :na-54,
  :constraints #{},
  :end-node :node-50},
 :na-55
 {:tpn-type :null-activity,
  :uid :na-55,
  :constraints #{},
  :end-node :node-51},
 :na-61
 {:tpn-type :null-activity,
  :uid :na-61,
  :constraints #{},
  :end-node :node-59},
 :na-62
 {:tpn-type :null-activity,
  :uid :na-62,
  :constraints #{},
  :end-node :node-51},
 :na-69
 {:tpn-type :null-activity,
  :uid :na-69,
  :constraints #{},
  :end-node :node-67},
 :na-71
 {:tpn-type :null-activity,
  :uid :na-71,
  :constraints #{},
  :end-node :node-66},
 :na-75
 {:tpn-type :null-activity,
  :uid :na-75,
  :constraints #{},
  :end-node :node-74},
 :na-80
 {:tpn-type :null-activity,
  :uid :na-80,
  :constraints #{},
  :end-node :node-66},
 :na-84
 {:tpn-type :null-activity,
  :uid :na-84,
  :constraints #{},
  :end-node :node-83},
 :net-3
 {:tpn-type :network,
  :uid :net-3,
  :begin-node :node-7,
  :end-node :node-66},
 :network-id :net-3,
 :node-12
 {:tpn-type :c-end,
  :uid :node-12,
  :constraints #{:costle-87 :tc-86 :rewardge-88},
  :activities #{:na-53},
  :incidence-set #{:na-36 :na-26 :na-16}},
 :node-13
 {:tpn-type :c-begin,
  :uid :node-13,
  :constraints #{},
  :activities #{:na-41 :na-21 :na-31},
  :incidence-set #{:na-14},
  :htn-node :hem-34,
  :end-node :node-12,
  :label :xfer},
 :node-20
 {:tpn-type :state,
  :uid :node-20,
  :constraints #{},
  :activities #{:act-19},
  :incidence-set #{:na-21},
  :htn-node :hem-38,
  :sequence-end :node-9},
 :node-23
 {:tpn-type :state,
  :uid :node-23,
  :constraints #{},
  :activities #{:na-26},
  :incidence-set #{:act-29}},
 :node-30
 {:tpn-type :state,
  :uid :node-30,
  :constraints #{},
  :activities #{:act-29},
  :incidence-set #{:na-31},
  :htn-node :hem-41},
 :node-33
 {:tpn-type :state,
  :uid :node-33,
  :constraints #{},
  :activities #{:na-36},
  :incidence-set #{:act-39}},
 :node-4
 {:tpn-type :state,
  :uid :node-4,
  :constraints #{},
  :activities #{:na-14},
  :incidence-set #{:da-6}},
 :node-40
 {:tpn-type :state,
  :uid :node-40,
  :constraints #{},
  :activities #{:act-39},
  :incidence-set #{:na-41},
  :htn-node :hem-44},
 :node-47
 {:tpn-type :state,
  :uid :node-47,
  :constraints #{},
  :activities #{:na-55},
  :incidence-set #{:act-49}},
 :node-50
 {:tpn-type :state,
  :uid :node-50,
  :constraints #{},
  :activities #{:act-49},
  :incidence-set #{:na-54},
  :htn-node :hem-49},
 :node-51
 {:tpn-type :p-end,
  :uid :node-51,
  :constraints #{},
  :activities #{:na-69},
  :incidence-set #{:na-55 :na-62}},
 :node-52
 {:tpn-type :p-begin,
  :uid :node-52,
  :constraints #{},
  :activities #{:na-61 :na-54},
  :incidence-set #{:na-53},
  :htn-node :hem-49,
  :end-node :node-51,
  :label :work,
  :sequence-end :node-43},
 :node-56
 {:tpn-type :state,
  :uid :node-56,
  :constraints #{},
  :activities #{:na-62},
  :incidence-set #{:act-58}},
 :node-59
 {:tpn-type :state,
  :uid :node-59,
  :constraints #{},
  :activities #{:act-58},
  :incidence-set #{:na-61},
  :htn-node :hem-49},
 :node-63
 {:tpn-type :state,
  :uid :node-63,
  :constraints #{},
  :activities #{:na-71},
  :incidence-set #{:act-73}},
 :node-66
 {:tpn-type :c-end,
  :uid :node-66,
  :constraints #{},
  :activities #{},
  :incidence-set #{:na-71 :na-80}},
 :node-67
 {:tpn-type :c-begin,
  :uid :node-67,
  :constraints #{},
  :activities #{:na-75 :na-84},
  :incidence-set #{:na-69},
  :htn-node :hem-34,
  :end-node :node-66,
  :label :copy},
 :node-7
 {:tpn-type :state,
  :uid :node-7,
  :constraints #{},
  :activities #{:da-6},
  :incidence-set #{},
  :htn-node :hem-34,
  :sequence-label :everything},
 :node-74
 {:tpn-type :state,
  :uid :node-74,
  :constraints #{},
  :activities #{:act-73},
  :incidence-set #{:na-75},
  :htn-node :hem-51,
  :sequence-end :node-63},
 :node-77
 {:tpn-type :state,
  :uid :node-77,
  :constraints #{},
  :activities #{:na-80},
  :incidence-set #{:act-82}},
 :node-83
 {:tpn-type :state,
  :uid :node-83,
  :constraints #{},
  :activities #{:act-82},
  :incidence-set #{:na-84},
  :htn-node :hem-53},
 :node-9
 {:tpn-type :state,
  :uid :node-9,
  :constraints #{},
  :activities #{:na-16},
  :incidence-set #{:act-19}},
 :rewardge-88
 {:tpn-type :reward>=-constraint,
  :uid :rewardge-88,
  :value 1,
  :end-node :node-12,
  :between [:xfer :work]},
 :tc-10
 {:tpn-type :temporal-constraint,
  :uid :tc-10,
  :value [0 30],
  :end-node :node-9},
 :tc-18
 {:tpn-type :temporal-constraint,
  :uid :tc-18,
  :value [0 9],
  :end-node :node-9},
 :tc-28
 {:tpn-type :temporal-constraint,
  :uid :tc-28,
  :value [10 19],
  :end-node :node-23},
 :tc-38
 {:tpn-type :temporal-constraint,
  :uid :tc-38,
  :value [20 29],
  :end-node :node-33},
 :tc-44
 {:tpn-type :temporal-constraint,
  :uid :tc-44,
  :value [10 40],
  :end-node :node-51},
 :tc-48
 {:tpn-type :temporal-constraint,
  :uid :tc-48,
  :value [10 20],
  :end-node :node-47},
 :tc-5
 {:tpn-type :temporal-constraint,
  :uid :tc-5,
  :value [3 3],
  :end-node :node-4},
 :tc-57
 {:tpn-type :temporal-constraint,
  :uid :tc-57,
  :value [0 99],
  :end-node :node-56},
 :tc-64
 {:tpn-type :temporal-constraint,
  :uid :tc-64,
  :value [20 50],
  :end-node :node-63},
 :tc-86
 {:tpn-type :temporal-constraint,
  :uid :tc-86,
  :value [13 17],
  :end-node :node-12,
  :between [:xfer :work]}}
