{:act-19
 {:args
  [{:type :literal, :value "bigfile"}
   {:type :literal, :value "me@192.168.11.100:~me/copyofbigfile"}],
  :argsmap
  {"fromfile" {:type :literal, :value "bigfile"},
   "tofile"
   {:type :literal, :value "me@192.168.11.100:~me/copyofbigfile"}},
  :command "scp",
  :constraints #{:tc-10 :tc-18},
  :controllable false,
  :cost 0,
  :display-name "Scp",
  :end-node :node-9,
  :htn-node :hem-33,
  :interface "RMQ",
  :name
  "Scp({:type :literal, :value \"bigfile\"} {:type :literal, :value \"me@192.168.11.100:~me/copyofbigfile\"})",
  :plant-part "mypart",
  :plantid "sp1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-19},
 :act-29
 {:args
  [{:type :literal, :value "bigfile"}
   {:type :literal, :value "copyofbigfile"}],
  :argsmap
  {"fromfile" {:type :literal, :value "bigfile"},
   "tofile" {:type :literal, :value "copyofbigfile"}},
  :command "cp",
  :constraints #{:tc-28},
  :controllable false,
  :cost 0,
  :display-name "Copy",
  :end-node :node-23,
  :htn-node :hem-35,
  :interface "RMQ",
  :name
  "Copy({:type :literal, :value \"bigfile\"} {:type :literal, :value \"copyofbigfile\"})",
  :plant-part "mypart",
  :plantid "sp1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-29},
 :act-39
 {:args
  [{:type :literal, :value "ls"}
   {:type :literal, :value "-lart"}
   {:type :literal, :value ">"}
   {:type :literal, :value "foo"}],
  :argsmap
  {"arg1" {:type :literal, :value "-lart"},
   "arg2" {:type :literal, :value ">"},
   "arg3" {:type :literal, :value "foo"},
   "cmd" {:type :literal, :value "ls"}},
  :command "shell",
  :constraints #{:tc-38},
  :controllable false,
  :cost 0,
  :display-name "Shell",
  :end-node :node-33,
  :htn-node :hem-37,
  :interface "RMQ",
  :name
  "Shell({:type :literal, :value \"ls\"} {:type :literal, :value \"-lart\"} {:type :literal, :value \">\"} {:type :literal, :value \"foo\"})",
  :plant-part "mypart",
  :plantid "sp1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-39},
 :act-49
 {:args [{:type :literal, :value 10}],
  :argsmap {"time" {:type :literal, :value 10}},
  :command "hardwork",
  :constraints #{:tc-48},
  :controllable false,
  :cost 0,
  :display-name "Hardwork",
  :end-node :node-47,
  :htn-node :hem-40,
  :interface "RMQ",
  :label :hardwork,
  :name "Hardwork({:type :literal, :value 10})",
  :plant-part "mypart",
  :plantid "sp1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-49},
 :act-58
 {:args
  [{:type :literal, :value "myscript.py"}
   {:type :literal, :value "2"}
   {:type :literal, :value "3"}
   {:type :literal, :value "4"}
   {:type :literal, :value "5"}],
  :argsmap
  {"arg1" {:type :literal, :value "3"},
   "arg2" {:type :literal, :value "4"},
   "arg3" {:type :literal, :value "5"},
   "options" {:type :literal, :value "2"},
   "script" {:type :literal, :value "myscript.py"}},
  :command "python",
  :constraints #{:tc-57},
  :controllable false,
  :cost 0,
  :display-name "Python",
  :end-node :node-56,
  :htn-node :hem-40,
  :interface "RMQ",
  :label :python,
  :name
  "Python({:type :literal, :value \"myscript.py\"} {:type :literal, :value \"2\"} {:type :literal, :value \"3\"} {:type :literal, :value \"4\"} {:type :literal, :value \"5\"})",
  :plant-part "mypart",
  :plantid "sp1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-58},
 :act-74
 {:args
  [{:type :literal, :value "bigfile"}
   {:type :literal, :value "me@192.168.11.100:~me/copyofbigfile"}],
  :argsmap
  {"fromfile" {:type :literal, :value "bigfile"},
   "tofile"
   {:type :literal, :value "me@192.168.11.100:~me/copyofbigfile"}},
  :command "scp",
  :constraints #{:tc-73 :tc-64},
  :controllable false,
  :cost 0,
  :display-name "Scp",
  :end-node :node-63,
  :htn-node :hem-42,
  :interface "RMQ",
  :name
  "Scp({:type :literal, :value \"bigfile\"} {:type :literal, :value \"me@192.168.11.100:~me/copyofbigfile\"})",
  :plant-part "mypart",
  :plantid "sp1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-74},
 :act-83
 {:args
  [{:type :literal, :value "bigfile"}
   {:type :literal, :value "copyofbigfile"}],
  :argsmap
  {"fromfile" {:type :literal, :value "bigfile"},
   "tofile" {:type :literal, :value "copyofbigfile"}},
  :command "cp",
  :constraints #{},
  :controllable false,
  :cost 0,
  :display-name "Copy",
  :end-node :node-78,
  :htn-node :hem-44,
  :interface "RMQ",
  :name
  "Copy({:type :literal, :value \"bigfile\"} {:type :literal, :value \"copyofbigfile\"})",
  :plant-part "mypart",
  :plantid "sp1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-83},
 :costle-88
 {:between [:xfer :work],
  :end-node :node-12,
  :tpn-type :cost<=-constraint,
  :uid :costle-88,
  :value 7},
 :da-6
 {:constraints #{:tc-5},
  :controllable false,
  :end-node :node-4,
  :htn-node :hem-30,
  :label :initial-delay,
  :name "Delay",
  :tpn-type :delay-activity,
  :uid :da-6},
 :na-14
 {:constraints #{},
  :end-node :node-13,
  :tpn-type :null-activity,
  :uid :na-14},
 :na-16
 {:constraints #{},
  :end-node :node-12,
  :tpn-type :null-activity,
  :uid :na-16},
 :na-21
 {:constraints #{},
  :end-node :node-20,
  :tpn-type :null-activity,
  :uid :na-21},
 :na-26
 {:constraints #{},
  :end-node :node-12,
  :tpn-type :null-activity,
  :uid :na-26},
 :na-31
 {:constraints #{},
  :end-node :node-30,
  :tpn-type :null-activity,
  :uid :na-31},
 :na-36
 {:constraints #{},
  :end-node :node-12,
  :tpn-type :null-activity,
  :uid :na-36},
 :na-41
 {:constraints #{},
  :end-node :node-40,
  :tpn-type :null-activity,
  :uid :na-41},
 :na-53
 {:constraints #{},
  :end-node :node-52,
  :tpn-type :null-activity,
  :uid :na-53},
 :na-54
 {:constraints #{},
  :end-node :node-50,
  :tpn-type :null-activity,
  :uid :na-54},
 :na-55
 {:constraints #{},
  :end-node :node-51,
  :tpn-type :null-activity,
  :uid :na-55},
 :na-61
 {:constraints #{},
  :end-node :node-59,
  :tpn-type :null-activity,
  :uid :na-61},
 :na-62
 {:constraints #{},
  :end-node :node-51,
  :tpn-type :null-activity,
  :uid :na-62},
 :na-69
 {:constraints #{},
  :end-node :node-67,
  :tpn-type :null-activity,
  :uid :na-69},
 :na-71
 {:constraints #{},
  :end-node :node-66,
  :tpn-type :null-activity,
  :uid :na-71},
 :na-76
 {:constraints #{},
  :end-node :node-75,
  :tpn-type :null-activity,
  :uid :na-76},
 :na-81
 {:constraints #{},
  :end-node :node-66,
  :tpn-type :null-activity,
  :uid :na-81},
 :na-85
 {:constraints #{},
  :end-node :node-84,
  :tpn-type :null-activity,
  :uid :na-85},
 :net-3
 {:begin-node :node-7,
  :end-node :node-66,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-12
 {:activities #{:na-53},
  :constraints #{:rewardge-89 :costle-88 :tc-87},
  :incidence-set #{:na-36 :na-26 :na-16},
  :tpn-type :c-end,
  :uid :node-12},
 :node-13
 {:activities #{:na-41 :na-21 :na-31},
  :constraints #{},
  :end-node :node-12,
  :htn-node :hem-30,
  :incidence-set #{:na-14},
  :label :xfer,
  :tpn-type :c-begin,
  :uid :node-13},
 :node-20
 {:activities #{:act-19},
  :constraints #{},
  :htn-node :hem-33,
  :incidence-set #{:na-21},
  :tpn-type :state,
  :uid :node-20},
 :node-23
 {:activities #{:na-26},
  :constraints #{},
  :incidence-set #{:act-29},
  :tpn-type :state,
  :uid :node-23},
 :node-30
 {:activities #{:act-29},
  :constraints #{},
  :htn-node :hem-35,
  :incidence-set #{:na-31},
  :tpn-type :state,
  :uid :node-30},
 :node-33
 {:activities #{:na-36},
  :constraints #{},
  :incidence-set #{:act-39},
  :tpn-type :state,
  :uid :node-33},
 :node-4
 {:activities #{:na-14},
  :constraints #{},
  :incidence-set #{:da-6},
  :tpn-type :state,
  :uid :node-4},
 :node-40
 {:activities #{:act-39},
  :constraints #{},
  :htn-node :hem-37,
  :incidence-set #{:na-41},
  :tpn-type :state,
  :uid :node-40},
 :node-47
 {:activities #{:na-55},
  :constraints #{},
  :incidence-set #{:act-49},
  :tpn-type :state,
  :uid :node-47},
 :node-50
 {:activities #{:act-49},
  :constraints #{},
  :htn-node :hem-40,
  :incidence-set #{:na-54},
  :tpn-type :state,
  :uid :node-50},
 :node-51
 {:activities #{:na-69},
  :constraints #{},
  :incidence-set #{:na-55 :na-62},
  :tpn-type :p-end,
  :uid :node-51},
 :node-52
 {:activities #{:na-61 :na-54},
  :constraints #{:tc-44},
  :end-node :node-51,
  :htn-node :hem-40,
  :incidence-set #{:na-53},
  :label :work,
  :tpn-type :p-begin,
  :uid :node-52},
 :node-56
 {:activities #{:na-62},
  :constraints #{},
  :incidence-set #{:act-58},
  :tpn-type :state,
  :uid :node-56},
 :node-59
 {:activities #{:act-58},
  :constraints #{},
  :htn-node :hem-40,
  :incidence-set #{:na-61},
  :tpn-type :state,
  :uid :node-59},
 :node-63
 {:activities #{:na-71},
  :constraints #{},
  :incidence-set #{:act-74},
  :tpn-type :state,
  :uid :node-63},
 :node-66
 {:activities #{},
  :constraints #{},
  :incidence-set #{:na-81 :na-71},
  :tpn-type :c-end,
  :uid :node-66},
 :node-67
 {:activities #{:na-85 :na-76},
  :constraints #{},
  :end-node :node-66,
  :htn-node :hem-30,
  :incidence-set #{:na-69},
  :label :copy,
  :tpn-type :c-begin,
  :uid :node-67},
 :node-7
 {:activities #{:da-6},
  :constraints #{},
  :end-node :node-66,
  :htn-node :hem-30,
  :incidence-set #{},
  :sequence-label :everything,
  :tpn-type :state,
  :uid :node-7},
 :node-75
 {:activities #{:act-74},
  :constraints #{},
  :htn-node :hem-42,
  :incidence-set #{:na-76},
  :tpn-type :state,
  :uid :node-75},
 :node-78
 {:activities #{:na-81},
  :constraints #{},
  :incidence-set #{:act-83},
  :tpn-type :state,
  :uid :node-78},
 :node-84
 {:activities #{:act-83},
  :constraints #{},
  :htn-node :hem-44,
  :incidence-set #{:na-85},
  :tpn-type :state,
  :uid :node-84},
 :node-9
 {:activities #{:na-16},
  :constraints #{},
  :incidence-set #{:act-19},
  :tpn-type :state,
  :uid :node-9},
 :rewardge-89
 {:between [:xfer :work],
  :end-node :node-12,
  :tpn-type :reward>=-constraint,
  :uid :rewardge-89,
  :value 1},
 :tc-10
 {:end-node :node-9,
  :tpn-type :temporal-constraint,
  :uid :tc-10,
  :value [0 30]},
 :tc-18
 {:end-node :node-9,
  :tpn-type :temporal-constraint,
  :uid :tc-18,
  :value [0 9]},
 :tc-28
 {:end-node :node-23,
  :tpn-type :temporal-constraint,
  :uid :tc-28,
  :value [10 19]},
 :tc-38
 {:end-node :node-33,
  :tpn-type :temporal-constraint,
  :uid :tc-38,
  :value [20 29]},
 :tc-44
 {:end-node :node-51,
  :tpn-type :temporal-constraint,
  :uid :tc-44,
  :value [10 40]},
 :tc-48
 {:end-node :node-47,
  :tpn-type :temporal-constraint,
  :uid :tc-48,
  :value [10 20]},
 :tc-5
 {:end-node :node-4,
  :tpn-type :temporal-constraint,
  :uid :tc-5,
  :value [3 3]},
 :tc-57
 {:end-node :node-56,
  :tpn-type :temporal-constraint,
  :uid :tc-57,
  :value [0 99]},
 :tc-64
 {:end-node :node-63,
  :tpn-type :temporal-constraint,
  :uid :tc-64,
  :value [20 50]},
 :tc-73
 {:end-node :node-63,
  :tpn-type :temporal-constraint,
  :uid :tc-73,
  :value [10 20]},
 :tc-87
 {:between [:xfer :work],
  :end-node :node-12,
  :tpn-type :temporal-constraint,
  :uid :tc-87,
  :value [13 17]}}
