{:hedge-79 {:type :edge, :uid :hedge-79, :end-node :hem-76},
 :hem-76
 {:uid :hem-76,
  :type :htn-expanded-method,
  :label "Main()",
  :display-name "Main",
  :incidence-set #{:hedge-79},
  :edges []},
 :henpt-75
 {:uid :henpt-75,
  :type :htn-expanded-nonprimitive-task,
  :label "coverage-test",
  :display-name "coverage-test",
  :incidence-set #{},
  :edges [:hedge-79]},
 :net-78
 {:type :htn-network,
  :uid :net-78,
  :display-name "coverage-test",
  :label "coverage-test",
  :rootnodes #{:henpt-75}},
 :network :net-78}
