{:hedge-25 {:end-node :hem-19, :type :edge, :uid :hedge-25},
 :hedge-27
 {:display-name "1", :end-node :hem-22, :type :edge, :uid :hedge-27},
 :hem-19
 {:args [],
  :display-args [],
  :display-name "Main",
  :edges [:hedge-27],
  :incidence-set #{:hedge-25},
  :network :net-26,
  :type :htn-expanded-method,
  :uid :hem-19},
 :hem-22
 {:args [{:type :field-ref, :names [requesting-unit1 field1]}],
  :display-args [requesting-unit1.field1],
  :display-name "Send It To",
  :edges [],
  :incidence-set #{},
  :network :net-28,
  :type :htn-expanded-method,
  :uid :hem-22},
 :henpt-17
 {:display-name "main",
  :edges [:hedge-25],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-17},
 :henpt-18
 {:args
  [{:type :field-ref,
    :names [requesting-unit1 field1],
    :ancestry [[:pclass-2] [:pclass-1 aocf]]}],
  :argsmap
  {"unit"
   {:ancestry [[:pclass-2] [:pclass-1 aocf]],
    :names [requesting-unit1 field1],
    :type :field-ref}},
  :display-args [requesting-unit1.field1],
  :display-name "Send It To",
  :edges [],
  :incidence-set #{},
  :name "send-it-to",
  :plant-id "AOC",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-18},
 :hpt-21
 {:args
  [{:type :field-ref,
    :names [requesting-unit1 field1],
    :ancestry [[:pclass-2] [:pclass-2] [:pclass-1 aocf]]}
   "100MB"],
  :argsmap
  {"destination"
   {:ancestry [[:pclass-2] [:pclass-2] [:pclass-1 aocf]],
    :names [requesting-unit1 field1],
    :type :field-ref},
   "size" "100MB"},
  :display-args [requesting-unit1.field1 "100MB"],
  :display-name "FTP to",
  :edges [],
  :incidence-set #{},
  :name "ftp-to",
  :plant-id "AOC",
  :type :htn-primitive-task,
  :uid :hpt-21},
 :net-24
 {:display-name "main",
  :rootnodes #{:henpt-17},
  :type :htn-network,
  :uid :net-24},
 :net-26
 {:display-name "Main",
  :rootnodes #{:henpt-18},
  :type :htn-network,
  :uid :net-26},
 :net-28
 {:display-name "Send It To",
  :rootnodes #{:hpt-21},
  :type :htn-network,
  :uid :net-28},
 :network :net-24}
