{:hedge-21 {:end-node :hem-15, :type :edge, :uid :hedge-21},
 :hedge-23
 {:display-name "1", :end-node :hem-18, :type :edge, :uid :hedge-23},
 :hem-15
 {:args [],
  :display-args [],
  :display-name "Main",
  :edges [:hedge-23],
  :incidence-set #{:hedge-21},
  :network :net-22,
  :type :htn-expanded-method,
  :uid :hem-15},
 :hem-18
 {:args [{:type :field-ref, :names [c1]}],
  :display-args [c1],
  :display-name "Do A",
  :edges [],
  :incidence-set #{},
  :network :net-24,
  :type :htn-expanded-method,
  :uid :hem-18},
 :henpt-13
 {:display-name "demo",
  :edges [:hedge-21],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-13},
 :henpt-14
 {:args
  [{:type :field-ref,
    :names [c1],
    :ancestry [[:pclass-2] [:pclass-1 a1]]}],
  :argsmap
  {"ccc"
   {:ancestry [[:pclass-2] [:pclass-1 a1]],
    :names [c1],
    :type :field-ref}},
  :display-args [c1],
  :display-name "Do A",
  :edges [],
  :incidence-set #{},
  :name "do-a",
  :plant-id "000",
  :plant-part "a-one",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-14},
 :hpt-17
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Do C",
  :edges [],
  :incidence-set #{},
  :name "do-c",
  :plant-id "111",
  :plant-part "part-1",
  :type :htn-primitive-task,
  :uid :hpt-17},
 :net-20
 {:display-name "demo",
  :rootnodes #{:henpt-13},
  :type :htn-network,
  :uid :net-20},
 :net-22
 {:display-name "Main",
  :rootnodes #{:henpt-14},
  :type :htn-network,
  :uid :net-22},
 :net-24
 {:display-name "Do A",
  :rootnodes #{:hpt-17},
  :type :htn-network,
  :uid :net-24},
 :network :net-20}
