{:act-9
 {:args [],
  :argsmap {},
  :command "do-c",
  :constraints #{},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Do C",
  :end-node :node-1,
  :htn-node :hem-18,
  :name "Do C",
  :plant-id "111",
  :plant-part "part-1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-9},
 :net-3
 {:begin-node :node-10,
  :end-node :node-1,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-1
 {:activities #{},
  :constraints #{},
  :incidence-set #{:act-9},
  :tpn-type :state,
  :uid :node-1},
 :node-10
 {:activities #{:act-9},
  :constraints #{},
  :end-node :node-1,
  :htn-node :hem-15,
  :incidence-set #{},
  :tpn-type :state,
  :uid :node-10}}
