{:hedge-41 {:end-node :hem-20, :type :edge, :uid :hedge-41},
 :hedge-43
 {:display-name "1", :end-node :hem-26, :type :edge, :uid :hedge-43},
 :hedge-45 {:end-node :hpt-23, :type :edge, :uid :hedge-45},
 :hedge-46 {:end-node :hpt-24, :type :edge, :uid :hedge-46},
 :hedge-47 {:end-node :hpt-25, :type :edge, :uid :hedge-47},
 :hedge-48 {:end-node :henpt-18, :type :edge, :uid :hedge-48},
 :hedge-49
 {:display-name "2", :end-node :hem-32, :type :edge, :uid :hedge-49},
 :hedge-51 {:end-node :hpt-29, :type :edge, :uid :hedge-51},
 :hedge-52 {:end-node :hpt-30, :type :edge, :uid :hedge-52},
 :hedge-53 {:end-node :hpt-31, :type :edge, :uid :hedge-53},
 :hedge-54 {:end-node :henpt-19, :type :edge, :uid :hedge-54},
 :hedge-55
 {:display-name "3", :end-node :hem-38, :type :edge, :uid :hedge-55},
 :hedge-57 {:end-node :hpt-35, :type :edge, :uid :hedge-57},
 :hedge-58 {:end-node :hpt-36, :type :edge, :uid :hedge-58},
 :hedge-59 {:end-node :hpt-37, :type :edge, :uid :hedge-59},
 :hem-20
 {:args [],
  :display-args [],
  :display-name "Main 1",
  :edges [:hedge-43 :hedge-49 :hedge-55],
  :incidence-set #{:hedge-41},
  :network :net-42,
  :type :htn-expanded-method,
  :uid :hem-20},
 :hem-26
 {:args [],
  :display-args [],
  :display-name "Submethod",
  :edges [],
  :incidence-set #{},
  :network :net-44,
  :type :htn-expanded-method,
  :uid :hem-26},
 :hem-32
 {:args [],
  :display-args [],
  :display-name "Submethod",
  :edges [],
  :incidence-set #{},
  :network :net-50,
  :type :htn-expanded-method,
  :uid :hem-32},
 :hem-38
 {:args [],
  :display-args [],
  :display-name "Submethod",
  :edges [],
  :incidence-set #{},
  :network :net-56,
  :type :htn-expanded-method,
  :uid :hem-38},
 :henpt-16
 {:display-name "main",
  :edges [:hedge-41],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-16},
 :henpt-17
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Submethod",
  :edges [:hedge-48],
  :incidence-set #{},
  :name "submethod",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-17},
 :henpt-18
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Submethod",
  :edges [:hedge-54],
  :incidence-set #{:hedge-48},
  :name "submethod",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-18},
 :henpt-19
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Submethod",
  :edges [],
  :incidence-set #{:hedge-54},
  :name "submethod",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-19},
 :hpt-22
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Primitive Method",
  :edges [:hedge-45],
  :incidence-set #{},
  :name "primitive-method",
  :type :htn-primitive-task,
  :uid :hpt-22},
 :hpt-23
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Primitive Method",
  :edges [:hedge-46],
  :incidence-set #{:hedge-45},
  :name "primitive-method",
  :type :htn-primitive-task,
  :uid :hpt-23},
 :hpt-24
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Primitive Method B",
  :edges [:hedge-47],
  :incidence-set #{:hedge-46},
  :name "primitive-method-b",
  :type :htn-primitive-task,
  :uid :hpt-24},
 :hpt-25
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Primitive Method B",
  :edges [],
  :incidence-set #{:hedge-47},
  :name "primitive-method-b",
  :type :htn-primitive-task,
  :uid :hpt-25},
 :hpt-28
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Primitive Method",
  :edges [:hedge-51],
  :incidence-set #{},
  :name "primitive-method",
  :type :htn-primitive-task,
  :uid :hpt-28},
 :hpt-29
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Primitive Method",
  :edges [:hedge-52],
  :incidence-set #{:hedge-51},
  :name "primitive-method",
  :type :htn-primitive-task,
  :uid :hpt-29},
 :hpt-30
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Primitive Method B",
  :edges [:hedge-53],
  :incidence-set #{:hedge-52},
  :name "primitive-method-b",
  :type :htn-primitive-task,
  :uid :hpt-30},
 :hpt-31
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Primitive Method B",
  :edges [],
  :incidence-set #{:hedge-53},
  :name "primitive-method-b",
  :type :htn-primitive-task,
  :uid :hpt-31},
 :hpt-34
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Primitive Method",
  :edges [:hedge-57],
  :incidence-set #{},
  :name "primitive-method",
  :type :htn-primitive-task,
  :uid :hpt-34},
 :hpt-35
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Primitive Method",
  :edges [:hedge-58],
  :incidence-set #{:hedge-57},
  :name "primitive-method",
  :type :htn-primitive-task,
  :uid :hpt-35},
 :hpt-36
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Primitive Method B",
  :edges [:hedge-59],
  :incidence-set #{:hedge-58},
  :name "primitive-method-b",
  :type :htn-primitive-task,
  :uid :hpt-36},
 :hpt-37
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Primitive Method B",
  :edges [],
  :incidence-set #{:hedge-59},
  :name "primitive-method-b",
  :type :htn-primitive-task,
  :uid :hpt-37},
 :net-40
 {:display-name "main",
  :rootnodes #{:henpt-16},
  :type :htn-network,
  :uid :net-40},
 :net-42
 {:display-name "Main 1",
  :rootnodes #{:henpt-17},
  :type :htn-network,
  :uid :net-42},
 :net-44
 {:display-name "Submethod",
  :rootnodes #{:hpt-22},
  :type :htn-network,
  :uid :net-44},
 :net-50
 {:display-name "Submethod",
  :rootnodes #{:hpt-28},
  :type :htn-network,
  :uid :net-50},
 :net-56
 {:display-name "Submethod",
  :rootnodes #{:hpt-34},
  :type :htn-network,
  :uid :net-56},
 :network :net-40}
