{:act-10
 {:args [],
  :argsmap {},
  :command "action1",
  :constraints #{:tc-9},
  :controllable true,
  :cost 9,
  :display-args [],
  :display-name "Action 1",
  :end-node :node-15,
  :htn-node :hem-20,
  :label :override1,
  :name "Action 1",
  :plant-id "Plant 1",
  :reward 13,
  :tpn-type :activity,
  :uid :act-10},
 :act-14
 {:args [],
  :argsmap {},
  :command "action1",
  :constraints #{},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Action 1",
  :end-node :node-20,
  :htn-node :hem-20,
  :name "Action 1",
  :plant-id "Plant 1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-14},
 :act-19
 {:args [],
  :argsmap {},
  :command "action2",
  :constraints #{:tc-18},
  :controllable true,
  :cost 3,
  :display-args [],
  :display-name "Action 2",
  :end-node :node-25,
  :htn-node :hem-20,
  :name "Action 2",
  :plant-id "Plant 1",
  :reward 5,
  :tpn-type :activity,
  :uid :act-19},
 :act-24
 {:args [],
  :argsmap {},
  :command "action2",
  :constraints #{:tc-23},
  :controllable true,
  :cost 3,
  :display-args [],
  :display-name "Action 2",
  :end-node :node-30,
  :htn-node :hem-20,
  :name "Action 2",
  :plant-id "Plant 1",
  :reward 5,
  :tpn-type :activity,
  :uid :act-24},
 :act-29
 {:args [],
  :argsmap {},
  :command "action2",
  :constraints #{:tc-28},
  :controllable false,
  :cost 15,
  :display-args [],
  :display-name "Action 2",
  :end-node :node-1,
  :htn-node :hem-20,
  :label :override2,
  :name "Action 2",
  :plant-id "Plant 1",
  :reward 19,
  :tpn-type :activity,
  :uid :act-29},
 :act-5
 {:args [],
  :argsmap {},
  :command "action1",
  :constraints #{},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Action 1",
  :end-node :node-11,
  :htn-node :hem-20,
  :name "Action 1",
  :plant-id "Plant 1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-5},
 :net-3
 {:begin-node :node-6,
  :end-node :node-1,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-1
 {:activities #{},
  :constraints #{},
  :incidence-set #{:act-29},
  :tpn-type :state,
  :uid :node-1},
 :node-11
 {:activities #{:act-10},
  :constraints #{},
  :htn-node :hem-20,
  :incidence-set #{:act-5},
  :tpn-type :state,
  :uid :node-11},
 :node-15
 {:activities #{:act-14},
  :constraints #{},
  :htn-node :hem-20,
  :incidence-set #{:act-10},
  :tpn-type :state,
  :uid :node-15},
 :node-20
 {:activities #{:act-19},
  :constraints #{},
  :htn-node :hem-20,
  :incidence-set #{:act-14},
  :tpn-type :state,
  :uid :node-20},
 :node-25
 {:activities #{:act-24},
  :constraints #{},
  :htn-node :hem-20,
  :incidence-set #{:act-19},
  :tpn-type :state,
  :uid :node-25},
 :node-30
 {:activities #{:act-29},
  :constraints #{},
  :htn-node :hem-20,
  :incidence-set #{:act-24},
  :tpn-type :state,
  :uid :node-30},
 :node-6
 {:activities #{:act-5},
  :constraints #{},
  :end-node :node-1,
  :htn-node :hem-20,
  :incidence-set #{},
  :tpn-type :state,
  :uid :node-6},
 :tc-18
 {:end-node :node-25,
  :tpn-type :temporal-constraint,
  :uid :tc-18,
  :value [2 20]},
 :tc-23
 {:end-node :node-30,
  :tpn-type :temporal-constraint,
  :uid :tc-23,
  :value [2 20]},
 :tc-28
 {:end-node :node-1,
  :tpn-type :temporal-constraint,
  :uid :tc-28,
  :value [3 30]},
 :tc-9
 {:end-node :node-15,
  :tpn-type :temporal-constraint,
  :uid :tc-9,
  :value [1 10]}}
