{:act-12
 {:args [],
  :argsmap {},
  :command "do-b",
  :constraints #{:tc-11},
  :controllable true,
  :cost 0,
  :display-args [],
  :display-name "Do B",
  :end-node :node-18,
  :htn-node :hem-19,
  :name "Do B",
  :plant-id "p1",
  :plant-interface "RMQ",
  :plant-part "t1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-12},
 :act-17
 {:args [],
  :argsmap {},
  :command "do-c",
  :constraints #{:tc-16},
  :controllable false,
  :cost 4,
  :display-args [],
  :display-name "Do C",
  :end-node :node-22,
  :htn-node :hem-19,
  :name "Do C",
  :plant-id "p1",
  :plant-interface "RMQ",
  :plant-part "t1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-17},
 :act-21
 {:args [],
  :argsmap {},
  :command "do-d",
  :constraints #{},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Do D",
  :end-node :node-27,
  :htn-node :hem-19,
  :name "Do D",
  :plant-id "p1",
  :plant-interface "RMQ",
  :plant-part "t1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-21},
 :act-26
 {:args [],
  :argsmap {},
  :command "do-e",
  :constraints #{:tc-25},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Do E",
  :end-node :node-1,
  :htn-node :hem-19,
  :name "Do E",
  :plant-id "p1",
  :plant-interface "RMQ",
  :plant-part "t1",
  :reward 5,
  :tpn-type :activity,
  :uid :act-26},
 :act-7
 {:args [],
  :argsmap {},
  :command "do-a",
  :constraints #{:tc-6},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Due Eh",
  :end-node :node-13,
  :htn-node :hem-19,
  :name "Due Eh",
  :plant-id "p1",
  :plant-interface "RMQ",
  :plant-part "t1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-7},
 :net-3
 {:begin-node :node-8,
  :end-node :node-1,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-1
 {:activities #{},
  :constraints #{},
  :incidence-set #{:act-26},
  :tpn-type :state,
  :uid :node-1},
 :node-13
 {:activities #{:act-12},
  :constraints #{},
  :htn-node :hem-19,
  :incidence-set #{:act-7},
  :tpn-type :state,
  :uid :node-13},
 :node-18
 {:activities #{:act-17},
  :constraints #{},
  :htn-node :hem-19,
  :incidence-set #{:act-12},
  :tpn-type :state,
  :uid :node-18},
 :node-22
 {:activities #{:act-21},
  :constraints #{},
  :htn-node :hem-19,
  :incidence-set #{:act-17},
  :tpn-type :state,
  :uid :node-22},
 :node-27
 {:activities #{:act-26},
  :constraints #{},
  :htn-node :hem-19,
  :incidence-set #{:act-21},
  :tpn-type :state,
  :uid :node-27},
 :node-8
 {:activities #{:act-7},
  :constraints #{:tc-4},
  :end-node :node-1,
  :htn-node :hem-19,
  :incidence-set #{},
  :tpn-type :state,
  :uid :node-8},
 :tc-11
 {:end-node :node-18,
  :tpn-type :temporal-constraint,
  :uid :tc-11,
  :value [3 6]},
 :tc-16
 {:end-node :node-22,
  :tpn-type :temporal-constraint,
  :uid :tc-16,
  :value [4 8]},
 :tc-25
 {:end-node :node-1,
  :tpn-type :temporal-constraint,
  :uid :tc-25,
  :value [5 10]},
 :tc-4
 {:end-node :node-1,
  :tpn-type :temporal-constraint,
  :uid :tc-4,
  :value [10 30]},
 :tc-6
 {:end-node :node-13,
  :tpn-type :temporal-constraint,
  :uid :tc-6,
  :value [2 4]}}
