{:act-105
 {:args [],
  :argsmap {},
  :command "action",
  :constraints #{:tc-104},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Action",
  :end-node :node-111,
  :htn-node :hem-66,
  :name "Action",
  :reward 0,
  :tpn-type :activity,
  :uid :act-105},
 :act-110
 {:args [],
  :argsmap {},
  :command "action",
  :constraints #{:tc-109},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Action",
  :end-node :node-116,
  :htn-node :hem-66,
  :name "Action",
  :reward 0,
  :tpn-type :activity,
  :uid :act-110},
 :act-115
 {:args [],
  :argsmap {},
  :command "action",
  :constraints #{:tc-114},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Action",
  :end-node :node-1,
  :htn-node :hem-66,
  :name "Action",
  :reward 0,
  :tpn-type :activity,
  :uid :act-115},
 :act-17
 {:args [],
  :argsmap {},
  :command "action",
  :constraints #{:tc-16},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Action",
  :end-node :node-8,
  :htn-node :hem-48,
  :name "Action",
  :reward 0,
  :tpn-type :activity,
  :uid :act-17},
 :act-27
 {:args [],
  :argsmap {},
  :command "action",
  :constraints #{:tc-26},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Action",
  :end-node :node-21,
  :htn-node :hem-50,
  :name "Action",
  :reward 0,
  :tpn-type :activity,
  :uid :act-27},
 :act-37
 {:args [],
  :argsmap {},
  :command "action",
  :constraints #{:tc-36},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Action",
  :end-node :node-31,
  :htn-node :hem-52,
  :name "Action",
  :reward 0,
  :tpn-type :activity,
  :uid :act-37},
 :act-50
 {:args [],
  :argsmap {},
  :command "action",
  :constraints #{:tc-49},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Action",
  :end-node :node-41,
  :htn-node :hem-54,
  :name "Action",
  :reward 0,
  :tpn-type :activity,
  :uid :act-50},
 :act-60
 {:args [],
  :argsmap {},
  :command "action",
  :constraints #{:tc-59},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Action",
  :end-node :node-54,
  :htn-node :hem-56,
  :name "Action",
  :reward 0,
  :tpn-type :activity,
  :uid :act-60},
 :act-70
 {:args [],
  :argsmap {},
  :command "action",
  :constraints #{:tc-69},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Action",
  :end-node :node-64,
  :htn-node :hem-58,
  :name "Action",
  :reward 0,
  :tpn-type :activity,
  :uid :act-70},
 :act-79
 {:args [],
  :argsmap {},
  :command "action",
  :constraints #{:tc-78},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Action",
  :end-node :node-77,
  :htn-node :hem-62,
  :name "Action",
  :reward 0,
  :tpn-type :activity,
  :uid :act-79},
 :act-88
 {:args [],
  :argsmap {},
  :command "action",
  :constraints #{:tc-87},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Action",
  :end-node :node-86,
  :htn-node :hem-62,
  :name "Action",
  :reward 0,
  :tpn-type :activity,
  :uid :act-88},
 :act-94
 {:args [],
  :argsmap {},
  :command "action",
  :constraints #{:tc-93},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Action",
  :end-node :node-92,
  :htn-node :hem-62,
  :name "Action",
  :reward 0,
  :tpn-type :activity,
  :uid :act-94},
 :na-107
 {:constraints #{},
  :end-node :node-106,
  :tpn-type :null-activity,
  :uid :na-107},
 :na-14
 {:constraints #{},
  :end-node :node-10,
  :tpn-type :null-activity,
  :uid :na-14},
 :na-19
 {:constraints #{},
  :end-node :node-18,
  :tpn-type :null-activity,
  :uid :na-19},
 :na-24
 {:constraints #{},
  :end-node :node-10,
  :tpn-type :null-activity,
  :uid :na-24},
 :na-29
 {:constraints #{},
  :end-node :node-28,
  :tpn-type :null-activity,
  :uid :na-29},
 :na-34
 {:constraints #{},
  :end-node :node-10,
  :tpn-type :null-activity,
  :uid :na-34},
 :na-39
 {:constraints #{},
  :end-node :node-38,
  :tpn-type :null-activity,
  :uid :na-39},
 :na-45
 {:constraints #{},
  :end-node :node-44,
  :tpn-type :null-activity,
  :uid :na-45},
 :na-47
 {:constraints #{},
  :end-node :node-43,
  :tpn-type :null-activity,
  :uid :na-47},
 :na-52
 {:constraints #{},
  :end-node :node-51,
  :tpn-type :null-activity,
  :uid :na-52},
 :na-57
 {:constraints #{},
  :end-node :node-43,
  :tpn-type :null-activity,
  :uid :na-57},
 :na-62
 {:constraints #{},
  :end-node :node-61,
  :tpn-type :null-activity,
  :uid :na-62},
 :na-67
 {:constraints #{},
  :end-node :node-43,
  :tpn-type :null-activity,
  :uid :na-67},
 :na-72
 {:constraints #{},
  :end-node :node-71,
  :tpn-type :null-activity,
  :uid :na-72},
 :na-83
 {:constraints #{},
  :end-node :node-82,
  :tpn-type :null-activity,
  :uid :na-83},
 :na-84
 {:constraints #{},
  :end-node :node-80,
  :tpn-type :null-activity,
  :uid :na-84},
 :na-85
 {:constraints #{},
  :end-node :node-81,
  :tpn-type :null-activity,
  :uid :na-85},
 :na-90
 {:constraints #{},
  :end-node :node-89,
  :tpn-type :null-activity,
  :uid :na-90},
 :na-91
 {:constraints #{},
  :end-node :node-81,
  :tpn-type :null-activity,
  :uid :na-91},
 :na-97
 {:constraints #{},
  :end-node :node-95,
  :tpn-type :null-activity,
  :uid :na-97},
 :na-98
 {:constraints #{},
  :end-node :node-81,
  :tpn-type :null-activity,
  :uid :na-98},
 :net-3
 {:begin-node :node-11,
  :end-node :node-1,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-1
 {:activities #{},
  :constraints #{},
  :incidence-set #{:act-115},
  :tpn-type :state,
  :uid :node-1},
 :node-10
 {:activities #{:na-45},
  :constraints #{},
  :incidence-set #{:na-24 :na-14 :na-34},
  :tpn-type :c-end,
  :uid :node-10},
 :node-106
 {:activities #{:act-105},
  :constraints #{},
  :end-node :node-1,
  :htn-node :hem-66,
  :incidence-set #{:na-107},
  :tpn-type :state,
  :uid :node-106},
 :node-11
 {:activities #{:na-39 :na-19 :na-29},
  :constraints #{},
  :end-node :node-10,
  :htn-node :hem-40,
  :incidence-set #{},
  :tpn-type :c-begin,
  :uid :node-11},
 :node-111
 {:activities #{:act-110},
  :constraints #{},
  :htn-node :hem-66,
  :incidence-set #{:act-105},
  :tpn-type :state,
  :uid :node-111},
 :node-116
 {:activities #{:act-115},
  :constraints #{},
  :htn-node :hem-66,
  :incidence-set #{:act-110},
  :tpn-type :state,
  :uid :node-116},
 :node-18
 {:activities #{:act-17},
  :constraints #{},
  :htn-node :hem-48,
  :incidence-set #{:na-19},
  :tpn-type :state,
  :uid :node-18},
 :node-21
 {:activities #{:na-24},
  :constraints #{},
  :incidence-set #{:act-27},
  :tpn-type :state,
  :uid :node-21},
 :node-28
 {:activities #{:act-27},
  :constraints #{},
  :htn-node :hem-50,
  :incidence-set #{:na-29},
  :tpn-type :state,
  :uid :node-28},
 :node-31
 {:activities #{:na-34},
  :constraints #{},
  :incidence-set #{:act-37},
  :tpn-type :state,
  :uid :node-31},
 :node-38
 {:activities #{:act-37},
  :constraints #{},
  :htn-node :hem-52,
  :incidence-set #{:na-39},
  :tpn-type :state,
  :uid :node-38},
 :node-41
 {:activities #{:na-47},
  :constraints #{},
  :incidence-set #{:act-50},
  :tpn-type :state,
  :uid :node-41},
 :node-43
 {:activities #{:na-83},
  :constraints #{},
  :incidence-set #{:na-47 :na-67 :na-57},
  :tpn-type :c-end,
  :uid :node-43},
 :node-44
 {:activities #{:na-52 :na-62 :na-72},
  :constraints #{},
  :end-node :node-43,
  :htn-node :hem-45,
  :incidence-set #{:na-45},
  :tpn-type :c-begin,
  :uid :node-44},
 :node-51
 {:activities #{:act-50},
  :constraints #{},
  :htn-node :hem-54,
  :incidence-set #{:na-52},
  :tpn-type :state,
  :uid :node-51},
 :node-54
 {:activities #{:na-57},
  :constraints #{},
  :incidence-set #{:act-60},
  :tpn-type :state,
  :uid :node-54},
 :node-61
 {:activities #{:act-60},
  :constraints #{},
  :htn-node :hem-56,
  :incidence-set #{:na-62},
  :tpn-type :state,
  :uid :node-61},
 :node-64
 {:activities #{:na-67},
  :constraints #{},
  :incidence-set #{:act-70},
  :tpn-type :state,
  :uid :node-64},
 :node-71
 {:activities #{:act-70},
  :constraints #{},
  :htn-node :hem-58,
  :incidence-set #{:na-72},
  :tpn-type :state,
  :uid :node-71},
 :node-77
 {:activities #{:na-85},
  :constraints #{},
  :incidence-set #{:act-79},
  :tpn-type :state,
  :uid :node-77},
 :node-8
 {:activities #{:na-14},
  :constraints #{},
  :incidence-set #{:act-17},
  :tpn-type :state,
  :uid :node-8},
 :node-80
 {:activities #{:act-79},
  :constraints #{},
  :htn-node :hem-62,
  :incidence-set #{:na-84},
  :tpn-type :state,
  :uid :node-80},
 :node-81
 {:activities #{:na-107},
  :constraints #{},
  :incidence-set #{:na-98 :na-85 :na-91},
  :tpn-type :p-end,
  :uid :node-81},
 :node-82
 {:activities #{:na-97 :na-90 :na-84},
  :constraints #{},
  :end-node :node-81,
  :htn-node :hem-62,
  :incidence-set #{:na-83},
  :tpn-type :p-begin,
  :uid :node-82},
 :node-86
 {:activities #{:na-91},
  :constraints #{},
  :incidence-set #{:act-88},
  :tpn-type :state,
  :uid :node-86},
 :node-89
 {:activities #{:act-88},
  :constraints #{},
  :htn-node :hem-62,
  :incidence-set #{:na-90},
  :tpn-type :state,
  :uid :node-89},
 :node-92
 {:activities #{:na-98},
  :constraints #{},
  :incidence-set #{:act-94},
  :tpn-type :state,
  :uid :node-92},
 :node-95
 {:activities #{:act-94},
  :constraints #{},
  :htn-node :hem-62,
  :incidence-set #{:na-97},
  :tpn-type :state,
  :uid :node-95},
 :tc-104
 {:end-node :node-111,
  :tpn-type :temporal-constraint,
  :uid :tc-104,
  :value [4 10]},
 :tc-109
 {:end-node :node-116,
  :tpn-type :temporal-constraint,
  :uid :tc-109,
  :value [3 20]},
 :tc-114
 {:end-node :node-1,
  :tpn-type :temporal-constraint,
  :uid :tc-114,
  :value [4 30]},
 :tc-16
 {:end-node :node-8,
  :tpn-type :temporal-constraint,
  :uid :tc-16,
  :value [1 10]},
 :tc-26
 {:end-node :node-21,
  :tpn-type :temporal-constraint,
  :uid :tc-26,
  :value [1 20]},
 :tc-36
 {:end-node :node-31,
  :tpn-type :temporal-constraint,
  :uid :tc-36,
  :value [1 30]},
 :tc-49
 {:end-node :node-41,
  :tpn-type :temporal-constraint,
  :uid :tc-49,
  :value [2 10]},
 :tc-59
 {:end-node :node-54,
  :tpn-type :temporal-constraint,
  :uid :tc-59,
  :value [2 20]},
 :tc-69
 {:end-node :node-64,
  :tpn-type :temporal-constraint,
  :uid :tc-69,
  :value [2 30]},
 :tc-78
 {:end-node :node-77,
  :tpn-type :temporal-constraint,
  :uid :tc-78,
  :value [3 10]},
 :tc-87
 {:end-node :node-86,
  :tpn-type :temporal-constraint,
  :uid :tc-87,
  :value [3 20]},
 :tc-93
 {:end-node :node-92,
  :tpn-type :temporal-constraint,
  :uid :tc-93,
  :value [3 30]}}
