{:act-5
 {:args ["A"],
  :argsmap {"location" "A"},
  :command "aquire",
  :constraints #{},
  :controllable false,
  :cost 3,
  :display-args ["A"],
  :display-name "Aquire",
  :end-node :node-1,
  :htn-node :hem-10,
  :name "Aquire(\"A\")",
  :plant-id "Camera 1",
  :reward 6,
  :tpn-type :activity,
  :uid :act-5},
 :net-3
 {:begin-node :node-6,
  :end-node :node-1,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-1
 {:activities #{},
  :constraints #{},
  :incidence-set #{:act-5},
  :tpn-type :state,
  :uid :node-1},
 :node-6
 {:activities #{:act-5},
  :constraints #{},
  :end-node :node-1,
  :htn-node :hem-10,
  :incidence-set #{},
  :tpn-type :state,
  :uid :node-6}}
