{:hedge-23 {:end-node :hem-20, :type :edge, :uid :hedge-23},
 :hedge-25 {:end-node :hpt-15, :type :edge, :uid :hedge-25},
 :hedge-26 {:end-node :hpt-16, :type :edge, :uid :hedge-26},
 :hedge-27 {:end-node :hpt-17, :type :edge, :uid :hedge-27},
 :hedge-28 {:end-node :hpt-18, :type :edge, :uid :hedge-28},
 :hedge-29 {:end-node :hpt-19, :type :edge, :uid :hedge-29},
 :hem-20
 {:args [],
  :display-args [],
  :display-name "Start",
  :edges [],
  :incidence-set #{:hedge-23},
  :network :net-24,
  :type :htn-expanded-method,
  :uid :hem-20},
 :henpt-13
 {:display-name "controllable",
  :edges [:hedge-23],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-13},
 :hpt-14
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Action 1",
  :edges [:hedge-25],
  :incidence-set #{},
  :name "action1",
  :plant-id "Plant 1",
  :type :htn-primitive-task,
  :uid :hpt-14},
 :hpt-15
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Action 1",
  :edges [:hedge-26],
  :incidence-set #{:hedge-25},
  :name "action1",
  :plant-id "Plant 1",
  :type :htn-primitive-task,
  :uid :hpt-15},
 :hpt-16
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Action 1",
  :edges [:hedge-27],
  :incidence-set #{:hedge-26},
  :name "action1",
  :plant-id "Plant 1",
  :type :htn-primitive-task,
  :uid :hpt-16},
 :hpt-17
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Action 2",
  :edges [:hedge-28],
  :incidence-set #{:hedge-27},
  :name "action2",
  :plant-id "Plant 1",
  :type :htn-primitive-task,
  :uid :hpt-17},
 :hpt-18
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Action 2",
  :edges [:hedge-29],
  :incidence-set #{:hedge-28},
  :name "action2",
  :plant-id "Plant 1",
  :type :htn-primitive-task,
  :uid :hpt-18},
 :hpt-19
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Action 2",
  :edges [],
  :incidence-set #{:hedge-29},
  :name "action2",
  :plant-id "Plant 1",
  :type :htn-primitive-task,
  :uid :hpt-19},
 :net-22
 {:display-name "controllable",
  :rootnodes #{:henpt-13},
  :type :htn-network,
  :uid :net-22},
 :net-24
 {:display-name "Start",
  :rootnodes #{:hpt-14},
  :type :htn-network,
  :uid :net-24},
 :network :net-22}
