{:hedge-19 {:end-node :hem-16, :type :edge, :uid :hedge-19},
 :hedge-21 {:end-node :hpt-12, :type :edge, :uid :hedge-21},
 :hedge-22 {:end-node :hpt-13, :type :edge, :uid :hedge-22},
 :hedge-23 {:end-node :hpt-14, :type :edge, :uid :hedge-23},
 :hedge-24 {:end-node :hpt-15, :type :edge, :uid :hedge-24},
 :hem-16
 {:args [],
  :display-name "Start",
  :edges [],
  :incidence-set #{:hedge-19},
  :network :net-20,
  :type :htn-expanded-method,
  :uid :hem-16},
 :henpt-10
 {:display-name "infeasible-sequence",
  :edges [:hedge-19],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-10},
 :hpt-11
 {:args [],
  :argsmap {},
  :display-name "Due Eh",
  :edges [:hedge-21],
  :incidence-set #{},
  :interface "RMQ",
  :name "do-a",
  :plant-part "t1",
  :plantid "p1",
  :type :htn-primitive-task,
  :uid :hpt-11},
 :hpt-12
 {:args [],
  :argsmap {},
  :display-name "Do B",
  :edges [:hedge-22],
  :incidence-set #{:hedge-21},
  :interface "RMQ",
  :name "do-b",
  :plant-part "t1",
  :plantid "p1",
  :type :htn-primitive-task,
  :uid :hpt-12},
 :hpt-13
 {:args [],
  :argsmap {},
  :display-name "Do C",
  :edges [:hedge-23],
  :incidence-set #{:hedge-22},
  :interface "RMQ",
  :name "do-c",
  :plant-part "t1",
  :plantid "p1",
  :type :htn-primitive-task,
  :uid :hpt-13},
 :hpt-14
 {:args [],
  :argsmap {},
  :display-name "Do D",
  :edges [:hedge-24],
  :incidence-set #{:hedge-23},
  :interface "RMQ",
  :name "do-d",
  :plant-part "t1",
  :plantid "p1",
  :type :htn-primitive-task,
  :uid :hpt-14},
 :hpt-15
 {:args [],
  :argsmap {},
  :display-name "Do E",
  :edges [],
  :incidence-set #{:hedge-24},
  :interface "RMQ",
  :name "do-e",
  :plant-part "t1",
  :plantid "p1",
  :type :htn-primitive-task,
  :uid :hpt-15},
 :net-18
 {:display-name "infeasible-sequence",
  :rootnodes #{:henpt-10},
  :type :htn-network,
  :uid :net-18},
 :net-20
 {:display-name "Start",
  :rootnodes #{:hpt-11},
  :type :htn-network,
  :uid :net-20},
 :network :net-18}
