{:hedge-30 {:end-node :hem-21, :type :edge, :uid :hedge-30},
 :hedge-32
 {:display-name "1", :end-node :hem-24, :type :edge, :uid :hedge-32},
 :hedge-34 {:end-node :henpt-19, :type :edge, :uid :hedge-34},
 :hedge-35
 {:display-name "2", :end-node :hem-26, :type :edge, :uid :hedge-35},
 :hedge-37 {:end-node :henpt-20, :type :edge, :uid :hedge-37},
 :hedge-38
 {:display-name "3", :end-node :hem-28, :type :edge, :uid :hedge-38},
 :hem-21
 {:args [],
  :display-args [],
  :display-name "Main",
  :edges [:hedge-32 :hedge-35 :hedge-38],
  :incidence-set #{:hedge-30},
  :network :net-31,
  :type :htn-expanded-method,
  :uid :hem-21},
 :hem-24
 {:args [],
  :display-args [],
  :display-name "Via Pargs",
  :edges [],
  :incidence-set #{},
  :network :net-33,
  :type :htn-expanded-method,
  :uid :hem-24},
 :hem-26
 {:args
  [{:type :pclass-arg-ref, :names [plant1]}
   {:type :pclass-arg-ref, :names [plant2]}],
  :display-args [plant1 plant2],
  :display-name "Via Margs",
  :edges [],
  :incidence-set #{},
  :network :net-36,
  :type :htn-expanded-method,
  :uid :hem-26},
 :hem-28
 {:args [],
  :display-args [],
  :display-name "Via Fields",
  :edges [],
  :incidence-set #{},
  :network :net-39,
  :type :htn-expanded-method,
  :uid :hem-28},
 :henpt-17
 {:display-name "coverage-test",
  :edges [:hedge-30],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-17},
 :henpt-18
 {:display-name "Via Pargs",
  :edges [:hedge-34],
  :incidence-set #{},
  :name "via-pargs",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-18},
 :henpt-19
 {:display-name "Via Margs",
  :edges [:hedge-37],
  :incidence-set #{:hedge-34},
  :name "via-margs",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-19},
 :henpt-20
 {:display-name "Via Fields",
  :edges [],
  :incidence-set #{:hedge-37},
  :name "via-fields",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-20},
 :hpt-23
 {:args
  [{:type :pclass-arg-ref,
    :names [plant2 data1],
    :pclass simpleplant,
    :plant-id "sp2",
    :plant-part "mypart2",
    :plant-interface "RMQ"}
   {:type :pclass-arg-ref,
    :names [plant2 data2],
    :pclass simpleplant,
    :plant-id "sp2",
    :plant-part "mypart2",
    :plant-interface "RMQ"}],
  :argsmap
  {"fromfile"
   {:names [plant2 data1],
    :pclass simpleplant,
    :plant-id "sp2",
    :plant-interface "RMQ",
    :plant-part "mypart2",
    :type :pclass-arg-ref},
   "tofile"
   {:names [plant2 data2],
    :pclass simpleplant,
    :plant-id "sp2",
    :plant-interface "RMQ",
    :plant-part "mypart2",
    :type :pclass-arg-ref}},
  :display-args [plant2.data1 plant2.data2],
  :display-name "Scp",
  :edges [],
  :incidence-set #{},
  :name "scp",
  :plant-id "sp2",
  :plant-interface "RMQ",
  :plant-part "mypart2",
  :type :htn-primitive-task,
  :uid :hpt-23},
 :hpt-25
 {:args
  [{:type :method-arg-ref,
    :names [a data1],
    :pclass simpleplant,
    :plant-id "sp1",
    :plant-part "mypart",
    :plant-interface "RMQ"}
   {:type :method-arg-ref,
    :names [b data2],
    :pclass simpleplant,
    :plant-id "sp2",
    :plant-part "mypart2",
    :plant-interface "RMQ"}],
  :argsmap
  {"fromfile"
   {:names [a data1],
    :pclass simpleplant,
    :plant-id "sp1",
    :plant-interface "RMQ",
    :plant-part "mypart",
    :type :method-arg-ref},
   "tofile"
   {:names [b data2],
    :pclass simpleplant,
    :plant-id "sp2",
    :plant-interface "RMQ",
    :plant-part "mypart2",
    :type :method-arg-ref}},
  :display-args [a.data1 b.data2],
  :display-name "Copy",
  :edges [],
  :incidence-set #{},
  :name "cp",
  :plant-id "sp1",
  :plant-interface "RMQ",
  :plant-part "mypart",
  :type :htn-primitive-task,
  :uid :hpt-25},
 :hpt-27
 {:args
  ["echo"
   :myoptions
   {:type :field-ref,
    :names [p1 data1],
    :pclass simpleplant,
    :plant-id "sp1",
    :plant-part "mypart",
    :plant-interface "RMQ"}
   {:type :field-ref,
    :names [p2 data2],
    :pclass simpleplant,
    :plant-id "sp2",
    :plant-part "mypart2",
    :plant-interface "RMQ"}],
  :argsmap
  {"arg1" :myoptions,
   "arg2"
   {:names [p1 data1],
    :pclass simpleplant,
    :plant-id "sp1",
    :plant-interface "RMQ",
    :plant-part "mypart",
    :type :field-ref},
   "arg3"
   {:names [p2 data2],
    :pclass simpleplant,
    :plant-id "sp2",
    :plant-interface "RMQ",
    :plant-part "mypart2",
    :type :field-ref},
   "cmd" "echo"},
  :display-args ["echo" :myoptions p1.data1 p2.data2],
  :display-name "Shell",
  :edges [],
  :incidence-set #{},
  :name "shell",
  :plant-id "sp2",
  :plant-interface "RMQ",
  :plant-part "mypart2",
  :type :htn-primitive-task,
  :uid :hpt-27},
 :net-29
 {:display-name "coverage-test",
  :rootnodes #{:henpt-17},
  :type :htn-network,
  :uid :net-29},
 :net-31
 {:display-name "Main",
  :rootnodes #{:henpt-18},
  :type :htn-network,
  :uid :net-31},
 :net-33
 {:display-name "Via Pargs",
  :rootnodes #{:hpt-23},
  :type :htn-network,
  :uid :net-33},
 :net-36
 {:display-name "Via Margs",
  :rootnodes #{:hpt-25},
  :type :htn-network,
  :uid :net-36},
 :net-39
 {:display-name "Via Fields",
  :rootnodes #{:hpt-27},
  :type :htn-network,
  :uid :net-39},
 :network :net-29}
