{:hedge-13 {:end-node :hem-10, :type :edge, :uid :hedge-13},
 :hem-10
 {:args [],
  :display-args [],
  :display-name "Start",
  :edges [],
  :incidence-set #{:hedge-13},
  :network :net-14,
  :type :htn-expanded-method,
  :uid :hem-10},
 :henpt-8
 {:display-name "mission",
  :edges [:hedge-13],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-8},
 :hpt-9
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-args ["A"],
  :display-name "Aquire",
  :edges [],
  :incidence-set #{},
  :name "aquire",
  :plant-id "Camera 1",
  :type :htn-primitive-task,
  :uid :hpt-9},
 :net-12
 {:display-name "mission",
  :rootnodes #{:henpt-8},
  :type :htn-network,
  :uid :net-12},
 :net-14
 {:display-name "Start",
  :rootnodes #{:hpt-9},
  :type :htn-network,
  :uid :net-14},
 :network :net-12}
