{:hedge-126 {:end-node :hem-31, :type :edge, :uid :hedge-126},
 :hedge-128
 {:display-name "1", :end-node :hem-37, :type :edge, :uid :hedge-128},
 :hedge-130
 {:display-name "1", :end-node :hem-48, :type :edge, :uid :hedge-130},
 :hedge-132 {:end-node :henpt-34, :type :edge, :uid :hedge-132},
 :hedge-133
 {:display-name "2", :end-node :hem-58, :type :edge, :uid :hedge-133},
 :hedge-135 {:end-node :henpt-35, :type :edge, :uid :hedge-135},
 :hedge-136
 {:display-name "3", :end-node :hem-68, :type :edge, :uid :hedge-136},
 :hedge-138 {:end-node :henpt-36, :type :edge, :uid :hedge-138},
 :hedge-139
 {:display-name "4", :end-node :hem-78, :type :edge, :uid :hedge-139},
 :hedge-141 {:end-node :hpt-29, :type :edge, :uid :hedge-141},
 :hedge-142 {:end-node :henpt-30, :type :edge, :uid :hedge-142},
 :hedge-143
 {:display-name "3", :end-node :hem-83, :type :edge, :uid :hedge-143},
 :hedge-145
 {:display-name "1", :end-node :hem-94, :type :edge, :uid :hedge-145},
 :hedge-147 {:end-node :henpt-80, :type :edge, :uid :hedge-147},
 :hedge-148
 {:display-name "2", :end-node :hem-104, :type :edge, :uid :hedge-148},
 :hedge-150 {:end-node :henpt-81, :type :edge, :uid :hedge-150},
 :hedge-151
 {:display-name "3", :end-node :hem-114, :type :edge, :uid :hedge-151},
 :hedge-153 {:end-node :henpt-82, :type :edge, :uid :hedge-153},
 :hedge-154
 {:display-name "4", :end-node :hem-124, :type :edge, :uid :hedge-154},
 :hem-104
 {:args [],
  :display-args [],
  :display-name "Perform 15 Minutes Of Activities",
  :edges [],
  :incidence-set #{},
  :network :net-149,
  :type :htn-expanded-method,
  :uid :hem-104},
 :hem-114
 {:args [],
  :display-args [],
  :display-name "Perform 15 Minutes Of Activities",
  :edges [],
  :incidence-set #{},
  :network :net-152,
  :type :htn-expanded-method,
  :uid :hem-114},
 :hem-124
 {:args [],
  :display-args [],
  :display-name "Perform 15 Minutes Of Activities",
  :edges [],
  :incidence-set #{},
  :network :net-155,
  :type :htn-expanded-method,
  :uid :hem-124},
 :hem-31
 {:args [],
  :display-args [],
  :display-name "Main",
  :edges [:hedge-128 :hedge-143],
  :incidence-set #{:hedge-126},
  :network :net-127,
  :type :htn-expanded-method,
  :uid :hem-31},
 :hem-37
 {:args [],
  :display-args [],
  :display-name "Perform Activities",
  :edges [:hedge-130 :hedge-133 :hedge-136 :hedge-139],
  :incidence-set #{},
  :network :net-129,
  :type :htn-expanded-method,
  :uid :hem-37},
 :hem-48
 {:args [],
  :display-args [],
  :display-name "Perform 15 Minutes Of Activities",
  :edges [],
  :incidence-set #{},
  :network :net-131,
  :type :htn-expanded-method,
  :uid :hem-48},
 :hem-58
 {:args [],
  :display-args [],
  :display-name "Perform 15 Minutes Of Activities",
  :edges [],
  :incidence-set #{},
  :network :net-134,
  :type :htn-expanded-method,
  :uid :hem-58},
 :hem-68
 {:args [],
  :display-args [],
  :display-name "Perform 15 Minutes Of Activities",
  :edges [],
  :incidence-set #{},
  :network :net-137,
  :type :htn-expanded-method,
  :uid :hem-68},
 :hem-78
 {:args [],
  :display-args [],
  :display-name "Perform 15 Minutes Of Activities",
  :edges [],
  :incidence-set #{},
  :network :net-140,
  :type :htn-expanded-method,
  :uid :hem-78},
 :hem-83
 {:args [],
  :display-args [],
  :display-name "Perform Activities",
  :edges [:hedge-145 :hedge-148 :hedge-151 :hedge-154],
  :incidence-set #{},
  :network :net-144,
  :type :htn-expanded-method,
  :uid :hem-83},
 :hem-94
 {:args [],
  :display-args [],
  :display-name "Perform 15 Minutes Of Activities",
  :edges [],
  :incidence-set #{},
  :network :net-146,
  :type :htn-expanded-method,
  :uid :hem-94},
 :henpt-27
 {:display-name "test",
  :edges [:hedge-126],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-27},
 :henpt-28
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Perform Activities",
  :edges [:hedge-141],
  :incidence-set #{},
  :name "perform-activities",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-28},
 :henpt-30
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Perform Activities",
  :edges [],
  :incidence-set #{:hedge-142},
  :name "perform-activities",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-30},
 :henpt-33
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Perform 15 Minutes Of Activities",
  :edges [:hedge-132],
  :incidence-set #{},
  :name "perform-15-minutes-of-activities",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-33},
 :henpt-34
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Perform 15 Minutes Of Activities",
  :edges [:hedge-135],
  :incidence-set #{:hedge-132},
  :name "perform-15-minutes-of-activities",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-34},
 :henpt-35
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Perform 15 Minutes Of Activities",
  :edges [:hedge-138],
  :incidence-set #{:hedge-135},
  :name "perform-15-minutes-of-activities",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-35},
 :henpt-36
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Perform 15 Minutes Of Activities",
  :edges [],
  :incidence-set #{:hedge-138},
  :name "perform-15-minutes-of-activities",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-36},
 :henpt-79
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Perform 15 Minutes Of Activities",
  :edges [:hedge-147],
  :incidence-set #{},
  :name "perform-15-minutes-of-activities",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-79},
 :henpt-80
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Perform 15 Minutes Of Activities",
  :edges [:hedge-150],
  :incidence-set #{:hedge-147},
  :name "perform-15-minutes-of-activities",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-80},
 :henpt-81
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Perform 15 Minutes Of Activities",
  :edges [:hedge-153],
  :incidence-set #{:hedge-150},
  :name "perform-15-minutes-of-activities",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-81},
 :henpt-82
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Perform 15 Minutes Of Activities",
  :edges [],
  :incidence-set #{:hedge-153},
  :name "perform-15-minutes-of-activities",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-82},
 :hpt-100
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-100},
 :hpt-101
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-101},
 :hpt-102
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-102},
 :hpt-103
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-103},
 :hpt-105
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-105},
 :hpt-106
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-106},
 :hpt-107
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-107},
 :hpt-108
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-108},
 :hpt-109
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-109},
 :hpt-110
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-110},
 :hpt-111
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-111},
 :hpt-112
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-112},
 :hpt-113
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-113},
 :hpt-115
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-115},
 :hpt-116
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-116},
 :hpt-117
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-117},
 :hpt-118
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-118},
 :hpt-119
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-119},
 :hpt-120
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-120},
 :hpt-121
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-121},
 :hpt-122
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-122},
 :hpt-123
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-123},
 :hpt-29
 {:display-name "Delay",
  :edges [:hedge-142],
  :incidence-set #{:hedge-141},
  :name "delay",
  :type :htn-primitive-task,
  :uid :hpt-29},
 :hpt-39
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-39},
 :hpt-40
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-40},
 :hpt-41
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-41},
 :hpt-42
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-42},
 :hpt-43
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-43},
 :hpt-44
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-44},
 :hpt-45
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-45},
 :hpt-46
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-46},
 :hpt-47
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-47},
 :hpt-49
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-49},
 :hpt-50
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-50},
 :hpt-51
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-51},
 :hpt-52
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-52},
 :hpt-53
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-53},
 :hpt-54
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-54},
 :hpt-55
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-55},
 :hpt-56
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-56},
 :hpt-57
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-57},
 :hpt-59
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-59},
 :hpt-60
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-60},
 :hpt-61
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-61},
 :hpt-62
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-62},
 :hpt-63
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-63},
 :hpt-64
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-64},
 :hpt-65
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-65},
 :hpt-66
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-66},
 :hpt-67
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-67},
 :hpt-69
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-69},
 :hpt-70
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-70},
 :hpt-71
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-71},
 :hpt-72
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-72},
 :hpt-73
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-73},
 :hpt-74
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-74},
 :hpt-75
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-75},
 :hpt-76
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-76},
 :hpt-77
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-77},
 :hpt-85
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-85},
 :hpt-86
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-86},
 :hpt-87
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-87},
 :hpt-88
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-88},
 :hpt-89
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-89},
 :hpt-90
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-90},
 :hpt-91
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-91},
 :hpt-92
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-92},
 :hpt-93
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-93},
 :hpt-95
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-95},
 :hpt-96
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-96},
 :hpt-97
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-97},
 :hpt-98
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-98},
 :hpt-99
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-99},
 :net-125
 {:display-name "test",
  :rootnodes #{:henpt-27},
  :type :htn-network,
  :uid :net-125},
 :net-127
 {:display-name "Main",
  :rootnodes #{:henpt-28},
  :type :htn-network,
  :uid :net-127},
 :net-129
 {:display-name "Perform Activities",
  :rootnodes #{:henpt-33},
  :type :htn-network,
  :uid :net-129},
 :net-131
 {:display-name "Perform 15 Minutes Of Activities",
  :rootnodes
  #{:hpt-44 :hpt-46 :hpt-39 :hpt-47 :hpt-42 :hpt-43 :hpt-40 :hpt-45
    :hpt-41},
  :type :htn-network,
  :uid :net-131},
 :net-134
 {:display-name "Perform 15 Minutes Of Activities",
  :rootnodes
  #{:hpt-54 :hpt-49 :hpt-53 :hpt-50 :hpt-51 :hpt-55 :hpt-56 :hpt-52
    :hpt-57},
  :type :htn-network,
  :uid :net-134},
 :net-137
 {:display-name "Perform 15 Minutes Of Activities",
  :rootnodes
  #{:hpt-66 :hpt-67 :hpt-61 :hpt-62 :hpt-63 :hpt-65 :hpt-60 :hpt-59
    :hpt-64},
  :type :htn-network,
  :uid :net-137},
 :net-140
 {:display-name "Perform 15 Minutes Of Activities",
  :rootnodes
  #{:hpt-69 :hpt-70 :hpt-71 :hpt-75 :hpt-76 :hpt-73 :hpt-72 :hpt-74
    :hpt-77},
  :type :htn-network,
  :uid :net-140},
 :net-144
 {:display-name "Perform Activities",
  :rootnodes #{:henpt-79},
  :type :htn-network,
  :uid :net-144},
 :net-146
 {:display-name "Perform 15 Minutes Of Activities",
  :rootnodes
  #{:hpt-85 :hpt-91 :hpt-89 :hpt-88 :hpt-87 :hpt-86 :hpt-90 :hpt-92
    :hpt-93},
  :type :htn-network,
  :uid :net-146},
 :net-149
 {:display-name "Perform 15 Minutes Of Activities",
  :rootnodes
  #{:hpt-102 :hpt-96 :hpt-95 :hpt-99 :hpt-103 :hpt-97 :hpt-98 :hpt-101
    :hpt-100},
  :type :htn-network,
  :uid :net-149},
 :net-152
 {:display-name "Perform 15 Minutes Of Activities",
  :rootnodes
  #{:hpt-105 :hpt-112 :hpt-108 :hpt-106 :hpt-111 :hpt-113 :hpt-110
    :hpt-109 :hpt-107},
  :type :htn-network,
  :uid :net-152},
 :net-155
 {:display-name "Perform 15 Minutes Of Activities",
  :rootnodes
  #{:hpt-118 :hpt-116 :hpt-115 :hpt-119 :hpt-121 :hpt-122 :hpt-123
    :hpt-120 :hpt-117},
  :type :htn-network,
  :uid :net-155},
 :network :net-125}
