{:hedge-69 {:end-node :hem-40, :type :edge, :uid :hedge-69},
 :hedge-71
 {:display-name "1", :end-node :hem-45, :type :edge, :uid :hedge-71},
 :hedge-73
 {:display-name "1",
  :edge-type :choice,
  :end-node :hem-48,
  :type :edge,
  :uid :hedge-73},
 :hedge-75
 {:display-name "1",
  :edge-type :choice,
  :end-node :hem-50,
  :type :edge,
  :uid :hedge-75},
 :hedge-77
 {:display-name "1",
  :edge-type :choice,
  :end-node :hem-52,
  :type :edge,
  :uid :hedge-77},
 :hedge-79 {:end-node :henpt-42, :type :edge, :uid :hedge-79},
 :hedge-80
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-54,
  :type :edge,
  :uid :hedge-80},
 :hedge-82
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-56,
  :type :edge,
  :uid :hedge-82},
 :hedge-84
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-58,
  :type :edge,
  :uid :hedge-84},
 :hedge-86 {:end-node :henpt-43, :type :edge, :uid :hedge-86},
 :hedge-87
 {:display-name "3", :end-node :hem-62, :type :edge, :uid :hedge-87},
 :hedge-89 {:end-node :henpt-44, :type :edge, :uid :hedge-89},
 :hedge-90
 {:display-name "4", :end-node :hem-66, :type :edge, :uid :hedge-90},
 :hedge-92 {:end-node :hpt-64, :type :edge, :uid :hedge-92},
 :hedge-93 {:end-node :hpt-65, :type :edge, :uid :hedge-93},
 :hem-40
 {:args [],
  :display-args [],
  :display-name "Main",
  :edges [:hedge-71],
  :incidence-set #{:hedge-69},
  :network :net-70,
  :type :htn-expanded-method,
  :uid :hem-40},
 :hem-45
 {:args [],
  :display-args [],
  :display-name "Top Level",
  :edges
  [:hedge-73
   :hedge-75
   :hedge-77
   :hedge-80
   :hedge-82
   :hedge-84
   :hedge-87
   :hedge-90],
  :incidence-set #{},
  :network :net-72,
  :type :htn-expanded-method,
  :uid :hem-45},
 :hem-48
 {:args [],
  :display-args [],
  :display-name "Ex Choose 1-0",
  :edges [],
  :incidence-set #{},
  :network :net-74,
  :type :htn-expanded-method,
  :uid :hem-48},
 :hem-50
 {:args [],
  :display-args [],
  :display-name "Ex Choose 1-1",
  :edges [],
  :incidence-set #{},
  :network :net-76,
  :type :htn-expanded-method,
  :uid :hem-50},
 :hem-52
 {:args [],
  :display-args [],
  :display-name "Ex Choose 1-2",
  :edges [],
  :incidence-set #{},
  :network :net-78,
  :type :htn-expanded-method,
  :uid :hem-52},
 :hem-54
 {:args [],
  :display-args [],
  :display-name "Ex Choose 2-0",
  :edges [],
  :incidence-set #{},
  :network :net-81,
  :type :htn-expanded-method,
  :uid :hem-54},
 :hem-56
 {:args [],
  :display-args [],
  :display-name "Ex Choose 2-1",
  :edges [],
  :incidence-set #{},
  :network :net-83,
  :type :htn-expanded-method,
  :uid :hem-56},
 :hem-58
 {:args [],
  :display-args [],
  :display-name "Ex Choose 2-2",
  :edges [],
  :incidence-set #{},
  :network :net-85,
  :type :htn-expanded-method,
  :uid :hem-58},
 :hem-62
 {:args [],
  :display-args [],
  :display-name "Ex Parallel",
  :edges [],
  :incidence-set #{},
  :network :net-88,
  :type :htn-expanded-method,
  :uid :hem-62},
 :hem-66
 {:args [],
  :display-args [],
  :display-name "Ex Sequence",
  :edges [],
  :incidence-set #{},
  :network :net-91,
  :type :htn-expanded-method,
  :uid :hem-66},
 :henpt-38
 {:display-name "issue-120",
  :edges [:hedge-69],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-38},
 :henpt-39
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Top Level",
  :edges [],
  :incidence-set #{},
  :name "top-level",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-39},
 :henpt-41
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Ex Choose 1",
  :edges [:hedge-79],
  :incidence-set #{},
  :name "ex-choose-1",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-41},
 :henpt-42
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Ex Choose 2",
  :edges [:hedge-86],
  :incidence-set #{:hedge-79},
  :name "ex-choose-2",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-42},
 :henpt-43
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Ex Parallel",
  :edges [:hedge-89],
  :incidence-set #{:hedge-86},
  :name "ex-parallel",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-43},
 :henpt-44
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Ex Sequence",
  :edges [],
  :incidence-set #{:hedge-89},
  :name "ex-sequence",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-44},
 :hpt-47
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Action",
  :edges [],
  :incidence-set #{},
  :name "action",
  :type :htn-primitive-task,
  :uid :hpt-47},
 :hpt-49
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Action",
  :edges [],
  :incidence-set #{},
  :name "action",
  :type :htn-primitive-task,
  :uid :hpt-49},
 :hpt-51
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Action",
  :edges [],
  :incidence-set #{},
  :name "action",
  :type :htn-primitive-task,
  :uid :hpt-51},
 :hpt-53
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Action",
  :edges [],
  :incidence-set #{},
  :name "action",
  :type :htn-primitive-task,
  :uid :hpt-53},
 :hpt-55
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Action",
  :edges [],
  :incidence-set #{},
  :name "action",
  :type :htn-primitive-task,
  :uid :hpt-55},
 :hpt-57
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Action",
  :edges [],
  :incidence-set #{},
  :name "action",
  :type :htn-primitive-task,
  :uid :hpt-57},
 :hpt-59
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Action",
  :edges [],
  :incidence-set #{},
  :name "action",
  :type :htn-primitive-task,
  :uid :hpt-59},
 :hpt-60
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Action",
  :edges [],
  :incidence-set #{},
  :name "action",
  :type :htn-primitive-task,
  :uid :hpt-60},
 :hpt-61
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Action",
  :edges [],
  :incidence-set #{},
  :name "action",
  :type :htn-primitive-task,
  :uid :hpt-61},
 :hpt-63
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Action",
  :edges [:hedge-92],
  :incidence-set #{},
  :name "action",
  :type :htn-primitive-task,
  :uid :hpt-63},
 :hpt-64
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Action",
  :edges [:hedge-93],
  :incidence-set #{:hedge-92},
  :name "action",
  :type :htn-primitive-task,
  :uid :hpt-64},
 :hpt-65
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Action",
  :edges [],
  :incidence-set #{:hedge-93},
  :name "action",
  :type :htn-primitive-task,
  :uid :hpt-65},
 :net-68
 {:display-name "issue-120",
  :rootnodes #{:henpt-38},
  :type :htn-network,
  :uid :net-68},
 :net-70
 {:display-name "Main",
  :rootnodes #{:henpt-39},
  :type :htn-network,
  :uid :net-70},
 :net-72
 {:display-name "Top Level",
  :rootnodes #{:henpt-41},
  :type :htn-network,
  :uid :net-72},
 :net-74
 {:display-name "Ex Choose 1-0",
  :rootnodes #{:hpt-47},
  :type :htn-network,
  :uid :net-74},
 :net-76
 {:display-name "Ex Choose 1-1",
  :rootnodes #{:hpt-49},
  :type :htn-network,
  :uid :net-76},
 :net-78
 {:display-name "Ex Choose 1-2",
  :rootnodes #{:hpt-51},
  :type :htn-network,
  :uid :net-78},
 :net-81
 {:display-name "Ex Choose 2-0",
  :rootnodes #{:hpt-53},
  :type :htn-network,
  :uid :net-81},
 :net-83
 {:display-name "Ex Choose 2-1",
  :rootnodes #{:hpt-55},
  :type :htn-network,
  :uid :net-83},
 :net-85
 {:display-name "Ex Choose 2-2",
  :rootnodes #{:hpt-57},
  :type :htn-network,
  :uid :net-85},
 :net-88
 {:display-name "Ex Parallel",
  :rootnodes #{:hpt-61 :hpt-60 :hpt-59},
  :type :htn-network,
  :uid :net-88},
 :net-91
 {:display-name "Ex Sequence",
  :rootnodes #{:hpt-63},
  :type :htn-network,
  :uid :net-91},
 :network :net-68}
