{:act-12
 {:args [],
  :argsmap {},
  :command "primitive-method",
  :constraints #{:tc-11},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Primitive Method",
  :end-node :node-17,
  :htn-node :hem-26,
  :name "Primitive Method",
  :reward 0,
  :tpn-type :activity,
  :uid :act-12},
 :act-16
 {:args [],
  :argsmap {},
  :command "primitive-method",
  :constraints #{},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Primitive Method",
  :end-node :node-22,
  :htn-node :hem-26,
  :name "Primitive Method",
  :reward 0,
  :tpn-type :activity,
  :uid :act-16},
 :act-21
 {:args [],
  :argsmap {},
  :command "primitive-method-b",
  :constraints #{:tc-20},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Primitive Method B",
  :end-node :node-27,
  :htn-node :hem-26,
  :name "Primitive Method B",
  :reward 0,
  :tpn-type :activity,
  :uid :act-21},
 :act-26
 {:args [],
  :argsmap {},
  :command "primitive-method-b",
  :constraints #{:tc-25},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Primitive Method B",
  :end-node :node-38,
  :htn-node :hem-26,
  :name "Primitive Method B",
  :reward 0,
  :tpn-type :activity,
  :uid :act-26},
 :act-37
 {:args [],
  :argsmap {},
  :command "primitive-method",
  :constraints #{:tc-36},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Primitive Method",
  :end-node :node-42,
  :htn-node :hem-32,
  :name "Primitive Method",
  :reward 0,
  :tpn-type :activity,
  :uid :act-37},
 :act-41
 {:args [],
  :argsmap {},
  :command "primitive-method",
  :constraints #{},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Primitive Method",
  :end-node :node-47,
  :htn-node :hem-32,
  :name "Primitive Method",
  :reward 0,
  :tpn-type :activity,
  :uid :act-41},
 :act-46
 {:args [],
  :argsmap {},
  :command "primitive-method-b",
  :constraints #{:tc-45},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Primitive Method B",
  :end-node :node-52,
  :htn-node :hem-32,
  :name "Primitive Method B",
  :reward 0,
  :tpn-type :activity,
  :uid :act-46},
 :act-51
 {:args [],
  :argsmap {},
  :command "primitive-method-b",
  :constraints #{:tc-50},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Primitive Method B",
  :end-node :node-64,
  :htn-node :hem-32,
  :name "Primitive Method B",
  :reward 0,
  :tpn-type :activity,
  :uid :act-51},
 :act-63
 {:args [],
  :argsmap {},
  :command "primitive-method",
  :constraints #{:tc-62},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Primitive Method",
  :end-node :node-68,
  :htn-node :hem-38,
  :name "Primitive Method",
  :reward 0,
  :tpn-type :activity,
  :uid :act-63},
 :act-67
 {:args [],
  :argsmap {},
  :command "primitive-method",
  :constraints #{},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Primitive Method",
  :end-node :node-73,
  :htn-node :hem-38,
  :name "Primitive Method",
  :reward 0,
  :tpn-type :activity,
  :uid :act-67},
 :act-72
 {:args [],
  :argsmap {},
  :command "primitive-method-b",
  :constraints #{:tc-71},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Primitive Method B",
  :end-node :node-78,
  :htn-node :hem-38,
  :name "Primitive Method B",
  :reward 0,
  :tpn-type :activity,
  :uid :act-72},
 :act-77
 {:args [],
  :argsmap {},
  :command "primitive-method-b",
  :constraints #{:tc-76},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Primitive Method B",
  :end-node :node-1,
  :htn-node :hem-38,
  :name "Primitive Method B",
  :reward 0,
  :tpn-type :activity,
  :uid :act-77},
 :net-3
 {:begin-node :node-13,
  :end-node :node-1,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-1
 {:activities #{},
  :constraints #{},
  :incidence-set #{:act-77},
  :tpn-type :state,
  :uid :node-1},
 :node-13
 {:activities #{:act-12},
  :constraints #{:tc-6 :tc-4},
  :end-node :node-38,
  :htn-node :hem-20,
  :incidence-set #{},
  :tpn-type :state,
  :uid :node-13},
 :node-17
 {:activities #{:act-16},
  :constraints #{},
  :htn-node :hem-26,
  :incidence-set #{:act-12},
  :tpn-type :state,
  :uid :node-17},
 :node-22
 {:activities #{:act-21},
  :constraints #{},
  :htn-node :hem-26,
  :incidence-set #{:act-16},
  :tpn-type :state,
  :uid :node-22},
 :node-27
 {:activities #{:act-26},
  :constraints #{},
  :htn-node :hem-26,
  :incidence-set #{:act-21},
  :tpn-type :state,
  :uid :node-27},
 :node-38
 {:activities #{:act-37},
  :constraints #{:tc-31},
  :end-node :node-64,
  :htn-node :hem-32,
  :incidence-set #{:act-26},
  :tpn-type :state,
  :uid :node-38},
 :node-42
 {:activities #{:act-41},
  :constraints #{},
  :htn-node :hem-32,
  :incidence-set #{:act-37},
  :tpn-type :state,
  :uid :node-42},
 :node-47
 {:activities #{:act-46},
  :constraints #{},
  :htn-node :hem-32,
  :incidence-set #{:act-41},
  :tpn-type :state,
  :uid :node-47},
 :node-52
 {:activities #{:act-51},
  :constraints #{},
  :htn-node :hem-32,
  :incidence-set #{:act-46},
  :tpn-type :state,
  :uid :node-52},
 :node-64
 {:activities #{:act-63},
  :constraints #{:tc-56},
  :end-node :node-1,
  :htn-node :hem-38,
  :incidence-set #{:act-51},
  :tpn-type :state,
  :uid :node-64},
 :node-68
 {:activities #{:act-67},
  :constraints #{},
  :htn-node :hem-38,
  :incidence-set #{:act-63},
  :tpn-type :state,
  :uid :node-68},
 :node-73
 {:activities #{:act-72},
  :constraints #{},
  :htn-node :hem-38,
  :incidence-set #{:act-67},
  :tpn-type :state,
  :uid :node-73},
 :node-78
 {:activities #{:act-77},
  :constraints #{},
  :htn-node :hem-38,
  :incidence-set #{:act-72},
  :tpn-type :state,
  :uid :node-78},
 :tc-11
 {:end-node :node-17,
  :tpn-type :temporal-constraint,
  :uid :tc-11,
  :value [1 2]},
 :tc-20
 {:end-node :node-27,
  :tpn-type :temporal-constraint,
  :uid :tc-20,
  :value [1 3]},
 :tc-25
 {:end-node :node-38,
  :tpn-type :temporal-constraint,
  :uid :tc-25,
  :value [1 1]},
 :tc-31
 {:end-node :node-64,
  :tpn-type :temporal-constraint,
  :uid :tc-31,
  :value [5 11]},
 :tc-34
 {:end-node :node-64,
  :tpn-type :temporal-constraint,
  :uid :tc-34,
  :value [2 11]},
 :tc-36
 {:end-node :node-42,
  :tpn-type :temporal-constraint,
  :uid :tc-36,
  :value [1 2]},
 :tc-4
 {:end-node :node-1,
  :tpn-type :temporal-constraint,
  :uid :tc-4,
  :value [2 21]},
 :tc-45
 {:end-node :node-52,
  :tpn-type :temporal-constraint,
  :uid :tc-45,
  :value [1 3]},
 :tc-50
 {:end-node :node-64,
  :tpn-type :temporal-constraint,
  :uid :tc-50,
  :value [1 1]},
 :tc-56
 {:end-node :node-1,
  :tpn-type :temporal-constraint,
  :uid :tc-56,
  :value [5 11]},
 :tc-6
 {:end-node :node-38,
  :tpn-type :temporal-constraint,
  :uid :tc-6,
  :value [1 10]},
 :tc-60
 {:end-node :node-1,
  :tpn-type :temporal-constraint,
  :uid :tc-60,
  :value [2 11]},
 :tc-62
 {:end-node :node-68,
  :tpn-type :temporal-constraint,
  :uid :tc-62,
  :value [1 2]},
 :tc-71
 {:end-node :node-78,
  :tpn-type :temporal-constraint,
  :uid :tc-71,
  :value [1 3]},
 :tc-76
 {:end-node :node-1,
  :tpn-type :temporal-constraint,
  :uid :tc-76,
  :value [1 1]},
 :tc-9
 {:end-node :node-38,
  :tpn-type :temporal-constraint,
  :uid :tc-9,
  :value [2 11]}}
