{:hedge-22 {:end-node :hem-19, :type :edge, :uid :hedge-22},
 :hedge-24 {:end-node :hpt-15, :type :edge, :uid :hedge-24},
 :hedge-25 {:end-node :hpt-16, :type :edge, :uid :hedge-25},
 :hedge-26 {:end-node :hpt-17, :type :edge, :uid :hedge-26},
 :hedge-27 {:end-node :hpt-18, :type :edge, :uid :hedge-27},
 :hem-19
 {:args [],
  :display-args [],
  :display-name "Start",
  :edges [],
  :incidence-set #{:hedge-22},
  :network :net-23,
  :type :htn-expanded-method,
  :uid :hem-19},
 :henpt-13
 {:display-name "infeasible-sequence",
  :edges [:hedge-22],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-13},
 :hpt-14
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Due Eh",
  :edges [:hedge-24],
  :incidence-set #{},
  :name "do-a",
  :plant-id "p1",
  :plant-interface "RMQ",
  :plant-part "t1",
  :type :htn-primitive-task,
  :uid :hpt-14},
 :hpt-15
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Do B",
  :edges [:hedge-25],
  :incidence-set #{:hedge-24},
  :name "do-b",
  :plant-id "p1",
  :plant-interface "RMQ",
  :plant-part "t1",
  :type :htn-primitive-task,
  :uid :hpt-15},
 :hpt-16
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Do C",
  :edges [:hedge-26],
  :incidence-set #{:hedge-25},
  :name "do-c",
  :plant-id "p1",
  :plant-interface "RMQ",
  :plant-part "t1",
  :type :htn-primitive-task,
  :uid :hpt-16},
 :hpt-17
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Do D",
  :edges [:hedge-27],
  :incidence-set #{:hedge-26},
  :name "do-d",
  :plant-id "p1",
  :plant-interface "RMQ",
  :plant-part "t1",
  :type :htn-primitive-task,
  :uid :hpt-17},
 :hpt-18
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Do E",
  :edges [],
  :incidence-set #{:hedge-27},
  :name "do-e",
  :plant-id "p1",
  :plant-interface "RMQ",
  :plant-part "t1",
  :type :htn-primitive-task,
  :uid :hpt-18},
 :net-21
 {:display-name "infeasible-sequence",
  :rootnodes #{:henpt-13},
  :type :htn-network,
  :uid :net-21},
 :net-23
 {:display-name "Start",
  :rootnodes #{:hpt-14},
  :type :htn-network,
  :uid :net-23},
 :network :net-21}
