{:hedge-41 {:end-node :hem-26, :type :edge, :uid :hedge-41},
 :hedge-43
 {:display-name "1", :end-node :hem-30, :type :edge, :uid :hedge-43},
 :hedge-45
 {:display-name "1", :end-node :hem-34, :type :edge, :uid :hedge-45},
 :hedge-47 {:end-node :hpt-33, :type :edge, :uid :hedge-47},
 :hedge-48 {:end-node :henpt-29, :type :edge, :uid :hedge-48},
 :hedge-49
 {:display-name "2", :end-node :hem-38, :type :edge, :uid :hedge-49},
 :hedge-51 {:end-node :hpt-37, :type :edge, :uid :hedge-51},
 :hem-26
 {:args [],
  :display-args [],
  :display-name "Main",
  :edges [:hedge-43],
  :incidence-set #{:hedge-41},
  :network :net-42,
  :type :htn-expanded-method,
  :uid :hem-26},
 :hem-30
 {:args [],
  :display-args [],
  :display-name "Do A",
  :edges [:hedge-45 :hedge-49],
  :incidence-set #{},
  :network :net-44,
  :type :htn-expanded-method,
  :uid :hem-30},
 :hem-34
 {:args [],
  :display-args [],
  :display-name "Do B",
  :edges [],
  :incidence-set #{},
  :network :net-46,
  :type :htn-expanded-method,
  :uid :hem-34},
 :hem-38
 {:args [],
  :display-args [],
  :display-name "Do B",
  :edges [],
  :incidence-set #{},
  :network :net-50,
  :type :htn-expanded-method,
  :uid :hem-38},
 :henpt-24
 {:display-name "demo",
  :edges [:hedge-41],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-24},
 :henpt-25
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Do A",
  :edges [],
  :incidence-set #{},
  :name "do-a",
  :plant-id "000",
  :plant-part "a-one",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-25},
 :henpt-28
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Do B",
  :edges [:hedge-48],
  :incidence-set #{},
  :name "do-b",
  :plant-id "111",
  :plant-part "b-one",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-28},
 :henpt-29
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Do B",
  :edges [],
  :incidence-set #{:hedge-48},
  :name "do-b",
  :plant-id "222",
  :plant-part "b-two",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-29},
 :hpt-32
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Do C",
  :edges [:hedge-47],
  :incidence-set #{},
  :name "do-c",
  :plant-id "111",
  :plant-part "part-1",
  :type :htn-primitive-task,
  :uid :hpt-32},
 :hpt-33
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Do C",
  :edges [],
  :incidence-set #{:hedge-47},
  :name "do-c",
  :plant-id "111",
  :plant-part "part-2",
  :type :htn-primitive-task,
  :uid :hpt-33},
 :hpt-36
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Do C",
  :edges [:hedge-51],
  :incidence-set #{},
  :name "do-c",
  :plant-id "222",
  :plant-part "part-1",
  :type :htn-primitive-task,
  :uid :hpt-36},
 :hpt-37
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Do C",
  :edges [],
  :incidence-set #{:hedge-51},
  :name "do-c",
  :plant-id "222",
  :plant-part "part-2",
  :type :htn-primitive-task,
  :uid :hpt-37},
 :net-40
 {:display-name "demo",
  :rootnodes #{:henpt-24},
  :type :htn-network,
  :uid :net-40},
 :net-42
 {:display-name "Main",
  :rootnodes #{:henpt-25},
  :type :htn-network,
  :uid :net-42},
 :net-44
 {:display-name "Do A",
  :rootnodes #{:henpt-28},
  :type :htn-network,
  :uid :net-44},
 :net-46
 {:display-name "Do B",
  :rootnodes #{:hpt-32},
  :type :htn-network,
  :uid :net-46},
 :net-50
 {:display-name "Do B",
  :rootnodes #{:hpt-36},
  :type :htn-network,
  :uid :net-50},
 :network :net-40}
