{:hedge-125 {:end-node :hem-30, :type :edge, :uid :hedge-125},
 :hedge-127
 {:display-name "1", :end-node :hem-36, :type :edge, :uid :hedge-127},
 :hedge-129
 {:display-name "1", :end-node :hem-47, :type :edge, :uid :hedge-129},
 :hedge-131 {:end-node :henpt-33, :type :edge, :uid :hedge-131},
 :hedge-132
 {:display-name "2", :end-node :hem-57, :type :edge, :uid :hedge-132},
 :hedge-134 {:end-node :henpt-34, :type :edge, :uid :hedge-134},
 :hedge-135
 {:display-name "3", :end-node :hem-67, :type :edge, :uid :hedge-135},
 :hedge-137 {:end-node :henpt-35, :type :edge, :uid :hedge-137},
 :hedge-138
 {:display-name "4", :end-node :hem-77, :type :edge, :uid :hedge-138},
 :hedge-140 {:end-node :hpt-28, :type :edge, :uid :hedge-140},
 :hedge-141 {:end-node :henpt-29, :type :edge, :uid :hedge-141},
 :hedge-142
 {:display-name "3", :end-node :hem-82, :type :edge, :uid :hedge-142},
 :hedge-144
 {:display-name "1", :end-node :hem-93, :type :edge, :uid :hedge-144},
 :hedge-146 {:end-node :henpt-79, :type :edge, :uid :hedge-146},
 :hedge-147
 {:display-name "2", :end-node :hem-103, :type :edge, :uid :hedge-147},
 :hedge-149 {:end-node :henpt-80, :type :edge, :uid :hedge-149},
 :hedge-150
 {:display-name "3", :end-node :hem-113, :type :edge, :uid :hedge-150},
 :hedge-152 {:end-node :henpt-81, :type :edge, :uid :hedge-152},
 :hedge-153
 {:display-name "4", :end-node :hem-123, :type :edge, :uid :hedge-153},
 :hem-103
 {:args [],
  :display-name "Perform 15 Minutes Of Activities",
  :edges [],
  :incidence-set #{},
  :network :net-148,
  :type :htn-expanded-method,
  :uid :hem-103},
 :hem-113
 {:args [],
  :display-name "Perform 15 Minutes Of Activities",
  :edges [],
  :incidence-set #{},
  :network :net-151,
  :type :htn-expanded-method,
  :uid :hem-113},
 :hem-123
 {:args [],
  :display-name "Perform 15 Minutes Of Activities",
  :edges [],
  :incidence-set #{},
  :network :net-154,
  :type :htn-expanded-method,
  :uid :hem-123},
 :hem-30
 {:args [],
  :display-name "Main",
  :edges [:hedge-127 :hedge-142],
  :incidence-set #{:hedge-125},
  :network :net-126,
  :type :htn-expanded-method,
  :uid :hem-30},
 :hem-36
 {:args [],
  :display-name "Perform Activities",
  :edges [:hedge-129 :hedge-132 :hedge-135 :hedge-138],
  :incidence-set #{},
  :network :net-128,
  :type :htn-expanded-method,
  :uid :hem-36},
 :hem-47
 {:args [],
  :display-name "Perform 15 Minutes Of Activities",
  :edges [],
  :incidence-set #{},
  :network :net-130,
  :type :htn-expanded-method,
  :uid :hem-47},
 :hem-57
 {:args [],
  :display-name "Perform 15 Minutes Of Activities",
  :edges [],
  :incidence-set #{},
  :network :net-133,
  :type :htn-expanded-method,
  :uid :hem-57},
 :hem-67
 {:args [],
  :display-name "Perform 15 Minutes Of Activities",
  :edges [],
  :incidence-set #{},
  :network :net-136,
  :type :htn-expanded-method,
  :uid :hem-67},
 :hem-77
 {:args [],
  :display-name "Perform 15 Minutes Of Activities",
  :edges [],
  :incidence-set #{},
  :network :net-139,
  :type :htn-expanded-method,
  :uid :hem-77},
 :hem-82
 {:args [],
  :display-name "Perform Activities",
  :edges [:hedge-144 :hedge-147 :hedge-150 :hedge-153],
  :incidence-set #{},
  :network :net-143,
  :type :htn-expanded-method,
  :uid :hem-82},
 :hem-93
 {:args [],
  :display-name "Perform 15 Minutes Of Activities",
  :edges [],
  :incidence-set #{},
  :network :net-145,
  :type :htn-expanded-method,
  :uid :hem-93},
 :henpt-26
 {:display-name "test",
  :edges [:hedge-125],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-26},
 :henpt-27
 {:display-name "Perform Activities",
  :edges [:hedge-140],
  :incidence-set #{},
  :name "perform-activities",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-27},
 :henpt-29
 {:display-name "Perform Activities",
  :edges [],
  :incidence-set #{:hedge-141},
  :name "perform-activities",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-29},
 :henpt-32
 {:display-name "Perform 15 Minutes Of Activities",
  :edges [:hedge-131],
  :incidence-set #{},
  :name "perform-15-minutes-of-activities",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-32},
 :henpt-33
 {:display-name "Perform 15 Minutes Of Activities",
  :edges [:hedge-134],
  :incidence-set #{:hedge-131},
  :name "perform-15-minutes-of-activities",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-33},
 :henpt-34
 {:display-name "Perform 15 Minutes Of Activities",
  :edges [:hedge-137],
  :incidence-set #{:hedge-134},
  :name "perform-15-minutes-of-activities",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-34},
 :henpt-35
 {:display-name "Perform 15 Minutes Of Activities",
  :edges [],
  :incidence-set #{:hedge-137},
  :name "perform-15-minutes-of-activities",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-35},
 :henpt-78
 {:display-name "Perform 15 Minutes Of Activities",
  :edges [:hedge-146],
  :incidence-set #{},
  :name "perform-15-minutes-of-activities",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-78},
 :henpt-79
 {:display-name "Perform 15 Minutes Of Activities",
  :edges [:hedge-149],
  :incidence-set #{:hedge-146},
  :name "perform-15-minutes-of-activities",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-79},
 :henpt-80
 {:display-name "Perform 15 Minutes Of Activities",
  :edges [:hedge-152],
  :incidence-set #{:hedge-149},
  :name "perform-15-minutes-of-activities",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-80},
 :henpt-81
 {:display-name "Perform 15 Minutes Of Activities",
  :edges [],
  :incidence-set #{:hedge-152},
  :name "perform-15-minutes-of-activities",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-81},
 :hpt-100
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-100},
 :hpt-101
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-101},
 :hpt-102
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-102},
 :hpt-104
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-104},
 :hpt-105
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-105},
 :hpt-106
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-106},
 :hpt-107
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-107},
 :hpt-108
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-108},
 :hpt-109
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-109},
 :hpt-110
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-110},
 :hpt-111
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-111},
 :hpt-112
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-112},
 :hpt-114
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-114},
 :hpt-115
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-115},
 :hpt-116
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-116},
 :hpt-117
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-117},
 :hpt-118
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-118},
 :hpt-119
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-119},
 :hpt-120
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-120},
 :hpt-121
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-121},
 :hpt-122
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-122},
 :hpt-28
 {:display-name "Delay",
  :edges [:hedge-141],
  :incidence-set #{:hedge-140},
  :name "delay",
  :type :htn-primitive-task,
  :uid :hpt-28},
 :hpt-38
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-38},
 :hpt-39
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-39},
 :hpt-40
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-40},
 :hpt-41
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-41},
 :hpt-42
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-42},
 :hpt-43
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-43},
 :hpt-44
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-44},
 :hpt-45
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-45},
 :hpt-46
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-46},
 :hpt-48
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-48},
 :hpt-49
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-49},
 :hpt-50
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-50},
 :hpt-51
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-51},
 :hpt-52
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-52},
 :hpt-53
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-53},
 :hpt-54
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-54},
 :hpt-55
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-55},
 :hpt-56
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-56},
 :hpt-58
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-58},
 :hpt-59
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-59},
 :hpt-60
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-60},
 :hpt-61
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-61},
 :hpt-62
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-62},
 :hpt-63
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-63},
 :hpt-64
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-64},
 :hpt-65
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-65},
 :hpt-66
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-66},
 :hpt-68
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-68},
 :hpt-69
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-69},
 :hpt-70
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-70},
 :hpt-71
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-71},
 :hpt-72
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-72},
 :hpt-73
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-73},
 :hpt-74
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-74},
 :hpt-75
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-75},
 :hpt-76
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-76},
 :hpt-84
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-84},
 :hpt-85
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-85},
 :hpt-86
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-86},
 :hpt-87
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-87},
 :hpt-88
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-88},
 :hpt-89
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-89},
 :hpt-90
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-90},
 :hpt-91
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-91},
 :hpt-92
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-92},
 :hpt-94
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-94},
 :hpt-95
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-95},
 :hpt-96
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-96},
 :hpt-97
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-97},
 :hpt-98
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-98},
 :hpt-99
 {:args [],
  :argsmap {},
  :display-name "Something Simple",
  :edges [],
  :incidence-set #{},
  :name "something-simple",
  :type :htn-primitive-task,
  :uid :hpt-99},
 :net-124
 {:display-name "test",
  :rootnodes #{:henpt-26},
  :type :htn-network,
  :uid :net-124},
 :net-126
 {:display-name "Main",
  :rootnodes #{:henpt-27},
  :type :htn-network,
  :uid :net-126},
 :net-128
 {:display-name "Perform Activities",
  :rootnodes #{:henpt-32},
  :type :htn-network,
  :uid :net-128},
 :net-130
 {:display-name "Perform 15 Minutes Of Activities",
  :rootnodes
  #{:hpt-44 :hpt-38 :hpt-46 :hpt-39 :hpt-42 :hpt-43 :hpt-40 :hpt-45
    :hpt-41},
  :type :htn-network,
  :uid :net-130},
 :net-133
 {:display-name "Perform 15 Minutes Of Activities",
  :rootnodes
  #{:hpt-54 :hpt-49 :hpt-53 :hpt-50 :hpt-51 :hpt-48 :hpt-55 :hpt-56
    :hpt-52},
  :type :htn-network,
  :uid :net-133},
 :net-136
 {:display-name "Perform 15 Minutes Of Activities",
  :rootnodes
  #{:hpt-66 :hpt-61 :hpt-58 :hpt-62 :hpt-63 :hpt-65 :hpt-60 :hpt-59
    :hpt-64},
  :type :htn-network,
  :uid :net-136},
 :net-139
 {:display-name "Perform 15 Minutes Of Activities",
  :rootnodes
  #{:hpt-69 :hpt-70 :hpt-71 :hpt-75 :hpt-76 :hpt-73 :hpt-72 :hpt-74
    :hpt-68},
  :type :htn-network,
  :uid :net-139},
 :net-143
 {:display-name "Perform Activities",
  :rootnodes #{:henpt-78},
  :type :htn-network,
  :uid :net-143},
 :net-145
 {:display-name "Perform 15 Minutes Of Activities",
  :rootnodes
  #{:hpt-85 :hpt-91 :hpt-89 :hpt-88 :hpt-87 :hpt-86 :hpt-90 :hpt-92
    :hpt-84},
  :type :htn-network,
  :uid :net-145},
 :net-148
 {:display-name "Perform 15 Minutes Of Activities",
  :rootnodes
  #{:hpt-102 :hpt-96 :hpt-95 :hpt-99 :hpt-97 :hpt-98 :hpt-101 :hpt-100
    :hpt-94},
  :type :htn-network,
  :uid :net-148},
 :net-151
 {:display-name "Perform 15 Minutes Of Activities",
  :rootnodes
  #{:hpt-105 :hpt-104 :hpt-112 :hpt-108 :hpt-106 :hpt-111 :hpt-110
    :hpt-109 :hpt-107},
  :type :htn-network,
  :uid :net-151},
 :net-154
 {:display-name "Perform 15 Minutes Of Activities",
  :rootnodes
  #{:hpt-118 :hpt-116 :hpt-114 :hpt-115 :hpt-119 :hpt-121 :hpt-122
    :hpt-120 :hpt-117},
  :type :htn-network,
  :uid :net-154},
 :network :net-124}
