{:act-12
 {:args [],
  :argsmap {},
  :command "do-c",
  :constraints #{},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Do C",
  :end-node :node-17,
  :htn-node :hem-34,
  :name "Do C",
  :plant-id "111",
  :plant-part "part-1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-12},
 :act-16
 {:args [],
  :argsmap {},
  :command "do-c",
  :constraints #{},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Do C",
  :end-node :node-26,
  :htn-node :hem-34,
  :name "Do C",
  :plant-id "111",
  :plant-part "part-2",
  :reward 0,
  :tpn-type :activity,
  :uid :act-16},
 :act-25
 {:args [],
  :argsmap {},
  :command "do-c",
  :constraints #{},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Do C",
  :end-node :node-30,
  :htn-node :hem-38,
  :name "Do C",
  :plant-id "222",
  :plant-part "part-1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-25},
 :act-29
 {:args [],
  :argsmap {},
  :command "do-c",
  :constraints #{},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Do C",
  :end-node :node-1,
  :htn-node :hem-38,
  :name "Do C",
  :plant-id "222",
  :plant-part "part-2",
  :reward 0,
  :tpn-type :activity,
  :uid :act-29},
 :net-3
 {:begin-node :node-13,
  :end-node :node-1,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-1
 {:activities #{},
  :constraints #{},
  :incidence-set #{:act-29},
  :tpn-type :state,
  :uid :node-1},
 :node-13
 {:activities #{:act-12},
  :constraints #{},
  :end-node :node-26,
  :htn-node :hem-26,
  :incidence-set #{},
  :tpn-type :state,
  :uid :node-13},
 :node-17
 {:activities #{:act-16},
  :constraints #{},
  :htn-node :hem-34,
  :incidence-set #{:act-12},
  :tpn-type :state,
  :uid :node-17},
 :node-26
 {:activities #{:act-25},
  :constraints #{},
  :end-node :node-1,
  :htn-node :hem-38,
  :incidence-set #{:act-16},
  :tpn-type :state,
  :uid :node-26},
 :node-30
 {:activities #{:act-29},
  :constraints #{},
  :htn-node :hem-38,
  :incidence-set #{:act-25},
  :tpn-type :state,
  :uid :node-30}}
