{:hedge-40 {:end-node :hem-19, :type :edge, :uid :hedge-40},
 :hedge-42
 {:display-name "1", :end-node :hem-25, :type :edge, :uid :hedge-42},
 :hedge-44 {:end-node :hpt-22, :type :edge, :uid :hedge-44},
 :hedge-45 {:end-node :hpt-23, :type :edge, :uid :hedge-45},
 :hedge-46 {:end-node :hpt-24, :type :edge, :uid :hedge-46},
 :hedge-47 {:end-node :henpt-17, :type :edge, :uid :hedge-47},
 :hedge-48
 {:display-name "2", :end-node :hem-31, :type :edge, :uid :hedge-48},
 :hedge-50 {:end-node :hpt-28, :type :edge, :uid :hedge-50},
 :hedge-51 {:end-node :hpt-29, :type :edge, :uid :hedge-51},
 :hedge-52 {:end-node :hpt-30, :type :edge, :uid :hedge-52},
 :hedge-53 {:end-node :henpt-18, :type :edge, :uid :hedge-53},
 :hedge-54
 {:display-name "3", :end-node :hem-37, :type :edge, :uid :hedge-54},
 :hedge-56 {:end-node :hpt-34, :type :edge, :uid :hedge-56},
 :hedge-57 {:end-node :hpt-35, :type :edge, :uid :hedge-57},
 :hedge-58 {:end-node :hpt-36, :type :edge, :uid :hedge-58},
 :hem-19
 {:args [],
  :display-name "Main 1",
  :edges [:hedge-42 :hedge-48 :hedge-54],
  :incidence-set #{:hedge-40},
  :network :net-41,
  :type :htn-expanded-method,
  :uid :hem-19},
 :hem-25
 {:args [],
  :display-name "Submethod",
  :edges [],
  :incidence-set #{},
  :network :net-43,
  :type :htn-expanded-method,
  :uid :hem-25},
 :hem-31
 {:args [],
  :display-name "Submethod",
  :edges [],
  :incidence-set #{},
  :network :net-49,
  :type :htn-expanded-method,
  :uid :hem-31},
 :hem-37
 {:args [],
  :display-name "Submethod",
  :edges [],
  :incidence-set #{},
  :network :net-55,
  :type :htn-expanded-method,
  :uid :hem-37},
 :henpt-15
 {:display-name "main",
  :edges [:hedge-40],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-15},
 :henpt-16
 {:display-name "Submethod",
  :edges [:hedge-47],
  :incidence-set #{},
  :name "submethod",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-16},
 :henpt-17
 {:display-name "Submethod",
  :edges [:hedge-53],
  :incidence-set #{:hedge-47},
  :name "submethod",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-17},
 :henpt-18
 {:display-name "Submethod",
  :edges [],
  :incidence-set #{:hedge-53},
  :name "submethod",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-18},
 :hpt-21
 {:args [],
  :argsmap {},
  :display-name "Primitive Method",
  :edges [:hedge-44],
  :incidence-set #{},
  :name "primitive-method",
  :type :htn-primitive-task,
  :uid :hpt-21},
 :hpt-22
 {:args [],
  :argsmap {},
  :display-name "Primitive Method",
  :edges [:hedge-45],
  :incidence-set #{:hedge-44},
  :name "primitive-method",
  :type :htn-primitive-task,
  :uid :hpt-22},
 :hpt-23
 {:args [],
  :argsmap {},
  :display-name "Primitive Method B",
  :edges [:hedge-46],
  :incidence-set #{:hedge-45},
  :name "primitive-method-b",
  :type :htn-primitive-task,
  :uid :hpt-23},
 :hpt-24
 {:args [],
  :argsmap {},
  :display-name "Primitive Method B",
  :edges [],
  :incidence-set #{:hedge-46},
  :name "primitive-method-b",
  :type :htn-primitive-task,
  :uid :hpt-24},
 :hpt-27
 {:args [],
  :argsmap {},
  :display-name "Primitive Method",
  :edges [:hedge-50],
  :incidence-set #{},
  :name "primitive-method",
  :type :htn-primitive-task,
  :uid :hpt-27},
 :hpt-28
 {:args [],
  :argsmap {},
  :display-name "Primitive Method",
  :edges [:hedge-51],
  :incidence-set #{:hedge-50},
  :name "primitive-method",
  :type :htn-primitive-task,
  :uid :hpt-28},
 :hpt-29
 {:args [],
  :argsmap {},
  :display-name "Primitive Method B",
  :edges [:hedge-52],
  :incidence-set #{:hedge-51},
  :name "primitive-method-b",
  :type :htn-primitive-task,
  :uid :hpt-29},
 :hpt-30
 {:args [],
  :argsmap {},
  :display-name "Primitive Method B",
  :edges [],
  :incidence-set #{:hedge-52},
  :name "primitive-method-b",
  :type :htn-primitive-task,
  :uid :hpt-30},
 :hpt-33
 {:args [],
  :argsmap {},
  :display-name "Primitive Method",
  :edges [:hedge-56],
  :incidence-set #{},
  :name "primitive-method",
  :type :htn-primitive-task,
  :uid :hpt-33},
 :hpt-34
 {:args [],
  :argsmap {},
  :display-name "Primitive Method",
  :edges [:hedge-57],
  :incidence-set #{:hedge-56},
  :name "primitive-method",
  :type :htn-primitive-task,
  :uid :hpt-34},
 :hpt-35
 {:args [],
  :argsmap {},
  :display-name "Primitive Method B",
  :edges [:hedge-58],
  :incidence-set #{:hedge-57},
  :name "primitive-method-b",
  :type :htn-primitive-task,
  :uid :hpt-35},
 :hpt-36
 {:args [],
  :argsmap {},
  :display-name "Primitive Method B",
  :edges [],
  :incidence-set #{:hedge-58},
  :name "primitive-method-b",
  :type :htn-primitive-task,
  :uid :hpt-36},
 :net-39
 {:display-name "main",
  :rootnodes #{:henpt-15},
  :type :htn-network,
  :uid :net-39},
 :net-41
 {:display-name "Main 1",
  :rootnodes #{:henpt-16},
  :type :htn-network,
  :uid :net-41},
 :net-43
 {:display-name "Submethod",
  :rootnodes #{:hpt-21},
  :type :htn-network,
  :uid :net-43},
 :net-49
 {:display-name "Submethod",
  :rootnodes #{:hpt-27},
  :type :htn-network,
  :uid :net-49},
 :net-55
 {:display-name "Submethod",
  :rootnodes #{:hpt-33},
  :type :htn-network,
  :uid :net-55},
 :network :net-39}
