{:hedge-68 {:end-node :hem-39, :type :edge, :uid :hedge-68},
 :hedge-70
 {:display-name "1", :end-node :hem-44, :type :edge, :uid :hedge-70},
 :hedge-72
 {:display-name "1",
  :edge-type :choice,
  :end-node :hem-47,
  :type :edge,
  :uid :hedge-72},
 :hedge-74
 {:display-name "1",
  :edge-type :choice,
  :end-node :hem-49,
  :type :edge,
  :uid :hedge-74},
 :hedge-76
 {:display-name "1",
  :edge-type :choice,
  :end-node :hem-51,
  :type :edge,
  :uid :hedge-76},
 :hedge-78 {:end-node :henpt-41, :type :edge, :uid :hedge-78},
 :hedge-79
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-53,
  :type :edge,
  :uid :hedge-79},
 :hedge-81
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-55,
  :type :edge,
  :uid :hedge-81},
 :hedge-83
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-57,
  :type :edge,
  :uid :hedge-83},
 :hedge-85 {:end-node :henpt-42, :type :edge, :uid :hedge-85},
 :hedge-86
 {:display-name "3", :end-node :hem-61, :type :edge, :uid :hedge-86},
 :hedge-88 {:end-node :henpt-43, :type :edge, :uid :hedge-88},
 :hedge-89
 {:display-name "4", :end-node :hem-65, :type :edge, :uid :hedge-89},
 :hedge-91 {:end-node :hpt-63, :type :edge, :uid :hedge-91},
 :hedge-92 {:end-node :hpt-64, :type :edge, :uid :hedge-92},
 :hem-39
 {:args [],
  :display-name "Main",
  :edges [:hedge-70],
  :incidence-set #{:hedge-68},
  :network :net-69,
  :type :htn-expanded-method,
  :uid :hem-39},
 :hem-44
 {:args [],
  :display-name "Top Level",
  :edges
  [:hedge-72
   :hedge-74
   :hedge-76
   :hedge-79
   :hedge-81
   :hedge-83
   :hedge-86
   :hedge-89],
  :incidence-set #{},
  :network :net-71,
  :type :htn-expanded-method,
  :uid :hem-44},
 :hem-47
 {:args [],
  :display-name "Ex Choose 1-0",
  :edges [],
  :incidence-set #{},
  :network :net-73,
  :type :htn-expanded-method,
  :uid :hem-47},
 :hem-49
 {:args [],
  :display-name "Ex Choose 1-1",
  :edges [],
  :incidence-set #{},
  :network :net-75,
  :type :htn-expanded-method,
  :uid :hem-49},
 :hem-51
 {:args [],
  :display-name "Ex Choose 1-2",
  :edges [],
  :incidence-set #{},
  :network :net-77,
  :type :htn-expanded-method,
  :uid :hem-51},
 :hem-53
 {:args [],
  :display-name "Ex Choose 2-0",
  :edges [],
  :incidence-set #{},
  :network :net-80,
  :type :htn-expanded-method,
  :uid :hem-53},
 :hem-55
 {:args [],
  :display-name "Ex Choose 2-1",
  :edges [],
  :incidence-set #{},
  :network :net-82,
  :type :htn-expanded-method,
  :uid :hem-55},
 :hem-57
 {:args [],
  :display-name "Ex Choose 2-2",
  :edges [],
  :incidence-set #{},
  :network :net-84,
  :type :htn-expanded-method,
  :uid :hem-57},
 :hem-61
 {:args [],
  :display-name "Ex Parallel",
  :edges [],
  :incidence-set #{},
  :network :net-87,
  :type :htn-expanded-method,
  :uid :hem-61},
 :hem-65
 {:args [],
  :display-name "Ex Sequence",
  :edges [],
  :incidence-set #{},
  :network :net-90,
  :type :htn-expanded-method,
  :uid :hem-65},
 :henpt-37
 {:display-name "issue-120",
  :edges [:hedge-68],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-37},
 :henpt-38
 {:display-name "Top Level",
  :edges [],
  :incidence-set #{},
  :name "top-level",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-38},
 :henpt-40
 {:display-name "Ex Choose 1",
  :edges [:hedge-78],
  :incidence-set #{},
  :name "ex-choose-1",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-40},
 :henpt-41
 {:display-name "Ex Choose 2",
  :edges [:hedge-85],
  :incidence-set #{:hedge-78},
  :name "ex-choose-2",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-41},
 :henpt-42
 {:display-name "Ex Parallel",
  :edges [:hedge-88],
  :incidence-set #{:hedge-85},
  :name "ex-parallel",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-42},
 :henpt-43
 {:display-name "Ex Sequence",
  :edges [],
  :incidence-set #{:hedge-88},
  :name "ex-sequence",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-43},
 :hpt-46
 {:args [],
  :argsmap {},
  :display-name "Action",
  :edges [],
  :incidence-set #{},
  :name "action",
  :type :htn-primitive-task,
  :uid :hpt-46},
 :hpt-48
 {:args [],
  :argsmap {},
  :display-name "Action",
  :edges [],
  :incidence-set #{},
  :name "action",
  :type :htn-primitive-task,
  :uid :hpt-48},
 :hpt-50
 {:args [],
  :argsmap {},
  :display-name "Action",
  :edges [],
  :incidence-set #{},
  :name "action",
  :type :htn-primitive-task,
  :uid :hpt-50},
 :hpt-52
 {:args [],
  :argsmap {},
  :display-name "Action",
  :edges [],
  :incidence-set #{},
  :name "action",
  :type :htn-primitive-task,
  :uid :hpt-52},
 :hpt-54
 {:args [],
  :argsmap {},
  :display-name "Action",
  :edges [],
  :incidence-set #{},
  :name "action",
  :type :htn-primitive-task,
  :uid :hpt-54},
 :hpt-56
 {:args [],
  :argsmap {},
  :display-name "Action",
  :edges [],
  :incidence-set #{},
  :name "action",
  :type :htn-primitive-task,
  :uid :hpt-56},
 :hpt-58
 {:args [],
  :argsmap {},
  :display-name "Action",
  :edges [],
  :incidence-set #{},
  :name "action",
  :type :htn-primitive-task,
  :uid :hpt-58},
 :hpt-59
 {:args [],
  :argsmap {},
  :display-name "Action",
  :edges [],
  :incidence-set #{},
  :name "action",
  :type :htn-primitive-task,
  :uid :hpt-59},
 :hpt-60
 {:args [],
  :argsmap {},
  :display-name "Action",
  :edges [],
  :incidence-set #{},
  :name "action",
  :type :htn-primitive-task,
  :uid :hpt-60},
 :hpt-62
 {:args [],
  :argsmap {},
  :display-name "Action",
  :edges [:hedge-91],
  :incidence-set #{},
  :name "action",
  :type :htn-primitive-task,
  :uid :hpt-62},
 :hpt-63
 {:args [],
  :argsmap {},
  :display-name "Action",
  :edges [:hedge-92],
  :incidence-set #{:hedge-91},
  :name "action",
  :type :htn-primitive-task,
  :uid :hpt-63},
 :hpt-64
 {:args [],
  :argsmap {},
  :display-name "Action",
  :edges [],
  :incidence-set #{:hedge-92},
  :name "action",
  :type :htn-primitive-task,
  :uid :hpt-64},
 :net-67
 {:display-name "issue-120",
  :rootnodes #{:henpt-37},
  :type :htn-network,
  :uid :net-67},
 :net-69
 {:display-name "Main",
  :rootnodes #{:henpt-38},
  :type :htn-network,
  :uid :net-69},
 :net-71
 {:display-name "Top Level",
  :rootnodes #{:henpt-40},
  :type :htn-network,
  :uid :net-71},
 :net-73
 {:display-name "Ex Choose 1-0",
  :rootnodes #{:hpt-46},
  :type :htn-network,
  :uid :net-73},
 :net-75
 {:display-name "Ex Choose 1-1",
  :rootnodes #{:hpt-48},
  :type :htn-network,
  :uid :net-75},
 :net-77
 {:display-name "Ex Choose 1-2",
  :rootnodes #{:hpt-50},
  :type :htn-network,
  :uid :net-77},
 :net-80
 {:display-name "Ex Choose 2-0",
  :rootnodes #{:hpt-52},
  :type :htn-network,
  :uid :net-80},
 :net-82
 {:display-name "Ex Choose 2-1",
  :rootnodes #{:hpt-54},
  :type :htn-network,
  :uid :net-82},
 :net-84
 {:display-name "Ex Choose 2-2",
  :rootnodes #{:hpt-56},
  :type :htn-network,
  :uid :net-84},
 :net-87
 {:display-name "Ex Parallel",
  :rootnodes #{:hpt-58 :hpt-60 :hpt-59},
  :type :htn-network,
  :uid :net-87},
 :net-90
 {:display-name "Ex Sequence",
  :rootnodes #{:hpt-62},
  :type :htn-network,
  :uid :net-90},
 :network :net-67}
