{:act-10
 {:args [],
  :constraints #{},
  :uid :act-10,
  :name "Take Medium Res Images",
  :tpn-type :activity,
  :argsmap {},
  :command "take-medium-res-images",
  :htn-node :hem-11,
  :controllable false,
  :end-node :node-9,
  :label "TEMP-take-medium-res-images",
  :display-name "Take Medium Res Images"},
 :act-5
 {:args [],
  :constraints #{},
  :uid :act-5,
  :name "Take High Res Images",
  :tpn-type :activity,
  :argsmap {},
  :command "take-high-res-images",
  :htn-node :hem-9,
  :controllable false,
  :end-node :node-4,
  :label "TEMP-take-high-res-images",
  :display-name "Take High Res Images"},
 :na-12
 {:tpn-type :null-activity,
  :uid :na-12,
  :constraints #{},
  :end-node :node-11},
 :na-13
 {:tpn-type :null-activity,
  :uid :na-13,
  :constraints #{},
  :end-node :node-1},
 :na-7
 {:tpn-type :null-activity,
  :uid :na-7,
  :constraints #{},
  :end-node :node-6},
 :na-8
 {:tpn-type :null-activity,
  :uid :na-8,
  :constraints #{},
  :end-node :node-1},
 :net-3
 {:tpn-type :network,
  :uid :net-3,
  :begin-node :node-2,
  :end-node :node-1},
 :network-id :net-3,
 :node-1
 {:tpn-type :c-end,
  :uid :node-1,
  :constraints #{},
  :activities #{},
  :incidence-set #{:na-13 :na-8}},
 :node-11
 {:tpn-type :state,
  :uid :node-11,
  :constraints #{},
  :activities #{:act-10},
  :incidence-set #{:na-12},
  :htn-node :hem-11,
  :end-node :node-9},
 :node-2
 {:tpn-type :c-begin,
  :uid :node-2,
  :constraints #{},
  :activities #{:na-7 :na-12},
  :incidence-set #{},
  :end-node :node-1,
  :htn-node :hem-11},
 :node-4
 {:tpn-type :state,
  :uid :node-4,
  :constraints #{},
  :activities #{:na-8},
  :incidence-set #{:act-5}},
 :node-6
 {:tpn-type :state,
  :uid :node-6,
  :constraints #{},
  :activities #{:act-5},
  :incidence-set #{:na-7},
  :htn-node :hem-9,
  :end-node :node-4},
 :node-9
 {:tpn-type :state,
  :uid :node-9,
  :constraints #{},
  :activities #{:na-13},
  :incidence-set #{:act-10}}}
