{:hedge-13 {:end-node :hem-9, :type :edge, :uid :hedge-13},
 :hedge-15 {:end-node :hem-11, :type :edge, :uid :hedge-15},
 :hem-11
 {:args [],
  :display-args [],
  :display-name "Main-1",
  :edges [],
  :incidence-set #{:hedge-15},
  :network :net-16,
  :type :htn-expanded-method,
  :uid :hem-11},
 :hem-9
 {:args [],
  :display-args [],
  :display-name "Main-0",
  :edges [],
  :incidence-set #{:hedge-13},
  :network :net-14,
  :type :htn-expanded-method,
  :uid :hem-9},
 :henpt-7
 {:display-name "camera",
  :edges [:hedge-13 :hedge-15],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-7},
 :hpt-10
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Take Medium Res Images",
  :edges [],
  :incidence-set #{},
  :name "take-medium-res-images",
  :type :htn-primitive-task,
  :uid :hpt-10},
 :hpt-8
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Take High Res Images",
  :edges [],
  :incidence-set #{},
  :name "take-high-res-images",
  :type :htn-primitive-task,
  :uid :hpt-8},
 :net-12
 {:display-name "camera",
  :rootnodes #{:henpt-7},
  :type :htn-network,
  :uid :net-12},
 :net-14
 {:display-name "Main-0",
  :rootnodes #{:hpt-8},
  :type :htn-network,
  :uid :net-14},
 :net-16
 {:display-name "Main-1",
  :rootnodes #{:hpt-10},
  :type :htn-network,
  :uid :net-16},
 :network :net-12}
