{:hedge-92 {:type :edge, :uid :hedge-92, :end-node :hem-88},
 :hedge-94 {:type :edge, :uid :hedge-94, :end-node :hem-90},
 :hem-88
 {:uid :hem-88,
  :type :htn-expanded-method,
  :label "Main-0()",
  :display-name "Main-0",
  :network :net-93,
  :incidence-set #{:hedge-92},
  :edges []},
 :hem-90
 {:uid :hem-90,
  :type :htn-expanded-method,
  :label "Main-1()",
  :display-name "Main-1",
  :network :net-95,
  :incidence-set #{:hedge-94},
  :edges []},
 :henpt-86
 {:uid :henpt-86,
  :type :htn-expanded-nonprimitive-task,
  :label "camera",
  :display-name "camera",
  :incidence-set #{},
  :edges [:hedge-92 :hedge-94]},
 :hpt-87
 {:type :htn-primitive-task,
  :uid :hpt-87,
  :name "take-high-res-images",
  :incidence-set #{},
  :edges [],
  :label "TEMP-take-high-res-images",
  :display-name "Take High Res Images",
  :args [],
  :argsmap {}},
 :hpt-89
 {:type :htn-primitive-task,
  :uid :hpt-89,
  :name "take-medium-res-images",
  :incidence-set #{},
  :edges [],
  :label "TEMP-take-medium-res-images",
  :display-name "Take Medium Res Images",
  :args [],
  :argsmap {}},
 :net-91
 {:type :htn-network,
  :uid :net-91,
  :display-name "camera",
  :label "camera",
  :rootnodes #{:henpt-86}},
 :net-93
 {:type :htn-network,
  :uid :net-93,
  :display-name "Main-0()",
  :label "Main-0()",
  :rootnodes #{:hpt-87}},
 :net-95
 {:type :htn-network,
  :uid :net-95,
  :display-name "Main-1()",
  :label "Main-1()",
  :rootnodes #{:hpt-89}},
 :network :net-91}
