{:hedge-13 {:type :edge, :uid :hedge-13, :end-node :hem-9},
 :hedge-15 {:type :edge, :uid :hedge-15, :end-node :hem-11},
 :hem-11
 {:uid :hem-11,
  :type :htn-expanded-method,
  :label "Main-1()",
  :display-name "Main-1",
  :network :net-16,
  :incidence-set #{:hedge-15},
  :edges []},
 :hem-9
 {:uid :hem-9,
  :type :htn-expanded-method,
  :label "Main-0()",
  :display-name "Main-0",
  :network :net-14,
  :incidence-set #{:hedge-13},
  :edges []},
 :henpt-7
 {:uid :henpt-7,
  :type :htn-expanded-nonprimitive-task,
  :label "camera",
  :display-name "camera",
  :incidence-set #{},
  :edges [:hedge-13 :hedge-15]},
 :hpt-10
 {:type :htn-primitive-task,
  :uid :hpt-10,
  :name "take-medium-res-images",
  :incidence-set #{},
  :edges [],
  :label "TEMP-take-medium-res-images",
  :display-name "Take Medium Res Images",
  :args [],
  :argsmap {}},
 :hpt-8
 {:type :htn-primitive-task,
  :uid :hpt-8,
  :name "take-high-res-images",
  :incidence-set #{},
  :edges [],
  :label "TEMP-take-high-res-images",
  :display-name "Take High Res Images",
  :args [],
  :argsmap {}},
 :net-12
 {:type :htn-network,
  :uid :net-12,
  :display-name "camera",
  :label "camera",
  :rootnodes #{:henpt-7}},
 :net-14 {:type :htn-network, :uid :net-14, :rootnodes #{:hpt-8}},
 :net-16 {:type :htn-network, :uid :net-16, :rootnodes #{:hpt-10}},
 :network :net-12}
