{:hedge-15 {:end-node :hem-11, :type :edge, :uid :hedge-15},
 :hedge-17 {:end-node :hem-13, :type :edge, :uid :hedge-17},
 :hem-11
 {:args [],
  :display-args [],
  :display-name "Main-0",
  :edges [],
  :incidence-set #{:hedge-15},
  :network :net-16,
  :type :htn-expanded-method,
  :uid :hem-11},
 :hem-13
 {:args [],
  :display-args [],
  :display-name "Main-1",
  :edges [],
  :incidence-set #{:hedge-17},
  :network :net-18,
  :type :htn-expanded-method,
  :uid :hem-13},
 :henpt-9
 {:display-name "camera",
  :edges [:hedge-15 :hedge-17],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-9},
 :hpt-10
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Take High Res Images",
  :edges [],
  :incidence-set #{},
  :name "take-high-res-images",
  :type :htn-primitive-task,
  :uid :hpt-10},
 :hpt-12
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Take Medium Res Images",
  :edges [],
  :incidence-set #{},
  :name "take-medium-res-images",
  :type :htn-primitive-task,
  :uid :hpt-12},
 :net-14
 {:display-name "camera",
  :rootnodes #{:henpt-9},
  :type :htn-network,
  :uid :net-14},
 :net-16
 {:display-name "Main-0",
  :rootnodes #{:hpt-10},
  :type :htn-network,
  :uid :net-16},
 :net-18
 {:display-name "Main-1",
  :rootnodes #{:hpt-12},
  :type :htn-network,
  :uid :net-18},
 :network :net-14}
