{:act-12
 {:args [],
  :argsmap {},
  :command "take-medium-res-images",
  :constraints #{:tc-11},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Take Medium Res Images",
  :end-node :node-10,
  :htn-node :hem-13,
  :name "Take Medium Res Images",
  :reward 0,
  :tpn-type :activity,
  :uid :act-12},
 :act-6
 {:args [],
  :argsmap {},
  :command "take-high-res-images",
  :constraints #{:tc-5},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Take High Res Images",
  :end-node :node-4,
  :htn-node :hem-11,
  :name "Take High Res Images",
  :reward 0,
  :tpn-type :activity,
  :uid :act-6},
 :na-14
 {:constraints #{},
  :end-node :node-13,
  :tpn-type :null-activity,
  :uid :na-14},
 :na-15
 {:constraints #{},
  :end-node :node-1,
  :tpn-type :null-activity,
  :uid :na-15},
 :na-8
 {:constraints #{},
  :end-node :node-7,
  :tpn-type :null-activity,
  :uid :na-8},
 :na-9
 {:constraints #{},
  :end-node :node-1,
  :tpn-type :null-activity,
  :uid :na-9},
 :net-3
 {:begin-node :node-2,
  :end-node :node-1,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-1
 {:activities #{},
  :constraints #{},
  :incidence-set #{:na-9 :na-15},
  :tpn-type :c-end,
  :uid :node-1},
 :node-10
 {:activities #{:na-15},
  :constraints #{},
  :incidence-set #{:act-12},
  :tpn-type :state,
  :uid :node-10},
 :node-13
 {:activities #{:act-12},
  :constraints #{},
  :htn-node :hem-13,
  :incidence-set #{:na-14},
  :tpn-type :state,
  :uid :node-13},
 :node-2
 {:activities #{:na-8 :na-14},
  :constraints #{},
  :end-node :node-1,
  :htn-node :hem-13,
  :incidence-set #{},
  :tpn-type :c-begin,
  :uid :node-2},
 :node-4
 {:activities #{:na-9},
  :constraints #{},
  :incidence-set #{:act-6},
  :tpn-type :state,
  :uid :node-4},
 :node-7
 {:activities #{:act-6},
  :constraints #{},
  :htn-node :hem-11,
  :incidence-set #{:na-8},
  :tpn-type :state,
  :uid :node-7},
 :tc-11
 {:end-node :node-10,
  :tpn-type :temporal-constraint,
  :uid :tc-11,
  :value {:default [3 6], :name "med-res-bounds", :type :lvar}},
 :tc-5
 {:end-node :node-4,
  :tpn-type :temporal-constraint,
  :uid :tc-5,
  :value {:default [5 10], :name "high-res-bounds", :type :lvar}}}
