{:act-45
 {:args [],
  :constraints #{},
  :uid :act-45,
  :name "Take High Res Images",
  :tpn-type :activity,
  :argsmap {},
  :command "take-high-res-images",
  :htn-node :hem-88,
  :controllable false,
  :end-node :node-44,
  :label "TEMP-take-high-res-images",
  :display-name "Take High Res Images"},
 :act-50
 {:args [],
  :constraints #{},
  :uid :act-50,
  :name "Take Medium Res Images",
  :tpn-type :activity,
  :argsmap {},
  :command "take-medium-res-images",
  :htn-node :hem-90,
  :controllable false,
  :end-node :node-49,
  :label "TEMP-take-medium-res-images",
  :display-name "Take Medium Res Images"},
 :na-47
 {:tpn-type :null-activity,
  :uid :na-47,
  :constraints #{},
  :end-node :node-46},
 :na-48
 {:tpn-type :null-activity,
  :uid :na-48,
  :constraints #{},
  :end-node :node-41},
 :na-52
 {:tpn-type :null-activity,
  :uid :na-52,
  :constraints #{},
  :end-node :node-51},
 :na-53
 {:tpn-type :null-activity,
  :uid :na-53,
  :constraints #{},
  :end-node :node-41},
 :net-43
 {:tpn-type :network,
  :uid :net-43,
  :begin-node :node-42,
  :end-node :node-41},
 :network-id :net-43,
 :node-41
 {:tpn-type :c-end,
  :uid :node-41,
  :constraints #{},
  :activities #{},
  :incidence-set #{:na-48 :na-53}},
 :node-42
 {:tpn-type :c-begin,
  :uid :node-42,
  :constraints #{},
  :activities #{:na-47 :na-52},
  :incidence-set #{},
  :end-node :node-41,
  :htn-node :hem-90},
 :node-44
 {:tpn-type :state,
  :uid :node-44,
  :constraints #{},
  :activities #{:na-48},
  :incidence-set #{:act-45}},
 :node-46
 {:tpn-type :state,
  :uid :node-46,
  :constraints #{},
  :activities #{:act-45},
  :incidence-set #{:na-47},
  :htn-node :hem-88,
  :end-node :node-44},
 :node-49
 {:tpn-type :state,
  :uid :node-49,
  :constraints #{},
  :activities #{:na-53},
  :incidence-set #{:act-50}},
 :node-51
 {:tpn-type :state,
  :uid :node-51,
  :constraints #{},
  :activities #{:act-50},
  :incidence-set #{:na-52},
  :htn-node :hem-90,
  :end-node :node-49}}
