{:hedge-64 {:end-node :hem-32, :type :edge, :uid :hedge-64},
 :hedge-66
 {:display-name "1", :end-node :hem-35, :type :edge, :uid :hedge-66},
 :hedge-68
 {:display-name "1", :end-node :hem-43, :type :edge, :uid :hedge-68},
 :hedge-70 {:end-node :hem-45, :type :edge, :uid :hedge-70},
 :hedge-72 {:end-node :hem-47, :type :edge, :uid :hedge-72},
 :hedge-74 {:end-node :hem-49, :type :edge, :uid :hedge-74},
 :hedge-76 {:end-node :hem-51, :type :edge, :uid :hedge-76},
 :hedge-78 {:end-node :hem-53, :type :edge, :uid :hedge-78},
 :hedge-80 {:end-node :hem-55, :type :edge, :uid :hedge-80},
 :hedge-82 {:end-node :henpt-34, :type :edge, :uid :hedge-82},
 :hedge-83
 {:display-name "2", :end-node :hem-62, :type :edge, :uid :hedge-83},
 :hem-32
 {:args [],
  :display-args [],
  :display-name "Top-Level Activity",
  :edges [:hedge-66],
  :incidence-set #{:hedge-64},
  :network :net-65,
  :type :htn-expanded-method,
  :uid :hem-32},
 :hem-35
 {:args ["host0101" "host0301" "host0501" "host0701"],
  :display-args ["host0101" "host0301" "host0501" "host0701"],
  :display-name "Top Level Sequence",
  :edges [:hedge-68 :hedge-83],
  :incidence-set #{},
  :network :net-67,
  :type :htn-expanded-method,
  :uid :hem-35},
 :hem-43
 {:args ["host0101" "host0301" "host0501" "host0701"],
  :display-args ["host0101" "host0301" "host0501" "host0701"],
  :display-name "Coordination 1",
  :edges [:hedge-70 :hedge-72 :hedge-74 :hedge-76 :hedge-78 :hedge-80],
  :incidence-set #{},
  :network :net-69,
  :type :htn-expanded-method,
  :uid :hem-43},
 :hem-45
 {:args ["host0101" "host0301"],
  :display-args ["host0101" "host0301"],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :network :net-71,
  :type :htn-expanded-method,
  :uid :hem-45},
 :hem-47
 {:args ["host0101" "host0501"],
  :display-args ["host0101" "host0501"],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :network :net-73,
  :type :htn-expanded-method,
  :uid :hem-47},
 :hem-49
 {:args ["host0101" "host0701"],
  :display-args ["host0101" "host0701"],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :network :net-75,
  :type :htn-expanded-method,
  :uid :hem-49},
 :hem-51
 {:args ["host0301" "host0501"],
  :display-args ["host0301" "host0501"],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :network :net-77,
  :type :htn-expanded-method,
  :uid :hem-51},
 :hem-53
 {:args ["host0301" "host0701"],
  :display-args ["host0301" "host0701"],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :network :net-79,
  :type :htn-expanded-method,
  :uid :hem-53},
 :hem-55
 {:args ["host0501" "host0701"],
  :display-args ["host0501" "host0701"],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :network :net-81,
  :type :htn-expanded-method,
  :uid :hem-55},
 :hem-62
 {:args ["host0101" "host0301" "host0501" "host0701"],
  :display-args ["host0101" "host0301" "host0501" "host0701"],
  :display-name "Coordination 2",
  :edges [],
  :incidence-set #{},
  :network :net-84,
  :type :htn-expanded-method,
  :uid :hem-62},
 :henpt-30
 {:display-name "parallel-constraints",
  :edges [:hedge-64],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-30},
 :henpt-31
 {:args ["host0101" "host0301" "host0501" "host0701"],
  :argsmap
  {"loc1" "host0101",
   "loc2" "host0301",
   "loc3" "host0501",
   "loc4" "host0701"},
  :display-args ["host0101" "host0301" "host0501" "host0701"],
  :display-name "Top Level Sequence",
  :edges [],
  :incidence-set #{},
  :name "top-level-sequence",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-31},
 :henpt-33
 {:args ["host0101" "host0301" "host0501" "host0701"],
  :argsmap
  {"loc1" "host0101",
   "loc2" "host0301",
   "loc3" "host0501",
   "loc4" "host0701"},
  :display-args ["host0101" "host0301" "host0501" "host0701"],
  :display-name "Coordination 1",
  :edges [:hedge-82],
  :incidence-set #{},
  :name "coordination1",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-33},
 :henpt-34
 {:args ["host0101" "host0301" "host0501" "host0701"],
  :argsmap
  {"loc1" "host0101",
   "loc2" "host0301",
   "loc3" "host0501",
   "loc4" "host0701"},
  :display-args ["host0101" "host0301" "host0501" "host0701"],
  :display-name "Coordination 2",
  :edges [],
  :incidence-set #{:hedge-82},
  :name "coordination2",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-34},
 :henpt-37
 {:args ["host0101" "host0301"],
  :argsmap {"loc1" "host0101", "loc2" "host0301"},
  :display-args ["host0101" "host0301"],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video-flow",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-37},
 :henpt-38
 {:args ["host0101" "host0501"],
  :argsmap {"loc1" "host0101", "loc2" "host0501"},
  :display-args ["host0101" "host0501"],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video-flow",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-38},
 :henpt-39
 {:args ["host0101" "host0701"],
  :argsmap {"loc1" "host0101", "loc2" "host0701"},
  :display-args ["host0101" "host0701"],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video-flow",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-39},
 :henpt-40
 {:args ["host0301" "host0501"],
  :argsmap {"loc1" "host0301", "loc2" "host0501"},
  :display-args ["host0301" "host0501"],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video-flow",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-40},
 :henpt-41
 {:args ["host0301" "host0701"],
  :argsmap {"loc1" "host0301", "loc2" "host0701"},
  :display-args ["host0301" "host0701"],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video-flow",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-41},
 :henpt-42
 {:args ["host0501" "host0701"],
  :argsmap {"loc1" "host0501", "loc2" "host0701"},
  :display-args ["host0501" "host0701"],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video-flow",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-42},
 :hpt-44
 {:args ["host0101" "host0301" "1"],
  :argsmap {"client" "host0101", "display" "1", "server" "host0301"},
  :display-args ["host0101" "host0301" "1"],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video",
  :type :htn-primitive-task,
  :uid :hpt-44},
 :hpt-46
 {:args ["host0101" "host0501" "1"],
  :argsmap {"client" "host0101", "display" "1", "server" "host0501"},
  :display-args ["host0101" "host0501" "1"],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video",
  :type :htn-primitive-task,
  :uid :hpt-46},
 :hpt-48
 {:args ["host0101" "host0701" "1"],
  :argsmap {"client" "host0101", "display" "1", "server" "host0701"},
  :display-args ["host0101" "host0701" "1"],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video",
  :type :htn-primitive-task,
  :uid :hpt-48},
 :hpt-50
 {:args ["host0301" "host0501" "1"],
  :argsmap {"client" "host0301", "display" "1", "server" "host0501"},
  :display-args ["host0301" "host0501" "1"],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video",
  :type :htn-primitive-task,
  :uid :hpt-50},
 :hpt-52
 {:args ["host0301" "host0701" "1"],
  :argsmap {"client" "host0301", "display" "1", "server" "host0701"},
  :display-args ["host0301" "host0701" "1"],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video",
  :type :htn-primitive-task,
  :uid :hpt-52},
 :hpt-54
 {:args ["host0501" "host0701" "1"],
  :argsmap {"client" "host0501", "display" "1", "server" "host0701"},
  :display-args ["host0501" "host0701" "1"],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video",
  :type :htn-primitive-task,
  :uid :hpt-54},
 :hpt-56
 {:args ["host0101" "host0301" "1"],
  :argsmap {"client" "host0101", "display" "1", "server" "host0301"},
  :display-args ["host0101" "host0301" "1"],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video",
  :type :htn-primitive-task,
  :uid :hpt-56},
 :hpt-57
 {:args ["host0101" "host0501" "1"],
  :argsmap {"client" "host0101", "display" "1", "server" "host0501"},
  :display-args ["host0101" "host0501" "1"],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video",
  :type :htn-primitive-task,
  :uid :hpt-57},
 :hpt-58
 {:args ["host0101" "host0701" "1"],
  :argsmap {"client" "host0101", "display" "1", "server" "host0701"},
  :display-args ["host0101" "host0701" "1"],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video",
  :type :htn-primitive-task,
  :uid :hpt-58},
 :hpt-59
 {:args ["host0301" "host0501" "1"],
  :argsmap {"client" "host0301", "display" "1", "server" "host0501"},
  :display-args ["host0301" "host0501" "1"],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video",
  :type :htn-primitive-task,
  :uid :hpt-59},
 :hpt-60
 {:args ["host0301" "host0701" "1"],
  :argsmap {"client" "host0301", "display" "1", "server" "host0701"},
  :display-args ["host0301" "host0701" "1"],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video",
  :type :htn-primitive-task,
  :uid :hpt-60},
 :hpt-61
 {:args ["host0501" "host0701" "1"],
  :argsmap {"client" "host0501", "display" "1", "server" "host0701"},
  :display-args ["host0501" "host0701" "1"],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video",
  :type :htn-primitive-task,
  :uid :hpt-61},
 :net-63
 {:display-name "parallel-constraints",
  :rootnodes #{:henpt-30},
  :type :htn-network,
  :uid :net-63},
 :net-65
 {:display-name "Top-Level Activity",
  :rootnodes #{:henpt-31},
  :type :htn-network,
  :uid :net-65},
 :net-67
 {:display-name "Top Level Sequence",
  :rootnodes #{:henpt-33},
  :type :htn-network,
  :uid :net-67},
 :net-69
 {:display-name "Coordination 1",
  :rootnodes
  #{:henpt-40 :henpt-38 :henpt-37 :henpt-42 :henpt-41 :henpt-39},
  :type :htn-network,
  :uid :net-69},
 :net-71
 {:display-name "Video",
  :rootnodes #{:hpt-44},
  :type :htn-network,
  :uid :net-71},
 :net-73
 {:display-name "Video",
  :rootnodes #{:hpt-46},
  :type :htn-network,
  :uid :net-73},
 :net-75
 {:display-name "Video",
  :rootnodes #{:hpt-48},
  :type :htn-network,
  :uid :net-75},
 :net-77
 {:display-name "Video",
  :rootnodes #{:hpt-50},
  :type :htn-network,
  :uid :net-77},
 :net-79
 {:display-name "Video",
  :rootnodes #{:hpt-52},
  :type :htn-network,
  :uid :net-79},
 :net-81
 {:display-name "Video",
  :rootnodes #{:hpt-54},
  :type :htn-network,
  :uid :net-81},
 :net-84
 {:display-name "Coordination 2",
  :rootnodes #{:hpt-56 :hpt-61 :hpt-58 :hpt-60 :hpt-59 :hpt-57},
  :type :htn-network,
  :uid :net-84},
 :network :net-63}
