{:hedge-14 {:end-node :hem-12, :type :edge, :uid :hedge-14},
 :hem-12
 {:args [],
  :display-args [],
  :display-name "Main",
  :edges [],
  :incidence-set #{:hedge-14},
  :network :net-15,
  :type :htn-expanded-method,
  :uid :hem-12},
 :henpt-8
 {:display-name "parallel-feasible",
  :edges [:hedge-14],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-8},
 :hpt-10
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Option",
  :edges [],
  :incidence-set #{},
  :name "option",
  :type :htn-primitive-task,
  :uid :hpt-10},
 :hpt-11
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Option",
  :edges [],
  :incidence-set #{},
  :name "option",
  :type :htn-primitive-task,
  :uid :hpt-11},
 :hpt-9
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Option",
  :edges [],
  :incidence-set #{},
  :name "option",
  :type :htn-primitive-task,
  :uid :hpt-9},
 :net-13
 {:display-name "parallel-feasible",
  :rootnodes #{:henpt-8},
  :type :htn-network,
  :uid :net-13},
 :net-15
 {:display-name "Main",
  :rootnodes #{:hpt-9 :hpt-10 :hpt-11},
  :type :htn-network,
  :uid :net-15},
 :network :net-13}
