{:hedge-13 {:end-node :hem-11, :type :edge, :uid :hedge-13},
 :hem-11
 {:args [],
  :display-name "Main",
  :edges [],
  :incidence-set #{:hedge-13},
  :network :net-14,
  :type :htn-expanded-method,
  :uid :hem-11},
 :henpt-7
 {:display-name "parallel-feasible",
  :edges [:hedge-13],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-7},
 :hpt-10
 {:args [],
  :argsmap {},
  :display-name "Option",
  :edges [],
  :incidence-set #{},
  :name "option",
  :type :htn-primitive-task,
  :uid :hpt-10},
 :hpt-8
 {:args [],
  :argsmap {},
  :display-name "Option",
  :edges [],
  :incidence-set #{},
  :name "option",
  :type :htn-primitive-task,
  :uid :hpt-8},
 :hpt-9
 {:args [],
  :argsmap {},
  :display-name "Option",
  :edges [],
  :incidence-set #{},
  :name "option",
  :type :htn-primitive-task,
  :uid :hpt-9},
 :net-12
 {:display-name "parallel-feasible",
  :rootnodes #{:henpt-7},
  :type :htn-network,
  :uid :net-12},
 :net-14
 {:display-name "Main",
  :rootnodes #{:hpt-9 :hpt-10 :hpt-8},
  :type :htn-network,
  :uid :net-14},
 :network :net-12}
