{:hedge-63 {:end-node :hem-31, :type :edge, :uid :hedge-63},
 :hedge-65
 {:display-name "1", :end-node :hem-34, :type :edge, :uid :hedge-65},
 :hedge-67
 {:display-name "1", :end-node :hem-42, :type :edge, :uid :hedge-67},
 :hedge-69 {:end-node :hem-44, :type :edge, :uid :hedge-69},
 :hedge-71 {:end-node :hem-46, :type :edge, :uid :hedge-71},
 :hedge-73 {:end-node :hem-48, :type :edge, :uid :hedge-73},
 :hedge-75 {:end-node :hem-50, :type :edge, :uid :hedge-75},
 :hedge-77 {:end-node :hem-52, :type :edge, :uid :hedge-77},
 :hedge-79 {:end-node :hem-54, :type :edge, :uid :hedge-79},
 :hedge-81 {:end-node :henpt-33, :type :edge, :uid :hedge-81},
 :hedge-82
 {:display-name "2", :end-node :hem-61, :type :edge, :uid :hedge-82},
 :hem-31
 {:args [],
  :display-name "Top-Level Activity",
  :edges [:hedge-65],
  :incidence-set #{:hedge-63},
  :network :net-64,
  :type :htn-expanded-method,
  :uid :hem-31},
 :hem-34
 {:args
  [{:type :literal, :value "host0101"}
   {:type :literal, :value "host0301"}
   {:type :literal, :value "host0501"}
   {:type :literal, :value "host0701"}],
  :display-name "Top Level Sequence",
  :edges [:hedge-67 :hedge-82],
  :incidence-set #{},
  :network :net-66,
  :type :htn-expanded-method,
  :uid :hem-34},
 :hem-42
 {:args
  [{:type :literal, :value "host0101"}
   {:type :literal, :value "host0301"}
   {:type :literal, :value "host0501"}
   {:type :literal, :value "host0701"}],
  :display-name "Coordination 1",
  :edges [:hedge-69 :hedge-71 :hedge-73 :hedge-75 :hedge-77 :hedge-79],
  :incidence-set #{},
  :network :net-68,
  :type :htn-expanded-method,
  :uid :hem-42},
 :hem-44
 {:args
  [{:type :literal, :value "host0101"}
   {:type :literal, :value "host0301"}],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :network :net-70,
  :type :htn-expanded-method,
  :uid :hem-44},
 :hem-46
 {:args
  [{:type :literal, :value "host0101"}
   {:type :literal, :value "host0501"}],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :network :net-72,
  :type :htn-expanded-method,
  :uid :hem-46},
 :hem-48
 {:args
  [{:type :literal, :value "host0101"}
   {:type :literal, :value "host0701"}],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :network :net-74,
  :type :htn-expanded-method,
  :uid :hem-48},
 :hem-50
 {:args
  [{:type :literal, :value "host0301"}
   {:type :literal, :value "host0501"}],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :network :net-76,
  :type :htn-expanded-method,
  :uid :hem-50},
 :hem-52
 {:args
  [{:type :literal, :value "host0301"}
   {:type :literal, :value "host0701"}],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :network :net-78,
  :type :htn-expanded-method,
  :uid :hem-52},
 :hem-54
 {:args
  [{:type :literal, :value "host0501"}
   {:type :literal, :value "host0701"}],
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :network :net-80,
  :type :htn-expanded-method,
  :uid :hem-54},
 :hem-61
 {:args
  [{:type :literal, :value "host0101"}
   {:type :literal, :value "host0301"}
   {:type :literal, :value "host0501"}
   {:type :literal, :value "host0701"}],
  :display-name "Coordination 2",
  :edges [],
  :incidence-set #{},
  :network :net-83,
  :type :htn-expanded-method,
  :uid :hem-61},
 :henpt-29
 {:display-name "parallel-constraints",
  :edges [:hedge-63],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-29},
 :henpt-30
 {:display-name "Top Level Sequence",
  :edges [],
  :incidence-set #{},
  :name "top-level-sequence",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-30},
 :henpt-32
 {:display-name "Coordination 1",
  :edges [:hedge-81],
  :incidence-set #{},
  :name "coordination1",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-32},
 :henpt-33
 {:display-name "Coordination 2",
  :edges [],
  :incidence-set #{:hedge-81},
  :name "coordination2",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-33},
 :henpt-36
 {:display-name "Video Flow",
  :edges [],
  :incidence-set #{},
  :name "video-flow",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-36},
 :henpt-37
 {:display-name "Video Flow",
  :edges [],
  :incidence-set #{},
  :name "video-flow",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-37},
 :henpt-38
 {:display-name "Video Flow",
  :edges [],
  :incidence-set #{},
  :name "video-flow",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-38},
 :henpt-39
 {:display-name "Video Flow",
  :edges [],
  :incidence-set #{},
  :name "video-flow",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-39},
 :henpt-40
 {:display-name "Video Flow",
  :edges [],
  :incidence-set #{},
  :name "video-flow",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-40},
 :henpt-41
 {:display-name "Video Flow",
  :edges [],
  :incidence-set #{},
  :name "video-flow",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-41},
 :hpt-43
 {:args
  [{:type :literal, :value "host0101"}
   {:type :literal, :value "host0301"}
   {:type :literal, :value "1"}],
  :argsmap
  {"client" {:type :literal, :value "host0101"},
   "display" {:type :literal, :value "1"},
   "server" {:type :literal, :value "host0301"}},
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video",
  :type :htn-primitive-task,
  :uid :hpt-43},
 :hpt-45
 {:args
  [{:type :literal, :value "host0101"}
   {:type :literal, :value "host0501"}
   {:type :literal, :value "1"}],
  :argsmap
  {"client" {:type :literal, :value "host0101"},
   "display" {:type :literal, :value "1"},
   "server" {:type :literal, :value "host0501"}},
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video",
  :type :htn-primitive-task,
  :uid :hpt-45},
 :hpt-47
 {:args
  [{:type :literal, :value "host0101"}
   {:type :literal, :value "host0701"}
   {:type :literal, :value "1"}],
  :argsmap
  {"client" {:type :literal, :value "host0101"},
   "display" {:type :literal, :value "1"},
   "server" {:type :literal, :value "host0701"}},
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video",
  :type :htn-primitive-task,
  :uid :hpt-47},
 :hpt-49
 {:args
  [{:type :literal, :value "host0301"}
   {:type :literal, :value "host0501"}
   {:type :literal, :value "1"}],
  :argsmap
  {"client" {:type :literal, :value "host0301"},
   "display" {:type :literal, :value "1"},
   "server" {:type :literal, :value "host0501"}},
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video",
  :type :htn-primitive-task,
  :uid :hpt-49},
 :hpt-51
 {:args
  [{:type :literal, :value "host0301"}
   {:type :literal, :value "host0701"}
   {:type :literal, :value "1"}],
  :argsmap
  {"client" {:type :literal, :value "host0301"},
   "display" {:type :literal, :value "1"},
   "server" {:type :literal, :value "host0701"}},
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video",
  :type :htn-primitive-task,
  :uid :hpt-51},
 :hpt-53
 {:args
  [{:type :literal, :value "host0501"}
   {:type :literal, :value "host0701"}
   {:type :literal, :value "1"}],
  :argsmap
  {"client" {:type :literal, :value "host0501"},
   "display" {:type :literal, :value "1"},
   "server" {:type :literal, :value "host0701"}},
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video",
  :type :htn-primitive-task,
  :uid :hpt-53},
 :hpt-55
 {:args
  [{:type :literal, :value "host0101"}
   {:type :literal, :value "host0301"}
   {:type :literal, :value "1"}],
  :argsmap
  {"client" {:type :literal, :value "host0101"},
   "display" {:type :literal, :value "1"},
   "server" {:type :literal, :value "host0301"}},
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video",
  :type :htn-primitive-task,
  :uid :hpt-55},
 :hpt-56
 {:args
  [{:type :literal, :value "host0101"}
   {:type :literal, :value "host0501"}
   {:type :literal, :value "1"}],
  :argsmap
  {"client" {:type :literal, :value "host0101"},
   "display" {:type :literal, :value "1"},
   "server" {:type :literal, :value "host0501"}},
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video",
  :type :htn-primitive-task,
  :uid :hpt-56},
 :hpt-57
 {:args
  [{:type :literal, :value "host0101"}
   {:type :literal, :value "host0701"}
   {:type :literal, :value "1"}],
  :argsmap
  {"client" {:type :literal, :value "host0101"},
   "display" {:type :literal, :value "1"},
   "server" {:type :literal, :value "host0701"}},
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video",
  :type :htn-primitive-task,
  :uid :hpt-57},
 :hpt-58
 {:args
  [{:type :literal, :value "host0301"}
   {:type :literal, :value "host0501"}
   {:type :literal, :value "1"}],
  :argsmap
  {"client" {:type :literal, :value "host0301"},
   "display" {:type :literal, :value "1"},
   "server" {:type :literal, :value "host0501"}},
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video",
  :type :htn-primitive-task,
  :uid :hpt-58},
 :hpt-59
 {:args
  [{:type :literal, :value "host0301"}
   {:type :literal, :value "host0701"}
   {:type :literal, :value "1"}],
  :argsmap
  {"client" {:type :literal, :value "host0301"},
   "display" {:type :literal, :value "1"},
   "server" {:type :literal, :value "host0701"}},
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video",
  :type :htn-primitive-task,
  :uid :hpt-59},
 :hpt-60
 {:args
  [{:type :literal, :value "host0501"}
   {:type :literal, :value "host0701"}
   {:type :literal, :value "1"}],
  :argsmap
  {"client" {:type :literal, :value "host0501"},
   "display" {:type :literal, :value "1"},
   "server" {:type :literal, :value "host0701"}},
  :display-name "Video",
  :edges [],
  :incidence-set #{},
  :name "video",
  :type :htn-primitive-task,
  :uid :hpt-60},
 :net-62
 {:display-name "parallel-constraints",
  :rootnodes #{:henpt-29},
  :type :htn-network,
  :uid :net-62},
 :net-64
 {:display-name "Top-Level Activity",
  :rootnodes #{:henpt-30},
  :type :htn-network,
  :uid :net-64},
 :net-66
 {:display-name "Top Level Sequence",
  :rootnodes #{:henpt-32},
  :type :htn-network,
  :uid :net-66},
 :net-68
 {:display-name "Coordination 1",
  :rootnodes
  #{:henpt-40 :henpt-38 :henpt-37 :henpt-36 :henpt-41 :henpt-39},
  :type :htn-network,
  :uid :net-68},
 :net-70
 {:display-name "Video",
  :rootnodes #{:hpt-43},
  :type :htn-network,
  :uid :net-70},
 :net-72
 {:display-name "Video",
  :rootnodes #{:hpt-45},
  :type :htn-network,
  :uid :net-72},
 :net-74
 {:display-name "Video",
  :rootnodes #{:hpt-47},
  :type :htn-network,
  :uid :net-74},
 :net-76
 {:display-name "Video",
  :rootnodes #{:hpt-49},
  :type :htn-network,
  :uid :net-76},
 :net-78
 {:display-name "Video",
  :rootnodes #{:hpt-51},
  :type :htn-network,
  :uid :net-78},
 :net-80
 {:display-name "Video",
  :rootnodes #{:hpt-53},
  :type :htn-network,
  :uid :net-80},
 :net-83
 {:display-name "Coordination 2",
  :rootnodes #{:hpt-55 :hpt-56 :hpt-58 :hpt-60 :hpt-59 :hpt-57},
  :type :htn-network,
  :uid :net-83},
 :network :net-62}
