{:act-16
 {:args [],
  :argsmap {},
  :command "option",
  :constraints #{:tc-15},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Option",
  :end-node :node-14,
  :htn-node :hem-12,
  :name "Option",
  :reward 0,
  :tpn-type :activity,
  :uid :act-16},
 :act-22
 {:args [],
  :argsmap {},
  :command "option",
  :constraints #{:tc-21},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Option",
  :end-node :node-20,
  :htn-node :hem-12,
  :name "Option",
  :reward 0,
  :tpn-type :activity,
  :uid :act-22},
 :act-7
 {:args [],
  :argsmap {},
  :command "option",
  :constraints #{:tc-6},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Option",
  :end-node :node-5,
  :htn-node :hem-12,
  :name "Option",
  :reward 0,
  :tpn-type :activity,
  :uid :act-7},
 :na-12
 {:constraints #{},
  :end-node :node-8,
  :tpn-type :null-activity,
  :uid :na-12},
 :na-13
 {:constraints #{},
  :end-node :node-9,
  :tpn-type :null-activity,
  :uid :na-13},
 :na-18
 {:constraints #{},
  :end-node :node-17,
  :tpn-type :null-activity,
  :uid :na-18},
 :na-19
 {:constraints #{},
  :end-node :node-9,
  :tpn-type :null-activity,
  :uid :na-19},
 :na-25
 {:constraints #{},
  :end-node :node-23,
  :tpn-type :null-activity,
  :uid :na-25},
 :na-26
 {:constraints #{},
  :end-node :node-9,
  :tpn-type :null-activity,
  :uid :na-26},
 :net-3
 {:begin-node :node-10,
  :end-node :node-9,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-10
 {:activities #{:na-25 :na-12 :na-18},
  :constraints #{:tc-4},
  :end-node :node-9,
  :htn-node :hem-12,
  :incidence-set #{},
  :tpn-type :p-begin,
  :uid :node-10},
 :node-14
 {:activities #{:na-19},
  :constraints #{},
  :incidence-set #{:act-16},
  :tpn-type :state,
  :uid :node-14},
 :node-17
 {:activities #{:act-16},
  :constraints #{},
  :htn-node :hem-12,
  :incidence-set #{:na-18},
  :tpn-type :state,
  :uid :node-17},
 :node-20
 {:activities #{:na-26},
  :constraints #{},
  :incidence-set #{:act-22},
  :tpn-type :state,
  :uid :node-20},
 :node-23
 {:activities #{:act-22},
  :constraints #{},
  :htn-node :hem-12,
  :incidence-set #{:na-25},
  :tpn-type :state,
  :uid :node-23},
 :node-5
 {:activities #{:na-13},
  :constraints #{},
  :incidence-set #{:act-7},
  :tpn-type :state,
  :uid :node-5},
 :node-8
 {:activities #{:act-7},
  :constraints #{},
  :htn-node :hem-12,
  :incidence-set #{:na-12},
  :tpn-type :state,
  :uid :node-8},
 :node-9
 {:activities #{},
  :constraints #{},
  :incidence-set #{:na-19 :na-13 :na-26},
  :tpn-type :p-end,
  :uid :node-9},
 :tc-15
 {:end-node :node-14,
  :tpn-type :temporal-constraint,
  :uid :tc-15,
  :value [65 75]},
 :tc-21
 {:end-node :node-20,
  :tpn-type :temporal-constraint,
  :uid :tc-21,
  :value [75 85]},
 :tc-4
 {:end-node :node-9,
  :tpn-type :temporal-constraint,
  :uid :tc-4,
  :value [50 100]},
 :tc-6
 {:end-node :node-5,
  :tpn-type :temporal-constraint,
  :uid :tc-6,
  :value [55 65]}}
