{:act-60
 {:args [],
  :constraints #{:tc-59},
  :uid :act-60,
  :name "Option",
  :tpn-type :activity,
  :argsmap {},
  :command "option",
  :htn-node :hem-109,
  :controllable false,
  :end-node :node-58,
  :label "TEMP-option",
  :display-name "Option"},
 :act-69
 {:args [],
  :constraints #{:tc-68},
  :uid :act-69,
  :name "Option",
  :tpn-type :activity,
  :argsmap {},
  :command "option",
  :htn-node :hem-109,
  :controllable false,
  :end-node :node-67,
  :label "TEMP-option",
  :display-name "Option"},
 :act-75
 {:args [],
  :constraints #{:tc-74},
  :uid :act-75,
  :name "Option",
  :tpn-type :activity,
  :argsmap {},
  :command "option",
  :htn-node :hem-109,
  :controllable false,
  :end-node :node-73,
  :label "TEMP-option",
  :display-name "Option"},
 :na-65
 {:tpn-type :null-activity,
  :uid :na-65,
  :constraints #{},
  :end-node :node-61},
 :na-66
 {:tpn-type :null-activity,
  :uid :na-66,
  :constraints #{},
  :end-node :node-62},
 :na-71
 {:tpn-type :null-activity,
  :uid :na-71,
  :constraints #{},
  :end-node :node-70},
 :na-72
 {:tpn-type :null-activity,
  :uid :na-72,
  :constraints #{},
  :end-node :node-62},
 :na-78
 {:tpn-type :null-activity,
  :uid :na-78,
  :constraints #{},
  :end-node :node-76},
 :na-79
 {:tpn-type :null-activity,
  :uid :na-79,
  :constraints #{},
  :end-node :node-62},
 :net-56
 {:tpn-type :network,
  :uid :net-56,
  :begin-node :node-63,
  :end-node :node-62},
 :network-id :net-56,
 :node-58
 {:tpn-type :state,
  :uid :node-58,
  :constraints #{},
  :activities #{:na-66},
  :incidence-set #{:act-60}},
 :node-61
 {:tpn-type :state,
  :uid :node-61,
  :constraints #{},
  :activities #{:act-60},
  :incidence-set #{:na-65},
  :htn-node :hem-109,
  :end-node :node-58},
 :node-62
 {:tpn-type :p-end,
  :uid :node-62,
  :constraints #{},
  :activities #{},
  :incidence-set #{:na-79 :na-66 :na-72}},
 :node-63
 {:tpn-type :p-begin,
  :uid :node-63,
  :constraints #{:tc-57},
  :activities #{:na-65 :na-71 :na-78},
  :incidence-set #{},
  :htn-node :hem-109,
  :end-node :node-62},
 :node-67
 {:tpn-type :state,
  :uid :node-67,
  :constraints #{},
  :activities #{:na-72},
  :incidence-set #{:act-69}},
 :node-70
 {:tpn-type :state,
  :uid :node-70,
  :constraints #{},
  :activities #{:act-69},
  :incidence-set #{:na-71},
  :htn-node :hem-109,
  :end-node :node-67},
 :node-73
 {:tpn-type :state,
  :uid :node-73,
  :constraints #{},
  :activities #{:na-79},
  :incidence-set #{:act-75}},
 :node-76
 {:tpn-type :state,
  :uid :node-76,
  :constraints #{},
  :activities #{:act-75},
  :incidence-set #{:na-78},
  :htn-node :hem-109,
  :end-node :node-73},
 :tc-57
 {:tpn-type :temporal-constraint,
  :uid :tc-57,
  :value [50 100],
  :end-node :node-62},
 :tc-59
 {:tpn-type :temporal-constraint,
  :uid :tc-59,
  :value [55 65],
  :end-node :node-58},
 :tc-68
 {:tpn-type :temporal-constraint,
  :uid :tc-68,
  :value [65 75],
  :end-node :node-67},
 :tc-74
 {:tpn-type :temporal-constraint,
  :uid :tc-74,
  :value [75 85],
  :end-node :node-73}}
