{:hedge-16 {:type :edge, :uid :hedge-16, :end-node :hem-14},
 :hem-14
 {:uid :hem-14,
  :type :htn-expanded-method,
  :label "Main()",
  :display-name "Main",
  :network :net-17,
  :incidence-set #{:hedge-16},
  :edges []},
 :henpt-7
 {:uid :henpt-7,
  :type :htn-expanded-nonprimitive-task,
  :label "parallel-feasible",
  :display-name "parallel-feasible",
  :incidence-set #{},
  :edges [:hedge-16]},
 :hpt-10
 {:type :htn-primitive-task,
  :uid :hpt-10,
  :name "option",
  :incidence-set #{},
  :edges [],
  :label "TEMP-option",
  :display-name "Option",
  :args [],
  :argsmap {}},
 :hpt-12
 {:type :htn-primitive-task,
  :uid :hpt-12,
  :name "option",
  :incidence-set #{},
  :edges [],
  :label "TEMP-option",
  :display-name "Option",
  :args [],
  :argsmap {}},
 :hpt-8
 {:type :htn-primitive-task,
  :uid :hpt-8,
  :name "option",
  :incidence-set #{},
  :edges [],
  :label "TEMP-option",
  :display-name "Option",
  :args [],
  :argsmap {}},
 :net-15
 {:type :htn-network,
  :uid :net-15,
  :display-name "parallel-feasible",
  :label "parallel-feasible",
  :rootnodes #{:henpt-7}},
 :net-17
 {:type :htn-network,
  :uid :net-17,
  :display-name "Main()",
  :label "Main()",
  :rootnodes #{:hpt-10 :hpt-8 :hpt-12}},
 :network :net-15}
