{:act-104
 {:args
  [{:type :literal, :value "host0301"}
   {:type :literal, :value "host0501"}
   {:type :literal, :value "1"}],
  :argsmap
  {"client" {:type :literal, :value "host0301"},
   "display" {:type :literal, :value "1"},
   "server" {:type :literal, :value "host0501"}},
  :command "video",
  :constraints #{:tc-103},
  :controllable false,
  :cost 0,
  :display-name "Video",
  :end-node :node-102,
  :htn-node :hem-61,
  :name
  "Video({:type :literal, :value \"host0301\"} {:type :literal, :value \"host0501\"} {:type :literal, :value \"1\"})",
  :reward 0,
  :tpn-type :activity,
  :uid :act-104},
 :act-110
 {:args
  [{:type :literal, :value "host0301"}
   {:type :literal, :value "host0701"}
   {:type :literal, :value "1"}],
  :argsmap
  {"client" {:type :literal, :value "host0301"},
   "display" {:type :literal, :value "1"},
   "server" {:type :literal, :value "host0701"}},
  :command "video",
  :constraints #{:tc-109},
  :controllable false,
  :cost 0,
  :display-name "Video",
  :end-node :node-108,
  :htn-node :hem-61,
  :name
  "Video({:type :literal, :value \"host0301\"} {:type :literal, :value \"host0701\"} {:type :literal, :value \"1\"})",
  :reward 0,
  :tpn-type :activity,
  :uid :act-110},
 :act-116
 {:args
  [{:type :literal, :value "host0501"}
   {:type :literal, :value "host0701"}
   {:type :literal, :value "1"}],
  :argsmap
  {"client" {:type :literal, :value "host0501"},
   "display" {:type :literal, :value "1"},
   "server" {:type :literal, :value "host0701"}},
  :command "video",
  :constraints #{:tc-115},
  :controllable false,
  :cost 0,
  :display-name "Video",
  :end-node :node-114,
  :htn-node :hem-61,
  :name
  "Video({:type :literal, :value \"host0501\"} {:type :literal, :value \"host0701\"} {:type :literal, :value \"1\"})",
  :reward 0,
  :tpn-type :activity,
  :uid :act-116},
 :act-21
 {:args
  [{:type :literal, :value "host0101"}
   {:type :literal, :value "host0301"}
   {:type :literal, :value "1"}],
  :argsmap
  {"client" {:type :literal, :value "host0101"},
   "display" {:type :literal, :value "1"},
   "server" {:type :literal, :value "host0301"}},
  :command "video",
  :constraints #{:tc-13},
  :controllable false,
  :cost 0,
  :display-name "Video",
  :end-node :node-12,
  :htn-node :hem-44,
  :name
  "Video({:type :literal, :value \"host0101\"} {:type :literal, :value \"host0301\"} {:type :literal, :value \"1\"})",
  :reward 0,
  :tpn-type :activity,
  :uid :act-21},
 :act-31
 {:args
  [{:type :literal, :value "host0101"}
   {:type :literal, :value "host0501"}
   {:type :literal, :value "1"}],
  :argsmap
  {"client" {:type :literal, :value "host0101"},
   "display" {:type :literal, :value "1"},
   "server" {:type :literal, :value "host0501"}},
  :command "video",
  :constraints #{:tc-26},
  :controllable false,
  :cost 0,
  :display-name "Video",
  :end-node :node-25,
  :htn-node :hem-46,
  :name
  "Video({:type :literal, :value \"host0101\"} {:type :literal, :value \"host0501\"} {:type :literal, :value \"1\"})",
  :reward 0,
  :tpn-type :activity,
  :uid :act-31},
 :act-41
 {:args
  [{:type :literal, :value "host0101"}
   {:type :literal, :value "host0701"}
   {:type :literal, :value "1"}],
  :argsmap
  {"client" {:type :literal, :value "host0101"},
   "display" {:type :literal, :value "1"},
   "server" {:type :literal, :value "host0701"}},
  :command "video",
  :constraints #{:tc-36},
  :controllable false,
  :cost 0,
  :display-name "Video",
  :end-node :node-35,
  :htn-node :hem-48,
  :name
  "Video({:type :literal, :value \"host0101\"} {:type :literal, :value \"host0701\"} {:type :literal, :value \"1\"})",
  :reward 0,
  :tpn-type :activity,
  :uid :act-41},
 :act-51
 {:args
  [{:type :literal, :value "host0301"}
   {:type :literal, :value "host0501"}
   {:type :literal, :value "1"}],
  :argsmap
  {"client" {:type :literal, :value "host0301"},
   "display" {:type :literal, :value "1"},
   "server" {:type :literal, :value "host0501"}},
  :command "video",
  :constraints #{:tc-46},
  :controllable false,
  :cost 0,
  :display-name "Video",
  :end-node :node-45,
  :htn-node :hem-50,
  :name
  "Video({:type :literal, :value \"host0301\"} {:type :literal, :value \"host0501\"} {:type :literal, :value \"1\"})",
  :reward 0,
  :tpn-type :activity,
  :uid :act-51},
 :act-61
 {:args
  [{:type :literal, :value "host0301"}
   {:type :literal, :value "host0701"}
   {:type :literal, :value "1"}],
  :argsmap
  {"client" {:type :literal, :value "host0301"},
   "display" {:type :literal, :value "1"},
   "server" {:type :literal, :value "host0701"}},
  :command "video",
  :constraints #{:tc-56},
  :controllable false,
  :cost 0,
  :display-name "Video",
  :end-node :node-55,
  :htn-node :hem-52,
  :name
  "Video({:type :literal, :value \"host0301\"} {:type :literal, :value \"host0701\"} {:type :literal, :value \"1\"})",
  :reward 0,
  :tpn-type :activity,
  :uid :act-61},
 :act-72
 {:args
  [{:type :literal, :value "host0501"}
   {:type :literal, :value "host0701"}
   {:type :literal, :value "1"}],
  :argsmap
  {"client" {:type :literal, :value "host0501"},
   "display" {:type :literal, :value "1"},
   "server" {:type :literal, :value "host0701"}},
  :command "video",
  :constraints #{:tc-66},
  :controllable false,
  :cost 0,
  :display-name "Video",
  :end-node :node-65,
  :htn-node :hem-54,
  :name
  "Video({:type :literal, :value \"host0501\"} {:type :literal, :value \"host0701\"} {:type :literal, :value \"1\"})",
  :reward 0,
  :tpn-type :activity,
  :uid :act-72},
 :act-83
 {:args
  [{:type :literal, :value "host0101"}
   {:type :literal, :value "host0301"}
   {:type :literal, :value "1"}],
  :argsmap
  {"client" {:type :literal, :value "host0101"},
   "display" {:type :literal, :value "1"},
   "server" {:type :literal, :value "host0301"}},
  :command "video",
  :constraints #{:tc-82},
  :controllable false,
  :cost 0,
  :display-name "Video",
  :end-node :node-81,
  :htn-node :hem-61,
  :name
  "Video({:type :literal, :value \"host0101\"} {:type :literal, :value \"host0301\"} {:type :literal, :value \"1\"})",
  :reward 0,
  :tpn-type :activity,
  :uid :act-83},
 :act-92
 {:args
  [{:type :literal, :value "host0101"}
   {:type :literal, :value "host0501"}
   {:type :literal, :value "1"}],
  :argsmap
  {"client" {:type :literal, :value "host0101"},
   "display" {:type :literal, :value "1"},
   "server" {:type :literal, :value "host0501"}},
  :command "video",
  :constraints #{:tc-91},
  :controllable false,
  :cost 0,
  :display-name "Video",
  :end-node :node-90,
  :htn-node :hem-61,
  :name
  "Video({:type :literal, :value \"host0101\"} {:type :literal, :value \"host0501\"} {:type :literal, :value \"1\"})",
  :reward 0,
  :tpn-type :activity,
  :uid :act-92},
 :act-98
 {:args
  [{:type :literal, :value "host0101"}
   {:type :literal, :value "host0701"}
   {:type :literal, :value "1"}],
  :argsmap
  {"client" {:type :literal, :value "host0101"},
   "display" {:type :literal, :value "1"},
   "server" {:type :literal, :value "host0701"}},
  :command "video",
  :constraints #{:tc-97},
  :controllable false,
  :cost 0,
  :display-name "Video",
  :end-node :node-96,
  :htn-node :hem-61,
  :name
  "Video({:type :literal, :value \"host0101\"} {:type :literal, :value \"host0701\"} {:type :literal, :value \"1\"})",
  :reward 0,
  :tpn-type :activity,
  :uid :act-98},
 :na-100
 {:constraints #{},
  :end-node :node-99,
  :tpn-type :null-activity,
  :uid :na-100},
 :na-101
 {:constraints #{},
  :end-node :node-85,
  :tpn-type :null-activity,
  :uid :na-101},
 :na-106
 {:constraints #{},
  :end-node :node-105,
  :tpn-type :null-activity,
  :uid :na-106},
 :na-107
 {:constraints #{},
  :end-node :node-85,
  :tpn-type :null-activity,
  :uid :na-107},
 :na-112
 {:constraints #{},
  :end-node :node-111,
  :tpn-type :null-activity,
  :uid :na-112},
 :na-113
 {:constraints #{},
  :end-node :node-85,
  :tpn-type :null-activity,
  :uid :na-113},
 :na-119
 {:constraints #{},
  :end-node :node-117,
  :tpn-type :null-activity,
  :uid :na-119},
 :na-120
 {:constraints #{},
  :end-node :node-85,
  :tpn-type :null-activity,
  :uid :na-120},
 :na-19
 {:constraints #{},
  :end-node :node-15,
  :tpn-type :null-activity,
  :uid :na-19},
 :na-23
 {:constraints #{},
  :end-node :node-22,
  :tpn-type :null-activity,
  :uid :na-23},
 :na-29
 {:constraints #{},
  :end-node :node-15,
  :tpn-type :null-activity,
  :uid :na-29},
 :na-33
 {:constraints #{},
  :end-node :node-32,
  :tpn-type :null-activity,
  :uid :na-33},
 :na-39
 {:constraints #{},
  :end-node :node-15,
  :tpn-type :null-activity,
  :uid :na-39},
 :na-43
 {:constraints #{},
  :end-node :node-42,
  :tpn-type :null-activity,
  :uid :na-43},
 :na-49
 {:constraints #{},
  :end-node :node-15,
  :tpn-type :null-activity,
  :uid :na-49},
 :na-53
 {:constraints #{},
  :end-node :node-52,
  :tpn-type :null-activity,
  :uid :na-53},
 :na-59
 {:constraints #{},
  :end-node :node-15,
  :tpn-type :null-activity,
  :uid :na-59},
 :na-63
 {:constraints #{},
  :end-node :node-62,
  :tpn-type :null-activity,
  :uid :na-63},
 :na-70
 {:constraints #{},
  :end-node :node-15,
  :tpn-type :null-activity,
  :uid :na-70},
 :na-74
 {:constraints #{},
  :end-node :node-73,
  :tpn-type :null-activity,
  :uid :na-74},
 :na-87
 {:constraints #{},
  :end-node :node-86,
  :tpn-type :null-activity,
  :uid :na-87},
 :na-88
 {:constraints #{},
  :end-node :node-84,
  :tpn-type :null-activity,
  :uid :na-88},
 :na-89
 {:constraints #{},
  :end-node :node-85,
  :tpn-type :null-activity,
  :uid :na-89},
 :na-94
 {:constraints #{},
  :end-node :node-93,
  :tpn-type :null-activity,
  :uid :na-94},
 :na-95
 {:constraints #{},
  :end-node :node-85,
  :tpn-type :null-activity,
  :uid :na-95},
 :net-3
 {:begin-node :node-16,
  :end-node :node-85,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-102
 {:activities #{:na-107},
  :constraints #{},
  :incidence-set #{:act-104},
  :tpn-type :state,
  :uid :node-102},
 :node-105
 {:activities #{:act-104},
  :constraints #{},
  :htn-node :hem-61,
  :incidence-set #{:na-106},
  :tpn-type :state,
  :uid :node-105},
 :node-108
 {:activities #{:na-113},
  :constraints #{},
  :incidence-set #{:act-110},
  :tpn-type :state,
  :uid :node-108},
 :node-111
 {:activities #{:act-110},
  :constraints #{},
  :htn-node :hem-61,
  :incidence-set #{:na-112},
  :tpn-type :state,
  :uid :node-111},
 :node-114
 {:activities #{:na-120},
  :constraints #{},
  :incidence-set #{:act-116},
  :tpn-type :state,
  :uid :node-114},
 :node-117
 {:activities #{:act-116},
  :constraints #{},
  :htn-node :hem-61,
  :incidence-set #{:na-119},
  :tpn-type :state,
  :uid :node-117},
 :node-12
 {:activities #{:na-19},
  :constraints #{},
  :incidence-set #{:act-21},
  :tpn-type :state,
  :uid :node-12},
 :node-15
 {:activities #{:na-87},
  :constraints #{},
  :incidence-set #{:na-39 :na-19 :na-70 :na-29 :na-59 :na-49},
  :tpn-type :p-end,
  :uid :node-15},
 :node-16
 {:activities #{:na-23 :na-33 :na-43 :na-63 :na-74 :na-53},
  :constraints #{:tc-9},
  :end-node :node-15,
  :htn-node :hem-31,
  :incidence-set #{},
  :tpn-type :p-begin,
  :uid :node-16},
 :node-22
 {:activities #{:act-21},
  :constraints #{},
  :htn-node :hem-44,
  :incidence-set #{:na-23},
  :tpn-type :state,
  :uid :node-22},
 :node-25
 {:activities #{:na-29},
  :constraints #{},
  :incidence-set #{:act-31},
  :tpn-type :state,
  :uid :node-25},
 :node-32
 {:activities #{:act-31},
  :constraints #{},
  :htn-node :hem-46,
  :incidence-set #{:na-33},
  :tpn-type :state,
  :uid :node-32},
 :node-35
 {:activities #{:na-39},
  :constraints #{},
  :incidence-set #{:act-41},
  :tpn-type :state,
  :uid :node-35},
 :node-42
 {:activities #{:act-41},
  :constraints #{},
  :htn-node :hem-48,
  :incidence-set #{:na-43},
  :tpn-type :state,
  :uid :node-42},
 :node-45
 {:activities #{:na-49},
  :constraints #{},
  :incidence-set #{:act-51},
  :tpn-type :state,
  :uid :node-45},
 :node-52
 {:activities #{:act-51},
  :constraints #{},
  :htn-node :hem-50,
  :incidence-set #{:na-53},
  :tpn-type :state,
  :uid :node-52},
 :node-55
 {:activities #{:na-59},
  :constraints #{},
  :incidence-set #{:act-61},
  :tpn-type :state,
  :uid :node-55},
 :node-62
 {:activities #{:act-61},
  :constraints #{},
  :htn-node :hem-52,
  :incidence-set #{:na-63},
  :tpn-type :state,
  :uid :node-62},
 :node-65
 {:activities #{:na-70},
  :constraints #{},
  :incidence-set #{:act-72},
  :tpn-type :state,
  :uid :node-65},
 :node-73
 {:activities #{:act-72},
  :constraints #{},
  :htn-node :hem-54,
  :incidence-set #{:na-74},
  :tpn-type :state,
  :uid :node-73},
 :node-81
 {:activities #{:na-89},
  :constraints #{},
  :incidence-set #{:act-83},
  :tpn-type :state,
  :uid :node-81},
 :node-84
 {:activities #{:act-83},
  :constraints #{},
  :htn-node :hem-61,
  :incidence-set #{:na-88},
  :tpn-type :state,
  :uid :node-84},
 :node-85
 {:activities #{},
  :constraints #{},
  :incidence-set #{:na-101 :na-120 :na-95 :na-113 :na-89 :na-107},
  :tpn-type :p-end,
  :uid :node-85},
 :node-86
 {:activities #{:na-88 :na-112 :na-119 :na-100 :na-106 :na-94},
  :constraints #{:tc-77},
  :end-node :node-85,
  :htn-node :hem-61,
  :incidence-set #{:na-87},
  :tpn-type :p-begin,
  :uid :node-86},
 :node-90
 {:activities #{:na-95},
  :constraints #{},
  :incidence-set #{:act-92},
  :tpn-type :state,
  :uid :node-90},
 :node-93
 {:activities #{:act-92},
  :constraints #{},
  :htn-node :hem-61,
  :incidence-set #{:na-94},
  :tpn-type :state,
  :uid :node-93},
 :node-96
 {:activities #{:na-101},
  :constraints #{},
  :incidence-set #{:act-98},
  :tpn-type :state,
  :uid :node-96},
 :node-99
 {:activities #{:act-98},
  :constraints #{},
  :htn-node :hem-61,
  :incidence-set #{:na-100},
  :tpn-type :state,
  :uid :node-99},
 :tc-103
 {:end-node :node-102,
  :tpn-type :temporal-constraint,
  :uid :tc-103,
  :value [5 13]},
 :tc-109
 {:end-node :node-108,
  :tpn-type :temporal-constraint,
  :uid :tc-109,
  :value [5 14]},
 :tc-115
 {:end-node :node-114,
  :tpn-type :temporal-constraint,
  :uid :tc-115,
  :value [5 15]},
 :tc-13
 {:end-node :node-12,
  :tpn-type :temporal-constraint,
  :uid :tc-13,
  :value [5 10]},
 :tc-26
 {:end-node :node-25,
  :tpn-type :temporal-constraint,
  :uid :tc-26,
  :value [5 11]},
 :tc-36
 {:end-node :node-35,
  :tpn-type :temporal-constraint,
  :uid :tc-36,
  :value [5 12]},
 :tc-46
 {:end-node :node-45,
  :tpn-type :temporal-constraint,
  :uid :tc-46,
  :value [5 13]},
 :tc-56
 {:end-node :node-55,
  :tpn-type :temporal-constraint,
  :uid :tc-56,
  :value [5 14]},
 :tc-66
 {:end-node :node-65,
  :tpn-type :temporal-constraint,
  :uid :tc-66,
  :value [5 15]},
 :tc-77
 {:end-node :node-85,
  :tpn-type :temporal-constraint,
  :uid :tc-77,
  :value [15 25]},
 :tc-82
 {:end-node :node-81,
  :tpn-type :temporal-constraint,
  :uid :tc-82,
  :value [5 10]},
 :tc-9
 {:end-node :node-15,
  :tpn-type :temporal-constraint,
  :uid :tc-9,
  :value [20 30]},
 :tc-91
 {:end-node :node-90,
  :tpn-type :temporal-constraint,
  :uid :tc-91,
  :value [5 11]},
 :tc-97
 {:end-node :node-96,
  :tpn-type :temporal-constraint,
  :uid :tc-97,
  :value [5 12]}}
