{:hedge-111 {:type :edge, :uid :hedge-111, :end-node :hem-109},
 :hem-109
 {:uid :hem-109,
  :type :htn-expanded-method,
  :label "Main()",
  :display-name "Main",
  :network :net-112,
  :incidence-set #{:hedge-111},
  :edges []},
 :henpt-102
 {:uid :henpt-102,
  :type :htn-expanded-nonprimitive-task,
  :label "parallel-feasible",
  :display-name "parallel-feasible",
  :incidence-set #{},
  :edges [:hedge-111]},
 :hpt-103
 {:type :htn-primitive-task,
  :uid :hpt-103,
  :name "option",
  :incidence-set #{},
  :edges [],
  :label "TEMP-option",
  :display-name "Option",
  :args [],
  :argsmap {}},
 :hpt-105
 {:type :htn-primitive-task,
  :uid :hpt-105,
  :name "option",
  :incidence-set #{},
  :edges [],
  :label "TEMP-option",
  :display-name "Option",
  :args [],
  :argsmap {}},
 :hpt-107
 {:type :htn-primitive-task,
  :uid :hpt-107,
  :name "option",
  :incidence-set #{},
  :edges [],
  :label "TEMP-option",
  :display-name "Option",
  :args [],
  :argsmap {}},
 :net-110
 {:type :htn-network,
  :uid :net-110,
  :display-name "parallel-feasible",
  :label "parallel-feasible",
  :rootnodes #{:henpt-102}},
 :net-112
 {:type :htn-network,
  :uid :net-112,
  :display-name "Main()",
  :label "Main()",
  :rootnodes #{:hpt-105 :hpt-103 :hpt-107}},
 :network :net-110}
