{:hedge-100
 {:display-name "1", :end-node :hem-63, :type :edge, :uid :hedge-100},
 :hedge-102 {:end-node :henpt-56, :type :edge, :uid :hedge-102},
 :hedge-103
 {:display-name "2", :end-node :hem-65, :type :edge, :uid :hedge-103},
 :hedge-105 {:end-node :henpt-57, :type :edge, :uid :hedge-105},
 :hedge-106
 {:display-name "3", :end-node :hem-67, :type :edge, :uid :hedge-106},
 :hedge-108 {:end-node :henpt-58, :type :edge, :uid :hedge-108},
 :hedge-109
 {:display-name "4", :end-node :hem-69, :type :edge, :uid :hedge-109},
 :hedge-111 {:end-node :henpt-59, :type :edge, :uid :hedge-111},
 :hedge-112
 {:display-name "5", :end-node :hem-71, :type :edge, :uid :hedge-112},
 :hedge-114 {:end-node :hem-77, :type :edge, :uid :hedge-114},
 :hedge-116
 {:display-name "1", :end-node :hem-80, :type :edge, :uid :hedge-116},
 :hedge-118 {:end-node :henpt-73, :type :edge, :uid :hedge-118},
 :hedge-119
 {:display-name "2", :end-node :hem-82, :type :edge, :uid :hedge-119},
 :hedge-121 {:end-node :henpt-74, :type :edge, :uid :hedge-121},
 :hedge-122
 {:display-name "3", :end-node :hem-84, :type :edge, :uid :hedge-122},
 :hedge-124 {:end-node :henpt-75, :type :edge, :uid :hedge-124},
 :hedge-125
 {:display-name "4", :end-node :hem-86, :type :edge, :uid :hedge-125},
 :hedge-127 {:end-node :henpt-76, :type :edge, :uid :hedge-127},
 :hedge-128
 {:display-name "5", :end-node :hem-88, :type :edge, :uid :hedge-128},
 :hedge-90 {:end-node :hem-47, :type :edge, :uid :hedge-90},
 :hedge-92 {:end-node :hem-53, :type :edge, :uid :hedge-92},
 :hedge-94 {:end-node :hpt-49, :type :edge, :uid :hedge-94},
 :hedge-95 {:end-node :hpt-50, :type :edge, :uid :hedge-95},
 :hedge-96 {:end-node :hpt-51, :type :edge, :uid :hedge-96},
 :hedge-97 {:end-node :hpt-52, :type :edge, :uid :hedge-97},
 :hedge-98 {:end-node :hem-60, :type :edge, :uid :hedge-98},
 :hem-47
 {:args [qc1 qc2 qc3],
  :display-name "Waypoints",
  :edges [:hedge-92 :hedge-98 :hedge-114],
  :incidence-set #{:hedge-90},
  :network :net-91,
  :type :htn-expanded-method,
  :uid :hem-47},
 :hem-53
 {:args [qc1],
  :display-name "Circuit One",
  :edges [],
  :incidence-set #{},
  :network :net-93,
  :type :htn-expanded-method,
  :uid :hem-53},
 :hem-60
 {:args [qc2],
  :display-name "Circuit Two",
  :edges [:hedge-100 :hedge-103 :hedge-106 :hedge-109 :hedge-112],
  :incidence-set #{},
  :network :net-99,
  :type :htn-expanded-method,
  :uid :hem-60},
 :hem-63
 {:args [],
  :display-name "Wp 2",
  :edges [],
  :incidence-set #{},
  :network :net-101,
  :type :htn-expanded-method,
  :uid :hem-63},
 :hem-65
 {:args [],
  :display-name "Wp 3",
  :edges [],
  :incidence-set #{},
  :network :net-104,
  :type :htn-expanded-method,
  :uid :hem-65},
 :hem-67
 {:args [],
  :display-name "Wp 4",
  :edges [],
  :incidence-set #{},
  :network :net-107,
  :type :htn-expanded-method,
  :uid :hem-67},
 :hem-69
 {:args [],
  :display-name "Wp 1",
  :edges [],
  :incidence-set #{},
  :network :net-110,
  :type :htn-expanded-method,
  :uid :hem-69},
 :hem-71
 {:args [],
  :display-name "Wp 2",
  :edges [],
  :incidence-set #{},
  :network :net-113,
  :type :htn-expanded-method,
  :uid :hem-71},
 :hem-77
 {:args [qc3],
  :display-name "Circuit Three",
  :edges [:hedge-116 :hedge-119 :hedge-122 :hedge-125 :hedge-128],
  :incidence-set #{},
  :network :net-115,
  :type :htn-expanded-method,
  :uid :hem-77},
 :hem-80
 {:args [],
  :display-name "Wp 3",
  :edges [],
  :incidence-set #{},
  :network :net-117,
  :type :htn-expanded-method,
  :uid :hem-80},
 :hem-82
 {:args [],
  :display-name "Wp 4",
  :edges [],
  :incidence-set #{},
  :network :net-120,
  :type :htn-expanded-method,
  :uid :hem-82},
 :hem-84
 {:args [],
  :display-name "Wp 1",
  :edges [],
  :incidence-set #{},
  :network :net-123,
  :type :htn-expanded-method,
  :uid :hem-84},
 :hem-86
 {:args [],
  :display-name "Wp 2",
  :edges [],
  :incidence-set #{},
  :network :net-126,
  :type :htn-expanded-method,
  :uid :hem-86},
 :hem-88
 {:args [],
  :display-name "Wp 3",
  :edges [],
  :incidence-set #{},
  :network :net-129,
  :type :htn-expanded-method,
  :uid :hem-88},
 :henpt-43
 {:display-name "qc-waypoints",
  :edges [:hedge-90],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-43},
 :henpt-44
 {:display-name "Circuit One",
  :edges [],
  :incidence-set #{},
  :name "circuit-one",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-44},
 :henpt-45
 {:display-name "Circuit Two",
  :edges [],
  :incidence-set #{},
  :name "circuit-two",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-45},
 :henpt-46
 {:display-name "Circuit Three",
  :edges [],
  :incidence-set #{},
  :name "circuit-three",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-46},
 :henpt-55
 {:display-name "Wp 2",
  :edges [:hedge-102],
  :incidence-set #{},
  :name "wp2",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-55},
 :henpt-56
 {:display-name "Wp 3",
  :edges [:hedge-105],
  :incidence-set #{:hedge-102},
  :name "wp3",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-56},
 :henpt-57
 {:display-name "Wp 4",
  :edges [:hedge-108],
  :incidence-set #{:hedge-105},
  :name "wp4",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-57},
 :henpt-58
 {:display-name "Wp 1",
  :edges [:hedge-111],
  :incidence-set #{:hedge-108},
  :name "wp1",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-58},
 :henpt-59
 {:display-name "Wp 2",
  :edges [],
  :incidence-set #{:hedge-111},
  :name "wp2",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-59},
 :henpt-72
 {:display-name "Wp 3",
  :edges [:hedge-118],
  :incidence-set #{},
  :name "wp3",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-72},
 :henpt-73
 {:display-name "Wp 4",
  :edges [:hedge-121],
  :incidence-set #{:hedge-118},
  :name "wp4",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-73},
 :henpt-74
 {:display-name "Wp 1",
  :edges [:hedge-124],
  :incidence-set #{:hedge-121},
  :name "wp1",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-74},
 :henpt-75
 {:display-name "Wp 2",
  :edges [:hedge-127],
  :incidence-set #{:hedge-124},
  :name "wp2",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-75},
 :henpt-76
 {:display-name "Wp 3",
  :edges [],
  :incidence-set #{:hedge-127},
  :name "wp3",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-76},
 :hpt-48
 {:args
  [{:type :literal, :value 42.44537}
   {:type :literal, :value -71.227895}
   {:type :literal, :value 1.0}
   {:type :literal, :value 80}],
  :argsmap
  {"alt" {:type :literal, :value 1.0},
   "lat" {:type :literal, :value 42.44537},
   "lon" {:type :literal, :value -71.227895},
   "yaw" {:type :literal, :value 80}},
  :display-name "Location",
  :edges [:hedge-94],
  :incidence-set #{},
  :interface "RMQ",
  :name "location",
  :plant-part "pp1",
  :plantid "qc1",
  :type :htn-primitive-task,
  :uid :hpt-48},
 :hpt-49
 {:args
  [{:type :literal, :value 42.445435}
   {:type :literal, :value -71.227846}
   {:type :literal, :value 2.0}
   {:type :literal, :value 170}],
  :argsmap
  {"alt" {:type :literal, :value 2.0},
   "lat" {:type :literal, :value 42.445435},
   "lon" {:type :literal, :value -71.227846},
   "yaw" {:type :literal, :value 170}},
  :display-name "Location",
  :edges [:hedge-95],
  :incidence-set #{:hedge-94},
  :interface "RMQ",
  :name "location",
  :plant-part "pp1",
  :plantid "qc1",
  :type :htn-primitive-task,
  :uid :hpt-49},
 :hpt-50
 {:args
  [{:type :literal, :value 42.445389}
   {:type :literal, :value -71.227737}
   {:type :literal, :value 3.0}
   {:type :literal, :value 260}],
  :argsmap
  {"alt" {:type :literal, :value 3.0},
   "lat" {:type :literal, :value 42.445389},
   "lon" {:type :literal, :value -71.227737},
   "yaw" {:type :literal, :value 260}},
  :display-name "Location",
  :edges [:hedge-96],
  :incidence-set #{:hedge-95},
  :interface "RMQ",
  :name "location",
  :plant-part "pp1",
  :plantid "qc1",
  :type :htn-primitive-task,
  :uid :hpt-50},
 :hpt-51
 {:args
  [{:type :literal, :value 42.445327}
   {:type :literal, :value -71.227788}
   {:type :literal, :value 4.0}
   {:type :literal, :value 350}],
  :argsmap
  {"alt" {:type :literal, :value 4.0},
   "lat" {:type :literal, :value 42.445327},
   "lon" {:type :literal, :value -71.227788},
   "yaw" {:type :literal, :value 350}},
  :display-name "Location",
  :edges [:hedge-97],
  :incidence-set #{:hedge-96},
  :interface "RMQ",
  :name "location",
  :plant-part "pp1",
  :plantid "qc1",
  :type :htn-primitive-task,
  :uid :hpt-51},
 :hpt-52
 {:args
  [{:type :literal, :value 42.44537}
   {:type :literal, :value -71.227899}
   {:type :literal, :value 1.0}
   {:type :literal, :value 80}],
  :argsmap
  {"alt" {:type :literal, :value 1.0},
   "lat" {:type :literal, :value 42.44537},
   "lon" {:type :literal, :value -71.227899},
   "yaw" {:type :literal, :value 80}},
  :display-name "Location",
  :edges [],
  :incidence-set #{:hedge-97},
  :interface "RMQ",
  :name "location",
  :plant-part "pp1",
  :plantid "qc1",
  :type :htn-primitive-task,
  :uid :hpt-52},
 :hpt-62
 {:args
  [{:type :literal, :value 42.445435}
   {:type :literal, :value -71.227842}
   {:type :literal, :value 2.0}
   {:type :literal, :value 170}],
  :argsmap
  {"alt" {:type :literal, :value 2.0},
   "lat" {:type :literal, :value 42.445435},
   "lon" {:type :literal, :value -71.227842},
   "yaw" {:type :literal, :value 170}},
  :display-name "Location",
  :edges [],
  :incidence-set #{},
  :interface "ZMQ",
  :name "location",
  :plant-part "pp2",
  :plantid "qc2",
  :type :htn-primitive-task,
  :uid :hpt-62},
 :hpt-64
 {:args
  [{:type :literal, :value 42.445389}
   {:type :literal, :value -71.227733}
   {:type :literal, :value 3.0}
   {:type :literal, :value 260}],
  :argsmap
  {"alt" {:type :literal, :value 3.0},
   "lat" {:type :literal, :value 42.445389},
   "lon" {:type :literal, :value -71.227733},
   "yaw" {:type :literal, :value 260}},
  :display-name "Location",
  :edges [],
  :incidence-set #{},
  :interface "ZMQ",
  :name "location",
  :plant-part "pp2",
  :plantid "qc2",
  :type :htn-primitive-task,
  :uid :hpt-64},
 :hpt-66
 {:args
  [{:type :literal, :value 42.445327}
   {:type :literal, :value -71.227784}
   {:type :literal, :value 4.0}
   {:type :literal, :value 350}],
  :argsmap
  {"alt" {:type :literal, :value 4.0},
   "lat" {:type :literal, :value 42.445327},
   "lon" {:type :literal, :value -71.227784},
   "yaw" {:type :literal, :value 350}},
  :display-name "Location",
  :edges [],
  :incidence-set #{},
  :interface "ZMQ",
  :name "location",
  :plant-part "pp2",
  :plantid "qc2",
  :type :htn-primitive-task,
  :uid :hpt-66},
 :hpt-68
 {:args
  [{:type :literal, :value 42.44537}
   {:type :literal, :value -71.227891}
   {:type :literal, :value 1.0}
   {:type :literal, :value 80}],
  :argsmap
  {"alt" {:type :literal, :value 1.0},
   "lat" {:type :literal, :value 42.44537},
   "lon" {:type :literal, :value -71.227891},
   "yaw" {:type :literal, :value 80}},
  :display-name "Location",
  :edges [],
  :incidence-set #{},
  :interface "ZMQ",
  :name "location",
  :plant-part "pp2",
  :plantid "qc2",
  :type :htn-primitive-task,
  :uid :hpt-68},
 :hpt-70
 {:args
  [{:type :literal, :value 42.445435}
   {:type :literal, :value -71.227842}
   {:type :literal, :value 2.0}
   {:type :literal, :value 170}],
  :argsmap
  {"alt" {:type :literal, :value 2.0},
   "lat" {:type :literal, :value 42.445435},
   "lon" {:type :literal, :value -71.227842},
   "yaw" {:type :literal, :value 170}},
  :display-name "Location",
  :edges [],
  :incidence-set #{},
  :interface "ZMQ",
  :name "location",
  :plant-part "pp2",
  :plantid "qc2",
  :type :htn-primitive-task,
  :uid :hpt-70},
 :hpt-79
 {:args
  [{:type :literal, :value 42.445389}
   {:type :literal, :value -71.227733}
   {:type :literal, :value 3.0}
   {:type :literal, :value 260}],
  :argsmap
  {"alt" {:type :literal, :value 3.0},
   "lat" {:type :literal, :value 42.445389},
   "lon" {:type :literal, :value -71.227733},
   "yaw" {:type :literal, :value 260}},
  :display-name "Location",
  :edges [],
  :incidence-set #{},
  :name "location",
  :plant-part "pp3",
  :plantid "qc3",
  :type :htn-primitive-task,
  :uid :hpt-79},
 :hpt-81
 {:args
  [{:type :literal, :value 42.445327}
   {:type :literal, :value -71.227784}
   {:type :literal, :value 4.0}
   {:type :literal, :value 350}],
  :argsmap
  {"alt" {:type :literal, :value 4.0},
   "lat" {:type :literal, :value 42.445327},
   "lon" {:type :literal, :value -71.227784},
   "yaw" {:type :literal, :value 350}},
  :display-name "Location",
  :edges [],
  :incidence-set #{},
  :name "location",
  :plant-part "pp3",
  :plantid "qc3",
  :type :htn-primitive-task,
  :uid :hpt-81},
 :hpt-83
 {:args
  [{:type :literal, :value 42.44537}
   {:type :literal, :value -71.227891}
   {:type :literal, :value 1.0}
   {:type :literal, :value 80}],
  :argsmap
  {"alt" {:type :literal, :value 1.0},
   "lat" {:type :literal, :value 42.44537},
   "lon" {:type :literal, :value -71.227891},
   "yaw" {:type :literal, :value 80}},
  :display-name "Location",
  :edges [],
  :incidence-set #{},
  :name "location",
  :plant-part "pp3",
  :plantid "qc3",
  :type :htn-primitive-task,
  :uid :hpt-83},
 :hpt-85
 {:args
  [{:type :literal, :value 42.445435}
   {:type :literal, :value -71.227842}
   {:type :literal, :value 2.0}
   {:type :literal, :value 170}],
  :argsmap
  {"alt" {:type :literal, :value 2.0},
   "lat" {:type :literal, :value 42.445435},
   "lon" {:type :literal, :value -71.227842},
   "yaw" {:type :literal, :value 170}},
  :display-name "Location",
  :edges [],
  :incidence-set #{},
  :name "location",
  :plant-part "pp3",
  :plantid "qc3",
  :type :htn-primitive-task,
  :uid :hpt-85},
 :hpt-87
 {:args
  [{:type :literal, :value 42.445389}
   {:type :literal, :value -71.227733}
   {:type :literal, :value 3.0}
   {:type :literal, :value 260}],
  :argsmap
  {"alt" {:type :literal, :value 3.0},
   "lat" {:type :literal, :value 42.445389},
   "lon" {:type :literal, :value -71.227733},
   "yaw" {:type :literal, :value 260}},
  :display-name "Location",
  :edges [],
  :incidence-set #{},
  :name "location",
  :plant-part "pp3",
  :plantid "qc3",
  :type :htn-primitive-task,
  :uid :hpt-87},
 :net-101
 {:display-name "Wp 2",
  :rootnodes #{:hpt-62},
  :type :htn-network,
  :uid :net-101},
 :net-104
 {:display-name "Wp 3",
  :rootnodes #{:hpt-64},
  :type :htn-network,
  :uid :net-104},
 :net-107
 {:display-name "Wp 4",
  :rootnodes #{:hpt-66},
  :type :htn-network,
  :uid :net-107},
 :net-110
 {:display-name "Wp 1",
  :rootnodes #{:hpt-68},
  :type :htn-network,
  :uid :net-110},
 :net-113
 {:display-name "Wp 2",
  :rootnodes #{:hpt-70},
  :type :htn-network,
  :uid :net-113},
 :net-115
 {:display-name "Circuit Three",
  :rootnodes #{:henpt-72},
  :type :htn-network,
  :uid :net-115},
 :net-117
 {:display-name "Wp 3",
  :rootnodes #{:hpt-79},
  :type :htn-network,
  :uid :net-117},
 :net-120
 {:display-name "Wp 4",
  :rootnodes #{:hpt-81},
  :type :htn-network,
  :uid :net-120},
 :net-123
 {:display-name "Wp 1",
  :rootnodes #{:hpt-83},
  :type :htn-network,
  :uid :net-123},
 :net-126
 {:display-name "Wp 2",
  :rootnodes #{:hpt-85},
  :type :htn-network,
  :uid :net-126},
 :net-129
 {:display-name "Wp 3",
  :rootnodes #{:hpt-87},
  :type :htn-network,
  :uid :net-129},
 :net-89
 {:display-name "qc-waypoints",
  :rootnodes #{:henpt-43},
  :type :htn-network,
  :uid :net-89},
 :net-91
 {:display-name "Waypoints",
  :rootnodes #{:henpt-44 :henpt-46 :henpt-45},
  :type :htn-network,
  :uid :net-91},
 :net-93
 {:display-name "Circuit One",
  :rootnodes #{:hpt-48},
  :type :htn-network,
  :uid :net-93},
 :net-99
 {:display-name "Circuit Two",
  :rootnodes #{:henpt-55},
  :type :htn-network,
  :uid :net-99},
 :network :net-89}
