{:hedge-207 {:type :edge, :uid :hedge-207, :end-node :hem-159},
 :hedge-209 {:type :edge, :uid :hedge-209, :end-node :hem-170},
 :hedge-211 {:type :edge, :uid :hedge-211, :end-node :hpt-162},
 :hedge-212 {:type :edge, :uid :hedge-212, :end-node :hpt-164},
 :hedge-213 {:type :edge, :uid :hedge-213, :end-node :hpt-166},
 :hedge-214 {:type :edge, :uid :hedge-214, :end-node :hpt-168},
 :hedge-215 {:type :edge, :uid :hedge-215, :end-node :hem-177},
 :hedge-217
 {:type :edge, :uid :hedge-217, :label "1", :end-node :hem-180},
 :hedge-219 {:type :edge, :uid :hedge-219, :end-node :henpt-173},
 :hedge-220
 {:type :edge, :uid :hedge-220, :label "2", :end-node :hem-182},
 :hedge-222 {:type :edge, :uid :hedge-222, :end-node :henpt-174},
 :hedge-223
 {:type :edge, :uid :hedge-223, :label "3", :end-node :hem-184},
 :hedge-225 {:type :edge, :uid :hedge-225, :end-node :henpt-175},
 :hedge-226
 {:type :edge, :uid :hedge-226, :label "4", :end-node :hem-186},
 :hedge-228 {:type :edge, :uid :hedge-228, :end-node :henpt-176},
 :hedge-229
 {:type :edge, :uid :hedge-229, :label "5", :end-node :hem-188},
 :hedge-231 {:type :edge, :uid :hedge-231, :end-node :hem-194},
 :hedge-233
 {:type :edge, :uid :hedge-233, :label "1", :end-node :hem-197},
 :hedge-235 {:type :edge, :uid :hedge-235, :end-node :henpt-190},
 :hedge-236
 {:type :edge, :uid :hedge-236, :label "2", :end-node :hem-199},
 :hedge-238 {:type :edge, :uid :hedge-238, :end-node :henpt-191},
 :hedge-239
 {:type :edge, :uid :hedge-239, :label "3", :end-node :hem-201},
 :hedge-241 {:type :edge, :uid :hedge-241, :end-node :henpt-192},
 :hedge-242
 {:type :edge, :uid :hedge-242, :label "4", :end-node :hem-203},
 :hedge-244 {:type :edge, :uid :hedge-244, :end-node :henpt-193},
 :hedge-245
 {:type :edge, :uid :hedge-245, :label "5", :end-node :hem-205},
 :hem-159
 {:uid :hem-159,
  :type :htn-expanded-method,
  :label "Waypoints(qc1,qc2,qc3)",
  :display-name "Waypoints",
  :network :net-208,
  :incidence-set #{:hedge-207},
  :edges [:hedge-209 :hedge-215 :hedge-231]},
 :hem-170
 {:uid :hem-170,
  :type :htn-expanded-method,
  :label "Circuit One(qc1)",
  :display-name "Circuit One",
  :network :net-210,
  :incidence-set #{},
  :edges []},
 :hem-177
 {:uid :hem-177,
  :type :htn-expanded-method,
  :label "Circuit Two(qc2)",
  :display-name "Circuit Two",
  :network :net-216,
  :incidence-set #{},
  :edges [:hedge-217 :hedge-220 :hedge-223 :hedge-226 :hedge-229]},
 :hem-180
 {:uid :hem-180,
  :type :htn-expanded-method,
  :label "Wp 2()",
  :display-name "Wp 2",
  :network :net-218,
  :incidence-set #{},
  :edges []},
 :hem-182
 {:uid :hem-182,
  :type :htn-expanded-method,
  :label "Wp 3()",
  :display-name "Wp 3",
  :network :net-221,
  :incidence-set #{},
  :edges []},
 :hem-184
 {:uid :hem-184,
  :type :htn-expanded-method,
  :label "Wp 4()",
  :display-name "Wp 4",
  :network :net-224,
  :incidence-set #{},
  :edges []},
 :hem-186
 {:uid :hem-186,
  :type :htn-expanded-method,
  :label "Wp 1()",
  :display-name "Wp 1",
  :network :net-227,
  :incidence-set #{},
  :edges []},
 :hem-188
 {:uid :hem-188,
  :type :htn-expanded-method,
  :label "Wp 2()",
  :display-name "Wp 2",
  :network :net-230,
  :incidence-set #{},
  :edges []},
 :hem-194
 {:uid :hem-194,
  :type :htn-expanded-method,
  :label "Circuit Three(qc3)",
  :display-name "Circuit Three",
  :network :net-232,
  :incidence-set #{},
  :edges [:hedge-233 :hedge-236 :hedge-239 :hedge-242 :hedge-245]},
 :hem-197
 {:uid :hem-197,
  :type :htn-expanded-method,
  :label "Wp 3()",
  :display-name "Wp 3",
  :network :net-234,
  :incidence-set #{},
  :edges []},
 :hem-199
 {:uid :hem-199,
  :type :htn-expanded-method,
  :label "Wp 4()",
  :display-name "Wp 4",
  :network :net-237,
  :incidence-set #{},
  :edges []},
 :hem-201
 {:uid :hem-201,
  :type :htn-expanded-method,
  :label "Wp 1()",
  :display-name "Wp 1",
  :network :net-240,
  :incidence-set #{},
  :edges []},
 :hem-203
 {:uid :hem-203,
  :type :htn-expanded-method,
  :label "Wp 2()",
  :display-name "Wp 2",
  :network :net-243,
  :incidence-set #{},
  :edges []},
 :hem-205
 {:uid :hem-205,
  :type :htn-expanded-method,
  :label "Wp 3()",
  :display-name "Wp 3",
  :network :net-246,
  :incidence-set #{},
  :edges []},
 :henpt-155
 {:uid :henpt-155,
  :type :htn-expanded-nonprimitive-task,
  :label "qc-waypoints",
  :display-name "qc-waypoints",
  :incidence-set #{},
  :edges [:hedge-207]},
 :henpt-156
 {:uid :henpt-156,
  :name "circuit-one",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-circuit-one",
  :display-name "Circuit One",
  :incidence-set #{},
  :edges []},
 :henpt-157
 {:uid :henpt-157,
  :name "circuit-two",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-circuit-two",
  :display-name "Circuit Two",
  :incidence-set #{},
  :edges []},
 :henpt-158
 {:uid :henpt-158,
  :name "circuit-three",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-circuit-three",
  :display-name "Circuit Three",
  :incidence-set #{},
  :edges []},
 :henpt-172
 {:uid :henpt-172,
  :name "wp2",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-wp2",
  :display-name "Wp 2",
  :incidence-set #{},
  :edges [:hedge-219]},
 :henpt-173
 {:uid :henpt-173,
  :name "wp3",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-wp3",
  :display-name "Wp 3",
  :incidence-set #{:hedge-219},
  :edges [:hedge-222]},
 :henpt-174
 {:uid :henpt-174,
  :name "wp4",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-wp4",
  :display-name "Wp 4",
  :incidence-set #{:hedge-222},
  :edges [:hedge-225]},
 :henpt-175
 {:uid :henpt-175,
  :name "wp1",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-wp1",
  :display-name "Wp 1",
  :incidence-set #{:hedge-225},
  :edges [:hedge-228]},
 :henpt-176
 {:uid :henpt-176,
  :name "wp2",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-wp2",
  :display-name "Wp 2",
  :incidence-set #{:hedge-228},
  :edges []},
 :henpt-189
 {:uid :henpt-189,
  :name "wp3",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-wp3",
  :display-name "Wp 3",
  :incidence-set #{},
  :edges [:hedge-235]},
 :henpt-190
 {:uid :henpt-190,
  :name "wp4",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-wp4",
  :display-name "Wp 4",
  :incidence-set #{:hedge-235},
  :edges [:hedge-238]},
 :henpt-191
 {:uid :henpt-191,
  :name "wp1",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-wp1",
  :display-name "Wp 1",
  :incidence-set #{:hedge-238},
  :edges [:hedge-241]},
 :henpt-192
 {:uid :henpt-192,
  :name "wp2",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-wp2",
  :display-name "Wp 2",
  :incidence-set #{:hedge-241},
  :edges [:hedge-244]},
 :henpt-193
 {:uid :henpt-193,
  :name "wp3",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-wp3",
  :display-name "Wp 3",
  :incidence-set #{:hedge-244},
  :edges []},
 :hpt-160
 {:args [42.44537 -71.227895 1.0 80],
  :interface "RMQ",
  :plantid "qc1",
  :uid :hpt-160,
  :name "location",
  :argsmap {"lat" 42.44537, "lon" -71.227895, "alt" 1.0, "yaw" 80},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{},
  :edges [:hedge-211],
  :plant-part "pp1"},
 :hpt-162
 {:args [42.445435 -71.227846 2.0 170],
  :interface "RMQ",
  :plantid "qc1",
  :uid :hpt-162,
  :name "location",
  :argsmap {"lat" 42.445435, "lon" -71.227846, "alt" 2.0, "yaw" 170},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{:hedge-211},
  :edges [:hedge-212],
  :plant-part "pp1"},
 :hpt-164
 {:args [42.445389 -71.227737 3.0 260],
  :interface "RMQ",
  :plantid "qc1",
  :uid :hpt-164,
  :name "location",
  :argsmap {"lat" 42.445389, "lon" -71.227737, "alt" 3.0, "yaw" 260},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{:hedge-212},
  :edges [:hedge-213],
  :plant-part "pp1"},
 :hpt-166
 {:args [42.445327 -71.227788 4.0 350],
  :interface "RMQ",
  :plantid "qc1",
  :uid :hpt-166,
  :name "location",
  :argsmap {"lat" 42.445327, "lon" -71.227788, "alt" 4.0, "yaw" 350},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{:hedge-213},
  :edges [:hedge-214],
  :plant-part "pp1"},
 :hpt-168
 {:args [42.44537 -71.227899 1.0 80],
  :interface "RMQ",
  :plantid "qc1",
  :uid :hpt-168,
  :name "location",
  :argsmap {"lat" 42.44537, "lon" -71.227899, "alt" 1.0, "yaw" 80},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{:hedge-214},
  :edges [],
  :plant-part "pp1"},
 :hpt-179
 {:args [42.445435 -71.227842 2.0 170],
  :interface "ZMQ",
  :plantid "qc2",
  :uid :hpt-179,
  :name "location",
  :argsmap {"lat" 42.445435, "lon" -71.227842, "alt" 2.0, "yaw" 170},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{},
  :edges [],
  :plant-part "pp2"},
 :hpt-181
 {:args [42.445389 -71.227733 3.0 260],
  :interface "ZMQ",
  :plantid "qc2",
  :uid :hpt-181,
  :name "location",
  :argsmap {"lat" 42.445389, "lon" -71.227733, "alt" 3.0, "yaw" 260},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{},
  :edges [],
  :plant-part "pp2"},
 :hpt-183
 {:args [42.445327 -71.227784 4.0 350],
  :interface "ZMQ",
  :plantid "qc2",
  :uid :hpt-183,
  :name "location",
  :argsmap {"lat" 42.445327, "lon" -71.227784, "alt" 4.0, "yaw" 350},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{},
  :edges [],
  :plant-part "pp2"},
 :hpt-185
 {:args [42.44537 -71.227891 1.0 80],
  :interface "ZMQ",
  :plantid "qc2",
  :uid :hpt-185,
  :name "location",
  :argsmap {"lat" 42.44537, "lon" -71.227891, "alt" 1.0, "yaw" 80},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{},
  :edges [],
  :plant-part "pp2"},
 :hpt-187
 {:args [42.445435 -71.227842 2.0 170],
  :interface "ZMQ",
  :plantid "qc2",
  :uid :hpt-187,
  :name "location",
  :argsmap {"lat" 42.445435, "lon" -71.227842, "alt" 2.0, "yaw" 170},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{},
  :edges [],
  :plant-part "pp2"},
 :hpt-196
 {:args [42.445389 -71.227733 3.0 260],
  :plantid "qc3",
  :uid :hpt-196,
  :name "location",
  :argsmap {"lat" 42.445389, "lon" -71.227733, "alt" 3.0, "yaw" 260},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{},
  :edges [],
  :plant-part "pp3"},
 :hpt-198
 {:args [42.445327 -71.227784 4.0 350],
  :plantid "qc3",
  :uid :hpt-198,
  :name "location",
  :argsmap {"lat" 42.445327, "lon" -71.227784, "alt" 4.0, "yaw" 350},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{},
  :edges [],
  :plant-part "pp3"},
 :hpt-200
 {:args [42.44537 -71.227891 1.0 80],
  :plantid "qc3",
  :uid :hpt-200,
  :name "location",
  :argsmap {"lat" 42.44537, "lon" -71.227891, "alt" 1.0, "yaw" 80},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{},
  :edges [],
  :plant-part "pp3"},
 :hpt-202
 {:args [42.445435 -71.227842 2.0 170],
  :plantid "qc3",
  :uid :hpt-202,
  :name "location",
  :argsmap {"lat" 42.445435, "lon" -71.227842, "alt" 2.0, "yaw" 170},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{},
  :edges [],
  :plant-part "pp3"},
 :hpt-204
 {:args [42.445389 -71.227733 3.0 260],
  :plantid "qc3",
  :uid :hpt-204,
  :name "location",
  :argsmap {"lat" 42.445389, "lon" -71.227733, "alt" 3.0, "yaw" 260},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{},
  :edges [],
  :plant-part "pp3"},
 :net-206
 {:type :htn-network,
  :uid :net-206,
  :display-name "qc-waypoints",
  :label "qc-waypoints",
  :rootnodes #{:henpt-155}},
 :net-208
 {:type :htn-network,
  :uid :net-208,
  :display-name "Waypoints(qc1,qc2,qc3)",
  :label "Waypoints(qc1,qc2,qc3)",
  :rootnodes #{:henpt-157 :henpt-156 :henpt-158}},
 :net-210
 {:type :htn-network,
  :uid :net-210,
  :display-name "Circuit One(qc1)",
  :label "Circuit One(qc1)",
  :rootnodes #{:hpt-160}},
 :net-216
 {:type :htn-network,
  :uid :net-216,
  :display-name "Circuit Two(qc2)",
  :label "Circuit Two(qc2)",
  :rootnodes #{:henpt-172}},
 :net-218
 {:type :htn-network,
  :uid :net-218,
  :display-name "Wp 2()",
  :label "Wp 2()",
  :rootnodes #{:hpt-179}},
 :net-221
 {:type :htn-network,
  :uid :net-221,
  :display-name "Wp 3()",
  :label "Wp 3()",
  :rootnodes #{:hpt-181}},
 :net-224
 {:type :htn-network,
  :uid :net-224,
  :display-name "Wp 4()",
  :label "Wp 4()",
  :rootnodes #{:hpt-183}},
 :net-227
 {:type :htn-network,
  :uid :net-227,
  :display-name "Wp 1()",
  :label "Wp 1()",
  :rootnodes #{:hpt-185}},
 :net-230
 {:type :htn-network,
  :uid :net-230,
  :display-name "Wp 2()",
  :label "Wp 2()",
  :rootnodes #{:hpt-187}},
 :net-232
 {:type :htn-network,
  :uid :net-232,
  :display-name "Circuit Three(qc3)",
  :label "Circuit Three(qc3)",
  :rootnodes #{:henpt-189}},
 :net-234
 {:type :htn-network,
  :uid :net-234,
  :display-name "Wp 3()",
  :label "Wp 3()",
  :rootnodes #{:hpt-196}},
 :net-237
 {:type :htn-network,
  :uid :net-237,
  :display-name "Wp 4()",
  :label "Wp 4()",
  :rootnodes #{:hpt-198}},
 :net-240
 {:type :htn-network,
  :uid :net-240,
  :display-name "Wp 1()",
  :label "Wp 1()",
  :rootnodes #{:hpt-200}},
 :net-243
 {:type :htn-network,
  :uid :net-243,
  :display-name "Wp 2()",
  :label "Wp 2()",
  :rootnodes #{:hpt-202}},
 :net-246
 {:type :htn-network,
  :uid :net-246,
  :display-name "Wp 3()",
  :label "Wp 3()",
  :rootnodes #{:hpt-204}},
 :network :net-206}
