{:act-106
 {:args
  [{:type :literal, :value 42.445327}
   {:type :literal, :value -71.227784}
   {:type :literal, :value 4.0}
   {:type :literal, :value 350}],
  :argsmap
  {"alt" {:type :literal, :value 4.0},
   "lat" {:type :literal, :value 42.445327},
   "lon" {:type :literal, :value -71.227784},
   "yaw" {:type :literal, :value 350}},
  :command "location",
  :constraints #{:tc-104},
  :controllable false,
  :cost 0,
  :display-name "Location",
  :end-node :node-116,
  :htn-node :hem-82,
  :name
  "Location({:type :literal, :value 42.445327} {:type :literal, :value -71.227784} {:type :literal, :value 4.0} {:type :literal, :value 350})",
  :plant-part "pp3",
  :plantid "qc3",
  :reward 0,
  :tpn-type :activity,
  :uid :act-106},
 :act-115
 {:args
  [{:type :literal, :value 42.44537}
   {:type :literal, :value -71.227891}
   {:type :literal, :value 1.0}
   {:type :literal, :value 80}],
  :argsmap
  {"alt" {:type :literal, :value 1.0},
   "lat" {:type :literal, :value 42.44537},
   "lon" {:type :literal, :value -71.227891},
   "yaw" {:type :literal, :value 80}},
  :command "location",
  :constraints #{:tc-113},
  :controllable false,
  :cost 0,
  :display-name "Location",
  :end-node :node-125,
  :htn-node :hem-84,
  :name
  "Location({:type :literal, :value 42.44537} {:type :literal, :value -71.227891} {:type :literal, :value 1.0} {:type :literal, :value 80})",
  :plant-part "pp3",
  :plantid "qc3",
  :reward 0,
  :tpn-type :activity,
  :uid :act-115},
 :act-124
 {:args
  [{:type :literal, :value 42.445435}
   {:type :literal, :value -71.227842}
   {:type :literal, :value 2.0}
   {:type :literal, :value 170}],
  :argsmap
  {"alt" {:type :literal, :value 2.0},
   "lat" {:type :literal, :value 42.445435},
   "lon" {:type :literal, :value -71.227842},
   "yaw" {:type :literal, :value 170}},
  :command "location",
  :constraints #{:tc-122},
  :controllable false,
  :cost 0,
  :display-name "Location",
  :end-node :node-135,
  :htn-node :hem-86,
  :name
  "Location({:type :literal, :value 42.445435} {:type :literal, :value -71.227842} {:type :literal, :value 2.0} {:type :literal, :value 170})",
  :plant-part "pp3",
  :plantid "qc3",
  :reward 0,
  :tpn-type :activity,
  :uid :act-124},
 :act-13
 {:args
  [{:type :literal, :value 42.44537}
   {:type :literal, :value -71.227895}
   {:type :literal, :value 1.0}
   {:type :literal, :value 80}],
  :argsmap
  {"alt" {:type :literal, :value 1.0},
   "lat" {:type :literal, :value 42.44537},
   "lon" {:type :literal, :value -71.227895},
   "yaw" {:type :literal, :value 80}},
  :command "location",
  :constraints #{:tc-12},
  :controllable false,
  :cost 0,
  :display-name "Location",
  :end-node :node-19,
  :htn-node :hem-53,
  :interface "RMQ",
  :name
  "Location({:type :literal, :value 42.44537} {:type :literal, :value -71.227895} {:type :literal, :value 1.0} {:type :literal, :value 80})",
  :plant-part "pp1",
  :plantid "qc1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-13},
 :act-134
 {:args
  [{:type :literal, :value 42.445389}
   {:type :literal, :value -71.227733}
   {:type :literal, :value 3.0}
   {:type :literal, :value 260}],
  :argsmap
  {"alt" {:type :literal, :value 3.0},
   "lat" {:type :literal, :value 42.445389},
   "lon" {:type :literal, :value -71.227733},
   "yaw" {:type :literal, :value 260}},
  :command "location",
  :constraints #{:tc-132},
  :controllable false,
  :cost 0,
  :display-name "Location",
  :end-node :node-87,
  :htn-node :hem-88,
  :name
  "Location({:type :literal, :value 42.445389} {:type :literal, :value -71.227733} {:type :literal, :value 3.0} {:type :literal, :value 260})",
  :plant-part "pp3",
  :plantid "qc3",
  :reward 0,
  :tpn-type :activity,
  :uid :act-134},
 :act-18
 {:args
  [{:type :literal, :value 42.445435}
   {:type :literal, :value -71.227846}
   {:type :literal, :value 2.0}
   {:type :literal, :value 170}],
  :argsmap
  {"alt" {:type :literal, :value 2.0},
   "lat" {:type :literal, :value 42.445435},
   "lon" {:type :literal, :value -71.227846},
   "yaw" {:type :literal, :value 170}},
  :command "location",
  :constraints #{:tc-17},
  :controllable false,
  :cost 0,
  :display-name "Location",
  :end-node :node-24,
  :htn-node :hem-53,
  :interface "RMQ",
  :name
  "Location({:type :literal, :value 42.445435} {:type :literal, :value -71.227846} {:type :literal, :value 2.0} {:type :literal, :value 170})",
  :plant-part "pp1",
  :plantid "qc1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-18},
 :act-23
 {:args
  [{:type :literal, :value 42.445389}
   {:type :literal, :value -71.227737}
   {:type :literal, :value 3.0}
   {:type :literal, :value 260}],
  :argsmap
  {"alt" {:type :literal, :value 3.0},
   "lat" {:type :literal, :value 42.445389},
   "lon" {:type :literal, :value -71.227737},
   "yaw" {:type :literal, :value 260}},
  :command "location",
  :constraints #{:tc-22},
  :controllable false,
  :cost 0,
  :display-name "Location",
  :end-node :node-29,
  :htn-node :hem-53,
  :interface "RMQ",
  :name
  "Location({:type :literal, :value 42.445389} {:type :literal, :value -71.227737} {:type :literal, :value 3.0} {:type :literal, :value 260})",
  :plant-part "pp1",
  :plantid "qc1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-23},
 :act-28
 {:args
  [{:type :literal, :value 42.445327}
   {:type :literal, :value -71.227788}
   {:type :literal, :value 4.0}
   {:type :literal, :value 350}],
  :argsmap
  {"alt" {:type :literal, :value 4.0},
   "lat" {:type :literal, :value 42.445327},
   "lon" {:type :literal, :value -71.227788},
   "yaw" {:type :literal, :value 350}},
  :command "location",
  :constraints #{:tc-27},
  :controllable false,
  :cost 0,
  :display-name "Location",
  :end-node :node-34,
  :htn-node :hem-53,
  :interface "RMQ",
  :name
  "Location({:type :literal, :value 42.445327} {:type :literal, :value -71.227788} {:type :literal, :value 4.0} {:type :literal, :value 350})",
  :plant-part "pp1",
  :plantid "qc1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-28},
 :act-33
 {:args
  [{:type :literal, :value 42.44537}
   {:type :literal, :value -71.227899}
   {:type :literal, :value 1.0}
   {:type :literal, :value 80}],
  :argsmap
  {"alt" {:type :literal, :value 1.0},
   "lat" {:type :literal, :value 42.44537},
   "lon" {:type :literal, :value -71.227899},
   "yaw" {:type :literal, :value 80}},
  :command "location",
  :constraints #{:tc-32},
  :controllable false,
  :cost 0,
  :display-name "Location",
  :end-node :node-4,
  :htn-node :hem-53,
  :interface "RMQ",
  :name
  "Location({:type :literal, :value 42.44537} {:type :literal, :value -71.227899} {:type :literal, :value 1.0} {:type :literal, :value 80})",
  :plant-part "pp1",
  :plantid "qc1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-33},
 :act-46
 {:args
  [{:type :literal, :value 42.445435}
   {:type :literal, :value -71.227842}
   {:type :literal, :value 2.0}
   {:type :literal, :value 170}],
  :argsmap
  {"alt" {:type :literal, :value 2.0},
   "lat" {:type :literal, :value 42.445435},
   "lon" {:type :literal, :value -71.227842},
   "yaw" {:type :literal, :value 170}},
  :command "location",
  :constraints #{:tc-44},
  :controllable false,
  :cost 0,
  :display-name "Location",
  :end-node :node-56,
  :htn-node :hem-63,
  :interface "ZMQ",
  :name
  "Location({:type :literal, :value 42.445435} {:type :literal, :value -71.227842} {:type :literal, :value 2.0} {:type :literal, :value 170})",
  :plant-part "pp2",
  :plantid "qc2",
  :reward 0,
  :tpn-type :activity,
  :uid :act-46},
 :act-55
 {:args
  [{:type :literal, :value 42.445389}
   {:type :literal, :value -71.227733}
   {:type :literal, :value 3.0}
   {:type :literal, :value 260}],
  :argsmap
  {"alt" {:type :literal, :value 3.0},
   "lat" {:type :literal, :value 42.445389},
   "lon" {:type :literal, :value -71.227733},
   "yaw" {:type :literal, :value 260}},
  :command "location",
  :constraints #{:tc-53},
  :controllable false,
  :cost 0,
  :display-name "Location",
  :end-node :node-65,
  :htn-node :hem-65,
  :interface "ZMQ",
  :name
  "Location({:type :literal, :value 42.445389} {:type :literal, :value -71.227733} {:type :literal, :value 3.0} {:type :literal, :value 260})",
  :plant-part "pp2",
  :plantid "qc2",
  :reward 0,
  :tpn-type :activity,
  :uid :act-55},
 :act-64
 {:args
  [{:type :literal, :value 42.445327}
   {:type :literal, :value -71.227784}
   {:type :literal, :value 4.0}
   {:type :literal, :value 350}],
  :argsmap
  {"alt" {:type :literal, :value 4.0},
   "lat" {:type :literal, :value 42.445327},
   "lon" {:type :literal, :value -71.227784},
   "yaw" {:type :literal, :value 350}},
  :command "location",
  :constraints #{:tc-62},
  :controllable false,
  :cost 0,
  :display-name "Location",
  :end-node :node-74,
  :htn-node :hem-67,
  :interface "ZMQ",
  :name
  "Location({:type :literal, :value 42.445327} {:type :literal, :value -71.227784} {:type :literal, :value 4.0} {:type :literal, :value 350})",
  :plant-part "pp2",
  :plantid "qc2",
  :reward 0,
  :tpn-type :activity,
  :uid :act-64},
 :act-73
 {:args
  [{:type :literal, :value 42.44537}
   {:type :literal, :value -71.227891}
   {:type :literal, :value 1.0}
   {:type :literal, :value 80}],
  :argsmap
  {"alt" {:type :literal, :value 1.0},
   "lat" {:type :literal, :value 42.44537},
   "lon" {:type :literal, :value -71.227891},
   "yaw" {:type :literal, :value 80}},
  :command "location",
  :constraints #{:tc-71},
  :controllable false,
  :cost 0,
  :display-name "Location",
  :end-node :node-84,
  :htn-node :hem-69,
  :interface "ZMQ",
  :name
  "Location({:type :literal, :value 42.44537} {:type :literal, :value -71.227891} {:type :literal, :value 1.0} {:type :literal, :value 80})",
  :plant-part "pp2",
  :plantid "qc2",
  :reward 0,
  :tpn-type :activity,
  :uid :act-73},
 :act-83
 {:args
  [{:type :literal, :value 42.445435}
   {:type :literal, :value -71.227842}
   {:type :literal, :value 2.0}
   {:type :literal, :value 170}],
  :argsmap
  {"alt" {:type :literal, :value 2.0},
   "lat" {:type :literal, :value 42.445435},
   "lon" {:type :literal, :value -71.227842},
   "yaw" {:type :literal, :value 170}},
  :command "location",
  :constraints #{:tc-81},
  :controllable false,
  :cost 0,
  :display-name "Location",
  :end-node :node-37,
  :htn-node :hem-71,
  :interface "ZMQ",
  :name
  "Location({:type :literal, :value 42.445435} {:type :literal, :value -71.227842} {:type :literal, :value 2.0} {:type :literal, :value 170})",
  :plant-part "pp2",
  :plantid "qc2",
  :reward 0,
  :tpn-type :activity,
  :uid :act-83},
 :act-97
 {:args
  [{:type :literal, :value 42.445389}
   {:type :literal, :value -71.227733}
   {:type :literal, :value 3.0}
   {:type :literal, :value 260}],
  :argsmap
  {"alt" {:type :literal, :value 3.0},
   "lat" {:type :literal, :value 42.445389},
   "lon" {:type :literal, :value -71.227733},
   "yaw" {:type :literal, :value 260}},
  :command "location",
  :constraints #{:tc-95},
  :controllable false,
  :cost 0,
  :display-name "Location",
  :end-node :node-107,
  :htn-node :hem-80,
  :name
  "Location({:type :literal, :value 42.445389} {:type :literal, :value -71.227733} {:type :literal, :value 3.0} {:type :literal, :value 260})",
  :plant-part "pp3",
  :plantid "qc3",
  :reward 0,
  :tpn-type :activity,
  :uid :act-97},
 :na-10
 {:constraints #{},
  :end-node :node-6,
  :tpn-type :null-activity,
  :uid :na-10},
 :na-15
 {:constraints #{},
  :end-node :node-14,
  :tpn-type :null-activity,
  :uid :na-15},
 :na-40
 {:constraints #{},
  :end-node :node-6,
  :tpn-type :null-activity,
  :uid :na-40},
 :na-48
 {:constraints #{},
  :end-node :node-47,
  :tpn-type :null-activity,
  :uid :na-48},
 :na-91
 {:constraints #{},
  :end-node :node-6,
  :tpn-type :null-activity,
  :uid :na-91},
 :na-99
 {:constraints #{},
  :end-node :node-98,
  :tpn-type :null-activity,
  :uid :na-99},
 :net-3
 {:begin-node :node-7,
  :end-node :node-6,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-107
 {:activities #{:act-106},
  :constraints #{},
  :htn-node :hem-82,
  :incidence-set #{:act-97},
  :tpn-type :state,
  :uid :node-107},
 :node-116
 {:activities #{:act-115},
  :constraints #{},
  :htn-node :hem-84,
  :incidence-set #{:act-106},
  :tpn-type :state,
  :uid :node-116},
 :node-125
 {:activities #{:act-124},
  :constraints #{},
  :htn-node :hem-86,
  :incidence-set #{:act-115},
  :tpn-type :state,
  :uid :node-125},
 :node-135
 {:activities #{:act-134},
  :constraints #{},
  :htn-node :hem-88,
  :incidence-set #{:act-124},
  :tpn-type :state,
  :uid :node-135},
 :node-14
 {:activities #{:act-13},
  :constraints #{},
  :end-node :node-4,
  :htn-node :hem-53,
  :incidence-set #{:na-15},
  :tpn-type :state,
  :uid :node-14},
 :node-19
 {:activities #{:act-18},
  :constraints #{},
  :htn-node :hem-53,
  :incidence-set #{:act-13},
  :tpn-type :state,
  :uid :node-19},
 :node-24
 {:activities #{:act-23},
  :constraints #{},
  :htn-node :hem-53,
  :incidence-set #{:act-18},
  :tpn-type :state,
  :uid :node-24},
 :node-29
 {:activities #{:act-28},
  :constraints #{},
  :htn-node :hem-53,
  :incidence-set #{:act-23},
  :tpn-type :state,
  :uid :node-29},
 :node-34
 {:activities #{:act-33},
  :constraints #{},
  :htn-node :hem-53,
  :incidence-set #{:act-28},
  :tpn-type :state,
  :uid :node-34},
 :node-37
 {:activities #{:na-40},
  :constraints #{},
  :incidence-set #{:act-83},
  :tpn-type :state,
  :uid :node-37},
 :node-4
 {:activities #{:na-10},
  :constraints #{},
  :incidence-set #{:act-33},
  :tpn-type :state,
  :uid :node-4},
 :node-47
 {:activities #{:act-46},
  :constraints #{},
  :end-node :node-37,
  :htn-node :hem-60,
  :incidence-set #{:na-48},
  :tpn-type :state,
  :uid :node-47},
 :node-56
 {:activities #{:act-55},
  :constraints #{},
  :htn-node :hem-65,
  :incidence-set #{:act-46},
  :tpn-type :state,
  :uid :node-56},
 :node-6
 {:activities #{},
  :constraints #{},
  :incidence-set #{:na-40 :na-91 :na-10},
  :tpn-type :p-end,
  :uid :node-6},
 :node-65
 {:activities #{:act-64},
  :constraints #{},
  :htn-node :hem-67,
  :incidence-set #{:act-55},
  :tpn-type :state,
  :uid :node-65},
 :node-7
 {:activities #{:na-99 :na-48 :na-15},
  :constraints #{},
  :end-node :node-6,
  :htn-node :hem-47,
  :incidence-set #{},
  :tpn-type :p-begin,
  :uid :node-7},
 :node-74
 {:activities #{:act-73},
  :constraints #{},
  :htn-node :hem-69,
  :incidence-set #{:act-64},
  :tpn-type :state,
  :uid :node-74},
 :node-84
 {:activities #{:act-83},
  :constraints #{},
  :htn-node :hem-71,
  :incidence-set #{:act-73},
  :tpn-type :state,
  :uid :node-84},
 :node-87
 {:activities #{:na-91},
  :constraints #{},
  :incidence-set #{:act-134},
  :tpn-type :state,
  :uid :node-87},
 :node-98
 {:activities #{:act-97},
  :constraints #{},
  :end-node :node-87,
  :htn-node :hem-77,
  :incidence-set #{:na-99},
  :tpn-type :state,
  :uid :node-98},
 :tc-104
 {:end-node :node-116,
  :tpn-type :temporal-constraint,
  :uid :tc-104,
  :value [14 50]},
 :tc-113
 {:end-node :node-125,
  :tpn-type :temporal-constraint,
  :uid :tc-113,
  :value [11 50]},
 :tc-12
 {:end-node :node-19,
  :tpn-type :temporal-constraint,
  :uid :tc-12,
  :value [5 20]},
 :tc-122
 {:end-node :node-135,
  :tpn-type :temporal-constraint,
  :uid :tc-122,
  :value [12 50]},
 :tc-132
 {:end-node :node-87,
  :tpn-type :temporal-constraint,
  :uid :tc-132,
  :value [13 50]},
 :tc-17
 {:end-node :node-24,
  :tpn-type :temporal-constraint,
  :uid :tc-17,
  :value [5 20]},
 :tc-22
 {:end-node :node-29,
  :tpn-type :temporal-constraint,
  :uid :tc-22,
  :value [5 20]},
 :tc-27
 {:end-node :node-34,
  :tpn-type :temporal-constraint,
  :uid :tc-27,
  :value [5 20]},
 :tc-32
 {:end-node :node-4,
  :tpn-type :temporal-constraint,
  :uid :tc-32,
  :value [5 20]},
 :tc-44
 {:end-node :node-56,
  :tpn-type :temporal-constraint,
  :uid :tc-44,
  :value [12 50]},
 :tc-53
 {:end-node :node-65,
  :tpn-type :temporal-constraint,
  :uid :tc-53,
  :value [13 50]},
 :tc-62
 {:end-node :node-74,
  :tpn-type :temporal-constraint,
  :uid :tc-62,
  :value [14 50]},
 :tc-71
 {:end-node :node-84,
  :tpn-type :temporal-constraint,
  :uid :tc-71,
  :value [11 50]},
 :tc-81
 {:end-node :node-37,
  :tpn-type :temporal-constraint,
  :uid :tc-81,
  :value [12 50]},
 :tc-95
 {:end-node :node-107,
  :tpn-type :temporal-constraint,
  :uid :tc-95,
  :value [13 50]}}
