{:act-103
 {:args [42.445389 -71.227733 3.0 260],
  :argsmap {"alt" 3.0, "lat" 42.445389, "lon" -71.227733, "yaw" 260},
  :command "location",
  :constraints #{:tc-98},
  :controllable false,
  :cost 0,
  :display-args [42.445389 -71.227733 3.0 260],
  :display-name "Location",
  :end-node :node-114,
  :htn-node :hem-85,
  :name "Location(42.445389 -71.227733 3.0 260)",
  :plant-id "qc3",
  :plant-part "pp3",
  :reward 0,
  :tpn-type :activity,
  :uid :act-103},
 :act-113
 {:args [42.445327 -71.227784 4.0 350],
  :argsmap {"alt" 4.0, "lat" 42.445327, "lon" -71.227784, "yaw" 350},
  :command "location",
  :constraints #{:tc-108},
  :controllable false,
  :cost 0,
  :display-args [42.445327 -71.227784 4.0 350],
  :display-name "Location",
  :end-node :node-124,
  :htn-node :hem-87,
  :name "Location(42.445327 -71.227784 4.0 350)",
  :plant-id "qc3",
  :plant-part "pp3",
  :reward 0,
  :tpn-type :activity,
  :uid :act-113},
 :act-123
 {:args [42.44537 -71.227891 1.0 80],
  :argsmap {"alt" 1.0, "lat" 42.44537, "lon" -71.227891, "yaw" 80},
  :command "location",
  :constraints #{:tc-118},
  :controllable false,
  :cost 0,
  :display-args [42.44537 -71.227891 1.0 80],
  :display-name "Location",
  :end-node :node-134,
  :htn-node :hem-89,
  :name "Location(42.44537 -71.227891 1.0 80)",
  :plant-id "qc3",
  :plant-part "pp3",
  :reward 0,
  :tpn-type :activity,
  :uid :act-123},
 :act-13
 {:args [42.44537 -71.227895 1.0 80],
  :argsmap {"alt" 1.0, "lat" 42.44537, "lon" -71.227895, "yaw" 80},
  :command "location",
  :constraints #{:tc-12},
  :controllable false,
  :cost 0,
  :display-args [42.44537 -71.227895 1.0 80],
  :display-name "Location",
  :end-node :node-19,
  :htn-node :hem-58,
  :name "Location(42.44537 -71.227895 1.0 80)",
  :plant-id "qc1",
  :plant-interface "RMQ",
  :plant-part "pp1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-13},
 :act-133
 {:args [42.445435 -71.227842 2.0 170],
  :argsmap {"alt" 2.0, "lat" 42.445435, "lon" -71.227842, "yaw" 170},
  :command "location",
  :constraints #{:tc-128},
  :controllable false,
  :cost 0,
  :display-args [42.445435 -71.227842 2.0 170],
  :display-name "Location",
  :end-node :node-145,
  :htn-node :hem-91,
  :name "Location(42.445435 -71.227842 2.0 170)",
  :plant-id "qc3",
  :plant-part "pp3",
  :reward 0,
  :tpn-type :activity,
  :uid :act-133},
 :act-144
 {:args [42.445389 -71.227733 3.0 260],
  :argsmap {"alt" 3.0, "lat" 42.445389, "lon" -71.227733, "yaw" 260},
  :command "location",
  :constraints #{:tc-138},
  :controllable false,
  :cost 0,
  :display-args [42.445389 -71.227733 3.0 260],
  :display-name "Location",
  :end-node :node-92,
  :htn-node :hem-93,
  :name "Location(42.445389 -71.227733 3.0 260)",
  :plant-id "qc3",
  :plant-part "pp3",
  :reward 0,
  :tpn-type :activity,
  :uid :act-144},
 :act-18
 {:args [42.445435 -71.227846 2.0 170],
  :argsmap {"alt" 2.0, "lat" 42.445435, "lon" -71.227846, "yaw" 170},
  :command "location",
  :constraints #{:tc-17},
  :controllable false,
  :cost 0,
  :display-args [42.445435 -71.227846 2.0 170],
  :display-name "Location",
  :end-node :node-24,
  :htn-node :hem-58,
  :name "Location(42.445435 -71.227846 2.0 170)",
  :plant-id "qc1",
  :plant-interface "RMQ",
  :plant-part "pp1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-18},
 :act-23
 {:args [42.445389 -71.227737 3.0 260],
  :argsmap {"alt" 3.0, "lat" 42.445389, "lon" -71.227737, "yaw" 260},
  :command "location",
  :constraints #{:tc-22},
  :controllable false,
  :cost 0,
  :display-args [42.445389 -71.227737 3.0 260],
  :display-name "Location",
  :end-node :node-29,
  :htn-node :hem-58,
  :name "Location(42.445389 -71.227737 3.0 260)",
  :plant-id "qc1",
  :plant-interface "RMQ",
  :plant-part "pp1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-23},
 :act-28
 {:args [42.445327 -71.227788 4.0 350],
  :argsmap {"alt" 4.0, "lat" 42.445327, "lon" -71.227788, "yaw" 350},
  :command "location",
  :constraints #{:tc-27},
  :controllable false,
  :cost 0,
  :display-args [42.445327 -71.227788 4.0 350],
  :display-name "Location",
  :end-node :node-34,
  :htn-node :hem-58,
  :name "Location(42.445327 -71.227788 4.0 350)",
  :plant-id "qc1",
  :plant-interface "RMQ",
  :plant-part "pp1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-28},
 :act-33
 {:args [42.44537 -71.227899 1.0 80],
  :argsmap {"alt" 1.0, "lat" 42.44537, "lon" -71.227899, "yaw" 80},
  :command "location",
  :constraints #{:tc-32},
  :controllable false,
  :cost 0,
  :display-args [42.44537 -71.227899 1.0 80],
  :display-name "Location",
  :end-node :node-4,
  :htn-node :hem-58,
  :name "Location(42.44537 -71.227899 1.0 80)",
  :plant-id "qc1",
  :plant-interface "RMQ",
  :plant-part "pp1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-33},
 :act-47
 {:args [42.445435 -71.227842 2.0 170],
  :argsmap {"alt" 2.0, "lat" 42.445435, "lon" -71.227842, "yaw" 170},
  :command "location",
  :constraints #{:tc-42},
  :controllable false,
  :cost 0,
  :display-args [42.445435 -71.227842 2.0 170],
  :display-name "Location",
  :end-node :node-58,
  :htn-node :hem-68,
  :name "Location(42.445435 -71.227842 2.0 170)",
  :plant-id "qc2",
  :plant-interface "ZMQ",
  :plant-part "pp2",
  :reward 0,
  :tpn-type :activity,
  :uid :act-47},
 :act-57
 {:args [42.445389 -71.227733 3.0 260],
  :argsmap {"alt" 3.0, "lat" 42.445389, "lon" -71.227733, "yaw" 260},
  :command "location",
  :constraints #{:tc-52},
  :controllable false,
  :cost 0,
  :display-args [42.445389 -71.227733 3.0 260],
  :display-name "Location",
  :end-node :node-68,
  :htn-node :hem-70,
  :name "Location(42.445389 -71.227733 3.0 260)",
  :plant-id "qc2",
  :plant-interface "ZMQ",
  :plant-part "pp2",
  :reward 0,
  :tpn-type :activity,
  :uid :act-57},
 :act-67
 {:args [42.445327 -71.227784 4.0 350],
  :argsmap {"alt" 4.0, "lat" 42.445327, "lon" -71.227784, "yaw" 350},
  :command "location",
  :constraints #{:tc-62},
  :controllable false,
  :cost 0,
  :display-args [42.445327 -71.227784 4.0 350],
  :display-name "Location",
  :end-node :node-78,
  :htn-node :hem-72,
  :name "Location(42.445327 -71.227784 4.0 350)",
  :plant-id "qc2",
  :plant-interface "ZMQ",
  :plant-part "pp2",
  :reward 0,
  :tpn-type :activity,
  :uid :act-67},
 :act-77
 {:args [42.44537 -71.227891 1.0 80],
  :argsmap {"alt" 1.0, "lat" 42.44537, "lon" -71.227891, "yaw" 80},
  :command "location",
  :constraints #{:tc-72},
  :controllable false,
  :cost 0,
  :display-args [42.44537 -71.227891 1.0 80],
  :display-name "Location",
  :end-node :node-89,
  :htn-node :hem-74,
  :name "Location(42.44537 -71.227891 1.0 80)",
  :plant-id "qc2",
  :plant-interface "ZMQ",
  :plant-part "pp2",
  :reward 0,
  :tpn-type :activity,
  :uid :act-77},
 :act-88
 {:args [42.445435 -71.227842 2.0 170],
  :argsmap {"alt" 2.0, "lat" 42.445435, "lon" -71.227842, "yaw" 170},
  :command "location",
  :constraints #{:tc-82},
  :controllable false,
  :cost 0,
  :display-args [42.445435 -71.227842 2.0 170],
  :display-name "Location",
  :end-node :node-37,
  :htn-node :hem-76,
  :name "Location(42.445435 -71.227842 2.0 170)",
  :plant-id "qc2",
  :plant-interface "ZMQ",
  :plant-part "pp2",
  :reward 0,
  :tpn-type :activity,
  :uid :act-88},
 :na-10
 {:constraints #{},
  :end-node :node-6,
  :tpn-type :null-activity,
  :uid :na-10},
 :na-105
 {:constraints #{},
  :end-node :node-104,
  :tpn-type :null-activity,
  :uid :na-105},
 :na-15
 {:constraints #{},
  :end-node :node-14,
  :tpn-type :null-activity,
  :uid :na-15},
 :na-40
 {:constraints #{},
  :end-node :node-6,
  :tpn-type :null-activity,
  :uid :na-40},
 :na-49
 {:constraints #{},
  :end-node :node-48,
  :tpn-type :null-activity,
  :uid :na-49},
 :na-96
 {:constraints #{},
  :end-node :node-6,
  :tpn-type :null-activity,
  :uid :na-96},
 :net-3
 {:begin-node :node-7,
  :end-node :node-6,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-104
 {:activities #{:act-103},
  :constraints #{},
  :end-node :node-92,
  :htn-node :hem-82,
  :incidence-set #{:na-105},
  :tpn-type :state,
  :uid :node-104},
 :node-114
 {:activities #{:act-113},
  :constraints #{},
  :htn-node :hem-87,
  :incidence-set #{:act-103},
  :tpn-type :state,
  :uid :node-114},
 :node-124
 {:activities #{:act-123},
  :constraints #{},
  :htn-node :hem-89,
  :incidence-set #{:act-113},
  :tpn-type :state,
  :uid :node-124},
 :node-134
 {:activities #{:act-133},
  :constraints #{},
  :htn-node :hem-91,
  :incidence-set #{:act-123},
  :tpn-type :state,
  :uid :node-134},
 :node-14
 {:activities #{:act-13},
  :constraints #{},
  :end-node :node-4,
  :htn-node :hem-58,
  :incidence-set #{:na-15},
  :tpn-type :state,
  :uid :node-14},
 :node-145
 {:activities #{:act-144},
  :constraints #{},
  :htn-node :hem-93,
  :incidence-set #{:act-133},
  :tpn-type :state,
  :uid :node-145},
 :node-19
 {:activities #{:act-18},
  :constraints #{},
  :htn-node :hem-58,
  :incidence-set #{:act-13},
  :tpn-type :state,
  :uid :node-19},
 :node-24
 {:activities #{:act-23},
  :constraints #{},
  :htn-node :hem-58,
  :incidence-set #{:act-18},
  :tpn-type :state,
  :uid :node-24},
 :node-29
 {:activities #{:act-28},
  :constraints #{},
  :htn-node :hem-58,
  :incidence-set #{:act-23},
  :tpn-type :state,
  :uid :node-29},
 :node-34
 {:activities #{:act-33},
  :constraints #{},
  :htn-node :hem-58,
  :incidence-set #{:act-28},
  :tpn-type :state,
  :uid :node-34},
 :node-37
 {:activities #{:na-40},
  :constraints #{},
  :incidence-set #{:act-88},
  :tpn-type :state,
  :uid :node-37},
 :node-4
 {:activities #{:na-10},
  :constraints #{},
  :incidence-set #{:act-33},
  :tpn-type :state,
  :uid :node-4},
 :node-48
 {:activities #{:act-47},
  :constraints #{},
  :end-node :node-37,
  :htn-node :hem-65,
  :incidence-set #{:na-49},
  :tpn-type :state,
  :uid :node-48},
 :node-58
 {:activities #{:act-57},
  :constraints #{},
  :htn-node :hem-70,
  :incidence-set #{:act-47},
  :tpn-type :state,
  :uid :node-58},
 :node-6
 {:activities #{},
  :constraints #{},
  :incidence-set #{:na-96 :na-40 :na-10},
  :tpn-type :p-end,
  :uid :node-6},
 :node-68
 {:activities #{:act-67},
  :constraints #{},
  :htn-node :hem-72,
  :incidence-set #{:act-57},
  :tpn-type :state,
  :uid :node-68},
 :node-7
 {:activities #{:na-105 :na-15 :na-49},
  :constraints #{},
  :end-node :node-6,
  :htn-node :hem-52,
  :incidence-set #{},
  :tpn-type :p-begin,
  :uid :node-7},
 :node-78
 {:activities #{:act-77},
  :constraints #{},
  :htn-node :hem-74,
  :incidence-set #{:act-67},
  :tpn-type :state,
  :uid :node-78},
 :node-89
 {:activities #{:act-88},
  :constraints #{},
  :htn-node :hem-76,
  :incidence-set #{:act-77},
  :tpn-type :state,
  :uid :node-89},
 :node-92
 {:activities #{:na-96},
  :constraints #{},
  :incidence-set #{:act-144},
  :tpn-type :state,
  :uid :node-92},
 :tc-101
 {:end-node :node-114,
  :tpn-type :temporal-constraint,
  :uid :tc-101,
  :value [13 50]},
 :tc-108
 {:end-node :node-124,
  :tpn-type :temporal-constraint,
  :uid :tc-108,
  :value [14 50]},
 :tc-111
 {:end-node :node-124,
  :tpn-type :temporal-constraint,
  :uid :tc-111,
  :value [14 50]},
 :tc-118
 {:end-node :node-134,
  :tpn-type :temporal-constraint,
  :uid :tc-118,
  :value [11 50]},
 :tc-12
 {:end-node :node-19,
  :tpn-type :temporal-constraint,
  :uid :tc-12,
  :value [5 20]},
 :tc-121
 {:end-node :node-134,
  :tpn-type :temporal-constraint,
  :uid :tc-121,
  :value [11 50]},
 :tc-128
 {:end-node :node-145,
  :tpn-type :temporal-constraint,
  :uid :tc-128,
  :value [12 50]},
 :tc-131
 {:end-node :node-145,
  :tpn-type :temporal-constraint,
  :uid :tc-131,
  :value [12 50]},
 :tc-138
 {:end-node :node-92,
  :tpn-type :temporal-constraint,
  :uid :tc-138,
  :value [13 50]},
 :tc-142
 {:end-node :node-92,
  :tpn-type :temporal-constraint,
  :uid :tc-142,
  :value [13 50]},
 :tc-17
 {:end-node :node-24,
  :tpn-type :temporal-constraint,
  :uid :tc-17,
  :value [5 20]},
 :tc-22
 {:end-node :node-29,
  :tpn-type :temporal-constraint,
  :uid :tc-22,
  :value [5 20]},
 :tc-27
 {:end-node :node-34,
  :tpn-type :temporal-constraint,
  :uid :tc-27,
  :value [5 20]},
 :tc-32
 {:end-node :node-4,
  :tpn-type :temporal-constraint,
  :uid :tc-32,
  :value [5 20]},
 :tc-42
 {:end-node :node-58,
  :tpn-type :temporal-constraint,
  :uid :tc-42,
  :value [12 50]},
 :tc-45
 {:end-node :node-58,
  :tpn-type :temporal-constraint,
  :uid :tc-45,
  :value [12 50]},
 :tc-52
 {:end-node :node-68,
  :tpn-type :temporal-constraint,
  :uid :tc-52,
  :value [13 50]},
 :tc-55
 {:end-node :node-68,
  :tpn-type :temporal-constraint,
  :uid :tc-55,
  :value [13 50]},
 :tc-62
 {:end-node :node-78,
  :tpn-type :temporal-constraint,
  :uid :tc-62,
  :value [14 50]},
 :tc-65
 {:end-node :node-78,
  :tpn-type :temporal-constraint,
  :uid :tc-65,
  :value [14 50]},
 :tc-72
 {:end-node :node-89,
  :tpn-type :temporal-constraint,
  :uid :tc-72,
  :value [11 50]},
 :tc-75
 {:end-node :node-89,
  :tpn-type :temporal-constraint,
  :uid :tc-75,
  :value [11 50]},
 :tc-82
 {:end-node :node-37,
  :tpn-type :temporal-constraint,
  :uid :tc-82,
  :value [12 50]},
 :tc-86
 {:end-node :node-37,
  :tpn-type :temporal-constraint,
  :uid :tc-86,
  :value [12 50]},
 :tc-98
 {:end-node :node-114,
  :tpn-type :temporal-constraint,
  :uid :tc-98,
  :value [13 50]}}
