{:hedge-100 {:end-node :hpt-55, :type :edge, :uid :hedge-100},
 :hedge-101 {:end-node :hpt-56, :type :edge, :uid :hedge-101},
 :hedge-102 {:end-node :hpt-57, :type :edge, :uid :hedge-102},
 :hedge-103 {:end-node :hem-65, :type :edge, :uid :hedge-103},
 :hedge-105
 {:display-name "1", :end-node :hem-68, :type :edge, :uid :hedge-105},
 :hedge-107 {:end-node :henpt-61, :type :edge, :uid :hedge-107},
 :hedge-108
 {:display-name "2", :end-node :hem-70, :type :edge, :uid :hedge-108},
 :hedge-110 {:end-node :henpt-62, :type :edge, :uid :hedge-110},
 :hedge-111
 {:display-name "3", :end-node :hem-72, :type :edge, :uid :hedge-111},
 :hedge-113 {:end-node :henpt-63, :type :edge, :uid :hedge-113},
 :hedge-114
 {:display-name "4", :end-node :hem-74, :type :edge, :uid :hedge-114},
 :hedge-116 {:end-node :henpt-64, :type :edge, :uid :hedge-116},
 :hedge-117
 {:display-name "5", :end-node :hem-76, :type :edge, :uid :hedge-117},
 :hedge-119 {:end-node :hem-82, :type :edge, :uid :hedge-119},
 :hedge-121
 {:display-name "1", :end-node :hem-85, :type :edge, :uid :hedge-121},
 :hedge-123 {:end-node :henpt-78, :type :edge, :uid :hedge-123},
 :hedge-124
 {:display-name "2", :end-node :hem-87, :type :edge, :uid :hedge-124},
 :hedge-126 {:end-node :henpt-79, :type :edge, :uid :hedge-126},
 :hedge-127
 {:display-name "3", :end-node :hem-89, :type :edge, :uid :hedge-127},
 :hedge-129 {:end-node :henpt-80, :type :edge, :uid :hedge-129},
 :hedge-130
 {:display-name "4", :end-node :hem-91, :type :edge, :uid :hedge-130},
 :hedge-132 {:end-node :henpt-81, :type :edge, :uid :hedge-132},
 :hedge-133
 {:display-name "5", :end-node :hem-93, :type :edge, :uid :hedge-133},
 :hedge-95 {:end-node :hem-52, :type :edge, :uid :hedge-95},
 :hedge-97 {:end-node :hem-58, :type :edge, :uid :hedge-97},
 :hedge-99 {:end-node :hpt-54, :type :edge, :uid :hedge-99},
 :hem-52
 {:args
  [{:args [],
    :pclass qc,
    :uid :pclass-2,
    :fields {},
    :type :pclass-ctor,
    :plant-id "qc1",
    :param qc1,
    :ancestry [[:pclass-1 qc1]],
    :plant-interface "RMQ",
    :plant-part "pp1"}
   {:args [],
    :pclass qc,
    :uid :pclass-3,
    :fields {},
    :type :pclass-ctor,
    :plant-id "qc2",
    :param qc2,
    :ancestry [[:pclass-1 qc2]],
    :plant-interface "ZMQ",
    :plant-part "pp2"}
   {:type :pclass-ctor,
    :uid :pclass-4,
    :pclass qc,
    :args [],
    :plant-id "qc3",
    :plant-part "pp3",
    :fields {},
    :ancestry [[:pclass-1 qc3]],
    :param qc3}],
  :display-args [qc1 qc2 qc3],
  :display-name "Waypoints",
  :edges [:hedge-97 :hedge-103 :hedge-119],
  :incidence-set #{:hedge-95},
  :network :net-96,
  :type :htn-expanded-method,
  :uid :hem-52},
 :hem-58
 {:args [qc1],
  :display-args [qc1],
  :display-name "Circuit One",
  :edges [],
  :incidence-set #{},
  :network :net-98,
  :type :htn-expanded-method,
  :uid :hem-58},
 :hem-65
 {:args [qc2],
  :display-args [qc2],
  :display-name "Circuit Two",
  :edges [:hedge-105 :hedge-108 :hedge-111 :hedge-114 :hedge-117],
  :incidence-set #{},
  :network :net-104,
  :type :htn-expanded-method,
  :uid :hem-65},
 :hem-68
 {:args [],
  :display-args [],
  :display-name "Wp 2",
  :edges [],
  :incidence-set #{},
  :network :net-106,
  :type :htn-expanded-method,
  :uid :hem-68},
 :hem-70
 {:args [],
  :display-args [],
  :display-name "Wp 3",
  :edges [],
  :incidence-set #{},
  :network :net-109,
  :type :htn-expanded-method,
  :uid :hem-70},
 :hem-72
 {:args [],
  :display-args [],
  :display-name "Wp 4",
  :edges [],
  :incidence-set #{},
  :network :net-112,
  :type :htn-expanded-method,
  :uid :hem-72},
 :hem-74
 {:args [],
  :display-args [],
  :display-name "Wp 1",
  :edges [],
  :incidence-set #{},
  :network :net-115,
  :type :htn-expanded-method,
  :uid :hem-74},
 :hem-76
 {:args [],
  :display-args [],
  :display-name "Wp 2",
  :edges [],
  :incidence-set #{},
  :network :net-118,
  :type :htn-expanded-method,
  :uid :hem-76},
 :hem-82
 {:args [qc3],
  :display-args [qc3],
  :display-name "Circuit Three",
  :edges [:hedge-121 :hedge-124 :hedge-127 :hedge-130 :hedge-133],
  :incidence-set #{},
  :network :net-120,
  :type :htn-expanded-method,
  :uid :hem-82},
 :hem-85
 {:args [],
  :display-args [],
  :display-name "Wp 3",
  :edges [],
  :incidence-set #{},
  :network :net-122,
  :type :htn-expanded-method,
  :uid :hem-85},
 :hem-87
 {:args [],
  :display-args [],
  :display-name "Wp 4",
  :edges [],
  :incidence-set #{},
  :network :net-125,
  :type :htn-expanded-method,
  :uid :hem-87},
 :hem-89
 {:args [],
  :display-args [],
  :display-name "Wp 1",
  :edges [],
  :incidence-set #{},
  :network :net-128,
  :type :htn-expanded-method,
  :uid :hem-89},
 :hem-91
 {:args [],
  :display-args [],
  :display-name "Wp 2",
  :edges [],
  :incidence-set #{},
  :network :net-131,
  :type :htn-expanded-method,
  :uid :hem-91},
 :hem-93
 {:args [],
  :display-args [],
  :display-name "Wp 3",
  :edges [],
  :incidence-set #{},
  :network :net-134,
  :type :htn-expanded-method,
  :uid :hem-93},
 :henpt-48
 {:display-name "qc-waypoints",
  :edges [:hedge-95],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-48},
 :henpt-49
 {:args
  [{:args [],
    :pclass qc,
    :uid :pclass-2,
    :fields {},
    :type :pclass-ctor,
    :plant-id "qc1",
    :param qc1,
    :ancestry [[:pclass-1 qc1]],
    :plant-interface "RMQ",
    :plant-part "pp1"}],
  :argsmap
  {"q"
   {:ancestry [[:pclass-1 qc1]],
    :args [],
    :fields {},
    :param qc1,
    :pclass qc,
    :plant-id "qc1",
    :plant-interface "RMQ",
    :plant-part "pp1",
    :type :pclass-ctor,
    :uid :pclass-2}},
  :display-args [qc1],
  :display-name "Circuit One",
  :edges [],
  :incidence-set #{},
  :name "circuit-one",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-49},
 :henpt-50
 {:args
  [{:args [],
    :pclass qc,
    :uid :pclass-3,
    :fields {},
    :type :pclass-ctor,
    :plant-id "qc2",
    :param qc2,
    :ancestry [[:pclass-1 qc2]],
    :plant-interface "ZMQ",
    :plant-part "pp2"}],
  :argsmap
  {"q"
   {:ancestry [[:pclass-1 qc2]],
    :args [],
    :fields {},
    :param qc2,
    :pclass qc,
    :plant-id "qc2",
    :plant-interface "ZMQ",
    :plant-part "pp2",
    :type :pclass-ctor,
    :uid :pclass-3}},
  :display-args [qc2],
  :display-name "Circuit Two",
  :edges [],
  :incidence-set #{},
  :name "circuit-two",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-50},
 :henpt-51
 {:args
  [{:type :pclass-ctor,
    :uid :pclass-4,
    :pclass qc,
    :args [],
    :plant-id "qc3",
    :plant-part "pp3",
    :fields {},
    :ancestry [[:pclass-1 qc3]],
    :param qc3}],
  :argsmap
  {"q"
   {:ancestry [[:pclass-1 qc3]],
    :args [],
    :fields {},
    :param qc3,
    :pclass qc,
    :plant-id "qc3",
    :plant-part "pp3",
    :type :pclass-ctor,
    :uid :pclass-4}},
  :display-args [qc3],
  :display-name "Circuit Three",
  :edges [],
  :incidence-set #{},
  :name "circuit-three",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-51},
 :henpt-60
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Wp 2",
  :edges [:hedge-107],
  :incidence-set #{},
  :name "wp2",
  :plant-id "qc2",
  :plant-interface "ZMQ",
  :plant-part "pp2",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-60},
 :henpt-61
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Wp 3",
  :edges [:hedge-110],
  :incidence-set #{:hedge-107},
  :name "wp3",
  :plant-id "qc2",
  :plant-interface "ZMQ",
  :plant-part "pp2",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-61},
 :henpt-62
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Wp 4",
  :edges [:hedge-113],
  :incidence-set #{:hedge-110},
  :name "wp4",
  :plant-id "qc2",
  :plant-interface "ZMQ",
  :plant-part "pp2",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-62},
 :henpt-63
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Wp 1",
  :edges [:hedge-116],
  :incidence-set #{:hedge-113},
  :name "wp1",
  :plant-id "qc2",
  :plant-interface "ZMQ",
  :plant-part "pp2",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-63},
 :henpt-64
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Wp 2",
  :edges [],
  :incidence-set #{:hedge-116},
  :name "wp2",
  :plant-id "qc2",
  :plant-interface "ZMQ",
  :plant-part "pp2",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-64},
 :henpt-77
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Wp 3",
  :edges [:hedge-123],
  :incidence-set #{},
  :name "wp3",
  :plant-id "qc3",
  :plant-part "pp3",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-77},
 :henpt-78
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Wp 4",
  :edges [:hedge-126],
  :incidence-set #{:hedge-123},
  :name "wp4",
  :plant-id "qc3",
  :plant-part "pp3",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-78},
 :henpt-79
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Wp 1",
  :edges [:hedge-129],
  :incidence-set #{:hedge-126},
  :name "wp1",
  :plant-id "qc3",
  :plant-part "pp3",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-79},
 :henpt-80
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Wp 2",
  :edges [:hedge-132],
  :incidence-set #{:hedge-129},
  :name "wp2",
  :plant-id "qc3",
  :plant-part "pp3",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-80},
 :henpt-81
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Wp 3",
  :edges [],
  :incidence-set #{:hedge-132},
  :name "wp3",
  :plant-id "qc3",
  :plant-part "pp3",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-81},
 :hpt-53
 {:args [42.44537 -71.227895 1.0 80],
  :argsmap {"alt" 1.0, "lat" 42.44537, "lon" -71.227895, "yaw" 80},
  :display-args [42.44537 -71.227895 1.0 80],
  :display-name "Location",
  :edges [:hedge-99],
  :incidence-set #{},
  :name "location",
  :plant-id "qc1",
  :plant-interface "RMQ",
  :plant-part "pp1",
  :type :htn-primitive-task,
  :uid :hpt-53},
 :hpt-54
 {:args [42.445435 -71.227846 2.0 170],
  :argsmap {"alt" 2.0, "lat" 42.445435, "lon" -71.227846, "yaw" 170},
  :display-args [42.445435 -71.227846 2.0 170],
  :display-name "Location",
  :edges [:hedge-100],
  :incidence-set #{:hedge-99},
  :name "location",
  :plant-id "qc1",
  :plant-interface "RMQ",
  :plant-part "pp1",
  :type :htn-primitive-task,
  :uid :hpt-54},
 :hpt-55
 {:args [42.445389 -71.227737 3.0 260],
  :argsmap {"alt" 3.0, "lat" 42.445389, "lon" -71.227737, "yaw" 260},
  :display-args [42.445389 -71.227737 3.0 260],
  :display-name "Location",
  :edges [:hedge-101],
  :incidence-set #{:hedge-100},
  :name "location",
  :plant-id "qc1",
  :plant-interface "RMQ",
  :plant-part "pp1",
  :type :htn-primitive-task,
  :uid :hpt-55},
 :hpt-56
 {:args [42.445327 -71.227788 4.0 350],
  :argsmap {"alt" 4.0, "lat" 42.445327, "lon" -71.227788, "yaw" 350},
  :display-args [42.445327 -71.227788 4.0 350],
  :display-name "Location",
  :edges [:hedge-102],
  :incidence-set #{:hedge-101},
  :name "location",
  :plant-id "qc1",
  :plant-interface "RMQ",
  :plant-part "pp1",
  :type :htn-primitive-task,
  :uid :hpt-56},
 :hpt-57
 {:args [42.44537 -71.227899 1.0 80],
  :argsmap {"alt" 1.0, "lat" 42.44537, "lon" -71.227899, "yaw" 80},
  :display-args [42.44537 -71.227899 1.0 80],
  :display-name "Location",
  :edges [],
  :incidence-set #{:hedge-102},
  :name "location",
  :plant-id "qc1",
  :plant-interface "RMQ",
  :plant-part "pp1",
  :type :htn-primitive-task,
  :uid :hpt-57},
 :hpt-67
 {:args [42.445435 -71.227842 2.0 170],
  :argsmap {"alt" 2.0, "lat" 42.445435, "lon" -71.227842, "yaw" 170},
  :display-args [42.445435 -71.227842 2.0 170],
  :display-name "Location",
  :edges [],
  :incidence-set #{},
  :name "location",
  :plant-id "qc2",
  :plant-interface "ZMQ",
  :plant-part "pp2",
  :type :htn-primitive-task,
  :uid :hpt-67},
 :hpt-69
 {:args [42.445389 -71.227733 3.0 260],
  :argsmap {"alt" 3.0, "lat" 42.445389, "lon" -71.227733, "yaw" 260},
  :display-args [42.445389 -71.227733 3.0 260],
  :display-name "Location",
  :edges [],
  :incidence-set #{},
  :name "location",
  :plant-id "qc2",
  :plant-interface "ZMQ",
  :plant-part "pp2",
  :type :htn-primitive-task,
  :uid :hpt-69},
 :hpt-71
 {:args [42.445327 -71.227784 4.0 350],
  :argsmap {"alt" 4.0, "lat" 42.445327, "lon" -71.227784, "yaw" 350},
  :display-args [42.445327 -71.227784 4.0 350],
  :display-name "Location",
  :edges [],
  :incidence-set #{},
  :name "location",
  :plant-id "qc2",
  :plant-interface "ZMQ",
  :plant-part "pp2",
  :type :htn-primitive-task,
  :uid :hpt-71},
 :hpt-73
 {:args [42.44537 -71.227891 1.0 80],
  :argsmap {"alt" 1.0, "lat" 42.44537, "lon" -71.227891, "yaw" 80},
  :display-args [42.44537 -71.227891 1.0 80],
  :display-name "Location",
  :edges [],
  :incidence-set #{},
  :name "location",
  :plant-id "qc2",
  :plant-interface "ZMQ",
  :plant-part "pp2",
  :type :htn-primitive-task,
  :uid :hpt-73},
 :hpt-75
 {:args [42.445435 -71.227842 2.0 170],
  :argsmap {"alt" 2.0, "lat" 42.445435, "lon" -71.227842, "yaw" 170},
  :display-args [42.445435 -71.227842 2.0 170],
  :display-name "Location",
  :edges [],
  :incidence-set #{},
  :name "location",
  :plant-id "qc2",
  :plant-interface "ZMQ",
  :plant-part "pp2",
  :type :htn-primitive-task,
  :uid :hpt-75},
 :hpt-84
 {:args [42.445389 -71.227733 3.0 260],
  :argsmap {"alt" 3.0, "lat" 42.445389, "lon" -71.227733, "yaw" 260},
  :display-args [42.445389 -71.227733 3.0 260],
  :display-name "Location",
  :edges [],
  :incidence-set #{},
  :name "location",
  :plant-id "qc3",
  :plant-part "pp3",
  :type :htn-primitive-task,
  :uid :hpt-84},
 :hpt-86
 {:args [42.445327 -71.227784 4.0 350],
  :argsmap {"alt" 4.0, "lat" 42.445327, "lon" -71.227784, "yaw" 350},
  :display-args [42.445327 -71.227784 4.0 350],
  :display-name "Location",
  :edges [],
  :incidence-set #{},
  :name "location",
  :plant-id "qc3",
  :plant-part "pp3",
  :type :htn-primitive-task,
  :uid :hpt-86},
 :hpt-88
 {:args [42.44537 -71.227891 1.0 80],
  :argsmap {"alt" 1.0, "lat" 42.44537, "lon" -71.227891, "yaw" 80},
  :display-args [42.44537 -71.227891 1.0 80],
  :display-name "Location",
  :edges [],
  :incidence-set #{},
  :name "location",
  :plant-id "qc3",
  :plant-part "pp3",
  :type :htn-primitive-task,
  :uid :hpt-88},
 :hpt-90
 {:args [42.445435 -71.227842 2.0 170],
  :argsmap {"alt" 2.0, "lat" 42.445435, "lon" -71.227842, "yaw" 170},
  :display-args [42.445435 -71.227842 2.0 170],
  :display-name "Location",
  :edges [],
  :incidence-set #{},
  :name "location",
  :plant-id "qc3",
  :plant-part "pp3",
  :type :htn-primitive-task,
  :uid :hpt-90},
 :hpt-92
 {:args [42.445389 -71.227733 3.0 260],
  :argsmap {"alt" 3.0, "lat" 42.445389, "lon" -71.227733, "yaw" 260},
  :display-args [42.445389 -71.227733 3.0 260],
  :display-name "Location",
  :edges [],
  :incidence-set #{},
  :name "location",
  :plant-id "qc3",
  :plant-part "pp3",
  :type :htn-primitive-task,
  :uid :hpt-92},
 :net-104
 {:display-name "Circuit Two",
  :rootnodes #{:henpt-60},
  :type :htn-network,
  :uid :net-104},
 :net-106
 {:display-name "Wp 2",
  :rootnodes #{:hpt-67},
  :type :htn-network,
  :uid :net-106},
 :net-109
 {:display-name "Wp 3",
  :rootnodes #{:hpt-69},
  :type :htn-network,
  :uid :net-109},
 :net-112
 {:display-name "Wp 4",
  :rootnodes #{:hpt-71},
  :type :htn-network,
  :uid :net-112},
 :net-115
 {:display-name "Wp 1",
  :rootnodes #{:hpt-73},
  :type :htn-network,
  :uid :net-115},
 :net-118
 {:display-name "Wp 2",
  :rootnodes #{:hpt-75},
  :type :htn-network,
  :uid :net-118},
 :net-120
 {:display-name "Circuit Three",
  :rootnodes #{:henpt-77},
  :type :htn-network,
  :uid :net-120},
 :net-122
 {:display-name "Wp 3",
  :rootnodes #{:hpt-84},
  :type :htn-network,
  :uid :net-122},
 :net-125
 {:display-name "Wp 4",
  :rootnodes #{:hpt-86},
  :type :htn-network,
  :uid :net-125},
 :net-128
 {:display-name "Wp 1",
  :rootnodes #{:hpt-88},
  :type :htn-network,
  :uid :net-128},
 :net-131
 {:display-name "Wp 2",
  :rootnodes #{:hpt-90},
  :type :htn-network,
  :uid :net-131},
 :net-134
 {:display-name "Wp 3",
  :rootnodes #{:hpt-92},
  :type :htn-network,
  :uid :net-134},
 :net-94
 {:display-name "qc-waypoints",
  :rootnodes #{:henpt-48},
  :type :htn-network,
  :uid :net-94},
 :net-96
 {:display-name "Waypoints",
  :rootnodes #{:henpt-49 :henpt-50 :henpt-51},
  :type :htn-network,
  :uid :net-96},
 :net-98
 {:display-name "Circuit One",
  :rootnodes #{:hpt-53},
  :type :htn-network,
  :uid :net-98},
 :network :net-94}
