{:act-106
 {:args [42.445327 -71.227784 4.0 350],
  :constraints #{:tc-104},
  :plantid "qc3",
  :uid :act-106,
  :name "Location(42.445327 -71.227784 4.0 350)",
  :tpn-type :activity,
  :argsmap {"lat" 42.445327, "lon" -71.227784, "alt" 4.0, "yaw" 350},
  :command "location",
  :htn-node :hem-87,
  :controllable false,
  :end-node :node-116,
  :display-name "Location",
  :plant-part "pp3"},
 :act-115
 {:args [42.44537 -71.227891 1.0 80],
  :constraints #{:tc-113},
  :plantid "qc3",
  :uid :act-115,
  :name "Location(42.44537 -71.227891 1.0 80)",
  :tpn-type :activity,
  :argsmap {"lat" 42.44537, "lon" -71.227891, "alt" 1.0, "yaw" 80},
  :command "location",
  :htn-node :hem-89,
  :controllable false,
  :end-node :node-125,
  :display-name "Location",
  :plant-part "pp3"},
 :act-124
 {:args [42.445435 -71.227842 2.0 170],
  :constraints #{:tc-122},
  :plantid "qc3",
  :uid :act-124,
  :name "Location(42.445435 -71.227842 2.0 170)",
  :tpn-type :activity,
  :argsmap {"lat" 42.445435, "lon" -71.227842, "alt" 2.0, "yaw" 170},
  :command "location",
  :htn-node :hem-91,
  :controllable false,
  :end-node :node-135,
  :display-name "Location",
  :plant-part "pp3"},
 :act-13
 {:args [42.44537 -71.227895 1.0 80],
  :constraints #{:tc-12},
  :interface "RMQ",
  :plantid "qc1",
  :uid :act-13,
  :name "Location(42.44537 -71.227895 1.0 80)",
  :tpn-type :activity,
  :argsmap {"lat" 42.44537, "lon" -71.227895, "alt" 1.0, "yaw" 80},
  :command "location",
  :htn-node :hem-58,
  :controllable false,
  :end-node :node-19,
  :display-name "Location",
  :plant-part "pp1"},
 :act-134
 {:args [42.445389 -71.227733 3.0 260],
  :constraints #{:tc-132},
  :plantid "qc3",
  :uid :act-134,
  :name "Location(42.445389 -71.227733 3.0 260)",
  :tpn-type :activity,
  :argsmap {"lat" 42.445389, "lon" -71.227733, "alt" 3.0, "yaw" 260},
  :command "location",
  :htn-node :hem-93,
  :controllable false,
  :end-node :node-87,
  :display-name "Location",
  :plant-part "pp3"},
 :act-18
 {:args [42.445435 -71.227846 2.0 170],
  :constraints #{:tc-17},
  :interface "RMQ",
  :plantid "qc1",
  :uid :act-18,
  :name "Location(42.445435 -71.227846 2.0 170)",
  :tpn-type :activity,
  :argsmap {"lat" 42.445435, "lon" -71.227846, "alt" 2.0, "yaw" 170},
  :command "location",
  :htn-node :hem-58,
  :controllable false,
  :end-node :node-24,
  :display-name "Location",
  :plant-part "pp1"},
 :act-23
 {:args [42.445389 -71.227737 3.0 260],
  :constraints #{:tc-22},
  :interface "RMQ",
  :plantid "qc1",
  :uid :act-23,
  :name "Location(42.445389 -71.227737 3.0 260)",
  :tpn-type :activity,
  :argsmap {"lat" 42.445389, "lon" -71.227737, "alt" 3.0, "yaw" 260},
  :command "location",
  :htn-node :hem-58,
  :controllable false,
  :end-node :node-29,
  :display-name "Location",
  :plant-part "pp1"},
 :act-28
 {:args [42.445327 -71.227788 4.0 350],
  :constraints #{:tc-27},
  :interface "RMQ",
  :plantid "qc1",
  :uid :act-28,
  :name "Location(42.445327 -71.227788 4.0 350)",
  :tpn-type :activity,
  :argsmap {"lat" 42.445327, "lon" -71.227788, "alt" 4.0, "yaw" 350},
  :command "location",
  :htn-node :hem-58,
  :controllable false,
  :end-node :node-34,
  :display-name "Location",
  :plant-part "pp1"},
 :act-33
 {:args [42.44537 -71.227899 1.0 80],
  :constraints #{:tc-32},
  :interface "RMQ",
  :plantid "qc1",
  :uid :act-33,
  :name "Location(42.44537 -71.227899 1.0 80)",
  :tpn-type :activity,
  :argsmap {"lat" 42.44537, "lon" -71.227899, "alt" 1.0, "yaw" 80},
  :command "location",
  :htn-node :hem-58,
  :controllable false,
  :end-node :node-4,
  :display-name "Location",
  :plant-part "pp1"},
 :act-46
 {:args [42.445435 -71.227842 2.0 170],
  :constraints #{:tc-44},
  :interface "ZMQ",
  :plantid "qc2",
  :uid :act-46,
  :name "Location(42.445435 -71.227842 2.0 170)",
  :tpn-type :activity,
  :argsmap {"lat" 42.445435, "lon" -71.227842, "alt" 2.0, "yaw" 170},
  :command "location",
  :htn-node :hem-68,
  :controllable false,
  :end-node :node-56,
  :display-name "Location",
  :plant-part "pp2"},
 :act-55
 {:args [42.445389 -71.227733 3.0 260],
  :constraints #{:tc-53},
  :interface "ZMQ",
  :plantid "qc2",
  :uid :act-55,
  :name "Location(42.445389 -71.227733 3.0 260)",
  :tpn-type :activity,
  :argsmap {"lat" 42.445389, "lon" -71.227733, "alt" 3.0, "yaw" 260},
  :command "location",
  :htn-node :hem-70,
  :controllable false,
  :end-node :node-65,
  :display-name "Location",
  :plant-part "pp2"},
 :act-64
 {:args [42.445327 -71.227784 4.0 350],
  :constraints #{:tc-62},
  :interface "ZMQ",
  :plantid "qc2",
  :uid :act-64,
  :name "Location(42.445327 -71.227784 4.0 350)",
  :tpn-type :activity,
  :argsmap {"lat" 42.445327, "lon" -71.227784, "alt" 4.0, "yaw" 350},
  :command "location",
  :htn-node :hem-72,
  :controllable false,
  :end-node :node-74,
  :display-name "Location",
  :plant-part "pp2"},
 :act-73
 {:args [42.44537 -71.227891 1.0 80],
  :constraints #{:tc-71},
  :interface "ZMQ",
  :plantid "qc2",
  :uid :act-73,
  :name "Location(42.44537 -71.227891 1.0 80)",
  :tpn-type :activity,
  :argsmap {"lat" 42.44537, "lon" -71.227891, "alt" 1.0, "yaw" 80},
  :command "location",
  :htn-node :hem-74,
  :controllable false,
  :end-node :node-84,
  :display-name "Location",
  :plant-part "pp2"},
 :act-83
 {:args [42.445435 -71.227842 2.0 170],
  :constraints #{:tc-81},
  :interface "ZMQ",
  :plantid "qc2",
  :uid :act-83,
  :name "Location(42.445435 -71.227842 2.0 170)",
  :tpn-type :activity,
  :argsmap {"lat" 42.445435, "lon" -71.227842, "alt" 2.0, "yaw" 170},
  :command "location",
  :htn-node :hem-76,
  :controllable false,
  :end-node :node-37,
  :display-name "Location",
  :plant-part "pp2"},
 :act-97
 {:args [42.445389 -71.227733 3.0 260],
  :constraints #{:tc-95},
  :plantid "qc3",
  :uid :act-97,
  :name "Location(42.445389 -71.227733 3.0 260)",
  :tpn-type :activity,
  :argsmap {"lat" 42.445389, "lon" -71.227733, "alt" 3.0, "yaw" 260},
  :command "location",
  :htn-node :hem-85,
  :controllable false,
  :end-node :node-107,
  :display-name "Location",
  :plant-part "pp3"},
 :na-10
 {:tpn-type :null-activity,
  :uid :na-10,
  :constraints #{},
  :end-node :node-6},
 :na-15
 {:tpn-type :null-activity,
  :uid :na-15,
  :constraints #{},
  :end-node :node-14},
 :na-40
 {:tpn-type :null-activity,
  :uid :na-40,
  :constraints #{},
  :end-node :node-6},
 :na-48
 {:tpn-type :null-activity,
  :uid :na-48,
  :constraints #{},
  :end-node :node-47},
 :na-91
 {:tpn-type :null-activity,
  :uid :na-91,
  :constraints #{},
  :end-node :node-6},
 :na-99
 {:tpn-type :null-activity,
  :uid :na-99,
  :constraints #{},
  :end-node :node-98},
 :net-3
 {:tpn-type :network,
  :uid :net-3,
  :begin-node :node-7,
  :end-node :node-6},
 :network-id :net-3,
 :node-107
 {:tpn-type :state,
  :uid :node-107,
  :constraints #{},
  :activities #{:act-106},
  :incidence-set #{:act-97},
  :htn-node :hem-87,
  :sequence-end :node-101},
 :node-116
 {:tpn-type :state,
  :uid :node-116,
  :constraints #{},
  :activities #{:act-115},
  :incidence-set #{:act-106},
  :htn-node :hem-89,
  :sequence-end :node-110},
 :node-125
 {:tpn-type :state,
  :uid :node-125,
  :constraints #{},
  :activities #{:act-124},
  :incidence-set #{:act-115},
  :htn-node :hem-91,
  :sequence-end :node-119},
 :node-135
 {:tpn-type :state,
  :uid :node-135,
  :constraints #{},
  :activities #{:act-134},
  :incidence-set #{:act-124},
  :htn-node :hem-93,
  :sequence-end :node-128},
 :node-14
 {:tpn-type :state,
  :uid :node-14,
  :constraints #{},
  :activities #{:act-13},
  :incidence-set #{:na-15},
  :htn-node :hem-58},
 :node-19
 {:tpn-type :state,
  :uid :node-19,
  :constraints #{},
  :activities #{:act-18},
  :incidence-set #{:act-13},
  :htn-node :hem-58},
 :node-24
 {:tpn-type :state,
  :uid :node-24,
  :constraints #{},
  :activities #{:act-23},
  :incidence-set #{:act-18},
  :htn-node :hem-58},
 :node-29
 {:tpn-type :state,
  :uid :node-29,
  :constraints #{},
  :activities #{:act-28},
  :incidence-set #{:act-23},
  :htn-node :hem-58},
 :node-34
 {:tpn-type :state,
  :uid :node-34,
  :constraints #{},
  :activities #{:act-33},
  :incidence-set #{:act-28},
  :htn-node :hem-58},
 :node-37
 {:tpn-type :state,
  :uid :node-37,
  :constraints #{},
  :activities #{:na-40},
  :incidence-set #{:act-83}},
 :node-4
 {:tpn-type :state,
  :uid :node-4,
  :constraints #{},
  :activities #{:na-10},
  :incidence-set #{:act-33}},
 :node-47
 {:tpn-type :state,
  :uid :node-47,
  :constraints #{},
  :activities #{:act-46},
  :incidence-set #{:na-48},
  :htn-node :hem-65,
  :sequence-end :node-41},
 :node-56
 {:tpn-type :state,
  :uid :node-56,
  :constraints #{},
  :activities #{:act-55},
  :incidence-set #{:act-46},
  :htn-node :hem-70,
  :sequence-end :node-50},
 :node-6
 {:tpn-type :p-end,
  :uid :node-6,
  :constraints #{},
  :activities #{},
  :incidence-set #{:na-40 :na-91 :na-10}},
 :node-65
 {:tpn-type :state,
  :uid :node-65,
  :constraints #{},
  :activities #{:act-64},
  :incidence-set #{:act-55},
  :htn-node :hem-72,
  :sequence-end :node-59},
 :node-7
 {:tpn-type :p-begin,
  :uid :node-7,
  :constraints #{},
  :activities #{:na-99 :na-48 :na-15},
  :incidence-set #{},
  :htn-node :hem-47,
  :end-node :node-6},
 :node-74
 {:tpn-type :state,
  :uid :node-74,
  :constraints #{},
  :activities #{:act-73},
  :incidence-set #{:act-64},
  :htn-node :hem-74,
  :sequence-end :node-68},
 :node-84
 {:tpn-type :state,
  :uid :node-84,
  :constraints #{},
  :activities #{:act-83},
  :incidence-set #{:act-73},
  :htn-node :hem-76,
  :sequence-end :node-77},
 :node-87
 {:tpn-type :state,
  :uid :node-87,
  :constraints #{},
  :activities #{:na-91},
  :incidence-set #{:act-134}},
 :node-98
 {:tpn-type :state,
  :uid :node-98,
  :constraints #{},
  :activities #{:act-97},
  :incidence-set #{:na-99},
  :htn-node :hem-82,
  :sequence-end :node-92},
 :tc-104
 {:tpn-type :temporal-constraint,
  :uid :tc-104,
  :value [14 50],
  :end-node :node-116},
 :tc-113
 {:tpn-type :temporal-constraint,
  :uid :tc-113,
  :value [11 50],
  :end-node :node-125},
 :tc-12
 {:tpn-type :temporal-constraint,
  :uid :tc-12,
  :value [5 20],
  :end-node :node-19},
 :tc-122
 {:tpn-type :temporal-constraint,
  :uid :tc-122,
  :value [12 50],
  :end-node :node-135},
 :tc-132
 {:tpn-type :temporal-constraint,
  :uid :tc-132,
  :value [13 50],
  :end-node :node-87},
 :tc-17
 {:tpn-type :temporal-constraint,
  :uid :tc-17,
  :value [5 20],
  :end-node :node-24},
 :tc-22
 {:tpn-type :temporal-constraint,
  :uid :tc-22,
  :value [5 20],
  :end-node :node-29},
 :tc-27
 {:tpn-type :temporal-constraint,
  :uid :tc-27,
  :value [5 20],
  :end-node :node-34},
 :tc-32
 {:tpn-type :temporal-constraint,
  :uid :tc-32,
  :value [5 20],
  :end-node :node-4},
 :tc-44
 {:tpn-type :temporal-constraint,
  :uid :tc-44,
  :value [12 50],
  :end-node :node-56},
 :tc-53
 {:tpn-type :temporal-constraint,
  :uid :tc-53,
  :value [13 50],
  :end-node :node-65},
 :tc-62
 {:tpn-type :temporal-constraint,
  :uid :tc-62,
  :value [14 50],
  :end-node :node-74},
 :tc-71
 {:tpn-type :temporal-constraint,
  :uid :tc-71,
  :value [11 50],
  :end-node :node-84},
 :tc-81
 {:tpn-type :temporal-constraint,
  :uid :tc-81,
  :value [12 50],
  :end-node :node-37},
 :tc-95
 {:tpn-type :temporal-constraint,
  :uid :tc-95,
  :value [13 50],
  :end-node :node-107}}
