{:act-102
 {:args [42.445389 -71.227737 3.0 260],
  :constraints #{:tc-101},
  :interface "RMQ",
  :plantid "qc1",
  :uid :act-102,
  :name "Location(42.445389 -71.227737 3.0 260)",
  :tpn-type :activity,
  :argsmap {"lat" 42.445389, "lon" -71.227737, "alt" 3.0, "yaw" 260},
  :command "location",
  :htn-node :hem-170,
  :controllable false,
  :end-node :node-108,
  :label "TEMP-location",
  :display-name "Location",
  :plant-part "pp1"},
 :act-107
 {:args [42.445327 -71.227788 4.0 350],
  :constraints #{:tc-106},
  :interface "RMQ",
  :plantid "qc1",
  :uid :act-107,
  :name "Location(42.445327 -71.227788 4.0 350)",
  :tpn-type :activity,
  :argsmap {"lat" 42.445327, "lon" -71.227788, "alt" 4.0, "yaw" 350},
  :command "location",
  :htn-node :hem-170,
  :controllable false,
  :end-node :node-113,
  :label "TEMP-location",
  :display-name "Location",
  :plant-part "pp1"},
 :act-112
 {:args [42.44537 -71.227899 1.0 80],
  :constraints #{:tc-111},
  :interface "RMQ",
  :plantid "qc1",
  :uid :act-112,
  :name "Location(42.44537 -71.227899 1.0 80)",
  :tpn-type :activity,
  :argsmap {"lat" 42.44537, "lon" -71.227899, "alt" 1.0, "yaw" 80},
  :command "location",
  :htn-node :hem-170,
  :controllable false,
  :end-node :node-83,
  :label "TEMP-location",
  :display-name "Location",
  :plant-part "pp1"},
 :act-125
 {:args [42.445435 -71.227842 2.0 170],
  :constraints #{:tc-123},
  :interface "ZMQ",
  :plantid "qc2",
  :uid :act-125,
  :name "Location(42.445435 -71.227842 2.0 170)",
  :tpn-type :activity,
  :argsmap {"lat" 42.445435, "lon" -71.227842, "alt" 2.0, "yaw" 170},
  :command "location",
  :htn-node :hem-180,
  :controllable false,
  :end-node :node-135,
  :label "TEMP-location",
  :display-name "Location",
  :plant-part "pp2"},
 :act-134
 {:args [42.445389 -71.227733 3.0 260],
  :constraints #{:tc-132},
  :interface "ZMQ",
  :plantid "qc2",
  :uid :act-134,
  :name "Location(42.445389 -71.227733 3.0 260)",
  :tpn-type :activity,
  :argsmap {"lat" 42.445389, "lon" -71.227733, "alt" 3.0, "yaw" 260},
  :command "location",
  :htn-node :hem-182,
  :controllable false,
  :end-node :node-144,
  :label "TEMP-location",
  :display-name "Location",
  :plant-part "pp2"},
 :act-143
 {:args [42.445327 -71.227784 4.0 350],
  :constraints #{:tc-141},
  :interface "ZMQ",
  :plantid "qc2",
  :uid :act-143,
  :name "Location(42.445327 -71.227784 4.0 350)",
  :tpn-type :activity,
  :argsmap {"lat" 42.445327, "lon" -71.227784, "alt" 4.0, "yaw" 350},
  :command "location",
  :htn-node :hem-184,
  :controllable false,
  :end-node :node-153,
  :label "TEMP-location",
  :display-name "Location",
  :plant-part "pp2"},
 :act-152
 {:args [42.44537 -71.227891 1.0 80],
  :constraints #{:tc-150},
  :interface "ZMQ",
  :plantid "qc2",
  :uid :act-152,
  :name "Location(42.44537 -71.227891 1.0 80)",
  :tpn-type :activity,
  :argsmap {"lat" 42.44537, "lon" -71.227891, "alt" 1.0, "yaw" 80},
  :command "location",
  :htn-node :hem-186,
  :controllable false,
  :end-node :node-163,
  :label "TEMP-location",
  :display-name "Location",
  :plant-part "pp2"},
 :act-162
 {:args [42.445435 -71.227842 2.0 170],
  :constraints #{:tc-160},
  :interface "ZMQ",
  :plantid "qc2",
  :uid :act-162,
  :name "Location(42.445435 -71.227842 2.0 170)",
  :tpn-type :activity,
  :argsmap {"lat" 42.445435, "lon" -71.227842, "alt" 2.0, "yaw" 170},
  :command "location",
  :htn-node :hem-188,
  :controllable false,
  :end-node :node-116,
  :label "TEMP-location",
  :display-name "Location",
  :plant-part "pp2"},
 :act-176
 {:args [42.445389 -71.227733 3.0 260],
  :constraints #{:tc-174},
  :plantid "qc3",
  :uid :act-176,
  :name "Location(42.445389 -71.227733 3.0 260)",
  :tpn-type :activity,
  :argsmap {"lat" 42.445389, "lon" -71.227733, "alt" 3.0, "yaw" 260},
  :command "location",
  :htn-node :hem-197,
  :controllable false,
  :end-node :node-186,
  :label "TEMP-location",
  :display-name "Location",
  :plant-part "pp3"},
 :act-185
 {:args [42.445327 -71.227784 4.0 350],
  :constraints #{:tc-183},
  :plantid "qc3",
  :uid :act-185,
  :name "Location(42.445327 -71.227784 4.0 350)",
  :tpn-type :activity,
  :argsmap {"lat" 42.445327, "lon" -71.227784, "alt" 4.0, "yaw" 350},
  :command "location",
  :htn-node :hem-199,
  :controllable false,
  :end-node :node-195,
  :label "TEMP-location",
  :display-name "Location",
  :plant-part "pp3"},
 :act-194
 {:args [42.44537 -71.227891 1.0 80],
  :constraints #{:tc-192},
  :plantid "qc3",
  :uid :act-194,
  :name "Location(42.44537 -71.227891 1.0 80)",
  :tpn-type :activity,
  :argsmap {"lat" 42.44537, "lon" -71.227891, "alt" 1.0, "yaw" 80},
  :command "location",
  :htn-node :hem-201,
  :controllable false,
  :end-node :node-204,
  :label "TEMP-location",
  :display-name "Location",
  :plant-part "pp3"},
 :act-203
 {:args [42.445435 -71.227842 2.0 170],
  :constraints #{:tc-201},
  :plantid "qc3",
  :uid :act-203,
  :name "Location(42.445435 -71.227842 2.0 170)",
  :tpn-type :activity,
  :argsmap {"lat" 42.445435, "lon" -71.227842, "alt" 2.0, "yaw" 170},
  :command "location",
  :htn-node :hem-203,
  :controllable false,
  :end-node :node-214,
  :label "TEMP-location",
  :display-name "Location",
  :plant-part "pp3"},
 :act-213
 {:args [42.445389 -71.227733 3.0 260],
  :constraints #{:tc-211},
  :plantid "qc3",
  :uid :act-213,
  :name "Location(42.445389 -71.227733 3.0 260)",
  :tpn-type :activity,
  :argsmap {"lat" 42.445389, "lon" -71.227733, "alt" 3.0, "yaw" 260},
  :command "location",
  :htn-node :hem-205,
  :controllable false,
  :end-node :node-166,
  :label "TEMP-location",
  :display-name "Location",
  :plant-part "pp3"},
 :act-92
 {:args [42.44537 -71.227895 1.0 80],
  :constraints #{:tc-91},
  :interface "RMQ",
  :plantid "qc1",
  :uid :act-92,
  :name "Location(42.44537 -71.227895 1.0 80)",
  :tpn-type :activity,
  :argsmap {"lat" 42.44537, "lon" -71.227895, "alt" 1.0, "yaw" 80},
  :command "location",
  :htn-node :hem-170,
  :controllable false,
  :end-node :node-98,
  :label "TEMP-location",
  :display-name "Location",
  :plant-part "pp1"},
 :act-97
 {:args [42.445435 -71.227846 2.0 170],
  :constraints #{:tc-96},
  :interface "RMQ",
  :plantid "qc1",
  :uid :act-97,
  :name "Location(42.445435 -71.227846 2.0 170)",
  :tpn-type :activity,
  :argsmap {"lat" 42.445435, "lon" -71.227846, "alt" 2.0, "yaw" 170},
  :command "location",
  :htn-node :hem-170,
  :controllable false,
  :end-node :node-103,
  :label "TEMP-location",
  :display-name "Location",
  :plant-part "pp1"},
 :na-119
 {:tpn-type :null-activity,
  :uid :na-119,
  :constraints #{},
  :end-node :node-85},
 :na-127
 {:tpn-type :null-activity,
  :uid :na-127,
  :constraints #{},
  :end-node :node-126},
 :na-170
 {:tpn-type :null-activity,
  :uid :na-170,
  :constraints #{},
  :end-node :node-85},
 :na-178
 {:tpn-type :null-activity,
  :uid :na-178,
  :constraints #{},
  :end-node :node-177},
 :na-89
 {:tpn-type :null-activity,
  :uid :na-89,
  :constraints #{},
  :end-node :node-85},
 :na-94
 {:tpn-type :null-activity,
  :uid :na-94,
  :constraints #{},
  :end-node :node-93},
 :net-82
 {:tpn-type :network,
  :uid :net-82,
  :begin-node :node-86,
  :end-node :node-85},
 :network-id :net-82,
 :node-103
 {:tpn-type :state,
  :uid :node-103,
  :constraints #{},
  :activities #{:act-102},
  :incidence-set #{:act-97},
  :htn-node :hem-170,
  :end-node :node-100},
 :node-108
 {:tpn-type :state,
  :uid :node-108,
  :constraints #{},
  :activities #{:act-107},
  :incidence-set #{:act-102},
  :htn-node :hem-170,
  :end-node :node-105},
 :node-113
 {:tpn-type :state,
  :uid :node-113,
  :constraints #{},
  :activities #{:act-112},
  :incidence-set #{:act-107},
  :htn-node :hem-170,
  :end-node :node-110},
 :node-116
 {:tpn-type :state,
  :uid :node-116,
  :constraints #{},
  :activities #{:na-119},
  :incidence-set #{:act-162}},
 :node-126
 {:tpn-type :state,
  :uid :node-126,
  :constraints #{},
  :activities #{:act-125},
  :incidence-set #{:na-127},
  :htn-node :hem-177,
  :end-node :node-124},
 :node-135
 {:tpn-type :state,
  :uid :node-135,
  :constraints #{},
  :activities #{:act-134},
  :incidence-set #{:act-125},
  :htn-node :hem-182,
  :end-node :node-133},
 :node-144
 {:tpn-type :state,
  :uid :node-144,
  :constraints #{},
  :activities #{:act-143},
  :incidence-set #{:act-134},
  :htn-node :hem-184,
  :end-node :node-142},
 :node-153
 {:tpn-type :state,
  :uid :node-153,
  :constraints #{},
  :activities #{:act-152},
  :incidence-set #{:act-143},
  :htn-node :hem-186,
  :end-node :node-151},
 :node-163
 {:tpn-type :state,
  :uid :node-163,
  :constraints #{},
  :activities #{:act-162},
  :incidence-set #{:act-152},
  :htn-node :hem-188,
  :end-node :node-161},
 :node-166
 {:tpn-type :state,
  :uid :node-166,
  :constraints #{},
  :activities #{:na-170},
  :incidence-set #{:act-213}},
 :node-177
 {:tpn-type :state,
  :uid :node-177,
  :constraints #{},
  :activities #{:act-176},
  :incidence-set #{:na-178},
  :htn-node :hem-194,
  :end-node :node-175},
 :node-186
 {:tpn-type :state,
  :uid :node-186,
  :constraints #{},
  :activities #{:act-185},
  :incidence-set #{:act-176},
  :htn-node :hem-199,
  :end-node :node-184},
 :node-195
 {:tpn-type :state,
  :uid :node-195,
  :constraints #{},
  :activities #{:act-194},
  :incidence-set #{:act-185},
  :htn-node :hem-201,
  :end-node :node-193},
 :node-204
 {:tpn-type :state,
  :uid :node-204,
  :constraints #{},
  :activities #{:act-203},
  :incidence-set #{:act-194},
  :htn-node :hem-203,
  :end-node :node-202},
 :node-214
 {:tpn-type :state,
  :uid :node-214,
  :constraints #{},
  :activities #{:act-213},
  :incidence-set #{:act-203},
  :htn-node :hem-205,
  :end-node :node-212},
 :node-83
 {:tpn-type :state,
  :uid :node-83,
  :constraints #{},
  :activities #{:na-89},
  :incidence-set #{:act-112}},
 :node-85
 {:tpn-type :p-end,
  :uid :node-85,
  :constraints #{},
  :activities #{},
  :incidence-set #{:na-119 :na-170 :na-89}},
 :node-86
 {:tpn-type :p-begin,
  :uid :node-86,
  :constraints #{},
  :activities #{:na-178 :na-127 :na-94},
  :incidence-set #{},
  :htn-node :hem-159,
  :end-node :node-85},
 :node-93
 {:tpn-type :state,
  :uid :node-93,
  :constraints #{},
  :activities #{:act-92},
  :incidence-set #{:na-94},
  :htn-node :hem-170,
  :end-node :node-90},
 :node-98
 {:tpn-type :state,
  :uid :node-98,
  :constraints #{},
  :activities #{:act-97},
  :incidence-set #{:act-92},
  :htn-node :hem-170,
  :end-node :node-95},
 :tc-101
 {:tpn-type :temporal-constraint,
  :uid :tc-101,
  :value [5 20],
  :end-node :node-108},
 :tc-106
 {:tpn-type :temporal-constraint,
  :uid :tc-106,
  :value [5 20],
  :end-node :node-113},
 :tc-111
 {:tpn-type :temporal-constraint,
  :uid :tc-111,
  :value [5 20],
  :end-node :node-83},
 :tc-123
 {:tpn-type :temporal-constraint,
  :uid :tc-123,
  :value [12 50],
  :end-node :node-135},
 :tc-132
 {:tpn-type :temporal-constraint,
  :uid :tc-132,
  :value [13 50],
  :end-node :node-144},
 :tc-141
 {:tpn-type :temporal-constraint,
  :uid :tc-141,
  :value [14 50],
  :end-node :node-153},
 :tc-150
 {:tpn-type :temporal-constraint,
  :uid :tc-150,
  :value [11 50],
  :end-node :node-163},
 :tc-160
 {:tpn-type :temporal-constraint,
  :uid :tc-160,
  :value [12 50],
  :end-node :node-116},
 :tc-174
 {:tpn-type :temporal-constraint,
  :uid :tc-174,
  :value [13 50],
  :end-node :node-186},
 :tc-183
 {:tpn-type :temporal-constraint,
  :uid :tc-183,
  :value [14 50],
  :end-node :node-195},
 :tc-192
 {:tpn-type :temporal-constraint,
  :uid :tc-192,
  :value [11 50],
  :end-node :node-204},
 :tc-201
 {:tpn-type :temporal-constraint,
  :uid :tc-201,
  :value [12 50],
  :end-node :node-214},
 :tc-211
 {:tpn-type :temporal-constraint,
  :uid :tc-211,
  :value [13 50],
  :end-node :node-166},
 :tc-91
 {:tpn-type :temporal-constraint,
  :uid :tc-91,
  :value [5 20],
  :end-node :node-98},
 :tc-96
 {:tpn-type :temporal-constraint,
  :uid :tc-96,
  :value [5 20],
  :end-node :node-103}}
