{:hedge-100 {:type :edge, :uid :hedge-100, :end-node :hpt-52},
 :hedge-101 {:type :edge, :uid :hedge-101, :end-node :hpt-54},
 :hedge-102 {:type :edge, :uid :hedge-102, :end-node :hpt-56},
 :hedge-103 {:type :edge, :uid :hedge-103, :end-node :hem-65},
 :hedge-105
 {:type :edge, :uid :hedge-105, :label "1", :end-node :hem-68},
 :hedge-107 {:type :edge, :uid :hedge-107, :end-node :henpt-61},
 :hedge-108
 {:type :edge, :uid :hedge-108, :label "2", :end-node :hem-70},
 :hedge-110 {:type :edge, :uid :hedge-110, :end-node :henpt-62},
 :hedge-111
 {:type :edge, :uid :hedge-111, :label "3", :end-node :hem-72},
 :hedge-113 {:type :edge, :uid :hedge-113, :end-node :henpt-63},
 :hedge-114
 {:type :edge, :uid :hedge-114, :label "4", :end-node :hem-74},
 :hedge-116 {:type :edge, :uid :hedge-116, :end-node :henpt-64},
 :hedge-117
 {:type :edge, :uid :hedge-117, :label "5", :end-node :hem-76},
 :hedge-119 {:type :edge, :uid :hedge-119, :end-node :hem-82},
 :hedge-121
 {:type :edge, :uid :hedge-121, :label "1", :end-node :hem-85},
 :hedge-123 {:type :edge, :uid :hedge-123, :end-node :henpt-78},
 :hedge-124
 {:type :edge, :uid :hedge-124, :label "2", :end-node :hem-87},
 :hedge-126 {:type :edge, :uid :hedge-126, :end-node :henpt-79},
 :hedge-127
 {:type :edge, :uid :hedge-127, :label "3", :end-node :hem-89},
 :hedge-129 {:type :edge, :uid :hedge-129, :end-node :henpt-80},
 :hedge-130
 {:type :edge, :uid :hedge-130, :label "4", :end-node :hem-91},
 :hedge-132 {:type :edge, :uid :hedge-132, :end-node :henpt-81},
 :hedge-133
 {:type :edge, :uid :hedge-133, :label "5", :end-node :hem-93},
 :hedge-95 {:type :edge, :uid :hedge-95, :end-node :hem-47},
 :hedge-97 {:type :edge, :uid :hedge-97, :end-node :hem-58},
 :hedge-99 {:type :edge, :uid :hedge-99, :end-node :hpt-50},
 :hem-47
 {:uid :hem-47,
  :type :htn-expanded-method,
  :label "Waypoints(qc1,qc2,qc3)",
  :display-name "Waypoints",
  :network :net-96,
  :incidence-set #{:hedge-95},
  :edges [:hedge-97 :hedge-103 :hedge-119]},
 :hem-58
 {:uid :hem-58,
  :type :htn-expanded-method,
  :label "Circuit One(qc1)",
  :display-name "Circuit One",
  :network :net-98,
  :incidence-set #{},
  :edges []},
 :hem-65
 {:uid :hem-65,
  :type :htn-expanded-method,
  :label "Circuit Two(qc2)",
  :display-name "Circuit Two",
  :network :net-104,
  :incidence-set #{},
  :edges [:hedge-105 :hedge-108 :hedge-111 :hedge-114 :hedge-117]},
 :hem-68
 {:uid :hem-68,
  :type :htn-expanded-method,
  :label "Wp 2()",
  :display-name "Wp 2",
  :network :net-106,
  :incidence-set #{},
  :edges []},
 :hem-70
 {:uid :hem-70,
  :type :htn-expanded-method,
  :label "Wp 3()",
  :display-name "Wp 3",
  :network :net-109,
  :incidence-set #{},
  :edges []},
 :hem-72
 {:uid :hem-72,
  :type :htn-expanded-method,
  :label "Wp 4()",
  :display-name "Wp 4",
  :network :net-112,
  :incidence-set #{},
  :edges []},
 :hem-74
 {:uid :hem-74,
  :type :htn-expanded-method,
  :label "Wp 1()",
  :display-name "Wp 1",
  :network :net-115,
  :incidence-set #{},
  :edges []},
 :hem-76
 {:uid :hem-76,
  :type :htn-expanded-method,
  :label "Wp 2()",
  :display-name "Wp 2",
  :network :net-118,
  :incidence-set #{},
  :edges []},
 :hem-82
 {:uid :hem-82,
  :type :htn-expanded-method,
  :label "Circuit Three(qc3)",
  :display-name "Circuit Three",
  :network :net-120,
  :incidence-set #{},
  :edges [:hedge-121 :hedge-124 :hedge-127 :hedge-130 :hedge-133]},
 :hem-85
 {:uid :hem-85,
  :type :htn-expanded-method,
  :label "Wp 3()",
  :display-name "Wp 3",
  :network :net-122,
  :incidence-set #{},
  :edges []},
 :hem-87
 {:uid :hem-87,
  :type :htn-expanded-method,
  :label "Wp 4()",
  :display-name "Wp 4",
  :network :net-125,
  :incidence-set #{},
  :edges []},
 :hem-89
 {:uid :hem-89,
  :type :htn-expanded-method,
  :label "Wp 1()",
  :display-name "Wp 1",
  :network :net-128,
  :incidence-set #{},
  :edges []},
 :hem-91
 {:uid :hem-91,
  :type :htn-expanded-method,
  :label "Wp 2()",
  :display-name "Wp 2",
  :network :net-131,
  :incidence-set #{},
  :edges []},
 :hem-93
 {:uid :hem-93,
  :type :htn-expanded-method,
  :label "Wp 3()",
  :display-name "Wp 3",
  :network :net-134,
  :incidence-set #{},
  :edges []},
 :henpt-43
 {:uid :henpt-43,
  :type :htn-expanded-nonprimitive-task,
  :label "qc-waypoints",
  :display-name "qc-waypoints",
  :incidence-set #{},
  :edges [:hedge-95]},
 :henpt-44
 {:uid :henpt-44,
  :name "circuit-one",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-circuit-one",
  :display-name "Circuit One",
  :incidence-set #{},
  :edges []},
 :henpt-45
 {:uid :henpt-45,
  :name "circuit-two",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-circuit-two",
  :display-name "Circuit Two",
  :incidence-set #{},
  :edges []},
 :henpt-46
 {:uid :henpt-46,
  :name "circuit-three",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-circuit-three",
  :display-name "Circuit Three",
  :incidence-set #{},
  :edges []},
 :henpt-60
 {:uid :henpt-60,
  :name "wp2",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-wp2",
  :display-name "Wp 2",
  :incidence-set #{},
  :edges [:hedge-107]},
 :henpt-61
 {:uid :henpt-61,
  :name "wp3",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-wp3",
  :display-name "Wp 3",
  :incidence-set #{:hedge-107},
  :edges [:hedge-110]},
 :henpt-62
 {:uid :henpt-62,
  :name "wp4",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-wp4",
  :display-name "Wp 4",
  :incidence-set #{:hedge-110},
  :edges [:hedge-113]},
 :henpt-63
 {:uid :henpt-63,
  :name "wp1",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-wp1",
  :display-name "Wp 1",
  :incidence-set #{:hedge-113},
  :edges [:hedge-116]},
 :henpt-64
 {:uid :henpt-64,
  :name "wp2",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-wp2",
  :display-name "Wp 2",
  :incidence-set #{:hedge-116},
  :edges []},
 :henpt-77
 {:uid :henpt-77,
  :name "wp3",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-wp3",
  :display-name "Wp 3",
  :incidence-set #{},
  :edges [:hedge-123]},
 :henpt-78
 {:uid :henpt-78,
  :name "wp4",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-wp4",
  :display-name "Wp 4",
  :incidence-set #{:hedge-123},
  :edges [:hedge-126]},
 :henpt-79
 {:uid :henpt-79,
  :name "wp1",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-wp1",
  :display-name "Wp 1",
  :incidence-set #{:hedge-126},
  :edges [:hedge-129]},
 :henpt-80
 {:uid :henpt-80,
  :name "wp2",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-wp2",
  :display-name "Wp 2",
  :incidence-set #{:hedge-129},
  :edges [:hedge-132]},
 :henpt-81
 {:uid :henpt-81,
  :name "wp3",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-wp3",
  :display-name "Wp 3",
  :incidence-set #{:hedge-132},
  :edges []},
 :hpt-48
 {:args [42.44537 -71.227895 1.0 80],
  :interface "RMQ",
  :plantid "qc1",
  :uid :hpt-48,
  :name "location",
  :argsmap {"lat" 42.44537, "lon" -71.227895, "alt" 1.0, "yaw" 80},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{},
  :edges [:hedge-99],
  :plant-part "pp1"},
 :hpt-50
 {:args [42.445435 -71.227846 2.0 170],
  :interface "RMQ",
  :plantid "qc1",
  :uid :hpt-50,
  :name "location",
  :argsmap {"lat" 42.445435, "lon" -71.227846, "alt" 2.0, "yaw" 170},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{:hedge-99},
  :edges [:hedge-100],
  :plant-part "pp1"},
 :hpt-52
 {:args [42.445389 -71.227737 3.0 260],
  :interface "RMQ",
  :plantid "qc1",
  :uid :hpt-52,
  :name "location",
  :argsmap {"lat" 42.445389, "lon" -71.227737, "alt" 3.0, "yaw" 260},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{:hedge-100},
  :edges [:hedge-101],
  :plant-part "pp1"},
 :hpt-54
 {:args [42.445327 -71.227788 4.0 350],
  :interface "RMQ",
  :plantid "qc1",
  :uid :hpt-54,
  :name "location",
  :argsmap {"lat" 42.445327, "lon" -71.227788, "alt" 4.0, "yaw" 350},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{:hedge-101},
  :edges [:hedge-102],
  :plant-part "pp1"},
 :hpt-56
 {:args [42.44537 -71.227899 1.0 80],
  :interface "RMQ",
  :plantid "qc1",
  :uid :hpt-56,
  :name "location",
  :argsmap {"lat" 42.44537, "lon" -71.227899, "alt" 1.0, "yaw" 80},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{:hedge-102},
  :edges [],
  :plant-part "pp1"},
 :hpt-67
 {:args [42.445435 -71.227842 2.0 170],
  :interface "ZMQ",
  :plantid "qc2",
  :uid :hpt-67,
  :name "location",
  :argsmap {"lat" 42.445435, "lon" -71.227842, "alt" 2.0, "yaw" 170},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{},
  :edges [],
  :plant-part "pp2"},
 :hpt-69
 {:args [42.445389 -71.227733 3.0 260],
  :interface "ZMQ",
  :plantid "qc2",
  :uid :hpt-69,
  :name "location",
  :argsmap {"lat" 42.445389, "lon" -71.227733, "alt" 3.0, "yaw" 260},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{},
  :edges [],
  :plant-part "pp2"},
 :hpt-71
 {:args [42.445327 -71.227784 4.0 350],
  :interface "ZMQ",
  :plantid "qc2",
  :uid :hpt-71,
  :name "location",
  :argsmap {"lat" 42.445327, "lon" -71.227784, "alt" 4.0, "yaw" 350},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{},
  :edges [],
  :plant-part "pp2"},
 :hpt-73
 {:args [42.44537 -71.227891 1.0 80],
  :interface "ZMQ",
  :plantid "qc2",
  :uid :hpt-73,
  :name "location",
  :argsmap {"lat" 42.44537, "lon" -71.227891, "alt" 1.0, "yaw" 80},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{},
  :edges [],
  :plant-part "pp2"},
 :hpt-75
 {:args [42.445435 -71.227842 2.0 170],
  :interface "ZMQ",
  :plantid "qc2",
  :uid :hpt-75,
  :name "location",
  :argsmap {"lat" 42.445435, "lon" -71.227842, "alt" 2.0, "yaw" 170},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{},
  :edges [],
  :plant-part "pp2"},
 :hpt-84
 {:args [42.445389 -71.227733 3.0 260],
  :plantid "qc3",
  :uid :hpt-84,
  :name "location",
  :argsmap {"lat" 42.445389, "lon" -71.227733, "alt" 3.0, "yaw" 260},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{},
  :edges [],
  :plant-part "pp3"},
 :hpt-86
 {:args [42.445327 -71.227784 4.0 350],
  :plantid "qc3",
  :uid :hpt-86,
  :name "location",
  :argsmap {"lat" 42.445327, "lon" -71.227784, "alt" 4.0, "yaw" 350},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{},
  :edges [],
  :plant-part "pp3"},
 :hpt-88
 {:args [42.44537 -71.227891 1.0 80],
  :plantid "qc3",
  :uid :hpt-88,
  :name "location",
  :argsmap {"lat" 42.44537, "lon" -71.227891, "alt" 1.0, "yaw" 80},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{},
  :edges [],
  :plant-part "pp3"},
 :hpt-90
 {:args [42.445435 -71.227842 2.0 170],
  :plantid "qc3",
  :uid :hpt-90,
  :name "location",
  :argsmap {"lat" 42.445435, "lon" -71.227842, "alt" 2.0, "yaw" 170},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{},
  :edges [],
  :plant-part "pp3"},
 :hpt-92
 {:args [42.445389 -71.227733 3.0 260],
  :plantid "qc3",
  :uid :hpt-92,
  :name "location",
  :argsmap {"lat" 42.445389, "lon" -71.227733, "alt" 3.0, "yaw" 260},
  :type :htn-primitive-task,
  :label "TEMP-location",
  :display-name "Location",
  :incidence-set #{},
  :edges [],
  :plant-part "pp3"},
 :net-104
 {:type :htn-network,
  :uid :net-104,
  :display-name "Circuit Two(qc2)",
  :label "Circuit Two(qc2)",
  :rootnodes #{:henpt-60}},
 :net-106
 {:type :htn-network,
  :uid :net-106,
  :display-name "Wp 2()",
  :label "Wp 2()",
  :rootnodes #{:hpt-67}},
 :net-109
 {:type :htn-network,
  :uid :net-109,
  :display-name "Wp 3()",
  :label "Wp 3()",
  :rootnodes #{:hpt-69}},
 :net-112
 {:type :htn-network,
  :uid :net-112,
  :display-name "Wp 4()",
  :label "Wp 4()",
  :rootnodes #{:hpt-71}},
 :net-115
 {:type :htn-network,
  :uid :net-115,
  :display-name "Wp 1()",
  :label "Wp 1()",
  :rootnodes #{:hpt-73}},
 :net-118
 {:type :htn-network,
  :uid :net-118,
  :display-name "Wp 2()",
  :label "Wp 2()",
  :rootnodes #{:hpt-75}},
 :net-120
 {:type :htn-network,
  :uid :net-120,
  :display-name "Circuit Three(qc3)",
  :label "Circuit Three(qc3)",
  :rootnodes #{:henpt-77}},
 :net-122
 {:type :htn-network,
  :uid :net-122,
  :display-name "Wp 3()",
  :label "Wp 3()",
  :rootnodes #{:hpt-84}},
 :net-125
 {:type :htn-network,
  :uid :net-125,
  :display-name "Wp 4()",
  :label "Wp 4()",
  :rootnodes #{:hpt-86}},
 :net-128
 {:type :htn-network,
  :uid :net-128,
  :display-name "Wp 1()",
  :label "Wp 1()",
  :rootnodes #{:hpt-88}},
 :net-131
 {:type :htn-network,
  :uid :net-131,
  :display-name "Wp 2()",
  :label "Wp 2()",
  :rootnodes #{:hpt-90}},
 :net-134
 {:type :htn-network,
  :uid :net-134,
  :display-name "Wp 3()",
  :label "Wp 3()",
  :rootnodes #{:hpt-92}},
 :net-94
 {:type :htn-network,
  :uid :net-94,
  :display-name "qc-waypoints",
  :label "qc-waypoints",
  :rootnodes #{:henpt-43}},
 :net-96
 {:type :htn-network,
  :uid :net-96,
  :display-name "Waypoints(qc1,qc2,qc3)",
  :label "Waypoints(qc1,qc2,qc3)",
  :rootnodes #{:henpt-44 :henpt-46 :henpt-45}},
 :net-98
 {:type :htn-network,
  :uid :net-98,
  :display-name "Circuit One(qc1)",
  :label "Circuit One(qc1)",
  :rootnodes #{:hpt-48}},
 :network :net-94}
