{:hedge-63 {:end-node :hem-34, :type :edge, :uid :hedge-63},
 :hedge-65 {:end-node :hem-39, :type :edge, :uid :hedge-65},
 :hedge-67 {:end-node :hpt-37, :type :edge, :uid :hedge-67},
 :hedge-68 {:end-node :hem-44, :type :edge, :uid :hedge-68},
 :hedge-70
 {:display-name "1",
  :edge-type :choice,
  :end-node :hem-47,
  :type :edge,
  :uid :hedge-70},
 :hedge-72
 {:display-name "1", :end-node :hem-54, :type :edge, :uid :hedge-72},
 :hedge-74 {:end-node :hpt-52, :type :edge, :uid :hedge-74},
 :hedge-75
 {:display-name "1",
  :edge-type :choice,
  :end-node :hem-49,
  :type :edge,
  :uid :hedge-75},
 :hedge-77
 {:display-name "1", :end-node :hem-60, :type :edge, :uid :hedge-77},
 :hedge-79 {:end-node :hpt-58, :type :edge, :uid :hedge-79},
 :hedge-80 {:end-node :hpt-42, :type :edge, :uid :hedge-80},
 :hem-34
 {:args [],
  :display-name "Start",
  :edges [:hedge-65 :hedge-68],
  :incidence-set #{:hedge-63},
  :network :net-64,
  :type :htn-expanded-method,
  :uid :hem-34},
 :hem-39
 {:args [],
  :display-name "Do A And B",
  :edges [],
  :incidence-set #{},
  :network :net-66,
  :type :htn-expanded-method,
  :uid :hem-39},
 :hem-44
 {:args [],
  :display-name "Do Choice And C",
  :edges [:hedge-70 :hedge-75],
  :incidence-set #{},
  :network :net-69,
  :type :htn-expanded-method,
  :uid :hem-44},
 :hem-47
 {:args [],
  :display-name "Do Choice-0",
  :edges [:hedge-72],
  :incidence-set #{},
  :network :net-71,
  :type :htn-expanded-method,
  :uid :hem-47},
 :hem-49
 {:args [],
  :display-name "Do Choice-1",
  :edges [:hedge-77],
  :incidence-set #{},
  :network :net-76,
  :type :htn-expanded-method,
  :uid :hem-49},
 :hem-54
 {:args [],
  :display-name "Do D And E",
  :edges [],
  :incidence-set #{},
  :network :net-73,
  :type :htn-expanded-method,
  :uid :hem-54},
 :hem-60
 {:args [],
  :display-name "Do F And G",
  :edges [],
  :incidence-set #{},
  :network :net-78,
  :type :htn-expanded-method,
  :uid :hem-60},
 :henpt-31
 {:display-name "first-tpn-htn",
  :edges [:hedge-63],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-31},
 :henpt-32
 {:display-name "Do A And B",
  :edges [],
  :incidence-set #{},
  :name "do-a-and-b",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-32},
 :henpt-33
 {:display-name "Do Choice And C",
  :edges [],
  :incidence-set #{},
  :name "do-choice-and-c",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-33},
 :henpt-41
 {:display-name "Do Choice",
  :edges [:hedge-80],
  :incidence-set #{},
  :name "do-choice",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-41},
 :henpt-46
 {:display-name "Do D And E",
  :edges [],
  :incidence-set #{},
  :name "do-d-and-e",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-46},
 :henpt-48
 {:display-name "Do F And G",
  :edges [],
  :incidence-set #{},
  :name "do-f-and-g",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-48},
 :hpt-35
 {:args [],
  :argsmap {},
  :display-name "Do A",
  :edges [:hedge-67],
  :incidence-set #{},
  :name "do-a",
  :type :htn-primitive-task,
  :uid :hpt-35},
 :hpt-37
 {:args [],
  :argsmap {},
  :display-name "Do B",
  :edges [],
  :incidence-set #{:hedge-67},
  :name "do-b",
  :type :htn-primitive-task,
  :uid :hpt-37},
 :hpt-42
 {:args [],
  :argsmap {},
  :display-name "Do C",
  :edges [],
  :incidence-set #{:hedge-80},
  :name "do-c",
  :type :htn-primitive-task,
  :uid :hpt-42},
 :hpt-50
 {:args [],
  :argsmap {},
  :display-name "Do D",
  :edges [:hedge-74],
  :incidence-set #{},
  :name "do-d",
  :type :htn-primitive-task,
  :uid :hpt-50},
 :hpt-52
 {:args [],
  :argsmap {},
  :display-name "Do E",
  :edges [],
  :incidence-set #{:hedge-74},
  :name "do-e",
  :type :htn-primitive-task,
  :uid :hpt-52},
 :hpt-56
 {:args [],
  :argsmap {},
  :display-name "Do F",
  :edges [:hedge-79],
  :incidence-set #{},
  :name "do-f",
  :type :htn-primitive-task,
  :uid :hpt-56},
 :hpt-58
 {:args [],
  :argsmap {},
  :display-name "Do G",
  :edges [],
  :incidence-set #{:hedge-79},
  :name "do-g",
  :type :htn-primitive-task,
  :uid :hpt-58},
 :net-62
 {:display-name "first-tpn-htn",
  :rootnodes #{:henpt-31},
  :type :htn-network,
  :uid :net-62},
 :net-64
 {:display-name "Start",
  :rootnodes #{:henpt-32 :henpt-33},
  :type :htn-network,
  :uid :net-64},
 :net-66
 {:display-name "Do A And B",
  :rootnodes #{:hpt-35},
  :type :htn-network,
  :uid :net-66},
 :net-69
 {:display-name "Do Choice And C",
  :rootnodes #{:henpt-41},
  :type :htn-network,
  :uid :net-69},
 :net-71
 {:display-name "Do Choice-0",
  :rootnodes #{:henpt-46},
  :type :htn-network,
  :uid :net-71},
 :net-73
 {:display-name "Do D And E",
  :rootnodes #{:hpt-50},
  :type :htn-network,
  :uid :net-73},
 :net-76
 {:display-name "Do Choice-1",
  :rootnodes #{:henpt-48},
  :type :htn-network,
  :uid :net-76},
 :net-78
 {:display-name "Do F And G",
  :rootnodes #{:hpt-56},
  :type :htn-network,
  :uid :net-78},
 :network :net-62}
