{:hedge-59 {:end-node :hem-37, :type :edge, :uid :hedge-59},
 :hedge-61 {:end-node :hem-40, :type :edge, :uid :hedge-61},
 :hedge-63 {:end-node :hpt-39, :type :edge, :uid :hedge-63},
 :hedge-64 {:end-node :hem-44, :type :edge, :uid :hedge-64},
 :hedge-66
 {:display-name "1",
  :edge-type :choice,
  :end-node :hem-47,
  :type :edge,
  :uid :hedge-66},
 :hedge-68
 {:display-name "1", :end-node :hem-52, :type :edge, :uid :hedge-68},
 :hedge-70 {:end-node :hpt-51, :type :edge, :uid :hedge-70},
 :hedge-71
 {:display-name "1",
  :edge-type :choice,
  :end-node :hem-49,
  :type :edge,
  :uid :hedge-71},
 :hedge-73
 {:display-name "1", :end-node :hem-56, :type :edge, :uid :hedge-73},
 :hedge-75 {:end-node :hpt-55, :type :edge, :uid :hedge-75},
 :hedge-76 {:end-node :hpt-43, :type :edge, :uid :hedge-76},
 :hem-37
 {:args [],
  :display-args [],
  :display-name "Start",
  :edges [:hedge-61 :hedge-64],
  :incidence-set #{:hedge-59},
  :network :net-60,
  :type :htn-expanded-method,
  :uid :hem-37},
 :hem-40
 {:args [],
  :display-args [],
  :display-name "Do A And B",
  :edges [],
  :incidence-set #{},
  :network :net-62,
  :type :htn-expanded-method,
  :uid :hem-40},
 :hem-44
 {:args [],
  :display-args [],
  :display-name "Do Choice And C",
  :edges [:hedge-66 :hedge-71],
  :incidence-set #{},
  :network :net-65,
  :type :htn-expanded-method,
  :uid :hem-44},
 :hem-47
 {:args [],
  :display-args [],
  :display-name "Do Choice-0",
  :edges [:hedge-68],
  :incidence-set #{},
  :network :net-67,
  :type :htn-expanded-method,
  :uid :hem-47},
 :hem-49
 {:args [],
  :display-args [],
  :display-name "Do Choice-1",
  :edges [:hedge-73],
  :incidence-set #{},
  :network :net-72,
  :type :htn-expanded-method,
  :uid :hem-49},
 :hem-52
 {:args [],
  :display-args [],
  :display-name "Do D And E",
  :edges [],
  :incidence-set #{},
  :network :net-69,
  :type :htn-expanded-method,
  :uid :hem-52},
 :hem-56
 {:args [],
  :display-args [],
  :display-name "Do F And G",
  :edges [],
  :incidence-set #{},
  :network :net-74,
  :type :htn-expanded-method,
  :uid :hem-56},
 :henpt-34
 {:display-name "first-tpn-htn",
  :edges [:hedge-59],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-34},
 :henpt-35
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Do A And B",
  :edges [],
  :incidence-set #{},
  :name "do-a-and-b",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-35},
 :henpt-36
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Do Choice And C",
  :edges [],
  :incidence-set #{},
  :name "do-choice-and-c",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-36},
 :henpt-42
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Do Choice",
  :edges [:hedge-76],
  :incidence-set #{},
  :name "do-choice",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-42},
 :henpt-46
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Do D And E",
  :edges [],
  :incidence-set #{},
  :name "do-d-and-e",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-46},
 :henpt-48
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Do F And G",
  :edges [],
  :incidence-set #{},
  :name "do-f-and-g",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-48},
 :hpt-38
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Do A",
  :edges [:hedge-63],
  :incidence-set #{},
  :name "do-a",
  :type :htn-primitive-task,
  :uid :hpt-38},
 :hpt-39
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Do B",
  :edges [],
  :incidence-set #{:hedge-63},
  :name "do-b",
  :type :htn-primitive-task,
  :uid :hpt-39},
 :hpt-43
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Do C",
  :edges [],
  :incidence-set #{:hedge-76},
  :name "do-c",
  :type :htn-primitive-task,
  :uid :hpt-43},
 :hpt-50
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Do D",
  :edges [:hedge-70],
  :incidence-set #{},
  :name "do-d",
  :type :htn-primitive-task,
  :uid :hpt-50},
 :hpt-51
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Do E",
  :edges [],
  :incidence-set #{:hedge-70},
  :name "do-e",
  :type :htn-primitive-task,
  :uid :hpt-51},
 :hpt-54
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Do F",
  :edges [:hedge-75],
  :incidence-set #{},
  :name "do-f",
  :type :htn-primitive-task,
  :uid :hpt-54},
 :hpt-55
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Do G",
  :edges [],
  :incidence-set #{:hedge-75},
  :name "do-g",
  :type :htn-primitive-task,
  :uid :hpt-55},
 :net-58
 {:display-name "first-tpn-htn",
  :rootnodes #{:henpt-34},
  :type :htn-network,
  :uid :net-58},
 :net-60
 {:display-name "Start",
  :rootnodes #{:henpt-35 :henpt-36},
  :type :htn-network,
  :uid :net-60},
 :net-62
 {:display-name "Do A And B",
  :rootnodes #{:hpt-38},
  :type :htn-network,
  :uid :net-62},
 :net-65
 {:display-name "Do Choice And C",
  :rootnodes #{:henpt-42},
  :type :htn-network,
  :uid :net-65},
 :net-67
 {:display-name "Do Choice-0",
  :rootnodes #{:henpt-46},
  :type :htn-network,
  :uid :net-67},
 :net-69
 {:display-name "Do D And E",
  :rootnodes #{:hpt-50},
  :type :htn-network,
  :uid :net-69},
 :net-72
 {:display-name "Do Choice-1",
  :rootnodes #{:henpt-48},
  :type :htn-network,
  :uid :net-72},
 :net-74
 {:display-name "Do F And G",
  :rootnodes #{:hpt-54},
  :type :htn-network,
  :uid :net-74},
 :network :net-58}
