{:act-14
 {:args [],
  :argsmap {},
  :command "do-a",
  :constraints #{:tc-13},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Do A",
  :end-node :node-20,
  :htn-node :hem-40,
  :label :a,
  :name "Do A",
  :reward 0,
  :tpn-type :activity,
  :uid :act-14},
 :act-19
 {:args [],
  :argsmap {},
  :command "do-b",
  :constraints #{:tc-18},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Do B",
  :end-node :node-5,
  :htn-node :hem-40,
  :label :b,
  :name "Do B",
  :reward 0,
  :tpn-type :activity,
  :uid :act-19},
 :act-41
 {:args [],
  :argsmap {},
  :command "do-d",
  :constraints #{:tc-40},
  :controllable false,
  :cost 1,
  :display-args [],
  :display-name "Do D",
  :end-node :node-47,
  :htn-node :hem-52,
  :label :d,
  :name "Do D",
  :reward 2,
  :tpn-type :activity,
  :uid :act-41},
 :act-46
 {:args [],
  :argsmap {},
  :command "do-e",
  :constraints #{:tc-45},
  :controllable false,
  :cost 2,
  :display-args [],
  :display-name "Do E",
  :end-node :node-28,
  :htn-node :hem-52,
  :label :e,
  :name "Do E",
  :reward 1,
  :tpn-type :activity,
  :uid :act-46},
 :act-60
 {:args [],
  :argsmap {},
  :command "do-f",
  :constraints #{:tc-59},
  :controllable false,
  :cost 3,
  :display-args [],
  :display-name "Do F",
  :end-node :node-66,
  :htn-node :hem-56,
  :label :f,
  :name "Do F",
  :reward 1,
  :tpn-type :activity,
  :uid :act-60},
 :act-65
 {:args [],
  :argsmap {},
  :command "do-g",
  :constraints #{:tc-64},
  :controllable false,
  :cost 4,
  :display-args [],
  :display-name "Do G",
  :end-node :node-50,
  :htn-node :hem-56,
  :label :g,
  :name "Do G",
  :reward 0,
  :tpn-type :activity,
  :uid :act-65},
 :act-71
 {:args [],
  :argsmap {},
  :command "do-c",
  :constraints #{:tc-70},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Do C",
  :end-node :node-23,
  :htn-node :hem-44,
  :label :c,
  :name "Do C",
  :reward 0,
  :tpn-type :activity,
  :uid :act-71},
 :costle-77
 {:between-starts [:c :b],
  :end-node :node-20,
  :tpn-type :cost<=-constraint,
  :uid :costle-77,
  :value 8},
 :na-11
 {:constraints #{},
  :end-node :node-7,
  :tpn-type :null-activity,
  :uid :na-11},
 :na-16
 {:constraints #{},
  :end-node :node-15,
  :tpn-type :null-activity,
  :uid :na-16},
 :na-27
 {:constraints #{},
  :end-node :node-7,
  :tpn-type :null-activity,
  :uid :na-27},
 :na-32
 {:constraints #{},
  :end-node :node-31,
  :tpn-type :null-activity,
  :uid :na-32},
 :na-34
 {:constraints #{},
  :end-node :node-30,
  :tpn-type :null-activity,
  :uid :na-34},
 :na-43
 {:constraints #{},
  :end-node :node-42,
  :tpn-type :null-activity,
  :uid :na-43},
 :na-53
 {:constraints #{},
  :end-node :node-30,
  :tpn-type :null-activity,
  :uid :na-53},
 :na-62
 {:constraints #{},
  :end-node :node-61,
  :tpn-type :null-activity,
  :uid :na-62},
 :na-74
 {:constraints #{},
  :end-node :node-72,
  :tpn-type :null-activity,
  :uid :na-74},
 :net-3
 {:begin-node :node-8,
  :end-node :node-7,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-15
 {:activities #{:act-14},
  :constraints #{},
  :end-node :node-5,
  :htn-node :hem-40,
  :incidence-set #{:na-16},
  :sequence-label :do-a-and-b,
  :tpn-type :state,
  :uid :node-15},
 :node-20
 {:activities #{:act-19},
  :constraints #{},
  :htn-node :hem-40,
  :incidence-set #{:act-14},
  :tpn-type :state,
  :uid :node-20},
 :node-23
 {:activities #{:na-27},
  :constraints #{},
  :incidence-set #{:act-71},
  :tpn-type :state,
  :uid :node-23},
 :node-28
 {:activities #{:na-34},
  :constraints #{},
  :incidence-set #{:act-46},
  :tpn-type :state,
  :uid :node-28},
 :node-30
 {:activities #{:na-74},
  :constraints #{:tc-75},
  :incidence-set #{:na-53 :na-34},
  :tpn-type :c-end,
  :uid :node-30},
 :node-31
 {:activities #{:na-43 :na-62},
  :constraints #{},
  :end-node :node-30,
  :htn-node :hem-44,
  :incidence-set #{:na-32},
  :label :do-choice,
  :sequence-label :do-choice-and-c,
  :tpn-type :c-begin,
  :uid :node-31},
 :node-42
 {:activities #{:act-41},
  :constraints #{},
  :end-node :node-28,
  :htn-node :hem-47,
  :incidence-set #{:na-43},
  :sequence-label :do-d-and-e,
  :tpn-type :state,
  :uid :node-42},
 :node-47
 {:activities #{:act-46},
  :constraints #{},
  :htn-node :hem-52,
  :incidence-set #{:act-41},
  :tpn-type :state,
  :uid :node-47},
 :node-5
 {:activities #{:na-11},
  :constraints #{:tc-78 :rewardge-79},
  :incidence-set #{:act-19},
  :tpn-type :state,
  :uid :node-5},
 :node-50
 {:activities #{:na-53},
  :constraints #{},
  :incidence-set #{:act-65},
  :tpn-type :state,
  :uid :node-50},
 :node-61
 {:activities #{:act-60},
  :constraints #{},
  :end-node :node-50,
  :htn-node :hem-49,
  :incidence-set #{:na-62},
  :sequence-label :do-f-and-g,
  :tpn-type :state,
  :uid :node-61},
 :node-66
 {:activities #{:act-65},
  :constraints #{},
  :htn-node :hem-56,
  :incidence-set #{:act-60},
  :tpn-type :state,
  :uid :node-66},
 :node-7
 {:activities #{},
  :constraints #{},
  :incidence-set #{:na-27 :na-11},
  :tpn-type :p-end,
  :uid :node-7},
 :node-72
 {:activities #{:act-71},
  :constraints #{:tc-76 :costle-77},
  :htn-node :hem-44,
  :incidence-set #{:na-74},
  :tpn-type :state,
  :uid :node-72},
 :node-8
 {:activities #{:na-32 :na-16},
  :constraints #{:tc-4},
  :end-node :node-7,
  :htn-node :hem-37,
  :incidence-set #{},
  :label :start,
  :tpn-type :p-begin,
  :uid :node-8},
 :rewardge-79
 {:between-ends [:b :c],
  :end-node :node-23,
  :tpn-type :reward>=-constraint,
  :uid :rewardge-79,
  :value 9},
 :tc-13
 {:end-node :node-20,
  :tpn-type :temporal-constraint,
  :uid :tc-13,
  :value [2 4]},
 :tc-18
 {:end-node :node-5,
  :tpn-type :temporal-constraint,
  :uid :tc-18,
  :value [3 6]},
 :tc-4
 {:end-node :node-7,
  :tpn-type :temporal-constraint,
  :uid :tc-4,
  :value [1 100]},
 :tc-40
 {:end-node :node-47,
  :tpn-type :temporal-constraint,
  :uid :tc-40,
  :value [1 7]},
 :tc-45
 {:end-node :node-28,
  :tpn-type :temporal-constraint,
  :uid :tc-45,
  :value [9 16]},
 :tc-59
 {:end-node :node-66,
  :tpn-type :temporal-constraint,
  :uid :tc-59,
  :value [1 3]},
 :tc-64
 {:end-node :node-50,
  :tpn-type :temporal-constraint,
  :uid :tc-64,
  :value [2 5]},
 :tc-70
 {:end-node :node-23,
  :tpn-type :temporal-constraint,
  :uid :tc-70,
  :value [85 90]},
 :tc-75
 {:between [:do-choice :b],
  :end-node :node-20,
  :tpn-type :temporal-constraint,
  :uid :tc-75,
  :value [1 101]},
 :tc-76
 {:between-starts [:c :b],
  :end-node :node-20,
  :tpn-type :temporal-constraint,
  :uid :tc-76,
  :value [2 46]},
 :tc-78
 {:between-ends [:b :c],
  :end-node :node-23,
  :tpn-type :temporal-constraint,
  :uid :tc-78,
  :value [3 57]}}
