{:act-13
 {:args
  [{:type :equal,
    :args
    [{:type :field-ref, :names [field3]}
     {:type :method-arg-ref, :names [method-arg]}]}],
  :argsmap
  {"condition"
   {:args
    [{:type :field-ref, :names [field3]}
     {:type :method-arg-ref, :names [method-arg]}],
    :type :equal}},
  :command "tell",
  :constraints #{},
  :controllable false,
  :display-args [(= field3 method-arg)],
  :display-name "Tell",
  :end-node :node-18,
  :htn-node :hem-52,
  :name
  "Tell({:type :equal, :args [{:type :field-ref, :names [field3]} {:type :method-arg-ref, :names [method-arg]}]})",
  :plant-id "bsm1",
  :tpn-type :activity,
  :uid :act-13},
 :act-17
 {:args
  [{:type :equal,
    :args
    [{:type :field-ref, :names [field2 field1-1]}
     {:type :method-arg-ref, :names [method-arg]}]}],
  :argsmap
  {"condition"
   {:args
    [{:type :field-ref, :names [field2 field1-1]}
     {:type :method-arg-ref, :names [method-arg]}],
    :type :equal}},
  :command "tell",
  :constraints #{},
  :controllable false,
  :display-args [(= field2.field1-1 method-arg)],
  :display-name "Tell",
  :end-node :node-22,
  :htn-node :hem-52,
  :name
  "Tell({:type :equal, :args [{:type :field-ref, :names [field2 field1-1]} {:type :method-arg-ref, :names [method-arg]}]})",
  :plant-id "bsm1",
  :tpn-type :activity,
  :uid :act-17},
 :act-21
 {:args
  [{:type :equal,
    :args
    [{:type :method-arg-ref, :names [pclass-instance-arg field1-1]}
     {:type :method-arg-ref, :names [method-arg]}]}],
  :argsmap
  {"condition"
   {:args
    [{:type :method-arg-ref, :names [pclass-instance-arg field1-1]}
     {:type :method-arg-ref, :names [method-arg]}],
    :type :equal}},
  :command "tell",
  :constraints #{},
  :controllable false,
  :display-args [(= pclass-instance-arg.field1-1 method-arg)],
  :display-name "Tell",
  :end-node :node-26,
  :htn-node :hem-52,
  :name
  "Tell({:type :equal, :args [{:type :method-arg-ref, :names [pclass-instance-arg field1-1]} {:type :method-arg-ref, :names [method-arg]}]})",
  :plant-id "bsm1",
  :tpn-type :activity,
  :uid :act-21},
 :act-25
 {:args [42],
  :argsmap {"arg" 42},
  :command "simple-method",
  :constraints #{},
  :controllable false,
  :cost 0,
  :display-args [42],
  :display-name "Simple Method",
  :end-node :node-30,
  :htn-node :hem-52,
  :name "Simple Method(42)",
  :reward 0,
  :tpn-type :activity,
  :uid :act-25},
 :act-29
 {:args [{:type :state-variable, :name state-var}],
  :argsmap {"arg" {:name state-var, :type :state-variable}},
  :command "simple-method",
  :constraints #{},
  :controllable false,
  :cost 0,
  :display-args [state-var],
  :display-name "Simple Method",
  :end-node :node-34,
  :htn-node :hem-52,
  :name "Simple Method({:type :state-variable, :name state-var})",
  :reward 0,
  :tpn-type :activity,
  :uid :act-29},
 :act-33
 {:args
  [{:type :field-ref,
    :names [field3],
    :ancestry [[:pclass-1] [:pclass-1] [:pclass-1]]}],
  :argsmap
  {"arg"
   {:ancestry [[:pclass-1] [:pclass-1] [:pclass-1]],
    :names [field3],
    :type :field-ref}},
  :command "simple-method",
  :constraints #{},
  :controllable false,
  :cost 0,
  :display-args [field3],
  :display-name "Simple Method",
  :end-node :node-38,
  :htn-node :hem-52,
  :name
  "Simple Method({:type :field-ref, :names [field3], :ancestry [[:pclass-1] [:pclass-1] [:pclass-1]]})",
  :reward 0,
  :tpn-type :activity,
  :uid :act-33},
 :act-37
 {:args
  [{:type :pclass-ctor,
    :uid :pclass-3,
    :pclass pclass1,
    :args [43],
    :ancestry [[:pclass-1 field2]]}],
  :argsmap
  {"arg"
   {:ancestry [[:pclass-1 field2]],
    :args [43],
    :pclass pclass1,
    :type :pclass-ctor,
    :uid :pclass-3}},
  :command "simple-method",
  :constraints #{},
  :controllable false,
  :cost 0,
  :display-args [field2.field1-1],
  :display-name "Simple Method",
  :end-node :node-42,
  :htn-node :hem-52,
  :name
  "Simple Method({:type :pclass-ctor, :uid :pclass-3, :pclass pclass1, :args [43], :ancestry [[:pclass-1 field2]]})",
  :reward 0,
  :tpn-type :activity,
  :uid :act-37},
 :act-41
 {:args [42],
  :argsmap {"arg" 42},
  :command "simple-method",
  :constraints #{},
  :controllable false,
  :cost 0,
  :display-args [42],
  :display-name "Simple Method",
  :end-node :node-46,
  :htn-node :hem-52,
  :name "Simple Method(42)",
  :reward 0,
  :tpn-type :activity,
  :uid :act-41},
 :act-45
 {:args [1 2],
  :argsmap {"x" 1, "y" 2},
  :command "method1",
  :constraints #{},
  :controllable false,
  :cost 0,
  :display-args [1 2],
  :display-name "Method 1",
  :end-node :node-50,
  :htn-node :hem-52,
  :name "Method 1(1 2)",
  :reward 0,
  :tpn-type :activity,
  :uid :act-45},
 :act-49
 {:args [1 2],
  :argsmap {"x" 1, "y" 2},
  :command "method1",
  :constraints #{},
  :controllable false,
  :cost 0,
  :display-args [1 2],
  :display-name "Method 1",
  :end-node :node-57,
  :htn-node :hem-52,
  :name "Method 1(1 2)",
  :reward 0,
  :tpn-type :activity,
  :uid :act-49},
 :act-56
 {:args [4 5],
  :argsmap {"x" 4, "y" 5},
  :command "method1",
  :constraints #{},
  :controllable false,
  :cost 0,
  :display-args [4 5],
  :display-name "Method 1",
  :end-node :node-65,
  :htn-node :hem-55,
  :name "Method 1(4 5)",
  :reward 0,
  :tpn-type :activity,
  :uid :act-56},
 :act-64
 {:args [4 5],
  :argsmap {"x" 4, "y" 5},
  :command "method1",
  :constraints #{},
  :controllable false,
  :cost 0,
  :display-args [4 5],
  :display-name "Method 1",
  :end-node :node-74,
  :htn-node :hem-57,
  :name "Method 1(4 5)",
  :reward 0,
  :tpn-type :activity,
  :uid :act-64},
 :act-73
 {:args [4 5],
  :argsmap {"x" 4, "y" 5},
  :command "method1",
  :constraints #{},
  :controllable false,
  :cost 0,
  :display-args [4 5],
  :display-name "Method 1",
  :end-node :node-1,
  :htn-node :hem-59,
  :name "Method 1(4 5)",
  :reward 0,
  :tpn-type :activity,
  :uid :act-73},
 :act-9
 {:args
  [{:type :equal,
    :args
    [{:type :state-variable, :name state-var}
     {:type :method-arg-ref, :names [method-arg]}]}],
  :argsmap
  {"condition"
   {:args
    [{:type :state-variable, :name state-var}
     {:type :method-arg-ref, :names [method-arg]}],
    :type :equal}},
  :command "tell",
  :constraints #{},
  :controllable false,
  :display-args [(= state-var method-arg)],
  :display-name "Tell",
  :end-node :node-14,
  :htn-node :hem-52,
  :name
  "Tell({:type :equal, :args [{:type :state-variable, :name state-var} {:type :method-arg-ref, :names [method-arg]}]})",
  :plant-id "bsm1",
  :tpn-type :activity,
  :uid :act-9},
 :net-3
 {:begin-node :node-10,
  :end-node :node-1,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-1
 {:activities #{},
  :constraints #{},
  :incidence-set #{:act-73},
  :tpn-type :state,
  :uid :node-1},
 :node-10
 {:activities #{:act-9},
  :constraints #{},
  :end-node :node-1,
  :htn-node :hem-36,
  :incidence-set #{},
  :tpn-type :state,
  :uid :node-10},
 :node-14
 {:activities #{:act-13},
  :constraints #{},
  :htn-node :hem-52,
  :incidence-set #{:act-9},
  :tpn-type :state,
  :uid :node-14},
 :node-18
 {:activities #{:act-17},
  :constraints #{},
  :htn-node :hem-52,
  :incidence-set #{:act-13},
  :tpn-type :state,
  :uid :node-18},
 :node-22
 {:activities #{:act-21},
  :constraints #{},
  :htn-node :hem-52,
  :incidence-set #{:act-17},
  :tpn-type :state,
  :uid :node-22},
 :node-26
 {:activities #{:act-25},
  :constraints #{},
  :htn-node :hem-52,
  :incidence-set #{:act-21},
  :tpn-type :state,
  :uid :node-26},
 :node-30
 {:activities #{:act-29},
  :constraints #{},
  :htn-node :hem-52,
  :incidence-set #{:act-25},
  :tpn-type :state,
  :uid :node-30},
 :node-34
 {:activities #{:act-33},
  :constraints #{},
  :htn-node :hem-52,
  :incidence-set #{:act-29},
  :tpn-type :state,
  :uid :node-34},
 :node-38
 {:activities #{:act-37},
  :constraints #{},
  :htn-node :hem-52,
  :incidence-set #{:act-33},
  :tpn-type :state,
  :uid :node-38},
 :node-42
 {:activities #{:act-41},
  :constraints #{},
  :htn-node :hem-52,
  :incidence-set #{:act-37},
  :tpn-type :state,
  :uid :node-42},
 :node-46
 {:activities #{:act-45},
  :constraints #{},
  :htn-node :hem-52,
  :incidence-set #{:act-41},
  :tpn-type :state,
  :uid :node-46},
 :node-50
 {:activities #{:act-49},
  :constraints #{},
  :htn-node :hem-52,
  :incidence-set #{:act-45},
  :tpn-type :state,
  :uid :node-50},
 :node-57
 {:activities #{:act-56},
  :constraints #{},
  :htn-node :hem-55,
  :incidence-set #{:act-49},
  :tpn-type :state,
  :uid :node-57},
 :node-65
 {:activities #{:act-64},
  :constraints #{},
  :htn-node :hem-57,
  :incidence-set #{:act-56},
  :tpn-type :state,
  :uid :node-65},
 :node-74
 {:activities #{:act-73},
  :constraints #{},
  :htn-node :hem-59,
  :incidence-set #{:act-64},
  :tpn-type :state,
  :uid :node-74}}
