{:hedge-1059 {:type :edge, :uid :hedge-1059, :end-node :hem-1047},
 :hedge-1061
 {:type :edge, :uid :hedge-1061, :label "1", :end-node :hem-1051},
 :hedge-1063 {:type :edge, :uid :hedge-1063, :end-node :henpt-1045},
 :hedge-1064
 {:type :edge, :uid :hedge-1064, :label "2", :end-node :hem-1054},
 :hedge-1066 {:type :edge, :uid :hedge-1066, :end-node :henpt-1046},
 :hedge-1067
 {:type :edge, :uid :hedge-1067, :label "3", :end-node :hem-1057},
 :hem-1047
 {:uid :hem-1047,
  :type :htn-expanded-method,
  :label "position(A B C)",
  :display-name "Position",
  :network :net-1060,
  :incidence-set #{:hedge-1059},
  :edges [:hedge-1061 :hedge-1064 :hedge-1067]},
 :hem-1051
 {:uid :hem-1051,
  :type :htn-expanded-method,
  :label "fake-waypoint(A)",
  :display-name "Fake Waypoint",
  :network :net-1062,
  :incidence-set #{},
  :edges []},
 :hem-1054
 {:uid :hem-1054,
  :type :htn-expanded-method,
  :label "fake-waypoint(B)",
  :display-name "Fake Waypoint",
  :network :net-1065,
  :incidence-set #{},
  :edges []},
 :hem-1057
 {:uid :hem-1057,
  :type :htn-expanded-method,
  :label "fake-waypoint(C)",
  :display-name "Fake Waypoint",
  :network :net-1068,
  :incidence-set #{},
  :edges []},
 :henpt-1043
 {:uid :henpt-1043,
  :type :htn-expanded-nonprimitive-task,
  :label "mission",
  :display-name "mission",
  :incidence-set #{},
  :edges #{:hedge-1059}},
 :henpt-1044
 {:uid :henpt-1044,
  :name "fake-waypoint",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-fake-waypoint",
  :display-name "Fake Waypoint",
  :incidence-set #{},
  :edges #{:hedge-1063}},
 :henpt-1045
 {:uid :henpt-1045,
  :name "fake-waypoint",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-fake-waypoint",
  :display-name "Fake Waypoint",
  :incidence-set #{:hedge-1063},
  :edges #{:hedge-1066}},
 :henpt-1046
 {:uid :henpt-1046,
  :name "fake-waypoint",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-fake-waypoint",
  :display-name "Fake Waypoint",
  :incidence-set #{:hedge-1066},
  :edges #{}},
 :hpt-1049
 {:args ["A"],
  :interface "RMQ",
  :plantid "qc1",
  :uid :hpt-1049,
  :name "goto",
  :argsmap {"loc" "A"},
  :type :htn-primitive-task,
  :label "TEMP-goto",
  :display-name "Goto",
  :incidence-set #{},
  :edges #{},
  :plant-part "part-001"},
 :hpt-1050
 {:args ["A"],
  :interface "ZMQ",
  :plantid "qc2",
  :uid :hpt-1050,
  :name "goto",
  :argsmap {"loc" "A"},
  :type :htn-primitive-task,
  :label "TEMP-goto",
  :display-name "Goto",
  :incidence-set #{},
  :edges #{},
  :plant-part "part-002"},
 :hpt-1052
 {:args ["B"],
  :interface "RMQ",
  :plantid "qc1",
  :uid :hpt-1052,
  :name "goto",
  :argsmap {"loc" "B"},
  :type :htn-primitive-task,
  :label "TEMP-goto",
  :display-name "Goto",
  :incidence-set #{},
  :edges #{},
  :plant-part "part-001"},
 :hpt-1053
 {:args ["B"],
  :interface "ZMQ",
  :plantid "qc2",
  :uid :hpt-1053,
  :name "goto",
  :argsmap {"loc" "B"},
  :type :htn-primitive-task,
  :label "TEMP-goto",
  :display-name "Goto",
  :incidence-set #{},
  :edges #{},
  :plant-part "part-002"},
 :hpt-1055
 {:args ["C"],
  :interface "RMQ",
  :plantid "qc1",
  :uid :hpt-1055,
  :name "goto",
  :argsmap {"loc" "C"},
  :type :htn-primitive-task,
  :label "TEMP-goto",
  :display-name "Goto",
  :incidence-set #{},
  :edges #{},
  :plant-part "part-001"},
 :hpt-1056
 {:args ["C"],
  :interface "ZMQ",
  :plantid "qc2",
  :uid :hpt-1056,
  :name "goto",
  :argsmap {"loc" "C"},
  :type :htn-primitive-task,
  :label "TEMP-goto",
  :display-name "Goto",
  :incidence-set #{},
  :edges #{},
  :plant-part "part-002"},
 :net-1058
 {:type :htn-network,
  :uid :net-1058,
  :display-name "mission",
  :label "mission",
  :rootnodes #{:henpt-1043}},
 :net-1060
 {:type :htn-network,
  :uid :net-1060,
  :display-name "position(A B C)",
  :label "position(A B C)",
  :rootnodes #{:henpt-1044}},
 :net-1062
 {:type :htn-network,
  :uid :net-1062,
  :display-name "fake-waypoint(A)",
  :label "fake-waypoint(A)",
  :rootnodes #{:hpt-1049 :hpt-1050}},
 :net-1065
 {:type :htn-network,
  :uid :net-1065,
  :display-name "fake-waypoint(B)",
  :label "fake-waypoint(B)",
  :rootnodes #{:hpt-1052 :hpt-1053}},
 :net-1068
 {:type :htn-network,
  :uid :net-1068,
  :display-name "fake-waypoint(C)",
  :label "fake-waypoint(C)",
  :rootnodes #{:hpt-1055 :hpt-1056}},
 :network :net-1058}
