{:hedge-280 {:type :edge, :uid :hedge-280, :end-node :hem-268},
 :hedge-282
 {:type :edge, :uid :hedge-282, :label "1", :end-node :hem-272},
 :hedge-284 {:type :edge, :uid :hedge-284, :end-node :henpt-266},
 :hedge-285
 {:type :edge, :uid :hedge-285, :label "2", :end-node :hem-275},
 :hedge-287 {:type :edge, :uid :hedge-287, :end-node :henpt-267},
 :hedge-288
 {:type :edge, :uid :hedge-288, :label "3", :end-node :hem-278},
 :hem-268
 {:uid :hem-268,
  :type :htn-expanded-method,
  :label "position(A B C)",
  :display-name "Position",
  :network :net-281,
  :incidence-set #{:hedge-280},
  :edges [:hedge-282 :hedge-285 :hedge-288]},
 :hem-272
 {:uid :hem-272,
  :type :htn-expanded-method,
  :label "fake-waypoint(A)",
  :display-name "Fake Waypoint",
  :network :net-283,
  :incidence-set #{},
  :edges []},
 :hem-275
 {:uid :hem-275,
  :type :htn-expanded-method,
  :label "fake-waypoint(B)",
  :display-name "Fake Waypoint",
  :network :net-286,
  :incidence-set #{},
  :edges []},
 :hem-278
 {:uid :hem-278,
  :type :htn-expanded-method,
  :label "fake-waypoint(C)",
  :display-name "Fake Waypoint",
  :network :net-289,
  :incidence-set #{},
  :edges []},
 :henpt-264
 {:uid :henpt-264,
  :type :htn-expanded-nonprimitive-task,
  :label "mission",
  :display-name "mission",
  :incidence-set #{},
  :edges #{:hedge-280}},
 :henpt-265
 {:uid :henpt-265,
  :name "fake-waypoint",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-fake-waypoint",
  :display-name "Fake Waypoint",
  :incidence-set #{},
  :edges #{:hedge-284}},
 :henpt-266
 {:uid :henpt-266,
  :name "fake-waypoint",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-fake-waypoint",
  :display-name "Fake Waypoint",
  :incidence-set #{:hedge-284},
  :edges #{:hedge-287}},
 :henpt-267
 {:uid :henpt-267,
  :name "fake-waypoint",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-fake-waypoint",
  :display-name "Fake Waypoint",
  :incidence-set #{:hedge-287},
  :edges #{}},
 :hpt-270
 {:args ["A"],
  :interface "RMQ",
  :plantid "qc1",
  :uid :hpt-270,
  :name "goto",
  :argsmap {"loc" "A"},
  :type :htn-primitive-task,
  :label "TEMP-goto",
  :display-name "Goto",
  :incidence-set #{},
  :edges #{},
  :plant-part "part-001"},
 :hpt-271
 {:args ["A"],
  :interface "ZMQ",
  :plantid "qc2",
  :uid :hpt-271,
  :name "goto",
  :argsmap {"loc" "A"},
  :type :htn-primitive-task,
  :label "TEMP-goto",
  :display-name "Goto",
  :incidence-set #{},
  :edges #{},
  :plant-part "part-002"},
 :hpt-273
 {:args ["B"],
  :interface "RMQ",
  :plantid "qc1",
  :uid :hpt-273,
  :name "goto",
  :argsmap {"loc" "B"},
  :type :htn-primitive-task,
  :label "TEMP-goto",
  :display-name "Goto",
  :incidence-set #{},
  :edges #{},
  :plant-part "part-001"},
 :hpt-274
 {:args ["B"],
  :interface "ZMQ",
  :plantid "qc2",
  :uid :hpt-274,
  :name "goto",
  :argsmap {"loc" "B"},
  :type :htn-primitive-task,
  :label "TEMP-goto",
  :display-name "Goto",
  :incidence-set #{},
  :edges #{},
  :plant-part "part-002"},
 :hpt-276
 {:args ["C"],
  :interface "RMQ",
  :plantid "qc1",
  :uid :hpt-276,
  :name "goto",
  :argsmap {"loc" "C"},
  :type :htn-primitive-task,
  :label "TEMP-goto",
  :display-name "Goto",
  :incidence-set #{},
  :edges #{},
  :plant-part "part-001"},
 :hpt-277
 {:args ["C"],
  :interface "ZMQ",
  :plantid "qc2",
  :uid :hpt-277,
  :name "goto",
  :argsmap {"loc" "C"},
  :type :htn-primitive-task,
  :label "TEMP-goto",
  :display-name "Goto",
  :incidence-set #{},
  :edges #{},
  :plant-part "part-002"},
 :net-279
 {:type :htn-network,
  :uid :net-279,
  :display-name "mission",
  :label "mission",
  :rootnodes #{:henpt-264}},
 :net-281
 {:type :htn-network,
  :uid :net-281,
  :display-name "position(A B C)",
  :label "position(A B C)",
  :rootnodes #{:henpt-265}},
 :net-283
 {:type :htn-network,
  :uid :net-283,
  :display-name "fake-waypoint(A)",
  :label "fake-waypoint(A)",
  :rootnodes #{:hpt-271 :hpt-270}},
 :net-286
 {:type :htn-network,
  :uid :net-286,
  :display-name "fake-waypoint(B)",
  :label "fake-waypoint(B)",
  :rootnodes #{:hpt-274 :hpt-273}},
 :net-289
 {:type :htn-network,
  :uid :net-289,
  :display-name "fake-waypoint(C)",
  :label "fake-waypoint(C)",
  :rootnodes #{:hpt-277 :hpt-276}},
 :network :net-279}
