{:act-192
 {:args ["A"],
  :constraints #{},
  :interface "RMQ",
  :plantid "qc1",
  :uid :act-192,
  :name "goto:qc1%part-001@RMQ({\"loc\" \"A\"})",
  :tpn-type :activity,
  :argsmap {"loc" "A"},
  :command "goto",
  :htn-node :hem-272,
  :controllable false,
  :end-node :node-191,
  :label "TEMP-goto",
  :display-name "Goto",
  :plant-part "part-001"},
 :act-200
 {:args ["A"],
  :constraints #{},
  :interface "ZMQ",
  :plantid "qc2",
  :uid :act-200,
  :name "goto:qc2%part-002@ZMQ({\"loc\" \"A\"})",
  :tpn-type :activity,
  :argsmap {"loc" "A"},
  :command "goto",
  :htn-node :hem-272,
  :controllable false,
  :end-node :node-199,
  :label "TEMP-goto",
  :display-name "Goto",
  :plant-part "part-002"},
 :act-209
 {:args ["B"],
  :constraints #{},
  :interface "RMQ",
  :plantid "qc1",
  :uid :act-209,
  :name "goto:qc1%part-001@RMQ({\"loc\" \"B\"})",
  :tpn-type :activity,
  :argsmap {"loc" "B"},
  :command "goto",
  :htn-node :hem-275,
  :controllable false,
  :end-node :node-208,
  :label "TEMP-goto",
  :display-name "Goto",
  :plant-part "part-001"},
 :act-217
 {:args ["B"],
  :constraints #{},
  :interface "ZMQ",
  :plantid "qc2",
  :uid :act-217,
  :name "goto:qc2%part-002@ZMQ({\"loc\" \"B\"})",
  :tpn-type :activity,
  :argsmap {"loc" "B"},
  :command "goto",
  :htn-node :hem-275,
  :controllable false,
  :end-node :node-216,
  :label "TEMP-goto",
  :display-name "Goto",
  :plant-part "part-002"},
 :act-227
 {:args ["C"],
  :constraints #{},
  :interface "RMQ",
  :plantid "qc1",
  :uid :act-227,
  :name "goto:qc1%part-001@RMQ({\"loc\" \"C\"})",
  :tpn-type :activity,
  :argsmap {"loc" "C"},
  :command "goto",
  :htn-node :hem-278,
  :controllable false,
  :end-node :node-226,
  :label "TEMP-goto",
  :display-name "Goto",
  :plant-part "part-001"},
 :act-235
 {:args ["C"],
  :constraints #{},
  :interface "ZMQ",
  :plantid "qc2",
  :uid :act-235,
  :name "goto:qc2%part-002@ZMQ({\"loc\" \"C\"})",
  :tpn-type :activity,
  :argsmap {"loc" "C"},
  :command "goto",
  :htn-node :hem-278,
  :controllable false,
  :end-node :node-234,
  :label "TEMP-goto",
  :display-name "Goto",
  :plant-part "part-002"},
 :na-197
 {:tpn-type :null-activity,
  :uid :na-197,
  :constraints #{},
  :end-node :node-193},
 :na-198
 {:tpn-type :null-activity,
  :uid :na-198,
  :constraints #{},
  :end-node :node-194},
 :na-203
 {:tpn-type :null-activity,
  :uid :na-203,
  :constraints #{},
  :end-node :node-201},
 :na-204
 {:tpn-type :null-activity,
  :uid :na-204,
  :constraints #{},
  :end-node :node-194},
 :na-213
 {:tpn-type :null-activity,
  :uid :na-213,
  :constraints #{},
  :end-node :node-212},
 :na-214
 {:tpn-type :null-activity,
  :uid :na-214,
  :constraints #{},
  :end-node :node-210},
 :na-215
 {:tpn-type :null-activity,
  :uid :na-215,
  :constraints #{},
  :end-node :node-211},
 :na-220
 {:tpn-type :null-activity,
  :uid :na-220,
  :constraints #{},
  :end-node :node-218},
 :na-221
 {:tpn-type :null-activity,
  :uid :na-221,
  :constraints #{},
  :end-node :node-211},
 :na-231
 {:tpn-type :null-activity,
  :uid :na-231,
  :constraints #{},
  :end-node :node-230},
 :na-232
 {:tpn-type :null-activity,
  :uid :na-232,
  :constraints #{},
  :end-node :node-228},
 :na-233
 {:tpn-type :null-activity,
  :uid :na-233,
  :constraints #{},
  :end-node :node-229},
 :na-238
 {:tpn-type :null-activity,
  :uid :na-238,
  :constraints #{},
  :end-node :node-236},
 :na-239
 {:tpn-type :null-activity,
  :uid :na-239,
  :constraints #{},
  :end-node :node-229},
 :net-187
 {:tpn-type :network,
  :uid :net-187,
  :begin-node :node-195,
  :end-node :node-229},
 :network-id :net-187,
 :node-191
 {:tpn-type :state,
  :uid :node-191,
  :constraints #{},
  :activities #{:na-198},
  :incidence-set #{:act-192}},
 :node-193
 {:tpn-type :state,
  :uid :node-193,
  :constraints #{},
  :activities #{:act-192},
  :incidence-set #{:na-197},
  :htn-node :hem-272,
  :end-node :node-191},
 :node-194
 {:tpn-type :p-end,
  :uid :node-194,
  :constraints #{},
  :activities #{:na-213},
  :incidence-set #{:na-204 :na-198}},
 :node-195
 {:tpn-type :p-begin,
  :uid :node-195,
  :constraints #{},
  :activities #{:na-197 :na-203},
  :incidence-set #{},
  :htn-node :hem-268,
  :end-node :node-194},
 :node-199
 {:tpn-type :state,
  :uid :node-199,
  :constraints #{},
  :activities #{:na-204},
  :incidence-set #{:act-200}},
 :node-201
 {:tpn-type :state,
  :uid :node-201,
  :constraints #{},
  :activities #{:act-200},
  :incidence-set #{:na-203},
  :htn-node :hem-272,
  :end-node :node-199},
 :node-208
 {:tpn-type :state,
  :uid :node-208,
  :constraints #{},
  :activities #{:na-215},
  :incidence-set #{:act-209}},
 :node-210
 {:tpn-type :state,
  :uid :node-210,
  :constraints #{},
  :activities #{:act-209},
  :incidence-set #{:na-214},
  :htn-node :hem-275,
  :end-node :node-208},
 :node-211
 {:tpn-type :p-end,
  :uid :node-211,
  :constraints #{},
  :activities #{:na-231},
  :incidence-set #{:na-215 :na-221}},
 :node-212
 {:tpn-type :p-begin,
  :uid :node-212,
  :constraints #{},
  :activities #{:na-220 :na-214},
  :incidence-set #{:na-213},
  :htn-node :hem-275,
  :end-node :node-211},
 :node-216
 {:tpn-type :state,
  :uid :node-216,
  :constraints #{},
  :activities #{:na-221},
  :incidence-set #{:act-217}},
 :node-218
 {:tpn-type :state,
  :uid :node-218,
  :constraints #{},
  :activities #{:act-217},
  :incidence-set #{:na-220},
  :htn-node :hem-275,
  :end-node :node-216},
 :node-226
 {:tpn-type :state,
  :uid :node-226,
  :constraints #{},
  :activities #{:na-233},
  :incidence-set #{:act-227}},
 :node-228
 {:tpn-type :state,
  :uid :node-228,
  :constraints #{},
  :activities #{:act-227},
  :incidence-set #{:na-232},
  :htn-node :hem-278,
  :end-node :node-226},
 :node-229
 {:tpn-type :p-end,
  :uid :node-229,
  :constraints #{},
  :activities #{},
  :incidence-set #{:na-239 :na-233}},
 :node-230
 {:tpn-type :p-begin,
  :uid :node-230,
  :constraints #{},
  :activities #{:na-238 :na-232},
  :incidence-set #{:na-231},
  :htn-node :hem-278,
  :end-node :node-229},
 :node-234
 {:tpn-type :state,
  :uid :node-234,
  :constraints #{},
  :activities #{:na-239},
  :incidence-set #{:act-235}},
 :node-236
 {:tpn-type :state,
  :uid :node-236,
  :constraints #{},
  :activities #{:act-235},
  :incidence-set #{:na-238},
  :htn-node :hem-278,
  :end-node :node-234}}
