{:act-50
 {:args [nil],
  :constraints #{},
  :interface "RMQ",
  :plantid "qc1",
  :uid :act-50,
  :name "goto:qc1%part-001@RMQ({\"loc\" nil})",
  :tpn-type :activity,
  :argsmap {"loc" nil},
  :command "goto",
  :htn-node :hem-102,
  :controllable false,
  :end-node :node-59,
  :label "TEMP-goto",
  :display-name "Goto",
  :plant-part "part-001"},
 :act-58
 {:args [nil],
  :constraints #{},
  :interface "RMQ",
  :plantid "qc1",
  :uid :act-58,
  :name "goto:qc1%part-001@RMQ({\"loc\" nil})",
  :tpn-type :activity,
  :argsmap {"loc" nil},
  :command "goto",
  :htn-node :hem-104,
  :controllable false,
  :end-node :node-68,
  :label "TEMP-goto",
  :display-name "Goto",
  :plant-part "part-001"},
 :act-67
 {:args [nil],
  :constraints #{},
  :interface "RMQ",
  :plantid "qc1",
  :uid :act-67,
  :name "goto:qc1%part-001@RMQ({\"loc\" nil})",
  :tpn-type :activity,
  :argsmap {"loc" nil},
  :command "goto",
  :htn-node :hem-106,
  :controllable false,
  :end-node :node-43,
  :label "TEMP-goto",
  :display-name "Goto",
  :plant-part "part-001"},
 :net-45
 {:tpn-type :network,
  :uid :net-45,
  :begin-node :node-51,
  :end-node :node-43},
 :network-id :net-45,
 :node-43
 {:tpn-type :state,
  :uid :node-43,
  :constraints #{},
  :activities #{},
  :incidence-set #{:act-67}},
 :node-51
 {:tpn-type :state,
  :uid :node-51,
  :constraints #{},
  :activities #{:act-50},
  :incidence-set #{},
  :htn-node :hem-99,
  :end-node :node-49},
 :node-59
 {:tpn-type :state,
  :uid :node-59,
  :constraints #{},
  :activities #{:act-58},
  :incidence-set #{:act-50},
  :htn-node :hem-104,
  :end-node :node-57},
 :node-68
 {:tpn-type :state,
  :uid :node-68,
  :constraints #{},
  :activities #{:act-67},
  :incidence-set #{:act-58},
  :htn-node :hem-106,
  :end-node :node-66}}
