{:hedge-321 {:type :edge, :uid :hedge-321, :end-node :hem-309},
 :hedge-323
 {:type :edge, :uid :hedge-323, :label "1", :end-node :hem-313},
 :hedge-325 {:type :edge, :uid :hedge-325, :end-node :henpt-307},
 :hedge-326
 {:type :edge, :uid :hedge-326, :label "2", :end-node :hem-316},
 :hedge-328 {:type :edge, :uid :hedge-328, :end-node :henpt-308},
 :hedge-329
 {:type :edge, :uid :hedge-329, :label "3", :end-node :hem-319},
 :hem-309
 {:uid :hem-309,
  :type :htn-expanded-method,
  :label "position(A B C)",
  :display-name "Position",
  :network :net-322,
  :incidence-set #{:hedge-321},
  :edges [:hedge-323 :hedge-326 :hedge-329]},
 :hem-313
 {:uid :hem-313,
  :type :htn-expanded-method,
  :label "fake-waypoint(A)",
  :display-name "Fake Waypoint",
  :network :net-324,
  :incidence-set #{},
  :edges []},
 :hem-316
 {:uid :hem-316,
  :type :htn-expanded-method,
  :label "fake-waypoint(B)",
  :display-name "Fake Waypoint",
  :network :net-327,
  :incidence-set #{},
  :edges []},
 :hem-319
 {:uid :hem-319,
  :type :htn-expanded-method,
  :label "fake-waypoint(C)",
  :display-name "Fake Waypoint",
  :network :net-330,
  :incidence-set #{},
  :edges []},
 :henpt-305
 {:uid :henpt-305,
  :type :htn-expanded-nonprimitive-task,
  :label "mission",
  :display-name "mission",
  :incidence-set #{},
  :edges #{:hedge-321}},
 :henpt-306
 {:uid :henpt-306,
  :name "fake-waypoint",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-fake-waypoint",
  :display-name "Fake Waypoint",
  :incidence-set #{},
  :edges #{:hedge-325}},
 :henpt-307
 {:uid :henpt-307,
  :name "fake-waypoint",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-fake-waypoint",
  :display-name "Fake Waypoint",
  :incidence-set #{:hedge-325},
  :edges #{:hedge-328}},
 :henpt-308
 {:uid :henpt-308,
  :name "fake-waypoint",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-fake-waypoint",
  :display-name "Fake Waypoint",
  :incidence-set #{:hedge-328},
  :edges #{}},
 :hpt-311
 {:args ["A"],
  :interface "RMQ",
  :plantid "qc1",
  :uid :hpt-311,
  :name "goto",
  :argsmap {"loc" "A"},
  :type :htn-primitive-task,
  :label "TEMP-goto",
  :display-name "Goto",
  :incidence-set #{},
  :edges #{},
  :plant-part "part-001"},
 :hpt-312
 {:args ["A"],
  :interface "ZMQ",
  :plantid "qc2",
  :uid :hpt-312,
  :name "goto",
  :argsmap {"loc" "A"},
  :type :htn-primitive-task,
  :label "TEMP-goto",
  :display-name "Goto",
  :incidence-set #{},
  :edges #{},
  :plant-part "part-002"},
 :hpt-314
 {:args ["B"],
  :interface "RMQ",
  :plantid "qc1",
  :uid :hpt-314,
  :name "goto",
  :argsmap {"loc" "B"},
  :type :htn-primitive-task,
  :label "TEMP-goto",
  :display-name "Goto",
  :incidence-set #{},
  :edges #{},
  :plant-part "part-001"},
 :hpt-315
 {:args ["B"],
  :interface "ZMQ",
  :plantid "qc2",
  :uid :hpt-315,
  :name "goto",
  :argsmap {"loc" "B"},
  :type :htn-primitive-task,
  :label "TEMP-goto",
  :display-name "Goto",
  :incidence-set #{},
  :edges #{},
  :plant-part "part-002"},
 :hpt-317
 {:args ["C"],
  :interface "RMQ",
  :plantid "qc1",
  :uid :hpt-317,
  :name "goto",
  :argsmap {"loc" "C"},
  :type :htn-primitive-task,
  :label "TEMP-goto",
  :display-name "Goto",
  :incidence-set #{},
  :edges #{},
  :plant-part "part-001"},
 :hpt-318
 {:args ["C"],
  :interface "ZMQ",
  :plantid "qc2",
  :uid :hpt-318,
  :name "goto",
  :argsmap {"loc" "C"},
  :type :htn-primitive-task,
  :label "TEMP-goto",
  :display-name "Goto",
  :incidence-set #{},
  :edges #{},
  :plant-part "part-002"},
 :net-320
 {:type :htn-network,
  :uid :net-320,
  :display-name "mission",
  :label "mission",
  :rootnodes #{:henpt-305}},
 :net-322
 {:type :htn-network,
  :uid :net-322,
  :display-name "position(A B C)",
  :label "position(A B C)",
  :rootnodes #{:henpt-306}},
 :net-324
 {:type :htn-network,
  :uid :net-324,
  :display-name "fake-waypoint(A)",
  :label "fake-waypoint(A)",
  :rootnodes #{:hpt-312 :hpt-311}},
 :net-327
 {:type :htn-network,
  :uid :net-327,
  :display-name "fake-waypoint(B)",
  :label "fake-waypoint(B)",
  :rootnodes #{:hpt-315 :hpt-314}},
 :net-330
 {:type :htn-network,
  :uid :net-330,
  :display-name "fake-waypoint(C)",
  :label "fake-waypoint(C)",
  :rootnodes #{:hpt-317 :hpt-318}},
 :network :net-320}
