{:hedge-395 {:type :edge, :uid :hedge-395, :end-node :hem-386},
 :hedge-397
 {:type :edge, :uid :hedge-397, :label "1", :end-node :hem-389},
 :hedge-399 {:type :edge, :uid :hedge-399, :end-node :henpt-384},
 :hedge-400
 {:type :edge, :uid :hedge-400, :label "2", :end-node :hem-391},
 :hedge-402 {:type :edge, :uid :hedge-402, :end-node :henpt-385},
 :hedge-403
 {:type :edge, :uid :hedge-403, :label "3", :end-node :hem-393},
 :hem-386
 {:uid :hem-386,
  :type :htn-expanded-method,
  :label "position(A B C)",
  :display-name "Position",
  :network :net-396,
  :incidence-set #{:hedge-395},
  :edges [:hedge-397 :hedge-400 :hedge-403]},
 :hem-389
 {:uid :hem-389,
  :type :htn-expanded-method,
  :label "fake-waypoint(A)",
  :display-name "Fake Waypoint",
  :network :net-398,
  :incidence-set #{},
  :edges []},
 :hem-391
 {:uid :hem-391,
  :type :htn-expanded-method,
  :label "fake-waypoint(B)",
  :display-name "Fake Waypoint",
  :network :net-401,
  :incidence-set #{},
  :edges []},
 :hem-393
 {:uid :hem-393,
  :type :htn-expanded-method,
  :label "fake-waypoint(C)",
  :display-name "Fake Waypoint",
  :network :net-404,
  :incidence-set #{},
  :edges []},
 :henpt-382
 {:uid :henpt-382,
  :type :htn-expanded-nonprimitive-task,
  :label "mission",
  :display-name "mission",
  :incidence-set #{},
  :edges #{:hedge-395}},
 :henpt-383
 {:uid :henpt-383,
  :name "fake-waypoint",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-fake-waypoint",
  :display-name "Fake Waypoint",
  :incidence-set #{},
  :edges #{:hedge-399}},
 :henpt-384
 {:uid :henpt-384,
  :name "fake-waypoint",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-fake-waypoint",
  :display-name "Fake Waypoint",
  :incidence-set #{:hedge-399},
  :edges #{:hedge-402}},
 :henpt-385
 {:uid :henpt-385,
  :name "fake-waypoint",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-fake-waypoint",
  :display-name "Fake Waypoint",
  :incidence-set #{:hedge-402},
  :edges #{}},
 :hpt-388
 {:args ["A"],
  :interface "RMQ",
  :plantid "qc1",
  :uid :hpt-388,
  :name "goto",
  :argsmap {"loc" "A"},
  :type :htn-primitive-task,
  :label "TEMP-goto",
  :display-name "Goto",
  :incidence-set #{},
  :edges #{},
  :plant-part "part-001"},
 :hpt-390
 {:args ["B"],
  :interface "RMQ",
  :plantid "qc1",
  :uid :hpt-390,
  :name "goto",
  :argsmap {"loc" "B"},
  :type :htn-primitive-task,
  :label "TEMP-goto",
  :display-name "Goto",
  :incidence-set #{},
  :edges #{},
  :plant-part "part-001"},
 :hpt-392
 {:args ["C"],
  :interface "RMQ",
  :plantid "qc1",
  :uid :hpt-392,
  :name "goto",
  :argsmap {"loc" "C"},
  :type :htn-primitive-task,
  :label "TEMP-goto",
  :display-name "Goto",
  :incidence-set #{},
  :edges #{},
  :plant-part "part-001"},
 :net-394
 {:type :htn-network,
  :uid :net-394,
  :display-name "mission",
  :label "mission",
  :rootnodes #{:henpt-382}},
 :net-396
 {:type :htn-network,
  :uid :net-396,
  :display-name "position(A B C)",
  :label "position(A B C)",
  :rootnodes #{:henpt-383}},
 :net-398
 {:type :htn-network,
  :uid :net-398,
  :display-name "fake-waypoint(A)",
  :label "fake-waypoint(A)",
  :rootnodes #{:hpt-388}},
 :net-401
 {:type :htn-network,
  :uid :net-401,
  :display-name "fake-waypoint(B)",
  :label "fake-waypoint(B)",
  :rootnodes #{:hpt-390}},
 :net-404
 {:type :htn-network,
  :uid :net-404,
  :display-name "fake-waypoint(C)",
  :label "fake-waypoint(C)",
  :rootnodes #{:hpt-392}},
 :network :net-394}
