{:act-191
 {:args ["A"],
  :constraints #{},
  :interface "RMQ",
  :plantid "qc1",
  :uid :act-191,
  :name "goto:qc1%part-001@RMQ({\"loc\" \"A\"})",
  :tpn-type :activity,
  :argsmap {"loc" "A"},
  :command "goto",
  :htn-node :hem-313,
  :controllable false,
  :end-node :node-190,
  :label "TEMP-goto",
  :display-name "Goto",
  :plant-part "part-001"},
 :act-199
 {:args ["A"],
  :constraints #{},
  :interface "ZMQ",
  :plantid "qc2",
  :uid :act-199,
  :name "goto:qc2%part-002@ZMQ({\"loc\" \"A\"})",
  :tpn-type :activity,
  :argsmap {"loc" "A"},
  :command "goto",
  :htn-node :hem-313,
  :controllable false,
  :end-node :node-198,
  :label "TEMP-goto",
  :display-name "Goto",
  :plant-part "part-002"},
 :act-208
 {:args ["B"],
  :constraints #{},
  :interface "RMQ",
  :plantid "qc1",
  :uid :act-208,
  :name "goto:qc1%part-001@RMQ({\"loc\" \"B\"})",
  :tpn-type :activity,
  :argsmap {"loc" "B"},
  :command "goto",
  :htn-node :hem-316,
  :controllable false,
  :end-node :node-207,
  :label "TEMP-goto",
  :display-name "Goto",
  :plant-part "part-001"},
 :act-216
 {:args ["B"],
  :constraints #{},
  :interface "ZMQ",
  :plantid "qc2",
  :uid :act-216,
  :name "goto:qc2%part-002@ZMQ({\"loc\" \"B\"})",
  :tpn-type :activity,
  :argsmap {"loc" "B"},
  :command "goto",
  :htn-node :hem-316,
  :controllable false,
  :end-node :node-215,
  :label "TEMP-goto",
  :display-name "Goto",
  :plant-part "part-002"},
 :act-226
 {:args ["C"],
  :constraints #{},
  :interface "RMQ",
  :plantid "qc1",
  :uid :act-226,
  :name "goto:qc1%part-001@RMQ({\"loc\" \"C\"})",
  :tpn-type :activity,
  :argsmap {"loc" "C"},
  :command "goto",
  :htn-node :hem-319,
  :controllable false,
  :end-node :node-225,
  :label "TEMP-goto",
  :display-name "Goto",
  :plant-part "part-001"},
 :act-234
 {:args ["C"],
  :constraints #{},
  :interface "ZMQ",
  :plantid "qc2",
  :uid :act-234,
  :name "goto:qc2%part-002@ZMQ({\"loc\" \"C\"})",
  :tpn-type :activity,
  :argsmap {"loc" "C"},
  :command "goto",
  :htn-node :hem-319,
  :controllable false,
  :end-node :node-233,
  :label "TEMP-goto",
  :display-name "Goto",
  :plant-part "part-002"},
 :na-196
 {:tpn-type :null-activity,
  :uid :na-196,
  :constraints #{},
  :end-node :node-192},
 :na-197
 {:tpn-type :null-activity,
  :uid :na-197,
  :constraints #{},
  :end-node :node-193},
 :na-202
 {:tpn-type :null-activity,
  :uid :na-202,
  :constraints #{},
  :end-node :node-200},
 :na-203
 {:tpn-type :null-activity,
  :uid :na-203,
  :constraints #{},
  :end-node :node-193},
 :na-212
 {:tpn-type :null-activity,
  :uid :na-212,
  :constraints #{},
  :end-node :node-211},
 :na-213
 {:tpn-type :null-activity,
  :uid :na-213,
  :constraints #{},
  :end-node :node-209},
 :na-214
 {:tpn-type :null-activity,
  :uid :na-214,
  :constraints #{},
  :end-node :node-210},
 :na-219
 {:tpn-type :null-activity,
  :uid :na-219,
  :constraints #{},
  :end-node :node-217},
 :na-220
 {:tpn-type :null-activity,
  :uid :na-220,
  :constraints #{},
  :end-node :node-210},
 :na-230
 {:tpn-type :null-activity,
  :uid :na-230,
  :constraints #{},
  :end-node :node-229},
 :na-231
 {:tpn-type :null-activity,
  :uid :na-231,
  :constraints #{},
  :end-node :node-227},
 :na-232
 {:tpn-type :null-activity,
  :uid :na-232,
  :constraints #{},
  :end-node :node-228},
 :na-237
 {:tpn-type :null-activity,
  :uid :na-237,
  :constraints #{},
  :end-node :node-235},
 :na-238
 {:tpn-type :null-activity,
  :uid :na-238,
  :constraints #{},
  :end-node :node-228},
 :net-186
 {:tpn-type :network,
  :uid :net-186,
  :begin-node :node-194,
  :end-node :node-228},
 :network-id :net-186,
 :node-190
 {:tpn-type :state,
  :uid :node-190,
  :constraints #{},
  :activities #{:na-197},
  :incidence-set #{:act-191}},
 :node-192
 {:tpn-type :state,
  :uid :node-192,
  :constraints #{},
  :activities #{:act-191},
  :incidence-set #{:na-196},
  :htn-node :hem-313,
  :end-node :node-190},
 :node-193
 {:tpn-type :p-end,
  :uid :node-193,
  :constraints #{},
  :activities #{:na-212},
  :incidence-set #{:na-197 :na-203}},
 :node-194
 {:tpn-type :p-begin,
  :uid :node-194,
  :constraints #{},
  :activities #{:na-196 :na-202},
  :incidence-set #{},
  :htn-node :hem-309,
  :end-node :node-193},
 :node-198
 {:tpn-type :state,
  :uid :node-198,
  :constraints #{},
  :activities #{:na-203},
  :incidence-set #{:act-199}},
 :node-200
 {:tpn-type :state,
  :uid :node-200,
  :constraints #{},
  :activities #{:act-199},
  :incidence-set #{:na-202},
  :htn-node :hem-313,
  :end-node :node-198},
 :node-207
 {:tpn-type :state,
  :uid :node-207,
  :constraints #{},
  :activities #{:na-214},
  :incidence-set #{:act-208}},
 :node-209
 {:tpn-type :state,
  :uid :node-209,
  :constraints #{},
  :activities #{:act-208},
  :incidence-set #{:na-213},
  :htn-node :hem-316,
  :end-node :node-207},
 :node-210
 {:tpn-type :p-end,
  :uid :node-210,
  :constraints #{},
  :activities #{:na-230},
  :incidence-set #{:na-220 :na-214}},
 :node-211
 {:tpn-type :p-begin,
  :uid :node-211,
  :constraints #{},
  :activities #{:na-213 :na-219},
  :incidence-set #{:na-212},
  :htn-node :hem-316,
  :end-node :node-210},
 :node-215
 {:tpn-type :state,
  :uid :node-215,
  :constraints #{},
  :activities #{:na-220},
  :incidence-set #{:act-216}},
 :node-217
 {:tpn-type :state,
  :uid :node-217,
  :constraints #{},
  :activities #{:act-216},
  :incidence-set #{:na-219},
  :htn-node :hem-316,
  :end-node :node-215},
 :node-225
 {:tpn-type :state,
  :uid :node-225,
  :constraints #{},
  :activities #{:na-232},
  :incidence-set #{:act-226}},
 :node-227
 {:tpn-type :state,
  :uid :node-227,
  :constraints #{},
  :activities #{:act-226},
  :incidence-set #{:na-231},
  :htn-node :hem-319,
  :end-node :node-225},
 :node-228
 {:tpn-type :p-end,
  :uid :node-228,
  :constraints #{},
  :activities #{},
  :incidence-set #{:na-238 :na-232}},
 :node-229
 {:tpn-type :p-begin,
  :uid :node-229,
  :constraints #{},
  :activities #{:na-231 :na-237},
  :incidence-set #{:na-230},
  :htn-node :hem-319,
  :end-node :node-228},
 :node-233
 {:tpn-type :state,
  :uid :node-233,
  :constraints #{},
  :activities #{:na-238},
  :incidence-set #{:act-234}},
 :node-235
 {:tpn-type :state,
  :uid :node-235,
  :constraints #{},
  :activities #{:act-234},
  :incidence-set #{:na-237},
  :htn-node :hem-319,
  :end-node :node-233}}
