{:act-246
 {:args ["A"],
  :constraints #{},
  :interface "RMQ",
  :plantid "qc1",
  :uid :act-246,
  :name "goto:qc1%part-001@RMQ({\"loc\" \"A\"})",
  :tpn-type :activity,
  :argsmap {"loc" "A"},
  :command "goto",
  :htn-node :hem-389,
  :controllable false,
  :end-node :node-255,
  :label "TEMP-goto",
  :display-name "Goto",
  :plant-part "part-001"},
 :act-254
 {:args ["B"],
  :constraints #{},
  :interface "RMQ",
  :plantid "qc1",
  :uid :act-254,
  :name "goto:qc1%part-001@RMQ({\"loc\" \"B\"})",
  :tpn-type :activity,
  :argsmap {"loc" "B"},
  :command "goto",
  :htn-node :hem-391,
  :controllable false,
  :end-node :node-264,
  :label "TEMP-goto",
  :display-name "Goto",
  :plant-part "part-001"},
 :act-263
 {:args ["C"],
  :constraints #{},
  :interface "RMQ",
  :plantid "qc1",
  :uid :act-263,
  :name "goto:qc1%part-001@RMQ({\"loc\" \"C\"})",
  :tpn-type :activity,
  :argsmap {"loc" "C"},
  :command "goto",
  :htn-node :hem-393,
  :controllable false,
  :end-node :node-239,
  :label "TEMP-goto",
  :display-name "Goto",
  :plant-part "part-001"},
 :net-241
 {:tpn-type :network,
  :uid :net-241,
  :begin-node :node-247,
  :end-node :node-239},
 :network-id :net-241,
 :node-239
 {:tpn-type :state,
  :uid :node-239,
  :constraints #{},
  :activities #{},
  :incidence-set #{:act-263}},
 :node-247
 {:tpn-type :state,
  :uid :node-247,
  :constraints #{},
  :activities #{:act-246},
  :incidence-set #{},
  :htn-node :hem-386,
  :end-node :node-245},
 :node-255
 {:tpn-type :state,
  :uid :node-255,
  :constraints #{},
  :activities #{:act-254},
  :incidence-set #{:act-246},
  :htn-node :hem-391,
  :end-node :node-253},
 :node-264
 {:tpn-type :state,
  :uid :node-264,
  :constraints #{},
  :activities #{:act-263},
  :incidence-set #{:act-254},
  :htn-node :hem-393,
  :end-node :node-262}}
