{:act-16
 {:args ["B"],
  :constraints #{},
  :interface "RMQ",
  :plantid "qc1",
  :uid :act-16,
  :name "goto:qc1%part-001@RMQ({\"loc\" \"B\"})",
  :tpn-type :activity,
  :argsmap {"loc" "B"},
  :command "goto",
  :htn-node :hem-23,
  :controllable false,
  :end-node :node-26,
  :label "TEMP-goto",
  :display-name "Goto",
  :plant-part "part-001"},
 :act-25
 {:args ["C"],
  :constraints #{},
  :interface "RMQ",
  :plantid "qc1",
  :uid :act-25,
  :name "goto:qc1%part-001@RMQ({\"loc\" \"C\"})",
  :tpn-type :activity,
  :argsmap {"loc" "C"},
  :command "goto",
  :htn-node :hem-25,
  :controllable false,
  :end-node :node-1,
  :label "TEMP-goto",
  :display-name "Goto",
  :plant-part "part-001"},
 :act-8
 {:args ["A"],
  :constraints #{},
  :interface "RMQ",
  :plantid "qc1",
  :uid :act-8,
  :name "goto:qc1%part-001@RMQ({\"loc\" \"A\"})",
  :tpn-type :activity,
  :argsmap {"loc" "A"},
  :command "goto",
  :htn-node :hem-21,
  :controllable false,
  :end-node :node-17,
  :label "TEMP-goto",
  :display-name "Goto",
  :plant-part "part-001"},
 :net-3
 {:tpn-type :network,
  :uid :net-3,
  :begin-node :node-9,
  :end-node :node-1},
 :network-id :net-3,
 :node-1
 {:tpn-type :state,
  :uid :node-1,
  :constraints #{},
  :activities #{},
  :incidence-set #{:act-25}},
 :node-17
 {:tpn-type :state,
  :uid :node-17,
  :constraints #{},
  :activities #{:act-16},
  :incidence-set #{:act-8},
  :htn-node :hem-23,
  :end-node :node-15},
 :node-26
 {:tpn-type :state,
  :uid :node-26,
  :constraints #{},
  :activities #{:act-25},
  :incidence-set #{:act-16},
  :htn-node :hem-25,
  :end-node :node-24},
 :node-9
 {:tpn-type :state,
  :uid :node-9,
  :constraints #{},
  :activities #{:act-8},
  :incidence-set #{},
  :htn-node :hem-18,
  :end-node :node-7}}
