{:hedge-108 {:type :edge, :uid :hedge-108, :end-node :hem-99},
 :hedge-110
 {:type :edge, :uid :hedge-110, :label "1", :end-node :hem-102},
 :hedge-112 {:type :edge, :uid :hedge-112, :end-node :henpt-97},
 :hedge-113
 {:type :edge, :uid :hedge-113, :label "2", :end-node :hem-104},
 :hedge-115 {:type :edge, :uid :hedge-115, :end-node :henpt-98},
 :hedge-116
 {:type :edge, :uid :hedge-116, :label "3", :end-node :hem-106},
 :hem-102
 {:uid :hem-102,
  :type :htn-expanded-method,
  :label "fake-waypoint(A)",
  :display-name "Fake Waypoint",
  :network :net-111,
  :incidence-set #{},
  :edges []},
 :hem-104
 {:uid :hem-104,
  :type :htn-expanded-method,
  :label "fake-waypoint(B)",
  :display-name "Fake Waypoint",
  :network :net-114,
  :incidence-set #{},
  :edges []},
 :hem-106
 {:uid :hem-106,
  :type :htn-expanded-method,
  :label "fake-waypoint(C)",
  :display-name "Fake Waypoint",
  :network :net-117,
  :incidence-set #{},
  :edges []},
 :hem-99
 {:uid :hem-99,
  :type :htn-expanded-method,
  :label "position(A B C)",
  :display-name "Position",
  :network :net-109,
  :incidence-set #{:hedge-108},
  :edges [:hedge-110 :hedge-113 :hedge-116]},
 :henpt-95
 {:uid :henpt-95,
  :type :htn-expanded-nonprimitive-task,
  :label "mission",
  :display-name "mission",
  :incidence-set #{},
  :edges #{:hedge-108}},
 :henpt-96
 {:uid :henpt-96,
  :name "fake-waypoint",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-fake-waypoint",
  :display-name "Fake Waypoint",
  :incidence-set #{},
  :edges #{:hedge-112}},
 :henpt-97
 {:uid :henpt-97,
  :name "fake-waypoint",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-fake-waypoint",
  :display-name "Fake Waypoint",
  :incidence-set #{:hedge-112},
  :edges #{:hedge-115}},
 :henpt-98
 {:uid :henpt-98,
  :name "fake-waypoint",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-fake-waypoint",
  :display-name "Fake Waypoint",
  :incidence-set #{:hedge-115},
  :edges #{}},
 :hpt-101
 {:args [nil],
  :interface "RMQ",
  :plantid "qc1",
  :uid :hpt-101,
  :name "goto",
  :argsmap {"loc" nil},
  :type :htn-primitive-task,
  :label "TEMP-goto",
  :display-name "Goto",
  :incidence-set #{},
  :edges #{},
  :plant-part "part-001"},
 :hpt-103
 {:args [nil],
  :interface "RMQ",
  :plantid "qc1",
  :uid :hpt-103,
  :name "goto",
  :argsmap {"loc" nil},
  :type :htn-primitive-task,
  :label "TEMP-goto",
  :display-name "Goto",
  :incidence-set #{},
  :edges #{},
  :plant-part "part-001"},
 :hpt-105
 {:args [nil],
  :interface "RMQ",
  :plantid "qc1",
  :uid :hpt-105,
  :name "goto",
  :argsmap {"loc" nil},
  :type :htn-primitive-task,
  :label "TEMP-goto",
  :display-name "Goto",
  :incidence-set #{},
  :edges #{},
  :plant-part "part-001"},
 :net-107
 {:type :htn-network,
  :uid :net-107,
  :display-name "mission",
  :label "mission",
  :rootnodes #{:henpt-95}},
 :net-109
 {:type :htn-network,
  :uid :net-109,
  :display-name "position(A B C)",
  :label "position(A B C)",
  :rootnodes #{:henpt-96}},
 :net-111
 {:type :htn-network,
  :uid :net-111,
  :display-name "fake-waypoint(A)",
  :label "fake-waypoint(A)",
  :rootnodes #{:hpt-101}},
 :net-114
 {:type :htn-network,
  :uid :net-114,
  :display-name "fake-waypoint(B)",
  :label "fake-waypoint(B)",
  :rootnodes #{:hpt-103}},
 :net-117
 {:type :htn-network,
  :uid :net-117,
  :display-name "fake-waypoint(C)",
  :label "fake-waypoint(C)",
  :rootnodes #{:hpt-105}},
 :network :net-107}
