{:act-763
 {:args ["A"],
  :constraints #{},
  :interface "RMQ",
  :plantid "qc1",
  :uid :act-763,
  :name "goto:qc1%part-001@RMQ({\"loc\" \"A\"})",
  :tpn-type :activity,
  :argsmap {"loc" "A"},
  :command "goto",
  :htn-node :hem-1051,
  :controllable false,
  :end-node :node-762,
  :label "TEMP-goto",
  :display-name "Goto",
  :plant-part "part-001"},
 :act-771
 {:args ["A"],
  :constraints #{},
  :interface "ZMQ",
  :plantid "qc2",
  :uid :act-771,
  :name "goto:qc2%part-002@ZMQ({\"loc\" \"A\"})",
  :tpn-type :activity,
  :argsmap {"loc" "A"},
  :command "goto",
  :htn-node :hem-1051,
  :controllable false,
  :end-node :node-770,
  :label "TEMP-goto",
  :display-name "Goto",
  :plant-part "part-002"},
 :act-780
 {:args ["B"],
  :constraints #{},
  :interface "RMQ",
  :plantid "qc1",
  :uid :act-780,
  :name "goto:qc1%part-001@RMQ({\"loc\" \"B\"})",
  :tpn-type :activity,
  :argsmap {"loc" "B"},
  :command "goto",
  :htn-node :hem-1054,
  :controllable false,
  :end-node :node-779,
  :label "TEMP-goto",
  :display-name "Goto",
  :plant-part "part-001"},
 :act-788
 {:args ["B"],
  :constraints #{},
  :interface "ZMQ",
  :plantid "qc2",
  :uid :act-788,
  :name "goto:qc2%part-002@ZMQ({\"loc\" \"B\"})",
  :tpn-type :activity,
  :argsmap {"loc" "B"},
  :command "goto",
  :htn-node :hem-1054,
  :controllable false,
  :end-node :node-787,
  :label "TEMP-goto",
  :display-name "Goto",
  :plant-part "part-002"},
 :act-798
 {:args ["C"],
  :constraints #{},
  :interface "RMQ",
  :plantid "qc1",
  :uid :act-798,
  :name "goto:qc1%part-001@RMQ({\"loc\" \"C\"})",
  :tpn-type :activity,
  :argsmap {"loc" "C"},
  :command "goto",
  :htn-node :hem-1057,
  :controllable false,
  :end-node :node-797,
  :label "TEMP-goto",
  :display-name "Goto",
  :plant-part "part-001"},
 :act-806
 {:args ["C"],
  :constraints #{},
  :interface "ZMQ",
  :plantid "qc2",
  :uid :act-806,
  :name "goto:qc2%part-002@ZMQ({\"loc\" \"C\"})",
  :tpn-type :activity,
  :argsmap {"loc" "C"},
  :command "goto",
  :htn-node :hem-1057,
  :controllable false,
  :end-node :node-805,
  :label "TEMP-goto",
  :display-name "Goto",
  :plant-part "part-002"},
 :na-768
 {:tpn-type :null-activity,
  :uid :na-768,
  :constraints #{},
  :end-node :node-764},
 :na-769
 {:tpn-type :null-activity,
  :uid :na-769,
  :constraints #{},
  :end-node :node-765},
 :na-774
 {:tpn-type :null-activity,
  :uid :na-774,
  :constraints #{},
  :end-node :node-772},
 :na-775
 {:tpn-type :null-activity,
  :uid :na-775,
  :constraints #{},
  :end-node :node-765},
 :na-784
 {:tpn-type :null-activity,
  :uid :na-784,
  :constraints #{},
  :end-node :node-783},
 :na-785
 {:tpn-type :null-activity,
  :uid :na-785,
  :constraints #{},
  :end-node :node-781},
 :na-786
 {:tpn-type :null-activity,
  :uid :na-786,
  :constraints #{},
  :end-node :node-782},
 :na-791
 {:tpn-type :null-activity,
  :uid :na-791,
  :constraints #{},
  :end-node :node-789},
 :na-792
 {:tpn-type :null-activity,
  :uid :na-792,
  :constraints #{},
  :end-node :node-782},
 :na-802
 {:tpn-type :null-activity,
  :uid :na-802,
  :constraints #{},
  :end-node :node-801},
 :na-803
 {:tpn-type :null-activity,
  :uid :na-803,
  :constraints #{},
  :end-node :node-799},
 :na-804
 {:tpn-type :null-activity,
  :uid :na-804,
  :constraints #{},
  :end-node :node-800},
 :na-809
 {:tpn-type :null-activity,
  :uid :na-809,
  :constraints #{},
  :end-node :node-807},
 :na-810
 {:tpn-type :null-activity,
  :uid :na-810,
  :constraints #{},
  :end-node :node-800},
 :net-758
 {:tpn-type :network,
  :uid :net-758,
  :begin-node :node-766,
  :end-node :node-800},
 :network-id :net-758,
 :node-762
 {:tpn-type :state,
  :uid :node-762,
  :constraints #{},
  :activities #{:na-769},
  :incidence-set #{:act-763}},
 :node-764
 {:tpn-type :state,
  :uid :node-764,
  :constraints #{},
  :activities #{:act-763},
  :incidence-set #{:na-768},
  :htn-node :hem-1051,
  :end-node :node-762},
 :node-765
 {:tpn-type :p-end,
  :uid :node-765,
  :constraints #{},
  :activities #{:na-784},
  :incidence-set #{:na-775 :na-769}},
 :node-766
 {:tpn-type :p-begin,
  :uid :node-766,
  :constraints #{},
  :activities #{:na-774 :na-768},
  :incidence-set #{},
  :htn-node :hem-1047,
  :end-node :node-765},
 :node-770
 {:tpn-type :state,
  :uid :node-770,
  :constraints #{},
  :activities #{:na-775},
  :incidence-set #{:act-771}},
 :node-772
 {:tpn-type :state,
  :uid :node-772,
  :constraints #{},
  :activities #{:act-771},
  :incidence-set #{:na-774},
  :htn-node :hem-1051,
  :end-node :node-770},
 :node-779
 {:tpn-type :state,
  :uid :node-779,
  :constraints #{},
  :activities #{:na-786},
  :incidence-set #{:act-780}},
 :node-781
 {:tpn-type :state,
  :uid :node-781,
  :constraints #{},
  :activities #{:act-780},
  :incidence-set #{:na-785},
  :htn-node :hem-1054,
  :end-node :node-779},
 :node-782
 {:tpn-type :p-end,
  :uid :node-782,
  :constraints #{},
  :activities #{:na-802},
  :incidence-set #{:na-786 :na-792}},
 :node-783
 {:tpn-type :p-begin,
  :uid :node-783,
  :constraints #{},
  :activities #{:na-785 :na-791},
  :incidence-set #{:na-784},
  :htn-node :hem-1054,
  :end-node :node-782},
 :node-787
 {:tpn-type :state,
  :uid :node-787,
  :constraints #{},
  :activities #{:na-792},
  :incidence-set #{:act-788}},
 :node-789
 {:tpn-type :state,
  :uid :node-789,
  :constraints #{},
  :activities #{:act-788},
  :incidence-set #{:na-791},
  :htn-node :hem-1054,
  :end-node :node-787},
 :node-797
 {:tpn-type :state,
  :uid :node-797,
  :constraints #{},
  :activities #{:na-804},
  :incidence-set #{:act-798}},
 :node-799
 {:tpn-type :state,
  :uid :node-799,
  :constraints #{},
  :activities #{:act-798},
  :incidence-set #{:na-803},
  :htn-node :hem-1057,
  :end-node :node-797},
 :node-800
 {:tpn-type :p-end,
  :uid :node-800,
  :constraints #{},
  :activities #{},
  :incidence-set #{:na-810 :na-804}},
 :node-801
 {:tpn-type :p-begin,
  :uid :node-801,
  :constraints #{},
  :activities #{:na-803 :na-809},
  :incidence-set #{:na-802},
  :htn-node :hem-1057,
  :end-node :node-800},
 :node-805
 {:tpn-type :state,
  :uid :node-805,
  :constraints #{},
  :activities #{:na-810},
  :incidence-set #{:act-806}},
 :node-807
 {:tpn-type :state,
  :uid :node-807,
  :constraints #{},
  :activities #{:act-806},
  :incidence-set #{:na-809},
  :htn-node :hem-1057,
  :end-node :node-805}}
