{assert-bounds
 {:args [],
  :fields
  {:a
   {:access :private,
    :initial {:name :gensym, :type :lvar},
    :observable false}},
  :meta {:doc "assert example with no time bounds", :version "0.2.0"},
  :methods
  {always-on
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive false,
     :betweens [],
     :display-name "Always On",
     :post {:type :literal, :value true},
     :cost 0,
     :body
     [{:type :assert,
       :body
       [{:temporal-constraints [{:type :bounds, :value [1 100]}]}],
       :condition
       {:type :equal,
        :args
        [{:type :field-reference, :pclass this, :field :a}
         {:type :literal, :value 1.0}]}}],
     :doc "ensure field :a is always 1.0"}]},
  :type :pclass}}
