{between-starts-example
 {:type :pclass,
  :args [],
  :meta {:version "0.2.0", :doc "between-starts example"},
  :methods
  {example
   {:args [],
    :pre {:type :literal, :value true},
    :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
    :reward 0,
    :controllable false,
    :primitive false,
    :betweens [],
    :display-name "Example",
    :post {:type :literal, :value true},
    :cost 0,
    :body
    [{:type :between-starts,
      :from :a,
      :to :b,
      :temporal-constraints [{:type :bounds, :value [1 100]}]}],
    :doc "between-starts example"}}}}
