{choose-probability
 {:args [],
  :fields
  {a
   {:access :private,
    :initial {:name :gensym, :type :lvar},
    :observable false}},
  :meta {:doc "choose example with probability", :version "0.2.0"},
  :methods
  {example
   [{:args [],
     :betweens [],
     :body
     [{:type :choose,
       :body
       [{:type :choice,
         :body [{:type :delay, :body nil}],
         :probability 0.5}
        {:type :choice,
         :body [{:type :delay, :body nil}],
         :probability 0.25,
         :condition
         {:type :equal, :args [{:type :field-ref, :names [a]} 1.0]}}
        {:type :choice,
         :body [{:type :delay, :body nil}],
         :probability {:type :lvar, :name "likelihood"}}]}],
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Example",
     :doc "choose based on probability",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass},
 pamela/lvars {:lvars {"likelihood" :unset}, :type :lvars}}
