{plant
 {:type :pclass,
  :args [],
  :meta {:doc "The Plant API"},
  :methods
  {action
   [{:args [a b],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Action",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc "Take action"}]}},
 plant-opts
 {:type :pclass,
  :args [plant],
  :meta {:doc "An example of invoking a plant function."},
  :methods
  {start
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive false,
     :betweens [],
     :display-name "Start",
     :post {:type :literal, :value true},
     :cost 0,
     :body
     [{:type :plant-fn-symbol,
       :name plant,
       :method action,
       :args [:foo 4],
       :temporal-constraints [{:type :bounds, :value [0 1]}],
       :label :demo,
       :cost 2,
       :reward 3}],
     :doc "Demo method"}]}}}
