{host
 {:args [],
  :methods
  {file-transfer
   [{:args [server-host size],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive false,
     :betweens [],
     :display-name "File Xfer",
     :post {:type :literal, :value true},
     :cost 0,
     :body
     [{:type :sequence,
       :body
       [{:type :plant-fn-symbol,
         :name this,
         :method ftp,
         :args [server-host size]}]}]}],
   ftp
   [{:args [server-host size],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Ftp",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil}],
   sleep
   [{:args [duration-secs],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Sleep",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil}],
   video
   [{:args [client server display],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Video",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil}],
   video-session
   [{:args [client-host server-host display],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive false,
     :betweens [],
     :display-name "Video Session",
     :post {:type :literal, :value true},
     :cost 0,
     :body
     [{:type :sequence,
       :body
       [{:type :delay,
         :body nil,
         :temporal-constraints [{:type :bounds, :value [15 15]}]}
        {:type :plant-fn-symbol,
         :name this,
         :method video,
         :args [client-host server-host display]}]}]}]},
  :type :pclass},
 main
 {:args [],
  :fields
  {:e1h1
   {:access :private,
    :initial
    {:args [],
     :id "actuator",
     :pclass host,
     :plant-part "host0101",
     :type :pclass-ctor},
    :observable false},
   :e7h1
   {:access :private,
    :initial
    {:args [],
     :id "actuator",
     :pclass host,
     :plant-part "host0701",
     :type :pclass-ctor},
    :observable false}},
  :meta {:doc "This defines all of the HTN methods for this domain"},
  :methods
  {main
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive false,
     :betweens [],
     :display-name "Main Activity",
     :post {:type :literal, :value true},
     :cost 0,
     :body
     [{:type :plant-fn-symbol,
       :name this,
       :method main-internal,
       :args ["host0101" "host0701"]}]}],
   main-internal
   [{:args [server-host client-host],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive false,
     :betweens [],
     :display-name "test1",
     :post {:type :literal, :value true},
     :cost 0,
     :body
     [{:type :parallel,
       :body
       [{:type :plant-fn-field,
         :method file-transfer,
         :args [server-host "100MB"],
         :temporal-constraints [{:type :bounds, :value [1 7]}],
         :field :e7h1}
        {:type :plant-fn-field,
         :method video-session,
         :args [client-host server-host "1"],
         :temporal-constraints [{:type :bounds, :value [20 35]}],
         :field :e7h1}]}],
     :doc "The top-level task for this mission"}]},
  :type :pclass}}
