{plant
 {:args [],
  :meta {:doc "The Plant API"},
  :methods
  {do-a
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 1,
     :display-args [],
     :display-name "Do A",
     :post true,
     :pre true,
     :primitive true,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [2 4]}]}],
   do-b
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Do B",
     :post true,
     :pre true,
     :primitive true,
     :probability 1.0,
     :reward 3,
     :temporal-constraints [{:type :bounds, :value [3 6]}]}],
   do-c
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Do C",
     :post true,
     :pre true,
     :primitive true,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}],
   do-d
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Do D",
     :post true,
     :pre true,
     :primitive true,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [1 7]}]}],
   do-e
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Do E",
     :post true,
     :pre true,
     :primitive true,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [9 16]}]}],
   do-f
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Do F",
     :post true,
     :pre true,
     :primitive true,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [1 3]}]}],
   do-g
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 3,
     :display-args [],
     :display-name "Do G",
     :post true,
     :pre true,
     :primitive true,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [2 5]}]}]},
  :type :pclass},
 tpn-costs
 {:args [plnt],
  :meta {:doc "A TPN example with costs and rewards."},
  :methods
  {start
   [{:args [],
     :betweens
     [{:type :between,
       :from :choice,
       :to :b,
       :temporal-constraints [{:type :bounds, :value [1 50]}],
       :cost<= 7,
       :reward>= 1}],
     :body
     [{:type :parallel,
       :body
       [{:type :sequence,
         :body
         [{:type :method-fn,
           :method-ref {:type :pclass-arg-ref, :names [plnt do-a]},
           :args []}
          {:type :method-fn,
           :method-ref {:type :pclass-arg-ref, :names [plnt do-b]},
           :args [],
           :label :b}],
         :cost<= 4,
         :reward>= 2}
        {:type :sequence,
         :body
         [{:type :choose,
           :body
           [{:type :choice,
             :body
             [{:type :sequence,
               :body
               [{:type :method-fn,
                 :method-ref
                 {:type :pclass-arg-ref, :names [plnt do-d]},
                 :args [],
                 :cost 1,
                 :reward 2}
                {:type :method-fn,
                 :method-ref
                 {:type :pclass-arg-ref, :names [plnt do-e]},
                 :args [],
                 :cost 2,
                 :reward 1}]}]}
            {:type :choice,
             :body
             [{:type :sequence,
               :body
               [{:type :method-fn,
                 :method-ref
                 {:type :pclass-arg-ref, :names [plnt do-f]},
                 :args [],
                 :cost 3,
                 :reward 1}
                {:type :method-fn,
                 :method-ref
                 {:type :pclass-arg-ref, :names [plnt do-g]},
                 :args [],
                 :cost 4}]}]}],
           :label :choice,
           :cost<= 10,
           :reward>= 5}
          {:type :method-fn,
           :method-ref {:type :pclass-arg-ref, :names [plnt do-c]},
           :args []}]}],
       :temporal-constraints [{:type :bounds, :value [1 100]}],
       :cost<= 11,
       :reward>= 6}],
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Start",
     :doc "TPN method",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass}}
