{plant
 {:args [],
  :meta {:doc "The Plant API"},
  :methods
  {action1
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Action 1",
     :doc "Take action 1",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}],
   action2
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Action 2",
     :doc "Take action 2",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass},
 slack
 {:args [plant],
  :meta {:doc "An example of using slack operations."},
  :methods
  {start
   [{:args [],
     :betweens [],
     :body
     [{:type :parallel,
       :body
       [{:type :sequence,
         :body
         [{:type :delay,
           :temporal-constraints
           [{:type :bounds, :value [0 :infinity]}],
           :body nil}
          {:type :plant-fn-symbol,
           :name plant,
           :method action1,
           :args []}
          {:type :delay,
           :temporal-constraints
           [{:type :bounds, :value [0 :infinity]}],
           :body nil}
          {:type :plant-fn-symbol,
           :name plant,
           :method action2,
           :args []}
          {:type :delay,
           :temporal-constraints
           [{:type :bounds, :value [0 :infinity]}],
           :body nil}],
         :label :slack-sequence}
        {:type :parallel,
         :body
         [{:type :sequence,
           :body
           [{:type :delay,
             :temporal-constraints
             [{:type :bounds, :value [0 :infinity]}],
             :body nil}
            {:type :plant-fn-symbol,
             :name plant,
             :method action1,
             :args []}
            {:type :delay,
             :temporal-constraints
             [{:type :bounds, :value [0 :infinity]}],
             :body nil}]}
          {:type :sequence,
           :body
           [{:type :delay,
             :temporal-constraints
             [{:type :bounds, :value [0 :infinity]}],
             :body nil}
            {:type :plant-fn-symbol,
             :name plant,
             :method action2,
             :args []}
            {:type :delay,
             :temporal-constraints
             [{:type :bounds, :value [0 :infinity]}],
             :body nil}]}],
         :label :slack-parallel}
        {:type :choose,
         :body
         [{:type :choice,
           :body
           [{:type :delay,
             :temporal-constraints [{:type :bounds, :value [0 0]}],
             :body nil}]}
          {:type :choice,
           :body
           [{:type :plant-fn-symbol,
             :name plant,
             :method action1,
             :args []}]}],
         :label :optional}
        {:type :sequence,
         :body
         [{:type :choose,
           :body
           [{:type :choice,
             :body
             [{:type :delay,
               :temporal-constraints [{:type :bounds, :value [0 0]}],
               :body nil}]}
            {:type :choice,
             :body
             [{:type :plant-fn-symbol,
               :name plant,
               :method action1,
               :args []}]}]}
          {:type :choose,
           :body
           [{:type :choice,
             :body
             [{:type :delay,
               :temporal-constraints [{:type :bounds, :value [0 0]}],
               :body nil}]}
            {:type :choice,
             :body
             [{:type :plant-fn-symbol,
               :name plant,
               :method action2,
               :args []}]}]}],
         :label :soft-sequence}
        {:type :parallel,
         :body
         [{:type :choose,
           :body
           [{:type :choice,
             :body
             [{:type :delay,
               :temporal-constraints [{:type :bounds, :value [0 0]}],
               :body nil}]}
            {:type :choice,
             :body
             [{:type :plant-fn-symbol,
               :name plant,
               :method action1,
               :args []}]}]}
          {:type :choose,
           :body
           [{:type :choice,
             :body
             [{:type :delay,
               :temporal-constraints [{:type :bounds, :value [0 0]}],
               :body nil}]}
            {:type :choice,
             :body
             [{:type :plant-fn-symbol,
               :name plant,
               :method action2,
               :args []}]}]}],
         :label :soft-parallel}]}],
     :controllable false,
     :cost 0,
     :display-name "Start",
     :doc "Demo method",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive false,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass}}
