{controllable
 {:type :pclass,
  :args [plant],
  :meta {:doc "An example of invoking plant functions."},
  :methods
  {start
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive false,
     :betweens [],
     :display-name "Start",
     :post {:type :literal, :value true},
     :cost 0,
     :body
     [{:type :sequence,
       :body
       [{:type :plant-fn-symbol,
         :name plant,
         :method action1,
         :args []}
        {:type :delay, :body nil}
        {:type :plant-fn-symbol,
         :name plant,
         :method action1,
         :args [],
         :controllable true}
        {:type :delay, :body nil, :controllable true}
        {:type :plant-fn-symbol,
         :name plant,
         :method action2,
         :args []}
        {:type :delay,
         :body nil,
         :temporal-constraints [{:type :bounds, :value [2 8]}],
         :controllable false}
        {:type :plant-fn-symbol,
         :name plant,
         :method action2,
         :args [],
         :temporal-constraints [{:type :bounds, :value [1 10]}],
         :controllable false}]}],
     :doc "Demo method"}]}},
 plant
 {:type :pclass,
  :args [],
  :meta {:doc "The Plant API"},
  :methods
  {action1
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Action 1",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc "Take action 1"}],
   action2
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable true,
     :primitive true,
     :betweens [],
     :display-name "Action 2",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc "Take action 2"}]}}}
