{plant
 {:args [],
  :meta {:doc "The Plant API"},
  :methods
  {do-a
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [2 4]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Do A",
     :post {:type :literal, :value true},
     :cost 1,
     :body nil}],
   do-b
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [3 6]}],
     :reward 3,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Do B",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil}],
   do-c
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Do C",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil}],
   do-d
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [1 7]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Do D",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil}],
   do-e
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [9 16]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Do E",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil}],
   do-f
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [1 3]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Do F",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil}],
   do-g
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [2 5]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Do G",
     :post {:type :literal, :value true},
     :cost 3,
     :body nil}]},
  :type :pclass},
 tpn-costs
 {:args [plnt],
  :meta {:doc "A TPN example with costs and rewards."},
  :methods
  {start
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive false,
     :betweens
     [{:type :between,
       :from :choice,
       :to :b,
       :temporal-constraints [{:type :bounds, :value [1 50]}],
       :cost<= 7,
       :reward>= 1}],
     :display-name "Start",
     :post {:type :literal, :value true},
     :cost 0,
     :body
     [{:type :parallel,
       :body
       [{:type :sequence,
         :body
         [{:type :plant-fn-symbol, :name plnt, :method do-a, :args []}
          {:type :plant-fn-symbol,
           :name plnt,
           :method do-b,
           :args [],
           :label :b}],
         :cost<= 4,
         :reward>= 2}
        {:type :sequence,
         :body
         [{:type :choose,
           :body
           [{:type :choice,
             :body
             [{:type :sequence,
               :body
               [{:type :plant-fn-symbol,
                 :name plnt,
                 :method do-d,
                 :args [],
                 :cost 1,
                 :reward 2}
                {:type :plant-fn-symbol,
                 :name plnt,
                 :method do-e,
                 :args [],
                 :cost 2,
                 :reward 1}]}]}
            {:type :choice,
             :body
             [{:type :sequence,
               :body
               [{:type :plant-fn-symbol,
                 :name plnt,
                 :method do-f,
                 :args [],
                 :cost 3,
                 :reward 1}
                {:type :plant-fn-symbol,
                 :name plnt,
                 :method do-g,
                 :args [],
                 :cost 4}]}]}],
           :label :choice,
           :cost<= 10,
           :reward>= 5}
          {:type :plant-fn-symbol,
           :name plnt,
           :method do-c,
           :args []}]}],
       :temporal-constraints [{:type :bounds, :value [1 100]}],
       :cost<= 11,
       :reward>= 6}],
     :doc "TPN method"}]},
  :type :pclass}}
