{unless-always
 {:args [],
  :fields
  {a
   {:access :private,
    :initial {:name :gensym, :type :lvar},
    :observable false}},
  :meta {:doc "unless example with no time bounds", :version "0.2.0"},
  :methods
  {always-on
   [{:args [],
     :betweens [],
     :body
     [{:type :unless,
       :condition
       {:type :equal, :args [{:type :field-ref, :names [a]} 1.0]},
       :body [{:type :delay, :body nil}]}],
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Always On",
     :doc "ensure field a is always 1.0",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass}}
