{:network-id :net-13991,
 :act-14057
 {:tpn-type :activity,
  :uid :act-14057,
  :constraints #{},
  :end-node :node-14066,
  :controllable false,
  :plant "this",
  :command "flip",
  :args [],
  :argsmap {}},
 :act-14073
 {:tpn-type :activity,
  :uid :act-14073,
  :constraints #{},
  :end-node :node-13989,
  :controllable false,
  :plant "this",
  :command "flip",
  :args [],
  :argsmap {}},
 :node-14018
 {:tpn-type :state,
  :uid :node-14018,
  :constraints #{},
  :activities #{:act-14017},
  :incidence-set #{:act-14009}},
 :act-14009
 {:tpn-type :activity,
  :uid :act-14009,
  :constraints #{},
  :end-node :node-14018,
  :controllable false,
  :plant "this",
  :command "flip",
  :args [],
  :argsmap {}},
 :act-14017
 {:tpn-type :activity,
  :uid :act-14017,
  :constraints #{},
  :end-node :node-14026,
  :controllable false,
  :plant "this",
  :command "flip",
  :args [],
  :argsmap {}},
 :node-14042
 {:tpn-type :state,
  :uid :node-14042,
  :constraints #{},
  :activities #{:act-14041},
  :incidence-set #{:act-14033}},
 :act-14033
 {:tpn-type :activity,
  :uid :act-14033,
  :constraints #{},
  :end-node :node-14042,
  :controllable false,
  :plant "this",
  :command "flip",
  :args [],
  :argsmap {}},
 :node-14074
 {:tpn-type :state,
  :uid :node-14074,
  :constraints #{},
  :activities #{:act-14073},
  :incidence-set #{:act-14065}},
 :act-14025
 {:tpn-type :activity,
  :uid :act-14025,
  :constraints #{},
  :end-node :node-14034,
  :controllable false,
  :plant "this",
  :command "flip",
  :args [],
  :argsmap {}},
 :node-14066
 {:tpn-type :state,
  :uid :node-14066,
  :constraints #{},
  :activities #{:act-14065},
  :incidence-set #{:act-14057}},
 :node-14034
 {:tpn-type :state,
  :uid :node-14034,
  :constraints #{},
  :activities #{:act-14033},
  :incidence-set #{:act-14025}},
 :node-14050
 {:tpn-type :state,
  :uid :node-14050,
  :constraints #{},
  :activities #{:act-14049},
  :incidence-set #{:act-14041}},
 :act-14001
 {:tpn-type :activity,
  :uid :act-14001,
  :constraints #{},
  :end-node :node-14010,
  :controllable false,
  :plant "this",
  :command "flip",
  :args [],
  :argsmap {}},
 :node-14058
 {:tpn-type :state,
  :uid :node-14058,
  :constraints #{},
  :activities #{:act-14057},
  :incidence-set #{:act-14049}},
 :node-14026
 {:tpn-type :state,
  :uid :node-14026,
  :constraints #{},
  :activities #{:act-14025},
  :incidence-set #{:act-14017}},
 :act-14049
 {:tpn-type :activity,
  :uid :act-14049,
  :constraints #{},
  :end-node :node-14058,
  :controllable false,
  :plant "this",
  :command "flip",
  :args [],
  :argsmap {}},
 :node-14002
 {:tpn-type :state,
  :uid :node-14002,
  :constraints #{},
  :activities #{:act-14001},
  :incidence-set #{}},
 :act-14065
 {:tpn-type :activity,
  :uid :act-14065,
  :constraints #{},
  :end-node :node-14074,
  :controllable false,
  :plant "this",
  :command "flip",
  :args [],
  :argsmap {}},
 :net-13991
 {:tpn-type :network,
  :uid :net-13991,
  :begin-node :node-14002,
  :end-node :node-13989},
 :node-13989
 {:tpn-type :state,
  :uid :node-13989,
  :constraints #{},
  :activities #{},
  :incidence-set #{:act-14073}},
 :node-14010
 {:tpn-type :state,
  :uid :node-14010,
  :constraints #{},
  :activities #{:act-14009},
  :incidence-set #{:act-14001}},
 :act-14041
 {:tpn-type :activity,
  :uid :act-14041,
  :constraints #{},
  :end-node :node-14050,
  :controllable false,
  :plant "this",
  :command "flip",
  :args [],
  :argsmap {}}}
