{:pclass circuit1,
 :doc "An example circuit with a power switch and light bulb",
 :args [],
 :fields
 {:source
  {:initial {:lvar "source"}, :access :private, :observable false},
  :drain
  {:initial {:lvar "drain"}, :access :private, :observable false},
  :bulb1
  {:initial
   {:pclass bulb,
    :doc "A light bulb",
    :args [vcc vdd],
    :fields
    {:anode
     {:initial {:lvar "source"}, :access :private, :observable false},
     :cathode
     {:initial {:lvar "drain"}, :access :private, :observable false},
     :illumination
     {:initial
      {:pclass lightvals,
       :doc "Enum for lighting values",
       :args [],
       :modes {:bright true, :dark true},
       :transitions {},
       :mode :dark},
      :access :public,
      :observable false},
     :sensed-illumination
     {:initial
      {:pclass lightvals,
       :doc "Enum for lighting values",
       :args [],
       :modes {:bright true, :dark true},
       :transitions {},
       :mode :dark},
      :access :public,
      :observable true}},
    :modes
    {:on
     (and
      (= (:illumination this) (mode-of lightvals :bright))
      (= (:sensed-illumination this) (mode-of lightvals :bright))),
     :off
     (and
      (= (:illumination this) (mode-of lightvals :dark))
      (= (:sensed-illumination this) (mode-of lightvals :dark))),
     :fail true},
    :transitions
    {:off:on
     {:pre
      (and
       (mode-of this :off)
       (= (:anode this) (mode-of pwrvals :high))
       (= (:sensed-illumination this) (mode-of lightvals :bright))),
      :post (mode-of this :on),
      :bounds [1 3],
      :doc "turning on bulb"},
     :on:off
     {:pre
      (and
       (mode-of this :on)
       (= (:anode this) (mode-of pwrvals :none))
       (= (:sensed-illumination this) (mode-of lightvals :dark))),
      :post (mode-of this :off),
      :bounds [1 3],
      :doc "turning off bulb"},
     :*:fail
     {:probability {:lvar "pfbulb"}, :doc "spontaneous bulb failure"}},
    :id "Bulb1"},
   :access :private,
   :observable false},
  :switchedpower
  {:initial
   {:pclass psw,
    :doc "Power Switch",
    :args [gnd pwr],
    :fields
    {:TP1
     {:initial {:lvar "source"}, :access :private, :observable false},
     :TP2
     {:initial {:lvar "drain"}, :access :private, :observable false},
     :pwr
     {:initial
      {:pclass pwrvals,
       :doc "Enum for power values",
       :args [],
       :modes {:high true, :none true},
       :transitions {},
       :mode :none},
      :access :private,
      :observable false}},
    :modes
    {:on (= (:pwr this) (mode-of pwrvals :high)),
     :off (= (:pwr this) (mode-of pwrvals :none)),
     :fail true},
    :methods
    {turn-on
     {:pre (mode-of this :off),
      :post (mode-of this :on),
      :bounds [1 3],
      :doc "turns on the power supply",
      :args [],
      :body nil,
      :betweens []},
     turn-off
     {:pre (mode-of this :on),
      :post (mode-of this :off),
      :bounds [1 3],
      :doc "turns off the power supply",
      :args [],
      :body nil,
      :betweens []},
     reset
     {:post (mode-of this :off),
      :doc "resets the power supply",
      :args [],
      :body nil,
      :betweens []}},
    :transitions
    {:off:on
     {:pre (mode-of this :off),
      :post (mode-of this :on),
      :doc "turning on"},
     :on:off
     {:pre (mode-of this :on),
      :post (mode-of this :off),
      :doc "turning off"},
     :*:fail {:probability 1.0E-7, :doc "spontaneous switch failure"}},
    :id "PSW1",
    :interface "RMQ"},
   :access :private,
   :observable false}},
 :modes {},
 :transitions {}}
