{:act-7305
 {:args [],
  :constraints #{},
  :uid :act-7305,
  :tpn-type :activity,
  :argsmap {},
  :plant "plant",
  :command "track-elephant",
  :reward 0,
  :controllable false,
  :end-node :node-7298,
  :cost 0},
 :act-7332
 {:args [],
  :constraints #{},
  :uid :act-7332,
  :tpn-type :activity,
  :argsmap {},
  :plant "plant",
  :command "watch-right-hemisphere",
  :reward 0,
  :controllable false,
  :end-node :node-7325,
  :cost 0},
 :act-7341
 {:args [],
  :constraints #{},
  :uid :act-7341,
  :tpn-type :activity,
  :argsmap {},
  :plant "plant",
  :command "watch-left-hemisphere",
  :reward 0,
  :controllable false,
  :end-node :node-7335,
  :cost 0},
 :act-7374
 {:args [],
  :constraints #{},
  :uid :act-7374,
  :tpn-type :activity,
  :argsmap {},
  :plant "plant",
  :command "take-high-res-images",
  :reward 0,
  :controllable false,
  :end-node :node-7384,
  :cost 0},
 :act-7383
 {:args [],
  :constraints #{},
  :uid :act-7383,
  :tpn-type :activity,
  :argsmap {},
  :plant "plant",
  :command "move-high-res-images",
  :reward 0,
  :controllable false,
  :end-node :node-7360,
  :cost 0},
 :act-7394
 {:args [],
  :constraints #{},
  :uid :act-7394,
  :tpn-type :activity,
  :argsmap {},
  :plant "plant",
  :command "take-move-low-res-images",
  :reward 0,
  :controllable false,
  :end-node :node-7387,
  :cost 0},
 :act-7412
 {:args [],
  :constraints #{},
  :uid :act-7412,
  :tpn-type :activity,
  :argsmap {},
  :plant "plant",
  :command "take-medium-res-images",
  :reward 0,
  :controllable false,
  :end-node :node-7422,
  :cost 0},
 :act-7421
 {:args [],
  :constraints #{},
  :uid :act-7421,
  :tpn-type :activity,
  :argsmap {},
  :plant "plant",
  :command "move-medium-res-images",
  :reward 0,
  :controllable false,
  :end-node :node-7397,
  :cost 0},
 :act-7439
 {:args [],
  :constraints #{},
  :uid :act-7439,
  :tpn-type :activity,
  :argsmap {},
  :plant "plant",
  :command "picture-analysis-type-1",
  :reward 0,
  :controllable false,
  :end-node :node-7432,
  :cost 0},
 :act-7457
 {:args [],
  :constraints #{},
  :uid :act-7457,
  :tpn-type :activity,
  :argsmap {},
  :plant "plant",
  :command "picture-analysis-type-2-slow",
  :reward 0,
  :controllable false,
  :end-node :node-7450,
  :cost 0},
 :act-7467
 {:args [],
  :constraints #{},
  :uid :act-7467,
  :tpn-type :activity,
  :argsmap {},
  :plant "plant",
  :command "picture-analysis-type-2-fast",
  :reward 0,
  :controllable false,
  :end-node :node-7460,
  :cost 0},
 :act-7477
 {:args [],
  :constraints #{},
  :uid :act-7477,
  :tpn-type :activity,
  :argsmap {},
  :plant "plant",
  :command "picture-analysis-type-3",
  :reward 0,
  :controllable false,
  :end-node :node-7470,
  :cost 0},
 :act-7486
 {:args [],
  :constraints #{},
  :uid :act-7486,
  :tpn-type :activity,
  :argsmap {},
  :plant "plant",
  :command "picture-distribution",
  :reward 0,
  :controllable false,
  :end-node :node-7344,
  :cost 0},
 :na-7300
 {:tpn-type :null-activity, :uid :na-7300, :end-node :node-7295},
 :na-7307
 {:tpn-type :null-activity,
  :uid :na-7307,
  :order 0,
  :end-node :node-7306},
 :na-7310
 {:tpn-type :null-activity, :uid :na-7310, :end-node :node-7295},
 :na-7315
 {:tpn-type :null-activity,
  :uid :na-7315,
  :order 1,
  :end-node :node-7314},
 :na-7318
 {:tpn-type :null-activity, :uid :na-7318, :end-node :node-7313},
 :na-7324
 {:tpn-type :null-activity,
  :uid :na-7324,
  :order 0,
  :end-node :node-7323},
 :na-7327
 {:tpn-type :null-activity, :uid :na-7327, :end-node :node-7321},
 :na-7334
 {:tpn-type :null-activity,
  :uid :na-7334,
  :order 0,
  :end-node :node-7333},
 :na-7337
 {:tpn-type :null-activity, :uid :na-7337, :end-node :node-7321},
 :na-7343
 {:tpn-type :null-activity,
  :uid :na-7343,
  :order 1,
  :end-node :node-7342},
 :na-7346
 {:tpn-type :null-activity, :uid :na-7346, :end-node :node-7313},
 :na-7359
 {:tpn-type :null-activity,
  :uid :na-7359,
  :order 0,
  :end-node :node-7358},
 :na-7362
 {:tpn-type :null-activity, :uid :na-7362, :end-node :node-7357},
 :na-7376
 {:tpn-type :null-activity,
  :uid :na-7376,
  :order 0,
  :end-node :node-7375},
 :na-7389
 {:tpn-type :null-activity, :uid :na-7389, :end-node :node-7357},
 :na-7396
 {:tpn-type :null-activity,
  :uid :na-7396,
  :order 1,
  :end-node :node-7395},
 :na-7400
 {:tpn-type :null-activity, :uid :na-7400, :end-node :node-7357},
 :na-7414
 {:tpn-type :null-activity,
  :uid :na-7414,
  :order 0,
  :end-node :node-7413},
 :na-7431
 {:tpn-type :null-activity,
  :uid :na-7431,
  :order 1,
  :end-node :node-7430},
 :na-7434
 {:tpn-type :null-activity, :uid :na-7434, :end-node :node-7429},
 :na-7441
 {:tpn-type :null-activity,
  :uid :na-7441,
  :order 0,
  :end-node :node-7440},
 :na-7444
 {:tpn-type :null-activity, :uid :na-7444, :end-node :node-7429},
 :na-7449
 {:tpn-type :null-activity,
  :uid :na-7449,
  :order 1,
  :end-node :node-7448},
 :na-7452
 {:tpn-type :null-activity, :uid :na-7452, :end-node :node-7447},
 :na-7459
 {:tpn-type :null-activity,
  :uid :na-7459,
  :order 0,
  :end-node :node-7458},
 :na-7462
 {:tpn-type :null-activity, :uid :na-7462, :end-node :node-7447},
 :na-7469
 {:tpn-type :null-activity,
  :uid :na-7469,
  :order 1,
  :end-node :node-7468},
 :na-7472
 {:tpn-type :null-activity, :uid :na-7472, :end-node :node-7429},
 :na-7479
 {:tpn-type :null-activity,
  :uid :na-7479,
  :order 2,
  :end-node :node-7478},
 :na-7488
 {:tpn-type :null-activity,
  :uid :na-7488,
  :order 2,
  :end-node :node-7487},
 :net-7293
 {:tpn-type :network,
  :uid :net-7293,
  :begin-node :node-7296,
  :end-node :node-7295},
 :network-id :net-7293,
 :node-7295
 {:tpn-type :p-end,
  :uid :node-7295,
  :constraints #{},
  :activities #{},
  :incidence-set #{:na-7300 :na-7310}},
 :node-7296
 {:tpn-type :p-begin,
  :uid :node-7296,
  :constraints #{},
  :activities #{:na-7315 :na-7307},
  :incidence-set #{},
  :end-node :node-7295},
 :node-7298
 {:tpn-type :state,
  :uid :node-7298,
  :constraints #{},
  :activities #{:na-7300},
  :incidence-set #{:act-7305}},
 :node-7306
 {:tpn-type :state,
  :uid :node-7306,
  :constraints #{:tc-7304},
  :activities #{:act-7305},
  :incidence-set #{:na-7307}},
 :node-7313
 {:tpn-type :p-end,
  :uid :node-7313,
  :constraints #{},
  :activities #{:na-7310},
  :incidence-set #{:na-7318 :na-7346}},
 :node-7314
 {:tpn-type :p-begin,
  :uid :node-7314,
  :constraints #{},
  :activities #{:na-7324 :na-7359},
  :incidence-set #{:na-7315},
  :end-node :node-7313},
 :node-7321
 {:tpn-type :p-end,
  :uid :node-7321,
  :constraints #{},
  :activities #{:na-7318},
  :incidence-set #{:na-7337 :na-7327}},
 :node-7323
 {:tpn-type :p-begin,
  :uid :node-7323,
  :constraints #{:tc-7322},
  :activities #{:na-7343 :na-7334},
  :incidence-set #{:na-7324},
  :end-node :node-7321},
 :node-7325
 {:tpn-type :state,
  :uid :node-7325,
  :constraints #{},
  :activities #{:na-7327},
  :incidence-set #{:act-7332}},
 :node-7333
 {:tpn-type :state,
  :uid :node-7333,
  :constraints #{:tc-7331},
  :activities #{:act-7332},
  :incidence-set #{:na-7334}},
 :node-7335
 {:tpn-type :state,
  :uid :node-7335,
  :constraints #{},
  :activities #{:na-7337},
  :incidence-set #{:act-7341}},
 :node-7342
 {:tpn-type :state,
  :uid :node-7342,
  :constraints #{},
  :activities #{:act-7341},
  :incidence-set #{:na-7343}},
 :node-7344
 {:tpn-type :state,
  :uid :node-7344,
  :constraints #{},
  :activities #{:na-7346},
  :incidence-set #{:act-7486}},
 :node-7357
 {:tpn-type :c-end,
  :uid :node-7357,
  :constraints #{},
  :activities #{:na-7431},
  :incidence-set #{:na-7389 :na-7362 :na-7400}},
 :node-7358
 {:tpn-type :c-begin,
  :uid :node-7358,
  :constraints #{:tc-7350},
  :activities #{:na-7376 :na-7396 :na-7414},
  :incidence-set #{:na-7359},
  :end-node :node-7357},
 :node-7360
 {:tpn-type :state,
  :uid :node-7360,
  :constraints #{},
  :activities #{:na-7362},
  :incidence-set #{:act-7383}},
 :node-7375
 {:tpn-type :state,
  :uid :node-7375,
  :constraints #{:tc-7373},
  :activities #{:act-7374},
  :incidence-set #{:na-7376}},
 :node-7384
 {:tpn-type :state,
  :uid :node-7384,
  :constraints #{:tc-7382},
  :activities #{:act-7383},
  :incidence-set #{:act-7374}},
 :node-7387
 {:tpn-type :state,
  :uid :node-7387,
  :constraints #{},
  :activities #{:na-7389},
  :incidence-set #{:act-7394}},
 :node-7395
 {:tpn-type :state,
  :uid :node-7395,
  :constraints #{:tc-7393},
  :activities #{:act-7394},
  :incidence-set #{:na-7396}},
 :node-7397
 {:tpn-type :state,
  :uid :node-7397,
  :constraints #{},
  :activities #{:na-7400},
  :incidence-set #{:act-7421}},
 :node-7413
 {:tpn-type :state,
  :uid :node-7413,
  :constraints #{:tc-7411 :tc-7398},
  :activities #{:act-7412},
  :incidence-set #{:na-7414}},
 :node-7422
 {:tpn-type :state,
  :uid :node-7422,
  :constraints #{:tc-7420},
  :activities #{:act-7421},
  :incidence-set #{:act-7412}},
 :node-7429
 {:tpn-type :p-end,
  :uid :node-7429,
  :constraints #{},
  :activities #{:na-7488},
  :incidence-set #{:na-7444 :na-7434 :na-7472}},
 :node-7430
 {:tpn-type :p-begin,
  :uid :node-7430,
  :constraints #{},
  :activities #{:na-7441 :na-7449 :na-7479},
  :incidence-set #{:na-7431},
  :end-node :node-7429},
 :node-7432
 {:tpn-type :state,
  :uid :node-7432,
  :constraints #{},
  :activities #{:na-7434},
  :incidence-set #{:act-7439}},
 :node-7440
 {:tpn-type :state,
  :uid :node-7440,
  :constraints #{:tc-7438},
  :activities #{:act-7439},
  :incidence-set #{:na-7441}},
 :node-7447
 {:tpn-type :c-end,
  :uid :node-7447,
  :constraints #{},
  :activities #{:na-7444},
  :incidence-set #{:na-7462 :na-7452}},
 :node-7448
 {:tpn-type :c-begin,
  :uid :node-7448,
  :constraints #{},
  :activities #{:na-7469 :na-7459},
  :incidence-set #{:na-7449},
  :end-node :node-7447},
 :node-7450
 {:tpn-type :state,
  :uid :node-7450,
  :constraints #{},
  :activities #{:na-7452},
  :incidence-set #{:act-7457}},
 :node-7458
 {:tpn-type :state,
  :uid :node-7458,
  :constraints #{:tc-7456},
  :activities #{:act-7457},
  :incidence-set #{:na-7459}},
 :node-7460
 {:tpn-type :state,
  :uid :node-7460,
  :constraints #{},
  :activities #{:na-7462},
  :incidence-set #{:act-7467}},
 :node-7468
 {:tpn-type :state,
  :uid :node-7468,
  :constraints #{:tc-7466},
  :activities #{:act-7467},
  :incidence-set #{:na-7469}},
 :node-7470
 {:tpn-type :state,
  :uid :node-7470,
  :constraints #{},
  :activities #{:na-7472},
  :incidence-set #{:act-7477}},
 :node-7478
 {:tpn-type :state,
  :uid :node-7478,
  :constraints #{:tc-7476},
  :activities #{:act-7477},
  :incidence-set #{:na-7479}},
 :node-7487
 {:tpn-type :state,
  :uid :node-7487,
  :constraints #{:tc-7485},
  :activities #{:act-7486},
  :incidence-set #{:na-7488}},
 :tc-7304
 {:tpn-type :temporal-constraint,
  :uid :tc-7304,
  :value [160 170],
  :end-node :node-7298},
 :tc-7322
 {:tpn-type :temporal-constraint,
  :uid :tc-7322,
  :value [20 25],
  :end-node :node-7321},
 :tc-7331
 {:tpn-type :temporal-constraint,
  :uid :tc-7331,
  :value [10 20],
  :end-node :node-7325},
 :tc-7350
 {:tpn-type :temporal-constraint,
  :uid :tc-7350,
  :value [123 456],
  :end-node :node-7344},
 :tc-7373
 {:tpn-type :temporal-constraint,
  :uid :tc-7373,
  :value [0 3],
  :end-node :node-7384},
 :tc-7382
 {:tpn-type :temporal-constraint,
  :uid :tc-7382,
  :value [0 4],
  :end-node :node-7360},
 :tc-7393
 {:tpn-type :temporal-constraint,
  :uid :tc-7393,
  :value [0 3],
  :end-node :node-7387},
 :tc-7398
 {:tpn-type :temporal-constraint,
  :uid :tc-7398,
  :value [78 90],
  :end-node :node-7397},
 :tc-7411
 {:tpn-type :temporal-constraint,
  :uid :tc-7411,
  :value [0 3],
  :end-node :node-7422},
 :tc-7420
 {:tpn-type :temporal-constraint,
  :uid :tc-7420,
  :value [0 4],
  :end-node :node-7397},
 :tc-7438
 {:tpn-type :temporal-constraint,
  :uid :tc-7438,
  :value [0 6],
  :end-node :node-7432},
 :tc-7456
 {:tpn-type :temporal-constraint,
  :uid :tc-7456,
  :value [0 10],
  :end-node :node-7450},
 :tc-7466
 {:tpn-type :temporal-constraint,
  :uid :tc-7466,
  :value [0 10],
  :end-node :node-7460},
 :tc-7476
 {:tpn-type :temporal-constraint,
  :uid :tc-7476,
  :value [0 7],
  :end-node :node-7470},
 :tc-7485
 {:tpn-type :temporal-constraint,
  :uid :tc-7485,
  :value [0 5],
  :end-node :node-7344}}
