{:hedge-285 {:type :edge, :uid :hedge-285, :end-node :hem-279},
 :hedge-287 {:type :edge, :uid :hedge-287, :end-node :hem-281},
 :hedge-289 {:type :edge, :uid :hedge-289, :end-node :hem-283},
 :hem-279
 {:uid :hem-279,
  :type :htn-expanded-method,
  :label "Example-0()",
  :display-name "Example-0",
  :network :net-286,
  :incidence-set #{:hedge-285},
  :edges []},
 :hem-281
 {:uid :hem-281,
  :type :htn-expanded-method,
  :label "Example-1()",
  :display-name "Example-1",
  :network :net-288,
  :incidence-set #{:hedge-287},
  :edges []},
 :hem-283
 {:uid :hem-283,
  :type :htn-expanded-method,
  :label "Example-2()",
  :display-name "Example-2",
  :network :net-290,
  :incidence-set #{:hedge-289},
  :edges []},
 :henpt-277
 {:uid :henpt-277,
  :type :htn-expanded-nonprimitive-task,
  :label "choose-reward",
  :display-name "choose-reward",
  :incidence-set #{},
  :edges [:hedge-285 :hedge-287 :hedge-289]},
 :hpt-278
 {:type :htn-primitive-task,
  :uid :hpt-278,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{},
  :edges [],
  :label "TEMP-delay"},
 :hpt-280
 {:type :htn-primitive-task,
  :uid :hpt-280,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{},
  :edges [],
  :label "TEMP-delay"},
 :hpt-282
 {:type :htn-primitive-task,
  :uid :hpt-282,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{},
  :edges [],
  :label "TEMP-delay"},
 :net-284
 {:type :htn-network,
  :uid :net-284,
  :display-name "choose-reward",
  :label "choose-reward",
  :rootnodes #{:henpt-277}},
 :net-286
 {:type :htn-network,
  :uid :net-286,
  :display-name "Example-0()",
  :label "Example-0()",
  :rootnodes #{:hpt-278}},
 :net-288
 {:type :htn-network,
  :uid :net-288,
  :display-name "Example-1()",
  :label "Example-1()",
  :rootnodes #{:hpt-280}},
 :net-290
 {:type :htn-network,
  :uid :net-290,
  :display-name "Example-2()",
  :label "Example-2()",
  :rootnodes #{:hpt-282}},
 :network :net-284}
