{:da-257
 {:tpn-type :delay-activity,
  :uid :da-257,
  :constraints #{},
  :end-node :node-256,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-301},
 :da-262
 {:tpn-type :delay-activity,
  :uid :da-262,
  :constraints #{},
  :end-node :node-261,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-303},
 :da-267
 {:tpn-type :delay-activity,
  :uid :da-267,
  :constraints #{},
  :end-node :node-266,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-305},
 :na-259
 {:tpn-type :null-activity,
  :uid :na-259,
  :constraints #{},
  :end-node :node-258},
 :na-260
 {:tpn-type :null-activity,
  :uid :na-260,
  :constraints #{},
  :end-node :node-253},
 :na-264
 {:tpn-type :null-activity,
  :uid :na-264,
  :constraints #{},
  :end-node :node-263},
 :na-265
 {:tpn-type :null-activity,
  :uid :na-265,
  :constraints #{},
  :end-node :node-253},
 :na-269
 {:tpn-type :null-activity,
  :uid :na-269,
  :constraints #{},
  :end-node :node-268},
 :na-270
 {:tpn-type :null-activity,
  :uid :na-270,
  :constraints #{},
  :end-node :node-253},
 :net-255
 {:tpn-type :network,
  :uid :net-255,
  :begin-node :node-254,
  :end-node :node-253},
 :network-id :net-255,
 :node-253
 {:tpn-type :c-end,
  :uid :node-253,
  :constraints #{},
  :activities #{},
  :incidence-set #{:na-265 :na-270 :na-260}},
 :node-254
 {:tpn-type :c-begin,
  :uid :node-254,
  :constraints #{},
  :activities #{:na-269 :na-264 :na-259},
  :incidence-set #{},
  :end-node :node-253,
  :htn-node :hem-305},
 :node-256
 {:tpn-type :state,
  :uid :node-256,
  :constraints #{},
  :activities #{:na-260},
  :incidence-set #{:da-257}},
 :node-258
 {:tpn-type :state,
  :uid :node-258,
  :constraints #{},
  :activities #{:da-257},
  :incidence-set #{:na-259},
  :htn-node :hem-301,
  :end-node :node-256},
 :node-261
 {:tpn-type :state,
  :uid :node-261,
  :constraints #{},
  :activities #{:na-265},
  :incidence-set #{:da-262}},
 :node-263
 {:tpn-type :state,
  :uid :node-263,
  :constraints #{},
  :activities #{:da-262},
  :incidence-set #{:na-264},
  :htn-node :hem-303,
  :end-node :node-261},
 :node-266
 {:tpn-type :state,
  :uid :node-266,
  :constraints #{},
  :activities #{:na-270},
  :incidence-set #{:da-267}},
 :node-268
 {:tpn-type :state,
  :uid :node-268,
  :constraints #{},
  :activities #{:da-267},
  :incidence-set #{:na-269},
  :htn-node :hem-305,
  :end-node :node-266}}
