{:hedge-17 {:end-node :hem-11, :type :edge, :uid :hedge-17},
 :hedge-19 {:end-node :hem-13, :type :edge, :uid :hedge-19},
 :hedge-21 {:end-node :hem-15, :type :edge, :uid :hedge-21},
 :hem-11
 {:args [],
  :display-name "Example-0",
  :edges [],
  :incidence-set #{:hedge-17},
  :network :net-18,
  :type :htn-expanded-method,
  :uid :hem-11},
 :hem-13
 {:args [],
  :display-name "Example-1",
  :edges [],
  :incidence-set #{:hedge-19},
  :network :net-20,
  :type :htn-expanded-method,
  :uid :hem-13},
 :hem-15
 {:args [],
  :display-name "Example-2",
  :edges [],
  :incidence-set #{:hedge-21},
  :network :net-22,
  :type :htn-expanded-method,
  :uid :hem-15},
 :henpt-9
 {:display-name "choose-reward",
  :edges [:hedge-17 :hedge-19 :hedge-21],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-9},
 :hpt-10
 {:display-name "Delay",
  :edges [],
  :incidence-set #{},
  :name "delay",
  :type :htn-primitive-task,
  :uid :hpt-10},
 :hpt-12
 {:display-name "Delay",
  :edges [],
  :incidence-set #{},
  :name "delay",
  :type :htn-primitive-task,
  :uid :hpt-12},
 :hpt-14
 {:display-name "Delay",
  :edges [],
  :incidence-set #{},
  :name "delay",
  :type :htn-primitive-task,
  :uid :hpt-14},
 :net-16
 {:display-name "choose-reward",
  :rootnodes #{:henpt-9},
  :type :htn-network,
  :uid :net-16},
 :net-18
 {:display-name "Example-0",
  :rootnodes #{:hpt-10},
  :type :htn-network,
  :uid :net-18},
 :net-20
 {:display-name "Example-1",
  :rootnodes #{:hpt-12},
  :type :htn-network,
  :uid :net-20},
 :net-22
 {:display-name "Example-2",
  :rootnodes #{:hpt-14},
  :type :htn-network,
  :uid :net-22},
 :network :net-16}
