{:da-10
 {:constraints #{},
  :controllable false,
  :end-node :node-9,
  :htn-node :hem-14,
  :name "Delay",
  :tpn-type :delay-activity,
  :uid :da-10},
 :da-15
 {:constraints #{},
  :controllable false,
  :end-node :node-14,
  :htn-node :hem-16,
  :name "Delay",
  :tpn-type :delay-activity,
  :uid :da-15},
 :da-5
 {:constraints #{},
  :controllable false,
  :end-node :node-4,
  :htn-node :hem-12,
  :name "Delay",
  :tpn-type :delay-activity,
  :uid :da-5},
 :na-12
 {:constraints #{},
  :end-node :node-11,
  :tpn-type :null-activity,
  :uid :na-12},
 :na-13
 {:constraints #{},
  :end-node :node-1,
  :tpn-type :null-activity,
  :uid :na-13},
 :na-17
 {:constraints #{},
  :end-node :node-16,
  :tpn-type :null-activity,
  :uid :na-17},
 :na-18
 {:constraints #{},
  :end-node :node-1,
  :tpn-type :null-activity,
  :uid :na-18},
 :na-7
 {:constraints #{},
  :end-node :node-6,
  :tpn-type :null-activity,
  :uid :na-7},
 :na-8
 {:constraints #{},
  :end-node :node-1,
  :tpn-type :null-activity,
  :uid :na-8},
 :net-3
 {:begin-node :node-2,
  :end-node :node-1,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-1
 {:activities #{},
  :constraints #{},
  :incidence-set #{:na-13 :na-8 :na-18},
  :tpn-type :c-end,
  :uid :node-1},
 :node-11
 {:activities #{:da-10},
  :constraints #{},
  :htn-node :hem-14,
  :incidence-set #{:na-12},
  :tpn-type :state,
  :uid :node-11},
 :node-14
 {:activities #{:na-18},
  :constraints #{},
  :incidence-set #{:da-15},
  :tpn-type :state,
  :uid :node-14},
 :node-16
 {:activities #{:da-15},
  :constraints #{},
  :htn-node :hem-16,
  :incidence-set #{:na-17},
  :tpn-type :state,
  :uid :node-16},
 :node-2
 {:activities #{:na-7 :na-12 :na-17},
  :constraints #{},
  :end-node :node-1,
  :htn-node :hem-16,
  :incidence-set #{},
  :tpn-type :c-begin,
  :uid :node-2},
 :node-4
 {:activities #{:na-8},
  :constraints #{},
  :incidence-set #{:da-5},
  :tpn-type :state,
  :uid :node-4},
 :node-6
 {:activities #{:da-5},
  :constraints #{},
  :htn-node :hem-12,
  :incidence-set #{:na-7},
  :tpn-type :state,
  :uid :node-6},
 :node-9
 {:activities #{:na-13},
  :constraints #{},
  :incidence-set #{:da-10},
  :tpn-type :state,
  :uid :node-9}}
