{:da-221
 {:tpn-type :delay-activity,
  :uid :da-221,
  :constraints #{},
  :end-node :node-220,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-257},
 :da-226
 {:tpn-type :delay-activity,
  :uid :da-226,
  :constraints #{},
  :end-node :node-225,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-259},
 :da-231
 {:tpn-type :delay-activity,
  :uid :da-231,
  :constraints #{},
  :end-node :node-230,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-261},
 :na-223
 {:tpn-type :null-activity,
  :uid :na-223,
  :constraints #{},
  :end-node :node-222},
 :na-224
 {:tpn-type :null-activity,
  :uid :na-224,
  :constraints #{},
  :end-node :node-217},
 :na-228
 {:tpn-type :null-activity,
  :uid :na-228,
  :constraints #{},
  :end-node :node-227},
 :na-229
 {:tpn-type :null-activity,
  :uid :na-229,
  :constraints #{},
  :end-node :node-217},
 :na-233
 {:tpn-type :null-activity,
  :uid :na-233,
  :constraints #{},
  :end-node :node-232},
 :na-234
 {:tpn-type :null-activity,
  :uid :na-234,
  :constraints #{},
  :end-node :node-217},
 :net-219
 {:tpn-type :network,
  :uid :net-219,
  :begin-node :node-218,
  :end-node :node-217},
 :network-id :net-219,
 :node-217
 {:tpn-type :c-end,
  :uid :node-217,
  :constraints #{},
  :activities #{},
  :incidence-set #{:na-234 :na-224 :na-229}},
 :node-218
 {:tpn-type :c-begin,
  :uid :node-218,
  :constraints #{},
  :activities #{:na-228 :na-223 :na-233},
  :incidence-set #{},
  :end-node :node-217,
  :htn-node :hem-261},
 :node-220
 {:tpn-type :state,
  :uid :node-220,
  :constraints #{},
  :activities #{:na-224},
  :incidence-set #{:da-221}},
 :node-222
 {:tpn-type :state,
  :uid :node-222,
  :constraints #{},
  :activities #{:da-221},
  :incidence-set #{:na-223},
  :htn-node :hem-257,
  :end-node :node-220},
 :node-225
 {:tpn-type :state,
  :uid :node-225,
  :constraints #{},
  :activities #{:na-229},
  :incidence-set #{:da-226}},
 :node-227
 {:tpn-type :state,
  :uid :node-227,
  :constraints #{},
  :activities #{:da-226},
  :incidence-set #{:na-228},
  :htn-node :hem-259,
  :end-node :node-225},
 :node-230
 {:tpn-type :state,
  :uid :node-230,
  :constraints #{},
  :activities #{:na-234},
  :incidence-set #{:da-231}},
 :node-232
 {:tpn-type :state,
  :uid :node-232,
  :constraints #{},
  :activities #{:da-231},
  :incidence-set #{:na-233},
  :htn-node :hem-261,
  :end-node :node-230}}
