{:da-10
 {:tpn-type :delay-activity,
  :uid :da-10,
  :constraints #{},
  :end-node :node-9,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-13},
 :da-15
 {:tpn-type :delay-activity,
  :uid :da-15,
  :constraints #{},
  :end-node :node-14,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-15},
 :da-5
 {:tpn-type :delay-activity,
  :uid :da-5,
  :constraints #{},
  :end-node :node-4,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-11},
 :na-12
 {:tpn-type :null-activity,
  :uid :na-12,
  :constraints #{},
  :end-node :node-11},
 :na-13
 {:tpn-type :null-activity,
  :uid :na-13,
  :constraints #{},
  :end-node :node-1},
 :na-17
 {:tpn-type :null-activity,
  :uid :na-17,
  :constraints #{},
  :end-node :node-16},
 :na-18
 {:tpn-type :null-activity,
  :uid :na-18,
  :constraints #{},
  :end-node :node-1},
 :na-7
 {:tpn-type :null-activity,
  :uid :na-7,
  :constraints #{},
  :end-node :node-6},
 :na-8
 {:tpn-type :null-activity,
  :uid :na-8,
  :constraints #{},
  :end-node :node-1},
 :net-3
 {:tpn-type :network,
  :uid :net-3,
  :begin-node :node-2,
  :end-node :node-1},
 :network-id :net-3,
 :node-1
 {:tpn-type :c-end,
  :uid :node-1,
  :constraints #{},
  :activities #{},
  :incidence-set #{:na-13 :na-8 :na-18}},
 :node-11
 {:tpn-type :state,
  :uid :node-11,
  :constraints #{},
  :activities #{:da-10},
  :incidence-set #{:na-12},
  :htn-node :hem-13,
  :end-node :node-9},
 :node-14
 {:tpn-type :state,
  :uid :node-14,
  :constraints #{},
  :activities #{:na-18},
  :incidence-set #{:da-15}},
 :node-16
 {:tpn-type :state,
  :uid :node-16,
  :constraints #{},
  :activities #{:da-15},
  :incidence-set #{:na-17},
  :htn-node :hem-15,
  :end-node :node-14},
 :node-2
 {:tpn-type :c-begin,
  :uid :node-2,
  :constraints #{},
  :activities #{:na-7 :na-12 :na-17},
  :incidence-set #{},
  :end-node :node-1,
  :htn-node :hem-15},
 :node-4
 {:tpn-type :state,
  :uid :node-4,
  :constraints #{},
  :activities #{:na-8},
  :incidence-set #{:da-5}},
 :node-6
 {:tpn-type :state,
  :uid :node-6,
  :constraints #{},
  :activities #{:da-5},
  :incidence-set #{:na-7},
  :htn-node :hem-11,
  :end-node :node-4},
 :node-9
 {:tpn-type :state,
  :uid :node-9,
  :constraints #{},
  :activities #{:na-13},
  :incidence-set #{:da-10}}}
