{:hedge-307 {:type :edge, :uid :hedge-307, :end-node :hem-301},
 :hedge-309 {:type :edge, :uid :hedge-309, :end-node :hem-303},
 :hedge-311 {:type :edge, :uid :hedge-311, :end-node :hem-305},
 :hem-301
 {:uid :hem-301,
  :type :htn-expanded-method,
  :label "Example-0()",
  :display-name "Example-0",
  :network :net-308,
  :incidence-set #{:hedge-307},
  :edges []},
 :hem-303
 {:uid :hem-303,
  :type :htn-expanded-method,
  :label "Example-1()",
  :display-name "Example-1",
  :network :net-310,
  :incidence-set #{:hedge-309},
  :edges []},
 :hem-305
 {:uid :hem-305,
  :type :htn-expanded-method,
  :label "Example-2()",
  :display-name "Example-2",
  :network :net-312,
  :incidence-set #{:hedge-311},
  :edges []},
 :henpt-299
 {:uid :henpt-299,
  :type :htn-expanded-nonprimitive-task,
  :label "choose-time",
  :display-name "choose-time",
  :incidence-set #{},
  :edges [:hedge-307 :hedge-309 :hedge-311]},
 :hpt-300
 {:type :htn-primitive-task,
  :uid :hpt-300,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{},
  :edges [],
  :label "TEMP-delay"},
 :hpt-302
 {:type :htn-primitive-task,
  :uid :hpt-302,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{},
  :edges [],
  :label "TEMP-delay"},
 :hpt-304
 {:type :htn-primitive-task,
  :uid :hpt-304,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{},
  :edges [],
  :label "TEMP-delay"},
 :net-306
 {:type :htn-network,
  :uid :net-306,
  :display-name "choose-time",
  :label "choose-time",
  :rootnodes #{:henpt-299}},
 :net-308
 {:type :htn-network,
  :uid :net-308,
  :display-name "Example-0()",
  :label "Example-0()",
  :rootnodes #{:hpt-300}},
 :net-310
 {:type :htn-network,
  :uid :net-310,
  :display-name "Example-1()",
  :label "Example-1()",
  :rootnodes #{:hpt-302}},
 :net-312
 {:type :htn-network,
  :uid :net-312,
  :display-name "Example-2()",
  :label "Example-2()",
  :rootnodes #{:hpt-304}},
 :network :net-306}
