{:da-12
 {:constraints #{:tc-11},
  :controllable false,
  :end-node :node-10,
  :htn-node :hem-14,
  :name "Delay",
  :tpn-type :delay-activity,
  :uid :da-12},
 :da-18
 {:constraints #{:tc-17},
  :controllable false,
  :end-node :node-16,
  :htn-node :hem-16,
  :name "Delay",
  :tpn-type :delay-activity,
  :uid :da-18},
 :da-6
 {:constraints #{:tc-5},
  :controllable false,
  :end-node :node-4,
  :htn-node :hem-12,
  :name "Delay",
  :tpn-type :delay-activity,
  :uid :da-6},
 :na-14
 {:constraints #{},
  :end-node :node-13,
  :tpn-type :null-activity,
  :uid :na-14},
 :na-15
 {:constraints #{},
  :end-node :node-1,
  :tpn-type :null-activity,
  :uid :na-15},
 :na-20
 {:constraints #{},
  :end-node :node-19,
  :tpn-type :null-activity,
  :uid :na-20},
 :na-21
 {:constraints #{},
  :end-node :node-1,
  :tpn-type :null-activity,
  :uid :na-21},
 :na-8
 {:constraints #{},
  :end-node :node-7,
  :tpn-type :null-activity,
  :uid :na-8},
 :na-9
 {:constraints #{},
  :end-node :node-1,
  :tpn-type :null-activity,
  :uid :na-9},
 :net-3
 {:begin-node :node-2,
  :end-node :node-1,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-1
 {:activities #{},
  :constraints #{},
  :incidence-set #{:na-9 :na-21 :na-15},
  :tpn-type :c-end,
  :uid :node-1},
 :node-10
 {:activities #{:na-15},
  :constraints #{},
  :incidence-set #{:da-12},
  :tpn-type :state,
  :uid :node-10},
 :node-13
 {:activities #{:da-12},
  :constraints #{},
  :htn-node :hem-14,
  :incidence-set #{:na-14},
  :tpn-type :state,
  :uid :node-13},
 :node-16
 {:activities #{:na-21},
  :constraints #{},
  :incidence-set #{:da-18},
  :tpn-type :state,
  :uid :node-16},
 :node-19
 {:activities #{:da-18},
  :constraints #{},
  :htn-node :hem-16,
  :incidence-set #{:na-20},
  :tpn-type :state,
  :uid :node-19},
 :node-2
 {:activities #{:na-20 :na-8 :na-14},
  :constraints #{},
  :end-node :node-1,
  :htn-node :hem-16,
  :incidence-set #{},
  :tpn-type :c-begin,
  :uid :node-2},
 :node-4
 {:activities #{:na-9},
  :constraints #{},
  :incidence-set #{:da-6},
  :tpn-type :state,
  :uid :node-4},
 :node-7
 {:activities #{:da-6},
  :constraints #{},
  :htn-node :hem-12,
  :incidence-set #{:na-8},
  :tpn-type :state,
  :uid :node-7},
 :tc-11
 {:end-node :node-10,
  :tpn-type :temporal-constraint,
  :uid :tc-11,
  :value [101 200]},
 :tc-17
 {:end-node :node-16,
  :tpn-type :temporal-constraint,
  :uid :tc-17,
  :value [201 300]},
 :tc-5
 {:end-node :node-4,
  :tpn-type :temporal-constraint,
  :uid :tc-5,
  :value [1 100]}}
