{:da-239
 {:tpn-type :delay-activity,
  :uid :da-239,
  :constraints #{},
  :end-node :node-238,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-279},
 :da-244
 {:tpn-type :delay-activity,
  :uid :da-244,
  :constraints #{},
  :end-node :node-243,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-281},
 :da-249
 {:tpn-type :delay-activity,
  :uid :da-249,
  :constraints #{},
  :end-node :node-248,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-283},
 :na-241
 {:tpn-type :null-activity,
  :uid :na-241,
  :constraints #{},
  :end-node :node-240},
 :na-242
 {:tpn-type :null-activity,
  :uid :na-242,
  :constraints #{},
  :end-node :node-235},
 :na-246
 {:tpn-type :null-activity,
  :uid :na-246,
  :constraints #{},
  :end-node :node-245},
 :na-247
 {:tpn-type :null-activity,
  :uid :na-247,
  :constraints #{},
  :end-node :node-235},
 :na-251
 {:tpn-type :null-activity,
  :uid :na-251,
  :constraints #{},
  :end-node :node-250},
 :na-252
 {:tpn-type :null-activity,
  :uid :na-252,
  :constraints #{},
  :end-node :node-235},
 :net-237
 {:tpn-type :network,
  :uid :net-237,
  :begin-node :node-236,
  :end-node :node-235},
 :network-id :net-237,
 :node-235
 {:tpn-type :c-end,
  :uid :node-235,
  :constraints #{},
  :activities #{},
  :incidence-set #{:na-252 :na-247 :na-242}},
 :node-236
 {:tpn-type :c-begin,
  :uid :node-236,
  :constraints #{},
  :activities #{:na-241 :na-251 :na-246},
  :incidence-set #{},
  :end-node :node-235,
  :htn-node :hem-283},
 :node-238
 {:tpn-type :state,
  :uid :node-238,
  :constraints #{},
  :activities #{:na-242},
  :incidence-set #{:da-239}},
 :node-240
 {:tpn-type :state,
  :uid :node-240,
  :constraints #{},
  :activities #{:da-239},
  :incidence-set #{:na-241},
  :htn-node :hem-279,
  :end-node :node-238},
 :node-243
 {:tpn-type :state,
  :uid :node-243,
  :constraints #{},
  :activities #{:na-247},
  :incidence-set #{:da-244}},
 :node-245
 {:tpn-type :state,
  :uid :node-245,
  :constraints #{},
  :activities #{:da-244},
  :incidence-set #{:na-246},
  :htn-node :hem-281,
  :end-node :node-243},
 :node-248
 {:tpn-type :state,
  :uid :node-248,
  :constraints #{},
  :activities #{:na-252},
  :incidence-set #{:da-249}},
 :node-250
 {:tpn-type :state,
  :uid :node-250,
  :constraints #{},
  :activities #{:da-249},
  :incidence-set #{:na-251},
  :htn-node :hem-283,
  :end-node :node-248}}
