{:hedge-263 {:type :edge, :uid :hedge-263, :end-node :hem-257},
 :hedge-265 {:type :edge, :uid :hedge-265, :end-node :hem-259},
 :hedge-267 {:type :edge, :uid :hedge-267, :end-node :hem-261},
 :hem-257
 {:uid :hem-257,
  :type :htn-expanded-method,
  :label "Example-0()",
  :display-name "Example-0",
  :network :net-264,
  :incidence-set #{:hedge-263},
  :edges []},
 :hem-259
 {:uid :hem-259,
  :type :htn-expanded-method,
  :label "Example-1()",
  :display-name "Example-1",
  :network :net-266,
  :incidence-set #{:hedge-265},
  :edges []},
 :hem-261
 {:uid :hem-261,
  :type :htn-expanded-method,
  :label "Example-2()",
  :display-name "Example-2",
  :network :net-268,
  :incidence-set #{:hedge-267},
  :edges []},
 :henpt-255
 {:uid :henpt-255,
  :type :htn-expanded-nonprimitive-task,
  :label "choose-probability",
  :display-name "choose-probability",
  :incidence-set #{},
  :edges [:hedge-263 :hedge-265 :hedge-267]},
 :hpt-256
 {:type :htn-primitive-task,
  :uid :hpt-256,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{},
  :edges [],
  :label "TEMP-delay"},
 :hpt-258
 {:type :htn-primitive-task,
  :uid :hpt-258,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{},
  :edges [],
  :label "TEMP-delay"},
 :hpt-260
 {:type :htn-primitive-task,
  :uid :hpt-260,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{},
  :edges [],
  :label "TEMP-delay"},
 :net-262
 {:type :htn-network,
  :uid :net-262,
  :display-name "choose-probability",
  :label "choose-probability",
  :rootnodes #{:henpt-255}},
 :net-264
 {:type :htn-network,
  :uid :net-264,
  :display-name "Example-0()",
  :label "Example-0()",
  :rootnodes #{:hpt-256}},
 :net-266
 {:type :htn-network,
  :uid :net-266,
  :display-name "Example-1()",
  :label "Example-1()",
  :rootnodes #{:hpt-258}},
 :net-268
 {:type :htn-network,
  :uid :net-268,
  :display-name "Example-2()",
  :label "Example-2()",
  :rootnodes #{:hpt-260}},
 :network :net-262}
