{:hedge-17 {:type :edge, :uid :hedge-17, :end-node :hem-11},
 :hedge-19 {:type :edge, :uid :hedge-19, :end-node :hem-13},
 :hedge-21 {:type :edge, :uid :hedge-21, :end-node :hem-15},
 :hem-11
 {:uid :hem-11,
  :type :htn-expanded-method,
  :label "Example-0()",
  :display-name "Example-0",
  :network :net-18,
  :incidence-set #{:hedge-17},
  :edges []},
 :hem-13
 {:uid :hem-13,
  :type :htn-expanded-method,
  :label "Example-1()",
  :display-name "Example-1",
  :network :net-20,
  :incidence-set #{:hedge-19},
  :edges []},
 :hem-15
 {:uid :hem-15,
  :type :htn-expanded-method,
  :label "Example-2()",
  :display-name "Example-2",
  :network :net-22,
  :incidence-set #{:hedge-21},
  :edges []},
 :henpt-9
 {:uid :henpt-9,
  :type :htn-expanded-nonprimitive-task,
  :label "choose-reward",
  :display-name "choose-reward",
  :incidence-set #{},
  :edges [:hedge-17 :hedge-19 :hedge-21]},
 :hpt-10
 {:type :htn-primitive-task,
  :uid :hpt-10,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{},
  :edges [],
  :label "TEMP-delay"},
 :hpt-12
 {:type :htn-primitive-task,
  :uid :hpt-12,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{},
  :edges [],
  :label "TEMP-delay"},
 :hpt-14
 {:type :htn-primitive-task,
  :uid :hpt-14,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{},
  :edges [],
  :label "TEMP-delay"},
 :net-16
 {:type :htn-network,
  :uid :net-16,
  :display-name "choose-reward",
  :label "choose-reward",
  :rootnodes #{:henpt-9}},
 :net-18 {:type :htn-network, :uid :net-18, :rootnodes #{:hpt-10}},
 :net-20 {:type :htn-network, :uid :net-20, :rootnodes #{:hpt-12}},
 :net-22 {:type :htn-network, :uid :net-22, :rootnodes #{:hpt-14}},
 :network :net-16}
