{:act-102
 {:args ["B"],
  :constraints #{:tc-100},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-102,
  :name "Evidence(\"B\")",
  :tpn-type :activity,
  :argsmap {"location" "B"},
  :command "evidence",
  :htn-node :hem-80,
  :controllable false,
  :end-node :node-97,
  :label "TEMP-evidence",
  :display-name "Evidence",
  :plant-part "isr1"},
 :act-116
 {:args ["B"],
  :constraints #{:tc-115},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-116,
  :name "Interpret 1(\"B\")",
  :tpn-type :activity,
  :argsmap {"location" "B"},
  :command "interpret1",
  :htn-node :hem-83,
  :controllable false,
  :end-node :node-106,
  :label "TEMP-interpret1",
  :display-name "Interpret 1",
  :plant-part "isr1"},
 :act-126
 {:args ["B"],
  :constraints #{:tc-125},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-126,
  :name "Interpret 2(\"B\")",
  :tpn-type :activity,
  :argsmap {"location" "B"},
  :command "interpret2",
  :htn-node :hem-86,
  :controllable false,
  :end-node :node-120,
  :label "TEMP-interpret2",
  :display-name "Interpret 2",
  :plant-part "isr1"},
 :act-136
 {:args ["B"],
  :constraints #{:tc-135},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-136,
  :name "Interpret 3(\"B\")",
  :tpn-type :activity,
  :argsmap {"location" "B"},
  :command "interpret3",
  :htn-node :hem-89,
  :controllable false,
  :end-node :node-130,
  :label "TEMP-interpret3",
  :display-name "Interpret 3",
  :plant-part "isr1"},
 :act-14
 {:args ["A"],
  :constraints #{:tc-13},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-14,
  :name "Capture(\"A\")",
  :tpn-type :activity,
  :argsmap {"location" "A"},
  :command "capture",
  :htn-node :hem-45,
  :controllable false,
  :end-node :node-19,
  :label "TEMP-capture",
  :display-name "Capture",
  :plant-part "isr1"},
 :act-147
 {:args ["C"],
  :constraints #{:tc-146},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-147,
  :name "Go To(\"C\")",
  :tpn-type :activity,
  :argsmap {"location" "C"},
  :command "go-to",
  :htn-node :hem-93,
  :controllable false,
  :end-node :node-153,
  :label "TEMP-go-to",
  :display-name "Go To",
  :plant-part "isr1"},
 :act-152
 {:args ["C"],
  :constraints #{:tc-151},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-152,
  :name "Capture(\"C\")",
  :tpn-type :activity,
  :argsmap {"location" "C"},
  :command "capture",
  :htn-node :hem-93,
  :controllable false,
  :end-node :node-140,
  :label "TEMP-capture",
  :display-name "Capture",
  :plant-part "isr1"},
 :act-171
 {:args ["C"],
  :constraints #{:tc-169},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-171,
  :name "Evidence(\"C\")",
  :tpn-type :activity,
  :argsmap {"location" "C"},
  :command "evidence",
  :htn-node :hem-104,
  :controllable false,
  :end-node :node-166,
  :label "TEMP-evidence",
  :display-name "Evidence",
  :plant-part "isr1"},
 :act-185
 {:args ["C"],
  :constraints #{:tc-184},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-185,
  :name "Interpret 1(\"C\")",
  :tpn-type :activity,
  :argsmap {"location" "C"},
  :command "interpret1",
  :htn-node :hem-107,
  :controllable false,
  :end-node :node-175,
  :label "TEMP-interpret1",
  :display-name "Interpret 1",
  :plant-part "isr1"},
 :act-195
 {:args ["C"],
  :constraints #{:tc-194},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-195,
  :name "Interpret 2(\"C\")",
  :tpn-type :activity,
  :argsmap {"location" "C"},
  :command "interpret2",
  :htn-node :hem-110,
  :controllable false,
  :end-node :node-189,
  :label "TEMP-interpret2",
  :display-name "Interpret 2",
  :plant-part "isr1"},
 :act-205
 {:args ["C"],
  :constraints #{:tc-204},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-205,
  :name "Interpret 3(\"C\")",
  :tpn-type :activity,
  :argsmap {"location" "C"},
  :command "interpret3",
  :htn-node :hem-113,
  :controllable false,
  :end-node :node-199,
  :label "TEMP-interpret3",
  :display-name "Interpret 3",
  :plant-part "isr1"},
 :act-216
 {:args ["D"],
  :constraints #{:tc-215},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-216,
  :name "Go To(\"D\")",
  :tpn-type :activity,
  :argsmap {"location" "D"},
  :command "go-to",
  :htn-node :hem-117,
  :controllable false,
  :end-node :node-222,
  :label "TEMP-go-to",
  :display-name "Go To",
  :plant-part "isr1"},
 :act-221
 {:args ["D"],
  :constraints #{:tc-220},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-221,
  :name "Capture(\"D\")",
  :tpn-type :activity,
  :argsmap {"location" "D"},
  :command "capture",
  :htn-node :hem-117,
  :controllable false,
  :end-node :node-209,
  :label "TEMP-capture",
  :display-name "Capture",
  :plant-part "isr1"},
 :act-234
 {:args ["D"],
  :constraints #{:tc-232},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-234,
  :name "Evidence(\"D\")",
  :tpn-type :activity,
  :argsmap {"location" "D"},
  :command "evidence",
  :htn-node :hem-125,
  :controllable false,
  :end-node :node-229,
  :label "TEMP-evidence",
  :display-name "Evidence",
  :plant-part "isr1"},
 :act-248
 {:args ["D"],
  :constraints #{:tc-247},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-248,
  :name "Interpret 1(\"D\")",
  :tpn-type :activity,
  :argsmap {"location" "D"},
  :command "interpret1",
  :htn-node :hem-128,
  :controllable false,
  :end-node :node-238,
  :label "TEMP-interpret1",
  :display-name "Interpret 1",
  :plant-part "isr1"},
 :act-258
 {:args ["D"],
  :constraints #{:tc-257},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-258,
  :name "Interpret 2(\"D\")",
  :tpn-type :activity,
  :argsmap {"location" "D"},
  :command "interpret2",
  :htn-node :hem-131,
  :controllable false,
  :end-node :node-252,
  :label "TEMP-interpret2",
  :display-name "Interpret 2",
  :plant-part "isr1"},
 :act-268
 {:args ["D"],
  :constraints #{:tc-267},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-268,
  :name "Interpret 3(\"D\")",
  :tpn-type :activity,
  :argsmap {"location" "D"},
  :command "interpret3",
  :htn-node :hem-134,
  :controllable false,
  :end-node :node-262,
  :label "TEMP-interpret3",
  :display-name "Interpret 3",
  :plant-part "isr1"},
 :act-33
 {:args ["A"],
  :constraints #{:tc-31},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-33,
  :name "Evidence(\"A\")",
  :tpn-type :activity,
  :argsmap {"location" "A"},
  :command "evidence",
  :htn-node :hem-56,
  :controllable false,
  :end-node :node-28,
  :label "TEMP-evidence",
  :display-name "Evidence",
  :plant-part "isr1"},
 :act-47
 {:args ["A"],
  :constraints #{:tc-46},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-47,
  :name "Interpret 1(\"A\")",
  :tpn-type :activity,
  :argsmap {"location" "A"},
  :command "interpret1",
  :htn-node :hem-59,
  :controllable false,
  :end-node :node-37,
  :label "TEMP-interpret1",
  :display-name "Interpret 1",
  :plant-part "isr1"},
 :act-57
 {:args ["A"],
  :constraints #{:tc-56},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-57,
  :name "Interpret 2(\"A\")",
  :tpn-type :activity,
  :argsmap {"location" "A"},
  :command "interpret2",
  :htn-node :hem-62,
  :controllable false,
  :end-node :node-51,
  :label "TEMP-interpret2",
  :display-name "Interpret 2",
  :plant-part "isr1"},
 :act-67
 {:args ["A"],
  :constraints #{:tc-66},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-67,
  :name "Interpret 3(\"A\")",
  :tpn-type :activity,
  :argsmap {"location" "A"},
  :command "interpret3",
  :htn-node :hem-65,
  :controllable false,
  :end-node :node-61,
  :label "TEMP-interpret3",
  :display-name "Interpret 3",
  :plant-part "isr1"},
 :act-78
 {:args ["B"],
  :constraints #{:tc-77},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-78,
  :name "Go To(\"B\")",
  :tpn-type :activity,
  :argsmap {"location" "B"},
  :command "go-to",
  :htn-node :hem-69,
  :controllable false,
  :end-node :node-84,
  :label "TEMP-go-to",
  :display-name "Go To",
  :plant-part "isr1"},
 :act-83
 {:args ["B"],
  :constraints #{:tc-82},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-83,
  :name "Capture(\"B\")",
  :tpn-type :activity,
  :argsmap {"location" "B"},
  :command "capture",
  :htn-node :hem-69,
  :controllable false,
  :end-node :node-71,
  :label "TEMP-capture",
  :display-name "Capture",
  :plant-part "isr1"},
 :act-9
 {:args ["A"],
  :constraints #{:tc-8},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-9,
  :name "Go To(\"A\")",
  :tpn-type :activity,
  :argsmap {"location" "A"},
  :command "go-to",
  :htn-node :hem-45,
  :controllable false,
  :end-node :node-15,
  :label "TEMP-go-to",
  :display-name "Go To",
  :plant-part "isr1"},
 :na-104
 {:tpn-type :null-activity,
  :uid :na-104,
  :constraints #{},
  :end-node :node-103},
 :na-111
 {:tpn-type :null-activity,
  :uid :na-111,
  :constraints #{},
  :end-node :node-109},
 :na-113
 {:tpn-type :null-activity,
  :uid :na-113,
  :constraints #{},
  :end-node :node-108},
 :na-118
 {:tpn-type :null-activity,
  :uid :na-118,
  :constraints #{},
  :end-node :node-117},
 :na-123
 {:tpn-type :null-activity,
  :uid :na-123,
  :constraints #{},
  :end-node :node-108},
 :na-128
 {:tpn-type :null-activity,
  :uid :na-128,
  :constraints #{},
  :end-node :node-127},
 :na-133
 {:tpn-type :null-activity,
  :uid :na-133,
  :constraints #{},
  :end-node :node-108},
 :na-138
 {:tpn-type :null-activity,
  :uid :na-138,
  :constraints #{},
  :end-node :node-137},
 :na-144
 {:tpn-type :null-activity,
  :uid :na-144,
  :constraints #{},
  :end-node :node-92},
 :na-149
 {:tpn-type :null-activity,
  :uid :na-149,
  :constraints #{},
  :end-node :node-148},
 :na-163
 {:tpn-type :null-activity,
  :uid :na-163,
  :constraints #{},
  :end-node :node-162},
 :na-165
 {:tpn-type :null-activity,
  :uid :na-165,
  :constraints #{},
  :end-node :node-161},
 :na-173
 {:tpn-type :null-activity,
  :uid :na-173,
  :constraints #{},
  :end-node :node-172},
 :na-180
 {:tpn-type :null-activity,
  :uid :na-180,
  :constraints #{},
  :end-node :node-178},
 :na-182
 {:tpn-type :null-activity,
  :uid :na-182,
  :constraints #{},
  :end-node :node-177},
 :na-187
 {:tpn-type :null-activity,
  :uid :na-187,
  :constraints #{},
  :end-node :node-186},
 :na-192
 {:tpn-type :null-activity,
  :uid :na-192,
  :constraints #{},
  :end-node :node-177},
 :na-197
 {:tpn-type :null-activity,
  :uid :na-197,
  :constraints #{},
  :end-node :node-196},
 :na-202
 {:tpn-type :null-activity,
  :uid :na-202,
  :constraints #{},
  :end-node :node-177},
 :na-207
 {:tpn-type :null-activity,
  :uid :na-207,
  :constraints #{},
  :end-node :node-206},
 :na-213
 {:tpn-type :null-activity,
  :uid :na-213,
  :constraints #{},
  :end-node :node-161},
 :na-218
 {:tpn-type :null-activity,
  :uid :na-218,
  :constraints #{},
  :end-node :node-217},
 :na-236
 {:tpn-type :null-activity,
  :uid :na-236,
  :constraints #{},
  :end-node :node-235},
 :na-243
 {:tpn-type :null-activity,
  :uid :na-243,
  :constraints #{},
  :end-node :node-241},
 :na-245
 {:tpn-type :null-activity,
  :uid :na-245,
  :constraints #{},
  :end-node :node-240},
 :na-25
 {:tpn-type :null-activity,
  :uid :na-25,
  :constraints #{},
  :end-node :node-24},
 :na-250
 {:tpn-type :null-activity,
  :uid :na-250,
  :constraints #{},
  :end-node :node-249},
 :na-255
 {:tpn-type :null-activity,
  :uid :na-255,
  :constraints #{},
  :end-node :node-240},
 :na-260
 {:tpn-type :null-activity,
  :uid :na-260,
  :constraints #{},
  :end-node :node-259},
 :na-265
 {:tpn-type :null-activity,
  :uid :na-265,
  :constraints #{},
  :end-node :node-240},
 :na-27
 {:tpn-type :null-activity,
  :uid :na-27,
  :constraints #{},
  :end-node :node-23},
 :na-270
 {:tpn-type :null-activity,
  :uid :na-270,
  :constraints #{},
  :end-node :node-269},
 :na-35
 {:tpn-type :null-activity,
  :uid :na-35,
  :constraints #{},
  :end-node :node-34},
 :na-42
 {:tpn-type :null-activity,
  :uid :na-42,
  :constraints #{},
  :end-node :node-40},
 :na-44
 {:tpn-type :null-activity,
  :uid :na-44,
  :constraints #{},
  :end-node :node-39},
 :na-49
 {:tpn-type :null-activity,
  :uid :na-49,
  :constraints #{},
  :end-node :node-48},
 :na-54
 {:tpn-type :null-activity,
  :uid :na-54,
  :constraints #{},
  :end-node :node-39},
 :na-59
 {:tpn-type :null-activity,
  :uid :na-59,
  :constraints #{},
  :end-node :node-58},
 :na-64
 {:tpn-type :null-activity,
  :uid :na-64,
  :constraints #{},
  :end-node :node-39},
 :na-69
 {:tpn-type :null-activity,
  :uid :na-69,
  :constraints #{},
  :end-node :node-68},
 :na-75
 {:tpn-type :null-activity,
  :uid :na-75,
  :constraints #{},
  :end-node :node-23},
 :na-80
 {:tpn-type :null-activity,
  :uid :na-80,
  :constraints #{},
  :end-node :node-79},
 :na-94
 {:tpn-type :null-activity,
  :uid :na-94,
  :constraints #{},
  :end-node :node-93},
 :na-96
 {:tpn-type :null-activity,
  :uid :na-96,
  :constraints #{},
  :end-node :node-92},
 :net-3
 {:tpn-type :network,
  :uid :net-3,
  :begin-node :node-10,
  :end-node :node-240},
 :network-id :net-3,
 :node-10
 {:tpn-type :state,
  :uid :node-10,
  :constraints #{},
  :activities #{:act-9},
  :incidence-set #{},
  :htn-node :hem-40,
  :end-node :node-15},
 :node-103
 {:tpn-type :state,
  :uid :node-103,
  :constraints #{},
  :activities #{:act-102},
  :incidence-set #{:na-104},
  :htn-node :hem-76,
  :end-node :node-97},
 :node-106
 {:tpn-type :state,
  :uid :node-106,
  :constraints #{},
  :activities #{:na-113},
  :incidence-set #{:act-116}},
 :node-108
 {:tpn-type :c-end,
  :uid :node-108,
  :constraints #{},
  :activities #{:na-96},
  :incidence-set #{:na-123 :na-113 :na-133}},
 :node-109
 {:tpn-type :c-begin,
  :uid :node-109,
  :constraints #{},
  :activities #{:na-128 :na-138 :na-118},
  :incidence-set #{:na-111},
  :htn-node :hem-76,
  :end-node :node-108},
 :node-117
 {:tpn-type :state,
  :uid :node-117,
  :constraints #{},
  :activities #{:act-116},
  :incidence-set #{:na-118},
  :htn-node :hem-83,
  :end-node :node-106},
 :node-120
 {:tpn-type :state,
  :uid :node-120,
  :constraints #{},
  :activities #{:na-123},
  :incidence-set #{:act-126}},
 :node-127
 {:tpn-type :state,
  :uid :node-127,
  :constraints #{},
  :activities #{:act-126},
  :incidence-set #{:na-128},
  :htn-node :hem-86,
  :end-node :node-120},
 :node-130
 {:tpn-type :state,
  :uid :node-130,
  :constraints #{},
  :activities #{:na-133},
  :incidence-set #{:act-136}},
 :node-137
 {:tpn-type :state,
  :uid :node-137,
  :constraints #{},
  :activities #{:act-136},
  :incidence-set #{:na-138},
  :htn-node :hem-89,
  :end-node :node-130},
 :node-140
 {:tpn-type :state,
  :uid :node-140,
  :constraints #{},
  :activities #{:na-144},
  :incidence-set #{:act-152}},
 :node-148
 {:tpn-type :state,
  :uid :node-148,
  :constraints #{},
  :activities #{:act-147},
  :incidence-set #{:na-149},
  :htn-node :hem-93,
  :end-node :node-153},
 :node-15
 {:tpn-type :state,
  :uid :node-15,
  :constraints #{},
  :activities #{:act-14},
  :incidence-set #{:act-9},
  :htn-node :hem-45,
  :end-node :node-19},
 :node-153
 {:tpn-type :state,
  :uid :node-153,
  :constraints #{},
  :activities #{:act-152},
  :incidence-set #{:act-147},
  :htn-node :hem-93,
  :end-node :node-140},
 :node-161
 {:tpn-type :p-end,
  :uid :node-161,
  :constraints #{},
  :activities #{:na-236},
  :incidence-set #{:na-213 :na-165}},
 :node-162
 {:tpn-type :p-begin,
  :uid :node-162,
  :constraints #{},
  :activities #{:na-173 :na-218},
  :incidence-set #{:na-163},
  :htn-node :hem-97,
  :end-node :node-161},
 :node-166
 {:tpn-type :state,
  :uid :node-166,
  :constraints #{},
  :activities #{:na-180},
  :incidence-set #{:act-171}},
 :node-172
 {:tpn-type :state,
  :uid :node-172,
  :constraints #{},
  :activities #{:act-171},
  :incidence-set #{:na-173},
  :htn-node :hem-100,
  :end-node :node-166},
 :node-175
 {:tpn-type :state,
  :uid :node-175,
  :constraints #{},
  :activities #{:na-182},
  :incidence-set #{:act-185}},
 :node-177
 {:tpn-type :c-end,
  :uid :node-177,
  :constraints #{},
  :activities #{:na-165},
  :incidence-set #{:na-192 :na-202 :na-182}},
 :node-178
 {:tpn-type :c-begin,
  :uid :node-178,
  :constraints #{},
  :activities #{:na-197 :na-207 :na-187},
  :incidence-set #{:na-180},
  :htn-node :hem-100,
  :end-node :node-177},
 :node-186
 {:tpn-type :state,
  :uid :node-186,
  :constraints #{},
  :activities #{:act-185},
  :incidence-set #{:na-187},
  :htn-node :hem-107,
  :end-node :node-175},
 :node-189
 {:tpn-type :state,
  :uid :node-189,
  :constraints #{},
  :activities #{:na-192},
  :incidence-set #{:act-195}},
 :node-19
 {:tpn-type :state,
  :uid :node-19,
  :constraints #{},
  :activities #{:na-25},
  :incidence-set #{:act-14},
  :end-node :node-18},
 :node-196
 {:tpn-type :state,
  :uid :node-196,
  :constraints #{},
  :activities #{:act-195},
  :incidence-set #{:na-197},
  :htn-node :hem-110,
  :end-node :node-189},
 :node-199
 {:tpn-type :state,
  :uid :node-199,
  :constraints #{},
  :activities #{:na-202},
  :incidence-set #{:act-205}},
 :node-206
 {:tpn-type :state,
  :uid :node-206,
  :constraints #{},
  :activities #{:act-205},
  :incidence-set #{:na-207},
  :htn-node :hem-113,
  :end-node :node-199},
 :node-209
 {:tpn-type :state,
  :uid :node-209,
  :constraints #{},
  :activities #{:na-213},
  :incidence-set #{:act-221}},
 :node-217
 {:tpn-type :state,
  :uid :node-217,
  :constraints #{},
  :activities #{:act-216},
  :incidence-set #{:na-218},
  :htn-node :hem-117,
  :end-node :node-222},
 :node-222
 {:tpn-type :state,
  :uid :node-222,
  :constraints #{},
  :activities #{:act-221},
  :incidence-set #{:act-216},
  :htn-node :hem-117,
  :end-node :node-209},
 :node-229
 {:tpn-type :state,
  :uid :node-229,
  :constraints #{},
  :activities #{:na-243},
  :incidence-set #{:act-234}},
 :node-23
 {:tpn-type :p-end,
  :uid :node-23,
  :constraints #{},
  :activities #{:na-94},
  :incidence-set #{:na-27 :na-75}},
 :node-235
 {:tpn-type :state,
  :uid :node-235,
  :constraints #{},
  :activities #{:act-234},
  :incidence-set #{:na-236},
  :htn-node :hem-121,
  :end-node :node-229},
 :node-238
 {:tpn-type :state,
  :uid :node-238,
  :constraints #{},
  :activities #{:na-245},
  :incidence-set #{:act-248}},
 :node-24
 {:tpn-type :p-begin,
  :uid :node-24,
  :constraints #{},
  :activities #{:na-35 :na-80},
  :incidence-set #{:na-25},
  :htn-node :hem-49,
  :end-node :node-23},
 :node-240
 {:tpn-type :c-end,
  :uid :node-240,
  :constraints #{},
  :activities #{},
  :incidence-set #{:na-255 :na-265 :na-245}},
 :node-241
 {:tpn-type :c-begin,
  :uid :node-241,
  :constraints #{},
  :activities #{:na-270 :na-260 :na-250},
  :incidence-set #{:na-243},
  :htn-node :hem-121,
  :end-node :node-240},
 :node-249
 {:tpn-type :state,
  :uid :node-249,
  :constraints #{},
  :activities #{:act-248},
  :incidence-set #{:na-250},
  :htn-node :hem-128,
  :end-node :node-238},
 :node-252
 {:tpn-type :state,
  :uid :node-252,
  :constraints #{},
  :activities #{:na-255},
  :incidence-set #{:act-258}},
 :node-259
 {:tpn-type :state,
  :uid :node-259,
  :constraints #{},
  :activities #{:act-258},
  :incidence-set #{:na-260},
  :htn-node :hem-131,
  :end-node :node-252},
 :node-262
 {:tpn-type :state,
  :uid :node-262,
  :constraints #{},
  :activities #{:na-265},
  :incidence-set #{:act-268}},
 :node-269
 {:tpn-type :state,
  :uid :node-269,
  :constraints #{},
  :activities #{:act-268},
  :incidence-set #{:na-270},
  :htn-node :hem-134,
  :end-node :node-262},
 :node-28
 {:tpn-type :state,
  :uid :node-28,
  :constraints #{},
  :activities #{:na-42},
  :incidence-set #{:act-33}},
 :node-34
 {:tpn-type :state,
  :uid :node-34,
  :constraints #{},
  :activities #{:act-33},
  :incidence-set #{:na-35},
  :htn-node :hem-52,
  :end-node :node-28},
 :node-37
 {:tpn-type :state,
  :uid :node-37,
  :constraints #{},
  :activities #{:na-44},
  :incidence-set #{:act-47}},
 :node-39
 {:tpn-type :c-end,
  :uid :node-39,
  :constraints #{},
  :activities #{:na-27},
  :incidence-set #{:na-54 :na-44 :na-64}},
 :node-40
 {:tpn-type :c-begin,
  :uid :node-40,
  :constraints #{},
  :activities #{:na-69 :na-59 :na-49},
  :incidence-set #{:na-42},
  :htn-node :hem-52,
  :end-node :node-39},
 :node-48
 {:tpn-type :state,
  :uid :node-48,
  :constraints #{},
  :activities #{:act-47},
  :incidence-set #{:na-49},
  :htn-node :hem-59,
  :end-node :node-37},
 :node-51
 {:tpn-type :state,
  :uid :node-51,
  :constraints #{},
  :activities #{:na-54},
  :incidence-set #{:act-57}},
 :node-58
 {:tpn-type :state,
  :uid :node-58,
  :constraints #{},
  :activities #{:act-57},
  :incidence-set #{:na-59},
  :htn-node :hem-62,
  :end-node :node-51},
 :node-61
 {:tpn-type :state,
  :uid :node-61,
  :constraints #{},
  :activities #{:na-64},
  :incidence-set #{:act-67}},
 :node-68
 {:tpn-type :state,
  :uid :node-68,
  :constraints #{},
  :activities #{:act-67},
  :incidence-set #{:na-69},
  :htn-node :hem-65,
  :end-node :node-61},
 :node-71
 {:tpn-type :state,
  :uid :node-71,
  :constraints #{},
  :activities #{:na-75},
  :incidence-set #{:act-83}},
 :node-79
 {:tpn-type :state,
  :uid :node-79,
  :constraints #{},
  :activities #{:act-78},
  :incidence-set #{:na-80},
  :htn-node :hem-69,
  :end-node :node-84},
 :node-84
 {:tpn-type :state,
  :uid :node-84,
  :constraints #{},
  :activities #{:act-83},
  :incidence-set #{:act-78},
  :htn-node :hem-69,
  :end-node :node-71},
 :node-92
 {:tpn-type :p-end,
  :uid :node-92,
  :constraints #{},
  :activities #{:na-163},
  :incidence-set #{:na-96 :na-144}},
 :node-93
 {:tpn-type :p-begin,
  :uid :node-93,
  :constraints #{},
  :activities #{:na-104 :na-149},
  :incidence-set #{:na-94},
  :htn-node :hem-73,
  :end-node :node-92},
 :node-97
 {:tpn-type :state,
  :uid :node-97,
  :constraints #{},
  :activities #{:na-111},
  :incidence-set #{:act-102}},
 :tc-100
 {:tpn-type :temporal-constraint,
  :uid :tc-100,
  :value [15 25],
  :end-node :node-97},
 :tc-115
 {:tpn-type :temporal-constraint,
  :uid :tc-115,
  :value [15 25],
  :end-node :node-106},
 :tc-125
 {:tpn-type :temporal-constraint,
  :uid :tc-125,
  :value [15 25],
  :end-node :node-120},
 :tc-13
 {:tpn-type :temporal-constraint,
  :uid :tc-13,
  :value [5 10],
  :end-node :node-19},
 :tc-135
 {:tpn-type :temporal-constraint,
  :uid :tc-135,
  :value [15 25],
  :end-node :node-130},
 :tc-146
 {:tpn-type :temporal-constraint,
  :uid :tc-146,
  :value [20 30],
  :end-node :node-153},
 :tc-151
 {:tpn-type :temporal-constraint,
  :uid :tc-151,
  :value [5 10],
  :end-node :node-140},
 :tc-169
 {:tpn-type :temporal-constraint,
  :uid :tc-169,
  :value [15 25],
  :end-node :node-166},
 :tc-184
 {:tpn-type :temporal-constraint,
  :uid :tc-184,
  :value [15 25],
  :end-node :node-175},
 :tc-194
 {:tpn-type :temporal-constraint,
  :uid :tc-194,
  :value [15 25],
  :end-node :node-189},
 :tc-204
 {:tpn-type :temporal-constraint,
  :uid :tc-204,
  :value [15 25],
  :end-node :node-199},
 :tc-215
 {:tpn-type :temporal-constraint,
  :uid :tc-215,
  :value [20 30],
  :end-node :node-222},
 :tc-220
 {:tpn-type :temporal-constraint,
  :uid :tc-220,
  :value [5 10],
  :end-node :node-209},
 :tc-232
 {:tpn-type :temporal-constraint,
  :uid :tc-232,
  :value [15 25],
  :end-node :node-229},
 :tc-247
 {:tpn-type :temporal-constraint,
  :uid :tc-247,
  :value [15 25],
  :end-node :node-238},
 :tc-257
 {:tpn-type :temporal-constraint,
  :uid :tc-257,
  :value [15 25],
  :end-node :node-252},
 :tc-267
 {:tpn-type :temporal-constraint,
  :uid :tc-267,
  :value [15 25],
  :end-node :node-262},
 :tc-31
 {:tpn-type :temporal-constraint,
  :uid :tc-31,
  :value [15 25],
  :end-node :node-28},
 :tc-46
 {:tpn-type :temporal-constraint,
  :uid :tc-46,
  :value [15 25],
  :end-node :node-37},
 :tc-56
 {:tpn-type :temporal-constraint,
  :uid :tc-56,
  :value [15 25],
  :end-node :node-51},
 :tc-66
 {:tpn-type :temporal-constraint,
  :uid :tc-66,
  :value [15 25],
  :end-node :node-61},
 :tc-77
 {:tpn-type :temporal-constraint,
  :uid :tc-77,
  :value [20 30],
  :end-node :node-84},
 :tc-8
 {:tpn-type :temporal-constraint,
  :uid :tc-8,
  :value [20 30],
  :end-node :node-15},
 :tc-82
 {:tpn-type :temporal-constraint,
  :uid :tc-82,
  :value [5 10],
  :end-node :node-71}}
