{:hedge-116 {:end-node :hem-40, :type :edge, :uid :hedge-116},
 :hedge-118
 {:display-name "1", :end-node :hem-44, :type :edge, :uid :hedge-118},
 :hedge-120 {:end-node :hpt-43, :type :edge, :uid :hedge-120},
 :hedge-121 {:end-node :henpt-36, :type :edge, :uid :hedge-121},
 :hedge-122
 {:display-name "2", :end-node :hem-48, :type :edge, :uid :hedge-122},
 :hedge-124 {:end-node :hem-51, :type :edge, :uid :hedge-124},
 :hedge-126
 {:display-name "1", :end-node :hem-54, :type :edge, :uid :hedge-126},
 :hedge-128 {:end-node :henpt-50, :type :edge, :uid :hedge-128},
 :hedge-129
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-56,
  :type :edge,
  :uid :hedge-129},
 :hedge-131
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-58,
  :type :edge,
  :uid :hedge-131},
 :hedge-133
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-60,
  :type :edge,
  :uid :hedge-133},
 :hedge-135 {:end-node :hem-63, :type :edge, :uid :hedge-135},
 :hedge-137 {:end-node :hpt-62, :type :edge, :uid :hedge-137},
 :hedge-138 {:end-node :henpt-37, :type :edge, :uid :hedge-138},
 :hedge-139
 {:display-name "3", :end-node :hem-67, :type :edge, :uid :hedge-139},
 :hedge-141 {:end-node :hem-70, :type :edge, :uid :hedge-141},
 :hedge-143
 {:display-name "1", :end-node :hem-73, :type :edge, :uid :hedge-143},
 :hedge-145 {:end-node :henpt-69, :type :edge, :uid :hedge-145},
 :hedge-146
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-75,
  :type :edge,
  :uid :hedge-146},
 :hedge-148
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-77,
  :type :edge,
  :uid :hedge-148},
 :hedge-150
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-79,
  :type :edge,
  :uid :hedge-150},
 :hedge-152 {:end-node :hem-82, :type :edge, :uid :hedge-152},
 :hedge-154 {:end-node :hpt-81, :type :edge, :uid :hedge-154},
 :hedge-155 {:end-node :henpt-38, :type :edge, :uid :hedge-155},
 :hedge-156
 {:display-name "4", :end-node :hem-86, :type :edge, :uid :hedge-156},
 :hedge-158 {:end-node :hem-89, :type :edge, :uid :hedge-158},
 :hedge-160
 {:display-name "1", :end-node :hem-92, :type :edge, :uid :hedge-160},
 :hedge-162 {:end-node :henpt-88, :type :edge, :uid :hedge-162},
 :hedge-163
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-94,
  :type :edge,
  :uid :hedge-163},
 :hedge-165
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-96,
  :type :edge,
  :uid :hedge-165},
 :hedge-167
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-98,
  :type :edge,
  :uid :hedge-167},
 :hedge-169 {:end-node :hem-101, :type :edge, :uid :hedge-169},
 :hedge-171 {:end-node :hpt-100, :type :edge, :uid :hedge-171},
 :hedge-172 {:end-node :henpt-39, :type :edge, :uid :hedge-172},
 :hedge-173
 {:display-name "5", :end-node :hem-105, :type :edge, :uid :hedge-173},
 :hedge-175
 {:display-name "1", :end-node :hem-108, :type :edge, :uid :hedge-175},
 :hedge-177 {:end-node :henpt-104, :type :edge, :uid :hedge-177},
 :hedge-178
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-110,
  :type :edge,
  :uid :hedge-178},
 :hedge-180
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-112,
  :type :edge,
  :uid :hedge-180},
 :hedge-182
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-114,
  :type :edge,
  :uid :hedge-182},
 :hem-101
 {:args ["D"],
  :display-args ["D"],
  :display-name "Get Data At",
  :edges [],
  :incidence-set #{},
  :network :net-170,
  :type :htn-expanded-method,
  :uid :hem-101},
 :hem-105
 {:args ["D"],
  :display-args ["D"],
  :display-name "Evidence And Interpret",
  :edges [:hedge-175 :hedge-178 :hedge-180 :hedge-182],
  :incidence-set #{},
  :network :net-174,
  :type :htn-expanded-method,
  :uid :hem-105},
 :hem-108
 {:args ["D"],
  :display-args ["D"],
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :network :net-176,
  :type :htn-expanded-method,
  :uid :hem-108},
 :hem-110
 {:args ["D"],
  :display-args ["D"],
  :display-name "Interpret-0",
  :edges [],
  :incidence-set #{},
  :network :net-179,
  :type :htn-expanded-method,
  :uid :hem-110},
 :hem-112
 {:args ["D"],
  :display-args ["D"],
  :display-name "Interpret-1",
  :edges [],
  :incidence-set #{},
  :network :net-181,
  :type :htn-expanded-method,
  :uid :hem-112},
 :hem-114
 {:args ["D"],
  :display-args ["D"],
  :display-name "Interpret-2",
  :edges [],
  :incidence-set #{},
  :network :net-183,
  :type :htn-expanded-method,
  :uid :hem-114},
 :hem-40
 {:args ["A" "B" "C" "D"],
  :display-args ["A" "B" "C" "D"],
  :display-name "Main",
  :edges [:hedge-118 :hedge-122 :hedge-139 :hedge-156 :hedge-173],
  :incidence-set #{:hedge-116},
  :network :net-117,
  :type :htn-expanded-method,
  :uid :hem-40},
 :hem-44
 {:args ["A"],
  :display-args ["A"],
  :display-name "Get Data At",
  :edges [],
  :incidence-set #{},
  :network :net-119,
  :type :htn-expanded-method,
  :uid :hem-44},
 :hem-48
 {:args ["A" "B"],
  :display-args ["A" "B"],
  :display-name "Get Data And Interpret",
  :edges [:hedge-124 :hedge-135],
  :incidence-set #{},
  :network :net-123,
  :type :htn-expanded-method,
  :uid :hem-48},
 :hem-51
 {:args ["A"],
  :display-args ["A"],
  :display-name "Evidence And Interpret",
  :edges [:hedge-126 :hedge-129 :hedge-131 :hedge-133],
  :incidence-set #{},
  :network :net-125,
  :type :htn-expanded-method,
  :uid :hem-51},
 :hem-54
 {:args ["A"],
  :display-args ["A"],
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :network :net-127,
  :type :htn-expanded-method,
  :uid :hem-54},
 :hem-56
 {:args ["A"],
  :display-args ["A"],
  :display-name "Interpret-0",
  :edges [],
  :incidence-set #{},
  :network :net-130,
  :type :htn-expanded-method,
  :uid :hem-56},
 :hem-58
 {:args ["A"],
  :display-args ["A"],
  :display-name "Interpret-1",
  :edges [],
  :incidence-set #{},
  :network :net-132,
  :type :htn-expanded-method,
  :uid :hem-58},
 :hem-60
 {:args ["A"],
  :display-args ["A"],
  :display-name "Interpret-2",
  :edges [],
  :incidence-set #{},
  :network :net-134,
  :type :htn-expanded-method,
  :uid :hem-60},
 :hem-63
 {:args ["B"],
  :display-args ["B"],
  :display-name "Get Data At",
  :edges [],
  :incidence-set #{},
  :network :net-136,
  :type :htn-expanded-method,
  :uid :hem-63},
 :hem-67
 {:args ["B" "C"],
  :display-args ["B" "C"],
  :display-name "Get Data And Interpret",
  :edges [:hedge-141 :hedge-152],
  :incidence-set #{},
  :network :net-140,
  :type :htn-expanded-method,
  :uid :hem-67},
 :hem-70
 {:args ["B"],
  :display-args ["B"],
  :display-name "Evidence And Interpret",
  :edges [:hedge-143 :hedge-146 :hedge-148 :hedge-150],
  :incidence-set #{},
  :network :net-142,
  :type :htn-expanded-method,
  :uid :hem-70},
 :hem-73
 {:args ["B"],
  :display-args ["B"],
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :network :net-144,
  :type :htn-expanded-method,
  :uid :hem-73},
 :hem-75
 {:args ["B"],
  :display-args ["B"],
  :display-name "Interpret-0",
  :edges [],
  :incidence-set #{},
  :network :net-147,
  :type :htn-expanded-method,
  :uid :hem-75},
 :hem-77
 {:args ["B"],
  :display-args ["B"],
  :display-name "Interpret-1",
  :edges [],
  :incidence-set #{},
  :network :net-149,
  :type :htn-expanded-method,
  :uid :hem-77},
 :hem-79
 {:args ["B"],
  :display-args ["B"],
  :display-name "Interpret-2",
  :edges [],
  :incidence-set #{},
  :network :net-151,
  :type :htn-expanded-method,
  :uid :hem-79},
 :hem-82
 {:args ["C"],
  :display-args ["C"],
  :display-name "Get Data At",
  :edges [],
  :incidence-set #{},
  :network :net-153,
  :type :htn-expanded-method,
  :uid :hem-82},
 :hem-86
 {:args ["C" "D"],
  :display-args ["C" "D"],
  :display-name "Get Data And Interpret",
  :edges [:hedge-158 :hedge-169],
  :incidence-set #{},
  :network :net-157,
  :type :htn-expanded-method,
  :uid :hem-86},
 :hem-89
 {:args ["C"],
  :display-args ["C"],
  :display-name "Evidence And Interpret",
  :edges [:hedge-160 :hedge-163 :hedge-165 :hedge-167],
  :incidence-set #{},
  :network :net-159,
  :type :htn-expanded-method,
  :uid :hem-89},
 :hem-92
 {:args ["C"],
  :display-args ["C"],
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :network :net-161,
  :type :htn-expanded-method,
  :uid :hem-92},
 :hem-94
 {:args ["C"],
  :display-args ["C"],
  :display-name "Interpret-0",
  :edges [],
  :incidence-set #{},
  :network :net-164,
  :type :htn-expanded-method,
  :uid :hem-94},
 :hem-96
 {:args ["C"],
  :display-args ["C"],
  :display-name "Interpret-1",
  :edges [],
  :incidence-set #{},
  :network :net-166,
  :type :htn-expanded-method,
  :uid :hem-96},
 :hem-98
 {:args ["C"],
  :display-args ["C"],
  :display-name "Interpret-2",
  :edges [],
  :incidence-set #{},
  :network :net-168,
  :type :htn-expanded-method,
  :uid :hem-98},
 :henpt-103
 {:display-name "Evidence",
  :edges [:hedge-177],
  :incidence-set #{},
  :name "evidence",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-103},
 :henpt-104
 {:display-name "Interpret",
  :edges [],
  :incidence-set #{:hedge-177},
  :name "interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-104},
 :henpt-34
 {:display-name "isr-htn",
  :edges [:hedge-116],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-34},
 :henpt-35
 {:display-name "Get Data At",
  :edges [:hedge-121],
  :incidence-set #{},
  :name "get-data-at",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-35},
 :henpt-36
 {:display-name "Get Data And Interpret",
  :edges [:hedge-138],
  :incidence-set #{:hedge-121},
  :name "get-data-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-36},
 :henpt-37
 {:display-name "Get Data And Interpret",
  :edges [:hedge-155],
  :incidence-set #{:hedge-138},
  :name "get-data-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-37},
 :henpt-38
 {:display-name "Get Data And Interpret",
  :edges [:hedge-172],
  :incidence-set #{:hedge-155},
  :name "get-data-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-38},
 :henpt-39
 {:display-name "Evidence And Interpret",
  :edges [],
  :incidence-set #{:hedge-172},
  :name "evidence-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-39},
 :henpt-46
 {:display-name "Evidence And Interpret",
  :edges [],
  :incidence-set #{},
  :name "evidence-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-46},
 :henpt-47
 {:display-name "Get Data At",
  :edges [],
  :incidence-set #{},
  :name "get-data-at",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-47},
 :henpt-49
 {:display-name "Evidence",
  :edges [:hedge-128],
  :incidence-set #{},
  :name "evidence",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-49},
 :henpt-50
 {:display-name "Interpret",
  :edges [],
  :incidence-set #{:hedge-128},
  :name "interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-50},
 :henpt-65
 {:display-name "Evidence And Interpret",
  :edges [],
  :incidence-set #{},
  :name "evidence-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-65},
 :henpt-66
 {:display-name "Get Data At",
  :edges [],
  :incidence-set #{},
  :name "get-data-at",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-66},
 :henpt-68
 {:display-name "Evidence",
  :edges [:hedge-145],
  :incidence-set #{},
  :name "evidence",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-68},
 :henpt-69
 {:display-name "Interpret",
  :edges [],
  :incidence-set #{:hedge-145},
  :name "interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-69},
 :henpt-84
 {:display-name "Evidence And Interpret",
  :edges [],
  :incidence-set #{},
  :name "evidence-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-84},
 :henpt-85
 {:display-name "Get Data At",
  :edges [],
  :incidence-set #{},
  :name "get-data-at",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-85},
 :henpt-87
 {:display-name "Evidence",
  :edges [:hedge-162],
  :incidence-set #{},
  :name "evidence",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-87},
 :henpt-88
 {:display-name "Interpret",
  :edges [],
  :incidence-set #{:hedge-162},
  :name "interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-88},
 :hpt-100
 {:args ["D"],
  :argsmap {"location" "D"},
  :display-args ["D"],
  :display-name "Capture",
  :edges [],
  :incidence-set #{:hedge-171},
  :name "capture",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-100},
 :hpt-107
 {:args ["D"],
  :argsmap {"location" "D"},
  :display-args ["D"],
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :name "evidence",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-107},
 :hpt-109
 {:args ["D"],
  :argsmap {"location" "D"},
  :display-args ["D"],
  :display-name "Interpret 1",
  :edges [],
  :incidence-set #{},
  :name "interpret1",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-109},
 :hpt-111
 {:args ["D"],
  :argsmap {"location" "D"},
  :display-args ["D"],
  :display-name "Interpret 2",
  :edges [],
  :incidence-set #{},
  :name "interpret2",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-111},
 :hpt-113
 {:args ["D"],
  :argsmap {"location" "D"},
  :display-args ["D"],
  :display-name "Interpret 3",
  :edges [],
  :incidence-set #{},
  :name "interpret3",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-113},
 :hpt-42
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-args ["A"],
  :display-name "Go To",
  :edges [:hedge-120],
  :incidence-set #{},
  :name "go-to",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-42},
 :hpt-43
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-args ["A"],
  :display-name "Capture",
  :edges [],
  :incidence-set #{:hedge-120},
  :name "capture",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-43},
 :hpt-53
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-args ["A"],
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :name "evidence",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-53},
 :hpt-55
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-args ["A"],
  :display-name "Interpret 1",
  :edges [],
  :incidence-set #{},
  :name "interpret1",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-55},
 :hpt-57
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-args ["A"],
  :display-name "Interpret 2",
  :edges [],
  :incidence-set #{},
  :name "interpret2",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-57},
 :hpt-59
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-args ["A"],
  :display-name "Interpret 3",
  :edges [],
  :incidence-set #{},
  :name "interpret3",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-59},
 :hpt-61
 {:args ["B"],
  :argsmap {"location" "B"},
  :display-args ["B"],
  :display-name "Go To",
  :edges [:hedge-137],
  :incidence-set #{},
  :name "go-to",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-61},
 :hpt-62
 {:args ["B"],
  :argsmap {"location" "B"},
  :display-args ["B"],
  :display-name "Capture",
  :edges [],
  :incidence-set #{:hedge-137},
  :name "capture",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-62},
 :hpt-72
 {:args ["B"],
  :argsmap {"location" "B"},
  :display-args ["B"],
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :name "evidence",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-72},
 :hpt-74
 {:args ["B"],
  :argsmap {"location" "B"},
  :display-args ["B"],
  :display-name "Interpret 1",
  :edges [],
  :incidence-set #{},
  :name "interpret1",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-74},
 :hpt-76
 {:args ["B"],
  :argsmap {"location" "B"},
  :display-args ["B"],
  :display-name "Interpret 2",
  :edges [],
  :incidence-set #{},
  :name "interpret2",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-76},
 :hpt-78
 {:args ["B"],
  :argsmap {"location" "B"},
  :display-args ["B"],
  :display-name "Interpret 3",
  :edges [],
  :incidence-set #{},
  :name "interpret3",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-78},
 :hpt-80
 {:args ["C"],
  :argsmap {"location" "C"},
  :display-args ["C"],
  :display-name "Go To",
  :edges [:hedge-154],
  :incidence-set #{},
  :name "go-to",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-80},
 :hpt-81
 {:args ["C"],
  :argsmap {"location" "C"},
  :display-args ["C"],
  :display-name "Capture",
  :edges [],
  :incidence-set #{:hedge-154},
  :name "capture",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-81},
 :hpt-91
 {:args ["C"],
  :argsmap {"location" "C"},
  :display-args ["C"],
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :name "evidence",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-91},
 :hpt-93
 {:args ["C"],
  :argsmap {"location" "C"},
  :display-args ["C"],
  :display-name "Interpret 1",
  :edges [],
  :incidence-set #{},
  :name "interpret1",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-93},
 :hpt-95
 {:args ["C"],
  :argsmap {"location" "C"},
  :display-args ["C"],
  :display-name "Interpret 2",
  :edges [],
  :incidence-set #{},
  :name "interpret2",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-95},
 :hpt-97
 {:args ["C"],
  :argsmap {"location" "C"},
  :display-args ["C"],
  :display-name "Interpret 3",
  :edges [],
  :incidence-set #{},
  :name "interpret3",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-97},
 :hpt-99
 {:args ["D"],
  :argsmap {"location" "D"},
  :display-args ["D"],
  :display-name "Go To",
  :edges [:hedge-171],
  :incidence-set #{},
  :name "go-to",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-99},
 :net-115
 {:display-name "isr-htn",
  :rootnodes #{:henpt-34},
  :type :htn-network,
  :uid :net-115},
 :net-117
 {:display-name "Main",
  :rootnodes #{:henpt-35},
  :type :htn-network,
  :uid :net-117},
 :net-119
 {:display-name "Get Data At",
  :rootnodes #{:hpt-42},
  :type :htn-network,
  :uid :net-119},
 :net-123
 {:display-name "Get Data And Interpret",
  :rootnodes #{:henpt-47 :henpt-46},
  :type :htn-network,
  :uid :net-123},
 :net-125
 {:display-name "Evidence And Interpret",
  :rootnodes #{:henpt-49},
  :type :htn-network,
  :uid :net-125},
 :net-127
 {:display-name "Evidence",
  :rootnodes #{:hpt-53},
  :type :htn-network,
  :uid :net-127},
 :net-130
 {:display-name "Interpret-0",
  :rootnodes #{:hpt-55},
  :type :htn-network,
  :uid :net-130},
 :net-132
 {:display-name "Interpret-1",
  :rootnodes #{:hpt-57},
  :type :htn-network,
  :uid :net-132},
 :net-134
 {:display-name "Interpret-2",
  :rootnodes #{:hpt-59},
  :type :htn-network,
  :uid :net-134},
 :net-136
 {:display-name "Get Data At",
  :rootnodes #{:hpt-61},
  :type :htn-network,
  :uid :net-136},
 :net-140
 {:display-name "Get Data And Interpret",
  :rootnodes #{:henpt-66 :henpt-65},
  :type :htn-network,
  :uid :net-140},
 :net-142
 {:display-name "Evidence And Interpret",
  :rootnodes #{:henpt-68},
  :type :htn-network,
  :uid :net-142},
 :net-144
 {:display-name "Evidence",
  :rootnodes #{:hpt-72},
  :type :htn-network,
  :uid :net-144},
 :net-147
 {:display-name "Interpret-0",
  :rootnodes #{:hpt-74},
  :type :htn-network,
  :uid :net-147},
 :net-149
 {:display-name "Interpret-1",
  :rootnodes #{:hpt-76},
  :type :htn-network,
  :uid :net-149},
 :net-151
 {:display-name "Interpret-2",
  :rootnodes #{:hpt-78},
  :type :htn-network,
  :uid :net-151},
 :net-153
 {:display-name "Get Data At",
  :rootnodes #{:hpt-80},
  :type :htn-network,
  :uid :net-153},
 :net-157
 {:display-name "Get Data And Interpret",
  :rootnodes #{:henpt-85 :henpt-84},
  :type :htn-network,
  :uid :net-157},
 :net-159
 {:display-name "Evidence And Interpret",
  :rootnodes #{:henpt-87},
  :type :htn-network,
  :uid :net-159},
 :net-161
 {:display-name "Evidence",
  :rootnodes #{:hpt-91},
  :type :htn-network,
  :uid :net-161},
 :net-164
 {:display-name "Interpret-0",
  :rootnodes #{:hpt-93},
  :type :htn-network,
  :uid :net-164},
 :net-166
 {:display-name "Interpret-1",
  :rootnodes #{:hpt-95},
  :type :htn-network,
  :uid :net-166},
 :net-168
 {:display-name "Interpret-2",
  :rootnodes #{:hpt-97},
  :type :htn-network,
  :uid :net-168},
 :net-170
 {:display-name "Get Data At",
  :rootnodes #{:hpt-99},
  :type :htn-network,
  :uid :net-170},
 :net-174
 {:display-name "Evidence And Interpret",
  :rootnodes #{:henpt-103},
  :type :htn-network,
  :uid :net-174},
 :net-176
 {:display-name "Evidence",
  :rootnodes #{:hpt-107},
  :type :htn-network,
  :uid :net-176},
 :net-179
 {:display-name "Interpret-0",
  :rootnodes #{:hpt-109},
  :type :htn-network,
  :uid :net-179},
 :net-181
 {:display-name "Interpret-1",
  :rootnodes #{:hpt-111},
  :type :htn-network,
  :uid :net-181},
 :net-183
 {:display-name "Interpret-2",
  :rootnodes #{:hpt-113},
  :type :htn-network,
  :uid :net-183},
 :network :net-115}
