{:act-279
 {:args ["A"],
  :constraints #{:tc-278},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-279,
  :name "Go To(\"A\")",
  :tpn-type :activity,
  :argsmap {"location" "A"},
  :command "go-to",
  :htn-node :hem-357,
  :controllable false,
  :end-node :node-285,
  :label "TEMP-go-to",
  :display-name "Go To",
  :plant-part "isr1"},
 :act-284
 {:args ["A"],
  :constraints #{:tc-283},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-284,
  :name "Capture(\"A\")",
  :tpn-type :activity,
  :argsmap {"location" "A"},
  :command "capture",
  :htn-node :hem-357,
  :controllable false,
  :end-node :node-289,
  :label "TEMP-capture",
  :display-name "Capture",
  :plant-part "isr1"},
 :act-303
 {:args ["A"],
  :constraints #{:tc-301},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-303,
  :name "Evidence(\"A\")",
  :tpn-type :activity,
  :argsmap {"location" "A"},
  :command "evidence",
  :htn-node :hem-368,
  :controllable false,
  :end-node :node-298,
  :label "TEMP-evidence",
  :display-name "Evidence",
  :plant-part "isr1"},
 :act-317
 {:args ["A"],
  :constraints #{:tc-316},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-317,
  :name "Interpret 1(\"A\")",
  :tpn-type :activity,
  :argsmap {"location" "A"},
  :command "interpret1",
  :htn-node :hem-371,
  :controllable false,
  :end-node :node-307,
  :label "TEMP-interpret1",
  :display-name "Interpret 1",
  :plant-part "isr1"},
 :act-327
 {:args ["A"],
  :constraints #{:tc-326},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-327,
  :name "Interpret 2(\"A\")",
  :tpn-type :activity,
  :argsmap {"location" "A"},
  :command "interpret2",
  :htn-node :hem-374,
  :controllable false,
  :end-node :node-321,
  :label "TEMP-interpret2",
  :display-name "Interpret 2",
  :plant-part "isr1"},
 :act-337
 {:args ["A"],
  :constraints #{:tc-336},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-337,
  :name "Interpret 3(\"A\")",
  :tpn-type :activity,
  :argsmap {"location" "A"},
  :command "interpret3",
  :htn-node :hem-377,
  :controllable false,
  :end-node :node-331,
  :label "TEMP-interpret3",
  :display-name "Interpret 3",
  :plant-part "isr1"},
 :act-348
 {:args ["B"],
  :constraints #{:tc-347},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-348,
  :name "Go To(\"B\")",
  :tpn-type :activity,
  :argsmap {"location" "B"},
  :command "go-to",
  :htn-node :hem-381,
  :controllable false,
  :end-node :node-354,
  :label "TEMP-go-to",
  :display-name "Go To",
  :plant-part "isr1"},
 :act-353
 {:args ["B"],
  :constraints #{:tc-352},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-353,
  :name "Capture(\"B\")",
  :tpn-type :activity,
  :argsmap {"location" "B"},
  :command "capture",
  :htn-node :hem-381,
  :controllable false,
  :end-node :node-341,
  :label "TEMP-capture",
  :display-name "Capture",
  :plant-part "isr1"},
 :act-372
 {:args ["B"],
  :constraints #{:tc-370},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-372,
  :name "Evidence(\"B\")",
  :tpn-type :activity,
  :argsmap {"location" "B"},
  :command "evidence",
  :htn-node :hem-392,
  :controllable false,
  :end-node :node-367,
  :label "TEMP-evidence",
  :display-name "Evidence",
  :plant-part "isr1"},
 :act-386
 {:args ["B"],
  :constraints #{:tc-385},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-386,
  :name "Interpret 1(\"B\")",
  :tpn-type :activity,
  :argsmap {"location" "B"},
  :command "interpret1",
  :htn-node :hem-395,
  :controllable false,
  :end-node :node-376,
  :label "TEMP-interpret1",
  :display-name "Interpret 1",
  :plant-part "isr1"},
 :act-396
 {:args ["B"],
  :constraints #{:tc-395},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-396,
  :name "Interpret 2(\"B\")",
  :tpn-type :activity,
  :argsmap {"location" "B"},
  :command "interpret2",
  :htn-node :hem-398,
  :controllable false,
  :end-node :node-390,
  :label "TEMP-interpret2",
  :display-name "Interpret 2",
  :plant-part "isr1"},
 :act-406
 {:args ["B"],
  :constraints #{:tc-405},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-406,
  :name "Interpret 3(\"B\")",
  :tpn-type :activity,
  :argsmap {"location" "B"},
  :command "interpret3",
  :htn-node :hem-401,
  :controllable false,
  :end-node :node-400,
  :label "TEMP-interpret3",
  :display-name "Interpret 3",
  :plant-part "isr1"},
 :act-417
 {:args ["C"],
  :constraints #{:tc-416},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-417,
  :name "Go To(\"C\")",
  :tpn-type :activity,
  :argsmap {"location" "C"},
  :command "go-to",
  :htn-node :hem-405,
  :controllable false,
  :end-node :node-423,
  :label "TEMP-go-to",
  :display-name "Go To",
  :plant-part "isr1"},
 :act-422
 {:args ["C"],
  :constraints #{:tc-421},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-422,
  :name "Capture(\"C\")",
  :tpn-type :activity,
  :argsmap {"location" "C"},
  :command "capture",
  :htn-node :hem-405,
  :controllable false,
  :end-node :node-410,
  :label "TEMP-capture",
  :display-name "Capture",
  :plant-part "isr1"},
 :act-441
 {:args ["C"],
  :constraints #{:tc-439},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-441,
  :name "Evidence(\"C\")",
  :tpn-type :activity,
  :argsmap {"location" "C"},
  :command "evidence",
  :htn-node :hem-416,
  :controllable false,
  :end-node :node-436,
  :label "TEMP-evidence",
  :display-name "Evidence",
  :plant-part "isr1"},
 :act-455
 {:args ["C"],
  :constraints #{:tc-454},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-455,
  :name "Interpret 1(\"C\")",
  :tpn-type :activity,
  :argsmap {"location" "C"},
  :command "interpret1",
  :htn-node :hem-419,
  :controllable false,
  :end-node :node-445,
  :label "TEMP-interpret1",
  :display-name "Interpret 1",
  :plant-part "isr1"},
 :act-465
 {:args ["C"],
  :constraints #{:tc-464},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-465,
  :name "Interpret 2(\"C\")",
  :tpn-type :activity,
  :argsmap {"location" "C"},
  :command "interpret2",
  :htn-node :hem-422,
  :controllable false,
  :end-node :node-459,
  :label "TEMP-interpret2",
  :display-name "Interpret 2",
  :plant-part "isr1"},
 :act-475
 {:args ["C"],
  :constraints #{:tc-474},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-475,
  :name "Interpret 3(\"C\")",
  :tpn-type :activity,
  :argsmap {"location" "C"},
  :command "interpret3",
  :htn-node :hem-425,
  :controllable false,
  :end-node :node-469,
  :label "TEMP-interpret3",
  :display-name "Interpret 3",
  :plant-part "isr1"},
 :act-486
 {:args ["D"],
  :constraints #{:tc-485},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-486,
  :name "Go To(\"D\")",
  :tpn-type :activity,
  :argsmap {"location" "D"},
  :command "go-to",
  :htn-node :hem-429,
  :controllable false,
  :end-node :node-492,
  :label "TEMP-go-to",
  :display-name "Go To",
  :plant-part "isr1"},
 :act-491
 {:args ["D"],
  :constraints #{:tc-490},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-491,
  :name "Capture(\"D\")",
  :tpn-type :activity,
  :argsmap {"location" "D"},
  :command "capture",
  :htn-node :hem-429,
  :controllable false,
  :end-node :node-479,
  :label "TEMP-capture",
  :display-name "Capture",
  :plant-part "isr1"},
 :act-504
 {:args ["D"],
  :constraints #{:tc-502},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-504,
  :name "Evidence(\"D\")",
  :tpn-type :activity,
  :argsmap {"location" "D"},
  :command "evidence",
  :htn-node :hem-437,
  :controllable false,
  :end-node :node-499,
  :label "TEMP-evidence",
  :display-name "Evidence",
  :plant-part "isr1"},
 :act-518
 {:args ["D"],
  :constraints #{:tc-517},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-518,
  :name "Interpret 1(\"D\")",
  :tpn-type :activity,
  :argsmap {"location" "D"},
  :command "interpret1",
  :htn-node :hem-440,
  :controllable false,
  :end-node :node-508,
  :label "TEMP-interpret1",
  :display-name "Interpret 1",
  :plant-part "isr1"},
 :act-528
 {:args ["D"],
  :constraints #{:tc-527},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-528,
  :name "Interpret 2(\"D\")",
  :tpn-type :activity,
  :argsmap {"location" "D"},
  :command "interpret2",
  :htn-node :hem-443,
  :controllable false,
  :end-node :node-522,
  :label "TEMP-interpret2",
  :display-name "Interpret 2",
  :plant-part "isr1"},
 :act-538
 {:args ["D"],
  :constraints #{:tc-537},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-538,
  :name "Interpret 3(\"D\")",
  :tpn-type :activity,
  :argsmap {"location" "D"},
  :command "interpret3",
  :htn-node :hem-446,
  :controllable false,
  :end-node :node-532,
  :label "TEMP-interpret3",
  :display-name "Interpret 3",
  :plant-part "isr1"},
 :na-295
 {:tpn-type :null-activity,
  :uid :na-295,
  :constraints #{},
  :end-node :node-294},
 :na-297
 {:tpn-type :null-activity,
  :uid :na-297,
  :constraints #{},
  :end-node :node-293},
 :na-305
 {:tpn-type :null-activity,
  :uid :na-305,
  :constraints #{},
  :end-node :node-304},
 :na-312
 {:tpn-type :null-activity,
  :uid :na-312,
  :constraints #{},
  :end-node :node-310},
 :na-314
 {:tpn-type :null-activity,
  :uid :na-314,
  :constraints #{},
  :end-node :node-309},
 :na-319
 {:tpn-type :null-activity,
  :uid :na-319,
  :constraints #{},
  :end-node :node-318},
 :na-324
 {:tpn-type :null-activity,
  :uid :na-324,
  :constraints #{},
  :end-node :node-309},
 :na-329
 {:tpn-type :null-activity,
  :uid :na-329,
  :constraints #{},
  :end-node :node-328},
 :na-334
 {:tpn-type :null-activity,
  :uid :na-334,
  :constraints #{},
  :end-node :node-309},
 :na-339
 {:tpn-type :null-activity,
  :uid :na-339,
  :constraints #{},
  :end-node :node-338},
 :na-345
 {:tpn-type :null-activity,
  :uid :na-345,
  :constraints #{},
  :end-node :node-293},
 :na-350
 {:tpn-type :null-activity,
  :uid :na-350,
  :constraints #{},
  :end-node :node-349},
 :na-364
 {:tpn-type :null-activity,
  :uid :na-364,
  :constraints #{},
  :end-node :node-363},
 :na-366
 {:tpn-type :null-activity,
  :uid :na-366,
  :constraints #{},
  :end-node :node-362},
 :na-374
 {:tpn-type :null-activity,
  :uid :na-374,
  :constraints #{},
  :end-node :node-373},
 :na-381
 {:tpn-type :null-activity,
  :uid :na-381,
  :constraints #{},
  :end-node :node-379},
 :na-383
 {:tpn-type :null-activity,
  :uid :na-383,
  :constraints #{},
  :end-node :node-378},
 :na-388
 {:tpn-type :null-activity,
  :uid :na-388,
  :constraints #{},
  :end-node :node-387},
 :na-393
 {:tpn-type :null-activity,
  :uid :na-393,
  :constraints #{},
  :end-node :node-378},
 :na-398
 {:tpn-type :null-activity,
  :uid :na-398,
  :constraints #{},
  :end-node :node-397},
 :na-403
 {:tpn-type :null-activity,
  :uid :na-403,
  :constraints #{},
  :end-node :node-378},
 :na-408
 {:tpn-type :null-activity,
  :uid :na-408,
  :constraints #{},
  :end-node :node-407},
 :na-414
 {:tpn-type :null-activity,
  :uid :na-414,
  :constraints #{},
  :end-node :node-362},
 :na-419
 {:tpn-type :null-activity,
  :uid :na-419,
  :constraints #{},
  :end-node :node-418},
 :na-433
 {:tpn-type :null-activity,
  :uid :na-433,
  :constraints #{},
  :end-node :node-432},
 :na-435
 {:tpn-type :null-activity,
  :uid :na-435,
  :constraints #{},
  :end-node :node-431},
 :na-443
 {:tpn-type :null-activity,
  :uid :na-443,
  :constraints #{},
  :end-node :node-442},
 :na-450
 {:tpn-type :null-activity,
  :uid :na-450,
  :constraints #{},
  :end-node :node-448},
 :na-452
 {:tpn-type :null-activity,
  :uid :na-452,
  :constraints #{},
  :end-node :node-447},
 :na-457
 {:tpn-type :null-activity,
  :uid :na-457,
  :constraints #{},
  :end-node :node-456},
 :na-462
 {:tpn-type :null-activity,
  :uid :na-462,
  :constraints #{},
  :end-node :node-447},
 :na-467
 {:tpn-type :null-activity,
  :uid :na-467,
  :constraints #{},
  :end-node :node-466},
 :na-472
 {:tpn-type :null-activity,
  :uid :na-472,
  :constraints #{},
  :end-node :node-447},
 :na-477
 {:tpn-type :null-activity,
  :uid :na-477,
  :constraints #{},
  :end-node :node-476},
 :na-483
 {:tpn-type :null-activity,
  :uid :na-483,
  :constraints #{},
  :end-node :node-431},
 :na-488
 {:tpn-type :null-activity,
  :uid :na-488,
  :constraints #{},
  :end-node :node-487},
 :na-506
 {:tpn-type :null-activity,
  :uid :na-506,
  :constraints #{},
  :end-node :node-505},
 :na-513
 {:tpn-type :null-activity,
  :uid :na-513,
  :constraints #{},
  :end-node :node-511},
 :na-515
 {:tpn-type :null-activity,
  :uid :na-515,
  :constraints #{},
  :end-node :node-510},
 :na-520
 {:tpn-type :null-activity,
  :uid :na-520,
  :constraints #{},
  :end-node :node-519},
 :na-525
 {:tpn-type :null-activity,
  :uid :na-525,
  :constraints #{},
  :end-node :node-510},
 :na-530
 {:tpn-type :null-activity,
  :uid :na-530,
  :constraints #{},
  :end-node :node-529},
 :na-535
 {:tpn-type :null-activity,
  :uid :na-535,
  :constraints #{},
  :end-node :node-510},
 :na-540
 {:tpn-type :null-activity,
  :uid :na-540,
  :constraints #{},
  :end-node :node-539},
 :net-273
 {:tpn-type :network,
  :uid :net-273,
  :begin-node :node-280,
  :end-node :node-510},
 :network-id :net-273,
 :node-280
 {:tpn-type :state,
  :uid :node-280,
  :constraints #{},
  :activities #{:act-279},
  :incidence-set #{},
  :htn-node :hem-352,
  :end-node :node-277},
 :node-285
 {:tpn-type :state,
  :uid :node-285,
  :constraints #{},
  :activities #{:act-284},
  :incidence-set #{:act-279},
  :htn-node :hem-357,
  :end-node :node-282},
 :node-289
 {:tpn-type :state,
  :uid :node-289,
  :constraints #{},
  :activities #{:na-295},
  :incidence-set #{:act-284},
  :end-node :node-288},
 :node-293
 {:tpn-type :p-end,
  :uid :node-293,
  :constraints #{},
  :activities #{:na-364},
  :incidence-set #{:na-297 :na-345}},
 :node-294
 {:tpn-type :p-begin,
  :uid :node-294,
  :constraints #{},
  :activities #{:na-350 :na-305},
  :incidence-set #{:na-295},
  :htn-node :hem-361,
  :end-node :node-293},
 :node-298
 {:tpn-type :state,
  :uid :node-298,
  :constraints #{},
  :activities #{:na-312},
  :incidence-set #{:act-303}},
 :node-304
 {:tpn-type :state,
  :uid :node-304,
  :constraints #{},
  :activities #{:act-303},
  :incidence-set #{:na-305},
  :htn-node :hem-364,
  :end-node :node-302},
 :node-307
 {:tpn-type :state,
  :uid :node-307,
  :constraints #{},
  :activities #{:na-314},
  :incidence-set #{:act-317}},
 :node-309
 {:tpn-type :c-end,
  :uid :node-309,
  :constraints #{},
  :activities #{:na-297},
  :incidence-set #{:na-324 :na-334 :na-314}},
 :node-310
 {:tpn-type :c-begin,
  :uid :node-310,
  :constraints #{},
  :activities #{:na-319 :na-339 :na-329},
  :incidence-set #{:na-312},
  :htn-node :hem-364,
  :end-node :node-309},
 :node-318
 {:tpn-type :state,
  :uid :node-318,
  :constraints #{},
  :activities #{:act-317},
  :incidence-set #{:na-319},
  :htn-node :hem-371,
  :end-node :node-315},
 :node-321
 {:tpn-type :state,
  :uid :node-321,
  :constraints #{},
  :activities #{:na-324},
  :incidence-set #{:act-327}},
 :node-328
 {:tpn-type :state,
  :uid :node-328,
  :constraints #{},
  :activities #{:act-327},
  :incidence-set #{:na-329},
  :htn-node :hem-374,
  :end-node :node-325},
 :node-331
 {:tpn-type :state,
  :uid :node-331,
  :constraints #{},
  :activities #{:na-334},
  :incidence-set #{:act-337}},
 :node-338
 {:tpn-type :state,
  :uid :node-338,
  :constraints #{},
  :activities #{:act-337},
  :incidence-set #{:na-339},
  :htn-node :hem-377,
  :end-node :node-335},
 :node-341
 {:tpn-type :state,
  :uid :node-341,
  :constraints #{},
  :activities #{:na-345},
  :incidence-set #{:act-353}},
 :node-349
 {:tpn-type :state,
  :uid :node-349,
  :constraints #{},
  :activities #{:act-348},
  :incidence-set #{:na-350},
  :htn-node :hem-381,
  :end-node :node-346},
 :node-354
 {:tpn-type :state,
  :uid :node-354,
  :constraints #{},
  :activities #{:act-353},
  :incidence-set #{:act-348},
  :htn-node :hem-381,
  :end-node :node-351},
 :node-362
 {:tpn-type :p-end,
  :uid :node-362,
  :constraints #{},
  :activities #{:na-433},
  :incidence-set #{:na-366 :na-414}},
 :node-363
 {:tpn-type :p-begin,
  :uid :node-363,
  :constraints #{},
  :activities #{:na-374 :na-419},
  :incidence-set #{:na-364},
  :htn-node :hem-385,
  :end-node :node-362},
 :node-367
 {:tpn-type :state,
  :uid :node-367,
  :constraints #{},
  :activities #{:na-381},
  :incidence-set #{:act-372}},
 :node-373
 {:tpn-type :state,
  :uid :node-373,
  :constraints #{},
  :activities #{:act-372},
  :incidence-set #{:na-374},
  :htn-node :hem-388,
  :end-node :node-371},
 :node-376
 {:tpn-type :state,
  :uid :node-376,
  :constraints #{},
  :activities #{:na-383},
  :incidence-set #{:act-386}},
 :node-378
 {:tpn-type :c-end,
  :uid :node-378,
  :constraints #{},
  :activities #{:na-366},
  :incidence-set #{:na-403 :na-383 :na-393}},
 :node-379
 {:tpn-type :c-begin,
  :uid :node-379,
  :constraints #{},
  :activities #{:na-408 :na-398 :na-388},
  :incidence-set #{:na-381},
  :htn-node :hem-388,
  :end-node :node-378},
 :node-387
 {:tpn-type :state,
  :uid :node-387,
  :constraints #{},
  :activities #{:act-386},
  :incidence-set #{:na-388},
  :htn-node :hem-395,
  :end-node :node-384},
 :node-390
 {:tpn-type :state,
  :uid :node-390,
  :constraints #{},
  :activities #{:na-393},
  :incidence-set #{:act-396}},
 :node-397
 {:tpn-type :state,
  :uid :node-397,
  :constraints #{},
  :activities #{:act-396},
  :incidence-set #{:na-398},
  :htn-node :hem-398,
  :end-node :node-394},
 :node-400
 {:tpn-type :state,
  :uid :node-400,
  :constraints #{},
  :activities #{:na-403},
  :incidence-set #{:act-406}},
 :node-407
 {:tpn-type :state,
  :uid :node-407,
  :constraints #{},
  :activities #{:act-406},
  :incidence-set #{:na-408},
  :htn-node :hem-401,
  :end-node :node-404},
 :node-410
 {:tpn-type :state,
  :uid :node-410,
  :constraints #{},
  :activities #{:na-414},
  :incidence-set #{:act-422}},
 :node-418
 {:tpn-type :state,
  :uid :node-418,
  :constraints #{},
  :activities #{:act-417},
  :incidence-set #{:na-419},
  :htn-node :hem-405,
  :end-node :node-415},
 :node-423
 {:tpn-type :state,
  :uid :node-423,
  :constraints #{},
  :activities #{:act-422},
  :incidence-set #{:act-417},
  :htn-node :hem-405,
  :end-node :node-420},
 :node-431
 {:tpn-type :p-end,
  :uid :node-431,
  :constraints #{},
  :activities #{:na-506},
  :incidence-set #{:na-435 :na-483}},
 :node-432
 {:tpn-type :p-begin,
  :uid :node-432,
  :constraints #{},
  :activities #{:na-488 :na-443},
  :incidence-set #{:na-433},
  :htn-node :hem-409,
  :end-node :node-431},
 :node-436
 {:tpn-type :state,
  :uid :node-436,
  :constraints #{},
  :activities #{:na-450},
  :incidence-set #{:act-441}},
 :node-442
 {:tpn-type :state,
  :uid :node-442,
  :constraints #{},
  :activities #{:act-441},
  :incidence-set #{:na-443},
  :htn-node :hem-412,
  :end-node :node-440},
 :node-445
 {:tpn-type :state,
  :uid :node-445,
  :constraints #{},
  :activities #{:na-452},
  :incidence-set #{:act-455}},
 :node-447
 {:tpn-type :c-end,
  :uid :node-447,
  :constraints #{},
  :activities #{:na-435},
  :incidence-set #{:na-452 :na-472 :na-462}},
 :node-448
 {:tpn-type :c-begin,
  :uid :node-448,
  :constraints #{},
  :activities #{:na-457 :na-467 :na-477},
  :incidence-set #{:na-450},
  :htn-node :hem-412,
  :end-node :node-447},
 :node-456
 {:tpn-type :state,
  :uid :node-456,
  :constraints #{},
  :activities #{:act-455},
  :incidence-set #{:na-457},
  :htn-node :hem-419,
  :end-node :node-453},
 :node-459
 {:tpn-type :state,
  :uid :node-459,
  :constraints #{},
  :activities #{:na-462},
  :incidence-set #{:act-465}},
 :node-466
 {:tpn-type :state,
  :uid :node-466,
  :constraints #{},
  :activities #{:act-465},
  :incidence-set #{:na-467},
  :htn-node :hem-422,
  :end-node :node-463},
 :node-469
 {:tpn-type :state,
  :uid :node-469,
  :constraints #{},
  :activities #{:na-472},
  :incidence-set #{:act-475}},
 :node-476
 {:tpn-type :state,
  :uid :node-476,
  :constraints #{},
  :activities #{:act-475},
  :incidence-set #{:na-477},
  :htn-node :hem-425,
  :end-node :node-473},
 :node-479
 {:tpn-type :state,
  :uid :node-479,
  :constraints #{},
  :activities #{:na-483},
  :incidence-set #{:act-491}},
 :node-487
 {:tpn-type :state,
  :uid :node-487,
  :constraints #{},
  :activities #{:act-486},
  :incidence-set #{:na-488},
  :htn-node :hem-429,
  :end-node :node-484},
 :node-492
 {:tpn-type :state,
  :uid :node-492,
  :constraints #{},
  :activities #{:act-491},
  :incidence-set #{:act-486},
  :htn-node :hem-429,
  :end-node :node-489},
 :node-499
 {:tpn-type :state,
  :uid :node-499,
  :constraints #{},
  :activities #{:na-513},
  :incidence-set #{:act-504}},
 :node-505
 {:tpn-type :state,
  :uid :node-505,
  :constraints #{},
  :activities #{:act-504},
  :incidence-set #{:na-506},
  :htn-node :hem-433,
  :end-node :node-503},
 :node-508
 {:tpn-type :state,
  :uid :node-508,
  :constraints #{},
  :activities #{:na-515},
  :incidence-set #{:act-518}},
 :node-510
 {:tpn-type :c-end,
  :uid :node-510,
  :constraints #{},
  :activities #{},
  :incidence-set #{:na-515 :na-525 :na-535}},
 :node-511
 {:tpn-type :c-begin,
  :uid :node-511,
  :constraints #{},
  :activities #{:na-520 :na-530 :na-540},
  :incidence-set #{:na-513},
  :htn-node :hem-433,
  :end-node :node-510},
 :node-519
 {:tpn-type :state,
  :uid :node-519,
  :constraints #{},
  :activities #{:act-518},
  :incidence-set #{:na-520},
  :htn-node :hem-440,
  :end-node :node-516},
 :node-522
 {:tpn-type :state,
  :uid :node-522,
  :constraints #{},
  :activities #{:na-525},
  :incidence-set #{:act-528}},
 :node-529
 {:tpn-type :state,
  :uid :node-529,
  :constraints #{},
  :activities #{:act-528},
  :incidence-set #{:na-530},
  :htn-node :hem-443,
  :end-node :node-526},
 :node-532
 {:tpn-type :state,
  :uid :node-532,
  :constraints #{},
  :activities #{:na-535},
  :incidence-set #{:act-538}},
 :node-539
 {:tpn-type :state,
  :uid :node-539,
  :constraints #{},
  :activities #{:act-538},
  :incidence-set #{:na-540},
  :htn-node :hem-446,
  :end-node :node-536},
 :tc-278
 {:tpn-type :temporal-constraint,
  :uid :tc-278,
  :value [20 30],
  :end-node :node-285},
 :tc-283
 {:tpn-type :temporal-constraint,
  :uid :tc-283,
  :value [5 10],
  :end-node :node-289},
 :tc-301
 {:tpn-type :temporal-constraint,
  :uid :tc-301,
  :value [15 25],
  :end-node :node-298},
 :tc-316
 {:tpn-type :temporal-constraint,
  :uid :tc-316,
  :value [15 25],
  :end-node :node-307},
 :tc-326
 {:tpn-type :temporal-constraint,
  :uid :tc-326,
  :value [15 25],
  :end-node :node-321},
 :tc-336
 {:tpn-type :temporal-constraint,
  :uid :tc-336,
  :value [15 25],
  :end-node :node-331},
 :tc-347
 {:tpn-type :temporal-constraint,
  :uid :tc-347,
  :value [20 30],
  :end-node :node-354},
 :tc-352
 {:tpn-type :temporal-constraint,
  :uid :tc-352,
  :value [5 10],
  :end-node :node-341},
 :tc-370
 {:tpn-type :temporal-constraint,
  :uid :tc-370,
  :value [15 25],
  :end-node :node-367},
 :tc-385
 {:tpn-type :temporal-constraint,
  :uid :tc-385,
  :value [15 25],
  :end-node :node-376},
 :tc-395
 {:tpn-type :temporal-constraint,
  :uid :tc-395,
  :value [15 25],
  :end-node :node-390},
 :tc-405
 {:tpn-type :temporal-constraint,
  :uid :tc-405,
  :value [15 25],
  :end-node :node-400},
 :tc-416
 {:tpn-type :temporal-constraint,
  :uid :tc-416,
  :value [20 30],
  :end-node :node-423},
 :tc-421
 {:tpn-type :temporal-constraint,
  :uid :tc-421,
  :value [5 10],
  :end-node :node-410},
 :tc-439
 {:tpn-type :temporal-constraint,
  :uid :tc-439,
  :value [15 25],
  :end-node :node-436},
 :tc-454
 {:tpn-type :temporal-constraint,
  :uid :tc-454,
  :value [15 25],
  :end-node :node-445},
 :tc-464
 {:tpn-type :temporal-constraint,
  :uid :tc-464,
  :value [15 25],
  :end-node :node-459},
 :tc-474
 {:tpn-type :temporal-constraint,
  :uid :tc-474,
  :value [15 25],
  :end-node :node-469},
 :tc-485
 {:tpn-type :temporal-constraint,
  :uid :tc-485,
  :value [20 30],
  :end-node :node-492},
 :tc-490
 {:tpn-type :temporal-constraint,
  :uid :tc-490,
  :value [5 10],
  :end-node :node-479},
 :tc-502
 {:tpn-type :temporal-constraint,
  :uid :tc-502,
  :value [15 25],
  :end-node :node-499},
 :tc-517
 {:tpn-type :temporal-constraint,
  :uid :tc-517,
  :value [15 25],
  :end-node :node-508},
 :tc-527
 {:tpn-type :temporal-constraint,
  :uid :tc-527,
  :value [15 25],
  :end-node :node-522},
 :tc-537
 {:tpn-type :temporal-constraint,
  :uid :tc-537,
  :value [15 25],
  :end-node :node-532}}
