{:hedge-119 {:end-node :hem-43, :type :edge, :uid :hedge-119},
 :hedge-121
 {:display-name "1", :end-node :hem-47, :type :edge, :uid :hedge-121},
 :hedge-123 {:end-node :hpt-46, :type :edge, :uid :hedge-123},
 :hedge-124 {:end-node :henpt-39, :type :edge, :uid :hedge-124},
 :hedge-125
 {:display-name "2", :end-node :hem-51, :type :edge, :uid :hedge-125},
 :hedge-127 {:end-node :hem-54, :type :edge, :uid :hedge-127},
 :hedge-129
 {:display-name "1", :end-node :hem-57, :type :edge, :uid :hedge-129},
 :hedge-131 {:end-node :henpt-53, :type :edge, :uid :hedge-131},
 :hedge-132
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-59,
  :type :edge,
  :uid :hedge-132},
 :hedge-134
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-61,
  :type :edge,
  :uid :hedge-134},
 :hedge-136
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-63,
  :type :edge,
  :uid :hedge-136},
 :hedge-138 {:end-node :hem-66, :type :edge, :uid :hedge-138},
 :hedge-140 {:end-node :hpt-65, :type :edge, :uid :hedge-140},
 :hedge-141 {:end-node :henpt-40, :type :edge, :uid :hedge-141},
 :hedge-142
 {:display-name "3", :end-node :hem-70, :type :edge, :uid :hedge-142},
 :hedge-144 {:end-node :hem-73, :type :edge, :uid :hedge-144},
 :hedge-146
 {:display-name "1", :end-node :hem-76, :type :edge, :uid :hedge-146},
 :hedge-148 {:end-node :henpt-72, :type :edge, :uid :hedge-148},
 :hedge-149
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-78,
  :type :edge,
  :uid :hedge-149},
 :hedge-151
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-80,
  :type :edge,
  :uid :hedge-151},
 :hedge-153
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-82,
  :type :edge,
  :uid :hedge-153},
 :hedge-155 {:end-node :hem-85, :type :edge, :uid :hedge-155},
 :hedge-157 {:end-node :hpt-84, :type :edge, :uid :hedge-157},
 :hedge-158 {:end-node :henpt-41, :type :edge, :uid :hedge-158},
 :hedge-159
 {:display-name "4", :end-node :hem-89, :type :edge, :uid :hedge-159},
 :hedge-161 {:end-node :hem-92, :type :edge, :uid :hedge-161},
 :hedge-163
 {:display-name "1", :end-node :hem-95, :type :edge, :uid :hedge-163},
 :hedge-165 {:end-node :henpt-91, :type :edge, :uid :hedge-165},
 :hedge-166
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-97,
  :type :edge,
  :uid :hedge-166},
 :hedge-168
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-99,
  :type :edge,
  :uid :hedge-168},
 :hedge-170
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-101,
  :type :edge,
  :uid :hedge-170},
 :hedge-172 {:end-node :hem-104, :type :edge, :uid :hedge-172},
 :hedge-174 {:end-node :hpt-103, :type :edge, :uid :hedge-174},
 :hedge-175 {:end-node :henpt-42, :type :edge, :uid :hedge-175},
 :hedge-176
 {:display-name "5", :end-node :hem-108, :type :edge, :uid :hedge-176},
 :hedge-178
 {:display-name "1", :end-node :hem-111, :type :edge, :uid :hedge-178},
 :hedge-180 {:end-node :henpt-107, :type :edge, :uid :hedge-180},
 :hedge-181
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-113,
  :type :edge,
  :uid :hedge-181},
 :hedge-183
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-115,
  :type :edge,
  :uid :hedge-183},
 :hedge-185
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-117,
  :type :edge,
  :uid :hedge-185},
 :hem-101
 {:args ["C"],
  :display-args ["C"],
  :display-name "Interpret-2",
  :edges [],
  :incidence-set #{},
  :network :net-171,
  :type :htn-expanded-method,
  :uid :hem-101},
 :hem-104
 {:args ["D"],
  :display-args ["D"],
  :display-name "Get Data At",
  :edges [],
  :incidence-set #{},
  :network :net-173,
  :type :htn-expanded-method,
  :uid :hem-104},
 :hem-108
 {:args ["D"],
  :display-args ["D"],
  :display-name "Evidence And Interpret",
  :edges [:hedge-178 :hedge-181 :hedge-183 :hedge-185],
  :incidence-set #{},
  :network :net-177,
  :type :htn-expanded-method,
  :uid :hem-108},
 :hem-111
 {:args ["D"],
  :display-args ["D"],
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :network :net-179,
  :type :htn-expanded-method,
  :uid :hem-111},
 :hem-113
 {:args ["D"],
  :display-args ["D"],
  :display-name "Interpret-0",
  :edges [],
  :incidence-set #{},
  :network :net-182,
  :type :htn-expanded-method,
  :uid :hem-113},
 :hem-115
 {:args ["D"],
  :display-args ["D"],
  :display-name "Interpret-1",
  :edges [],
  :incidence-set #{},
  :network :net-184,
  :type :htn-expanded-method,
  :uid :hem-115},
 :hem-117
 {:args ["D"],
  :display-args ["D"],
  :display-name "Interpret-2",
  :edges [],
  :incidence-set #{},
  :network :net-186,
  :type :htn-expanded-method,
  :uid :hem-117},
 :hem-43
 {:args ["A" "B" "C" "D"],
  :display-args ["A" "B" "C" "D"],
  :display-name "Main",
  :edges [:hedge-121 :hedge-125 :hedge-142 :hedge-159 :hedge-176],
  :incidence-set #{:hedge-119},
  :network :net-120,
  :type :htn-expanded-method,
  :uid :hem-43},
 :hem-47
 {:args ["A"],
  :display-args ["A"],
  :display-name "Get Data At",
  :edges [],
  :incidence-set #{},
  :network :net-122,
  :type :htn-expanded-method,
  :uid :hem-47},
 :hem-51
 {:args ["A" "B"],
  :display-args ["A" "B"],
  :display-name "Get Data And Interpret",
  :edges [:hedge-127 :hedge-138],
  :incidence-set #{},
  :network :net-126,
  :type :htn-expanded-method,
  :uid :hem-51},
 :hem-54
 {:args ["A"],
  :display-args ["A"],
  :display-name "Evidence And Interpret",
  :edges [:hedge-129 :hedge-132 :hedge-134 :hedge-136],
  :incidence-set #{},
  :network :net-128,
  :type :htn-expanded-method,
  :uid :hem-54},
 :hem-57
 {:args ["A"],
  :display-args ["A"],
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :network :net-130,
  :type :htn-expanded-method,
  :uid :hem-57},
 :hem-59
 {:args ["A"],
  :display-args ["A"],
  :display-name "Interpret-0",
  :edges [],
  :incidence-set #{},
  :network :net-133,
  :type :htn-expanded-method,
  :uid :hem-59},
 :hem-61
 {:args ["A"],
  :display-args ["A"],
  :display-name "Interpret-1",
  :edges [],
  :incidence-set #{},
  :network :net-135,
  :type :htn-expanded-method,
  :uid :hem-61},
 :hem-63
 {:args ["A"],
  :display-args ["A"],
  :display-name "Interpret-2",
  :edges [],
  :incidence-set #{},
  :network :net-137,
  :type :htn-expanded-method,
  :uid :hem-63},
 :hem-66
 {:args ["B"],
  :display-args ["B"],
  :display-name "Get Data At",
  :edges [],
  :incidence-set #{},
  :network :net-139,
  :type :htn-expanded-method,
  :uid :hem-66},
 :hem-70
 {:args ["B" "C"],
  :display-args ["B" "C"],
  :display-name "Get Data And Interpret",
  :edges [:hedge-144 :hedge-155],
  :incidence-set #{},
  :network :net-143,
  :type :htn-expanded-method,
  :uid :hem-70},
 :hem-73
 {:args ["B"],
  :display-args ["B"],
  :display-name "Evidence And Interpret",
  :edges [:hedge-146 :hedge-149 :hedge-151 :hedge-153],
  :incidence-set #{},
  :network :net-145,
  :type :htn-expanded-method,
  :uid :hem-73},
 :hem-76
 {:args ["B"],
  :display-args ["B"],
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :network :net-147,
  :type :htn-expanded-method,
  :uid :hem-76},
 :hem-78
 {:args ["B"],
  :display-args ["B"],
  :display-name "Interpret-0",
  :edges [],
  :incidence-set #{},
  :network :net-150,
  :type :htn-expanded-method,
  :uid :hem-78},
 :hem-80
 {:args ["B"],
  :display-args ["B"],
  :display-name "Interpret-1",
  :edges [],
  :incidence-set #{},
  :network :net-152,
  :type :htn-expanded-method,
  :uid :hem-80},
 :hem-82
 {:args ["B"],
  :display-args ["B"],
  :display-name "Interpret-2",
  :edges [],
  :incidence-set #{},
  :network :net-154,
  :type :htn-expanded-method,
  :uid :hem-82},
 :hem-85
 {:args ["C"],
  :display-args ["C"],
  :display-name "Get Data At",
  :edges [],
  :incidence-set #{},
  :network :net-156,
  :type :htn-expanded-method,
  :uid :hem-85},
 :hem-89
 {:args ["C" "D"],
  :display-args ["C" "D"],
  :display-name "Get Data And Interpret",
  :edges [:hedge-161 :hedge-172],
  :incidence-set #{},
  :network :net-160,
  :type :htn-expanded-method,
  :uid :hem-89},
 :hem-92
 {:args ["C"],
  :display-args ["C"],
  :display-name "Evidence And Interpret",
  :edges [:hedge-163 :hedge-166 :hedge-168 :hedge-170],
  :incidence-set #{},
  :network :net-162,
  :type :htn-expanded-method,
  :uid :hem-92},
 :hem-95
 {:args ["C"],
  :display-args ["C"],
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :network :net-164,
  :type :htn-expanded-method,
  :uid :hem-95},
 :hem-97
 {:args ["C"],
  :display-args ["C"],
  :display-name "Interpret-0",
  :edges [],
  :incidence-set #{},
  :network :net-167,
  :type :htn-expanded-method,
  :uid :hem-97},
 :hem-99
 {:args ["C"],
  :display-args ["C"],
  :display-name "Interpret-1",
  :edges [],
  :incidence-set #{},
  :network :net-169,
  :type :htn-expanded-method,
  :uid :hem-99},
 :henpt-106
 {:args ["D"],
  :argsmap {"at" "D"},
  :display-args ["D"],
  :display-name "Evidence",
  :edges [:hedge-180],
  :incidence-set #{},
  :name "evidence",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-106},
 :henpt-107
 {:args ["D"],
  :argsmap {"place" "D"},
  :display-args ["D"],
  :display-name "Interpret",
  :edges [],
  :incidence-set #{:hedge-180},
  :name "interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-107},
 :henpt-37
 {:display-name "isr-htn",
  :edges [:hedge-119],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-37},
 :henpt-38
 {:args ["A"],
  :argsmap {"loc" "A"},
  :display-args ["A"],
  :display-name "Get Data At",
  :edges [:hedge-124],
  :incidence-set #{},
  :name "get-data-at",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-38},
 :henpt-39
 {:args ["A" "B"],
  :argsmap {"location1" "A", "location2" "B"},
  :display-args ["A" "B"],
  :display-name "Get Data And Interpret",
  :edges [:hedge-141],
  :incidence-set #{:hedge-124},
  :name "get-data-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-39},
 :henpt-40
 {:args ["B" "C"],
  :argsmap {"location1" "B", "location2" "C"},
  :display-args ["B" "C"],
  :display-name "Get Data And Interpret",
  :edges [:hedge-158],
  :incidence-set #{:hedge-141},
  :name "get-data-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-40},
 :henpt-41
 {:args ["C" "D"],
  :argsmap {"location1" "C", "location2" "D"},
  :display-args ["C" "D"],
  :display-name "Get Data And Interpret",
  :edges [:hedge-175],
  :incidence-set #{:hedge-158},
  :name "get-data-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-41},
 :henpt-42
 {:args ["D"],
  :argsmap {"from" "D"},
  :display-args ["D"],
  :display-name "Evidence And Interpret",
  :edges [],
  :incidence-set #{:hedge-175},
  :name "evidence-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-42},
 :henpt-49
 {:args ["A"],
  :argsmap {"from" "A"},
  :display-args ["A"],
  :display-name "Evidence And Interpret",
  :edges [],
  :incidence-set #{},
  :name "evidence-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-49},
 :henpt-50
 {:args ["B"],
  :argsmap {"loc" "B"},
  :display-args ["B"],
  :display-name "Get Data At",
  :edges [],
  :incidence-set #{},
  :name "get-data-at",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-50},
 :henpt-52
 {:args ["A"],
  :argsmap {"at" "A"},
  :display-args ["A"],
  :display-name "Evidence",
  :edges [:hedge-131],
  :incidence-set #{},
  :name "evidence",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-52},
 :henpt-53
 {:args ["A"],
  :argsmap {"place" "A"},
  :display-args ["A"],
  :display-name "Interpret",
  :edges [],
  :incidence-set #{:hedge-131},
  :name "interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-53},
 :henpt-68
 {:args ["B"],
  :argsmap {"from" "B"},
  :display-args ["B"],
  :display-name "Evidence And Interpret",
  :edges [],
  :incidence-set #{},
  :name "evidence-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-68},
 :henpt-69
 {:args ["C"],
  :argsmap {"loc" "C"},
  :display-args ["C"],
  :display-name "Get Data At",
  :edges [],
  :incidence-set #{},
  :name "get-data-at",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-69},
 :henpt-71
 {:args ["B"],
  :argsmap {"at" "B"},
  :display-args ["B"],
  :display-name "Evidence",
  :edges [:hedge-148],
  :incidence-set #{},
  :name "evidence",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-71},
 :henpt-72
 {:args ["B"],
  :argsmap {"place" "B"},
  :display-args ["B"],
  :display-name "Interpret",
  :edges [],
  :incidence-set #{:hedge-148},
  :name "interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-72},
 :henpt-87
 {:args ["C"],
  :argsmap {"from" "C"},
  :display-args ["C"],
  :display-name "Evidence And Interpret",
  :edges [],
  :incidence-set #{},
  :name "evidence-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-87},
 :henpt-88
 {:args ["D"],
  :argsmap {"loc" "D"},
  :display-args ["D"],
  :display-name "Get Data At",
  :edges [],
  :incidence-set #{},
  :name "get-data-at",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-88},
 :henpt-90
 {:args ["C"],
  :argsmap {"at" "C"},
  :display-args ["C"],
  :display-name "Evidence",
  :edges [:hedge-165],
  :incidence-set #{},
  :name "evidence",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-90},
 :henpt-91
 {:args ["C"],
  :argsmap {"place" "C"},
  :display-args ["C"],
  :display-name "Interpret",
  :edges [],
  :incidence-set #{:hedge-165},
  :name "interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-91},
 :hpt-100
 {:args ["C"],
  :argsmap {"location" "C"},
  :display-args ["C"],
  :display-name "Interpret 3",
  :edges [],
  :incidence-set #{},
  :name "interpret3",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-100},
 :hpt-102
 {:args ["D"],
  :argsmap {"location" "D"},
  :display-args ["D"],
  :display-name "Go To",
  :edges [:hedge-174],
  :incidence-set #{},
  :name "go-to",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-102},
 :hpt-103
 {:args ["D"],
  :argsmap {"location" "D"},
  :display-args ["D"],
  :display-name "Capture",
  :edges [],
  :incidence-set #{:hedge-174},
  :name "capture",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-103},
 :hpt-110
 {:args ["D"],
  :argsmap {"location" "D"},
  :display-args ["D"],
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :name "evidence",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-110},
 :hpt-112
 {:args ["D"],
  :argsmap {"location" "D"},
  :display-args ["D"],
  :display-name "Interpret 1",
  :edges [],
  :incidence-set #{},
  :name "interpret1",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-112},
 :hpt-114
 {:args ["D"],
  :argsmap {"location" "D"},
  :display-args ["D"],
  :display-name "Interpret 2",
  :edges [],
  :incidence-set #{},
  :name "interpret2",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-114},
 :hpt-116
 {:args ["D"],
  :argsmap {"location" "D"},
  :display-args ["D"],
  :display-name "Interpret 3",
  :edges [],
  :incidence-set #{},
  :name "interpret3",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-116},
 :hpt-45
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-args ["A"],
  :display-name "Go To",
  :edges [:hedge-123],
  :incidence-set #{},
  :name "go-to",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-45},
 :hpt-46
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-args ["A"],
  :display-name "Capture",
  :edges [],
  :incidence-set #{:hedge-123},
  :name "capture",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-46},
 :hpt-56
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-args ["A"],
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :name "evidence",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-56},
 :hpt-58
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-args ["A"],
  :display-name "Interpret 1",
  :edges [],
  :incidence-set #{},
  :name "interpret1",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-58},
 :hpt-60
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-args ["A"],
  :display-name "Interpret 2",
  :edges [],
  :incidence-set #{},
  :name "interpret2",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-60},
 :hpt-62
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-args ["A"],
  :display-name "Interpret 3",
  :edges [],
  :incidence-set #{},
  :name "interpret3",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-62},
 :hpt-64
 {:args ["B"],
  :argsmap {"location" "B"},
  :display-args ["B"],
  :display-name "Go To",
  :edges [:hedge-140],
  :incidence-set #{},
  :name "go-to",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-64},
 :hpt-65
 {:args ["B"],
  :argsmap {"location" "B"},
  :display-args ["B"],
  :display-name "Capture",
  :edges [],
  :incidence-set #{:hedge-140},
  :name "capture",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-65},
 :hpt-75
 {:args ["B"],
  :argsmap {"location" "B"},
  :display-args ["B"],
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :name "evidence",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-75},
 :hpt-77
 {:args ["B"],
  :argsmap {"location" "B"},
  :display-args ["B"],
  :display-name "Interpret 1",
  :edges [],
  :incidence-set #{},
  :name "interpret1",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-77},
 :hpt-79
 {:args ["B"],
  :argsmap {"location" "B"},
  :display-args ["B"],
  :display-name "Interpret 2",
  :edges [],
  :incidence-set #{},
  :name "interpret2",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-79},
 :hpt-81
 {:args ["B"],
  :argsmap {"location" "B"},
  :display-args ["B"],
  :display-name "Interpret 3",
  :edges [],
  :incidence-set #{},
  :name "interpret3",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-81},
 :hpt-83
 {:args ["C"],
  :argsmap {"location" "C"},
  :display-args ["C"],
  :display-name "Go To",
  :edges [:hedge-157],
  :incidence-set #{},
  :name "go-to",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-83},
 :hpt-84
 {:args ["C"],
  :argsmap {"location" "C"},
  :display-args ["C"],
  :display-name "Capture",
  :edges [],
  :incidence-set #{:hedge-157},
  :name "capture",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-84},
 :hpt-94
 {:args ["C"],
  :argsmap {"location" "C"},
  :display-args ["C"],
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :name "evidence",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-94},
 :hpt-96
 {:args ["C"],
  :argsmap {"location" "C"},
  :display-args ["C"],
  :display-name "Interpret 1",
  :edges [],
  :incidence-set #{},
  :name "interpret1",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-96},
 :hpt-98
 {:args ["C"],
  :argsmap {"location" "C"},
  :display-args ["C"],
  :display-name "Interpret 2",
  :edges [],
  :incidence-set #{},
  :name "interpret2",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-98},
 :net-118
 {:display-name "isr-htn",
  :rootnodes #{:henpt-37},
  :type :htn-network,
  :uid :net-118},
 :net-120
 {:display-name "Main",
  :rootnodes #{:henpt-38},
  :type :htn-network,
  :uid :net-120},
 :net-122
 {:display-name "Get Data At",
  :rootnodes #{:hpt-45},
  :type :htn-network,
  :uid :net-122},
 :net-126
 {:display-name "Get Data And Interpret",
  :rootnodes #{:henpt-49 :henpt-50},
  :type :htn-network,
  :uid :net-126},
 :net-128
 {:display-name "Evidence And Interpret",
  :rootnodes #{:henpt-52},
  :type :htn-network,
  :uid :net-128},
 :net-130
 {:display-name "Evidence",
  :rootnodes #{:hpt-56},
  :type :htn-network,
  :uid :net-130},
 :net-133
 {:display-name "Interpret-0",
  :rootnodes #{:hpt-58},
  :type :htn-network,
  :uid :net-133},
 :net-135
 {:display-name "Interpret-1",
  :rootnodes #{:hpt-60},
  :type :htn-network,
  :uid :net-135},
 :net-137
 {:display-name "Interpret-2",
  :rootnodes #{:hpt-62},
  :type :htn-network,
  :uid :net-137},
 :net-139
 {:display-name "Get Data At",
  :rootnodes #{:hpt-64},
  :type :htn-network,
  :uid :net-139},
 :net-143
 {:display-name "Get Data And Interpret",
  :rootnodes #{:henpt-68 :henpt-69},
  :type :htn-network,
  :uid :net-143},
 :net-145
 {:display-name "Evidence And Interpret",
  :rootnodes #{:henpt-71},
  :type :htn-network,
  :uid :net-145},
 :net-147
 {:display-name "Evidence",
  :rootnodes #{:hpt-75},
  :type :htn-network,
  :uid :net-147},
 :net-150
 {:display-name "Interpret-0",
  :rootnodes #{:hpt-77},
  :type :htn-network,
  :uid :net-150},
 :net-152
 {:display-name "Interpret-1",
  :rootnodes #{:hpt-79},
  :type :htn-network,
  :uid :net-152},
 :net-154
 {:display-name "Interpret-2",
  :rootnodes #{:hpt-81},
  :type :htn-network,
  :uid :net-154},
 :net-156
 {:display-name "Get Data At",
  :rootnodes #{:hpt-83},
  :type :htn-network,
  :uid :net-156},
 :net-160
 {:display-name "Get Data And Interpret",
  :rootnodes #{:henpt-87 :henpt-88},
  :type :htn-network,
  :uid :net-160},
 :net-162
 {:display-name "Evidence And Interpret",
  :rootnodes #{:henpt-90},
  :type :htn-network,
  :uid :net-162},
 :net-164
 {:display-name "Evidence",
  :rootnodes #{:hpt-94},
  :type :htn-network,
  :uid :net-164},
 :net-167
 {:display-name "Interpret-0",
  :rootnodes #{:hpt-96},
  :type :htn-network,
  :uid :net-167},
 :net-169
 {:display-name "Interpret-1",
  :rootnodes #{:hpt-98},
  :type :htn-network,
  :uid :net-169},
 :net-171
 {:display-name "Interpret-2",
  :rootnodes #{:hpt-100},
  :type :htn-network,
  :uid :net-171},
 :net-173
 {:display-name "Get Data At",
  :rootnodes #{:hpt-102},
  :type :htn-network,
  :uid :net-173},
 :net-177
 {:display-name "Evidence And Interpret",
  :rootnodes #{:henpt-106},
  :type :htn-network,
  :uid :net-177},
 :net-179
 {:display-name "Evidence",
  :rootnodes #{:hpt-110},
  :type :htn-network,
  :uid :net-179},
 :net-182
 {:display-name "Interpret-0",
  :rootnodes #{:hpt-112},
  :type :htn-network,
  :uid :net-182},
 :net-184
 {:display-name "Interpret-1",
  :rootnodes #{:hpt-114},
  :type :htn-network,
  :uid :net-184},
 :net-186
 {:display-name "Interpret-2",
  :rootnodes #{:hpt-116},
  :type :htn-network,
  :uid :net-186},
 :network :net-118}
