{:hedge-448 {:type :edge, :uid :hedge-448, :end-node :hem-352},
 :hedge-450
 {:type :edge, :uid :hedge-450, :label "1", :end-node :hem-357},
 :hedge-452 {:type :edge, :uid :hedge-452, :end-node :hpt-355},
 :hedge-453 {:type :edge, :uid :hedge-453, :end-node :henpt-348},
 :hedge-454
 {:type :edge, :uid :hedge-454, :label "2", :end-node :hem-361},
 :hedge-456 {:type :edge, :uid :hedge-456, :end-node :hem-364},
 :hedge-458
 {:type :edge, :uid :hedge-458, :label "1", :end-node :hem-368},
 :hedge-460 {:type :edge, :uid :hedge-460, :end-node :henpt-363},
 :hedge-461
 {:type :edge,
  :uid :hedge-461,
  :label "2",
  :end-node :hem-371,
  :edge-type :choice},
 :hedge-463
 {:type :edge,
  :uid :hedge-463,
  :label "2",
  :end-node :hem-374,
  :edge-type :choice},
 :hedge-465
 {:type :edge,
  :uid :hedge-465,
  :label "2",
  :end-node :hem-377,
  :edge-type :choice},
 :hedge-467 {:type :edge, :uid :hedge-467, :end-node :hem-381},
 :hedge-469 {:type :edge, :uid :hedge-469, :end-node :hpt-379},
 :hedge-470 {:type :edge, :uid :hedge-470, :end-node :henpt-349},
 :hedge-471
 {:type :edge, :uid :hedge-471, :label "3", :end-node :hem-385},
 :hedge-473 {:type :edge, :uid :hedge-473, :end-node :hem-388},
 :hedge-475
 {:type :edge, :uid :hedge-475, :label "1", :end-node :hem-392},
 :hedge-477 {:type :edge, :uid :hedge-477, :end-node :henpt-387},
 :hedge-478
 {:type :edge,
  :uid :hedge-478,
  :label "2",
  :end-node :hem-395,
  :edge-type :choice},
 :hedge-480
 {:type :edge,
  :uid :hedge-480,
  :label "2",
  :end-node :hem-398,
  :edge-type :choice},
 :hedge-482
 {:type :edge,
  :uid :hedge-482,
  :label "2",
  :end-node :hem-401,
  :edge-type :choice},
 :hedge-484 {:type :edge, :uid :hedge-484, :end-node :hem-405},
 :hedge-486 {:type :edge, :uid :hedge-486, :end-node :hpt-403},
 :hedge-487 {:type :edge, :uid :hedge-487, :end-node :henpt-350},
 :hedge-488
 {:type :edge, :uid :hedge-488, :label "4", :end-node :hem-409},
 :hedge-490 {:type :edge, :uid :hedge-490, :end-node :hem-412},
 :hedge-492
 {:type :edge, :uid :hedge-492, :label "1", :end-node :hem-416},
 :hedge-494 {:type :edge, :uid :hedge-494, :end-node :henpt-411},
 :hedge-495
 {:type :edge,
  :uid :hedge-495,
  :label "2",
  :end-node :hem-419,
  :edge-type :choice},
 :hedge-497
 {:type :edge,
  :uid :hedge-497,
  :label "2",
  :end-node :hem-422,
  :edge-type :choice},
 :hedge-499
 {:type :edge,
  :uid :hedge-499,
  :label "2",
  :end-node :hem-425,
  :edge-type :choice},
 :hedge-501 {:type :edge, :uid :hedge-501, :end-node :hem-429},
 :hedge-503 {:type :edge, :uid :hedge-503, :end-node :hpt-427},
 :hedge-504 {:type :edge, :uid :hedge-504, :end-node :henpt-351},
 :hedge-505
 {:type :edge, :uid :hedge-505, :label "5", :end-node :hem-433},
 :hedge-507
 {:type :edge, :uid :hedge-507, :label "1", :end-node :hem-437},
 :hedge-509 {:type :edge, :uid :hedge-509, :end-node :henpt-432},
 :hedge-510
 {:type :edge,
  :uid :hedge-510,
  :label "2",
  :end-node :hem-440,
  :edge-type :choice},
 :hedge-512
 {:type :edge,
  :uid :hedge-512,
  :label "2",
  :end-node :hem-443,
  :edge-type :choice},
 :hedge-514
 {:type :edge,
  :uid :hedge-514,
  :label "2",
  :end-node :hem-446,
  :edge-type :choice},
 :hem-352
 {:uid :hem-352,
  :type :htn-expanded-method,
  :label "Main(A,B,C,D)",
  :display-name "Main",
  :network :net-449,
  :incidence-set #{:hedge-448},
  :edges [:hedge-450 :hedge-454 :hedge-471 :hedge-488 :hedge-505]},
 :hem-357
 {:uid :hem-357,
  :type :htn-expanded-method,
  :label "Get Data At(A)",
  :display-name "Get Data At",
  :network :net-451,
  :incidence-set #{},
  :edges []},
 :hem-361
 {:uid :hem-361,
  :type :htn-expanded-method,
  :label "Get Data And\nInterpret(A,B)",
  :display-name "Get Data And Interpret",
  :network :net-455,
  :incidence-set #{},
  :edges [:hedge-456 :hedge-467]},
 :hem-364
 {:uid :hem-364,
  :type :htn-expanded-method,
  :label "Evidence And\nInterpret(A)",
  :display-name "Evidence And Interpret",
  :network :net-457,
  :incidence-set #{},
  :edges [:hedge-458 :hedge-461 :hedge-463 :hedge-465]},
 :hem-368
 {:uid :hem-368,
  :type :htn-expanded-method,
  :label "Evidence(A)",
  :display-name "Evidence",
  :network :net-459,
  :incidence-set #{},
  :edges []},
 :hem-371
 {:uid :hem-371,
  :type :htn-expanded-method,
  :label "Interpret-0(A)",
  :display-name "Interpret-0",
  :network :net-462,
  :incidence-set #{},
  :edges []},
 :hem-374
 {:uid :hem-374,
  :type :htn-expanded-method,
  :label "Interpret-1(A)",
  :display-name "Interpret-1",
  :network :net-464,
  :incidence-set #{},
  :edges []},
 :hem-377
 {:uid :hem-377,
  :type :htn-expanded-method,
  :label "Interpret-2(A)",
  :display-name "Interpret-2",
  :network :net-466,
  :incidence-set #{},
  :edges []},
 :hem-381
 {:uid :hem-381,
  :type :htn-expanded-method,
  :label "Get Data At(B)",
  :display-name "Get Data At",
  :network :net-468,
  :incidence-set #{},
  :edges []},
 :hem-385
 {:uid :hem-385,
  :type :htn-expanded-method,
  :label "Get Data And\nInterpret(B,C)",
  :display-name "Get Data And Interpret",
  :network :net-472,
  :incidence-set #{},
  :edges [:hedge-473 :hedge-484]},
 :hem-388
 {:uid :hem-388,
  :type :htn-expanded-method,
  :label "Evidence And\nInterpret(B)",
  :display-name "Evidence And Interpret",
  :network :net-474,
  :incidence-set #{},
  :edges [:hedge-475 :hedge-478 :hedge-480 :hedge-482]},
 :hem-392
 {:uid :hem-392,
  :type :htn-expanded-method,
  :label "Evidence(B)",
  :display-name "Evidence",
  :network :net-476,
  :incidence-set #{},
  :edges []},
 :hem-395
 {:uid :hem-395,
  :type :htn-expanded-method,
  :label "Interpret-0(B)",
  :display-name "Interpret-0",
  :network :net-479,
  :incidence-set #{},
  :edges []},
 :hem-398
 {:uid :hem-398,
  :type :htn-expanded-method,
  :label "Interpret-1(B)",
  :display-name "Interpret-1",
  :network :net-481,
  :incidence-set #{},
  :edges []},
 :hem-401
 {:uid :hem-401,
  :type :htn-expanded-method,
  :label "Interpret-2(B)",
  :display-name "Interpret-2",
  :network :net-483,
  :incidence-set #{},
  :edges []},
 :hem-405
 {:uid :hem-405,
  :type :htn-expanded-method,
  :label "Get Data At(C)",
  :display-name "Get Data At",
  :network :net-485,
  :incidence-set #{},
  :edges []},
 :hem-409
 {:uid :hem-409,
  :type :htn-expanded-method,
  :label "Get Data And\nInterpret(C,D)",
  :display-name "Get Data And Interpret",
  :network :net-489,
  :incidence-set #{},
  :edges [:hedge-490 :hedge-501]},
 :hem-412
 {:uid :hem-412,
  :type :htn-expanded-method,
  :label "Evidence And\nInterpret(C)",
  :display-name "Evidence And Interpret",
  :network :net-491,
  :incidence-set #{},
  :edges [:hedge-492 :hedge-495 :hedge-497 :hedge-499]},
 :hem-416
 {:uid :hem-416,
  :type :htn-expanded-method,
  :label "Evidence(C)",
  :display-name "Evidence",
  :network :net-493,
  :incidence-set #{},
  :edges []},
 :hem-419
 {:uid :hem-419,
  :type :htn-expanded-method,
  :label "Interpret-0(C)",
  :display-name "Interpret-0",
  :network :net-496,
  :incidence-set #{},
  :edges []},
 :hem-422
 {:uid :hem-422,
  :type :htn-expanded-method,
  :label "Interpret-1(C)",
  :display-name "Interpret-1",
  :network :net-498,
  :incidence-set #{},
  :edges []},
 :hem-425
 {:uid :hem-425,
  :type :htn-expanded-method,
  :label "Interpret-2(C)",
  :display-name "Interpret-2",
  :network :net-500,
  :incidence-set #{},
  :edges []},
 :hem-429
 {:uid :hem-429,
  :type :htn-expanded-method,
  :label "Get Data At(D)",
  :display-name "Get Data At",
  :network :net-502,
  :incidence-set #{},
  :edges []},
 :hem-433
 {:uid :hem-433,
  :type :htn-expanded-method,
  :label "Evidence And\nInterpret(D)",
  :display-name "Evidence And Interpret",
  :network :net-506,
  :incidence-set #{},
  :edges [:hedge-507 :hedge-510 :hedge-512 :hedge-514]},
 :hem-437
 {:uid :hem-437,
  :type :htn-expanded-method,
  :label "Evidence(D)",
  :display-name "Evidence",
  :network :net-508,
  :incidence-set #{},
  :edges []},
 :hem-440
 {:uid :hem-440,
  :type :htn-expanded-method,
  :label "Interpret-0(D)",
  :display-name "Interpret-0",
  :network :net-511,
  :incidence-set #{},
  :edges []},
 :hem-443
 {:uid :hem-443,
  :type :htn-expanded-method,
  :label "Interpret-1(D)",
  :display-name "Interpret-1",
  :network :net-513,
  :incidence-set #{},
  :edges []},
 :hem-446
 {:uid :hem-446,
  :type :htn-expanded-method,
  :label "Interpret-2(D)",
  :display-name "Interpret-2",
  :network :net-515,
  :incidence-set #{},
  :edges []},
 :henpt-346
 {:uid :henpt-346,
  :type :htn-expanded-nonprimitive-task,
  :label "isr-htn",
  :display-name "isr-htn",
  :incidence-set #{},
  :edges [:hedge-448]},
 :henpt-347
 {:uid :henpt-347,
  :name "get-data-at",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-get-data-at",
  :display-name "Get Data At",
  :incidence-set #{},
  :edges [:hedge-453]},
 :henpt-348
 {:uid :henpt-348,
  :name "get-data-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-get-data-and-interpret",
  :display-name "Get Data And Interpret",
  :incidence-set #{:hedge-453},
  :edges [:hedge-470]},
 :henpt-349
 {:uid :henpt-349,
  :name "get-data-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-get-data-and-interpret",
  :display-name "Get Data And Interpret",
  :incidence-set #{:hedge-470},
  :edges [:hedge-487]},
 :henpt-350
 {:uid :henpt-350,
  :name "get-data-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-get-data-and-interpret",
  :display-name "Get Data And Interpret",
  :incidence-set #{:hedge-487},
  :edges [:hedge-504]},
 :henpt-351
 {:uid :henpt-351,
  :name "evidence-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-evidence-and-interpret",
  :display-name "Evidence And Interpret",
  :incidence-set #{:hedge-504},
  :edges []},
 :henpt-359
 {:uid :henpt-359,
  :name "evidence-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-evidence-and-interpret",
  :display-name "Evidence And Interpret",
  :incidence-set #{},
  :edges []},
 :henpt-360
 {:uid :henpt-360,
  :name "get-data-at",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-get-data-at",
  :display-name "Get Data At",
  :incidence-set #{},
  :edges []},
 :henpt-362
 {:uid :henpt-362,
  :name "evidence",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-evidence",
  :display-name "Evidence",
  :incidence-set #{},
  :edges [:hedge-460]},
 :henpt-363
 {:uid :henpt-363,
  :name "interpret",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-interpret",
  :display-name "Interpret",
  :incidence-set #{:hedge-460},
  :edges []},
 :henpt-383
 {:uid :henpt-383,
  :name "evidence-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-evidence-and-interpret",
  :display-name "Evidence And Interpret",
  :incidence-set #{},
  :edges []},
 :henpt-384
 {:uid :henpt-384,
  :name "get-data-at",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-get-data-at",
  :display-name "Get Data At",
  :incidence-set #{},
  :edges []},
 :henpt-386
 {:uid :henpt-386,
  :name "evidence",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-evidence",
  :display-name "Evidence",
  :incidence-set #{},
  :edges [:hedge-477]},
 :henpt-387
 {:uid :henpt-387,
  :name "interpret",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-interpret",
  :display-name "Interpret",
  :incidence-set #{:hedge-477},
  :edges []},
 :henpt-407
 {:uid :henpt-407,
  :name "evidence-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-evidence-and-interpret",
  :display-name "Evidence And Interpret",
  :incidence-set #{},
  :edges []},
 :henpt-408
 {:uid :henpt-408,
  :name "get-data-at",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-get-data-at",
  :display-name "Get Data At",
  :incidence-set #{},
  :edges []},
 :henpt-410
 {:uid :henpt-410,
  :name "evidence",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-evidence",
  :display-name "Evidence",
  :incidence-set #{},
  :edges [:hedge-494]},
 :henpt-411
 {:uid :henpt-411,
  :name "interpret",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-interpret",
  :display-name "Interpret",
  :incidence-set #{:hedge-494},
  :edges []},
 :henpt-431
 {:uid :henpt-431,
  :name "evidence",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-evidence",
  :display-name "Evidence",
  :incidence-set #{},
  :edges [:hedge-509]},
 :henpt-432
 {:uid :henpt-432,
  :name "interpret",
  :type :htn-expanded-nonprimitive-task,
  :label "TEMP-interpret",
  :display-name "Interpret",
  :incidence-set #{:hedge-509},
  :edges []},
 :hpt-354
 {:args ["A"],
  :interface "RMQ",
  :plantid "sensor1",
  :uid :hpt-354,
  :name "go-to",
  :argsmap {"location" "A"},
  :type :htn-primitive-task,
  :label "TEMP-go-to",
  :display-name "Go To",
  :incidence-set #{},
  :edges [:hedge-452],
  :plant-part "isr1"},
 :hpt-355
 {:args ["A"],
  :interface "RMQ",
  :plantid "sensor1",
  :uid :hpt-355,
  :name "capture",
  :argsmap {"location" "A"},
  :type :htn-primitive-task,
  :label "TEMP-capture",
  :display-name "Capture",
  :incidence-set #{:hedge-452},
  :edges [],
  :plant-part "isr1"},
 :hpt-366
 {:args ["A"],
  :interface "RMQ",
  :plantid "sensor1",
  :uid :hpt-366,
  :name "evidence",
  :argsmap {"location" "A"},
  :type :htn-primitive-task,
  :label "TEMP-evidence",
  :display-name "Evidence",
  :incidence-set #{},
  :edges [],
  :plant-part "isr1"},
 :hpt-369
 {:args ["A"],
  :interface "RMQ",
  :plantid "sensor1",
  :uid :hpt-369,
  :name "interpret1",
  :argsmap {"location" "A"},
  :type :htn-primitive-task,
  :label "TEMP-interpret1",
  :display-name "Interpret 1",
  :incidence-set #{},
  :edges [],
  :plant-part "isr1"},
 :hpt-372
 {:args ["A"],
  :interface "RMQ",
  :plantid "sensor1",
  :uid :hpt-372,
  :name "interpret2",
  :argsmap {"location" "A"},
  :type :htn-primitive-task,
  :label "TEMP-interpret2",
  :display-name "Interpret 2",
  :incidence-set #{},
  :edges [],
  :plant-part "isr1"},
 :hpt-375
 {:args ["A"],
  :interface "RMQ",
  :plantid "sensor1",
  :uid :hpt-375,
  :name "interpret3",
  :argsmap {"location" "A"},
  :type :htn-primitive-task,
  :label "TEMP-interpret3",
  :display-name "Interpret 3",
  :incidence-set #{},
  :edges [],
  :plant-part "isr1"},
 :hpt-378
 {:args ["B"],
  :interface "RMQ",
  :plantid "sensor1",
  :uid :hpt-378,
  :name "go-to",
  :argsmap {"location" "B"},
  :type :htn-primitive-task,
  :label "TEMP-go-to",
  :display-name "Go To",
  :incidence-set #{},
  :edges [:hedge-469],
  :plant-part "isr1"},
 :hpt-379
 {:args ["B"],
  :interface "RMQ",
  :plantid "sensor1",
  :uid :hpt-379,
  :name "capture",
  :argsmap {"location" "B"},
  :type :htn-primitive-task,
  :label "TEMP-capture",
  :display-name "Capture",
  :incidence-set #{:hedge-469},
  :edges [],
  :plant-part "isr1"},
 :hpt-390
 {:args ["B"],
  :interface "RMQ",
  :plantid "sensor1",
  :uid :hpt-390,
  :name "evidence",
  :argsmap {"location" "B"},
  :type :htn-primitive-task,
  :label "TEMP-evidence",
  :display-name "Evidence",
  :incidence-set #{},
  :edges [],
  :plant-part "isr1"},
 :hpt-393
 {:args ["B"],
  :interface "RMQ",
  :plantid "sensor1",
  :uid :hpt-393,
  :name "interpret1",
  :argsmap {"location" "B"},
  :type :htn-primitive-task,
  :label "TEMP-interpret1",
  :display-name "Interpret 1",
  :incidence-set #{},
  :edges [],
  :plant-part "isr1"},
 :hpt-396
 {:args ["B"],
  :interface "RMQ",
  :plantid "sensor1",
  :uid :hpt-396,
  :name "interpret2",
  :argsmap {"location" "B"},
  :type :htn-primitive-task,
  :label "TEMP-interpret2",
  :display-name "Interpret 2",
  :incidence-set #{},
  :edges [],
  :plant-part "isr1"},
 :hpt-399
 {:args ["B"],
  :interface "RMQ",
  :plantid "sensor1",
  :uid :hpt-399,
  :name "interpret3",
  :argsmap {"location" "B"},
  :type :htn-primitive-task,
  :label "TEMP-interpret3",
  :display-name "Interpret 3",
  :incidence-set #{},
  :edges [],
  :plant-part "isr1"},
 :hpt-402
 {:args ["C"],
  :interface "RMQ",
  :plantid "sensor1",
  :uid :hpt-402,
  :name "go-to",
  :argsmap {"location" "C"},
  :type :htn-primitive-task,
  :label "TEMP-go-to",
  :display-name "Go To",
  :incidence-set #{},
  :edges [:hedge-486],
  :plant-part "isr1"},
 :hpt-403
 {:args ["C"],
  :interface "RMQ",
  :plantid "sensor1",
  :uid :hpt-403,
  :name "capture",
  :argsmap {"location" "C"},
  :type :htn-primitive-task,
  :label "TEMP-capture",
  :display-name "Capture",
  :incidence-set #{:hedge-486},
  :edges [],
  :plant-part "isr1"},
 :hpt-414
 {:args ["C"],
  :interface "RMQ",
  :plantid "sensor1",
  :uid :hpt-414,
  :name "evidence",
  :argsmap {"location" "C"},
  :type :htn-primitive-task,
  :label "TEMP-evidence",
  :display-name "Evidence",
  :incidence-set #{},
  :edges [],
  :plant-part "isr1"},
 :hpt-417
 {:args ["C"],
  :interface "RMQ",
  :plantid "sensor1",
  :uid :hpt-417,
  :name "interpret1",
  :argsmap {"location" "C"},
  :type :htn-primitive-task,
  :label "TEMP-interpret1",
  :display-name "Interpret 1",
  :incidence-set #{},
  :edges [],
  :plant-part "isr1"},
 :hpt-420
 {:args ["C"],
  :interface "RMQ",
  :plantid "sensor1",
  :uid :hpt-420,
  :name "interpret2",
  :argsmap {"location" "C"},
  :type :htn-primitive-task,
  :label "TEMP-interpret2",
  :display-name "Interpret 2",
  :incidence-set #{},
  :edges [],
  :plant-part "isr1"},
 :hpt-423
 {:args ["C"],
  :interface "RMQ",
  :plantid "sensor1",
  :uid :hpt-423,
  :name "interpret3",
  :argsmap {"location" "C"},
  :type :htn-primitive-task,
  :label "TEMP-interpret3",
  :display-name "Interpret 3",
  :incidence-set #{},
  :edges [],
  :plant-part "isr1"},
 :hpt-426
 {:args ["D"],
  :interface "RMQ",
  :plantid "sensor1",
  :uid :hpt-426,
  :name "go-to",
  :argsmap {"location" "D"},
  :type :htn-primitive-task,
  :label "TEMP-go-to",
  :display-name "Go To",
  :incidence-set #{},
  :edges [:hedge-503],
  :plant-part "isr1"},
 :hpt-427
 {:args ["D"],
  :interface "RMQ",
  :plantid "sensor1",
  :uid :hpt-427,
  :name "capture",
  :argsmap {"location" "D"},
  :type :htn-primitive-task,
  :label "TEMP-capture",
  :display-name "Capture",
  :incidence-set #{:hedge-503},
  :edges [],
  :plant-part "isr1"},
 :hpt-435
 {:args ["D"],
  :interface "RMQ",
  :plantid "sensor1",
  :uid :hpt-435,
  :name "evidence",
  :argsmap {"location" "D"},
  :type :htn-primitive-task,
  :label "TEMP-evidence",
  :display-name "Evidence",
  :incidence-set #{},
  :edges [],
  :plant-part "isr1"},
 :hpt-438
 {:args ["D"],
  :interface "RMQ",
  :plantid "sensor1",
  :uid :hpt-438,
  :name "interpret1",
  :argsmap {"location" "D"},
  :type :htn-primitive-task,
  :label "TEMP-interpret1",
  :display-name "Interpret 1",
  :incidence-set #{},
  :edges [],
  :plant-part "isr1"},
 :hpt-441
 {:args ["D"],
  :interface "RMQ",
  :plantid "sensor1",
  :uid :hpt-441,
  :name "interpret2",
  :argsmap {"location" "D"},
  :type :htn-primitive-task,
  :label "TEMP-interpret2",
  :display-name "Interpret 2",
  :incidence-set #{},
  :edges [],
  :plant-part "isr1"},
 :hpt-444
 {:args ["D"],
  :interface "RMQ",
  :plantid "sensor1",
  :uid :hpt-444,
  :name "interpret3",
  :argsmap {"location" "D"},
  :type :htn-primitive-task,
  :label "TEMP-interpret3",
  :display-name "Interpret 3",
  :incidence-set #{},
  :edges [],
  :plant-part "isr1"},
 :net-447
 {:type :htn-network,
  :uid :net-447,
  :display-name "isr-htn",
  :label "isr-htn",
  :rootnodes #{:henpt-346}},
 :net-449
 {:type :htn-network,
  :uid :net-449,
  :display-name "Main(A,B,C,D)",
  :label "Main(A,B,C,D)",
  :rootnodes #{:henpt-347}},
 :net-451
 {:type :htn-network,
  :uid :net-451,
  :display-name "Get Data At(A)",
  :label "Get Data At(A)",
  :rootnodes #{:hpt-354}},
 :net-455
 {:type :htn-network,
  :uid :net-455,
  :display-name "Get Data And\nInterpret(A,B)",
  :label "Get Data And\nInterpret(A,B)",
  :rootnodes #{:henpt-359 :henpt-360}},
 :net-457
 {:type :htn-network,
  :uid :net-457,
  :display-name "Evidence And\nInterpret(A)",
  :label "Evidence And\nInterpret(A)",
  :rootnodes #{:henpt-362}},
 :net-459
 {:type :htn-network,
  :uid :net-459,
  :display-name "Evidence(A)",
  :label "Evidence(A)",
  :rootnodes #{:hpt-366}},
 :net-462
 {:type :htn-network,
  :uid :net-462,
  :display-name "Interpret-0(A)",
  :label "Interpret-0(A)",
  :rootnodes #{:hpt-369}},
 :net-464
 {:type :htn-network,
  :uid :net-464,
  :display-name "Interpret-1(A)",
  :label "Interpret-1(A)",
  :rootnodes #{:hpt-372}},
 :net-466
 {:type :htn-network,
  :uid :net-466,
  :display-name "Interpret-2(A)",
  :label "Interpret-2(A)",
  :rootnodes #{:hpt-375}},
 :net-468
 {:type :htn-network,
  :uid :net-468,
  :display-name "Get Data At(B)",
  :label "Get Data At(B)",
  :rootnodes #{:hpt-378}},
 :net-472
 {:type :htn-network,
  :uid :net-472,
  :display-name "Get Data And\nInterpret(B,C)",
  :label "Get Data And\nInterpret(B,C)",
  :rootnodes #{:henpt-384 :henpt-383}},
 :net-474
 {:type :htn-network,
  :uid :net-474,
  :display-name "Evidence And\nInterpret(B)",
  :label "Evidence And\nInterpret(B)",
  :rootnodes #{:henpt-386}},
 :net-476
 {:type :htn-network,
  :uid :net-476,
  :display-name "Evidence(B)",
  :label "Evidence(B)",
  :rootnodes #{:hpt-390}},
 :net-479
 {:type :htn-network,
  :uid :net-479,
  :display-name "Interpret-0(B)",
  :label "Interpret-0(B)",
  :rootnodes #{:hpt-393}},
 :net-481
 {:type :htn-network,
  :uid :net-481,
  :display-name "Interpret-1(B)",
  :label "Interpret-1(B)",
  :rootnodes #{:hpt-396}},
 :net-483
 {:type :htn-network,
  :uid :net-483,
  :display-name "Interpret-2(B)",
  :label "Interpret-2(B)",
  :rootnodes #{:hpt-399}},
 :net-485
 {:type :htn-network,
  :uid :net-485,
  :display-name "Get Data At(C)",
  :label "Get Data At(C)",
  :rootnodes #{:hpt-402}},
 :net-489
 {:type :htn-network,
  :uid :net-489,
  :display-name "Get Data And\nInterpret(C,D)",
  :label "Get Data And\nInterpret(C,D)",
  :rootnodes #{:henpt-408 :henpt-407}},
 :net-491
 {:type :htn-network,
  :uid :net-491,
  :display-name "Evidence And\nInterpret(C)",
  :label "Evidence And\nInterpret(C)",
  :rootnodes #{:henpt-410}},
 :net-493
 {:type :htn-network,
  :uid :net-493,
  :display-name "Evidence(C)",
  :label "Evidence(C)",
  :rootnodes #{:hpt-414}},
 :net-496
 {:type :htn-network,
  :uid :net-496,
  :display-name "Interpret-0(C)",
  :label "Interpret-0(C)",
  :rootnodes #{:hpt-417}},
 :net-498
 {:type :htn-network,
  :uid :net-498,
  :display-name "Interpret-1(C)",
  :label "Interpret-1(C)",
  :rootnodes #{:hpt-420}},
 :net-500
 {:type :htn-network,
  :uid :net-500,
  :display-name "Interpret-2(C)",
  :label "Interpret-2(C)",
  :rootnodes #{:hpt-423}},
 :net-502
 {:type :htn-network,
  :uid :net-502,
  :display-name "Get Data At(D)",
  :label "Get Data At(D)",
  :rootnodes #{:hpt-426}},
 :net-506
 {:type :htn-network,
  :uid :net-506,
  :display-name "Evidence And\nInterpret(D)",
  :label "Evidence And\nInterpret(D)",
  :rootnodes #{:henpt-431}},
 :net-508
 {:type :htn-network,
  :uid :net-508,
  :display-name "Evidence(D)",
  :label "Evidence(D)",
  :rootnodes #{:hpt-435}},
 :net-511
 {:type :htn-network,
  :uid :net-511,
  :display-name "Interpret-0(D)",
  :label "Interpret-0(D)",
  :rootnodes #{:hpt-438}},
 :net-513
 {:type :htn-network,
  :uid :net-513,
  :display-name "Interpret-1(D)",
  :label "Interpret-1(D)",
  :rootnodes #{:hpt-441}},
 :net-515
 {:type :htn-network,
  :uid :net-515,
  :display-name "Interpret-2(D)",
  :label "Interpret-2(D)",
  :rootnodes #{:hpt-444}},
 :network :net-447}
