{:act-16
 {:args ["A"],
  :constraints #{:tc-14},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-16,
  :name "Evidence(\"A\")",
  :tpn-type :activity,
  :argsmap {"location" "A"},
  :command "evidence",
  :htn-node :hem-44,
  :controllable false,
  :end-node :node-11,
  :label "TEMP-evidence",
  :display-name "Evidence",
  :plant-part "isr1"},
 :act-30
 {:args ["A"],
  :constraints #{:tc-29},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-30,
  :name "Interpret 1(\"A\")",
  :tpn-type :activity,
  :argsmap {"location" "A"},
  :command "interpret1",
  :htn-node :hem-47,
  :controllable false,
  :end-node :node-20,
  :label "TEMP-interpret1",
  :display-name "Interpret 1",
  :plant-part "isr1"},
 :act-40
 {:args ["A"],
  :constraints #{:tc-39},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-40,
  :name "Interpret 2(\"A\")",
  :tpn-type :activity,
  :argsmap {"location" "A"},
  :command "interpret2",
  :htn-node :hem-50,
  :controllable false,
  :end-node :node-34,
  :label "TEMP-interpret2",
  :display-name "Interpret 2",
  :plant-part "isr1"},
 :act-50
 {:args ["A"],
  :constraints #{:tc-49},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-50,
  :name "Interpret 3(\"A\")",
  :tpn-type :activity,
  :argsmap {"location" "A"},
  :command "interpret3",
  :htn-node :hem-53,
  :controllable false,
  :end-node :node-44,
  :label "TEMP-interpret3",
  :display-name "Interpret 3",
  :plant-part "isr1"},
 :act-61
 {:args ["B"],
  :constraints #{:tc-60},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-61,
  :name "Go To(\"B\")",
  :tpn-type :activity,
  :argsmap {"location" "B"},
  :command "go-to",
  :htn-node :hem-57,
  :controllable false,
  :end-node :node-67,
  :label "TEMP-go-to",
  :display-name "Go To",
  :plant-part "isr1"},
 :act-66
 {:args ["B"],
  :constraints #{:tc-65},
  :interface "RMQ",
  :plantid "sensor1",
  :uid :act-66,
  :name "Capture(\"B\")",
  :tpn-type :activity,
  :argsmap {"location" "B"},
  :command "capture",
  :htn-node :hem-57,
  :controllable false,
  :end-node :node-54,
  :label "TEMP-capture",
  :display-name "Capture",
  :plant-part "isr1"},
 :na-10
 {:tpn-type :null-activity,
  :uid :na-10,
  :constraints #{},
  :end-node :node-6},
 :na-18
 {:tpn-type :null-activity,
  :uid :na-18,
  :constraints #{},
  :end-node :node-17},
 :na-25
 {:tpn-type :null-activity,
  :uid :na-25,
  :constraints #{},
  :end-node :node-23},
 :na-27
 {:tpn-type :null-activity,
  :uid :na-27,
  :constraints #{},
  :end-node :node-22},
 :na-32
 {:tpn-type :null-activity,
  :uid :na-32,
  :constraints #{},
  :end-node :node-31},
 :na-37
 {:tpn-type :null-activity,
  :uid :na-37,
  :constraints #{},
  :end-node :node-22},
 :na-42
 {:tpn-type :null-activity,
  :uid :na-42,
  :constraints #{},
  :end-node :node-41},
 :na-47
 {:tpn-type :null-activity,
  :uid :na-47,
  :constraints #{},
  :end-node :node-22},
 :na-52
 {:tpn-type :null-activity,
  :uid :na-52,
  :constraints #{},
  :end-node :node-51},
 :na-58
 {:tpn-type :null-activity,
  :uid :na-58,
  :constraints #{},
  :end-node :node-6},
 :na-63
 {:tpn-type :null-activity,
  :uid :na-63,
  :constraints #{},
  :end-node :node-62},
 :net-3
 {:tpn-type :network,
  :uid :net-3,
  :begin-node :node-7,
  :end-node :node-6},
 :network-id :net-3,
 :node-11
 {:tpn-type :state,
  :uid :node-11,
  :constraints #{},
  :activities #{:na-25},
  :incidence-set #{:act-16}},
 :node-17
 {:tpn-type :state,
  :uid :node-17,
  :constraints #{},
  :activities #{:act-16},
  :incidence-set #{:na-18},
  :htn-node :hem-40,
  :end-node :node-11},
 :node-20
 {:tpn-type :state,
  :uid :node-20,
  :constraints #{},
  :activities #{:na-27},
  :incidence-set #{:act-30}},
 :node-22
 {:tpn-type :c-end,
  :uid :node-22,
  :constraints #{},
  :activities #{:na-10},
  :incidence-set #{:na-37 :na-27 :na-47}},
 :node-23
 {:tpn-type :c-begin,
  :uid :node-23,
  :constraints #{},
  :activities #{:na-52 :na-32 :na-42},
  :incidence-set #{:na-25},
  :htn-node :hem-40,
  :end-node :node-22},
 :node-31
 {:tpn-type :state,
  :uid :node-31,
  :constraints #{},
  :activities #{:act-30},
  :incidence-set #{:na-32},
  :htn-node :hem-47,
  :end-node :node-20},
 :node-34
 {:tpn-type :state,
  :uid :node-34,
  :constraints #{},
  :activities #{:na-37},
  :incidence-set #{:act-40}},
 :node-41
 {:tpn-type :state,
  :uid :node-41,
  :constraints #{},
  :activities #{:act-40},
  :incidence-set #{:na-42},
  :htn-node :hem-50,
  :end-node :node-34},
 :node-44
 {:tpn-type :state,
  :uid :node-44,
  :constraints #{},
  :activities #{:na-47},
  :incidence-set #{:act-50}},
 :node-51
 {:tpn-type :state,
  :uid :node-51,
  :constraints #{},
  :activities #{:act-50},
  :incidence-set #{:na-52},
  :htn-node :hem-53,
  :end-node :node-44},
 :node-54
 {:tpn-type :state,
  :uid :node-54,
  :constraints #{},
  :activities #{:na-58},
  :incidence-set #{:act-66}},
 :node-6
 {:tpn-type :p-end,
  :uid :node-6,
  :constraints #{},
  :activities #{},
  :incidence-set #{:na-10 :na-58}},
 :node-62
 {:tpn-type :state,
  :uid :node-62,
  :constraints #{},
  :activities #{:act-61},
  :incidence-set #{:na-63},
  :htn-node :hem-57,
  :end-node :node-67},
 :node-67
 {:tpn-type :state,
  :uid :node-67,
  :constraints #{},
  :activities #{:act-66},
  :incidence-set #{:act-61},
  :htn-node :hem-57,
  :end-node :node-54},
 :node-7
 {:tpn-type :p-begin,
  :uid :node-7,
  :constraints #{},
  :activities #{:na-63 :na-18},
  :incidence-set #{},
  :htn-node :hem-37,
  :end-node :node-6},
 :tc-14
 {:tpn-type :temporal-constraint,
  :uid :tc-14,
  :value [15 25],
  :end-node :node-11},
 :tc-29
 {:tpn-type :temporal-constraint,
  :uid :tc-29,
  :value [15 25],
  :end-node :node-20},
 :tc-39
 {:tpn-type :temporal-constraint,
  :uid :tc-39,
  :value [15 25],
  :end-node :node-34},
 :tc-49
 {:tpn-type :temporal-constraint,
  :uid :tc-49,
  :value [15 25],
  :end-node :node-44},
 :tc-60
 {:tpn-type :temporal-constraint,
  :uid :tc-60,
  :value [20 30],
  :end-node :node-67},
 :tc-65
 {:tpn-type :temporal-constraint,
  :uid :tc-65,
  :value [5 10],
  :end-node :node-54}}
