{:hedge-58 {:end-node :hem-40, :type :edge, :uid :hedge-58},
 :hedge-60 {:end-node :hem-43, :type :edge, :uid :hedge-60},
 :hedge-62
 {:display-name "1", :end-node :hem-46, :type :edge, :uid :hedge-62},
 :hedge-64 {:end-node :henpt-42, :type :edge, :uid :hedge-64},
 :hedge-65
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-48,
  :type :edge,
  :uid :hedge-65},
 :hedge-67
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-50,
  :type :edge,
  :uid :hedge-67},
 :hedge-69
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-52,
  :type :edge,
  :uid :hedge-69},
 :hedge-71 {:end-node :hem-55, :type :edge, :uid :hedge-71},
 :hedge-73 {:end-node :hpt-54, :type :edge, :uid :hedge-73},
 :hem-40
 {:args ["A" "B"],
  :display-args ["A" "B"],
  :display-name "Get Data And Interpret",
  :edges [:hedge-60 :hedge-71],
  :incidence-set #{:hedge-58},
  :network :net-59,
  :type :htn-expanded-method,
  :uid :hem-40},
 :hem-43
 {:args ["A"],
  :display-args ["A"],
  :display-name "Evidence And Interpret",
  :edges [:hedge-62 :hedge-65 :hedge-67 :hedge-69],
  :incidence-set #{},
  :network :net-61,
  :type :htn-expanded-method,
  :uid :hem-43},
 :hem-46
 {:args ["A"],
  :display-args ["A"],
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :network :net-63,
  :type :htn-expanded-method,
  :uid :hem-46},
 :hem-48
 {:args ["A"],
  :display-args ["A"],
  :display-name "Interpret-0",
  :edges [],
  :incidence-set #{},
  :network :net-66,
  :type :htn-expanded-method,
  :uid :hem-48},
 :hem-50
 {:args ["A"],
  :display-args ["A"],
  :display-name "Interpret-1",
  :edges [],
  :incidence-set #{},
  :network :net-68,
  :type :htn-expanded-method,
  :uid :hem-50},
 :hem-52
 {:args ["A"],
  :display-args ["A"],
  :display-name "Interpret-2",
  :edges [],
  :incidence-set #{},
  :network :net-70,
  :type :htn-expanded-method,
  :uid :hem-52},
 :hem-55
 {:args ["B"],
  :display-args ["B"],
  :display-name "Get Data At",
  :edges [],
  :incidence-set #{},
  :network :net-72,
  :type :htn-expanded-method,
  :uid :hem-55},
 :henpt-37
 {:display-name "isr-htn",
  :edges [:hedge-58],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-37},
 :henpt-38
 {:args ["A"],
  :argsmap {"from" "A"},
  :display-args ["A"],
  :display-name "Evidence And Interpret",
  :edges [],
  :incidence-set #{},
  :name "evidence-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-38},
 :henpt-39
 {:args ["B"],
  :argsmap {"loc" "B"},
  :display-args ["B"],
  :display-name "Get Data At",
  :edges [],
  :incidence-set #{},
  :name "get-data-at",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-39},
 :henpt-41
 {:args ["A"],
  :argsmap {"at" "A"},
  :display-args ["A"],
  :display-name "Evidence",
  :edges [:hedge-64],
  :incidence-set #{},
  :name "evidence",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-41},
 :henpt-42
 {:args ["A"],
  :argsmap {"place" "A"},
  :display-args ["A"],
  :display-name "Interpret",
  :edges [],
  :incidence-set #{:hedge-64},
  :name "interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-42},
 :hpt-45
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-args ["A"],
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :name "evidence",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-45},
 :hpt-47
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-args ["A"],
  :display-name "Interpret 1",
  :edges [],
  :incidence-set #{},
  :name "interpret1",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-47},
 :hpt-49
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-args ["A"],
  :display-name "Interpret 2",
  :edges [],
  :incidence-set #{},
  :name "interpret2",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-49},
 :hpt-51
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-args ["A"],
  :display-name "Interpret 3",
  :edges [],
  :incidence-set #{},
  :name "interpret3",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-51},
 :hpt-53
 {:args ["B"],
  :argsmap {"location" "B"},
  :display-args ["B"],
  :display-name "Go To",
  :edges [:hedge-73],
  :incidence-set #{},
  :name "go-to",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-53},
 :hpt-54
 {:args ["B"],
  :argsmap {"location" "B"},
  :display-args ["B"],
  :display-name "Capture",
  :edges [],
  :incidence-set #{:hedge-73},
  :name "capture",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :type :htn-primitive-task,
  :uid :hpt-54},
 :net-57
 {:display-name "isr-htn",
  :rootnodes #{:henpt-37},
  :type :htn-network,
  :uid :net-57},
 :net-59
 {:display-name "Get Data And Interpret",
  :rootnodes #{:henpt-38 :henpt-39},
  :type :htn-network,
  :uid :net-59},
 :net-61
 {:display-name "Evidence And Interpret",
  :rootnodes #{:henpt-41},
  :type :htn-network,
  :uid :net-61},
 :net-63
 {:display-name "Evidence",
  :rootnodes #{:hpt-45},
  :type :htn-network,
  :uid :net-63},
 :net-66
 {:display-name "Interpret-0",
  :rootnodes #{:hpt-47},
  :type :htn-network,
  :uid :net-66},
 :net-68
 {:display-name "Interpret-1",
  :rootnodes #{:hpt-49},
  :type :htn-network,
  :uid :net-68},
 :net-70
 {:display-name "Interpret-2",
  :rootnodes #{:hpt-51},
  :type :htn-network,
  :uid :net-70},
 :net-72
 {:display-name "Get Data At",
  :rootnodes #{:hpt-53},
  :type :htn-network,
  :uid :net-72},
 :network :net-57}
