{:hedge-55 {:end-node :hem-37, :type :edge, :uid :hedge-55},
 :hedge-57 {:end-node :hem-40, :type :edge, :uid :hedge-57},
 :hedge-59
 {:display-name "1", :end-node :hem-43, :type :edge, :uid :hedge-59},
 :hedge-61 {:end-node :henpt-39, :type :edge, :uid :hedge-61},
 :hedge-62
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-45,
  :type :edge,
  :uid :hedge-62},
 :hedge-64
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-47,
  :type :edge,
  :uid :hedge-64},
 :hedge-66
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-49,
  :type :edge,
  :uid :hedge-66},
 :hedge-68 {:end-node :hem-52, :type :edge, :uid :hedge-68},
 :hedge-70 {:end-node :hpt-51, :type :edge, :uid :hedge-70},
 :hem-37
 {:args ["A" "B"],
  :display-name "Get Data And Interpret",
  :edges [:hedge-57 :hedge-68],
  :incidence-set #{:hedge-55},
  :network :net-56,
  :type :htn-expanded-method,
  :uid :hem-37},
 :hem-40
 {:args ["A"],
  :display-name "Evidence And Interpret",
  :edges [:hedge-59 :hedge-62 :hedge-64 :hedge-66],
  :incidence-set #{},
  :network :net-58,
  :type :htn-expanded-method,
  :uid :hem-40},
 :hem-43
 {:args ["A"],
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :network :net-60,
  :type :htn-expanded-method,
  :uid :hem-43},
 :hem-45
 {:args ["A"],
  :display-name "Interpret-0",
  :edges [],
  :incidence-set #{},
  :network :net-63,
  :type :htn-expanded-method,
  :uid :hem-45},
 :hem-47
 {:args ["A"],
  :display-name "Interpret-1",
  :edges [],
  :incidence-set #{},
  :network :net-65,
  :type :htn-expanded-method,
  :uid :hem-47},
 :hem-49
 {:args ["A"],
  :display-name "Interpret-2",
  :edges [],
  :incidence-set #{},
  :network :net-67,
  :type :htn-expanded-method,
  :uid :hem-49},
 :hem-52
 {:args ["B"],
  :display-name "Get Data At",
  :edges [],
  :incidence-set #{},
  :network :net-69,
  :type :htn-expanded-method,
  :uid :hem-52},
 :henpt-34
 {:display-name "isr-htn",
  :edges [:hedge-55],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-34},
 :henpt-35
 {:display-name "Evidence And Interpret",
  :edges [],
  :incidence-set #{},
  :name "evidence-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-35},
 :henpt-36
 {:display-name "Get Data At",
  :edges [],
  :incidence-set #{},
  :name "get-data-at",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-36},
 :henpt-38
 {:display-name "Evidence",
  :edges [:hedge-61],
  :incidence-set #{},
  :name "evidence",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-38},
 :henpt-39
 {:display-name "Interpret",
  :edges [],
  :incidence-set #{:hedge-61},
  :name "interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-39},
 :hpt-42
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "evidence",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-42},
 :hpt-44
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-name "Interpret 1",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "interpret1",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-44},
 :hpt-46
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-name "Interpret 2",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "interpret2",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-46},
 :hpt-48
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-name "Interpret 3",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "interpret3",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-48},
 :hpt-50
 {:args ["B"],
  :argsmap {"location" "B"},
  :display-name "Go To",
  :edges [:hedge-70],
  :incidence-set #{},
  :interface "RMQ",
  :name "go-to",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-50},
 :hpt-51
 {:args ["B"],
  :argsmap {"location" "B"},
  :display-name "Capture",
  :edges [],
  :incidence-set #{:hedge-70},
  :interface "RMQ",
  :name "capture",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-51},
 :net-54
 {:display-name "isr-htn",
  :rootnodes #{:henpt-34},
  :type :htn-network,
  :uid :net-54},
 :net-56
 {:display-name "Get Data And Interpret",
  :rootnodes #{:henpt-35 :henpt-36},
  :type :htn-network,
  :uid :net-56},
 :net-58
 {:display-name "Evidence And Interpret",
  :rootnodes #{:henpt-38},
  :type :htn-network,
  :uid :net-58},
 :net-60
 {:display-name "Evidence",
  :rootnodes #{:hpt-42},
  :type :htn-network,
  :uid :net-60},
 :net-63
 {:display-name "Interpret-0",
  :rootnodes #{:hpt-44},
  :type :htn-network,
  :uid :net-63},
 :net-65
 {:display-name "Interpret-1",
  :rootnodes #{:hpt-46},
  :type :htn-network,
  :uid :net-65},
 :net-67
 {:display-name "Interpret-2",
  :rootnodes #{:hpt-48},
  :type :htn-network,
  :uid :net-67},
 :net-69
 {:display-name "Get Data At",
  :rootnodes #{:hpt-50},
  :type :htn-network,
  :uid :net-69},
 :network :net-54}
