{:act-102
 {:args ["B"],
  :argsmap {"location" "B"},
  :command "evidence",
  :constraints #{:tc-100},
  :controllable false,
  :cost 0,
  :display-args ["B"],
  :display-name "Evidence",
  :end-node :node-97,
  :htn-node :hem-76,
  :name "Evidence(\"B\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-102},
 :act-116
 {:args ["B"],
  :argsmap {"location" "B"},
  :command "interpret1",
  :constraints #{:tc-115},
  :controllable false,
  :cost 0,
  :display-args ["B"],
  :display-name "Interpret 1",
  :end-node :node-106,
  :htn-node :hem-78,
  :name "Interpret 1(\"B\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-116},
 :act-126
 {:args ["B"],
  :argsmap {"location" "B"},
  :command "interpret2",
  :constraints #{:tc-125},
  :controllable false,
  :cost 0,
  :display-args ["B"],
  :display-name "Interpret 2",
  :end-node :node-120,
  :htn-node :hem-80,
  :name "Interpret 2(\"B\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-126},
 :act-136
 {:args ["B"],
  :argsmap {"location" "B"},
  :command "interpret3",
  :constraints #{:tc-135},
  :controllable false,
  :cost 0,
  :display-args ["B"],
  :display-name "Interpret 3",
  :end-node :node-130,
  :htn-node :hem-82,
  :name "Interpret 3(\"B\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-136},
 :act-14
 {:args ["A"],
  :argsmap {"location" "A"},
  :command "capture",
  :constraints #{:tc-13},
  :controllable false,
  :cost 0,
  :display-args ["A"],
  :display-name "Capture",
  :end-node :node-19,
  :htn-node :hem-47,
  :name "Capture(\"A\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-14},
 :act-147
 {:args ["C"],
  :argsmap {"location" "C"},
  :command "go-to",
  :constraints #{:tc-146},
  :controllable false,
  :cost 0,
  :display-args ["C"],
  :display-name "Go To",
  :end-node :node-153,
  :htn-node :hem-85,
  :name "Go To(\"C\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-147},
 :act-152
 {:args ["C"],
  :argsmap {"location" "C"},
  :command "capture",
  :constraints #{:tc-151},
  :controllable false,
  :cost 0,
  :display-args ["C"],
  :display-name "Capture",
  :end-node :node-140,
  :htn-node :hem-85,
  :name "Capture(\"C\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-152},
 :act-171
 {:args ["C"],
  :argsmap {"location" "C"},
  :command "evidence",
  :constraints #{:tc-169},
  :controllable false,
  :cost 0,
  :display-args ["C"],
  :display-name "Evidence",
  :end-node :node-166,
  :htn-node :hem-95,
  :name "Evidence(\"C\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-171},
 :act-185
 {:args ["C"],
  :argsmap {"location" "C"},
  :command "interpret1",
  :constraints #{:tc-184},
  :controllable false,
  :cost 0,
  :display-args ["C"],
  :display-name "Interpret 1",
  :end-node :node-175,
  :htn-node :hem-97,
  :name "Interpret 1(\"C\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-185},
 :act-195
 {:args ["C"],
  :argsmap {"location" "C"},
  :command "interpret2",
  :constraints #{:tc-194},
  :controllable false,
  :cost 0,
  :display-args ["C"],
  :display-name "Interpret 2",
  :end-node :node-189,
  :htn-node :hem-99,
  :name "Interpret 2(\"C\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-195},
 :act-205
 {:args ["C"],
  :argsmap {"location" "C"},
  :command "interpret3",
  :constraints #{:tc-204},
  :controllable false,
  :cost 0,
  :display-args ["C"],
  :display-name "Interpret 3",
  :end-node :node-199,
  :htn-node :hem-101,
  :name "Interpret 3(\"C\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-205},
 :act-216
 {:args ["D"],
  :argsmap {"location" "D"},
  :command "go-to",
  :constraints #{:tc-215},
  :controllable false,
  :cost 0,
  :display-args ["D"],
  :display-name "Go To",
  :end-node :node-222,
  :htn-node :hem-104,
  :name "Go To(\"D\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-216},
 :act-221
 {:args ["D"],
  :argsmap {"location" "D"},
  :command "capture",
  :constraints #{:tc-220},
  :controllable false,
  :cost 0,
  :display-args ["D"],
  :display-name "Capture",
  :end-node :node-209,
  :htn-node :hem-104,
  :name "Capture(\"D\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-221},
 :act-234
 {:args ["D"],
  :argsmap {"location" "D"},
  :command "evidence",
  :constraints #{:tc-232},
  :controllable false,
  :cost 0,
  :display-args ["D"],
  :display-name "Evidence",
  :end-node :node-229,
  :htn-node :hem-111,
  :name "Evidence(\"D\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-234},
 :act-248
 {:args ["D"],
  :argsmap {"location" "D"},
  :command "interpret1",
  :constraints #{:tc-247},
  :controllable false,
  :cost 0,
  :display-args ["D"],
  :display-name "Interpret 1",
  :end-node :node-238,
  :htn-node :hem-113,
  :name "Interpret 1(\"D\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-248},
 :act-258
 {:args ["D"],
  :argsmap {"location" "D"},
  :command "interpret2",
  :constraints #{:tc-257},
  :controllable false,
  :cost 0,
  :display-args ["D"],
  :display-name "Interpret 2",
  :end-node :node-252,
  :htn-node :hem-115,
  :name "Interpret 2(\"D\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-258},
 :act-268
 {:args ["D"],
  :argsmap {"location" "D"},
  :command "interpret3",
  :constraints #{:tc-267},
  :controllable false,
  :cost 0,
  :display-args ["D"],
  :display-name "Interpret 3",
  :end-node :node-262,
  :htn-node :hem-117,
  :name "Interpret 3(\"D\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-268},
 :act-33
 {:args ["A"],
  :argsmap {"location" "A"},
  :command "evidence",
  :constraints #{:tc-31},
  :controllable false,
  :cost 0,
  :display-args ["A"],
  :display-name "Evidence",
  :end-node :node-28,
  :htn-node :hem-57,
  :name "Evidence(\"A\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-33},
 :act-47
 {:args ["A"],
  :argsmap {"location" "A"},
  :command "interpret1",
  :constraints #{:tc-46},
  :controllable false,
  :cost 0,
  :display-args ["A"],
  :display-name "Interpret 1",
  :end-node :node-37,
  :htn-node :hem-59,
  :name "Interpret 1(\"A\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-47},
 :act-57
 {:args ["A"],
  :argsmap {"location" "A"},
  :command "interpret2",
  :constraints #{:tc-56},
  :controllable false,
  :cost 0,
  :display-args ["A"],
  :display-name "Interpret 2",
  :end-node :node-51,
  :htn-node :hem-61,
  :name "Interpret 2(\"A\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-57},
 :act-67
 {:args ["A"],
  :argsmap {"location" "A"},
  :command "interpret3",
  :constraints #{:tc-66},
  :controllable false,
  :cost 0,
  :display-args ["A"],
  :display-name "Interpret 3",
  :end-node :node-61,
  :htn-node :hem-63,
  :name "Interpret 3(\"A\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-67},
 :act-78
 {:args ["B"],
  :argsmap {"location" "B"},
  :command "go-to",
  :constraints #{:tc-77},
  :controllable false,
  :cost 0,
  :display-args ["B"],
  :display-name "Go To",
  :end-node :node-84,
  :htn-node :hem-66,
  :name "Go To(\"B\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-78},
 :act-83
 {:args ["B"],
  :argsmap {"location" "B"},
  :command "capture",
  :constraints #{:tc-82},
  :controllable false,
  :cost 0,
  :display-args ["B"],
  :display-name "Capture",
  :end-node :node-71,
  :htn-node :hem-66,
  :name "Capture(\"B\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-83},
 :act-9
 {:args ["A"],
  :argsmap {"location" "A"},
  :command "go-to",
  :constraints #{:tc-8},
  :controllable false,
  :cost 0,
  :display-args ["A"],
  :display-name "Go To",
  :end-node :node-15,
  :htn-node :hem-47,
  :name "Go To(\"A\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-9},
 :na-104
 {:constraints #{},
  :end-node :node-103,
  :tpn-type :null-activity,
  :uid :na-104},
 :na-111
 {:constraints #{},
  :end-node :node-109,
  :tpn-type :null-activity,
  :uid :na-111},
 :na-113
 {:constraints #{},
  :end-node :node-108,
  :tpn-type :null-activity,
  :uid :na-113},
 :na-118
 {:constraints #{},
  :end-node :node-117,
  :tpn-type :null-activity,
  :uid :na-118},
 :na-123
 {:constraints #{},
  :end-node :node-108,
  :tpn-type :null-activity,
  :uid :na-123},
 :na-128
 {:constraints #{},
  :end-node :node-127,
  :tpn-type :null-activity,
  :uid :na-128},
 :na-133
 {:constraints #{},
  :end-node :node-108,
  :tpn-type :null-activity,
  :uid :na-133},
 :na-138
 {:constraints #{},
  :end-node :node-137,
  :tpn-type :null-activity,
  :uid :na-138},
 :na-144
 {:constraints #{},
  :end-node :node-92,
  :tpn-type :null-activity,
  :uid :na-144},
 :na-149
 {:constraints #{},
  :end-node :node-148,
  :tpn-type :null-activity,
  :uid :na-149},
 :na-163
 {:constraints #{},
  :end-node :node-162,
  :tpn-type :null-activity,
  :uid :na-163},
 :na-165
 {:constraints #{},
  :end-node :node-161,
  :tpn-type :null-activity,
  :uid :na-165},
 :na-173
 {:constraints #{},
  :end-node :node-172,
  :tpn-type :null-activity,
  :uid :na-173},
 :na-180
 {:constraints #{},
  :end-node :node-178,
  :tpn-type :null-activity,
  :uid :na-180},
 :na-182
 {:constraints #{},
  :end-node :node-177,
  :tpn-type :null-activity,
  :uid :na-182},
 :na-187
 {:constraints #{},
  :end-node :node-186,
  :tpn-type :null-activity,
  :uid :na-187},
 :na-192
 {:constraints #{},
  :end-node :node-177,
  :tpn-type :null-activity,
  :uid :na-192},
 :na-197
 {:constraints #{},
  :end-node :node-196,
  :tpn-type :null-activity,
  :uid :na-197},
 :na-202
 {:constraints #{},
  :end-node :node-177,
  :tpn-type :null-activity,
  :uid :na-202},
 :na-207
 {:constraints #{},
  :end-node :node-206,
  :tpn-type :null-activity,
  :uid :na-207},
 :na-213
 {:constraints #{},
  :end-node :node-161,
  :tpn-type :null-activity,
  :uid :na-213},
 :na-218
 {:constraints #{},
  :end-node :node-217,
  :tpn-type :null-activity,
  :uid :na-218},
 :na-236
 {:constraints #{},
  :end-node :node-235,
  :tpn-type :null-activity,
  :uid :na-236},
 :na-243
 {:constraints #{},
  :end-node :node-241,
  :tpn-type :null-activity,
  :uid :na-243},
 :na-245
 {:constraints #{},
  :end-node :node-240,
  :tpn-type :null-activity,
  :uid :na-245},
 :na-25
 {:constraints #{},
  :end-node :node-24,
  :tpn-type :null-activity,
  :uid :na-25},
 :na-250
 {:constraints #{},
  :end-node :node-249,
  :tpn-type :null-activity,
  :uid :na-250},
 :na-255
 {:constraints #{},
  :end-node :node-240,
  :tpn-type :null-activity,
  :uid :na-255},
 :na-260
 {:constraints #{},
  :end-node :node-259,
  :tpn-type :null-activity,
  :uid :na-260},
 :na-265
 {:constraints #{},
  :end-node :node-240,
  :tpn-type :null-activity,
  :uid :na-265},
 :na-27
 {:constraints #{},
  :end-node :node-23,
  :tpn-type :null-activity,
  :uid :na-27},
 :na-270
 {:constraints #{},
  :end-node :node-269,
  :tpn-type :null-activity,
  :uid :na-270},
 :na-35
 {:constraints #{},
  :end-node :node-34,
  :tpn-type :null-activity,
  :uid :na-35},
 :na-42
 {:constraints #{},
  :end-node :node-40,
  :tpn-type :null-activity,
  :uid :na-42},
 :na-44
 {:constraints #{},
  :end-node :node-39,
  :tpn-type :null-activity,
  :uid :na-44},
 :na-49
 {:constraints #{},
  :end-node :node-48,
  :tpn-type :null-activity,
  :uid :na-49},
 :na-54
 {:constraints #{},
  :end-node :node-39,
  :tpn-type :null-activity,
  :uid :na-54},
 :na-59
 {:constraints #{},
  :end-node :node-58,
  :tpn-type :null-activity,
  :uid :na-59},
 :na-64
 {:constraints #{},
  :end-node :node-39,
  :tpn-type :null-activity,
  :uid :na-64},
 :na-69
 {:constraints #{},
  :end-node :node-68,
  :tpn-type :null-activity,
  :uid :na-69},
 :na-75
 {:constraints #{},
  :end-node :node-23,
  :tpn-type :null-activity,
  :uid :na-75},
 :na-80
 {:constraints #{},
  :end-node :node-79,
  :tpn-type :null-activity,
  :uid :na-80},
 :na-94
 {:constraints #{},
  :end-node :node-93,
  :tpn-type :null-activity,
  :uid :na-94},
 :na-96
 {:constraints #{},
  :end-node :node-92,
  :tpn-type :null-activity,
  :uid :na-96},
 :net-3
 {:begin-node :node-10,
  :end-node :node-240,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-10
 {:activities #{:act-9},
  :constraints #{},
  :end-node :node-240,
  :htn-node :hem-43,
  :incidence-set #{},
  :tpn-type :state,
  :uid :node-10},
 :node-103
 {:activities #{:act-102},
  :constraints #{},
  :end-node :node-108,
  :htn-node :hem-73,
  :incidence-set #{:na-104},
  :tpn-type :state,
  :uid :node-103},
 :node-106
 {:activities #{:na-113},
  :constraints #{},
  :incidence-set #{:act-116},
  :tpn-type :state,
  :uid :node-106},
 :node-108
 {:activities #{:na-96},
  :constraints #{},
  :incidence-set #{:na-123 :na-113 :na-133},
  :tpn-type :c-end,
  :uid :node-108},
 :node-109
 {:activities #{:na-128 :na-138 :na-118},
  :constraints #{},
  :end-node :node-108,
  :htn-node :hem-73,
  :incidence-set #{:na-111},
  :tpn-type :c-begin,
  :uid :node-109},
 :node-117
 {:activities #{:act-116},
  :constraints #{},
  :htn-node :hem-78,
  :incidence-set #{:na-118},
  :tpn-type :state,
  :uid :node-117},
 :node-120
 {:activities #{:na-123},
  :constraints #{},
  :incidence-set #{:act-126},
  :tpn-type :state,
  :uid :node-120},
 :node-127
 {:activities #{:act-126},
  :constraints #{},
  :htn-node :hem-80,
  :incidence-set #{:na-128},
  :tpn-type :state,
  :uid :node-127},
 :node-130
 {:activities #{:na-133},
  :constraints #{},
  :incidence-set #{:act-136},
  :tpn-type :state,
  :uid :node-130},
 :node-137
 {:activities #{:act-136},
  :constraints #{},
  :htn-node :hem-82,
  :incidence-set #{:na-138},
  :tpn-type :state,
  :uid :node-137},
 :node-140
 {:activities #{:na-144},
  :constraints #{},
  :incidence-set #{:act-152},
  :tpn-type :state,
  :uid :node-140},
 :node-148
 {:activities #{:act-147},
  :constraints #{},
  :end-node :node-140,
  :htn-node :hem-85,
  :incidence-set #{:na-149},
  :tpn-type :state,
  :uid :node-148},
 :node-15
 {:activities #{:act-14},
  :constraints #{},
  :htn-node :hem-47,
  :incidence-set #{:act-9},
  :tpn-type :state,
  :uid :node-15},
 :node-153
 {:activities #{:act-152},
  :constraints #{},
  :htn-node :hem-85,
  :incidence-set #{:act-147},
  :tpn-type :state,
  :uid :node-153},
 :node-161
 {:activities #{:na-236},
  :constraints #{},
  :incidence-set #{:na-213 :na-165},
  :tpn-type :p-end,
  :uid :node-161},
 :node-162
 {:activities #{:na-173 :na-218},
  :constraints #{},
  :end-node :node-161,
  :htn-node :hem-89,
  :incidence-set #{:na-163},
  :tpn-type :p-begin,
  :uid :node-162},
 :node-166
 {:activities #{:na-180},
  :constraints #{},
  :incidence-set #{:act-171},
  :tpn-type :state,
  :uid :node-166},
 :node-172
 {:activities #{:act-171},
  :constraints #{},
  :end-node :node-177,
  :htn-node :hem-92,
  :incidence-set #{:na-173},
  :tpn-type :state,
  :uid :node-172},
 :node-175
 {:activities #{:na-182},
  :constraints #{},
  :incidence-set #{:act-185},
  :tpn-type :state,
  :uid :node-175},
 :node-177
 {:activities #{:na-165},
  :constraints #{},
  :incidence-set #{:na-192 :na-202 :na-182},
  :tpn-type :c-end,
  :uid :node-177},
 :node-178
 {:activities #{:na-197 :na-207 :na-187},
  :constraints #{},
  :end-node :node-177,
  :htn-node :hem-92,
  :incidence-set #{:na-180},
  :tpn-type :c-begin,
  :uid :node-178},
 :node-186
 {:activities #{:act-185},
  :constraints #{},
  :htn-node :hem-97,
  :incidence-set #{:na-187},
  :tpn-type :state,
  :uid :node-186},
 :node-189
 {:activities #{:na-192},
  :constraints #{},
  :incidence-set #{:act-195},
  :tpn-type :state,
  :uid :node-189},
 :node-19
 {:activities #{:na-25},
  :constraints #{},
  :incidence-set #{:act-14},
  :tpn-type :state,
  :uid :node-19},
 :node-196
 {:activities #{:act-195},
  :constraints #{},
  :htn-node :hem-99,
  :incidence-set #{:na-197},
  :tpn-type :state,
  :uid :node-196},
 :node-199
 {:activities #{:na-202},
  :constraints #{},
  :incidence-set #{:act-205},
  :tpn-type :state,
  :uid :node-199},
 :node-206
 {:activities #{:act-205},
  :constraints #{},
  :htn-node :hem-101,
  :incidence-set #{:na-207},
  :tpn-type :state,
  :uid :node-206},
 :node-209
 {:activities #{:na-213},
  :constraints #{},
  :incidence-set #{:act-221},
  :tpn-type :state,
  :uid :node-209},
 :node-217
 {:activities #{:act-216},
  :constraints #{},
  :end-node :node-209,
  :htn-node :hem-104,
  :incidence-set #{:na-218},
  :tpn-type :state,
  :uid :node-217},
 :node-222
 {:activities #{:act-221},
  :constraints #{},
  :htn-node :hem-104,
  :incidence-set #{:act-216},
  :tpn-type :state,
  :uid :node-222},
 :node-229
 {:activities #{:na-243},
  :constraints #{},
  :incidence-set #{:act-234},
  :tpn-type :state,
  :uid :node-229},
 :node-23
 {:activities #{:na-94},
  :constraints #{},
  :incidence-set #{:na-27 :na-75},
  :tpn-type :p-end,
  :uid :node-23},
 :node-235
 {:activities #{:act-234},
  :constraints #{},
  :end-node :node-240,
  :htn-node :hem-108,
  :incidence-set #{:na-236},
  :tpn-type :state,
  :uid :node-235},
 :node-238
 {:activities #{:na-245},
  :constraints #{},
  :incidence-set #{:act-248},
  :tpn-type :state,
  :uid :node-238},
 :node-24
 {:activities #{:na-35 :na-80},
  :constraints #{},
  :end-node :node-23,
  :htn-node :hem-51,
  :incidence-set #{:na-25},
  :tpn-type :p-begin,
  :uid :node-24},
 :node-240
 {:activities #{},
  :constraints #{},
  :incidence-set #{:na-255 :na-265 :na-245},
  :tpn-type :c-end,
  :uid :node-240},
 :node-241
 {:activities #{:na-270 :na-260 :na-250},
  :constraints #{},
  :end-node :node-240,
  :htn-node :hem-108,
  :incidence-set #{:na-243},
  :tpn-type :c-begin,
  :uid :node-241},
 :node-249
 {:activities #{:act-248},
  :constraints #{},
  :htn-node :hem-113,
  :incidence-set #{:na-250},
  :tpn-type :state,
  :uid :node-249},
 :node-252
 {:activities #{:na-255},
  :constraints #{},
  :incidence-set #{:act-258},
  :tpn-type :state,
  :uid :node-252},
 :node-259
 {:activities #{:act-258},
  :constraints #{},
  :htn-node :hem-115,
  :incidence-set #{:na-260},
  :tpn-type :state,
  :uid :node-259},
 :node-262
 {:activities #{:na-265},
  :constraints #{},
  :incidence-set #{:act-268},
  :tpn-type :state,
  :uid :node-262},
 :node-269
 {:activities #{:act-268},
  :constraints #{},
  :htn-node :hem-117,
  :incidence-set #{:na-270},
  :tpn-type :state,
  :uid :node-269},
 :node-28
 {:activities #{:na-42},
  :constraints #{},
  :incidence-set #{:act-33},
  :tpn-type :state,
  :uid :node-28},
 :node-34
 {:activities #{:act-33},
  :constraints #{},
  :end-node :node-39,
  :htn-node :hem-54,
  :incidence-set #{:na-35},
  :tpn-type :state,
  :uid :node-34},
 :node-37
 {:activities #{:na-44},
  :constraints #{},
  :incidence-set #{:act-47},
  :tpn-type :state,
  :uid :node-37},
 :node-39
 {:activities #{:na-27},
  :constraints #{},
  :incidence-set #{:na-54 :na-44 :na-64},
  :tpn-type :c-end,
  :uid :node-39},
 :node-40
 {:activities #{:na-69 :na-59 :na-49},
  :constraints #{},
  :end-node :node-39,
  :htn-node :hem-54,
  :incidence-set #{:na-42},
  :tpn-type :c-begin,
  :uid :node-40},
 :node-48
 {:activities #{:act-47},
  :constraints #{},
  :htn-node :hem-59,
  :incidence-set #{:na-49},
  :tpn-type :state,
  :uid :node-48},
 :node-51
 {:activities #{:na-54},
  :constraints #{},
  :incidence-set #{:act-57},
  :tpn-type :state,
  :uid :node-51},
 :node-58
 {:activities #{:act-57},
  :constraints #{},
  :htn-node :hem-61,
  :incidence-set #{:na-59},
  :tpn-type :state,
  :uid :node-58},
 :node-61
 {:activities #{:na-64},
  :constraints #{},
  :incidence-set #{:act-67},
  :tpn-type :state,
  :uid :node-61},
 :node-68
 {:activities #{:act-67},
  :constraints #{},
  :htn-node :hem-63,
  :incidence-set #{:na-69},
  :tpn-type :state,
  :uid :node-68},
 :node-71
 {:activities #{:na-75},
  :constraints #{},
  :incidence-set #{:act-83},
  :tpn-type :state,
  :uid :node-71},
 :node-79
 {:activities #{:act-78},
  :constraints #{},
  :end-node :node-71,
  :htn-node :hem-66,
  :incidence-set #{:na-80},
  :tpn-type :state,
  :uid :node-79},
 :node-84
 {:activities #{:act-83},
  :constraints #{},
  :htn-node :hem-66,
  :incidence-set #{:act-78},
  :tpn-type :state,
  :uid :node-84},
 :node-92
 {:activities #{:na-163},
  :constraints #{},
  :incidence-set #{:na-96 :na-144},
  :tpn-type :p-end,
  :uid :node-92},
 :node-93
 {:activities #{:na-104 :na-149},
  :constraints #{},
  :end-node :node-92,
  :htn-node :hem-70,
  :incidence-set #{:na-94},
  :tpn-type :p-begin,
  :uid :node-93},
 :node-97
 {:activities #{:na-111},
  :constraints #{},
  :incidence-set #{:act-102},
  :tpn-type :state,
  :uid :node-97},
 :tc-100
 {:end-node :node-97,
  :tpn-type :temporal-constraint,
  :uid :tc-100,
  :value [15 25]},
 :tc-115
 {:end-node :node-106,
  :tpn-type :temporal-constraint,
  :uid :tc-115,
  :value [15 25]},
 :tc-125
 {:end-node :node-120,
  :tpn-type :temporal-constraint,
  :uid :tc-125,
  :value [15 25]},
 :tc-13
 {:end-node :node-19,
  :tpn-type :temporal-constraint,
  :uid :tc-13,
  :value [5 10]},
 :tc-135
 {:end-node :node-130,
  :tpn-type :temporal-constraint,
  :uid :tc-135,
  :value [15 25]},
 :tc-146
 {:end-node :node-153,
  :tpn-type :temporal-constraint,
  :uid :tc-146,
  :value [20 30]},
 :tc-151
 {:end-node :node-140,
  :tpn-type :temporal-constraint,
  :uid :tc-151,
  :value [5 10]},
 :tc-169
 {:end-node :node-166,
  :tpn-type :temporal-constraint,
  :uid :tc-169,
  :value [15 25]},
 :tc-184
 {:end-node :node-175,
  :tpn-type :temporal-constraint,
  :uid :tc-184,
  :value [15 25]},
 :tc-194
 {:end-node :node-189,
  :tpn-type :temporal-constraint,
  :uid :tc-194,
  :value [15 25]},
 :tc-204
 {:end-node :node-199,
  :tpn-type :temporal-constraint,
  :uid :tc-204,
  :value [15 25]},
 :tc-215
 {:end-node :node-222,
  :tpn-type :temporal-constraint,
  :uid :tc-215,
  :value [20 30]},
 :tc-220
 {:end-node :node-209,
  :tpn-type :temporal-constraint,
  :uid :tc-220,
  :value [5 10]},
 :tc-232
 {:end-node :node-229,
  :tpn-type :temporal-constraint,
  :uid :tc-232,
  :value [15 25]},
 :tc-247
 {:end-node :node-238,
  :tpn-type :temporal-constraint,
  :uid :tc-247,
  :value [15 25]},
 :tc-257
 {:end-node :node-252,
  :tpn-type :temporal-constraint,
  :uid :tc-257,
  :value [15 25]},
 :tc-267
 {:end-node :node-262,
  :tpn-type :temporal-constraint,
  :uid :tc-267,
  :value [15 25]},
 :tc-31
 {:end-node :node-28,
  :tpn-type :temporal-constraint,
  :uid :tc-31,
  :value [15 25]},
 :tc-46
 {:end-node :node-37,
  :tpn-type :temporal-constraint,
  :uid :tc-46,
  :value [15 25]},
 :tc-56
 {:end-node :node-51,
  :tpn-type :temporal-constraint,
  :uid :tc-56,
  :value [15 25]},
 :tc-66
 {:end-node :node-61,
  :tpn-type :temporal-constraint,
  :uid :tc-66,
  :value [15 25]},
 :tc-77
 {:end-node :node-84,
  :tpn-type :temporal-constraint,
  :uid :tc-77,
  :value [20 30]},
 :tc-8
 {:end-node :node-15,
  :tpn-type :temporal-constraint,
  :uid :tc-8,
  :value [20 30]},
 :tc-82
 {:end-node :node-71,
  :tpn-type :temporal-constraint,
  :uid :tc-82,
  :value [5 10]}}
