{:hedge-60 {:end-node :hem-37, :type :edge, :uid :hedge-60},
 :hedge-62 {:end-node :hem-40, :type :edge, :uid :hedge-62},
 :hedge-64
 {:display-name "1", :end-node :hem-44, :type :edge, :uid :hedge-64},
 :hedge-66 {:end-node :henpt-39, :type :edge, :uid :hedge-66},
 :hedge-67
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-47,
  :type :edge,
  :uid :hedge-67},
 :hedge-69
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-50,
  :type :edge,
  :uid :hedge-69},
 :hedge-71
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-53,
  :type :edge,
  :uid :hedge-71},
 :hedge-73 {:end-node :hem-57, :type :edge, :uid :hedge-73},
 :hedge-75 {:end-node :hpt-55, :type :edge, :uid :hedge-75},
 :hem-37
 {:args ["A" "B"],
  :display-name "Get Data And Interpret",
  :edges [:hedge-62 :hedge-73],
  :incidence-set #{:hedge-60},
  :network :net-61,
  :type :htn-expanded-method,
  :uid :hem-37},
 :hem-40
 {:args ["A"],
  :display-name "Evidence And Interpret",
  :edges [:hedge-64 :hedge-67 :hedge-69 :hedge-71],
  :incidence-set #{},
  :network :net-63,
  :type :htn-expanded-method,
  :uid :hem-40},
 :hem-44
 {:args ["A"],
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :network :net-65,
  :type :htn-expanded-method,
  :uid :hem-44},
 :hem-47
 {:args ["A"],
  :display-name "Interpret-0",
  :edges [],
  :incidence-set #{},
  :network :net-68,
  :type :htn-expanded-method,
  :uid :hem-47},
 :hem-50
 {:args ["A"],
  :display-name "Interpret-1",
  :edges [],
  :incidence-set #{},
  :network :net-70,
  :type :htn-expanded-method,
  :uid :hem-50},
 :hem-53
 {:args ["A"],
  :display-name "Interpret-2",
  :edges [],
  :incidence-set #{},
  :network :net-72,
  :type :htn-expanded-method,
  :uid :hem-53},
 :hem-57
 {:args ["B"],
  :display-name "Get Data At",
  :edges [],
  :incidence-set #{},
  :network :net-74,
  :type :htn-expanded-method,
  :uid :hem-57},
 :henpt-34
 {:display-name "isr-htn",
  :edges [:hedge-60],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-34},
 :henpt-35
 {:display-name "Evidence And Interpret",
  :edges [],
  :incidence-set #{},
  :name "evidence-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-35},
 :henpt-36
 {:display-name "Get Data At",
  :edges [],
  :incidence-set #{},
  :name "get-data-at",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-36},
 :henpt-38
 {:display-name "Evidence",
  :edges [:hedge-66],
  :incidence-set #{},
  :name "evidence",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-38},
 :henpt-39
 {:display-name "Interpret",
  :edges [],
  :incidence-set #{:hedge-66},
  :name "interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-39},
 :hpt-42
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "evidence",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-42},
 :hpt-45
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-name "Interpret 1",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "interpret1",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-45},
 :hpt-48
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-name "Interpret 2",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "interpret2",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-48},
 :hpt-51
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-name "Interpret 3",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "interpret3",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-51},
 :hpt-54
 {:args ["B"],
  :argsmap {"location" "B"},
  :display-name "Go To",
  :edges [:hedge-75],
  :incidence-set #{},
  :interface "RMQ",
  :name "go-to",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-54},
 :hpt-55
 {:args ["B"],
  :argsmap {"location" "B"},
  :display-name "Capture",
  :edges [],
  :incidence-set #{:hedge-75},
  :interface "RMQ",
  :name "capture",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-55},
 :net-59
 {:display-name "isr-htn",
  :rootnodes #{:henpt-34},
  :type :htn-network,
  :uid :net-59},
 :net-61
 {:display-name "Get Data And Interpret",
  :rootnodes #{:henpt-35 :henpt-36},
  :type :htn-network,
  :uid :net-61},
 :net-63
 {:display-name "Evidence And Interpret",
  :rootnodes #{:henpt-38},
  :type :htn-network,
  :uid :net-63},
 :net-65
 {:display-name "Evidence",
  :rootnodes #{:hpt-42},
  :type :htn-network,
  :uid :net-65},
 :net-68
 {:display-name "Interpret-0",
  :rootnodes #{:hpt-45},
  :type :htn-network,
  :uid :net-68},
 :net-70
 {:display-name "Interpret-1",
  :rootnodes #{:hpt-48},
  :type :htn-network,
  :uid :net-70},
 :net-72
 {:display-name "Interpret-2",
  :rootnodes #{:hpt-51},
  :type :htn-network,
  :uid :net-72},
 :net-74
 {:display-name "Get Data At",
  :rootnodes #{:hpt-54},
  :type :htn-network,
  :uid :net-74},
 :network :net-59}
