{:hedge-136 {:end-node :hem-40, :type :edge, :uid :hedge-136},
 :hedge-138
 {:display-name "1", :end-node :hem-45, :type :edge, :uid :hedge-138},
 :hedge-140 {:end-node :hpt-43, :type :edge, :uid :hedge-140},
 :hedge-141 {:end-node :henpt-36, :type :edge, :uid :hedge-141},
 :hedge-142
 {:display-name "2", :end-node :hem-49, :type :edge, :uid :hedge-142},
 :hedge-144 {:end-node :hem-52, :type :edge, :uid :hedge-144},
 :hedge-146
 {:display-name "1", :end-node :hem-56, :type :edge, :uid :hedge-146},
 :hedge-148 {:end-node :henpt-51, :type :edge, :uid :hedge-148},
 :hedge-149
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-59,
  :type :edge,
  :uid :hedge-149},
 :hedge-151
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-62,
  :type :edge,
  :uid :hedge-151},
 :hedge-153
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-65,
  :type :edge,
  :uid :hedge-153},
 :hedge-155 {:end-node :hem-69, :type :edge, :uid :hedge-155},
 :hedge-157 {:end-node :hpt-67, :type :edge, :uid :hedge-157},
 :hedge-158 {:end-node :henpt-37, :type :edge, :uid :hedge-158},
 :hedge-159
 {:display-name "3", :end-node :hem-73, :type :edge, :uid :hedge-159},
 :hedge-161 {:end-node :hem-76, :type :edge, :uid :hedge-161},
 :hedge-163
 {:display-name "1", :end-node :hem-80, :type :edge, :uid :hedge-163},
 :hedge-165 {:end-node :henpt-75, :type :edge, :uid :hedge-165},
 :hedge-166
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-83,
  :type :edge,
  :uid :hedge-166},
 :hedge-168
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-86,
  :type :edge,
  :uid :hedge-168},
 :hedge-170
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-89,
  :type :edge,
  :uid :hedge-170},
 :hedge-172 {:end-node :hem-93, :type :edge, :uid :hedge-172},
 :hedge-174 {:end-node :hpt-91, :type :edge, :uid :hedge-174},
 :hedge-175 {:end-node :henpt-38, :type :edge, :uid :hedge-175},
 :hedge-176
 {:display-name "4", :end-node :hem-97, :type :edge, :uid :hedge-176},
 :hedge-178 {:end-node :hem-100, :type :edge, :uid :hedge-178},
 :hedge-180
 {:display-name "1", :end-node :hem-104, :type :edge, :uid :hedge-180},
 :hedge-182 {:end-node :henpt-99, :type :edge, :uid :hedge-182},
 :hedge-183
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-107,
  :type :edge,
  :uid :hedge-183},
 :hedge-185
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-110,
  :type :edge,
  :uid :hedge-185},
 :hedge-187
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-113,
  :type :edge,
  :uid :hedge-187},
 :hedge-189 {:end-node :hem-117, :type :edge, :uid :hedge-189},
 :hedge-191 {:end-node :hpt-115, :type :edge, :uid :hedge-191},
 :hedge-192 {:end-node :henpt-39, :type :edge, :uid :hedge-192},
 :hedge-193
 {:display-name "5", :end-node :hem-121, :type :edge, :uid :hedge-193},
 :hedge-195
 {:display-name "1", :end-node :hem-125, :type :edge, :uid :hedge-195},
 :hedge-197 {:end-node :henpt-120, :type :edge, :uid :hedge-197},
 :hedge-198
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-128,
  :type :edge,
  :uid :hedge-198},
 :hedge-200
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-131,
  :type :edge,
  :uid :hedge-200},
 :hedge-202
 {:display-name "2",
  :edge-type :choice,
  :end-node :hem-134,
  :type :edge,
  :uid :hedge-202},
 :hem-100
 {:args ["C"],
  :display-name "Evidence And Interpret",
  :edges [:hedge-180 :hedge-183 :hedge-185 :hedge-187],
  :incidence-set #{},
  :network :net-179,
  :type :htn-expanded-method,
  :uid :hem-100},
 :hem-104
 {:args ["C"],
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :network :net-181,
  :type :htn-expanded-method,
  :uid :hem-104},
 :hem-107
 {:args ["C"],
  :display-name "Interpret-0",
  :edges [],
  :incidence-set #{},
  :network :net-184,
  :type :htn-expanded-method,
  :uid :hem-107},
 :hem-110
 {:args ["C"],
  :display-name "Interpret-1",
  :edges [],
  :incidence-set #{},
  :network :net-186,
  :type :htn-expanded-method,
  :uid :hem-110},
 :hem-113
 {:args ["C"],
  :display-name "Interpret-2",
  :edges [],
  :incidence-set #{},
  :network :net-188,
  :type :htn-expanded-method,
  :uid :hem-113},
 :hem-117
 {:args ["D"],
  :display-name "Get Data At",
  :edges [],
  :incidence-set #{},
  :network :net-190,
  :type :htn-expanded-method,
  :uid :hem-117},
 :hem-121
 {:args ["D"],
  :display-name "Evidence And Interpret",
  :edges [:hedge-195 :hedge-198 :hedge-200 :hedge-202],
  :incidence-set #{},
  :network :net-194,
  :type :htn-expanded-method,
  :uid :hem-121},
 :hem-125
 {:args ["D"],
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :network :net-196,
  :type :htn-expanded-method,
  :uid :hem-125},
 :hem-128
 {:args ["D"],
  :display-name "Interpret-0",
  :edges [],
  :incidence-set #{},
  :network :net-199,
  :type :htn-expanded-method,
  :uid :hem-128},
 :hem-131
 {:args ["D"],
  :display-name "Interpret-1",
  :edges [],
  :incidence-set #{},
  :network :net-201,
  :type :htn-expanded-method,
  :uid :hem-131},
 :hem-134
 {:args ["D"],
  :display-name "Interpret-2",
  :edges [],
  :incidence-set #{},
  :network :net-203,
  :type :htn-expanded-method,
  :uid :hem-134},
 :hem-40
 {:args ["A" "B" "C" "D"],
  :display-name "Main",
  :edges [:hedge-138 :hedge-142 :hedge-159 :hedge-176 :hedge-193],
  :incidence-set #{:hedge-136},
  :network :net-137,
  :type :htn-expanded-method,
  :uid :hem-40},
 :hem-45
 {:args ["A"],
  :display-name "Get Data At",
  :edges [],
  :incidence-set #{},
  :network :net-139,
  :type :htn-expanded-method,
  :uid :hem-45},
 :hem-49
 {:args ["A" "B"],
  :display-name "Get Data And Interpret",
  :edges [:hedge-144 :hedge-155],
  :incidence-set #{},
  :network :net-143,
  :type :htn-expanded-method,
  :uid :hem-49},
 :hem-52
 {:args ["A"],
  :display-name "Evidence And Interpret",
  :edges [:hedge-146 :hedge-149 :hedge-151 :hedge-153],
  :incidence-set #{},
  :network :net-145,
  :type :htn-expanded-method,
  :uid :hem-52},
 :hem-56
 {:args ["A"],
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :network :net-147,
  :type :htn-expanded-method,
  :uid :hem-56},
 :hem-59
 {:args ["A"],
  :display-name "Interpret-0",
  :edges [],
  :incidence-set #{},
  :network :net-150,
  :type :htn-expanded-method,
  :uid :hem-59},
 :hem-62
 {:args ["A"],
  :display-name "Interpret-1",
  :edges [],
  :incidence-set #{},
  :network :net-152,
  :type :htn-expanded-method,
  :uid :hem-62},
 :hem-65
 {:args ["A"],
  :display-name "Interpret-2",
  :edges [],
  :incidence-set #{},
  :network :net-154,
  :type :htn-expanded-method,
  :uid :hem-65},
 :hem-69
 {:args ["B"],
  :display-name "Get Data At",
  :edges [],
  :incidence-set #{},
  :network :net-156,
  :type :htn-expanded-method,
  :uid :hem-69},
 :hem-73
 {:args ["B" "C"],
  :display-name "Get Data And Interpret",
  :edges [:hedge-161 :hedge-172],
  :incidence-set #{},
  :network :net-160,
  :type :htn-expanded-method,
  :uid :hem-73},
 :hem-76
 {:args ["B"],
  :display-name "Evidence And Interpret",
  :edges [:hedge-163 :hedge-166 :hedge-168 :hedge-170],
  :incidence-set #{},
  :network :net-162,
  :type :htn-expanded-method,
  :uid :hem-76},
 :hem-80
 {:args ["B"],
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :network :net-164,
  :type :htn-expanded-method,
  :uid :hem-80},
 :hem-83
 {:args ["B"],
  :display-name "Interpret-0",
  :edges [],
  :incidence-set #{},
  :network :net-167,
  :type :htn-expanded-method,
  :uid :hem-83},
 :hem-86
 {:args ["B"],
  :display-name "Interpret-1",
  :edges [],
  :incidence-set #{},
  :network :net-169,
  :type :htn-expanded-method,
  :uid :hem-86},
 :hem-89
 {:args ["B"],
  :display-name "Interpret-2",
  :edges [],
  :incidence-set #{},
  :network :net-171,
  :type :htn-expanded-method,
  :uid :hem-89},
 :hem-93
 {:args ["C"],
  :display-name "Get Data At",
  :edges [],
  :incidence-set #{},
  :network :net-173,
  :type :htn-expanded-method,
  :uid :hem-93},
 :hem-97
 {:args ["C" "D"],
  :display-name "Get Data And Interpret",
  :edges [:hedge-178 :hedge-189],
  :incidence-set #{},
  :network :net-177,
  :type :htn-expanded-method,
  :uid :hem-97},
 :henpt-119
 {:display-name "Evidence",
  :edges [:hedge-197],
  :incidence-set #{},
  :name "evidence",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-119},
 :henpt-120
 {:display-name "Interpret",
  :edges [],
  :incidence-set #{:hedge-197},
  :name "interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-120},
 :henpt-34
 {:display-name "isr-htn",
  :edges [:hedge-136],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-34},
 :henpt-35
 {:display-name "Get Data At",
  :edges [:hedge-141],
  :incidence-set #{},
  :name "get-data-at",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-35},
 :henpt-36
 {:display-name "Get Data And Interpret",
  :edges [:hedge-158],
  :incidence-set #{:hedge-141},
  :name "get-data-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-36},
 :henpt-37
 {:display-name "Get Data And Interpret",
  :edges [:hedge-175],
  :incidence-set #{:hedge-158},
  :name "get-data-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-37},
 :henpt-38
 {:display-name "Get Data And Interpret",
  :edges [:hedge-192],
  :incidence-set #{:hedge-175},
  :name "get-data-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-38},
 :henpt-39
 {:display-name "Evidence And Interpret",
  :edges [],
  :incidence-set #{:hedge-192},
  :name "evidence-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-39},
 :henpt-47
 {:display-name "Evidence And Interpret",
  :edges [],
  :incidence-set #{},
  :name "evidence-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-47},
 :henpt-48
 {:display-name "Get Data At",
  :edges [],
  :incidence-set #{},
  :name "get-data-at",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-48},
 :henpt-50
 {:display-name "Evidence",
  :edges [:hedge-148],
  :incidence-set #{},
  :name "evidence",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-50},
 :henpt-51
 {:display-name "Interpret",
  :edges [],
  :incidence-set #{:hedge-148},
  :name "interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-51},
 :henpt-71
 {:display-name "Evidence And Interpret",
  :edges [],
  :incidence-set #{},
  :name "evidence-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-71},
 :henpt-72
 {:display-name "Get Data At",
  :edges [],
  :incidence-set #{},
  :name "get-data-at",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-72},
 :henpt-74
 {:display-name "Evidence",
  :edges [:hedge-165],
  :incidence-set #{},
  :name "evidence",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-74},
 :henpt-75
 {:display-name "Interpret",
  :edges [],
  :incidence-set #{:hedge-165},
  :name "interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-75},
 :henpt-95
 {:display-name "Evidence And Interpret",
  :edges [],
  :incidence-set #{},
  :name "evidence-and-interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-95},
 :henpt-96
 {:display-name "Get Data At",
  :edges [],
  :incidence-set #{},
  :name "get-data-at",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-96},
 :henpt-98
 {:display-name "Evidence",
  :edges [:hedge-182],
  :incidence-set #{},
  :name "evidence",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-98},
 :henpt-99
 {:display-name "Interpret",
  :edges [],
  :incidence-set #{:hedge-182},
  :name "interpret",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-99},
 :hpt-102
 {:args ["C"],
  :argsmap {"location" "C"},
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "evidence",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-102},
 :hpt-105
 {:args ["C"],
  :argsmap {"location" "C"},
  :display-name "Interpret 1",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "interpret1",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-105},
 :hpt-108
 {:args ["C"],
  :argsmap {"location" "C"},
  :display-name "Interpret 2",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "interpret2",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-108},
 :hpt-111
 {:args ["C"],
  :argsmap {"location" "C"},
  :display-name "Interpret 3",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "interpret3",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-111},
 :hpt-114
 {:args ["D"],
  :argsmap {"location" "D"},
  :display-name "Go To",
  :edges [:hedge-191],
  :incidence-set #{},
  :interface "RMQ",
  :name "go-to",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-114},
 :hpt-115
 {:args ["D"],
  :argsmap {"location" "D"},
  :display-name "Capture",
  :edges [],
  :incidence-set #{:hedge-191},
  :interface "RMQ",
  :name "capture",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-115},
 :hpt-123
 {:args ["D"],
  :argsmap {"location" "D"},
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "evidence",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-123},
 :hpt-126
 {:args ["D"],
  :argsmap {"location" "D"},
  :display-name "Interpret 1",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "interpret1",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-126},
 :hpt-129
 {:args ["D"],
  :argsmap {"location" "D"},
  :display-name "Interpret 2",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "interpret2",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-129},
 :hpt-132
 {:args ["D"],
  :argsmap {"location" "D"},
  :display-name "Interpret 3",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "interpret3",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-132},
 :hpt-42
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-name "Go To",
  :edges [:hedge-140],
  :incidence-set #{},
  :interface "RMQ",
  :name "go-to",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-42},
 :hpt-43
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-name "Capture",
  :edges [],
  :incidence-set #{:hedge-140},
  :interface "RMQ",
  :name "capture",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-43},
 :hpt-54
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "evidence",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-54},
 :hpt-57
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-name "Interpret 1",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "interpret1",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-57},
 :hpt-60
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-name "Interpret 2",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "interpret2",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-60},
 :hpt-63
 {:args ["A"],
  :argsmap {"location" "A"},
  :display-name "Interpret 3",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "interpret3",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-63},
 :hpt-66
 {:args ["B"],
  :argsmap {"location" "B"},
  :display-name "Go To",
  :edges [:hedge-157],
  :incidence-set #{},
  :interface "RMQ",
  :name "go-to",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-66},
 :hpt-67
 {:args ["B"],
  :argsmap {"location" "B"},
  :display-name "Capture",
  :edges [],
  :incidence-set #{:hedge-157},
  :interface "RMQ",
  :name "capture",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-67},
 :hpt-78
 {:args ["B"],
  :argsmap {"location" "B"},
  :display-name "Evidence",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "evidence",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-78},
 :hpt-81
 {:args ["B"],
  :argsmap {"location" "B"},
  :display-name "Interpret 1",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "interpret1",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-81},
 :hpt-84
 {:args ["B"],
  :argsmap {"location" "B"},
  :display-name "Interpret 2",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "interpret2",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-84},
 :hpt-87
 {:args ["B"],
  :argsmap {"location" "B"},
  :display-name "Interpret 3",
  :edges [],
  :incidence-set #{},
  :interface "RMQ",
  :name "interpret3",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-87},
 :hpt-90
 {:args ["C"],
  :argsmap {"location" "C"},
  :display-name "Go To",
  :edges [:hedge-174],
  :incidence-set #{},
  :interface "RMQ",
  :name "go-to",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-90},
 :hpt-91
 {:args ["C"],
  :argsmap {"location" "C"},
  :display-name "Capture",
  :edges [],
  :incidence-set #{:hedge-174},
  :interface "RMQ",
  :name "capture",
  :plant-part "isr1",
  :plantid "sensor1",
  :type :htn-primitive-task,
  :uid :hpt-91},
 :net-135
 {:display-name "isr-htn",
  :rootnodes #{:henpt-34},
  :type :htn-network,
  :uid :net-135},
 :net-137
 {:display-name "Main",
  :rootnodes #{:henpt-35},
  :type :htn-network,
  :uid :net-137},
 :net-139
 {:display-name "Get Data At",
  :rootnodes #{:hpt-42},
  :type :htn-network,
  :uid :net-139},
 :net-143
 {:display-name "Get Data And Interpret",
  :rootnodes #{:henpt-47 :henpt-48},
  :type :htn-network,
  :uid :net-143},
 :net-145
 {:display-name "Evidence And Interpret",
  :rootnodes #{:henpt-50},
  :type :htn-network,
  :uid :net-145},
 :net-147
 {:display-name "Evidence",
  :rootnodes #{:hpt-54},
  :type :htn-network,
  :uid :net-147},
 :net-150
 {:display-name "Interpret-0",
  :rootnodes #{:hpt-57},
  :type :htn-network,
  :uid :net-150},
 :net-152
 {:display-name "Interpret-1",
  :rootnodes #{:hpt-60},
  :type :htn-network,
  :uid :net-152},
 :net-154
 {:display-name "Interpret-2",
  :rootnodes #{:hpt-63},
  :type :htn-network,
  :uid :net-154},
 :net-156
 {:display-name "Get Data At",
  :rootnodes #{:hpt-66},
  :type :htn-network,
  :uid :net-156},
 :net-160
 {:display-name "Get Data And Interpret",
  :rootnodes #{:henpt-72 :henpt-71},
  :type :htn-network,
  :uid :net-160},
 :net-162
 {:display-name "Evidence And Interpret",
  :rootnodes #{:henpt-74},
  :type :htn-network,
  :uid :net-162},
 :net-164
 {:display-name "Evidence",
  :rootnodes #{:hpt-78},
  :type :htn-network,
  :uid :net-164},
 :net-167
 {:display-name "Interpret-0",
  :rootnodes #{:hpt-81},
  :type :htn-network,
  :uid :net-167},
 :net-169
 {:display-name "Interpret-1",
  :rootnodes #{:hpt-84},
  :type :htn-network,
  :uid :net-169},
 :net-171
 {:display-name "Interpret-2",
  :rootnodes #{:hpt-87},
  :type :htn-network,
  :uid :net-171},
 :net-173
 {:display-name "Get Data At",
  :rootnodes #{:hpt-90},
  :type :htn-network,
  :uid :net-173},
 :net-177
 {:display-name "Get Data And Interpret",
  :rootnodes #{:henpt-96 :henpt-95},
  :type :htn-network,
  :uid :net-177},
 :net-179
 {:display-name "Evidence And Interpret",
  :rootnodes #{:henpt-98},
  :type :htn-network,
  :uid :net-179},
 :net-181
 {:display-name "Evidence",
  :rootnodes #{:hpt-102},
  :type :htn-network,
  :uid :net-181},
 :net-184
 {:display-name "Interpret-0",
  :rootnodes #{:hpt-105},
  :type :htn-network,
  :uid :net-184},
 :net-186
 {:display-name "Interpret-1",
  :rootnodes #{:hpt-108},
  :type :htn-network,
  :uid :net-186},
 :net-188
 {:display-name "Interpret-2",
  :rootnodes #{:hpt-111},
  :type :htn-network,
  :uid :net-188},
 :net-190
 {:display-name "Get Data At",
  :rootnodes #{:hpt-114},
  :type :htn-network,
  :uid :net-190},
 :net-194
 {:display-name "Evidence And Interpret",
  :rootnodes #{:henpt-119},
  :type :htn-network,
  :uid :net-194},
 :net-196
 {:display-name "Evidence",
  :rootnodes #{:hpt-123},
  :type :htn-network,
  :uid :net-196},
 :net-199
 {:display-name "Interpret-0",
  :rootnodes #{:hpt-126},
  :type :htn-network,
  :uid :net-199},
 :net-201
 {:display-name "Interpret-1",
  :rootnodes #{:hpt-129},
  :type :htn-network,
  :uid :net-201},
 :net-203
 {:display-name "Interpret-2",
  :rootnodes #{:hpt-132},
  :type :htn-network,
  :uid :net-203},
 :network :net-135}
