{:act-16
 {:args ["A"],
  :argsmap {"location" "A"},
  :command "evidence",
  :constraints #{:tc-14},
  :controllable false,
  :cost 0,
  :display-args ["A"],
  :display-name "Evidence",
  :end-node :node-11,
  :htn-node :hem-46,
  :name "Evidence(\"A\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-16},
 :act-30
 {:args ["A"],
  :argsmap {"location" "A"},
  :command "interpret1",
  :constraints #{:tc-29},
  :controllable false,
  :cost 0,
  :display-args ["A"],
  :display-name "Interpret 1",
  :end-node :node-20,
  :htn-node :hem-48,
  :name "Interpret 1(\"A\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-30},
 :act-40
 {:args ["A"],
  :argsmap {"location" "A"},
  :command "interpret2",
  :constraints #{:tc-39},
  :controllable false,
  :cost 0,
  :display-args ["A"],
  :display-name "Interpret 2",
  :end-node :node-34,
  :htn-node :hem-50,
  :name "Interpret 2(\"A\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-40},
 :act-50
 {:args ["A"],
  :argsmap {"location" "A"},
  :command "interpret3",
  :constraints #{:tc-49},
  :controllable false,
  :cost 0,
  :display-args ["A"],
  :display-name "Interpret 3",
  :end-node :node-44,
  :htn-node :hem-52,
  :name "Interpret 3(\"A\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-50},
 :act-61
 {:args ["B"],
  :argsmap {"location" "B"},
  :command "go-to",
  :constraints #{:tc-60},
  :controllable false,
  :cost 0,
  :display-args ["B"],
  :display-name "Go To",
  :end-node :node-67,
  :htn-node :hem-55,
  :name "Go To(\"B\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-61},
 :act-66
 {:args ["B"],
  :argsmap {"location" "B"},
  :command "capture",
  :constraints #{:tc-65},
  :controllable false,
  :cost 0,
  :display-args ["B"],
  :display-name "Capture",
  :end-node :node-54,
  :htn-node :hem-55,
  :name "Capture(\"B\")",
  :plant-id "sensor1",
  :plant-interface "RMQ",
  :plant-part "isr1",
  :reward 0,
  :tpn-type :activity,
  :uid :act-66},
 :na-10
 {:constraints #{},
  :end-node :node-6,
  :tpn-type :null-activity,
  :uid :na-10},
 :na-18
 {:constraints #{},
  :end-node :node-17,
  :tpn-type :null-activity,
  :uid :na-18},
 :na-25
 {:constraints #{},
  :end-node :node-23,
  :tpn-type :null-activity,
  :uid :na-25},
 :na-27
 {:constraints #{},
  :end-node :node-22,
  :tpn-type :null-activity,
  :uid :na-27},
 :na-32
 {:constraints #{},
  :end-node :node-31,
  :tpn-type :null-activity,
  :uid :na-32},
 :na-37
 {:constraints #{},
  :end-node :node-22,
  :tpn-type :null-activity,
  :uid :na-37},
 :na-42
 {:constraints #{},
  :end-node :node-41,
  :tpn-type :null-activity,
  :uid :na-42},
 :na-47
 {:constraints #{},
  :end-node :node-22,
  :tpn-type :null-activity,
  :uid :na-47},
 :na-52
 {:constraints #{},
  :end-node :node-51,
  :tpn-type :null-activity,
  :uid :na-52},
 :na-58
 {:constraints #{},
  :end-node :node-6,
  :tpn-type :null-activity,
  :uid :na-58},
 :na-63
 {:constraints #{},
  :end-node :node-62,
  :tpn-type :null-activity,
  :uid :na-63},
 :net-3
 {:begin-node :node-7,
  :end-node :node-6,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-11
 {:activities #{:na-25},
  :constraints #{},
  :incidence-set #{:act-16},
  :tpn-type :state,
  :uid :node-11},
 :node-17
 {:activities #{:act-16},
  :constraints #{},
  :end-node :node-22,
  :htn-node :hem-43,
  :incidence-set #{:na-18},
  :tpn-type :state,
  :uid :node-17},
 :node-20
 {:activities #{:na-27},
  :constraints #{},
  :incidence-set #{:act-30},
  :tpn-type :state,
  :uid :node-20},
 :node-22
 {:activities #{:na-10},
  :constraints #{},
  :incidence-set #{:na-37 :na-27 :na-47},
  :tpn-type :c-end,
  :uid :node-22},
 :node-23
 {:activities #{:na-52 :na-32 :na-42},
  :constraints #{},
  :end-node :node-22,
  :htn-node :hem-43,
  :incidence-set #{:na-25},
  :tpn-type :c-begin,
  :uid :node-23},
 :node-31
 {:activities #{:act-30},
  :constraints #{},
  :htn-node :hem-48,
  :incidence-set #{:na-32},
  :tpn-type :state,
  :uid :node-31},
 :node-34
 {:activities #{:na-37},
  :constraints #{},
  :incidence-set #{:act-40},
  :tpn-type :state,
  :uid :node-34},
 :node-41
 {:activities #{:act-40},
  :constraints #{},
  :htn-node :hem-50,
  :incidence-set #{:na-42},
  :tpn-type :state,
  :uid :node-41},
 :node-44
 {:activities #{:na-47},
  :constraints #{},
  :incidence-set #{:act-50},
  :tpn-type :state,
  :uid :node-44},
 :node-51
 {:activities #{:act-50},
  :constraints #{},
  :htn-node :hem-52,
  :incidence-set #{:na-52},
  :tpn-type :state,
  :uid :node-51},
 :node-54
 {:activities #{:na-58},
  :constraints #{},
  :incidence-set #{:act-66},
  :tpn-type :state,
  :uid :node-54},
 :node-6
 {:activities #{},
  :constraints #{},
  :incidence-set #{:na-10 :na-58},
  :tpn-type :p-end,
  :uid :node-6},
 :node-62
 {:activities #{:act-61},
  :constraints #{},
  :end-node :node-54,
  :htn-node :hem-55,
  :incidence-set #{:na-63},
  :tpn-type :state,
  :uid :node-62},
 :node-67
 {:activities #{:act-66},
  :constraints #{},
  :htn-node :hem-55,
  :incidence-set #{:act-61},
  :tpn-type :state,
  :uid :node-67},
 :node-7
 {:activities #{:na-63 :na-18},
  :constraints #{},
  :end-node :node-6,
  :htn-node :hem-40,
  :incidence-set #{},
  :tpn-type :p-begin,
  :uid :node-7},
 :tc-14
 {:end-node :node-11,
  :tpn-type :temporal-constraint,
  :uid :tc-14,
  :value [15 25]},
 :tc-29
 {:end-node :node-20,
  :tpn-type :temporal-constraint,
  :uid :tc-29,
  :value [15 25]},
 :tc-39
 {:end-node :node-34,
  :tpn-type :temporal-constraint,
  :uid :tc-39,
  :value [15 25]},
 :tc-49
 {:end-node :node-44,
  :tpn-type :temporal-constraint,
  :uid :tc-49,
  :value [15 25]},
 :tc-60
 {:end-node :node-67,
  :tpn-type :temporal-constraint,
  :uid :tc-60,
  :value [20 30]},
 :tc-65
 {:end-node :node-54,
  :tpn-type :temporal-constraint,
  :uid :tc-65,
  :value [5 10]}}
