{:da-574
 {:tpn-type :delay-activity,
  :uid :da-574,
  :constraints #{},
  :end-node :node-573,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-544},
 :da-582
 {:tpn-type :delay-activity,
  :uid :da-582,
  :constraints #{},
  :end-node :node-581,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-544},
 :da-587
 {:tpn-type :delay-activity,
  :uid :da-587,
  :constraints #{},
  :end-node :node-586,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-544},
 :da-592
 {:tpn-type :delay-activity,
  :uid :da-592,
  :constraints #{},
  :end-node :node-591,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-544},
 :na-579
 {:tpn-type :null-activity,
  :uid :na-579,
  :constraints #{},
  :end-node :node-575},
 :na-580
 {:tpn-type :null-activity,
  :uid :na-580,
  :constraints #{},
  :end-node :node-576},
 :na-584
 {:tpn-type :null-activity,
  :uid :na-584,
  :constraints #{},
  :end-node :node-583},
 :na-585
 {:tpn-type :null-activity,
  :uid :na-585,
  :constraints #{},
  :end-node :node-576},
 :na-589
 {:tpn-type :null-activity,
  :uid :na-589,
  :constraints #{},
  :end-node :node-588},
 :na-590
 {:tpn-type :null-activity,
  :uid :na-590,
  :constraints #{},
  :end-node :node-576},
 :na-595
 {:tpn-type :null-activity,
  :uid :na-595,
  :constraints #{},
  :end-node :node-593},
 :na-596
 {:tpn-type :null-activity,
  :uid :na-596,
  :constraints #{},
  :end-node :node-576},
 :net-571
 {:tpn-type :network,
  :uid :net-571,
  :begin-node :node-577,
  :end-node :node-576},
 :network-id :net-571,
 :node-573
 {:tpn-type :state,
  :uid :node-573,
  :constraints #{},
  :activities #{:na-580},
  :incidence-set #{:da-574}},
 :node-575
 {:tpn-type :state,
  :uid :node-575,
  :constraints #{},
  :activities #{:da-574},
  :incidence-set #{:na-579},
  :htn-node :hem-544,
  :end-node :node-573},
 :node-576
 {:tpn-type :p-end,
  :uid :node-576,
  :constraints #{},
  :activities #{},
  :incidence-set #{:na-585 :na-580 :na-590 :na-596}},
 :node-577
 {:tpn-type :p-begin,
  :uid :node-577,
  :constraints #{:tc-572},
  :activities #{:na-595 :na-579 :na-589 :na-584},
  :incidence-set #{},
  :htn-node :hem-544,
  :end-node :node-576},
 :node-581
 {:tpn-type :state,
  :uid :node-581,
  :constraints #{},
  :activities #{:na-585},
  :incidence-set #{:da-582}},
 :node-583
 {:tpn-type :state,
  :uid :node-583,
  :constraints #{},
  :activities #{:da-582},
  :incidence-set #{:na-584},
  :htn-node :hem-544,
  :end-node :node-581},
 :node-586
 {:tpn-type :state,
  :uid :node-586,
  :constraints #{},
  :activities #{:na-590},
  :incidence-set #{:da-587}},
 :node-588
 {:tpn-type :state,
  :uid :node-588,
  :constraints #{},
  :activities #{:da-587},
  :incidence-set #{:na-589},
  :htn-node :hem-544,
  :end-node :node-586},
 :node-591
 {:tpn-type :state,
  :uid :node-591,
  :constraints #{},
  :activities #{:na-596},
  :incidence-set #{:da-592}},
 :node-593
 {:tpn-type :state,
  :uid :node-593,
  :constraints #{},
  :activities #{:da-592},
  :incidence-set #{:na-595},
  :htn-node :hem-544,
  :end-node :node-591},
 :tc-572
 {:tpn-type :temporal-constraint,
  :uid :tc-572,
  :value [1 100],
  :end-node :node-576}}
