{:da-14
 {:constraints #{},
  :controllable false,
  :end-node :node-13,
  :htn-node :hem-14,
  :name "Delay",
  :tpn-type :delay-activity,
  :uid :da-14},
 :da-19
 {:constraints #{},
  :controllable false,
  :end-node :node-18,
  :htn-node :hem-14,
  :name "Delay",
  :tpn-type :delay-activity,
  :uid :da-19},
 :da-24
 {:constraints #{},
  :controllable false,
  :end-node :node-23,
  :htn-node :hem-14,
  :name "Delay",
  :tpn-type :delay-activity,
  :uid :da-24},
 :da-6
 {:constraints #{},
  :controllable false,
  :end-node :node-5,
  :htn-node :hem-14,
  :name "Delay",
  :tpn-type :delay-activity,
  :uid :da-6},
 :na-11
 {:constraints #{},
  :end-node :node-7,
  :tpn-type :null-activity,
  :uid :na-11},
 :na-12
 {:constraints #{},
  :end-node :node-8,
  :tpn-type :null-activity,
  :uid :na-12},
 :na-16
 {:constraints #{},
  :end-node :node-15,
  :tpn-type :null-activity,
  :uid :na-16},
 :na-17
 {:constraints #{},
  :end-node :node-8,
  :tpn-type :null-activity,
  :uid :na-17},
 :na-21
 {:constraints #{},
  :end-node :node-20,
  :tpn-type :null-activity,
  :uid :na-21},
 :na-22
 {:constraints #{},
  :end-node :node-8,
  :tpn-type :null-activity,
  :uid :na-22},
 :na-27
 {:constraints #{},
  :end-node :node-25,
  :tpn-type :null-activity,
  :uid :na-27},
 :na-28
 {:constraints #{},
  :end-node :node-8,
  :tpn-type :null-activity,
  :uid :na-28},
 :net-3
 {:begin-node :node-9,
  :end-node :node-8,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-13
 {:activities #{:na-17},
  :constraints #{},
  :incidence-set #{:da-14},
  :tpn-type :state,
  :uid :node-13},
 :node-15
 {:activities #{:da-14},
  :constraints #{},
  :htn-node :hem-14,
  :incidence-set #{:na-16},
  :tpn-type :state,
  :uid :node-15},
 :node-18
 {:activities #{:na-22},
  :constraints #{},
  :incidence-set #{:da-19},
  :tpn-type :state,
  :uid :node-18},
 :node-20
 {:activities #{:da-19},
  :constraints #{},
  :htn-node :hem-14,
  :incidence-set #{:na-21},
  :tpn-type :state,
  :uid :node-20},
 :node-23
 {:activities #{:na-28},
  :constraints #{},
  :incidence-set #{:da-24},
  :tpn-type :state,
  :uid :node-23},
 :node-25
 {:activities #{:da-24},
  :constraints #{},
  :htn-node :hem-14,
  :incidence-set #{:na-27},
  :tpn-type :state,
  :uid :node-25},
 :node-5
 {:activities #{:na-12},
  :constraints #{},
  :incidence-set #{:da-6},
  :tpn-type :state,
  :uid :node-5},
 :node-7
 {:activities #{:da-6},
  :constraints #{},
  :htn-node :hem-14,
  :incidence-set #{:na-11},
  :tpn-type :state,
  :uid :node-7},
 :node-8
 {:activities #{},
  :constraints #{},
  :incidence-set #{:na-12 :na-17 :na-28 :na-22},
  :tpn-type :p-end,
  :uid :node-8},
 :node-9
 {:activities #{:na-27 :na-11 :na-21 :na-16},
  :constraints #{:tc-4},
  :end-node :node-8,
  :htn-node :hem-14,
  :incidence-set #{},
  :tpn-type :p-begin,
  :uid :node-9},
 :tc-4
 {:end-node :node-8,
  :tpn-type :temporal-constraint,
  :uid :tc-4,
  :value [1 100]}}
