{:hedge-530 {:type :edge, :uid :hedge-530, :end-node :hem-528},
 :hem-528
 {:uid :hem-528,
  :type :htn-expanded-method,
  :label "Example()",
  :display-name "Example",
  :network :net-531,
  :incidence-set #{:hedge-530},
  :edges []},
 :henpt-523
 {:uid :henpt-523,
  :type :htn-expanded-nonprimitive-task,
  :label "parallel-always",
  :display-name "parallel-always",
  :incidence-set #{},
  :edges [:hedge-530]},
 :hpt-524
 {:type :htn-primitive-task,
  :uid :hpt-524,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{},
  :edges [],
  :label "TEMP-delay"},
 :hpt-525
 {:type :htn-primitive-task,
  :uid :hpt-525,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{},
  :edges [],
  :label "TEMP-delay"},
 :hpt-526
 {:type :htn-primitive-task,
  :uid :hpt-526,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{},
  :edges [],
  :label "TEMP-delay"},
 :hpt-527
 {:type :htn-primitive-task,
  :uid :hpt-527,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{},
  :edges [],
  :label "TEMP-delay"},
 :net-529
 {:type :htn-network,
  :uid :net-529,
  :display-name "parallel-always",
  :label "parallel-always",
  :rootnodes #{:henpt-523}},
 :net-531
 {:type :htn-network,
  :uid :net-531,
  :display-name "Example()",
  :label "Example()",
  :rootnodes #{:hpt-525 :hpt-526 :hpt-527 :hpt-524}},
 :network :net-529}
