{:hedge-15 {:end-node :hem-13, :type :edge, :uid :hedge-15},
 :hem-13
 {:args nil,
  :display-name "Example",
  :edges [],
  :incidence-set #{:hedge-15},
  :network :net-16,
  :type :htn-expanded-method,
  :uid :hem-13},
 :henpt-8
 {:display-name "parallel-bounds",
  :edges [:hedge-15],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-8},
 :hpt-10
 {:display-name "Delay",
  :edges [],
  :incidence-set #{},
  :name "delay",
  :type :htn-primitive-task,
  :uid :hpt-10},
 :hpt-11
 {:display-name "Delay",
  :edges [],
  :incidence-set #{},
  :name "delay",
  :type :htn-primitive-task,
  :uid :hpt-11},
 :hpt-12
 {:display-name "Delay",
  :edges [],
  :incidence-set #{},
  :name "delay",
  :type :htn-primitive-task,
  :uid :hpt-12},
 :hpt-9
 {:display-name "Delay",
  :edges [],
  :incidence-set #{},
  :name "delay",
  :type :htn-primitive-task,
  :uid :hpt-9},
 :net-14
 {:display-name "parallel-bounds",
  :rootnodes #{:henpt-8},
  :type :htn-network,
  :uid :net-14},
 :net-16
 {:display-name "Example",
  :rootnodes #{:hpt-9 :hpt-10 :hpt-12 :hpt-11},
  :type :htn-network,
  :uid :net-16},
 :network :net-14}
