{:hedge-15 {:type :edge, :uid :hedge-15, :end-node :hem-13},
 :hem-13
 {:uid :hem-13,
  :type :htn-expanded-method,
  :label "Example()",
  :display-name "Example",
  :network :net-16,
  :incidence-set #{:hedge-15},
  :edges []},
 :henpt-8
 {:uid :henpt-8,
  :type :htn-expanded-nonprimitive-task,
  :label "parallel-always",
  :display-name "parallel-always",
  :incidence-set #{},
  :edges [:hedge-15]},
 :hpt-10
 {:type :htn-primitive-task,
  :uid :hpt-10,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{},
  :edges [],
  :label "TEMP-delay"},
 :hpt-11
 {:type :htn-primitive-task,
  :uid :hpt-11,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{},
  :edges [],
  :label "TEMP-delay"},
 :hpt-12
 {:type :htn-primitive-task,
  :uid :hpt-12,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{},
  :edges [],
  :label "TEMP-delay"},
 :hpt-9
 {:type :htn-primitive-task,
  :uid :hpt-9,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{},
  :edges [],
  :label "TEMP-delay"},
 :net-14
 {:type :htn-network,
  :uid :net-14,
  :display-name "parallel-always",
  :label "parallel-always",
  :rootnodes #{:henpt-8}},
 :net-16
 {:type :htn-network,
  :uid :net-16,
  :display-name "Example()",
  :label "Example()",
  :rootnodes #{:hpt-9 :hpt-10 :hpt-12 :hpt-11}},
 :network :net-14}
