{:da-13
 {:tpn-type :delay-activity,
  :uid :da-13,
  :constraints #{},
  :end-node :node-12,
  :controllable false,
  :name "Delay",
  :htn-node :hem-13},
 :da-18
 {:tpn-type :delay-activity,
  :uid :da-18,
  :constraints #{},
  :end-node :node-17,
  :controllable false,
  :name "Delay",
  :htn-node :hem-13},
 :da-23
 {:tpn-type :delay-activity,
  :uid :da-23,
  :constraints #{},
  :end-node :node-22,
  :controllable false,
  :name "Delay",
  :htn-node :hem-13},
 :da-5
 {:tpn-type :delay-activity,
  :uid :da-5,
  :constraints #{},
  :end-node :node-4,
  :controllable false,
  :name "Delay",
  :htn-node :hem-13},
 :na-10
 {:tpn-type :null-activity,
  :uid :na-10,
  :constraints #{},
  :end-node :node-6},
 :na-11
 {:tpn-type :null-activity,
  :uid :na-11,
  :constraints #{},
  :end-node :node-7},
 :na-15
 {:tpn-type :null-activity,
  :uid :na-15,
  :constraints #{},
  :end-node :node-14},
 :na-16
 {:tpn-type :null-activity,
  :uid :na-16,
  :constraints #{},
  :end-node :node-7},
 :na-20
 {:tpn-type :null-activity,
  :uid :na-20,
  :constraints #{},
  :end-node :node-19},
 :na-21
 {:tpn-type :null-activity,
  :uid :na-21,
  :constraints #{},
  :end-node :node-7},
 :na-26
 {:tpn-type :null-activity,
  :uid :na-26,
  :constraints #{},
  :end-node :node-24},
 :na-27
 {:tpn-type :null-activity,
  :uid :na-27,
  :constraints #{},
  :end-node :node-7},
 :net-3
 {:tpn-type :network,
  :uid :net-3,
  :begin-node :node-8,
  :end-node :node-7},
 :network-id :net-3,
 :node-12
 {:tpn-type :state,
  :uid :node-12,
  :constraints #{},
  :activities #{:na-16},
  :incidence-set #{:da-13}},
 :node-14
 {:tpn-type :state,
  :uid :node-14,
  :constraints #{},
  :activities #{:da-13},
  :incidence-set #{:na-15},
  :htn-node :hem-13},
 :node-17
 {:tpn-type :state,
  :uid :node-17,
  :constraints #{},
  :activities #{:na-21},
  :incidence-set #{:da-18}},
 :node-19
 {:tpn-type :state,
  :uid :node-19,
  :constraints #{},
  :activities #{:da-18},
  :incidence-set #{:na-20},
  :htn-node :hem-13},
 :node-22
 {:tpn-type :state,
  :uid :node-22,
  :constraints #{},
  :activities #{:na-27},
  :incidence-set #{:da-23}},
 :node-24
 {:tpn-type :state,
  :uid :node-24,
  :constraints #{},
  :activities #{:da-23},
  :incidence-set #{:na-26},
  :htn-node :hem-13},
 :node-4
 {:tpn-type :state,
  :uid :node-4,
  :constraints #{},
  :activities #{:na-11},
  :incidence-set #{:da-5}},
 :node-6
 {:tpn-type :state,
  :uid :node-6,
  :constraints #{},
  :activities #{:da-5},
  :incidence-set #{:na-10},
  :htn-node :hem-13},
 :node-7
 {:tpn-type :p-end,
  :uid :node-7,
  :constraints #{},
  :activities #{},
  :incidence-set #{:na-27 :na-11 :na-21 :na-16}},
 :node-8
 {:tpn-type :p-begin,
  :uid :node-8,
  :constraints #{},
  :activities #{:na-15 :na-20 :na-10 :na-26},
  :incidence-set #{},
  :htn-node :hem-13,
  :end-node :node-7}}
