{:hedge-546 {:type :edge, :uid :hedge-546, :end-node :hem-544},
 :hem-544
 {:uid :hem-544,
  :type :htn-expanded-method,
  :label "Example()",
  :display-name "Example",
  :network :net-547,
  :incidence-set #{:hedge-546},
  :edges []},
 :henpt-539
 {:uid :henpt-539,
  :type :htn-expanded-nonprimitive-task,
  :label "parallel-bounds",
  :display-name "parallel-bounds",
  :incidence-set #{},
  :edges [:hedge-546]},
 :hpt-540
 {:type :htn-primitive-task,
  :uid :hpt-540,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{},
  :edges [],
  :label "TEMP-delay"},
 :hpt-541
 {:type :htn-primitive-task,
  :uid :hpt-541,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{},
  :edges [],
  :label "TEMP-delay"},
 :hpt-542
 {:type :htn-primitive-task,
  :uid :hpt-542,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{},
  :edges [],
  :label "TEMP-delay"},
 :hpt-543
 {:type :htn-primitive-task,
  :uid :hpt-543,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{},
  :edges [],
  :label "TEMP-delay"},
 :net-545
 {:type :htn-network,
  :uid :net-545,
  :display-name "parallel-bounds",
  :label "parallel-bounds",
  :rootnodes #{:henpt-539}},
 :net-547
 {:type :htn-network,
  :uid :net-547,
  :display-name "Example()",
  :label "Example()",
  :rootnodes #{:hpt-542 :hpt-541 :hpt-540 :hpt-543}},
 :network :net-545}
