{:hedge-16 {:end-node :hem-14, :type :edge, :uid :hedge-16},
 :hem-14
 {:args [],
  :display-args [],
  :display-name "Example",
  :edges [],
  :incidence-set #{:hedge-16},
  :network :net-17,
  :type :htn-expanded-method,
  :uid :hem-14},
 :henpt-9
 {:display-name "parallel-always",
  :edges [:hedge-16],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-9},
 :hpt-10
 {:display-name "Delay",
  :edges [],
  :incidence-set #{},
  :name "delay",
  :type :htn-primitive-task,
  :uid :hpt-10},
 :hpt-11
 {:display-name "Delay",
  :edges [],
  :incidence-set #{},
  :name "delay",
  :type :htn-primitive-task,
  :uid :hpt-11},
 :hpt-12
 {:display-name "Delay",
  :edges [],
  :incidence-set #{},
  :name "delay",
  :type :htn-primitive-task,
  :uid :hpt-12},
 :hpt-13
 {:display-name "Delay",
  :edges [],
  :incidence-set #{},
  :name "delay",
  :type :htn-primitive-task,
  :uid :hpt-13},
 :net-15
 {:display-name "parallel-always",
  :rootnodes #{:henpt-9},
  :type :htn-network,
  :uid :net-15},
 :net-17
 {:display-name "Example",
  :rootnodes #{:hpt-10 :hpt-12 :hpt-11 :hpt-13},
  :type :htn-network,
  :uid :net-17},
 :network :net-15}
