{:da-13
 {:constraints #{},
  :controllable false,
  :end-node :node-12,
  :htn-node :hem-14,
  :name "Delay",
  :tpn-type :delay-activity,
  :uid :da-13},
 :da-18
 {:constraints #{},
  :controllable false,
  :end-node :node-17,
  :htn-node :hem-14,
  :name "Delay",
  :tpn-type :delay-activity,
  :uid :da-18},
 :da-23
 {:constraints #{},
  :controllable false,
  :end-node :node-22,
  :htn-node :hem-14,
  :name "Delay",
  :tpn-type :delay-activity,
  :uid :da-23},
 :da-5
 {:constraints #{},
  :controllable false,
  :end-node :node-4,
  :htn-node :hem-14,
  :name "Delay",
  :tpn-type :delay-activity,
  :uid :da-5},
 :na-10
 {:constraints #{},
  :end-node :node-6,
  :tpn-type :null-activity,
  :uid :na-10},
 :na-11
 {:constraints #{},
  :end-node :node-7,
  :tpn-type :null-activity,
  :uid :na-11},
 :na-15
 {:constraints #{},
  :end-node :node-14,
  :tpn-type :null-activity,
  :uid :na-15},
 :na-16
 {:constraints #{},
  :end-node :node-7,
  :tpn-type :null-activity,
  :uid :na-16},
 :na-20
 {:constraints #{},
  :end-node :node-19,
  :tpn-type :null-activity,
  :uid :na-20},
 :na-21
 {:constraints #{},
  :end-node :node-7,
  :tpn-type :null-activity,
  :uid :na-21},
 :na-26
 {:constraints #{},
  :end-node :node-24,
  :tpn-type :null-activity,
  :uid :na-26},
 :na-27
 {:constraints #{},
  :end-node :node-7,
  :tpn-type :null-activity,
  :uid :na-27},
 :net-3
 {:begin-node :node-8,
  :end-node :node-7,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-12
 {:activities #{:na-16},
  :constraints #{},
  :incidence-set #{:da-13},
  :tpn-type :state,
  :uid :node-12},
 :node-14
 {:activities #{:da-13},
  :constraints #{},
  :htn-node :hem-14,
  :incidence-set #{:na-15},
  :tpn-type :state,
  :uid :node-14},
 :node-17
 {:activities #{:na-21},
  :constraints #{},
  :incidence-set #{:da-18},
  :tpn-type :state,
  :uid :node-17},
 :node-19
 {:activities #{:da-18},
  :constraints #{},
  :htn-node :hem-14,
  :incidence-set #{:na-20},
  :tpn-type :state,
  :uid :node-19},
 :node-22
 {:activities #{:na-27},
  :constraints #{},
  :incidence-set #{:da-23},
  :tpn-type :state,
  :uid :node-22},
 :node-24
 {:activities #{:da-23},
  :constraints #{},
  :htn-node :hem-14,
  :incidence-set #{:na-26},
  :tpn-type :state,
  :uid :node-24},
 :node-4
 {:activities #{:na-11},
  :constraints #{},
  :incidence-set #{:da-5},
  :tpn-type :state,
  :uid :node-4},
 :node-6
 {:activities #{:da-5},
  :constraints #{},
  :htn-node :hem-14,
  :incidence-set #{:na-10},
  :tpn-type :state,
  :uid :node-6},
 :node-7
 {:activities #{},
  :constraints #{},
  :incidence-set #{:na-27 :na-11 :na-21 :na-16},
  :tpn-type :p-end,
  :uid :node-7},
 :node-8
 {:activities #{:na-15 :na-20 :na-10 :na-26},
  :constraints #{},
  :end-node :node-7,
  :htn-node :hem-14,
  :incidence-set #{},
  :tpn-type :p-begin,
  :uid :node-8}}
