{:da-546
 {:tpn-type :delay-activity,
  :uid :da-546,
  :constraints #{},
  :end-node :node-545,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-528},
 :da-554
 {:tpn-type :delay-activity,
  :uid :da-554,
  :constraints #{},
  :end-node :node-553,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-528},
 :da-559
 {:tpn-type :delay-activity,
  :uid :da-559,
  :constraints #{},
  :end-node :node-558,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-528},
 :da-564
 {:tpn-type :delay-activity,
  :uid :da-564,
  :constraints #{},
  :end-node :node-563,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-528},
 :na-551
 {:tpn-type :null-activity,
  :uid :na-551,
  :constraints #{},
  :end-node :node-547},
 :na-552
 {:tpn-type :null-activity,
  :uid :na-552,
  :constraints #{},
  :end-node :node-548},
 :na-556
 {:tpn-type :null-activity,
  :uid :na-556,
  :constraints #{},
  :end-node :node-555},
 :na-557
 {:tpn-type :null-activity,
  :uid :na-557,
  :constraints #{},
  :end-node :node-548},
 :na-561
 {:tpn-type :null-activity,
  :uid :na-561,
  :constraints #{},
  :end-node :node-560},
 :na-562
 {:tpn-type :null-activity,
  :uid :na-562,
  :constraints #{},
  :end-node :node-548},
 :na-567
 {:tpn-type :null-activity,
  :uid :na-567,
  :constraints #{},
  :end-node :node-565},
 :na-568
 {:tpn-type :null-activity,
  :uid :na-568,
  :constraints #{},
  :end-node :node-548},
 :net-544
 {:tpn-type :network,
  :uid :net-544,
  :begin-node :node-549,
  :end-node :node-548},
 :network-id :net-544,
 :node-545
 {:tpn-type :state,
  :uid :node-545,
  :constraints #{},
  :activities #{:na-552},
  :incidence-set #{:da-546}},
 :node-547
 {:tpn-type :state,
  :uid :node-547,
  :constraints #{},
  :activities #{:da-546},
  :incidence-set #{:na-551},
  :htn-node :hem-528,
  :end-node :node-545},
 :node-548
 {:tpn-type :p-end,
  :uid :node-548,
  :constraints #{},
  :activities #{},
  :incidence-set #{:na-552 :na-562 :na-568 :na-557}},
 :node-549
 {:tpn-type :p-begin,
  :uid :node-549,
  :constraints #{},
  :activities #{:na-561 :na-567 :na-551 :na-556},
  :incidence-set #{},
  :htn-node :hem-528,
  :end-node :node-548},
 :node-553
 {:tpn-type :state,
  :uid :node-553,
  :constraints #{},
  :activities #{:na-557},
  :incidence-set #{:da-554}},
 :node-555
 {:tpn-type :state,
  :uid :node-555,
  :constraints #{},
  :activities #{:da-554},
  :incidence-set #{:na-556},
  :htn-node :hem-528,
  :end-node :node-553},
 :node-558
 {:tpn-type :state,
  :uid :node-558,
  :constraints #{},
  :activities #{:na-562},
  :incidence-set #{:da-559}},
 :node-560
 {:tpn-type :state,
  :uid :node-560,
  :constraints #{},
  :activities #{:da-559},
  :incidence-set #{:na-561},
  :htn-node :hem-528,
  :end-node :node-558},
 :node-563
 {:tpn-type :state,
  :uid :node-563,
  :constraints #{},
  :activities #{:na-568},
  :incidence-set #{:da-564}},
 :node-565
 {:tpn-type :state,
  :uid :node-565,
  :constraints #{},
  :activities #{:da-564},
  :incidence-set #{:na-567},
  :htn-node :hem-528,
  :end-node :node-563}}
