{:da-14
 {:tpn-type :delay-activity,
  :uid :da-14,
  :constraints #{},
  :end-node :node-13,
  :controllable false,
  :name "Delay",
  :htn-node :hem-13},
 :da-19
 {:tpn-type :delay-activity,
  :uid :da-19,
  :constraints #{},
  :end-node :node-18,
  :controllable false,
  :name "Delay",
  :htn-node :hem-13},
 :da-24
 {:tpn-type :delay-activity,
  :uid :da-24,
  :constraints #{},
  :end-node :node-23,
  :controllable false,
  :name "Delay",
  :htn-node :hem-13},
 :da-6
 {:tpn-type :delay-activity,
  :uid :da-6,
  :constraints #{},
  :end-node :node-5,
  :controllable false,
  :name "Delay",
  :htn-node :hem-13},
 :na-11
 {:tpn-type :null-activity,
  :uid :na-11,
  :constraints #{},
  :end-node :node-7},
 :na-12
 {:tpn-type :null-activity,
  :uid :na-12,
  :constraints #{},
  :end-node :node-8},
 :na-16
 {:tpn-type :null-activity,
  :uid :na-16,
  :constraints #{},
  :end-node :node-15},
 :na-17
 {:tpn-type :null-activity,
  :uid :na-17,
  :constraints #{},
  :end-node :node-8},
 :na-21
 {:tpn-type :null-activity,
  :uid :na-21,
  :constraints #{},
  :end-node :node-20},
 :na-22
 {:tpn-type :null-activity,
  :uid :na-22,
  :constraints #{},
  :end-node :node-8},
 :na-27
 {:tpn-type :null-activity,
  :uid :na-27,
  :constraints #{},
  :end-node :node-25},
 :na-28
 {:tpn-type :null-activity,
  :uid :na-28,
  :constraints #{},
  :end-node :node-8},
 :net-3
 {:tpn-type :network,
  :uid :net-3,
  :begin-node :node-9,
  :end-node :node-8},
 :network-id :net-3,
 :node-13
 {:tpn-type :state,
  :uid :node-13,
  :constraints #{},
  :activities #{:na-17},
  :incidence-set #{:da-14}},
 :node-15
 {:tpn-type :state,
  :uid :node-15,
  :constraints #{},
  :activities #{:da-14},
  :incidence-set #{:na-16},
  :htn-node :hem-13},
 :node-18
 {:tpn-type :state,
  :uid :node-18,
  :constraints #{},
  :activities #{:na-22},
  :incidence-set #{:da-19}},
 :node-20
 {:tpn-type :state,
  :uid :node-20,
  :constraints #{},
  :activities #{:da-19},
  :incidence-set #{:na-21},
  :htn-node :hem-13},
 :node-23
 {:tpn-type :state,
  :uid :node-23,
  :constraints #{},
  :activities #{:na-28},
  :incidence-set #{:da-24}},
 :node-25
 {:tpn-type :state,
  :uid :node-25,
  :constraints #{},
  :activities #{:da-24},
  :incidence-set #{:na-27},
  :htn-node :hem-13},
 :node-5
 {:tpn-type :state,
  :uid :node-5,
  :constraints #{},
  :activities #{:na-12},
  :incidence-set #{:da-6}},
 :node-7
 {:tpn-type :state,
  :uid :node-7,
  :constraints #{},
  :activities #{:da-6},
  :incidence-set #{:na-11},
  :htn-node :hem-13},
 :node-8
 {:tpn-type :p-end,
  :uid :node-8,
  :constraints #{},
  :activities #{},
  :incidence-set #{:na-12 :na-17 :na-28 :na-22}},
 :node-9
 {:tpn-type :p-begin,
  :uid :node-9,
  :constraints #{:tc-4},
  :activities #{:na-27 :na-11 :na-21 :na-16},
  :incidence-set #{},
  :htn-node :hem-13,
  :end-node :node-8},
 :tc-4
 {:tpn-type :temporal-constraint,
  :uid :tc-4,
  :value [1 100],
  :end-node :node-8}}
