{:da-13
 {:tpn-type :delay-activity,
  :uid :da-13,
  :constraints #{},
  :end-node :node-18,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-14},
 :da-17
 {:tpn-type :delay-activity,
  :uid :da-17,
  :constraints #{},
  :end-node :node-1,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-14},
 :da-5
 {:tpn-type :delay-activity,
  :uid :da-5,
  :constraints #{},
  :end-node :node-10,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-14},
 :da-9
 {:tpn-type :delay-activity,
  :uid :da-9,
  :constraints #{},
  :end-node :node-14,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-14},
 :net-3
 {:tpn-type :network,
  :uid :net-3,
  :begin-node :node-6,
  :end-node :node-1},
 :network-id :net-3,
 :node-1
 {:tpn-type :state,
  :uid :node-1,
  :constraints #{},
  :activities #{},
  :incidence-set #{:da-17}},
 :node-10
 {:tpn-type :state,
  :uid :node-10,
  :constraints #{},
  :activities #{:da-9},
  :incidence-set #{:da-5},
  :htn-node :hem-14,
  :end-node :node-14},
 :node-14
 {:tpn-type :state,
  :uid :node-14,
  :constraints #{},
  :activities #{:da-13},
  :incidence-set #{:da-9},
  :htn-node :hem-14,
  :end-node :node-18},
 :node-18
 {:tpn-type :state,
  :uid :node-18,
  :constraints #{},
  :activities #{:da-17},
  :incidence-set #{:da-13},
  :htn-node :hem-14,
  :end-node :node-1},
 :node-6
 {:tpn-type :state,
  :uid :node-6,
  :constraints #{},
  :activities #{:da-5},
  :incidence-set #{},
  :htn-node :hem-14,
  :end-node :node-10}}
