{:hedge-585 {:type :edge, :uid :hedge-585, :end-node :hem-582},
 :hedge-587 {:type :edge, :uid :hedge-587, :end-node :hpt-579},
 :hedge-588 {:type :edge, :uid :hedge-588, :end-node :hpt-580},
 :hedge-589 {:type :edge, :uid :hedge-589, :end-node :hpt-581},
 :hem-582
 {:uid :hem-582,
  :type :htn-expanded-method,
  :label "Example()",
  :display-name "Example",
  :network :net-586,
  :incidence-set #{:hedge-585},
  :edges []},
 :henpt-577
 {:uid :henpt-577,
  :type :htn-expanded-nonprimitive-task,
  :label "sequence-bounds",
  :display-name "sequence-bounds",
  :incidence-set #{},
  :edges [:hedge-585]},
 :hpt-578
 {:type :htn-primitive-task,
  :uid :hpt-578,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{},
  :edges [:hedge-587],
  :label "TEMP-delay"},
 :hpt-579
 {:type :htn-primitive-task,
  :uid :hpt-579,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{:hedge-587},
  :edges [:hedge-588],
  :label "TEMP-delay"},
 :hpt-580
 {:type :htn-primitive-task,
  :uid :hpt-580,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{:hedge-588},
  :edges [:hedge-589],
  :label "TEMP-delay"},
 :hpt-581
 {:type :htn-primitive-task,
  :uid :hpt-581,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{:hedge-589},
  :edges [],
  :label "TEMP-delay"},
 :net-584
 {:type :htn-network,
  :uid :net-584,
  :display-name "sequence-bounds",
  :label "sequence-bounds",
  :rootnodes #{:henpt-577}},
 :net-586
 {:type :htn-network,
  :uid :net-586,
  :display-name "Example()",
  :label "Example()",
  :rootnodes #{:hpt-578}},
 :network :net-584}
