{:da-13
 {:constraints #{},
  :controllable false,
  :end-node :node-18,
  :htn-node :hem-15,
  :name "Delay",
  :tpn-type :delay-activity,
  :uid :da-13},
 :da-17
 {:constraints #{},
  :controllable false,
  :end-node :node-1,
  :htn-node :hem-15,
  :name "Delay",
  :tpn-type :delay-activity,
  :uid :da-17},
 :da-5
 {:constraints #{},
  :controllable false,
  :end-node :node-10,
  :htn-node :hem-15,
  :name "Delay",
  :tpn-type :delay-activity,
  :uid :da-5},
 :da-9
 {:constraints #{},
  :controllable false,
  :end-node :node-14,
  :htn-node :hem-15,
  :name "Delay",
  :tpn-type :delay-activity,
  :uid :da-9},
 :net-3
 {:begin-node :node-6,
  :end-node :node-1,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-1
 {:activities #{},
  :constraints #{},
  :incidence-set #{:da-17},
  :tpn-type :state,
  :uid :node-1},
 :node-10
 {:activities #{:da-9},
  :constraints #{},
  :htn-node :hem-15,
  :incidence-set #{:da-5},
  :tpn-type :state,
  :uid :node-10},
 :node-14
 {:activities #{:da-13},
  :constraints #{},
  :htn-node :hem-15,
  :incidence-set #{:da-9},
  :tpn-type :state,
  :uid :node-14},
 :node-18
 {:activities #{:da-17},
  :constraints #{},
  :htn-node :hem-15,
  :incidence-set #{:da-13},
  :tpn-type :state,
  :uid :node-18},
 :node-6
 {:activities #{:da-5},
  :constraints #{},
  :end-node :node-1,
  :htn-node :hem-15,
  :incidence-set #{},
  :tpn-type :state,
  :uid :node-6}}
