{:da-601
 {:tpn-type :delay-activity,
  :uid :da-601,
  :constraints #{},
  :end-node :node-606,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-561},
 :da-605
 {:tpn-type :delay-activity,
  :uid :da-605,
  :constraints #{},
  :end-node :node-610,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-561},
 :da-609
 {:tpn-type :delay-activity,
  :uid :da-609,
  :constraints #{},
  :end-node :node-614,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-561},
 :da-613
 {:tpn-type :delay-activity,
  :uid :da-613,
  :constraints #{},
  :end-node :node-597,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-561},
 :net-599
 {:tpn-type :network,
  :uid :net-599,
  :begin-node :node-602,
  :end-node :node-597},
 :network-id :net-599,
 :node-597
 {:tpn-type :state,
  :uid :node-597,
  :constraints #{},
  :activities #{},
  :incidence-set #{:da-613}},
 :node-602
 {:tpn-type :state,
  :uid :node-602,
  :constraints #{},
  :activities #{:da-601},
  :incidence-set #{},
  :htn-node :hem-561,
  :end-node :node-600},
 :node-606
 {:tpn-type :state,
  :uid :node-606,
  :constraints #{},
  :activities #{:da-605},
  :incidence-set #{:da-601},
  :htn-node :hem-561,
  :end-node :node-604},
 :node-610
 {:tpn-type :state,
  :uid :node-610,
  :constraints #{},
  :activities #{:da-609},
  :incidence-set #{:da-605},
  :htn-node :hem-561,
  :end-node :node-608},
 :node-614
 {:tpn-type :state,
  :uid :node-614,
  :constraints #{},
  :activities #{:da-613},
  :incidence-set #{:da-609},
  :htn-node :hem-561,
  :end-node :node-612}}
