{:da-10
 {:constraints #{},
  :controllable false,
  :end-node :node-15,
  :htn-node :hem-15,
  :name "Delay",
  :tpn-type :delay-activity,
  :uid :da-10},
 :da-14
 {:constraints #{},
  :controllable false,
  :end-node :node-19,
  :htn-node :hem-15,
  :name "Delay",
  :tpn-type :delay-activity,
  :uid :da-14},
 :da-18
 {:constraints #{},
  :controllable false,
  :end-node :node-1,
  :htn-node :hem-15,
  :name "Delay",
  :tpn-type :delay-activity,
  :uid :da-18},
 :da-6
 {:constraints #{},
  :controllable false,
  :end-node :node-11,
  :htn-node :hem-15,
  :name "Delay",
  :tpn-type :delay-activity,
  :uid :da-6},
 :net-3
 {:begin-node :node-7,
  :end-node :node-1,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-1
 {:activities #{},
  :constraints #{},
  :incidence-set #{:da-18},
  :tpn-type :state,
  :uid :node-1},
 :node-11
 {:activities #{:da-10},
  :constraints #{},
  :htn-node :hem-15,
  :incidence-set #{:da-6},
  :tpn-type :state,
  :uid :node-11},
 :node-15
 {:activities #{:da-14},
  :constraints #{},
  :htn-node :hem-15,
  :incidence-set #{:da-10},
  :tpn-type :state,
  :uid :node-15},
 :node-19
 {:activities #{:da-18},
  :constraints #{},
  :htn-node :hem-15,
  :incidence-set #{:da-14},
  :tpn-type :state,
  :uid :node-19},
 :node-7
 {:activities #{:da-6},
  :constraints #{:tc-4},
  :end-node :node-1,
  :htn-node :hem-15,
  :incidence-set #{},
  :tpn-type :state,
  :uid :node-7},
 :tc-4
 {:end-node :node-1,
  :tpn-type :temporal-constraint,
  :uid :tc-4,
  :value [1 100]}}
