{:hedge-17 {:end-node :hem-14, :type :edge, :uid :hedge-17},
 :hedge-19 {:end-node :hpt-11, :type :edge, :uid :hedge-19},
 :hedge-20 {:end-node :hpt-12, :type :edge, :uid :hedge-20},
 :hedge-21 {:end-node :hpt-13, :type :edge, :uid :hedge-21},
 :hem-14
 {:args [],
  :display-args [],
  :display-name "Example",
  :edges [],
  :incidence-set #{:hedge-17},
  :network :net-18,
  :type :htn-expanded-method,
  :uid :hem-14},
 :henpt-9
 {:display-name "sequence-bounds",
  :edges [:hedge-17],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-9},
 :hpt-10
 {:display-name "Delay",
  :edges [:hedge-19],
  :incidence-set #{},
  :name "delay",
  :type :htn-primitive-task,
  :uid :hpt-10},
 :hpt-11
 {:display-name "Delay",
  :edges [:hedge-20],
  :incidence-set #{:hedge-19},
  :name "delay",
  :type :htn-primitive-task,
  :uid :hpt-11},
 :hpt-12
 {:display-name "Delay",
  :edges [:hedge-21],
  :incidence-set #{:hedge-20},
  :name "delay",
  :type :htn-primitive-task,
  :uid :hpt-12},
 :hpt-13
 {:display-name "Delay",
  :edges [],
  :incidence-set #{:hedge-21},
  :name "delay",
  :type :htn-primitive-task,
  :uid :hpt-13},
 :net-16
 {:display-name "sequence-bounds",
  :rootnodes #{:henpt-9},
  :type :htn-network,
  :uid :net-16},
 :net-18
 {:display-name "Example",
  :rootnodes #{:hpt-10},
  :type :htn-network,
  :uid :net-18},
 :network :net-16}
