{:hedge-564 {:type :edge, :uid :hedge-564, :end-node :hem-561},
 :hedge-566 {:type :edge, :uid :hedge-566, :end-node :hpt-558},
 :hedge-567 {:type :edge, :uid :hedge-567, :end-node :hpt-559},
 :hedge-568 {:type :edge, :uid :hedge-568, :end-node :hpt-560},
 :hem-561
 {:uid :hem-561,
  :type :htn-expanded-method,
  :label "Example()",
  :display-name "Example",
  :network :net-565,
  :incidence-set #{:hedge-564},
  :edges []},
 :henpt-556
 {:uid :henpt-556,
  :type :htn-expanded-nonprimitive-task,
  :label "sequence-always",
  :display-name "sequence-always",
  :incidence-set #{},
  :edges [:hedge-564]},
 :hpt-557
 {:type :htn-primitive-task,
  :uid :hpt-557,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{},
  :edges [:hedge-566],
  :label "TEMP-delay"},
 :hpt-558
 {:type :htn-primitive-task,
  :uid :hpt-558,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{:hedge-566},
  :edges [:hedge-567],
  :label "TEMP-delay"},
 :hpt-559
 {:type :htn-primitive-task,
  :uid :hpt-559,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{:hedge-567},
  :edges [:hedge-568],
  :label "TEMP-delay"},
 :hpt-560
 {:type :htn-primitive-task,
  :uid :hpt-560,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{:hedge-568},
  :edges [],
  :label "TEMP-delay"},
 :net-563
 {:type :htn-network,
  :uid :net-563,
  :display-name "sequence-always",
  :label "sequence-always",
  :rootnodes #{:henpt-556}},
 :net-565
 {:type :htn-network,
  :uid :net-565,
  :display-name "Example()",
  :label "Example()",
  :rootnodes #{:hpt-557}},
 :network :net-563}
