{:hedge-17 {:type :edge, :uid :hedge-17, :end-node :hem-14},
 :hedge-19 {:type :edge, :uid :hedge-19, :end-node :hpt-11},
 :hedge-20 {:type :edge, :uid :hedge-20, :end-node :hpt-12},
 :hedge-21 {:type :edge, :uid :hedge-21, :end-node :hpt-13},
 :hem-14
 {:uid :hem-14,
  :type :htn-expanded-method,
  :label "Example()",
  :display-name "Example",
  :network :net-18,
  :incidence-set #{:hedge-17},
  :edges []},
 :henpt-9
 {:uid :henpt-9,
  :type :htn-expanded-nonprimitive-task,
  :label "sequence-always",
  :display-name "sequence-always",
  :incidence-set #{},
  :edges [:hedge-17]},
 :hpt-10
 {:type :htn-primitive-task,
  :uid :hpt-10,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{},
  :edges [:hedge-19],
  :label "TEMP-delay"},
 :hpt-11
 {:type :htn-primitive-task,
  :uid :hpt-11,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{:hedge-19},
  :edges [:hedge-20],
  :label "TEMP-delay"},
 :hpt-12
 {:type :htn-primitive-task,
  :uid :hpt-12,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{:hedge-20},
  :edges [:hedge-21],
  :label "TEMP-delay"},
 :hpt-13
 {:type :htn-primitive-task,
  :uid :hpt-13,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{:hedge-21},
  :edges [],
  :label "TEMP-delay"},
 :net-16
 {:type :htn-network,
  :uid :net-16,
  :display-name "sequence-always",
  :label "sequence-always",
  :rootnodes #{:henpt-9}},
 :net-18
 {:type :htn-network,
  :uid :net-18,
  :display-name "Example()",
  :label "Example()",
  :rootnodes #{:hpt-10}},
 :network :net-16}
