{:da-622
 {:tpn-type :delay-activity,
  :uid :da-622,
  :constraints #{},
  :end-node :node-627,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-582},
 :da-626
 {:tpn-type :delay-activity,
  :uid :da-626,
  :constraints #{},
  :end-node :node-631,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-582},
 :da-630
 {:tpn-type :delay-activity,
  :uid :da-630,
  :constraints #{},
  :end-node :node-635,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-582},
 :da-634
 {:tpn-type :delay-activity,
  :uid :da-634,
  :constraints #{},
  :end-node :node-617,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-582},
 :net-619
 {:tpn-type :network,
  :uid :net-619,
  :begin-node :node-623,
  :end-node :node-617},
 :network-id :net-619,
 :node-617
 {:tpn-type :state,
  :uid :node-617,
  :constraints #{},
  :activities #{},
  :incidence-set #{:da-634}},
 :node-623
 {:tpn-type :state,
  :uid :node-623,
  :constraints #{:tc-620},
  :activities #{:da-622},
  :incidence-set #{},
  :htn-node :hem-582,
  :end-node :node-621},
 :node-627
 {:tpn-type :state,
  :uid :node-627,
  :constraints #{},
  :activities #{:da-626},
  :incidence-set #{:da-622},
  :htn-node :hem-582,
  :end-node :node-625},
 :node-631
 {:tpn-type :state,
  :uid :node-631,
  :constraints #{},
  :activities #{:da-630},
  :incidence-set #{:da-626},
  :htn-node :hem-582,
  :end-node :node-629},
 :node-635
 {:tpn-type :state,
  :uid :node-635,
  :constraints #{},
  :activities #{:da-634},
  :incidence-set #{:da-630},
  :htn-node :hem-582,
  :end-node :node-633},
 :tc-620
 {:tpn-type :temporal-constraint,
  :uid :tc-620,
  :value [1 100],
  :end-node :node-617}}
