{:da-10
             {:tpn-type     :delay-activity,
              :uid          :da-10,
              :constraints  #{},
              :end-node     :node-15,
              :label        "TEMP-delay",
              :controllable false,
              :name         "Delay",
              :htn-node     :hem-14},
 :da-14
             {:tpn-type     :delay-activity,
              :uid          :da-14,
              :constraints  #{},
              :end-node     :node-19,
              :label        "TEMP-delay",
              :controllable false,
              :name         "Delay",
              :htn-node     :hem-14},
 :da-18
             {:tpn-type     :delay-activity,
              :uid          :da-18,
              :constraints  #{},
              :end-node     :node-1,
              :label        "TEMP-delay",
              :controllable false,
              :name         "Delay",
              :htn-node     :hem-14},
 :da-6
             {:tpn-type     :delay-activity,
              :uid          :da-6,
              :constraints  #{},
              :end-node     :node-11,
              :label        "TEMP-delay",
              :controllable false,
              :name         "Delay",
              :htn-node     :hem-14},
 :net-3
             {:tpn-type   :network,
              :uid        :net-3,
              :begin-node :node-7,
              :end-node   :node-1},
 :network-id :net-3,
 :node-1
             {:tpn-type      :state,
              :uid           :node-1,
              :constraints   #{},
              :activities    #{},
              :incidence-set #{:da-18}},
 :node-11
             {:tpn-type      :state,
              :uid           :node-11,
              :constraints   #{},
              :activities    #{:da-10},
              :incidence-set #{:da-6},
              :htn-node      :hem-14},
 :node-15
             {:tpn-type      :state,
              :uid           :node-15,
              :constraints   #{},
              :activities    #{:da-14},
              :incidence-set #{:da-10},
              :htn-node      :hem-14},
 :node-19
             {:tpn-type      :state,
              :uid           :node-19,
              :constraints   #{},
              :activities    #{:da-18},
              :incidence-set #{:da-14},
              :htn-node      :hem-14},
 :node-7
             {:tpn-type      :state,
              :uid           :node-7,
              :constraints   #{:tc-4},
              :activities    #{:da-6},
              :incidence-set #{},
              :htn-node      :hem-14,
              :end-node      :node-1},
 :tc-4
             {:tpn-type :temporal-constraint,
              :uid      :tc-4,
              :value    [1 100],
              :end-node :node-1}}
