{:hedge-29 {:end-node :hem-26, :type :edge, :uid :hedge-29},
 :hedge-31 {:end-node :hpt-15, :type :edge, :uid :hedge-31},
 :hedge-32 {:end-node :hpt-17, :type :edge, :uid :hedge-32},
 :hedge-33 {:end-node :hpt-19, :type :edge, :uid :hedge-33},
 :hedge-34 {:end-node :hpt-21, :type :edge, :uid :hedge-34},
 :hedge-35 {:end-node :hpt-23, :type :edge, :uid :hedge-35},
 :hedge-36 {:end-node :hpt-25, :type :edge, :uid :hedge-36},
 :hem-26
 {:args nil,
  :display-name "Main",
  :edges [],
  :incidence-set #{:hedge-29},
  :network :net-30,
  :type :htn-expanded-method,
  :uid :hem-26},
 :henpt-12
 {:display-name "planttest",
  :edges [:hedge-29],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-12},
 :hpt-13
 {:args [10],
  :argsmap {"time" 10},
  :display-name "Hardwork",
  :edges [:hedge-31],
  :incidence-set #{},
  :interface "RMQ",
  :name "hardwork",
  :plant-part "mypart",
  :plantid "myplant",
  :type :htn-primitive-task,
  :uid :hpt-13},
 :hpt-15
 {:args ["bigfile" "me@192.168.11.100:~me/copyofbigfile"],
  :argsmap
  {"fromfile" "bigfile",
   "tofile" "me@192.168.11.100:~me/copyofbigfile"},
  :display-name "Scp",
  :edges [:hedge-32],
  :incidence-set #{:hedge-31},
  :interface "RMQ",
  :name "scp",
  :plant-part "mypart",
  :plantid "myplant",
  :type :htn-primitive-task,
  :uid :hpt-15},
 :hpt-17
 {:args ["bigfile" "copyofbigfile"],
  :argsmap {"fromfile" "bigfile", "tofile" "copyofbigfile"},
  :display-name "Cp",
  :edges [:hedge-33],
  :incidence-set #{:hedge-32},
  :interface "RMQ",
  :name "cp",
  :plant-part "mypart",
  :plantid "myplant",
  :type :htn-primitive-task,
  :uid :hpt-17},
 :hpt-19
 {:args ["ls" "-lart" ">" "foo"],
  :argsmap {"arg1" "-lart", "arg2" ">", "arg3" "foo", "cmd" "ls"},
  :display-name "Shell",
  :edges [:hedge-34],
  :incidence-set #{:hedge-33},
  :interface "RMQ",
  :name "shell",
  :plant-part "mypart",
  :plantid "myplant",
  :type :htn-primitive-task,
  :uid :hpt-19},
 :hpt-21
 {:args ["myscript.py" "2" "3" "4" "5"],
  :argsmap
  {"arg1" "3",
   "arg2" "4",
   "arg3" "5",
   "options" "2",
   "script" "myscript.py"},
  :display-name "Python",
  :edges [:hedge-35],
  :incidence-set #{:hedge-34},
  :interface "RMQ",
  :name "python",
  :plant-part "mypart",
  :plantid "myplant",
  :type :htn-primitive-task,
  :uid :hpt-21},
 :hpt-23
 {:display-name "Delay",
  :edges [:hedge-36],
  :incidence-set #{:hedge-35},
  :name "delay",
  :type :htn-primitive-task,
  :uid :hpt-23},
 :hpt-25
 {:args ["McDonalds"],
  :argsmap {"area" "McDonalds"},
  :display-name "Stop",
  :edges [],
  :incidence-set #{:hedge-36},
  :interface "RMQ",
  :name "stop",
  :plant-part "mypart",
  :plantid "myplant",
  :type :htn-primitive-task,
  :uid :hpt-25},
 :net-28
 {:display-name "planttest",
  :rootnodes #{:henpt-12},
  :type :htn-network,
  :uid :net-28},
 :net-30
 {:display-name "Main",
  :rootnodes #{:hpt-13},
  :type :htn-network,
  :uid :net-30},
 :network :net-28}
