{:hedge-618 {:type :edge, :uid :hedge-618, :end-node :hem-615},
 :hedge-620 {:type :edge, :uid :hedge-620, :end-node :hpt-604},
 :hedge-621 {:type :edge, :uid :hedge-621, :end-node :hpt-606},
 :hedge-622 {:type :edge, :uid :hedge-622, :end-node :hpt-608},
 :hedge-623 {:type :edge, :uid :hedge-623, :end-node :hpt-610},
 :hedge-624 {:type :edge, :uid :hedge-624, :end-node :hpt-612},
 :hedge-625 {:type :edge, :uid :hedge-625, :end-node :hpt-614},
 :hem-615
 {:uid :hem-615,
  :type :htn-expanded-method,
  :label "Main()",
  :display-name "Main",
  :network :net-619,
  :incidence-set #{:hedge-618},
  :edges []},
 :henpt-601
 {:uid :henpt-601,
  :type :htn-expanded-nonprimitive-task,
  :label "planttest",
  :display-name "planttest",
  :incidence-set #{},
  :edges [:hedge-618]},
 :hpt-602
 {:args [10],
  :interface "RMQ",
  :plantid "myplant",
  :uid :hpt-602,
  :name "hardwork",
  :argsmap {"time" 10},
  :type :htn-primitive-task,
  :label "TEMP-hardwork",
  :display-name "Hardwork",
  :incidence-set #{},
  :edges [:hedge-620],
  :plant-part "mypart"},
 :hpt-604
 {:args ["bigfile" "me@192.168.11.100:~me/copyofbigfile"],
  :interface "RMQ",
  :plantid "myplant",
  :uid :hpt-604,
  :name "scp",
  :argsmap
  {"fromfile" "bigfile",
   "tofile" "me@192.168.11.100:~me/copyofbigfile"},
  :type :htn-primitive-task,
  :label "TEMP-scp",
  :display-name "Scp",
  :incidence-set #{:hedge-620},
  :edges [:hedge-621],
  :plant-part "mypart"},
 :hpt-606
 {:args ["bigfile" "copyofbigfile"],
  :interface "RMQ",
  :plantid "myplant",
  :uid :hpt-606,
  :name "cp",
  :argsmap {"fromfile" "bigfile", "tofile" "copyofbigfile"},
  :type :htn-primitive-task,
  :label "TEMP-cp",
  :display-name "Cp",
  :incidence-set #{:hedge-621},
  :edges [:hedge-622],
  :plant-part "mypart"},
 :hpt-608
 {:args ["ls" "-lart" ">" "foo"],
  :interface "RMQ",
  :plantid "myplant",
  :uid :hpt-608,
  :name "shell",
  :argsmap {"cmd" "ls", "arg1" "-lart", "arg2" ">", "arg3" "foo"},
  :type :htn-primitive-task,
  :label "TEMP-shell",
  :display-name "Shell",
  :incidence-set #{:hedge-622},
  :edges [:hedge-623],
  :plant-part "mypart"},
 :hpt-610
 {:args ["myscript.py" "2" "3" "4" "5"],
  :interface "RMQ",
  :plantid "myplant",
  :uid :hpt-610,
  :name "python",
  :argsmap
  {"script" "myscript.py",
   "options" "2",
   "arg1" "3",
   "arg2" "4",
   "arg3" "5"},
  :type :htn-primitive-task,
  :label "TEMP-python",
  :display-name "Python",
  :incidence-set #{:hedge-623},
  :edges [:hedge-624],
  :plant-part "mypart"},
 :hpt-612
 {:type :htn-primitive-task,
  :uid :hpt-612,
  :name "delay",
  :display-name "Delay",
  :incidence-set #{:hedge-624},
  :edges [:hedge-625],
  :label "TEMP-delay"},
 :hpt-614
 {:args ["McDonalds"],
  :interface "RMQ",
  :plantid "myplant",
  :uid :hpt-614,
  :name "stop",
  :argsmap {"area" "McDonalds"},
  :type :htn-primitive-task,
  :label "TEMP-stop",
  :display-name "Stop",
  :incidence-set #{:hedge-625},
  :edges [],
  :plant-part "mypart"},
 :net-617
 {:type :htn-network,
  :uid :net-617,
  :display-name "planttest",
  :label "planttest",
  :rootnodes #{:henpt-601}},
 :net-619
 {:type :htn-network,
  :uid :net-619,
  :display-name "Main()",
  :label "Main()",
  :rootnodes #{:hpt-602}},
 :network :net-617}
