{:hedge-26 {:end-node :hem-23, :type :edge, :uid :hedge-26},
 :hedge-28 {:end-node :hpt-17, :type :edge, :uid :hedge-28},
 :hedge-29 {:end-node :hpt-18, :type :edge, :uid :hedge-29},
 :hedge-30 {:end-node :hpt-19, :type :edge, :uid :hedge-30},
 :hedge-31 {:end-node :hpt-20, :type :edge, :uid :hedge-31},
 :hedge-32 {:end-node :hpt-21, :type :edge, :uid :hedge-32},
 :hedge-33 {:end-node :hpt-22, :type :edge, :uid :hedge-33},
 :hem-23
 {:args [],
  :display-args [],
  :display-name "Main",
  :edges [],
  :incidence-set #{:hedge-26},
  :network :net-27,
  :type :htn-expanded-method,
  :uid :hem-23},
 :henpt-15
 {:display-name "planttest",
  :edges [:hedge-26],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-15},
 :hpt-16
 {:args [10],
  :argsmap {"time" 10},
  :display-args [10],
  :display-name "Hardwork",
  :edges [:hedge-28],
  :incidence-set #{},
  :name "hardwork",
  :plant-id "myplant",
  :plant-interface "RMQ",
  :plant-part "mypart",
  :type :htn-primitive-task,
  :uid :hpt-16},
 :hpt-17
 {:args ["bigfile" "me@192.168.11.100:~me/copyofbigfile"],
  :argsmap
  {"fromfile" "bigfile",
   "tofile" "me@192.168.11.100:~me/copyofbigfile"},
  :display-args ["bigfile" "me@192.168.11.100:~me/copyofbigfile"],
  :display-name "Scp",
  :edges [:hedge-29],
  :incidence-set #{:hedge-28},
  :name "scp",
  :plant-id "myplant",
  :plant-interface "RMQ",
  :plant-part "mypart",
  :type :htn-primitive-task,
  :uid :hpt-17},
 :hpt-18
 {:args ["bigfile" "copyofbigfile"],
  :argsmap {"fromfile" "bigfile", "tofile" "copyofbigfile"},
  :display-args ["bigfile" "copyofbigfile"],
  :display-name "Cp",
  :edges [:hedge-30],
  :incidence-set #{:hedge-29},
  :name "cp",
  :plant-id "myplant",
  :plant-interface "RMQ",
  :plant-part "mypart",
  :type :htn-primitive-task,
  :uid :hpt-18},
 :hpt-19
 {:args ["ls" "-lart" ">" "foo"],
  :argsmap {"arg1" "-lart", "arg2" ">", "arg3" "foo", "cmd" "ls"},
  :display-args ["ls" "-lart" ">" "foo"],
  :display-name "Shell",
  :edges [:hedge-31],
  :incidence-set #{:hedge-30},
  :name "shell",
  :plant-id "myplant",
  :plant-interface "RMQ",
  :plant-part "mypart",
  :type :htn-primitive-task,
  :uid :hpt-19},
 :hpt-20
 {:args ["myscript.py" "2" "3" "4" "5"],
  :argsmap
  {"arg1" "3",
   "arg2" "4",
   "arg3" "5",
   "options" "2",
   "script" "myscript.py"},
  :display-args ["myscript.py" "2" "3" "4" "5"],
  :display-name "Python",
  :edges [:hedge-32],
  :incidence-set #{:hedge-31},
  :name "python",
  :plant-id "myplant",
  :plant-interface "RMQ",
  :plant-part "mypart",
  :type :htn-primitive-task,
  :uid :hpt-20},
 :hpt-21
 {:display-name "Delay",
  :edges [:hedge-33],
  :incidence-set #{:hedge-32},
  :name "delay",
  :type :htn-primitive-task,
  :uid :hpt-21},
 :hpt-22
 {:args ["McDonalds"],
  :argsmap {"area" "McDonalds"},
  :display-args ["McDonalds"],
  :display-name "Stop",
  :edges [],
  :incidence-set #{:hedge-33},
  :name "stop",
  :plant-id "myplant",
  :plant-interface "RMQ",
  :plant-part "mypart",
  :type :htn-primitive-task,
  :uid :hpt-22},
 :net-25
 {:display-name "planttest",
  :rootnodes #{:henpt-15},
  :type :htn-network,
  :uid :net-25},
 :net-27
 {:display-name "Main",
  :rootnodes #{:hpt-16},
  :type :htn-network,
  :uid :net-27},
 :network :net-25}
