{:act-11
 {:args
  [{:type :literal, :value "bigfile"}
   {:type :literal, :value "me@192.168.11.100:~me/copyofbigfile"}],
  :argsmap
  {"fromfile" {:type :literal, :value "bigfile"},
   "tofile"
   {:type :literal, :value "me@192.168.11.100:~me/copyofbigfile"}},
  :command "scp",
  :constraints #{:tc-10},
  :controllable false,
  :cost 0,
  :display-name "Scp",
  :end-node :node-17,
  :htn-node :hem-20,
  :interface "RMQ",
  :name
  "Scp({:type :literal, :value \"bigfile\"} {:type :literal, :value \"me@192.168.11.100:~me/copyofbigfile\"})",
  :plant-part "mypart",
  :plantid "myplant",
  :reward 0,
  :tpn-type :activity,
  :uid :act-11},
 :act-16
 {:args
  [{:type :literal, :value "bigfile"}
   {:type :literal, :value "copyofbigfile"}],
  :argsmap
  {"fromfile" {:type :literal, :value "bigfile"},
   "tofile" {:type :literal, :value "copyofbigfile"}},
  :command "cp",
  :constraints #{:tc-15},
  :controllable false,
  :cost 0,
  :display-name "Cp",
  :end-node :node-22,
  :htn-node :hem-20,
  :interface "RMQ",
  :name
  "Cp({:type :literal, :value \"bigfile\"} {:type :literal, :value \"copyofbigfile\"})",
  :plant-part "mypart",
  :plantid "myplant",
  :reward 0,
  :tpn-type :activity,
  :uid :act-16},
 :act-21
 {:args
  [{:type :literal, :value "ls"}
   {:type :literal, :value "-lart"}
   {:type :literal, :value ">"}
   {:type :literal, :value "foo"}],
  :argsmap
  {"arg1" {:type :literal, :value "-lart"},
   "arg2" {:type :literal, :value ">"},
   "arg3" {:type :literal, :value "foo"},
   "cmd" {:type :literal, :value "ls"}},
  :command "shell",
  :constraints #{:tc-20},
  :controllable false,
  :cost 0,
  :display-name "Shell",
  :end-node :node-27,
  :htn-node :hem-20,
  :interface "RMQ",
  :name
  "Shell({:type :literal, :value \"ls\"} {:type :literal, :value \"-lart\"} {:type :literal, :value \">\"} {:type :literal, :value \"foo\"})",
  :plant-part "mypart",
  :plantid "myplant",
  :reward 0,
  :tpn-type :activity,
  :uid :act-21},
 :act-26
 {:args
  [{:type :literal, :value "myscript.py"}
   {:type :literal, :value "2"}
   {:type :literal, :value "3"}
   {:type :literal, :value "4"}
   {:type :literal, :value "5"}],
  :argsmap
  {"arg1" {:type :literal, :value "3"},
   "arg2" {:type :literal, :value "4"},
   "arg3" {:type :literal, :value "5"},
   "options" {:type :literal, :value "2"},
   "script" {:type :literal, :value "myscript.py"}},
  :command "python",
  :constraints #{:tc-25},
  :controllable false,
  :cost 0,
  :display-name "Python",
  :end-node :node-32,
  :htn-node :hem-20,
  :interface "RMQ",
  :name
  "Python({:type :literal, :value \"myscript.py\"} {:type :literal, :value \"2\"} {:type :literal, :value \"3\"} {:type :literal, :value \"4\"} {:type :literal, :value \"5\"})",
  :plant-part "mypart",
  :plantid "myplant",
  :reward 0,
  :tpn-type :activity,
  :uid :act-26},
 :act-36
 {:args [{:type :literal, :value "McDonalds"}],
  :argsmap {"area" {:type :literal, :value "McDonalds"}},
  :command "stop",
  :constraints #{:tc-35},
  :controllable false,
  :cost 0,
  :display-name "Stop",
  :end-node :node-1,
  :htn-node :hem-20,
  :interface "RMQ",
  :name "Stop({:type :literal, :value \"McDonalds\"})",
  :plant-part "mypart",
  :plantid "myplant",
  :reward 0,
  :tpn-type :activity,
  :uid :act-36},
 :act-6
 {:args [{:type :literal, :value 10}],
  :argsmap {"time" {:type :literal, :value 10}},
  :command "hardwork",
  :constraints #{:tc-5},
  :controllable false,
  :cost 0,
  :display-name "Hardwork",
  :end-node :node-12,
  :htn-node :hem-20,
  :interface "RMQ",
  :name "Hardwork({:type :literal, :value 10})",
  :plant-part "mypart",
  :plantid "myplant",
  :reward 0,
  :tpn-type :activity,
  :uid :act-6},
 :da-31
 {:constraints #{:tc-30},
  :controllable false,
  :end-node :node-37,
  :htn-node :hem-20,
  :name "Delay",
  :tpn-type :delay-activity,
  :uid :da-31},
 :net-3
 {:begin-node :node-7,
  :end-node :node-1,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-1
 {:activities #{},
  :constraints #{},
  :incidence-set #{:act-36},
  :tpn-type :state,
  :uid :node-1},
 :node-12
 {:activities #{:act-11},
  :constraints #{},
  :htn-node :hem-20,
  :incidence-set #{:act-6},
  :tpn-type :state,
  :uid :node-12},
 :node-17
 {:activities #{:act-16},
  :constraints #{},
  :htn-node :hem-20,
  :incidence-set #{:act-11},
  :tpn-type :state,
  :uid :node-17},
 :node-22
 {:activities #{:act-21},
  :constraints #{},
  :htn-node :hem-20,
  :incidence-set #{:act-16},
  :tpn-type :state,
  :uid :node-22},
 :node-27
 {:activities #{:act-26},
  :constraints #{},
  :htn-node :hem-20,
  :incidence-set #{:act-21},
  :tpn-type :state,
  :uid :node-27},
 :node-32
 {:activities #{:da-31},
  :constraints #{},
  :htn-node :hem-20,
  :incidence-set #{:act-26},
  :tpn-type :state,
  :uid :node-32},
 :node-37
 {:activities #{:act-36},
  :constraints #{},
  :htn-node :hem-20,
  :incidence-set #{:da-31},
  :tpn-type :state,
  :uid :node-37},
 :node-7
 {:activities #{:act-6},
  :constraints #{},
  :end-node :node-1,
  :htn-node :hem-20,
  :incidence-set #{},
  :tpn-type :state,
  :uid :node-7},
 :tc-10
 {:end-node :node-17,
  :tpn-type :temporal-constraint,
  :uid :tc-10,
  :value [0 99]},
 :tc-15
 {:end-node :node-22,
  :tpn-type :temporal-constraint,
  :uid :tc-15,
  :value [0 99]},
 :tc-20
 {:end-node :node-27,
  :tpn-type :temporal-constraint,
  :uid :tc-20,
  :value [0 99]},
 :tc-25
 {:end-node :node-32,
  :tpn-type :temporal-constraint,
  :uid :tc-25,
  :value [0 99]},
 :tc-30
 {:end-node :node-37,
  :tpn-type :temporal-constraint,
  :uid :tc-30,
  :value [3 3]},
 :tc-35
 {:end-node :node-1,
  :tpn-type :temporal-constraint,
  :uid :tc-35,
  :value [0 1]},
 :tc-5
 {:end-node :node-12,
  :tpn-type :temporal-constraint,
  :uid :tc-5,
  :value [10 20]}}
