{:act-643
 {:args [10],
  :constraints #{:tc-642},
  :interface "RMQ",
  :plantid "myplant",
  :uid :act-643,
  :name "Hardwork(10)",
  :tpn-type :activity,
  :argsmap {"time" 10},
  :command "hardwork",
  :htn-node :hem-615,
  :controllable false,
  :end-node :node-649,
  :label "TEMP-hardwork",
  :display-name "Hardwork",
  :plant-part "mypart"},
 :act-648
 {:args ["bigfile" "me@192.168.11.100:~me/copyofbigfile"],
  :constraints #{:tc-647},
  :interface "RMQ",
  :plantid "myplant",
  :uid :act-648,
  :name "Scp(\"bigfile\" \"me@192.168.11.100:~me/copyofbigfile\")",
  :tpn-type :activity,
  :argsmap
  {"fromfile" "bigfile",
   "tofile" "me@192.168.11.100:~me/copyofbigfile"},
  :command "scp",
  :htn-node :hem-615,
  :controllable false,
  :end-node :node-654,
  :label "TEMP-scp",
  :display-name "Scp",
  :plant-part "mypart"},
 :act-653
 {:args ["bigfile" "copyofbigfile"],
  :constraints #{:tc-652},
  :interface "RMQ",
  :plantid "myplant",
  :uid :act-653,
  :name "Cp(\"bigfile\" \"copyofbigfile\")",
  :tpn-type :activity,
  :argsmap {"fromfile" "bigfile", "tofile" "copyofbigfile"},
  :command "cp",
  :htn-node :hem-615,
  :controllable false,
  :end-node :node-659,
  :label "TEMP-cp",
  :display-name "Cp",
  :plant-part "mypart"},
 :act-658
 {:args ["ls" "-lart" ">" "foo"],
  :constraints #{:tc-657},
  :interface "RMQ",
  :plantid "myplant",
  :uid :act-658,
  :name "Shell(\"ls\" \"-lart\" \">\" \"foo\")",
  :tpn-type :activity,
  :argsmap {"cmd" "ls", "arg1" "-lart", "arg2" ">", "arg3" "foo"},
  :command "shell",
  :htn-node :hem-615,
  :controllable false,
  :end-node :node-664,
  :label "TEMP-shell",
  :display-name "Shell",
  :plant-part "mypart"},
 :act-663
 {:args ["myscript.py" "2" "3" "4" "5"],
  :constraints #{:tc-662},
  :interface "RMQ",
  :plantid "myplant",
  :uid :act-663,
  :name "Python(\"myscript.py\" \"2\" \"3\" \"4\" \"5\")",
  :tpn-type :activity,
  :argsmap
  {"script" "myscript.py",
   "options" "2",
   "arg1" "3",
   "arg2" "4",
   "arg3" "5"},
  :command "python",
  :htn-node :hem-615,
  :controllable false,
  :end-node :node-669,
  :label "TEMP-python",
  :display-name "Python",
  :plant-part "mypart"},
 :act-672
 {:args ["McDonalds"],
  :constraints #{},
  :interface "RMQ",
  :plantid "myplant",
  :uid :act-672,
  :name "Stop(\"McDonalds\")",
  :tpn-type :activity,
  :argsmap {"area" "McDonalds"},
  :command "stop",
  :htn-node :hem-615,
  :controllable false,
  :end-node :node-638,
  :label "TEMP-stop",
  :display-name "Stop",
  :plant-part "mypart"},
 :da-668
 {:tpn-type :delay-activity,
  :uid :da-668,
  :constraints #{:tc-667},
  :end-node :node-673,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-615},
 :net-640
 {:tpn-type :network,
  :uid :net-640,
  :begin-node :node-644,
  :end-node :node-638},
 :network-id :net-640,
 :node-638
 {:tpn-type :state,
  :uid :node-638,
  :constraints #{},
  :activities #{},
  :incidence-set #{:act-672}},
 :node-644
 {:tpn-type :state,
  :uid :node-644,
  :constraints #{},
  :activities #{:act-643},
  :incidence-set #{},
  :htn-node :hem-615,
  :end-node :node-641},
 :node-649
 {:tpn-type :state,
  :uid :node-649,
  :constraints #{},
  :activities #{:act-648},
  :incidence-set #{:act-643},
  :htn-node :hem-615,
  :end-node :node-646},
 :node-654
 {:tpn-type :state,
  :uid :node-654,
  :constraints #{},
  :activities #{:act-653},
  :incidence-set #{:act-648},
  :htn-node :hem-615,
  :end-node :node-651},
 :node-659
 {:tpn-type :state,
  :uid :node-659,
  :constraints #{},
  :activities #{:act-658},
  :incidence-set #{:act-653},
  :htn-node :hem-615,
  :end-node :node-656},
 :node-664
 {:tpn-type :state,
  :uid :node-664,
  :constraints #{},
  :activities #{:act-663},
  :incidence-set #{:act-658},
  :htn-node :hem-615,
  :end-node :node-661},
 :node-669
 {:tpn-type :state,
  :uid :node-669,
  :constraints #{},
  :activities #{:da-668},
  :incidence-set #{:act-663},
  :htn-node :hem-615,
  :end-node :node-666},
 :node-673
 {:tpn-type :state,
  :uid :node-673,
  :constraints #{},
  :activities #{:act-672},
  :incidence-set #{:da-668},
  :htn-node :hem-615,
  :end-node :node-671},
 :tc-642
 {:tpn-type :temporal-constraint,
  :uid :tc-642,
  :value [10 20],
  :end-node :node-649},
 :tc-647
 {:tpn-type :temporal-constraint,
  :uid :tc-647,
  :value [0 99],
  :end-node :node-654},
 :tc-652
 {:tpn-type :temporal-constraint,
  :uid :tc-652,
  :value [0 99],
  :end-node :node-659},
 :tc-657
 {:tpn-type :temporal-constraint,
  :uid :tc-657,
  :value [0 99],
  :end-node :node-664},
 :tc-662
 {:tpn-type :temporal-constraint,
  :uid :tc-662,
  :value [0 99],
  :end-node :node-669},
 :tc-667
 {:tpn-type :temporal-constraint,
  :uid :tc-667,
  :value [3 3],
  :end-node :node-673}}
