{:act-11
 {:args ["bigfile" "me@192.168.11.100:~me/copyofbigfile"],
  :argsmap
  {"fromfile" "bigfile",
   "tofile" "me@192.168.11.100:~me/copyofbigfile"},
  :command "scp",
  :constraints #{:tc-10},
  :controllable false,
  :cost 0,
  :display-args ["bigfile" "me@192.168.11.100:~me/copyofbigfile"],
  :display-name "Scp",
  :end-node :node-17,
  :htn-node :hem-23,
  :name "Scp(\"bigfile\" \"me@192.168.11.100:~me/copyofbigfile\")",
  :plant-id "myplant",
  :plant-interface "RMQ",
  :plant-part "mypart",
  :reward 0,
  :tpn-type :activity,
  :uid :act-11},
 :act-16
 {:args ["bigfile" "copyofbigfile"],
  :argsmap {"fromfile" "bigfile", "tofile" "copyofbigfile"},
  :command "cp",
  :constraints #{:tc-15},
  :controllable false,
  :cost 0,
  :display-args ["bigfile" "copyofbigfile"],
  :display-name "Cp",
  :end-node :node-22,
  :htn-node :hem-23,
  :name "Cp(\"bigfile\" \"copyofbigfile\")",
  :plant-id "myplant",
  :plant-interface "RMQ",
  :plant-part "mypart",
  :reward 0,
  :tpn-type :activity,
  :uid :act-16},
 :act-21
 {:args ["ls" "-lart" ">" "foo"],
  :argsmap {"arg1" "-lart", "arg2" ">", "arg3" "foo", "cmd" "ls"},
  :command "shell",
  :constraints #{:tc-20},
  :controllable false,
  :cost 0,
  :display-args ["ls" "-lart" ">" "foo"],
  :display-name "Shell",
  :end-node :node-27,
  :htn-node :hem-23,
  :name "Shell(\"ls\" \"-lart\" \">\" \"foo\")",
  :plant-id "myplant",
  :plant-interface "RMQ",
  :plant-part "mypart",
  :reward 0,
  :tpn-type :activity,
  :uid :act-21},
 :act-26
 {:args ["myscript.py" "2" "3" "4" "5"],
  :argsmap
  {"arg1" "3",
   "arg2" "4",
   "arg3" "5",
   "options" "2",
   "script" "myscript.py"},
  :command "python",
  :constraints #{:tc-25},
  :controllable false,
  :cost 0,
  :display-args ["myscript.py" "2" "3" "4" "5"],
  :display-name "Python",
  :end-node :node-32,
  :htn-node :hem-23,
  :name "Python(\"myscript.py\" \"2\" \"3\" \"4\" \"5\")",
  :plant-id "myplant",
  :plant-interface "RMQ",
  :plant-part "mypart",
  :reward 0,
  :tpn-type :activity,
  :uid :act-26},
 :act-36
 {:args ["McDonalds"],
  :argsmap {"area" "McDonalds"},
  :command "stop",
  :constraints #{:tc-35},
  :controllable false,
  :cost 0,
  :display-args ["McDonalds"],
  :display-name "Stop",
  :end-node :node-1,
  :htn-node :hem-23,
  :name "Stop(\"McDonalds\")",
  :plant-id "myplant",
  :plant-interface "RMQ",
  :plant-part "mypart",
  :reward 0,
  :tpn-type :activity,
  :uid :act-36},
 :act-6
 {:args [10],
  :argsmap {"time" 10},
  :command "hardwork",
  :constraints #{:tc-5},
  :controllable false,
  :cost 0,
  :display-args [10],
  :display-name "Hardwork",
  :end-node :node-12,
  :htn-node :hem-23,
  :name "Hardwork(10)",
  :plant-id "myplant",
  :plant-interface "RMQ",
  :plant-part "mypart",
  :reward 0,
  :tpn-type :activity,
  :uid :act-6},
 :da-31
 {:constraints #{:tc-30},
  :controllable false,
  :end-node :node-37,
  :htn-node :hem-23,
  :name "Delay",
  :tpn-type :delay-activity,
  :uid :da-31},
 :net-3
 {:begin-node :node-7,
  :end-node :node-1,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-1
 {:activities #{},
  :constraints #{},
  :incidence-set #{:act-36},
  :tpn-type :state,
  :uid :node-1},
 :node-12
 {:activities #{:act-11},
  :constraints #{},
  :htn-node :hem-23,
  :incidence-set #{:act-6},
  :tpn-type :state,
  :uid :node-12},
 :node-17
 {:activities #{:act-16},
  :constraints #{},
  :htn-node :hem-23,
  :incidence-set #{:act-11},
  :tpn-type :state,
  :uid :node-17},
 :node-22
 {:activities #{:act-21},
  :constraints #{},
  :htn-node :hem-23,
  :incidence-set #{:act-16},
  :tpn-type :state,
  :uid :node-22},
 :node-27
 {:activities #{:act-26},
  :constraints #{},
  :htn-node :hem-23,
  :incidence-set #{:act-21},
  :tpn-type :state,
  :uid :node-27},
 :node-32
 {:activities #{:da-31},
  :constraints #{},
  :htn-node :hem-23,
  :incidence-set #{:act-26},
  :tpn-type :state,
  :uid :node-32},
 :node-37
 {:activities #{:act-36},
  :constraints #{},
  :htn-node :hem-23,
  :incidence-set #{:da-31},
  :tpn-type :state,
  :uid :node-37},
 :node-7
 {:activities #{:act-6},
  :constraints #{},
  :end-node :node-1,
  :htn-node :hem-23,
  :incidence-set #{},
  :tpn-type :state,
  :uid :node-7},
 :tc-10
 {:end-node :node-17,
  :tpn-type :temporal-constraint,
  :uid :tc-10,
  :value [0 99]},
 :tc-15
 {:end-node :node-22,
  :tpn-type :temporal-constraint,
  :uid :tc-15,
  :value [0 99]},
 :tc-20
 {:end-node :node-27,
  :tpn-type :temporal-constraint,
  :uid :tc-20,
  :value [0 99]},
 :tc-25
 {:end-node :node-32,
  :tpn-type :temporal-constraint,
  :uid :tc-25,
  :value [0 99]},
 :tc-30
 {:end-node :node-37,
  :tpn-type :temporal-constraint,
  :uid :tc-30,
  :value [3 3]},
 :tc-35
 {:end-node :node-1,
  :tpn-type :temporal-constraint,
  :uid :tc-35,
  :value [0 1]},
 :tc-5
 {:end-node :node-12,
  :tpn-type :temporal-constraint,
  :uid :tc-5,
  :value [10 20]}}
