{:act-11
 {:args ["bigfile" "me@192.168.11.100:~me/copyofbigfile"],
  :constraints #{:tc-10},
  :interface "RMQ",
  :plantid "myplant",
  :uid :act-11,
  :name "Scp(\"bigfile\" \"me@192.168.11.100:~me/copyofbigfile\")",
  :tpn-type :activity,
  :argsmap
  {"fromfile" "bigfile",
   "tofile" "me@192.168.11.100:~me/copyofbigfile"},
  :command "scp",
  :htn-node :hem-26,
  :controllable false,
  :end-node :node-17,
  :label "TEMP-scp",
  :display-name "Scp",
  :plant-part "mypart"},
 :act-16
 {:args ["bigfile" "copyofbigfile"],
  :constraints #{:tc-15},
  :interface "RMQ",
  :plantid "myplant",
  :uid :act-16,
  :name "Cp(\"bigfile\" \"copyofbigfile\")",
  :tpn-type :activity,
  :argsmap {"fromfile" "bigfile", "tofile" "copyofbigfile"},
  :command "cp",
  :htn-node :hem-26,
  :controllable false,
  :end-node :node-22,
  :label "TEMP-cp",
  :display-name "Cp",
  :plant-part "mypart"},
 :act-21
 {:args ["ls" "-lart" ">" "foo"],
  :constraints #{:tc-20},
  :interface "RMQ",
  :plantid "myplant",
  :uid :act-21,
  :name "Shell(\"ls\" \"-lart\" \">\" \"foo\")",
  :tpn-type :activity,
  :argsmap {"cmd" "ls", "arg1" "-lart", "arg2" ">", "arg3" "foo"},
  :command "shell",
  :htn-node :hem-26,
  :controllable false,
  :end-node :node-27,
  :label "TEMP-shell",
  :display-name "Shell",
  :plant-part "mypart"},
 :act-26
 {:args ["myscript.py" "2" "3" "4" "5"],
  :constraints #{:tc-25},
  :interface "RMQ",
  :plantid "myplant",
  :uid :act-26,
  :name "Python(\"myscript.py\" \"2\" \"3\" \"4\" \"5\")",
  :tpn-type :activity,
  :argsmap
  {"script" "myscript.py",
   "options" "2",
   "arg1" "3",
   "arg2" "4",
   "arg3" "5"},
  :command "python",
  :htn-node :hem-26,
  :controllable false,
  :end-node :node-32,
  :label "TEMP-python",
  :display-name "Python",
  :plant-part "mypart"},
 :act-35
 {:args ["McDonalds"],
  :constraints #{},
  :interface "RMQ",
  :plantid "myplant",
  :uid :act-35,
  :name "Stop(\"McDonalds\")",
  :tpn-type :activity,
  :argsmap {"area" "McDonalds"},
  :command "stop",
  :htn-node :hem-26,
  :controllable false,
  :end-node :node-1,
  :label "TEMP-stop",
  :display-name "Stop",
  :plant-part "mypart"},
 :act-6
 {:args [10],
  :constraints #{:tc-5},
  :interface "RMQ",
  :plantid "myplant",
  :uid :act-6,
  :name "Hardwork(10)",
  :tpn-type :activity,
  :argsmap {"time" 10},
  :command "hardwork",
  :htn-node :hem-26,
  :controllable false,
  :end-node :node-12,
  :label "TEMP-hardwork",
  :display-name "Hardwork",
  :plant-part "mypart"},
 :da-31
 {:tpn-type :delay-activity,
  :uid :da-31,
  :constraints #{:tc-30},
  :end-node :node-36,
  :label "TEMP-delay",
  :controllable false,
  :name "Delay",
  :htn-node :hem-26},
 :net-3
 {:tpn-type :network,
  :uid :net-3,
  :begin-node :node-7,
  :end-node :node-1},
 :network-id :net-3,
 :node-1
 {:tpn-type :state,
  :uid :node-1,
  :constraints #{},
  :activities #{},
  :incidence-set #{:act-35}},
 :node-12
 {:tpn-type :state,
  :uid :node-12,
  :constraints #{},
  :activities #{:act-11},
  :incidence-set #{:act-6},
  :htn-node :hem-26,
  :end-node :node-9},
 :node-17
 {:tpn-type :state,
  :uid :node-17,
  :constraints #{},
  :activities #{:act-16},
  :incidence-set #{:act-11},
  :htn-node :hem-26,
  :end-node :node-14},
 :node-22
 {:tpn-type :state,
  :uid :node-22,
  :constraints #{},
  :activities #{:act-21},
  :incidence-set #{:act-16},
  :htn-node :hem-26,
  :end-node :node-19},
 :node-27
 {:tpn-type :state,
  :uid :node-27,
  :constraints #{},
  :activities #{:act-26},
  :incidence-set #{:act-21},
  :htn-node :hem-26,
  :end-node :node-24},
 :node-32
 {:tpn-type :state,
  :uid :node-32,
  :constraints #{},
  :activities #{:da-31},
  :incidence-set #{:act-26},
  :htn-node :hem-26,
  :end-node :node-29},
 :node-36
 {:tpn-type :state,
  :uid :node-36,
  :constraints #{},
  :activities #{:act-35},
  :incidence-set #{:da-31},
  :htn-node :hem-26,
  :end-node :node-34},
 :node-7
 {:tpn-type :state,
  :uid :node-7,
  :constraints #{},
  :activities #{:act-6},
  :incidence-set #{},
  :htn-node :hem-26,
  :end-node :node-4},
 :tc-10
 {:tpn-type :temporal-constraint,
  :uid :tc-10,
  :value [0 99],
  :end-node :node-17},
 :tc-15
 {:tpn-type :temporal-constraint,
  :uid :tc-15,
  :value [0 99],
  :end-node :node-22},
 :tc-20
 {:tpn-type :temporal-constraint,
  :uid :tc-20,
  :value [0 99],
  :end-node :node-27},
 :tc-25
 {:tpn-type :temporal-constraint,
  :uid :tc-25,
  :value [0 99],
  :end-node :node-32},
 :tc-30
 {:tpn-type :temporal-constraint,
  :uid :tc-30,
  :value [3 3],
  :end-node :node-36},
 :tc-5
 {:tpn-type :temporal-constraint,
  :uid :tc-5,
  :value [10 20],
  :end-node :node-12}}
