{:hedge-23 {:end-node :hem-20, :type :edge, :uid :hedge-23},
 :hedge-25 {:end-node :hpt-14, :type :edge, :uid :hedge-25},
 :hedge-26 {:end-node :hpt-15, :type :edge, :uid :hedge-26},
 :hedge-27 {:end-node :hpt-16, :type :edge, :uid :hedge-27},
 :hedge-28 {:end-node :hpt-17, :type :edge, :uid :hedge-28},
 :hedge-29 {:end-node :hpt-18, :type :edge, :uid :hedge-29},
 :hedge-30 {:end-node :hpt-19, :type :edge, :uid :hedge-30},
 :hem-20
 {:args [],
  :display-name "Main",
  :edges [],
  :incidence-set #{:hedge-23},
  :network :net-24,
  :type :htn-expanded-method,
  :uid :hem-20},
 :henpt-12
 {:display-name "planttest",
  :edges [:hedge-23],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-12},
 :hpt-13
 {:args [{:type :literal, :value 10}],
  :argsmap {"time" {:type :literal, :value 10}},
  :display-name "Hardwork",
  :edges [:hedge-25],
  :incidence-set #{},
  :interface "RMQ",
  :name "hardwork",
  :plant-part "mypart",
  :plantid "myplant",
  :type :htn-primitive-task,
  :uid :hpt-13},
 :hpt-14
 {:args
  [{:type :literal, :value "bigfile"}
   {:type :literal, :value "me@192.168.11.100:~me/copyofbigfile"}],
  :argsmap
  {"fromfile" {:type :literal, :value "bigfile"},
   "tofile"
   {:type :literal, :value "me@192.168.11.100:~me/copyofbigfile"}},
  :display-name "Scp",
  :edges [:hedge-26],
  :incidence-set #{:hedge-25},
  :interface "RMQ",
  :name "scp",
  :plant-part "mypart",
  :plantid "myplant",
  :type :htn-primitive-task,
  :uid :hpt-14},
 :hpt-15
 {:args
  [{:type :literal, :value "bigfile"}
   {:type :literal, :value "copyofbigfile"}],
  :argsmap
  {"fromfile" {:type :literal, :value "bigfile"},
   "tofile" {:type :literal, :value "copyofbigfile"}},
  :display-name "Cp",
  :edges [:hedge-27],
  :incidence-set #{:hedge-26},
  :interface "RMQ",
  :name "cp",
  :plant-part "mypart",
  :plantid "myplant",
  :type :htn-primitive-task,
  :uid :hpt-15},
 :hpt-16
 {:args
  [{:type :literal, :value "ls"}
   {:type :literal, :value "-lart"}
   {:type :literal, :value ">"}
   {:type :literal, :value "foo"}],
  :argsmap
  {"arg1" {:type :literal, :value "-lart"},
   "arg2" {:type :literal, :value ">"},
   "arg3" {:type :literal, :value "foo"},
   "cmd" {:type :literal, :value "ls"}},
  :display-name "Shell",
  :edges [:hedge-28],
  :incidence-set #{:hedge-27},
  :interface "RMQ",
  :name "shell",
  :plant-part "mypart",
  :plantid "myplant",
  :type :htn-primitive-task,
  :uid :hpt-16},
 :hpt-17
 {:args
  [{:type :literal, :value "myscript.py"}
   {:type :literal, :value "2"}
   {:type :literal, :value "3"}
   {:type :literal, :value "4"}
   {:type :literal, :value "5"}],
  :argsmap
  {"arg1" {:type :literal, :value "3"},
   "arg2" {:type :literal, :value "4"},
   "arg3" {:type :literal, :value "5"},
   "options" {:type :literal, :value "2"},
   "script" {:type :literal, :value "myscript.py"}},
  :display-name "Python",
  :edges [:hedge-29],
  :incidence-set #{:hedge-28},
  :interface "RMQ",
  :name "python",
  :plant-part "mypart",
  :plantid "myplant",
  :type :htn-primitive-task,
  :uid :hpt-17},
 :hpt-18
 {:display-name "Delay",
  :edges [:hedge-30],
  :incidence-set #{:hedge-29},
  :name "delay",
  :type :htn-primitive-task,
  :uid :hpt-18},
 :hpt-19
 {:args [{:type :literal, :value "McDonalds"}],
  :argsmap {"area" {:type :literal, :value "McDonalds"}},
  :display-name "Stop",
  :edges [],
  :incidence-set #{:hedge-30},
  :interface "RMQ",
  :name "stop",
  :plant-part "mypart",
  :plantid "myplant",
  :type :htn-primitive-task,
  :uid :hpt-19},
 :net-22
 {:display-name "planttest",
  :rootnodes #{:henpt-12},
  :type :htn-network,
  :uid :net-22},
 :net-24
 {:display-name "Main",
  :rootnodes #{:hpt-13},
  :type :htn-network,
  :uid :net-24},
 :network :net-22}
