{:hedge-35 {:type :edge, :uid :hedge-35, :end-node :hem-20},
 :hedge-37
           {:type :edge, :uid :hedge-37, :label "1", :end-node :hem-25},
 :hedge-39 {:type :edge, :uid :hedge-39, :end-node :hem-27},
 :hedge-41 {:type :edge, :uid :hedge-41, :end-node :hem-32},
 :hedge-43 {:type :edge, :uid :hedge-43, :end-node :hpt-31},
 :hem-20
           {:uid           :hem-20,
            :type          :htn-expanded-method,
            :label         "Main Activity()",
            :display-name  "Main Activity",
            :network       :net-36,
            :incidence-set #{:hedge-35},
            :edges         [:hedge-37]},
 :hem-25
           {:uid           :hem-25,
            :type          :htn-expanded-method,
            :label         "test1(host0101,host0701)",
            :display-name  "test1",
            :network       :net-38,
            :incidence-set #{},
            :edges         [:hedge-39 :hedge-41]},
 :hem-27
           {:uid           :hem-27,
            :type          :htn-expanded-method,
            :label         "File\nXfer(host0101,100MB)",
            :display-name  "File Xfer",
            :network       :net-40,
            :incidence-set #{},
            :edges         []},
 :hem-32
           {:uid           :hem-32,
            :type          :htn-expanded-method,
            :label         "Video\nSession(host0701,host0101,1)",
            :display-name  "Video Session",
            :network       :net-42,
            :incidence-set #{},
            :edges         []},
 :henpt-18
           {:uid           :henpt-18,
            :type          :htn-expanded-nonprimitive-task,
            :label         "main",
            :display-name  "main",
            :incidence-set #{},
            :edges         [:hedge-35]},
 :henpt-19
           {:uid           :henpt-19,
            :name          "main-internal",
            :type          :htn-expanded-nonprimitive-task,
            :label         "TEMP-main-internal",
            :display-name  "Main Internal",
            :incidence-set #{},
            :edges         []},
 :henpt-21
           {:uid           :henpt-21,
            :name          "file-transfer",
            :type          :htn-expanded-nonprimitive-task,
            :label         "TEMP-file-transfer",
            :display-name  "File Transfer",
            :incidence-set #{},
            :edges         []},
 :henpt-23
           {:uid           :henpt-23,
            :name          "video-session",
            :type          :htn-expanded-nonprimitive-task,
            :label         "TEMP-video-session",
            :display-name  "Video Session",
            :incidence-set #{},
            :edges         []},
 :hpt-26
           {:args          ["host0101" "100MB"],
            :plantid       "actuator",
            :uid           :hpt-26,
            :name          "ftp",
            :argsmap       {"server-host" "host0101", "size" "100MB"},
            :type          :htn-primitive-task,
            :label         "TEMP-ftp",
            :display-name  "Ftp",
            :incidence-set #{},
            :edges         [],
            :plant-part    "host0701"},
 :hpt-29
           {:type          :htn-primitive-task,
            :uid           :hpt-29,
            :name          "delay",
            :display-name  "Delay",
            :incidence-set #{},
            :edges         [:hedge-43],
            :label         "TEMP-delay"},
 :hpt-31
           {:args          ["host0701" "host0101" "1"],
            :plantid       "actuator",
            :uid           :hpt-31,
            :name          "video",
            :argsmap       {"client" "host0701", "server" "host0101", "display" "1"},
            :type          :htn-primitive-task,
            :label         "TEMP-video",
            :display-name  "Video",
            :incidence-set #{:hedge-43},
            :edges         [],
            :plant-part    "host0701"},
 :net-34
           {:type         :htn-network,
            :uid          :net-34,
            :display-name "main",
            :label        "main",
            :rootnodes    #{:henpt-18}},
 :net-36
           {:type         :htn-network,
            :uid          :net-36,
            :display-name "Main Activity()",
            :label        "Main Activity()",
            :rootnodes    #{:henpt-19}},
 :net-38
           {:type         :htn-network,
            :uid          :net-38,
            :display-name "test1(host0101,host0701)",
            :label        "test1(host0101,host0701)",
            :rootnodes    #{:henpt-21 :henpt-23}},
 :net-40
           {:type         :htn-network,
            :uid          :net-40,
            :display-name "File\nXfer(host0101,100MB)",
            :label        "File\nXfer(host0101,100MB)",
            :rootnodes    #{:hpt-26}},
 :net-42
           {:type         :htn-network,
            :uid          :net-42,
            :display-name "Video\nSession(host0701,host0101,1)",
            :label        "Video\nSession(host0701,host0101,1)",
            :rootnodes    #{:hpt-29}},
 :network  :net-34}
