{:act-17
 {:args
  [{:type :literal, :value "host0101"}
   {:type :literal, :value "100MB"}],
  :argsmap
  {"server-host" {:type :literal, :value "host0101"},
   "size" {:type :literal, :value "100MB"}},
  :command "ftp",
  :constraints #{:tc-9},
  :controllable false,
  :cost 0,
  :display-name "Ftp",
  :end-node :node-8,
  :htn-node :hem-25,
  :name
  "Ftp({:type :literal, :value \"host0101\"} {:type :literal, :value \"100MB\"})",
  :plant-part "host0701",
  :plantid "actuator",
  :reward 0,
  :tpn-type :activity,
  :uid :act-17},
 :act-33
 {:args
  [{:type :literal, :value "host0701"}
   {:type :literal, :value "host0101"}
   {:type :literal, :value "1"}],
  :argsmap
  {"client" {:type :literal, :value "host0701"},
   "display" {:type :literal, :value "1"},
   "server" {:type :literal, :value "host0101"}},
  :command "video",
  :constraints #{},
  :controllable false,
  :cost 0,
  :display-name "Video",
  :end-node :node-21,
  :htn-node :hem-29,
  :name
  "Video({:type :literal, :value \"host0701\"} {:type :literal, :value \"host0101\"} {:type :literal, :value \"1\"})",
  :plant-part "host0701",
  :plantid "actuator",
  :reward 0,
  :tpn-type :activity,
  :uid :act-33},
 :da-29
 {:constraints #{:tc-28},
  :controllable false,
  :end-node :node-34,
  :htn-node :hem-29,
  :name "Delay",
  :tpn-type :delay-activity,
  :uid :da-29},
 :na-15
 {:constraints #{},
  :end-node :node-11,
  :tpn-type :null-activity,
  :uid :na-15},
 :na-19
 {:constraints #{},
  :end-node :node-18,
  :tpn-type :null-activity,
  :uid :na-19},
 :na-26
 {:constraints #{},
  :end-node :node-11,
  :tpn-type :null-activity,
  :uid :na-26},
 :na-31
 {:constraints #{},
  :end-node :node-30,
  :tpn-type :null-activity,
  :uid :na-31},
 :net-3
 {:begin-node :node-12,
  :end-node :node-11,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-11
 {:activities #{},
  :constraints #{},
  :incidence-set #{:na-15 :na-26},
  :tpn-type :p-end,
  :uid :node-11},
 :node-12
 {:activities #{:na-19 :na-31},
  :constraints #{},
  :end-node :node-11,
  :htn-node :hem-20,
  :incidence-set #{},
  :tpn-type :p-begin,
  :uid :node-12},
 :node-18
 {:activities #{:act-17},
  :constraints #{},
  :htn-node :hem-25,
  :incidence-set #{:na-19},
  :tpn-type :state,
  :uid :node-18},
 :node-21
 {:activities #{:na-26},
  :constraints #{},
  :incidence-set #{:act-33},
  :tpn-type :state,
  :uid :node-21},
 :node-30
 {:activities #{:da-29},
  :constraints #{:tc-22},
  :end-node :node-21,
  :htn-node :hem-29,
  :incidence-set #{:na-31},
  :tpn-type :state,
  :uid :node-30},
 :node-34
 {:activities #{:act-33},
  :constraints #{},
  :htn-node :hem-29,
  :incidence-set #{:da-29},
  :tpn-type :state,
  :uid :node-34},
 :node-8
 {:activities #{:na-15},
  :constraints #{},
  :incidence-set #{:act-17},
  :tpn-type :state,
  :uid :node-8},
 :tc-22
 {:end-node :node-21,
  :tpn-type :temporal-constraint,
  :uid :tc-22,
  :value [20 35]},
 :tc-28
 {:end-node :node-34,
  :tpn-type :temporal-constraint,
  :uid :tc-28,
  :value [15 15]},
 :tc-9
 {:end-node :node-8,
  :tpn-type :temporal-constraint,
  :uid :tc-9,
  :value [1 7]}}
