{:act-17
             {:args         ["host0101" "100MB"],
              :constraints  #{:tc-9},
              :plantid      "actuator",
              :uid          :act-17,
              :name         "Ftp(\"host0101\" \"100MB\")",
              :tpn-type     :activity,
              :argsmap      {"server-host" "host0101", "size" "100MB"},
              :command      "ftp",
              :htn-node     :hem-27,
              :controllable false,
              :end-node     :node-8,
              :label        "TEMP-ftp",
              :display-name "Ftp",
              :plant-part   "host0701"},
 :act-33
             {:args         ["host0701" "host0101" "1"],
              :constraints  #{:tc-22},
              :plantid      "actuator",
              :uid          :act-33,
              :name         "Video(\"host0701\" \"host0101\" \"1\")",
              :tpn-type     :activity,
              :argsmap      {"client" "host0701", "server" "host0101", "display" "1"},
              :command      "video",
              :htn-node     :hem-32,
              :controllable false,
              :end-node     :node-21,
              :label        "TEMP-video",
              :display-name "Video",
              :plant-part   "host0701"},
 :da-29
             {:tpn-type     :delay-activity,
              :uid          :da-29,
              :constraints  #{:tc-28},
              :end-node     :node-34,
              :label        "TEMP-delay",
              :controllable false,
              :name         "Delay",
              :htn-node     :hem-32},
 :na-15
             {:tpn-type    :null-activity,
              :uid         :na-15,
              :constraints #{},
              :end-node    :node-11},
 :na-19
             {:tpn-type    :null-activity,
              :uid         :na-19,
              :constraints #{},
              :end-node    :node-18},
 :na-26
             {:tpn-type    :null-activity,
              :uid         :na-26,
              :constraints #{},
              :end-node    :node-11},
 :na-31
             {:tpn-type    :null-activity,
              :uid         :na-31,
              :constraints #{},
              :end-node    :node-30},
 :net-3
             {:tpn-type   :network,
              :uid        :net-3,
              :begin-node :node-12,
              :end-node   :node-11},
 :network-id :net-3,
 :node-11
             {:tpn-type      :p-end,
              :uid           :node-11,
              :constraints   #{},
              :activities    #{},
              :incidence-set #{:na-15 :na-26}},
 :node-12
             {:tpn-type      :p-begin,
              :uid           :node-12,
              :constraints   #{},
              :activities    #{:na-19 :na-31},
              :incidence-set #{},
              :htn-node      :hem-20,
              :end-node      :node-11},
 :node-18
             {:tpn-type      :state,
              :uid           :node-18,
              :constraints   #{},
              :activities    #{:act-17},
              :incidence-set #{:na-19},
              :htn-node      :hem-27,
              :end-node      :node-8},
 :node-21
             {:tpn-type      :state,
              :uid           :node-21,
              :constraints   #{},
              :activities    #{:na-26},
              :incidence-set #{:act-33}},
 :node-30
             {:tpn-type      :state,
              :uid           :node-30,
              :constraints   #{},
              :activities    #{:da-29},
              :incidence-set #{:na-31},
              :htn-node      :hem-32,
              :end-node      :node-21},
 :node-34
             {:tpn-type      :state,
              :uid           :node-34,
              :constraints   #{},
              :activities    #{:act-33},
              :incidence-set #{:da-29},
              :htn-node      :hem-32},
 :node-8
             {:tpn-type      :state,
              :uid           :node-8,
              :constraints   #{},
              :activities    #{:na-15},
              :incidence-set #{:act-17}},
 :tc-22
             {:tpn-type :temporal-constraint,
              :uid      :tc-22,
              :value    [20 35],
              :end-node :node-21},
 :tc-28
             {:tpn-type :temporal-constraint,
              :uid      :tc-28,
              :value    [15 15],
              :end-node :node-34},
 :tc-9
             {:tpn-type :temporal-constraint,
              :uid      :tc-9,
              :value    [1 7],
              :end-node :node-8}}
