{:hedge-35 {:end-node :hem-23, :type :edge, :uid :hedge-35},
 :hedge-37
 {:display-name "1", :end-node :hem-26, :type :edge, :uid :hedge-37},
 :hedge-39 {:end-node :hem-28, :type :edge, :uid :hedge-39},
 :hedge-41 {:end-node :hem-32, :type :edge, :uid :hedge-41},
 :hedge-43 {:end-node :hpt-31, :type :edge, :uid :hedge-43},
 :hem-23
 {:args [],
  :display-args [],
  :display-name "Main Activity",
  :edges [:hedge-37],
  :incidence-set #{:hedge-35},
  :network :net-36,
  :type :htn-expanded-method,
  :uid :hem-23},
 :hem-26
 {:args ["host0101" "host0701"],
  :display-args ["host0101" "host0701"],
  :display-name "test1",
  :edges [:hedge-39 :hedge-41],
  :incidence-set #{},
  :network :net-38,
  :type :htn-expanded-method,
  :uid :hem-26},
 :hem-28
 {:args ["host0101" "100MB"],
  :display-args ["host0101" "100MB"],
  :display-name "File Xfer",
  :edges [],
  :incidence-set #{},
  :network :net-40,
  :type :htn-expanded-method,
  :uid :hem-28},
 :hem-32
 {:args ["host0701" "host0101" "1"],
  :display-args ["host0701" "host0101" "1"],
  :display-name "Video Session",
  :edges [],
  :incidence-set #{},
  :network :net-42,
  :type :htn-expanded-method,
  :uid :hem-32},
 :henpt-21
 {:display-name "main",
  :edges [:hedge-35],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-21},
 :henpt-22
 {:args ["host0101" "host0701"],
  :argsmap {"client-host" "host0701", "server-host" "host0101"},
  :display-args ["host0101" "host0701"],
  :display-name "test1",
  :edges [],
  :incidence-set #{},
  :name "main-internal",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-22},
 :henpt-24
 {:args ["host0101" "100MB"],
  :argsmap {"server-host" "host0101", "size" "100MB"},
  :display-args ["host0101" "100MB"],
  :display-name "File Xfer",
  :edges [],
  :incidence-set #{},
  :name "file-transfer",
  :plant-id "actuator",
  :plant-part "host0701",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-24},
 :henpt-25
 {:args ["host0701" "host0101" "1"],
  :argsmap
  {"client-host" "host0701", "display" "1", "server-host" "host0101"},
  :display-args ["host0701" "host0101" "1"],
  :display-name "Video Session",
  :edges [],
  :incidence-set #{},
  :name "video-session",
  :plant-id "actuator",
  :plant-part "host0701",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-25},
 :hpt-27
 {:args ["host0101" "100MB"],
  :argsmap {"server-host" "host0101", "size" "100MB"},
  :display-args ["host0101" "100MB"],
  :display-name "Ftp",
  :edges [],
  :incidence-set #{},
  :name "ftp",
  :plant-id "actuator",
  :plant-part "host0701",
  :type :htn-primitive-task,
  :uid :hpt-27},
 :hpt-30
 {:display-name "Delay",
  :edges [:hedge-43],
  :incidence-set #{},
  :name "delay",
  :type :htn-primitive-task,
  :uid :hpt-30},
 :hpt-31
 {:args ["host0701" "host0101" "1"],
  :argsmap {"client" "host0701", "display" "1", "server" "host0101"},
  :display-args ["host0701" "host0101" "1"],
  :display-name "Video",
  :edges [],
  :incidence-set #{:hedge-43},
  :name "video",
  :plant-id "actuator",
  :plant-part "host0701",
  :type :htn-primitive-task,
  :uid :hpt-31},
 :net-34
 {:display-name "main",
  :rootnodes #{:henpt-21},
  :type :htn-network,
  :uid :net-34},
 :net-36
 {:display-name "Main Activity",
  :rootnodes #{:henpt-22},
  :type :htn-network,
  :uid :net-36},
 :net-38
 {:display-name "test1",
  :rootnodes #{:henpt-25 :henpt-24},
  :type :htn-network,
  :uid :net-38},
 :net-40
 {:display-name "File Xfer",
  :rootnodes #{:hpt-27},
  :type :htn-network,
  :uid :net-40},
 :net-42
 {:display-name "Video Session",
  :rootnodes #{:hpt-30},
  :type :htn-network,
  :uid :net-42},
 :network :net-34}
