{:hedge-32 {:end-node :hem-20, :type :edge, :uid :hedge-32},
 :hedge-34
 {:display-name "1", :end-node :hem-23, :type :edge, :uid :hedge-34},
 :hedge-36 {:end-node :hem-25, :type :edge, :uid :hedge-36},
 :hedge-38 {:end-node :hem-29, :type :edge, :uid :hedge-38},
 :hedge-40 {:end-node :hpt-28, :type :edge, :uid :hedge-40},
 :hem-20
 {:args [],
  :display-name "Main Activity",
  :edges [:hedge-34],
  :incidence-set #{:hedge-32},
  :network :net-33,
  :type :htn-expanded-method,
  :uid :hem-20},
 :hem-23
 {:args
  [{:type :literal, :value "host0101"}
   {:type :literal, :value "host0701"}],
  :display-name "test1",
  :edges [:hedge-36 :hedge-38],
  :incidence-set #{},
  :network :net-35,
  :type :htn-expanded-method,
  :uid :hem-23},
 :hem-25
 {:args
  [{:type :literal, :value "host0101"}
   {:type :literal, :value "100MB"}],
  :display-name "File Xfer",
  :edges [],
  :incidence-set #{},
  :network :net-37,
  :type :htn-expanded-method,
  :uid :hem-25},
 :hem-29
 {:args
  [{:type :literal, :value "host0701"}
   {:type :literal, :value "host0101"}
   {:type :literal, :value "1"}],
  :display-name "Video Session",
  :edges [],
  :incidence-set #{},
  :network :net-39,
  :type :htn-expanded-method,
  :uid :hem-29},
 :henpt-18
 {:display-name "main",
  :edges [:hedge-32],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-18},
 :henpt-19
 {:display-name "Main Internal",
  :edges [],
  :incidence-set #{},
  :name "main-internal",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-19},
 :henpt-21
 {:display-name "File Transfer",
  :edges [],
  :incidence-set #{},
  :name "file-transfer",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-21},
 :henpt-22
 {:display-name "Video Session",
  :edges [],
  :incidence-set #{},
  :name "video-session",
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-22},
 :hpt-24
 {:args
  [{:type :literal, :value "host0101"}
   {:type :literal, :value "100MB"}],
  :argsmap
  {"server-host" {:type :literal, :value "host0101"},
   "size" {:type :literal, :value "100MB"}},
  :display-name "Ftp",
  :edges [],
  :incidence-set #{},
  :name "ftp",
  :plant-part "host0701",
  :plantid "actuator",
  :type :htn-primitive-task,
  :uid :hpt-24},
 :hpt-27
 {:display-name "Delay",
  :edges [:hedge-40],
  :incidence-set #{},
  :name "delay",
  :type :htn-primitive-task,
  :uid :hpt-27},
 :hpt-28
 {:args
  [{:type :literal, :value "host0701"}
   {:type :literal, :value "host0101"}
   {:type :literal, :value "1"}],
  :argsmap
  {"client" {:type :literal, :value "host0701"},
   "display" {:type :literal, :value "1"},
   "server" {:type :literal, :value "host0101"}},
  :display-name "Video",
  :edges [],
  :incidence-set #{:hedge-40},
  :name "video",
  :plant-part "host0701",
  :plantid "actuator",
  :type :htn-primitive-task,
  :uid :hpt-28},
 :net-31
 {:display-name "main",
  :rootnodes #{:henpt-18},
  :type :htn-network,
  :uid :net-31},
 :net-33
 {:display-name "Main Activity",
  :rootnodes #{:henpt-19},
  :type :htn-network,
  :uid :net-33},
 :net-35
 {:display-name "test1",
  :rootnodes #{:henpt-21 :henpt-22},
  :type :htn-network,
  :uid :net-35},
 :net-37
 {:display-name "File Xfer",
  :rootnodes #{:hpt-24},
  :type :htn-network,
  :uid :net-37},
 :net-39
 {:display-name "Video Session",
  :rootnodes #{:hpt-27},
  :type :htn-network,
  :uid :net-39},
 :network :net-31}
