{:act-22
 {:args [],
  :constraints #{:tc-21},
  :uid :act-22,
  :tpn-type :activity,
  :argsmap {},
  :plant "plant",
  :command "bounded",
  :reward 0,
  :controllable false,
  :end-node :node-15,
  :cost 0},
 :act-31
 {:args [],
  :constraints #{},
  :uid :act-31,
  :tpn-type :activity,
  :argsmap {},
  :plant "plant",
  :command "unbounded",
  :reward 0,
  :controllable false,
  :end-node :node-25,
  :cost 0},
 :act-48
 {:args [],
  :constraints #{:tc-47},
  :uid :act-48,
  :tpn-type :activity,
  :argsmap {},
  :plant "plant",
  :command "bounded",
  :reward 0,
  :controllable false,
  :end-node :node-41,
  :cost 0},
 :act-57
 {:args [],
  :constraints #{},
  :uid :act-57,
  :tpn-type :activity,
  :argsmap {},
  :plant "plant",
  :command "unbounded",
  :reward 0,
  :controllable false,
  :end-node :node-51,
  :cost 0},
 :na-17
 {:tpn-type :null-activity,
  :uid :na-17,
  :constraints #{},
  :end-node :node-12},
 :na-24
 {:tpn-type :null-activity,
  :uid :na-24,
  :constraints #{},
  :order 0,
  :end-node :node-23},
 :na-27
 {:tpn-type :null-activity,
  :uid :na-27,
  :constraints #{},
  :end-node :node-12},
 :na-33
 {:tpn-type :null-activity,
  :uid :na-33,
  :constraints #{},
  :order 1,
  :end-node :node-32},
 :na-40
 {:tpn-type :null-activity,
  :uid :na-40,
  :constraints #{},
  :order 1,
  :end-node :node-39},
 :na-43
 {:tpn-type :null-activity,
  :uid :na-43,
  :constraints #{},
  :end-node :node-38},
 :na-50
 {:tpn-type :null-activity,
  :uid :na-50,
  :constraints #{},
  :order 0,
  :end-node :node-49},
 :na-53
 {:tpn-type :null-activity,
  :uid :na-53,
  :constraints #{},
  :end-node :node-38},
 :na-59
 {:tpn-type :null-activity,
  :uid :na-59,
  :constraints #{},
  :order 1,
  :end-node :node-58},
 :net-3
 {:tpn-type :network,
  :uid :net-3,
  :begin-node :node-13,
  :end-node :node-38},
 :network-id :net-3,
 :node-12
 {:tpn-type :p-end,
  :uid :node-12,
  :constraints #{},
  :activities #{:na-40},
  :incidence-set #{:na-27 :na-17}},
 :node-13
 {:tpn-type :p-begin,
  :uid :node-13,
  :constraints #{},
  :activities #{:na-33 :na-24},
  :incidence-set #{},
  :end-node :node-12},
 :node-15
 {:tpn-type :state,
  :uid :node-15,
  :constraints #{},
  :activities #{:na-17},
  :incidence-set #{:act-22}},
 :node-23
 {:tpn-type :state,
  :uid :node-23,
  :constraints #{},
  :activities #{:act-22},
  :incidence-set #{:na-24},
  :end-node :node-20},
 :node-25
 {:tpn-type :state,
  :uid :node-25,
  :constraints #{},
  :activities #{:na-27},
  :incidence-set #{:act-31}},
 :node-32
 {:tpn-type :state,
  :uid :node-32,
  :constraints #{},
  :activities #{:act-31},
  :incidence-set #{:na-33},
  :end-node :node-30},
 :node-38
 {:tpn-type :c-end,
  :uid :node-38,
  :constraints #{},
  :activities #{},
  :incidence-set #{:na-43 :na-53}},
 :node-39
 {:tpn-type :c-begin,
  :uid :node-39,
  :constraints #{},
  :activities #{:na-50 :na-59},
  :incidence-set #{:na-40},
  :end-node :node-38},
 :node-41
 {:tpn-type :state,
  :uid :node-41,
  :constraints #{},
  :activities #{:na-43},
  :incidence-set #{:act-48}},
 :node-49
 {:tpn-type :state,
  :uid :node-49,
  :constraints #{},
  :activities #{:act-48},
  :incidence-set #{:na-50},
  :end-node :node-46},
 :node-51
 {:tpn-type :state,
  :uid :node-51,
  :constraints #{},
  :activities #{:na-53},
  :incidence-set #{:act-57}},
 :node-58
 {:tpn-type :state,
  :uid :node-58,
  :constraints #{},
  :activities #{:act-57},
  :incidence-set #{:na-59},
  :end-node :node-56},
 :tc-21
 {:tpn-type :temporal-constraint,
  :uid :tc-21,
  :value [1 5],
  :end-node :node-15},
 :tc-47
 {:tpn-type :temporal-constraint,
  :uid :tc-47,
  :value [1 5],
  :end-node :node-41}}
