{:act-100
 {:args [],
  :constraints #{},
  :uid :act-100,
  :tpn-type :activity,
  :argsmap {},
  :plant "plant",
  :command "bounded",
  :reward 0,
  :controllable false,
  :end-node :node-93,
  :cost 0},
 :act-109
 {:args [],
  :constraints #{},
  :uid :act-109,
  :tpn-type :activity,
  :argsmap {},
  :plant "plant",
  :command "unbounded",
  :reward 0,
  :controllable false,
  :end-node :node-103,
  :cost 0},
 :act-74
 {:args [],
  :constraints #{},
  :uid :act-74,
  :tpn-type :activity,
  :argsmap {},
  :plant "plant",
  :command "bounded",
  :reward 0,
  :controllable false,
  :end-node :node-67,
  :cost 0},
 :act-83
 {:args [],
  :constraints #{},
  :uid :act-83,
  :tpn-type :activity,
  :argsmap {},
  :plant "plant",
  :command "unbounded",
  :reward 0,
  :controllable false,
  :end-node :node-77,
  :cost 0},
 :na-102
 {:tpn-type :null-activity,
  :uid :na-102,
  :order 0,
  :end-node :node-101},
 :na-105 {:tpn-type :null-activity, :uid :na-105, :end-node :node-90},
 :na-111
 {:tpn-type :null-activity,
  :uid :na-111,
  :order 1,
  :end-node :node-110},
 :na-69 {:tpn-type :null-activity, :uid :na-69, :end-node :node-64},
 :na-76
 {:tpn-type :null-activity, :uid :na-76, :order 0, :end-node :node-75},
 :na-79 {:tpn-type :null-activity, :uid :na-79, :end-node :node-64},
 :na-85
 {:tpn-type :null-activity, :uid :na-85, :order 1, :end-node :node-84},
 :na-92
 {:tpn-type :null-activity, :uid :na-92, :order 1, :end-node :node-91},
 :na-95 {:tpn-type :null-activity, :uid :na-95, :end-node :node-90},
 :net-55
 {:tpn-type :network,
  :uid :net-55,
  :begin-node :node-65,
  :end-node :node-90},
 :network-id :net-55,
 :node-101
 {:tpn-type :state,
  :uid :node-101,
  :constraints #{:tc-99},
  :activities #{:act-100},
  :incidence-set #{:na-102}},
 :node-103
 {:tpn-type :state,
  :uid :node-103,
  :constraints #{},
  :activities #{:na-105},
  :incidence-set #{:act-109}},
 :node-110
 {:tpn-type :state,
  :uid :node-110,
  :constraints #{},
  :activities #{:act-109},
  :incidence-set #{:na-111}},
 :node-64
 {:tpn-type :p-end,
  :uid :node-64,
  :constraints #{},
  :activities #{:na-92},
  :incidence-set #{:na-79 :na-69}},
 :node-65
 {:tpn-type :p-begin,
  :uid :node-65,
  :constraints #{},
  :activities #{:na-85 :na-76},
  :incidence-set #{},
  :end-node :node-64},
 :node-67
 {:tpn-type :state,
  :uid :node-67,
  :constraints #{},
  :activities #{:na-69},
  :incidence-set #{:act-74}},
 :node-75
 {:tpn-type :state,
  :uid :node-75,
  :constraints #{:tc-73},
  :activities #{:act-74},
  :incidence-set #{:na-76}},
 :node-77
 {:tpn-type :state,
  :uid :node-77,
  :constraints #{},
  :activities #{:na-79},
  :incidence-set #{:act-83}},
 :node-84
 {:tpn-type :state,
  :uid :node-84,
  :constraints #{},
  :activities #{:act-83},
  :incidence-set #{:na-85}},
 :node-90
 {:tpn-type :c-end,
  :uid :node-90,
  :constraints #{},
  :activities #{},
  :incidence-set #{:na-105 :na-95}},
 :node-91
 {:tpn-type :c-begin,
  :uid :node-91,
  :constraints #{},
  :activities #{:na-111 :na-102},
  :incidence-set #{:na-92},
  :end-node :node-90},
 :node-93
 {:tpn-type :state,
  :uid :node-93,
  :constraints #{},
  :activities #{:na-95},
  :incidence-set #{:act-100}},
 :tc-73
 {:tpn-type :temporal-constraint,
  :uid :tc-73,
  :value [1 5],
  :end-node :node-67},
 :tc-99
 {:tpn-type :temporal-constraint,
  :uid :tc-99,
  :value [1 5],
  :end-node :node-93}}
