{:act-22
 {:args [],
  :argsmap {},
  :command "bounded",
  :constraints #{:tc-21},
  :controllable false,
  :cost 0,
  :display-name "Bounded",
  :end-node :node-15,
  :plant "plant",
  :reward 0,
  :tpn-type :activity,
  :uid :act-22},
 :act-31
 {:args [],
  :argsmap {},
  :command "unbounded",
  :constraints #{},
  :controllable false,
  :cost 0,
  :display-name "Unbounded",
  :end-node :node-25,
  :plant "plant",
  :reward 0,
  :tpn-type :activity,
  :uid :act-31},
 :act-48
 {:args [],
  :argsmap {},
  :command "bounded",
  :constraints #{:tc-47},
  :controllable false,
  :cost 0,
  :display-name "Bounded",
  :end-node :node-41,
  :plant "plant",
  :reward 0,
  :tpn-type :activity,
  :uid :act-48},
 :act-57
 {:args [],
  :argsmap {},
  :command "unbounded",
  :constraints #{},
  :controllable false,
  :cost 0,
  :display-name "Unbounded",
  :end-node :node-51,
  :plant "plant",
  :reward 0,
  :tpn-type :activity,
  :uid :act-57},
 :na-17
 {:constraints #{},
  :end-node :node-12,
  :tpn-type :null-activity,
  :uid :na-17},
 :na-24
 {:constraints #{},
  :end-node :node-23,
  :order 0,
  :tpn-type :null-activity,
  :uid :na-24},
 :na-27
 {:constraints #{},
  :end-node :node-12,
  :tpn-type :null-activity,
  :uid :na-27},
 :na-33
 {:constraints #{},
  :end-node :node-32,
  :order 1,
  :tpn-type :null-activity,
  :uid :na-33},
 :na-40
 {:constraints #{},
  :end-node :node-39,
  :order 1,
  :tpn-type :null-activity,
  :uid :na-40},
 :na-43
 {:constraints #{},
  :end-node :node-38,
  :tpn-type :null-activity,
  :uid :na-43},
 :na-50
 {:constraints #{},
  :end-node :node-49,
  :order 0,
  :tpn-type :null-activity,
  :uid :na-50},
 :na-53
 {:constraints #{},
  :end-node :node-38,
  :tpn-type :null-activity,
  :uid :na-53},
 :na-59
 {:constraints #{},
  :end-node :node-58,
  :order 1,
  :tpn-type :null-activity,
  :uid :na-59},
 :net-3
 {:begin-node :node-13,
  :end-node :node-38,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-12
 {:activities #{:na-40},
  :constraints #{},
  :incidence-set #{:na-27 :na-17},
  :tpn-type :p-end,
  :uid :node-12},
 :node-13
 {:activities #{:na-33 :na-24},
  :constraints #{},
  :end-node :node-12,
  :incidence-set #{},
  :tpn-type :p-begin,
  :uid :node-13},
 :node-15
 {:activities #{:na-17},
  :constraints #{},
  :incidence-set #{:act-22},
  :tpn-type :state,
  :uid :node-15},
 :node-23
 {:activities #{:act-22},
  :constraints #{},
  :incidence-set #{:na-24},
  :tpn-type :state,
  :uid :node-23},
 :node-25
 {:activities #{:na-27},
  :constraints #{},
  :incidence-set #{:act-31},
  :tpn-type :state,
  :uid :node-25},
 :node-32
 {:activities #{:act-31},
  :constraints #{},
  :incidence-set #{:na-33},
  :tpn-type :state,
  :uid :node-32},
 :node-38
 {:activities #{},
  :constraints #{},
  :incidence-set #{:na-43 :na-53},
  :tpn-type :c-end,
  :uid :node-38},
 :node-39
 {:activities #{:na-50 :na-59},
  :constraints #{},
  :end-node :node-38,
  :incidence-set #{:na-40},
  :tpn-type :c-begin,
  :uid :node-39},
 :node-41
 {:activities #{:na-43},
  :constraints #{},
  :incidence-set #{:act-48},
  :tpn-type :state,
  :uid :node-41},
 :node-49
 {:activities #{:act-48},
  :constraints #{},
  :incidence-set #{:na-50},
  :tpn-type :state,
  :uid :node-49},
 :node-51
 {:activities #{:na-53},
  :constraints #{},
  :incidence-set #{:act-57},
  :tpn-type :state,
  :uid :node-51},
 :node-58
 {:activities #{:act-57},
  :constraints #{},
  :incidence-set #{:na-59},
  :tpn-type :state,
  :uid :node-58},
 :tc-21
 {:end-node :node-15,
  :tpn-type :temporal-constraint,
  :uid :tc-21,
  :value [1 5]},
 :tc-47
 {:end-node :node-41,
  :tpn-type :temporal-constraint,
  :uid :tc-47,
  :value [1 5]}}
