{:act-6857
 {:args [42.44537 -71.227891 1.0 80],
  :constraints #{},
  :plantid "qc1@RMQ",
  :uid :act-6857,
  :tpn-type :activity,
  :argsmap {"lat" 42.44537, "lon" -71.227891, "alt" 1.0, "yaw" 80},
  :plant "qc",
  :command "location",
  :reward 0,
  :controllable false,
  :end-node :node-6867,
  :cost 0},
 :act-6866
 {:args [42.445435 -71.227843 2.0 170],
  :constraints #{},
  :plantid "qc1@RMQ",
  :uid :act-6866,
  :tpn-type :activity,
  :argsmap {"lat" 42.445435, "lon" -71.227843, "alt" 2.0, "yaw" 170},
  :plant "qc",
  :command "location",
  :reward 0,
  :controllable false,
  :end-node :node-6876,
  :cost 0},
 :act-6875
 {:args [42.445389 -71.227734 3.0 260],
  :constraints #{},
  :plantid "qc1@RMQ",
  :uid :act-6875,
  :tpn-type :activity,
  :argsmap {"lat" 42.445389, "lon" -71.227734, "alt" 3.0, "yaw" 260},
  :plant "qc",
  :command "location",
  :reward 0,
  :controllable false,
  :end-node :node-6885,
  :cost 0},
 :act-6884
 {:args [42.445327 -71.227788 4.0 350],
  :constraints #{},
  :plantid "qc1@RMQ",
  :uid :act-6884,
  :tpn-type :activity,
  :argsmap {"lat" 42.445327, "lon" -71.227788, "alt" 4.0, "yaw" 350},
  :plant "qc",
  :command "location",
  :reward 0,
  :controllable false,
  :end-node :node-6894,
  :cost 0},
 :act-6893
 {:args [42.44537 -71.227891 1.0 80],
  :constraints #{},
  :plantid "qc1@RMQ",
  :uid :act-6893,
  :tpn-type :activity,
  :argsmap {"lat" 42.44537, "lon" -71.227891, "alt" 1.0, "yaw" 80},
  :plant "qc",
  :command "location",
  :reward 0,
  :controllable false,
  :end-node :node-6843,
  :cost 0},
 :act-6911
 {:args [],
  :constraints #{},
  :plantid "qc2@ZMQ",
  :uid :act-6911,
  :tpn-type :activity,
  :argsmap {},
  :plant "qc",
  :command "wp2",
  :reward 0,
  :controllable false,
  :end-node :node-6921,
  :cost 0},
 :act-6920
 {:args [],
  :constraints #{},
  :plantid "qc2@ZMQ",
  :uid :act-6920,
  :tpn-type :activity,
  :argsmap {},
  :plant "qc",
  :command "wp3",
  :reward 0,
  :controllable false,
  :end-node :node-6930,
  :cost 0},
 :act-6929
 {:args [],
  :constraints #{},
  :plantid "qc2@ZMQ",
  :uid :act-6929,
  :tpn-type :activity,
  :argsmap {},
  :plant "qc",
  :command "wp4",
  :reward 0,
  :controllable false,
  :end-node :node-6939,
  :cost 0},
 :act-6938
 {:args [],
  :constraints #{},
  :plantid "qc2@ZMQ",
  :uid :act-6938,
  :tpn-type :activity,
  :argsmap {},
  :plant "qc",
  :command "wp1",
  :reward 0,
  :controllable false,
  :end-node :node-6948,
  :cost 0},
 :act-6947
 {:args [],
  :constraints #{},
  :plantid "qc2@ZMQ",
  :uid :act-6947,
  :tpn-type :activity,
  :argsmap {},
  :plant "qc",
  :command "wp2",
  :reward 0,
  :controllable false,
  :end-node :node-6897,
  :cost 0},
 :act-6965
 {:args [],
  :constraints #{},
  :plantid "qc3",
  :uid :act-6965,
  :tpn-type :activity,
  :argsmap {},
  :plant "qc",
  :command "wp3",
  :reward 0,
  :controllable false,
  :end-node :node-6975,
  :cost 0},
 :act-6974
 {:args [],
  :constraints #{},
  :plantid "qc3",
  :uid :act-6974,
  :tpn-type :activity,
  :argsmap {},
  :plant "qc",
  :command "wp4",
  :reward 0,
  :controllable false,
  :end-node :node-6984,
  :cost 0},
 :act-6983
 {:args [],
  :constraints #{},
  :plantid "qc3",
  :uid :act-6983,
  :tpn-type :activity,
  :argsmap {},
  :plant "qc",
  :command "wp1",
  :reward 0,
  :controllable false,
  :end-node :node-6993,
  :cost 0},
 :act-6992
 {:args [],
  :constraints #{},
  :plantid "qc3",
  :uid :act-6992,
  :tpn-type :activity,
  :argsmap {},
  :plant "qc",
  :command "wp2",
  :reward 0,
  :controllable false,
  :end-node :node-7002,
  :cost 0},
 :act-7001
 {:args [],
  :constraints #{},
  :plantid "qc3",
  :uid :act-7001,
  :tpn-type :activity,
  :argsmap {},
  :plant "qc",
  :command "wp3",
  :reward 0,
  :controllable false,
  :end-node :node-6951,
  :cost 0},
 :act-7019
 {:tpn-type :activity,
  :uid :act-7019,
  :constraints #{},
  :end-node :node-7013,
  :controllable false,
  :command "delay"},
 :act-7028
 {:tpn-type :activity,
  :uid :act-7028,
  :constraints #{},
  :end-node :node-7022,
  :controllable false,
  :command "delay"},
 :act-7045
 {:tpn-type :activity,
  :uid :act-7045,
  :constraints #{},
  :end-node :node-7039,
  :controllable false,
  :command "delay"},
 :act-7054
 {:tpn-type :activity,
  :uid :act-7054,
  :constraints #{},
  :end-node :node-7048,
  :controllable false,
  :command "delay"},
 :na-6845
 {:tpn-type :null-activity, :uid :na-6845, :end-node :node-6840},
 :na-6859
 {:tpn-type :null-activity,
  :uid :na-6859,
  :order 0,
  :end-node :node-6858},
 :na-6899
 {:tpn-type :null-activity, :uid :na-6899, :end-node :node-6840},
 :na-6913
 {:tpn-type :null-activity,
  :uid :na-6913,
  :order 0,
  :end-node :node-6912},
 :na-6953
 {:tpn-type :null-activity, :uid :na-6953, :end-node :node-6840},
 :na-6967
 {:tpn-type :null-activity,
  :uid :na-6967,
  :order 0,
  :end-node :node-6966},
 :na-7007
 {:tpn-type :null-activity, :uid :na-7007, :end-node :node-6840},
 :na-7012
 {:tpn-type :null-activity,
  :uid :na-7012,
  :order 3,
  :end-node :node-7011},
 :na-7015
 {:tpn-type :null-activity, :uid :na-7015, :end-node :node-7010},
 :na-7021
 {:tpn-type :null-activity,
  :uid :na-7021,
  :order 0,
  :end-node :node-7020},
 :na-7024
 {:tpn-type :null-activity, :uid :na-7024, :end-node :node-7010},
 :na-7030
 {:tpn-type :null-activity,
  :uid :na-7030,
  :order 1,
  :end-node :node-7029},
 :na-7033
 {:tpn-type :null-activity, :uid :na-7033, :end-node :node-6840},
 :na-7038
 {:tpn-type :null-activity,
  :uid :na-7038,
  :order 4,
  :end-node :node-7037},
 :na-7041
 {:tpn-type :null-activity, :uid :na-7041, :end-node :node-7036},
 :na-7047
 {:tpn-type :null-activity,
  :uid :na-7047,
  :order 0,
  :end-node :node-7046},
 :na-7050
 {:tpn-type :null-activity, :uid :na-7050, :end-node :node-7036},
 :na-7056
 {:tpn-type :null-activity,
  :uid :na-7056,
  :order 1,
  :end-node :node-7055},
 :net-6838
 {:tpn-type :network,
  :uid :net-6838,
  :begin-node :node-6841,
  :end-node :node-6840},
 :network-id :net-6838,
 :node-6840
 {:tpn-type :p-end,
  :uid :node-6840,
  :constraints #{},
  :activities #{},
  :incidence-set #{:na-7007 :na-7033 :na-6953 :na-6899 :na-6845}},
 :node-6841
 {:tpn-type :p-begin,
  :uid :node-6841,
  :constraints #{},
  :activities #{:na-6967 :na-6913 :na-7012 :na-7038 :na-6859},
  :incidence-set #{},
  :end-node :node-6840},
 :node-6843
 {:tpn-type :state,
  :uid :node-6843,
  :constraints #{},
  :activities #{:na-6845},
  :incidence-set #{:act-6893}},
 :node-6858
 {:tpn-type :state,
  :uid :node-6858,
  :constraints #{:tc-6856},
  :activities #{:act-6857},
  :incidence-set #{:na-6859}},
 :node-6867
 {:tpn-type :state,
  :uid :node-6867,
  :constraints #{:tc-6865},
  :activities #{:act-6866},
  :incidence-set #{:act-6857}},
 :node-6876
 {:tpn-type :state,
  :uid :node-6876,
  :constraints #{:tc-6874},
  :activities #{:act-6875},
  :incidence-set #{:act-6866}},
 :node-6885
 {:tpn-type :state,
  :uid :node-6885,
  :constraints #{:tc-6883},
  :activities #{:act-6884},
  :incidence-set #{:act-6875}},
 :node-6894
 {:tpn-type :state,
  :uid :node-6894,
  :constraints #{:tc-6892},
  :activities #{:act-6893},
  :incidence-set #{:act-6884}},
 :node-6897
 {:tpn-type :state,
  :uid :node-6897,
  :constraints #{},
  :activities #{:na-6899},
  :incidence-set #{:act-6947}},
 :node-6912
 {:tpn-type :state,
  :uid :node-6912,
  :constraints #{:tc-6910},
  :activities #{:act-6911},
  :incidence-set #{:na-6913}},
 :node-6921
 {:tpn-type :state,
  :uid :node-6921,
  :constraints #{:tc-6919},
  :activities #{:act-6920},
  :incidence-set #{:act-6911}},
 :node-6930
 {:tpn-type :state,
  :uid :node-6930,
  :constraints #{:tc-6928},
  :activities #{:act-6929},
  :incidence-set #{:act-6920}},
 :node-6939
 {:tpn-type :state,
  :uid :node-6939,
  :constraints #{:tc-6937},
  :activities #{:act-6938},
  :incidence-set #{:act-6929}},
 :node-6948
 {:tpn-type :state,
  :uid :node-6948,
  :constraints #{:tc-6946},
  :activities #{:act-6947},
  :incidence-set #{:act-6938}},
 :node-6951
 {:tpn-type :state,
  :uid :node-6951,
  :constraints #{},
  :activities #{:na-6953},
  :incidence-set #{:act-7001}},
 :node-6966
 {:tpn-type :state,
  :uid :node-6966,
  :constraints #{:tc-6964},
  :activities #{:act-6965},
  :incidence-set #{:na-6967}},
 :node-6975
 {:tpn-type :state,
  :uid :node-6975,
  :constraints #{:tc-6973},
  :activities #{:act-6974},
  :incidence-set #{:act-6965}},
 :node-6984
 {:tpn-type :state,
  :uid :node-6984,
  :constraints #{:tc-6982},
  :activities #{:act-6983},
  :incidence-set #{:act-6974}},
 :node-6993
 {:tpn-type :state,
  :uid :node-6993,
  :constraints #{:tc-6991},
  :activities #{:act-6992},
  :incidence-set #{:act-6983}},
 :node-7002
 {:tpn-type :state,
  :uid :node-7002,
  :constraints #{:tc-7000},
  :activities #{:act-7001},
  :incidence-set #{:act-6992}},
 :node-7010
 {:tpn-type :c-end,
  :uid :node-7010,
  :constraints #{},
  :activities #{:na-7007},
  :incidence-set #{:na-7015 :na-7024}},
 :node-7011
 {:tpn-type :c-begin,
  :uid :node-7011,
  :constraints #{},
  :activities #{:na-7021 :na-7030},
  :incidence-set #{:na-7012},
  :end-node :node-7010},
 :node-7013
 {:tpn-type :state,
  :uid :node-7013,
  :constraints #{},
  :activities #{:na-7015},
  :incidence-set #{:act-7019}},
 :node-7020
 {:tpn-type :state,
  :uid :node-7020,
  :constraints #{},
  :activities #{:act-7019},
  :incidence-set #{:na-7021}},
 :node-7022
 {:tpn-type :state,
  :uid :node-7022,
  :constraints #{},
  :activities #{:na-7024},
  :incidence-set #{:act-7028}},
 :node-7029
 {:tpn-type :state,
  :uid :node-7029,
  :constraints #{},
  :activities #{:act-7028},
  :incidence-set #{:na-7030}},
 :node-7036
 {:tpn-type :p-end,
  :uid :node-7036,
  :constraints #{},
  :activities #{:na-7033},
  :incidence-set #{:na-7050 :na-7041}},
 :node-7037
 {:tpn-type :p-begin,
  :uid :node-7037,
  :constraints #{},
  :activities #{:na-7056 :na-7047},
  :incidence-set #{:na-7038},
  :end-node :node-7036},
 :node-7039
 {:tpn-type :state,
  :uid :node-7039,
  :constraints #{},
  :activities #{:na-7041},
  :incidence-set #{:act-7045}},
 :node-7046
 {:tpn-type :state,
  :uid :node-7046,
  :constraints #{},
  :activities #{:act-7045},
  :incidence-set #{:na-7047}},
 :node-7048
 {:tpn-type :state,
  :uid :node-7048,
  :constraints #{},
  :activities #{:na-7050},
  :incidence-set #{:act-7054}},
 :node-7055
 {:tpn-type :state,
  :uid :node-7055,
  :constraints #{},
  :activities #{:act-7054},
  :incidence-set #{:na-7056}},
 :tc-6856
 {:tpn-type :temporal-constraint,
  :uid :tc-6856,
  :value [5 20],
  :end-node :node-6867},
 :tc-6865
 {:tpn-type :temporal-constraint,
  :uid :tc-6865,
  :value [6 20],
  :end-node :node-6876},
 :tc-6874
 {:tpn-type :temporal-constraint,
  :uid :tc-6874,
  :value [7 20],
  :end-node :node-6885},
 :tc-6883
 {:tpn-type :temporal-constraint,
  :uid :tc-6883,
  :value [8 20],
  :end-node :node-6894},
 :tc-6892
 {:tpn-type :temporal-constraint,
  :uid :tc-6892,
  :value [9 20],
  :end-node :node-6843},
 :tc-6910
 {:tpn-type :temporal-constraint,
  :uid :tc-6910,
  :value [10 50],
  :end-node :node-6921},
 :tc-6919
 {:tpn-type :temporal-constraint,
  :uid :tc-6919,
  :value [10 50],
  :end-node :node-6930},
 :tc-6928
 {:tpn-type :temporal-constraint,
  :uid :tc-6928,
  :value [10 50],
  :end-node :node-6939},
 :tc-6937
 {:tpn-type :temporal-constraint,
  :uid :tc-6937,
  :value [10 50],
  :end-node :node-6948},
 :tc-6946
 {:tpn-type :temporal-constraint,
  :uid :tc-6946,
  :value [10 50],
  :end-node :node-6897},
 :tc-6964
 {:tpn-type :temporal-constraint,
  :uid :tc-6964,
  :value [10 50],
  :end-node :node-6975},
 :tc-6973
 {:tpn-type :temporal-constraint,
  :uid :tc-6973,
  :value [10 50],
  :end-node :node-6984},
 :tc-6982
 {:tpn-type :temporal-constraint,
  :uid :tc-6982,
  :value [10 50],
  :end-node :node-6993},
 :tc-6991
 {:tpn-type :temporal-constraint,
  :uid :tc-6991,
  :value [10 50],
  :end-node :node-7002},
 :tc-7000
 {:tpn-type :temporal-constraint,
  :uid :tc-7000,
  :value [10 50],
  :end-node :node-6951}}
