{:act-103
 {:args [],
  :constraints #{:tc-102},
  :plantid "qc2@ZMQ",
  :uid :act-103,
  :tpn-type :activity,
  :argsmap {},
  :plant "qc",
  :command "wp1",
  :reward 0,
  :controllable false,
  :end-node :node-113,
  :cost 0},
 :act-112
 {:args [],
  :constraints #{:tc-111},
  :plantid "qc2@ZMQ",
  :uid :act-112,
  :tpn-type :activity,
  :argsmap {},
  :plant "qc",
  :command "wp2",
  :reward 0,
  :controllable false,
  :end-node :node-62,
  :cost 0},
 :act-130
 {:args [],
  :constraints #{:tc-129},
  :plantid "qc3",
  :uid :act-130,
  :tpn-type :activity,
  :argsmap {},
  :plant "qc",
  :command "wp3",
  :reward 0,
  :controllable false,
  :end-node :node-140,
  :cost 0},
 :act-139
 {:args [],
  :constraints #{:tc-138},
  :plantid "qc3",
  :uid :act-139,
  :tpn-type :activity,
  :argsmap {},
  :plant "qc",
  :command "wp4",
  :reward 0,
  :controllable false,
  :end-node :node-149,
  :cost 0},
 :act-148
 {:args [],
  :constraints #{:tc-147},
  :plantid "qc3",
  :uid :act-148,
  :tpn-type :activity,
  :argsmap {},
  :plant "qc",
  :command "wp1",
  :reward 0,
  :controllable false,
  :end-node :node-158,
  :cost 0},
 :act-157
 {:args [],
  :constraints #{:tc-156},
  :plantid "qc3",
  :uid :act-157,
  :tpn-type :activity,
  :argsmap {},
  :plant "qc",
  :command "wp2",
  :reward 0,
  :controllable false,
  :end-node :node-167,
  :cost 0},
 :act-166
 {:args [],
  :constraints #{:tc-165},
  :plantid "qc3",
  :uid :act-166,
  :tpn-type :activity,
  :argsmap {},
  :plant "qc",
  :command "wp3",
  :reward 0,
  :controllable false,
  :end-node :node-116,
  :cost 0},
 :act-184
 {:tpn-type :activity,
  :uid :act-184,
  :constraints #{},
  :end-node :node-178,
  :controllable false,
  :command "delay"},
 :act-193
 {:tpn-type :activity,
  :uid :act-193,
  :constraints #{},
  :end-node :node-187,
  :controllable false,
  :command "delay"},
 :act-210
 {:tpn-type :activity,
  :uid :act-210,
  :constraints #{},
  :end-node :node-204,
  :controllable false,
  :command "delay"},
 :act-219
 {:tpn-type :activity,
  :uid :act-219,
  :constraints #{},
  :end-node :node-213,
  :controllable false,
  :command "delay"},
 :act-22
 {:args [42.44537 -71.227891 1.0 80],
  :constraints #{:tc-21},
  :plantid "qc1@RMQ",
  :uid :act-22,
  :tpn-type :activity,
  :argsmap {"lat" 42.44537, "lon" -71.227891, "alt" 1.0, "yaw" 80},
  :plant "qc",
  :command "location",
  :reward 0,
  :controllable false,
  :end-node :node-32,
  :cost 0},
 :act-31
 {:args [42.445435 -71.227843 2.0 170],
  :constraints #{:tc-30},
  :plantid "qc1@RMQ",
  :uid :act-31,
  :tpn-type :activity,
  :argsmap {"lat" 42.445435, "lon" -71.227843, "alt" 2.0, "yaw" 170},
  :plant "qc",
  :command "location",
  :reward 0,
  :controllable false,
  :end-node :node-41,
  :cost 0},
 :act-40
 {:args [42.445389 -71.227734 3.0 260],
  :constraints #{:tc-39},
  :plantid "qc1@RMQ",
  :uid :act-40,
  :tpn-type :activity,
  :argsmap {"lat" 42.445389, "lon" -71.227734, "alt" 3.0, "yaw" 260},
  :plant "qc",
  :command "location",
  :reward 0,
  :controllable false,
  :end-node :node-50,
  :cost 0},
 :act-49
 {:args [42.445327 -71.227788 4.0 350],
  :constraints #{:tc-48},
  :plantid "qc1@RMQ",
  :uid :act-49,
  :tpn-type :activity,
  :argsmap {"lat" 42.445327, "lon" -71.227788, "alt" 4.0, "yaw" 350},
  :plant "qc",
  :command "location",
  :reward 0,
  :controllable false,
  :end-node :node-59,
  :cost 0},
 :act-58
 {:args [42.44537 -71.227891 1.0 80],
  :constraints #{:tc-57},
  :plantid "qc1@RMQ",
  :uid :act-58,
  :tpn-type :activity,
  :argsmap {"lat" 42.44537, "lon" -71.227891, "alt" 1.0, "yaw" 80},
  :plant "qc",
  :command "location",
  :reward 0,
  :controllable false,
  :end-node :node-8,
  :cost 0},
 :act-76
 {:args [],
  :constraints #{:tc-75},
  :plantid "qc2@ZMQ",
  :uid :act-76,
  :tpn-type :activity,
  :argsmap {},
  :plant "qc",
  :command "wp2",
  :reward 0,
  :controllable false,
  :end-node :node-86,
  :cost 0},
 :act-85
 {:args [],
  :constraints #{:tc-84},
  :plantid "qc2@ZMQ",
  :uid :act-85,
  :tpn-type :activity,
  :argsmap {},
  :plant "qc",
  :command "wp3",
  :reward 0,
  :controllable false,
  :end-node :node-95,
  :cost 0},
 :act-94
 {:args [],
  :constraints #{:tc-93},
  :plantid "qc2@ZMQ",
  :uid :act-94,
  :tpn-type :activity,
  :argsmap {},
  :plant "qc",
  :command "wp4",
  :reward 0,
  :controllable false,
  :end-node :node-104,
  :cost 0},
 :na-10
 {:tpn-type :null-activity,
  :uid :na-10,
  :constraints #{},
  :end-node :node-5},
 :na-118
 {:tpn-type :null-activity,
  :uid :na-118,
  :constraints #{},
  :end-node :node-5},
 :na-132
 {:tpn-type :null-activity,
  :uid :na-132,
  :constraints #{},
  :order 0,
  :end-node :node-131},
 :na-172
 {:tpn-type :null-activity,
  :uid :na-172,
  :constraints #{},
  :end-node :node-5},
 :na-177
 {:tpn-type :null-activity,
  :uid :na-177,
  :constraints #{},
  :order 3,
  :end-node :node-176},
 :na-180
 {:tpn-type :null-activity,
  :uid :na-180,
  :constraints #{},
  :end-node :node-175},
 :na-186
 {:tpn-type :null-activity,
  :uid :na-186,
  :constraints #{},
  :order 0,
  :end-node :node-185},
 :na-189
 {:tpn-type :null-activity,
  :uid :na-189,
  :constraints #{},
  :end-node :node-175},
 :na-195
 {:tpn-type :null-activity,
  :uid :na-195,
  :constraints #{},
  :order 1,
  :end-node :node-194},
 :na-198
 {:tpn-type :null-activity,
  :uid :na-198,
  :constraints #{},
  :end-node :node-5},
 :na-203
 {:tpn-type :null-activity,
  :uid :na-203,
  :constraints #{},
  :order 4,
  :end-node :node-202},
 :na-206
 {:tpn-type :null-activity,
  :uid :na-206,
  :constraints #{},
  :end-node :node-201},
 :na-212
 {:tpn-type :null-activity,
  :uid :na-212,
  :constraints #{},
  :order 0,
  :end-node :node-211},
 :na-215
 {:tpn-type :null-activity,
  :uid :na-215,
  :constraints #{},
  :end-node :node-201},
 :na-221
 {:tpn-type :null-activity,
  :uid :na-221,
  :constraints #{},
  :order 1,
  :end-node :node-220},
 :na-24
 {:tpn-type :null-activity,
  :uid :na-24,
  :constraints #{},
  :order 0,
  :end-node :node-23},
 :na-64
 {:tpn-type :null-activity,
  :uid :na-64,
  :constraints #{},
  :end-node :node-5},
 :na-78
 {:tpn-type :null-activity,
  :uid :na-78,
  :constraints #{},
  :order 0,
  :end-node :node-77},
 :net-3
 {:tpn-type :network,
  :uid :net-3,
  :begin-node :node-6,
  :end-node :node-5},
 :network-id :net-3,
 :node-104
 {:tpn-type :state,
  :uid :node-104,
  :constraints #{},
  :activities #{:act-103},
  :incidence-set #{:act-94},
  :end-node :node-101},
 :node-113
 {:tpn-type :state,
  :uid :node-113,
  :constraints #{},
  :activities #{:act-112},
  :incidence-set #{:act-103},
  :end-node :node-110},
 :node-116
 {:tpn-type :state,
  :uid :node-116,
  :constraints #{},
  :activities #{:na-118},
  :incidence-set #{:act-166}},
 :node-131
 {:tpn-type :state,
  :uid :node-131,
  :constraints #{},
  :activities #{:act-130},
  :incidence-set #{:na-132},
  :end-node :node-128},
 :node-140
 {:tpn-type :state,
  :uid :node-140,
  :constraints #{},
  :activities #{:act-139},
  :incidence-set #{:act-130},
  :end-node :node-137},
 :node-149
 {:tpn-type :state,
  :uid :node-149,
  :constraints #{},
  :activities #{:act-148},
  :incidence-set #{:act-139},
  :end-node :node-146},
 :node-158
 {:tpn-type :state,
  :uid :node-158,
  :constraints #{},
  :activities #{:act-157},
  :incidence-set #{:act-148},
  :end-node :node-155},
 :node-167
 {:tpn-type :state,
  :uid :node-167,
  :constraints #{},
  :activities #{:act-166},
  :incidence-set #{:act-157},
  :end-node :node-164},
 :node-175
 {:tpn-type :c-end,
  :uid :node-175,
  :constraints #{},
  :activities #{:na-172},
  :incidence-set #{:na-180 :na-189}},
 :node-176
 {:tpn-type :c-begin,
  :uid :node-176,
  :constraints #{},
  :activities #{:na-195 :na-186},
  :incidence-set #{:na-177},
  :end-node :node-175},
 :node-178
 {:tpn-type :state,
  :uid :node-178,
  :constraints #{},
  :activities #{:na-180},
  :incidence-set #{:act-184}},
 :node-185
 {:tpn-type :state,
  :uid :node-185,
  :constraints #{},
  :activities #{:act-184},
  :incidence-set #{:na-186},
  :end-node :node-183},
 :node-187
 {:tpn-type :state,
  :uid :node-187,
  :constraints #{},
  :activities #{:na-189},
  :incidence-set #{:act-193}},
 :node-194
 {:tpn-type :state,
  :uid :node-194,
  :constraints #{},
  :activities #{:act-193},
  :incidence-set #{:na-195},
  :end-node :node-192},
 :node-201
 {:tpn-type :p-end,
  :uid :node-201,
  :constraints #{},
  :activities #{:na-198},
  :incidence-set #{:na-215 :na-206}},
 :node-202
 {:tpn-type :p-begin,
  :uid :node-202,
  :constraints #{},
  :activities #{:na-212 :na-221},
  :incidence-set #{:na-203},
  :end-node :node-201},
 :node-204
 {:tpn-type :state,
  :uid :node-204,
  :constraints #{},
  :activities #{:na-206},
  :incidence-set #{:act-210}},
 :node-211
 {:tpn-type :state,
  :uid :node-211,
  :constraints #{},
  :activities #{:act-210},
  :incidence-set #{:na-212},
  :end-node :node-209},
 :node-213
 {:tpn-type :state,
  :uid :node-213,
  :constraints #{},
  :activities #{:na-215},
  :incidence-set #{:act-219}},
 :node-220
 {:tpn-type :state,
  :uid :node-220,
  :constraints #{},
  :activities #{:act-219},
  :incidence-set #{:na-221},
  :end-node :node-218},
 :node-23
 {:tpn-type :state,
  :uid :node-23,
  :constraints #{},
  :activities #{:act-22},
  :incidence-set #{:na-24},
  :end-node :node-20},
 :node-32
 {:tpn-type :state,
  :uid :node-32,
  :constraints #{},
  :activities #{:act-31},
  :incidence-set #{:act-22},
  :end-node :node-29},
 :node-41
 {:tpn-type :state,
  :uid :node-41,
  :constraints #{},
  :activities #{:act-40},
  :incidence-set #{:act-31},
  :end-node :node-38},
 :node-5
 {:tpn-type :p-end,
  :uid :node-5,
  :constraints #{},
  :activities #{},
  :incidence-set #{:na-172 :na-10 :na-118 :na-64 :na-198}},
 :node-50
 {:tpn-type :state,
  :uid :node-50,
  :constraints #{},
  :activities #{:act-49},
  :incidence-set #{:act-40},
  :end-node :node-47},
 :node-59
 {:tpn-type :state,
  :uid :node-59,
  :constraints #{},
  :activities #{:act-58},
  :incidence-set #{:act-49},
  :end-node :node-56},
 :node-6
 {:tpn-type :p-begin,
  :uid :node-6,
  :constraints #{},
  :activities #{:na-132 :na-203 :na-24 :na-78 :na-177},
  :incidence-set #{},
  :end-node :node-5},
 :node-62
 {:tpn-type :state,
  :uid :node-62,
  :constraints #{},
  :activities #{:na-64},
  :incidence-set #{:act-112}},
 :node-77
 {:tpn-type :state,
  :uid :node-77,
  :constraints #{},
  :activities #{:act-76},
  :incidence-set #{:na-78},
  :end-node :node-74},
 :node-8
 {:tpn-type :state,
  :uid :node-8,
  :constraints #{},
  :activities #{:na-10},
  :incidence-set #{:act-58}},
 :node-86
 {:tpn-type :state,
  :uid :node-86,
  :constraints #{},
  :activities #{:act-85},
  :incidence-set #{:act-76},
  :end-node :node-83},
 :node-95
 {:tpn-type :state,
  :uid :node-95,
  :constraints #{},
  :activities #{:act-94},
  :incidence-set #{:act-85},
  :end-node :node-92},
 :tc-102
 {:tpn-type :temporal-constraint,
  :uid :tc-102,
  :value [10 50],
  :end-node :node-113},
 :tc-111
 {:tpn-type :temporal-constraint,
  :uid :tc-111,
  :value [10 50],
  :end-node :node-62},
 :tc-129
 {:tpn-type :temporal-constraint,
  :uid :tc-129,
  :value [10 50],
  :end-node :node-140},
 :tc-138
 {:tpn-type :temporal-constraint,
  :uid :tc-138,
  :value [10 50],
  :end-node :node-149},
 :tc-147
 {:tpn-type :temporal-constraint,
  :uid :tc-147,
  :value [10 50],
  :end-node :node-158},
 :tc-156
 {:tpn-type :temporal-constraint,
  :uid :tc-156,
  :value [10 50],
  :end-node :node-167},
 :tc-165
 {:tpn-type :temporal-constraint,
  :uid :tc-165,
  :value [10 50],
  :end-node :node-116},
 :tc-21
 {:tpn-type :temporal-constraint,
  :uid :tc-21,
  :value [5 20],
  :end-node :node-32},
 :tc-30
 {:tpn-type :temporal-constraint,
  :uid :tc-30,
  :value [6 20],
  :end-node :node-41},
 :tc-39
 {:tpn-type :temporal-constraint,
  :uid :tc-39,
  :value [7 20],
  :end-node :node-50},
 :tc-48
 {:tpn-type :temporal-constraint,
  :uid :tc-48,
  :value [8 20],
  :end-node :node-59},
 :tc-57
 {:tpn-type :temporal-constraint,
  :uid :tc-57,
  :value [9 20],
  :end-node :node-8},
 :tc-75
 {:tpn-type :temporal-constraint,
  :uid :tc-75,
  :value [10 50],
  :end-node :node-86},
 :tc-84
 {:tpn-type :temporal-constraint,
  :uid :tc-84,
  :value [10 50],
  :end-node :node-95},
 :tc-93
 {:tpn-type :temporal-constraint,
  :uid :tc-93,
  :value [10 50],
  :end-node :node-104}}
