{:act-103
 {:args [],
  :argsmap {},
  :command "wp1",
  :constraints #{:tc-102},
  :controllable false,
  :cost 0,
  :display-name "Wp 1",
  :end-node :node-113,
  :plant "qc",
  :plant-id "qc2@ZMQ",
  :reward 0,
  :tpn-type :activity,
  :uid :act-103},
 :act-112
 {:args [],
  :argsmap {},
  :command "wp2",
  :constraints #{:tc-111},
  :controllable false,
  :cost 0,
  :display-name "Wp 2",
  :end-node :node-62,
  :plant "qc",
  :plant-id "qc2@ZMQ",
  :reward 0,
  :tpn-type :activity,
  :uid :act-112},
 :act-130
 {:args [],
  :argsmap {},
  :command "wp3",
  :constraints #{:tc-129},
  :controllable false,
  :cost 0,
  :display-name "Wp 3",
  :end-node :node-140,
  :plant "qc",
  :plant-id "qc3",
  :reward 0,
  :tpn-type :activity,
  :uid :act-130},
 :act-139
 {:args [],
  :argsmap {},
  :command "wp4",
  :constraints #{:tc-138},
  :controllable false,
  :cost 0,
  :display-name "Wp 4",
  :end-node :node-149,
  :plant "qc",
  :plant-id "qc3",
  :reward 0,
  :tpn-type :activity,
  :uid :act-139},
 :act-148
 {:args [],
  :argsmap {},
  :command "wp1",
  :constraints #{:tc-147},
  :controllable false,
  :cost 0,
  :display-name "Wp 1",
  :end-node :node-158,
  :plant "qc",
  :plant-id "qc3",
  :reward 0,
  :tpn-type :activity,
  :uid :act-148},
 :act-157
 {:args [],
  :argsmap {},
  :command "wp2",
  :constraints #{:tc-156},
  :controllable false,
  :cost 0,
  :display-name "Wp 2",
  :end-node :node-167,
  :plant "qc",
  :plant-id "qc3",
  :reward 0,
  :tpn-type :activity,
  :uid :act-157},
 :act-166
 {:args [],
  :argsmap {},
  :command "wp3",
  :constraints #{:tc-165},
  :controllable false,
  :cost 0,
  :display-name "Wp 3",
  :end-node :node-116,
  :plant "qc",
  :plant-id "qc3",
  :reward 0,
  :tpn-type :activity,
  :uid :act-166},
 :act-184
 {:command "delay",
  :constraints #{},
  :controllable false,
  :display-name "Delay",
  :end-node :node-178,
  :tpn-type :activity,
  :uid :act-184},
 :act-193
 {:command "delay",
  :constraints #{},
  :controllable false,
  :display-name "Delay",
  :end-node :node-187,
  :tpn-type :activity,
  :uid :act-193},
 :act-210
 {:command "delay",
  :constraints #{},
  :controllable false,
  :display-name "Delay",
  :end-node :node-204,
  :tpn-type :activity,
  :uid :act-210},
 :act-219
 {:command "delay",
  :constraints #{},
  :controllable false,
  :display-name "Delay",
  :end-node :node-213,
  :tpn-type :activity,
  :uid :act-219},
 :act-22
 {:args [42.44537 -71.227891 1.0 80],
  :argsmap {"alt" 1.0, "lat" 42.44537, "lon" -71.227891, "yaw" 80},
  :command "location",
  :constraints #{:tc-21},
  :controllable false,
  :cost 0,
  :display-name "Location",
  :end-node :node-32,
  :plant "qc",
  :plant-id "qc1@RMQ",
  :reward 0,
  :tpn-type :activity,
  :uid :act-22},
 :act-31
 {:args [42.445435 -71.227843 2.0 170],
  :argsmap {"alt" 2.0, "lat" 42.445435, "lon" -71.227843, "yaw" 170},
  :command "location",
  :constraints #{:tc-30},
  :controllable false,
  :cost 0,
  :display-name "Location",
  :end-node :node-41,
  :plant "qc",
  :plant-id "qc1@RMQ",
  :reward 0,
  :tpn-type :activity,
  :uid :act-31},
 :act-40
 {:args [42.445389 -71.227734 3.0 260],
  :argsmap {"alt" 3.0, "lat" 42.445389, "lon" -71.227734, "yaw" 260},
  :command "location",
  :constraints #{:tc-39},
  :controllable false,
  :cost 0,
  :display-name "Location",
  :end-node :node-50,
  :plant "qc",
  :plant-id "qc1@RMQ",
  :reward 0,
  :tpn-type :activity,
  :uid :act-40},
 :act-49
 {:args [42.445327 -71.227788 4.0 350],
  :argsmap {"alt" 4.0, "lat" 42.445327, "lon" -71.227788, "yaw" 350},
  :command "location",
  :constraints #{:tc-48},
  :controllable false,
  :cost 0,
  :display-name "Location",
  :end-node :node-59,
  :plant "qc",
  :plant-id "qc1@RMQ",
  :reward 0,
  :tpn-type :activity,
  :uid :act-49},
 :act-58
 {:args [42.44537 -71.227891 1.0 80],
  :argsmap {"alt" 1.0, "lat" 42.44537, "lon" -71.227891, "yaw" 80},
  :command "location",
  :constraints #{:tc-57},
  :controllable false,
  :cost 0,
  :display-name "Location",
  :end-node :node-8,
  :plant "qc",
  :plant-id "qc1@RMQ",
  :reward 0,
  :tpn-type :activity,
  :uid :act-58},
 :act-76
 {:args [],
  :argsmap {},
  :command "wp2",
  :constraints #{:tc-75},
  :controllable false,
  :cost 0,
  :display-name "Wp 2",
  :end-node :node-86,
  :plant "qc",
  :plant-id "qc2@ZMQ",
  :reward 0,
  :tpn-type :activity,
  :uid :act-76},
 :act-85
 {:args [],
  :argsmap {},
  :command "wp3",
  :constraints #{:tc-84},
  :controllable false,
  :cost 0,
  :display-name "Wp 3",
  :end-node :node-95,
  :plant "qc",
  :plant-id "qc2@ZMQ",
  :reward 0,
  :tpn-type :activity,
  :uid :act-85},
 :act-94
 {:args [],
  :argsmap {},
  :command "wp4",
  :constraints #{:tc-93},
  :controllable false,
  :cost 0,
  :display-name "Wp 4",
  :end-node :node-104,
  :plant "qc",
  :plant-id "qc2@ZMQ",
  :reward 0,
  :tpn-type :activity,
  :uid :act-94},
 :na-10
 {:constraints #{},
  :end-node :node-5,
  :tpn-type :null-activity,
  :uid :na-10},
 :na-118
 {:constraints #{},
  :end-node :node-5,
  :tpn-type :null-activity,
  :uid :na-118},
 :na-132
 {:constraints #{},
  :end-node :node-131,
  :order 0,
  :tpn-type :null-activity,
  :uid :na-132},
 :na-172
 {:constraints #{},
  :end-node :node-5,
  :tpn-type :null-activity,
  :uid :na-172},
 :na-177
 {:constraints #{},
  :end-node :node-176,
  :order 3,
  :tpn-type :null-activity,
  :uid :na-177},
 :na-180
 {:constraints #{},
  :end-node :node-175,
  :tpn-type :null-activity,
  :uid :na-180},
 :na-186
 {:constraints #{},
  :end-node :node-185,
  :order 0,
  :tpn-type :null-activity,
  :uid :na-186},
 :na-189
 {:constraints #{},
  :end-node :node-175,
  :tpn-type :null-activity,
  :uid :na-189},
 :na-195
 {:constraints #{},
  :end-node :node-194,
  :order 1,
  :tpn-type :null-activity,
  :uid :na-195},
 :na-198
 {:constraints #{},
  :end-node :node-5,
  :tpn-type :null-activity,
  :uid :na-198},
 :na-203
 {:constraints #{},
  :end-node :node-202,
  :order 4,
  :tpn-type :null-activity,
  :uid :na-203},
 :na-206
 {:constraints #{},
  :end-node :node-201,
  :tpn-type :null-activity,
  :uid :na-206},
 :na-212
 {:constraints #{},
  :end-node :node-211,
  :order 0,
  :tpn-type :null-activity,
  :uid :na-212},
 :na-215
 {:constraints #{},
  :end-node :node-201,
  :tpn-type :null-activity,
  :uid :na-215},
 :na-221
 {:constraints #{},
  :end-node :node-220,
  :order 1,
  :tpn-type :null-activity,
  :uid :na-221},
 :na-24
 {:constraints #{},
  :end-node :node-23,
  :order 0,
  :tpn-type :null-activity,
  :uid :na-24},
 :na-64
 {:constraints #{},
  :end-node :node-5,
  :tpn-type :null-activity,
  :uid :na-64},
 :na-78
 {:constraints #{},
  :end-node :node-77,
  :order 0,
  :tpn-type :null-activity,
  :uid :na-78},
 :net-3
 {:begin-node :node-6,
  :end-node :node-5,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-104
 {:activities #{:act-103},
  :constraints #{},
  :incidence-set #{:act-94},
  :tpn-type :state,
  :uid :node-104},
 :node-113
 {:activities #{:act-112},
  :constraints #{},
  :incidence-set #{:act-103},
  :tpn-type :state,
  :uid :node-113},
 :node-116
 {:activities #{:na-118},
  :constraints #{},
  :incidence-set #{:act-166},
  :tpn-type :state,
  :uid :node-116},
 :node-131
 {:activities #{:act-130},
  :constraints #{},
  :incidence-set #{:na-132},
  :tpn-type :state,
  :uid :node-131},
 :node-140
 {:activities #{:act-139},
  :constraints #{},
  :incidence-set #{:act-130},
  :tpn-type :state,
  :uid :node-140},
 :node-149
 {:activities #{:act-148},
  :constraints #{},
  :incidence-set #{:act-139},
  :tpn-type :state,
  :uid :node-149},
 :node-158
 {:activities #{:act-157},
  :constraints #{},
  :incidence-set #{:act-148},
  :tpn-type :state,
  :uid :node-158},
 :node-167
 {:activities #{:act-166},
  :constraints #{},
  :incidence-set #{:act-157},
  :tpn-type :state,
  :uid :node-167},
 :node-175
 {:activities #{:na-172},
  :constraints #{},
  :incidence-set #{:na-180 :na-189},
  :tpn-type :c-end,
  :uid :node-175},
 :node-176
 {:activities #{:na-195 :na-186},
  :constraints #{},
  :end-node :node-175,
  :incidence-set #{:na-177},
  :tpn-type :c-begin,
  :uid :node-176},
 :node-178
 {:activities #{:na-180},
  :constraints #{},
  :incidence-set #{:act-184},
  :tpn-type :state,
  :uid :node-178},
 :node-185
 {:activities #{:act-184},
  :constraints #{},
  :incidence-set #{:na-186},
  :tpn-type :state,
  :uid :node-185},
 :node-187
 {:activities #{:na-189},
  :constraints #{},
  :incidence-set #{:act-193},
  :tpn-type :state,
  :uid :node-187},
 :node-194
 {:activities #{:act-193},
  :constraints #{},
  :incidence-set #{:na-195},
  :tpn-type :state,
  :uid :node-194},
 :node-201
 {:activities #{:na-198},
  :constraints #{},
  :incidence-set #{:na-215 :na-206},
  :tpn-type :p-end,
  :uid :node-201},
 :node-202
 {:activities #{:na-212 :na-221},
  :constraints #{},
  :end-node :node-201,
  :incidence-set #{:na-203},
  :tpn-type :p-begin,
  :uid :node-202},
 :node-204
 {:activities #{:na-206},
  :constraints #{},
  :incidence-set #{:act-210},
  :tpn-type :state,
  :uid :node-204},
 :node-211
 {:activities #{:act-210},
  :constraints #{},
  :incidence-set #{:na-212},
  :tpn-type :state,
  :uid :node-211},
 :node-213
 {:activities #{:na-215},
  :constraints #{},
  :incidence-set #{:act-219},
  :tpn-type :state,
  :uid :node-213},
 :node-220
 {:activities #{:act-219},
  :constraints #{},
  :incidence-set #{:na-221},
  :tpn-type :state,
  :uid :node-220},
 :node-23
 {:activities #{:act-22},
  :constraints #{},
  :incidence-set #{:na-24},
  :tpn-type :state,
  :uid :node-23},
 :node-32
 {:activities #{:act-31},
  :constraints #{},
  :incidence-set #{:act-22},
  :tpn-type :state,
  :uid :node-32},
 :node-41
 {:activities #{:act-40},
  :constraints #{},
  :incidence-set #{:act-31},
  :tpn-type :state,
  :uid :node-41},
 :node-5
 {:activities #{},
  :constraints #{},
  :incidence-set #{:na-172 :na-10 :na-118 :na-64 :na-198},
  :tpn-type :p-end,
  :uid :node-5},
 :node-50
 {:activities #{:act-49},
  :constraints #{},
  :incidence-set #{:act-40},
  :tpn-type :state,
  :uid :node-50},
 :node-59
 {:activities #{:act-58},
  :constraints #{},
  :incidence-set #{:act-49},
  :tpn-type :state,
  :uid :node-59},
 :node-6
 {:activities #{:na-132 :na-203 :na-24 :na-78 :na-177},
  :constraints #{},
  :end-node :node-5,
  :incidence-set #{},
  :tpn-type :p-begin,
  :uid :node-6},
 :node-62
 {:activities #{:na-64},
  :constraints #{},
  :incidence-set #{:act-112},
  :tpn-type :state,
  :uid :node-62},
 :node-77
 {:activities #{:act-76},
  :constraints #{},
  :incidence-set #{:na-78},
  :tpn-type :state,
  :uid :node-77},
 :node-8
 {:activities #{:na-10},
  :constraints #{},
  :incidence-set #{:act-58},
  :tpn-type :state,
  :uid :node-8},
 :node-86
 {:activities #{:act-85},
  :constraints #{},
  :incidence-set #{:act-76},
  :tpn-type :state,
  :uid :node-86},
 :node-95
 {:activities #{:act-94},
  :constraints #{},
  :incidence-set #{:act-85},
  :tpn-type :state,
  :uid :node-95},
 :tc-102
 {:end-node :node-113,
  :tpn-type :temporal-constraint,
  :uid :tc-102,
  :value [10 50]},
 :tc-111
 {:end-node :node-62,
  :tpn-type :temporal-constraint,
  :uid :tc-111,
  :value [10 50]},
 :tc-129
 {:end-node :node-140,
  :tpn-type :temporal-constraint,
  :uid :tc-129,
  :value [10 50]},
 :tc-138
 {:end-node :node-149,
  :tpn-type :temporal-constraint,
  :uid :tc-138,
  :value [10 50]},
 :tc-147
 {:end-node :node-158,
  :tpn-type :temporal-constraint,
  :uid :tc-147,
  :value [10 50]},
 :tc-156
 {:end-node :node-167,
  :tpn-type :temporal-constraint,
  :uid :tc-156,
  :value [10 50]},
 :tc-165
 {:end-node :node-116,
  :tpn-type :temporal-constraint,
  :uid :tc-165,
  :value [10 50]},
 :tc-21
 {:end-node :node-32,
  :tpn-type :temporal-constraint,
  :uid :tc-21,
  :value [5 20]},
 :tc-30
 {:end-node :node-41,
  :tpn-type :temporal-constraint,
  :uid :tc-30,
  :value [6 20]},
 :tc-39
 {:end-node :node-50,
  :tpn-type :temporal-constraint,
  :uid :tc-39,
  :value [7 20]},
 :tc-48
 {:end-node :node-59,
  :tpn-type :temporal-constraint,
  :uid :tc-48,
  :value [8 20]},
 :tc-57
 {:end-node :node-8,
  :tpn-type :temporal-constraint,
  :uid :tc-57,
  :value [9 20]},
 :tc-75
 {:end-node :node-86,
  :tpn-type :temporal-constraint,
  :uid :tc-75,
  :value [10 50]},
 :tc-84
 {:end-node :node-95,
  :tpn-type :temporal-constraint,
  :uid :tc-84,
  :value [10 50]},
 :tc-93
 {:end-node :node-104,
  :tpn-type :temporal-constraint,
  :uid :tc-93,
  :value [10 50]}}
