{:act-13
 {:args [],
  :constraints #{},
  :interface "RMQ",
  :plantid "penny",
  :uid :act-13,
  :name "Flip",
  :tpn-type :activity,
  :argsmap {},
  :command "flip",
  :htn-node :hem-25,
  :controllable false,
  :end-node :node-1,
  :label "TEMP-flip",
  :display-name "Flip",
  :plant-part "coin-fsm"},
 :act-5
 {:args [],
  :constraints #{},
  :interface "RMQ",
  :plantid "penny",
  :uid :act-5,
  :name "Flip",
  :tpn-type :activity,
  :argsmap {},
  :command "flip",
  :htn-node :hem-25,
  :controllable false,
  :end-node :node-10,
  :label "TEMP-flip",
  :display-name "Flip",
  :plant-part "coin-fsm"},
 :act-9
 {:args [],
  :constraints #{},
  :interface "RMQ",
  :plantid "penny",
  :uid :act-9,
  :name "Flip",
  :tpn-type :activity,
  :argsmap {},
  :command "flip",
  :htn-node :hem-25,
  :controllable false,
  :end-node :node-14,
  :label "TEMP-flip",
  :display-name "Flip",
  :plant-part "coin-fsm"},
 :net-3
 {:tpn-type :network,
  :uid :net-3,
  :begin-node :node-6,
  :end-node :node-1},
 :network-id :net-3,
 :node-1
 {:tpn-type :state,
  :uid :node-1,
  :constraints #{},
  :activities #{},
  :incidence-set #{:act-13}},
 :node-10
 {:tpn-type :state,
  :uid :node-10,
  :constraints #{},
  :activities #{:act-9},
  :incidence-set #{:act-5},
  :htn-node :hem-25,
  :end-node :node-14},
 :node-14
 {:tpn-type :state,
  :uid :node-14,
  :constraints #{},
  :activities #{:act-13},
  :incidence-set #{:act-9},
  :htn-node :hem-25,
  :end-node :node-1},
 :node-6
 {:tpn-type :state,
  :uid :node-6,
  :constraints #{},
  :activities #{:act-5},
  :incidence-set #{},
  :htn-node :hem-25,
  :end-node :node-10}}
