{:hedge-28 {:type :edge, :uid :hedge-28, :end-node :hem-25},
 :hedge-30 {:type :edge, :uid :hedge-30, :end-node :hpt-23},
 :hedge-31 {:type :edge, :uid :hedge-31, :end-node :hpt-24},
 :hem-25
 {:type :htn-expanded-method,
  :uid :hem-25,
  :label "flip-3()",
  :incidence-set #{:hedge-28},
  :edges [],
  :network :net-29},
 :henpt-21
 {:uid :henpt-21,
  :type :htn-expanded-nonprimitive-task,
  :label "main",
  :incidence-set #{},
  :edges #{:hedge-28}},
 :hpt-22
 {:type :htn-primitive-task,
  :uid :hpt-22,
  :name "flip",
  :incidence-set #{},
  :edges #{:hedge-30},
  :label "TEMP-flip",
  :display-name "flip",
  :args [],
  :argsmap {}},
 :hpt-23
 {:type :htn-primitive-task,
  :uid :hpt-23,
  :name "flip",
  :incidence-set #{:hedge-30},
  :edges #{:hedge-31},
  :label "TEMP-flip",
  :display-name "flip",
  :args [],
  :argsmap {}},
 :hpt-24
 {:type :htn-primitive-task,
  :uid :hpt-24,
  :name "flip",
  :incidence-set #{:hedge-31},
  :edges #{},
  :label "TEMP-flip",
  :display-name "flip",
  :args [],
  :argsmap {}},
 :net-27
 {:type :htn-network,
  :uid :net-27,
  :label "main",
  :rootnodes #{:henpt-21}},
 :net-29
 {:type :htn-network,
  :uid :net-29,
  :label "flip-3()",
  :rootnodes #{:hpt-22}},
 :network :net-27}
