{:act-1076
 {:tpn-type :activity,
  :uid :act-1076,
  :constraints #{},
  :end-node :node-1082,
  :controllable false,
  :name "flip()",
  :htn-node :hem-1067},
 :act-1081
 {:tpn-type :activity,
  :uid :act-1081,
  :constraints #{},
  :end-node :node-1087,
  :controllable false,
  :name "flip()",
  :htn-node :hem-1067},
 :act-1086
 {:tpn-type :activity,
  :uid :act-1086,
  :constraints #{},
  :end-node :node-1070,
  :controllable false,
  :name "flip()",
  :htn-node :hem-1067},
 :net-1072
 {:tpn-type :network,
  :uid :net-1072,
  :begin-node :node-1077,
  :end-node :node-1070},
 :network-id :net-1072,
 :node-1070
 {:tpn-type :state,
  :uid :node-1070,
  :constraints #{},
  :activities #{},
  :incidence-set #{:act-1086}},
 :node-1077
 {:tpn-type :state,
  :uid :node-1077,
  :constraints #{},
  :activities #{:act-1076},
  :incidence-set #{},
  :htn-node :hem-1067},
 :node-1082
 {:tpn-type :state,
  :uid :node-1082,
  :constraints #{},
  :activities #{:act-1081},
  :incidence-set #{:act-1076},
  :htn-node :hem-1067},
 :node-1087
 {:tpn-type :state,
  :uid :node-1087,
  :constraints #{},
  :activities #{:act-1086},
  :incidence-set #{:act-1081},
  :htn-node :hem-1067}}
