{:hedge-30 {:end-node :hem-27, :type :edge, :uid :hedge-30},
 :hedge-32 {:end-node :hpt-25, :type :edge, :uid :hedge-32},
 :hedge-33 {:end-node :hpt-26, :type :edge, :uid :hedge-33},
 :hem-27
 {:args [],
  :display-args [],
  :display-name "Flip 3",
  :edges [],
  :incidence-set #{:hedge-30},
  :network :net-31,
  :type :htn-expanded-method,
  :uid :hem-27},
 :henpt-23
 {:display-name "main",
  :edges [:hedge-30],
  :incidence-set #{},
  :type :htn-expanded-nonprimitive-task,
  :uid :henpt-23},
 :hpt-24
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Flip",
  :edges [:hedge-32],
  :incidence-set #{},
  :name "flip",
  :plant-id "penny",
  :plant-interface "RMQ",
  :plant-part "coin-fsm",
  :type :htn-primitive-task,
  :uid :hpt-24},
 :hpt-25
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Flip",
  :edges [:hedge-33],
  :incidence-set #{:hedge-32},
  :name "flip",
  :plant-id "penny",
  :plant-interface "RMQ",
  :plant-part "coin-fsm",
  :type :htn-primitive-task,
  :uid :hpt-25},
 :hpt-26
 {:args [],
  :argsmap {},
  :display-args [],
  :display-name "Flip",
  :edges [],
  :incidence-set #{:hedge-33},
  :name "flip",
  :plant-id "penny",
  :plant-interface "RMQ",
  :plant-part "coin-fsm",
  :type :htn-primitive-task,
  :uid :hpt-26},
 :net-29
 {:display-name "main",
  :rootnodes #{:henpt-23},
  :type :htn-network,
  :uid :net-29},
 :net-31
 {:display-name "Flip 3",
  :rootnodes #{:hpt-24},
  :type :htn-network,
  :uid :net-31},
 :network :net-29}
