{:act-13
 {:args [],
  :argsmap {},
  :command "flip",
  :constraints #{},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Flip",
  :end-node :node-1,
  :htn-node :hem-27,
  :name "Flip",
  :plant-id "penny",
  :plant-interface "RMQ",
  :plant-part "coin-fsm",
  :reward 0,
  :tpn-type :activity,
  :uid :act-13},
 :act-5
 {:args [],
  :argsmap {},
  :command "flip",
  :constraints #{},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Flip",
  :end-node :node-10,
  :htn-node :hem-27,
  :name "Flip",
  :plant-id "penny",
  :plant-interface "RMQ",
  :plant-part "coin-fsm",
  :reward 0,
  :tpn-type :activity,
  :uid :act-5},
 :act-9
 {:args [],
  :argsmap {},
  :command "flip",
  :constraints #{},
  :controllable false,
  :cost 0,
  :display-args [],
  :display-name "Flip",
  :end-node :node-14,
  :htn-node :hem-27,
  :name "Flip",
  :plant-id "penny",
  :plant-interface "RMQ",
  :plant-part "coin-fsm",
  :reward 0,
  :tpn-type :activity,
  :uid :act-9},
 :net-3
 {:begin-node :node-6,
  :end-node :node-1,
  :tpn-type :network,
  :uid :net-3},
 :network-id :net-3,
 :node-1
 {:activities #{},
  :constraints #{},
  :incidence-set #{:act-13},
  :tpn-type :state,
  :uid :node-1},
 :node-10
 {:activities #{:act-9},
  :constraints #{},
  :htn-node :hem-27,
  :incidence-set #{:act-5},
  :tpn-type :state,
  :uid :node-10},
 :node-14
 {:activities #{:act-13},
  :constraints #{},
  :htn-node :hem-27,
  :incidence-set #{:act-9},
  :tpn-type :state,
  :uid :node-14},
 :node-6
 {:activities #{:act-5},
  :constraints #{},
  :end-node :node-1,
  :htn-node :hem-27,
  :incidence-set #{},
  :tpn-type :state,
  :uid :node-6}}
