{coin
 {:args [],
  :fields
  {observed-face
   {:access :private,
    :initial
    {:mode :head,
     :mode-ref {:names [coin-faces], :type :symbol-ref},
     :type :mode-ref},
    :observable true}},
  :methods
  {emit-head
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Emit Head",
     :doc "Heads",
     :post true,
     :pre
     {:type :equal,
      :args
      [{:type :field-ref, :names [observed-face]}
       {:type :mode-ref,
        :mode-ref {:type :symbol-ref, :names [coin-faces]},
        :mode :head}]},
     :primitive true,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}],
   emit-tail
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Emit Tail",
     :doc "Tails",
     :post true,
     :pre
     {:type :equal,
      :args
      [{:type :field-ref, :names [observed-face]}
       {:type :mode-ref,
        :mode-ref {:type :symbol-ref, :names [coin-faces]},
        :mode :tail}]},
     :primitive true,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}],
   flip
   [{:args [],
     :betweens [],
     :body
     [{:type :choose,
       :body
       [{:type :choice,
         :body
         [{:type :choose,
           :body
           [{:type :choice,
             :body
             [{:type :method-fn,
               :method-ref
               {:type :symbol-ref, :names [this emit-head]},
               :args []}],
             :probability {:type :lvar, :name "eBH", :default 0.8}}
            {:type :choice,
             :body
             [{:type :method-fn,
               :method-ref
               {:type :symbol-ref, :names [this emit-tail]},
               :args []}],
             :probability {:type :lvar, :name "eBT", :default 0.2}}]}],
         :condition
         {:type :equal,
          :args
          [{:type :mode-ref,
            :mode-ref {:type :symbol-ref, :names [this]},
            :mode :biased}
           true]}}
        {:type :choice,
         :body
         [{:type :choose,
           :body
           [{:type :choice,
             :body
             [{:type :method-fn,
               :method-ref
               {:type :symbol-ref, :names [this emit-head]},
               :args []}],
             :probability {:type :lvar, :name "eUH", :default 0.51}}
            {:type :choice,
             :body
             [{:type :method-fn,
               :method-ref
               {:type :symbol-ref, :names [this emit-tail]},
               :args []}],
             :probability
             {:type :lvar, :name "eUT", :default 0.49}}]}],
         :condition
         {:type :equal,
          :args
          [{:type :mode-ref,
            :mode-ref {:type :symbol-ref, :names [this]},
            :mode :unbiased}
           true]}}]}],
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Flip",
     :doc "Flip the coin",
     :post true,
     :pre true,
     :primitive true,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :modes {:biased true, :unbiased true},
  :transitions
  {:biased:biased
   {:post
    {:mode :biased,
     :mode-ref {:names [this], :type :symbol-ref},
     :type :mode-ref},
    :pre
    {:mode :biased,
     :mode-ref {:names [this], :type :symbol-ref},
     :type :mode-ref},
    :probability {:default 0.9, :name "tBB", :type :lvar}},
   :biased:unbiased
   {:post
    {:mode :unbiased,
     :mode-ref {:names [this], :type :symbol-ref},
     :type :mode-ref},
    :pre
    {:mode :biased,
     :mode-ref {:names [this], :type :symbol-ref},
     :type :mode-ref},
    :probability {:default 0.1, :name "tBU", :type :lvar}},
   :unbiased:biased
   {:post
    {:mode :biased,
     :mode-ref {:names [this], :type :symbol-ref},
     :type :mode-ref},
    :pre
    {:mode :unbiased,
     :mode-ref {:names [this], :type :symbol-ref},
     :type :mode-ref},
    :probability {:default 0.1, :name "tUB", :type :lvar}},
   :unbiased:unbiased
   {:post
    {:mode :unbiased,
     :mode-ref {:names [this], :type :symbol-ref},
     :type :mode-ref},
    :pre
    {:mode :unbiased,
     :mode-ref {:names [this], :type :symbol-ref},
     :type :mode-ref},
    :probability {:default 0.9, :name "tUU", :type :lvar}}},
  :type :pclass},
 coin-faces
 {:args [],
  :meta {:doc "Enumeration of coin faces"},
  :modes {:head true, :tail true},
  :type :pclass},
 main
 {:args [],
  :fields
  {acoin
   {:access :private,
    :initial
    {:args [],
     :pclass coin,
     :plant-id "penny",
     :plant-interface "RMQ",
     :plant-part "coin-fsm",
     :type :pclass-ctor},
    :observable false}},
  :methods
  {flip-1000
   [{:args [],
     :betweens [],
     :body
     [{:type :sequence,
       :body
       [{:type :method-fn,
         :method-ref {:type :field-ref, :names [acoin flip]},
         :args []}
        {:type :method-fn,
         :method-ref {:type :field-ref, :names [acoin flip]},
         :args []}
        {:type :method-fn,
         :method-ref {:type :field-ref, :names [acoin flip]},
         :args []}
        {:type :method-fn,
         :method-ref {:type :field-ref, :names [acoin flip]},
         :args []}
        {:type :method-fn,
         :method-ref {:type :field-ref, :names [acoin flip]},
         :args []}
        {:type :method-fn,
         :method-ref {:type :field-ref, :names [acoin flip]},
         :args []}
        {:type :method-fn,
         :method-ref {:type :field-ref, :names [acoin flip]},
         :args []}
        {:type :method-fn,
         :method-ref {:type :field-ref, :names [acoin flip]},
         :args []}
        {:type :method-fn,
         :method-ref {:type :field-ref, :names [acoin flip]},
         :args []}
        {:type :method-fn,
         :method-ref {:type :field-ref, :names [acoin flip]},
         :args []}]}],
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Flip 1000",
     :doc "Series of 1000 coin flips",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}],
   flip-3
   [{:args [],
     :betweens [],
     :body
     [{:type :sequence,
       :body
       [{:type :method-fn,
         :method-ref {:type :field-ref, :names [acoin flip]},
         :args []}
        {:type :method-fn,
         :method-ref {:type :field-ref, :names [acoin flip]},
         :args []}
        {:type :method-fn,
         :method-ref {:type :field-ref, :names [acoin flip]},
         :args []}]}],
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Flip 3",
     :doc "Series of 3 coin flips",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass},
 pamela/lvars
 {:lvars
  {"eBH" 0.8,
   "eBT" 0.2,
   "eUH" 0.51,
   "eUT" 0.49,
   "tBB" 0.9,
   "tBU" 0.1,
   "tUB" 0.1,
   "tUU" 0.9},
  :type :lvars}}
