{all-clear {:type :state-variable},
 box
 {:args [],
  :fields
  {ball-in-motion
   {:access :public,
    :initial {:type :literal, :value false},
    :observable true}},
  :methods
  {close-lid
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Close Lid",
     :post {:type :mode-reference, :pclass this, :mode :close},
     :pre {:type :mode-reference, :pclass this, :mode :open},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}],
   open-lid
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Open Lid",
     :post {:type :mode-reference, :pclass this, :mode :open},
     :pre {:type :mode-reference, :pclass this, :mode :close},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}],
   reset
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Reset",
     :post {:type :mode-reference, :pclass this, :mode :open},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :modes
  {:close {:type :literal, :value true},
   :open {:type :literal, :value true}},
  :type :pclass},
 cannon
 {:args [],
  :fields
  {ammunitions
   {:access :private,
    :initial {:type :literal, :value 5},
    :observable true},
   ready
   {:access :public,
    :initial {:type :literal, :value false},
    :observable true}},
  :methods
  {fire
   [{:args [arg1 arg2],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Fire",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}],
   reset
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Reset",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass},
 game
 {:args [],
  :fields
  {box-f
   {:access :private,
    :initial {:args [], :pclass box, :type :pclass-ctor},
    :observable false},
   cannon-f
   {:access :private,
    :initial {:args [], :pclass cannon, :type :pclass-ctor},
    :observable false}},
  :methods
  {main
   [{:args [],
     :betweens [],
     :body
     [{:type :parallel,
       :body
       [{:type :whenever,
         :condition
         {:type :equal,
          :args
          [{:type :field-reference-field,
            :pclass this,
            :field box-f,
            :value ball-in-motion}
           {:type :literal, :value true}]},
         :body
         [{:type :tell,
           :condition
           {:type :equal,
            :args
            [{:type :state-variable, :name all-clear}
             {:type :literal, :value true}]}}]}
        {:type :whenever,
         :condition
         {:type :equal,
          :args
          [{:type :field-reference-field,
            :pclass this,
            :field cannon-f,
            :value ready}
           {:type :literal, :value true}]},
         :body
         [{:type :unless,
           :condition
           {:type :equal,
            :args
            [{:type :field-reference-field,
              :pclass this,
              :field cannon-f,
              :value ammunitions}
             {:type :literal, :value 0}]},
           :body
           [{:type :try,
             :body
             [{:type :sequence,
               :body
               [{:type :assert,
                 :condition
                 {:type :equal,
                  :args
                  [{:type :field-reference, :pclass this, :field box-f}
                   {:type :mode-reference, :pclass box, :mode :open}]},
                 :body nil}
                {:type :maintain,
                 :condition
                 {:type :equal,
                  :args
                  [{:type :field-reference, :pclass this, :field box-f}
                   {:type :mode-reference, :pclass box, :mode :open}]},
                 :body
                 [{:type :sequence,
                   :body
                   [{:type :plant-fn-field,
                     :method fire,
                     :args [123 "456"],
                     :temporal-constraints
                     [{:type :bounds, :value [1 7]}],
                     :field cannon-f}
                    {:type :ask,
                     :condition
                     {:type :equal,
                      :args
                      [{:type :state-variable, :name all-clear}
                       {:type :literal, :value true}]},
                     :body nil}]}]}
                {:type :plant-fn-field,
                 :method close-lid,
                 :args [],
                 :field box-f}]}],
             :catch
             [{:type :sequence,
               :body
               [{:type :parallel,
                 :body
                 [{:type :plant-fn-symbol,
                   :name box-f,
                   :method reset,
                   :args []}
                  {:type :plant-fn-symbol,
                   :name cannon-f,
                   :method reset,
                   :args []}]}
                {:type :delay,
                 :body nil,
                 :temporal-constraints
                 [{:type :bounds, :value [30 30]}]}]}],
             :temporal-constraints
             [{:type :bounds, :value [2 20]}]}]}]}],
       :temporal-constraints [{:type :bounds, :value [1 60]}]}],
     :controllable false,
     :cost 0,
     :display-name "Main",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive false,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass}}
