{choice-tpn
 {:args [plant],
  :meta {:doc "Simple Choice with 2 Activities"},
  :methods
  {simple-choice-tpn
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive false,
     :betweens [],
     :display-name "Simple Choice Tpn",
     :post {:type :literal, :value true},
     :cost 0,
     :body
     [{:type :choose,
       :body
       [{:type :choice,
         :body
         [{:type :plant-fn-symbol,
           :name plant,
           :method bounded,
           :args []}]}
        {:type :choice,
         :body
         [{:type :plant-fn-symbol,
           :name plant,
           :method unbounded,
           :args []}]}]}],
     :doc "Simple Choice TPN"}]},
  :type :pclass},
 plant
 {:args [],
  :meta {:doc "The Plant API"},
  :methods
  {bounded
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [1 5]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Bounded",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc "Bounded"}],
   unbounded
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Unbounded",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc "Unbounded"}]},
  :type :pclass}}
