{bulb
 {:args [vcc vdd],
  :fields
  {anode
   {:access :private,
    :initial {:names [vcc], :type :pclass-arg-ref},
    :observable false},
   cathode
   {:access :private,
    :initial {:names [vdd], :type :pclass-arg-ref},
    :observable false},
   illumination
   {:access :public,
    :initial
    {:mode :dark,
     :mode-ref {:names [lightvals], :type :symbol-ref},
     :type :mode-ref},
    :observable false},
   sensed-illumination
   {:access :public,
    :initial
    {:mode :dark,
     :mode-ref {:names [lightvals], :type :symbol-ref},
     :type :mode-ref},
    :observable true}},
  :meta
  {:depends {lightvals "0.2.0"},
   :doc "A light bulb",
   :icon "bulb.svg",
   :version "0.3.0"},
  :modes
  {:fail true,
   :off
   {:args
    [{:type :equal,
      :args
      [{:type :field-ref, :names [illumination]}
       {:type :mode-ref,
        :mode-ref {:type :symbol-ref, :names [lightvals]},
        :mode :dark}]}
     {:type :equal,
      :args
      [{:type :field-ref, :names [sensed-illumination]}
       {:type :mode-ref,
        :mode-ref {:type :symbol-ref, :names [lightvals]},
        :mode :dark}]}],
    :type :and},
   :on
   {:args
    [{:type :equal,
      :args
      [{:type :field-ref, :names [illumination]}
       {:type :mode-ref,
        :mode-ref {:type :symbol-ref, :names [lightvals]},
        :mode :bright}]}
     {:type :equal,
      :args
      [{:type :field-ref, :names [sensed-illumination]}
       {:type :mode-ref,
        :mode-ref {:type :symbol-ref, :names [lightvals]},
        :mode :bright}]}],
    :type :and}},
  :transitions
  {:*:fail
   {:doc "spontaneous bulb failure",
    :probability {:name "pfbulb", :type :lvar}},
   :off:on
   {:doc "turning on bulb",
    :post
    {:mode :on,
     :mode-ref {:names [this], :type :symbol-ref},
     :type :mode-ref},
    :pre
    {:args
     [{:type :mode-ref,
       :mode-ref {:type :symbol-ref, :names [this]},
       :mode :off}
      {:type :equal,
       :args
       [{:type :field-ref, :names [anode]}
        {:type :mode-ref,
         :mode-ref {:type :symbol-ref, :names [pwrvals]},
         :mode :high}]}
      {:type :equal,
       :args
       [{:type :field-ref, :names [sensed-illumination]}
        {:type :mode-ref,
         :mode-ref {:type :symbol-ref, :names [lightvals]},
         :mode :bright}]}],
     :type :and},
    :temporal-constraints [{:type :bounds, :value [1 3]}]},
   :on:off
   {:doc "turning off bulb",
    :post
    {:mode :off,
     :mode-ref {:names [this], :type :symbol-ref},
     :type :mode-ref},
    :pre
    {:args
     [{:type :mode-ref,
       :mode-ref {:type :symbol-ref, :names [this]},
       :mode :on}
      {:type :equal,
       :args
       [{:type :field-ref, :names [anode]}
        {:type :mode-ref,
         :mode-ref {:type :symbol-ref, :names [pwrvals]},
         :mode :none}]}
      {:type :equal,
       :args
       [{:type :field-ref, :names [sensed-illumination]}
        {:type :mode-ref,
         :mode-ref {:type :symbol-ref, :names [lightvals]},
         :mode :dark}]}],
     :type :and},
    :temporal-constraints [{:type :bounds, :value [1 3]}]}},
  :type :pclass},
 circuit1
 {:args [],
  :fields
  {bulb1
   {:access :private,
    :initial
    {:args
     [{:type :field-ref, :names [source]}
      {:type :field-ref, :names [drain]}],
     :pclass bulb,
     :plant-id "switchedcircuit",
     :plant-part "Bulb1",
     :type :pclass-ctor},
    :observable false},
   drain
   {:access :private,
    :initial {:name "drain", :type :lvar},
    :observable false},
   source
   {:access :private,
    :initial {:name "source", :type :lvar},
    :observable false},
   switchedpower
   {:access :private,
    :initial
    {:args
     [{:type :field-ref, :names [source]}
      {:type :field-ref, :names [drain]}],
     :pclass psw,
     :plant-id "switchedcircuit",
     :plant-interface "RMQ",
     :plant-part "PSW1",
     :type :pclass-ctor},
    :observable false}},
  :meta
  {:depends {bulb "0.3.0", psw "0.3.0"},
   :doc "An example circuit with a power switch and light bulb",
   :version "0.3.0"},
  :type :pclass},
 lightvals
 {:args [],
  :meta {:doc "Enum for lighting values", :version "0.2.0"},
  :modes {:bright true, :dark true},
  :type :pclass},
 psw
 {:args [gnd pwr],
  :fields
  {TP1
   {:access :private,
    :initial {:names [gnd], :type :pclass-arg-ref},
    :observable false},
   TP2
   {:access :private,
    :initial {:names [pwr], :type :pclass-arg-ref},
    :observable false},
   pwr
   {:access :private,
    :initial
    {:mode :none,
     :mode-ref {:names [pwrvals], :type :symbol-ref},
     :type :mode-ref},
    :observable false}},
  :meta
  {:depends {pwrvals "0.2.0"}, :doc "Power Switch", :version "0.3.0"},
  :methods
  {reset
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Reset",
     :doc "resets the power supply",
     :post
     {:type :mode-ref,
      :mode-ref {:type :symbol-ref, :names [this]},
      :mode :off},
     :pre true,
     :primitive true,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}],
   turn-off
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Turn Off",
     :doc "turns off the power supply",
     :post
     {:type :mode-ref,
      :mode-ref {:type :symbol-ref, :names [this]},
      :mode :off},
     :pre
     {:type :mode-ref,
      :mode-ref {:type :symbol-ref, :names [this]},
      :mode :on},
     :primitive true,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [1 3]}]}],
   turn-on
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Turn On",
     :doc "turns on the power supply",
     :post
     {:type :mode-ref,
      :mode-ref {:type :symbol-ref, :names [this]},
      :mode :on},
     :pre
     {:type :mode-ref,
      :mode-ref {:type :symbol-ref, :names [this]},
      :mode :off},
     :primitive true,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [1 3]}]}]},
  :modes
  {:fail true,
   :off
   {:args
    [{:type :field-ref, :names [pwr]}
     {:type :mode-ref,
      :mode-ref {:type :symbol-ref, :names [pwrvals]},
      :mode :none}],
    :type :equal},
   :on
   {:args
    [{:type :field-ref, :names [pwr]}
     {:type :mode-ref,
      :mode-ref {:type :symbol-ref, :names [pwrvals]},
      :mode :high}],
    :type :equal}},
  :transitions
  {:*:fail {:doc "spontaneous switch failure", :probability 1.0E-7},
   :off:on
   {:doc "turning on",
    :post
    {:mode :on,
     :mode-ref {:names [this], :type :symbol-ref},
     :type :mode-ref},
    :pre
    {:mode :off,
     :mode-ref {:names [this], :type :symbol-ref},
     :type :mode-ref}},
   :on:off
   {:doc "turning off",
    :post
    {:mode :off,
     :mode-ref {:names [this], :type :symbol-ref},
     :type :mode-ref},
    :pre
    {:mode :on,
     :mode-ref {:names [this], :type :symbol-ref},
     :type :mode-ref}}},
  :type :pclass},
 pwrvals
 {:args [],
  :meta {:doc "Enum for power values", :version "0.2.0"},
  :modes {:high true, :none true},
  :type :pclass},
 pamela/lvars
 {:lvars {"drain" :unset, "pfbulb" :unset, "source" :unset},
  :type :lvars}}
