{choose-sequence-htn
 {:args [plant],
  :methods
  {main
   [{:args [],
     :betweens [],
     :body
     [{:type :choose,
       :body
       [{:type :choice,
         :body
         [{:type :sequence,
           :body
           [{:type :plant-fn-symbol,
             :name plant,
             :method bounded,
             :args []}
            {:type :plant-fn-symbol,
             :name plant,
             :method unbounded,
             :args []}]}]}
        {:type :choice,
         :body
         [{:type :sequence,
           :body
           [{:type :plant-fn-symbol,
             :name plant,
             :method bounded,
             :args []}
            {:type :plant-fn-symbol,
             :name plant,
             :method unbounded,
             :args []}]}]}]}],
     :controllable false,
     :cost 0,
     :display-name "Main",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive false,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass},
 double-parallel-htn
 {:args [plant],
  :methods
  {main
   [{:args [],
     :betweens [],
     :body
     [{:type :parallel,
       :body
       [{:type :parallel,
         :body
         [{:type :plant-fn-symbol,
           :name plant,
           :method bounded,
           :args []}
          {:type :plant-fn-symbol,
           :name plant,
           :method unbounded,
           :args []}]}
        {:type :parallel,
         :body
         [{:type :plant-fn-symbol,
           :name plant,
           :method bounded,
           :args []}
          {:type :plant-fn-symbol,
           :name plant,
           :method unbounded,
           :args []}]}]}],
     :controllable false,
     :cost 0,
     :display-name "Main",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive false,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass},
 parallel-sequence2-htn
 {:args [plant],
  :methods
  {main
   [{:args [],
     :betweens [],
     :body
     [{:type :parallel,
       :body
       [{:type :sequence,
         :body
         [{:type :plant-fn-symbol,
           :name plant,
           :method bounded,
           :args []}
          {:type :plant-fn-symbol,
           :name plant,
           :method unbounded,
           :args []}]}
        {:type :sequence,
         :body
         [{:type :plant-fn-symbol,
           :name plant,
           :method bounded,
           :args []}
          {:type :plant-fn-symbol,
           :name plant,
           :method unbounded,
           :args []}]}]}],
     :controllable false,
     :cost 0,
     :display-name "Main",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive false,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass},
 plant
 {:args [],
  :meta {:doc "The Plant API"},
  :methods
  {bounded
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Bounded",
     :doc "Bounded",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [1 5]}]}],
   unbounded
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Unbounded",
     :doc "Unbounded",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass},
 sequence-choose-htn
 {:args [plant],
  :methods
  {main
   [{:args [],
     :betweens [],
     :body
     [{:type :sequence,
       :body
       [{:type :choose,
         :body
         [{:type :choice,
           :body
           [{:type :plant-fn-symbol,
             :name plant,
             :method bounded,
             :args []}]}
          {:type :choice,
           :body
           [{:type :plant-fn-symbol,
             :name plant,
             :method unbounded,
             :args []}]}]}
        {:type :choose,
         :body
         [{:type :choice,
           :body
           [{:type :plant-fn-symbol,
             :name plant,
             :method bounded,
             :args []}]}
          {:type :choice,
           :body
           [{:type :plant-fn-symbol,
             :name plant,
             :method unbounded,
             :args []}]}]}]}],
     :controllable false,
     :cost 0,
     :display-name "Main",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive false,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass},
 sequence-parallel1-htn
 {:args [plant],
  :methods
  {main
   [{:args [],
     :betweens [],
     :body
     [{:type :sequence,
       :body
       [{:type :plant-fn-symbol,
         :name plant,
         :method bounded,
         :args []}
        {:type :parallel,
         :body
         [{:type :plant-fn-symbol,
           :name plant,
           :method bounded,
           :args []}
          {:type :plant-fn-symbol,
           :name plant,
           :method unbounded,
           :args []}]}]}],
     :controllable false,
     :cost 0,
     :display-name "Main",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive false,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass},
 sequence-parallel2-htn
 {:args [plant],
  :methods
  {main
   [{:args [],
     :betweens [],
     :body
     [{:type :sequence,
       :body
       [{:type :parallel,
         :body
         [{:type :plant-fn-symbol,
           :name plant,
           :method bounded,
           :args []}
          {:type :plant-fn-symbol,
           :name plant,
           :method unbounded,
           :args []}]}
        {:type :parallel,
         :body
         [{:type :plant-fn-symbol,
           :name plant,
           :method bounded,
           :args []}
          {:type :plant-fn-symbol,
           :name plant,
           :method unbounded,
           :args []}]}]}],
     :controllable false,
     :cost 0,
     :display-name "Main",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive false,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass},
 single-parallel-htn
 {:args [plant],
  :methods
  {main
   [{:args [],
     :betweens [],
     :body
     [{:type :parallel,
       :body
       [{:type :plant-fn-symbol,
         :name plant,
         :method bounded,
         :args []}
        {:type :plant-fn-symbol,
         :name plant,
         :method unbounded,
         :args []}]}],
     :controllable false,
     :cost 0,
     :display-name "Main",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive false,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass}}
