{first-tpn-htn
 {:args [plnt],
  :meta {:doc "A example with constraints. "},
  :methods
  {do-a-and-b
   [{:args [],
     :betweens [],
     :body
     [{:type :sequence,
       :body
       [{:type :plant-fn-symbol,
         :name plnt,
         :method do-a,
         :args [],
         :temporal-constraints [{:type :bounds, :value [2 4]}]}
        {:type :plant-fn-symbol,
         :name plnt,
         :method do-b,
         :args [],
         :label :b,
         :temporal-constraints [{:type :bounds, :value [3 6]}]}]}],
     :controllable false,
     :cost 0,
     :display-name "Do A And B",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive false,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}],
   do-choice
   [{:args [],
     :betweens [],
     :body
     [{:type :choose,
       :body
       [{:type :choice,
         :body
         [{:type :plant-fn-symbol,
           :name this,
           :method do-d-and-e,
           :args []}]}
        {:type :choice,
         :body
         [{:type :plant-fn-symbol,
           :name this,
           :method do-f-and-g,
           :args []}]}],
       :label :choice}],
     :controllable false,
     :cost 0,
     :display-name "Do Choice",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive false,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}],
   do-choice-and-c
   [{:args [],
     :betweens [],
     :body
     [{:type :sequence,
       :body
       [{:type :plant-fn-symbol,
         :name this,
         :method do-choice,
         :args []}
        {:type :plant-fn-symbol,
         :name plnt,
         :method do-c,
         :args [],
         :temporal-constraints [{:type :bounds, :value [85 90]}]}]}],
     :controllable false,
     :cost 0,
     :display-name "Do Choice And C",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive false,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}],
   do-d-and-e
   [{:args [],
     :betweens [],
     :body
     [{:type :sequence,
       :body
       [{:type :plant-fn-symbol,
         :name plnt,
         :method do-d,
         :args [],
         :cost 1,
         :reward 2,
         :temporal-constraints [{:type :bounds, :value [1 7]}]}
        {:type :plant-fn-symbol,
         :name plnt,
         :method do-e,
         :args [],
         :cost 2,
         :reward 1,
         :temporal-constraints [{:type :bounds, :value [9 16]}]}]}],
     :controllable false,
     :cost 0,
     :display-name "Do D And E",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive false,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}],
   do-f-and-g
   [{:args [],
     :betweens [],
     :body
     [{:type :sequence,
       :body
       [{:type :plant-fn-symbol,
         :name plnt,
         :method do-f,
         :args [],
         :cost 3,
         :reward 1,
         :temporal-constraints [{:type :bounds, :value [1 3]}]}
        {:type :plant-fn-symbol,
         :name plnt,
         :method do-g,
         :args [],
         :cost 4,
         :temporal-constraints [{:type :bounds, :value [2 5]}]}]}],
     :controllable false,
     :cost 0,
     :display-name "Do F And G",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive false,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}],
   start
   [{:args [],
     :betweens
     [{:type :between,
       :from :choice,
       :to :b,
       :temporal-constraints [{:type :bounds, :value [1 100]}]}],
     :body
     [{:type :parallel,
       :body
       [{:type :plant-fn-symbol,
         :name this,
         :method do-a-and-b,
         :args []}
        {:type :plant-fn-symbol,
         :name this,
         :method do-choice-and-c,
         :args []}],
       :temporal-constraints [{:type :bounds, :value [1 100]}]}],
     :controllable false,
     :cost 0,
     :display-name "Start",
     :doc "Simple TPN with constraints",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive false,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass},
 main
 {:args [],
  :fields
  {plnt
   {:access :private,
    :initial {:args [], :pclass plant, :type :pclass-ctor},
    :observable false},
   tpn
   {:access :private,
    :initial {:args [plnt], :pclass first-tpn, :type :pclass-ctor},
    :observable false}},
  :type :pclass},
 main-htn
 {:args [],
  :fields
  {plnt
   {:access :private,
    :initial {:args [], :pclass plant, :type :pclass-ctor},
    :observable false},
   tpn
   {:access :private,
    :initial {:args [plnt], :pclass first-tpn-htn, :type :pclass-ctor},
    :observable false}},
  :type :pclass},
 plant
 {:args [],
  :meta {:doc "The Plant API"},
  :methods
  {do-a
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Do A",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [2 4]}]}],
   do-b
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Do B",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [3 6]}]}],
   do-c
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Do C",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [85 90]}]}],
   do-d
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Do D",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [1 7]}]}],
   do-e
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Do E",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [9 16]}]}],
   do-f
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Do F",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [1 3]}]}],
   do-g
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Do G",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [2 5]}]}]},
  :type :pclass}}
