{a
 {:args [],
  :modes {:fail true, :off true, :on true},
  :transitions
  {:*:fail {:doc "spontaneous failure", :probability 1.0E-7},
   :off:on
   {:doc "turning a on",
    :post
    {:mode :on,
     :mode-ref {:names [this], :type :symbol-ref},
     :type :mode-ref},
    :pre
    {:mode :off,
     :mode-ref {:names [this], :type :symbol-ref},
     :type :mode-ref}},
   :on:off
   {:doc "turning a off",
    :post
    {:mode :off,
     :mode-ref {:names [this], :type :symbol-ref},
     :type :mode-ref},
    :pre
    {:mode :on,
     :mode-ref {:names [this], :type :symbol-ref},
     :type :mode-ref}}},
  :type :pclass},
 b
 {:args [],
  :fields
  {brand {:access :private, :initial "DOLL", :observable false}},
  :modes {:fail true, :off true, :on true},
  :transitions
  {:*:fail {:doc "spontaneous failure", :probability 1.0E-8},
   :off:on
   {:doc "turning b on",
    :post
    {:mode :on,
     :mode-ref {:names [this], :type :symbol-ref},
     :type :mode-ref},
    :pre
    {:mode :off,
     :mode-ref {:names [this], :type :symbol-ref},
     :type :mode-ref}},
   :on:off
   {:doc "turning b off",
    :post
    {:mode :off,
     :mode-ref {:names [this], :type :symbol-ref},
     :type :mode-ref},
    :pre
    {:mode :on,
     :mode-ref {:names [this], :type :symbol-ref},
     :type :mode-ref}}},
  :type :pclass},
 c
 {:args [],
  :fields
  {brand {:access :private, :initial "DOLL", :observable false}},
  :inherit [a b],
  :modes {:fail true, :off true, :on true},
  :transitions
  {:*:fail {:doc "spontaneous failure", :probability 1.0E-7},
   :off:on
   {:doc "turning a on",
    :post
    {:mode :on,
     :mode-ref {:names [this], :type :symbol-ref},
     :type :mode-ref},
    :pre
    {:mode :off,
     :mode-ref {:names [this], :type :symbol-ref},
     :type :mode-ref}},
   :on:off
   {:doc "turning a off",
    :post
    {:mode :off,
     :mode-ref {:names [this], :type :symbol-ref},
     :type :mode-ref},
    :pre
    {:mode :on,
     :mode-ref {:names [this], :type :symbol-ref},
     :type :mode-ref}}},
  :type :pclass}}
