{camera
 {:args [],
  :meta {:doc "The Camera Plant API"},
  :methods
  {aquire
   [{:args [location],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 3,
     :display-args [location],
     :display-name "Aquire",
     :doc "Aquire image: low resolution",
     :post true,
     :pre true,
     :primitive true,
     :probability 0.5,
     :reward 6,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}
    {:args [location],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 5,
     :display-args [location],
     :display-name "Aquire",
     :doc "Aquire image: medium resolution",
     :post true,
     :pre true,
     :primitive true,
     :probability 0.3,
     :reward 7,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}
    {:args [location],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 8,
     :display-args [location],
     :display-name "Aquire",
     :doc "Aquire image: high resolution",
     :post true,
     :pre true,
     :primitive true,
     :probability 0.2,
     :reward 9,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass},
 mission
 {:args [],
  :fields
  {camera1
   {:access :private,
    :initial
    {:args [],
     :pclass camera,
     :plant-id "Camera 1",
     :type :pclass-ctor},
    :observable false}},
  :methods
  {start
   [{:args [],
     :betweens [],
     :body
     [{:type :sequence,
       :body
       [{:type :method-fn,
         :method-ref {:type :field-ref, :names [camera1 aquire]},
         :args ["A"]}]}],
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Start",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass}}
