{main
 {:args [],
  :methods
  {main1
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [3 21]}],
     :reward 0,
     :controllable false,
     :primitive false,
     :betweens [],
     :display-name "Main 1",
     :post {:type :literal, :value true},
     :cost 0,
     :body
     [{:type :sequence,
       :body
       [{:type :plant-fn-symbol,
         :name this,
         :method submethod,
         :args [],
         :temporal-constraints [{:type :bounds, :value [1 10]}]}
        {:type :plant-fn-symbol,
         :name this,
         :method submethod,
         :args []}
        {:type :plant-fn-symbol,
         :name this,
         :method submethod,
         :args []}],
       :temporal-constraints [{:type :bounds, :value [2 20]}]}]}],
   primitive-method
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Primitive Method",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil}],
   primitive-method-b
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [1 1]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Primitive Method B",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil}],
   submethod
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [5 11]}],
     :reward 0,
     :controllable false,
     :primitive false,
     :betweens [],
     :display-name "Submethod",
     :post {:type :literal, :value true},
     :cost 0,
     :body
     [{:type :sequence,
       :body
       [{:type :plant-fn-symbol,
         :name this,
         :method primitive-method,
         :args [],
         :temporal-constraints [{:type :bounds, :value [1 2]}]}
        {:type :plant-fn-symbol,
         :name this,
         :method primitive-method,
         :args []}
        {:type :plant-fn-symbol,
         :name this,
         :method primitive-method-b,
         :args [],
         :temporal-constraints [{:type :bounds, :value [1 3]}]}
        {:type :plant-fn-symbol,
         :name this,
         :method primitive-method-b,
         :args []}],
       :temporal-constraints [{:type :bounds, :value [2 9]}]}]}]},
  :type :pclass}}
