{simpleplant
 {:args [],
  :methods
  {foo
   [{:args [a],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Foo",
     :doc "foo with 1 arg",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}
    {:args [a b],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Foo",
     :doc "foo with 2 args",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}
    {:args [a b c],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Foo",
     :doc "foo with 3 args",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}],
   main
   [{:args [],
     :betweens [],
     :body
     [{:type :sequence,
       :body
       [{:type :method-fn,
         :method-ref {:type :symbol-ref, :names [this foo]},
         :args [1]}
        {:type :method-fn,
         :method-ref {:type :symbol-ref, :names [this foo]},
         :args [1 2]}
        {:type :method-fn,
         :method-ref {:type :symbol-ref, :names [this foo]},
         :args [1 2 3]}]}],
     :controllable false,
     :cost 0,
     :display-name "Main",
     :doc "call all the foos",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive false,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass}}
