{test
 {:args [],
  :methods
  {main
   [{:args [],
     :betweens [],
     :body
     [{:type :sequence,
       :body
       [{:type :method-fn,
         :method-ref
         {:type :symbol-ref, :names [this perform-activities]},
         :args []}
        {:type :delay,
         :body nil,
         :temporal-constraints [{:type :bounds, :value [10 10]}]}
        {:type :method-fn,
         :method-ref
         {:type :symbol-ref, :names [this perform-activities]},
         :args []}]}],
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Main",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}],
   perform-15-minutes-of-activities
   [{:args [],
     :betweens [],
     :body
     [{:type :parallel,
       :body
       [{:type :method-fn,
         :method-ref
         {:type :symbol-ref, :names [this something-simple]},
         :args []}
        {:type :method-fn,
         :method-ref
         {:type :symbol-ref, :names [this something-simple]},
         :args []}
        {:type :method-fn,
         :method-ref
         {:type :symbol-ref, :names [this something-simple]},
         :args []}
        {:type :method-fn,
         :method-ref
         {:type :symbol-ref, :names [this something-simple]},
         :args []}
        {:type :method-fn,
         :method-ref
         {:type :symbol-ref, :names [this something-simple]},
         :args []}
        {:type :method-fn,
         :method-ref
         {:type :symbol-ref, :names [this something-simple]},
         :args []}
        {:type :method-fn,
         :method-ref
         {:type :symbol-ref, :names [this something-simple]},
         :args []}
        {:type :method-fn,
         :method-ref
         {:type :symbol-ref, :names [this something-simple]},
         :args []}
        {:type :method-fn,
         :method-ref
         {:type :symbol-ref, :names [this something-simple]},
         :args []}]}],
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Perform 15 Minutes Of Activities",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}],
   perform-activities
   [{:args [],
     :betweens [],
     :body
     [{:type :sequence,
       :body
       [{:type :method-fn,
         :method-ref
         {:type :symbol-ref,
          :names [this perform-15-minutes-of-activities]},
         :args []}
        {:type :method-fn,
         :method-ref
         {:type :symbol-ref,
          :names [this perform-15-minutes-of-activities]},
         :args []}
        {:type :method-fn,
         :method-ref
         {:type :symbol-ref,
          :names [this perform-15-minutes-of-activities]},
         :args []}
        {:type :method-fn,
         :method-ref
         {:type :symbol-ref,
          :names [this perform-15-minutes-of-activities]},
         :args []}]}],
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Perform Activities",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}],
   something-simple
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Something Simple",
     :post true,
     :pre true,
     :primitive true,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass}}
