{a
 {:args [id1 id2],
  :fields
  {b1
   {:access :private,
    :initial
    {:args [{:type :pclass-arg-ref, :names [id1]}],
     :pclass b,
     :plant-id {:names [id1], :type :pclass-arg-ref},
     :plant-part "b-one",
     :type :pclass-ctor},
    :observable false},
   b2
   {:access :private,
    :initial
    {:args [{:type :pclass-arg-ref, :names [id2]}],
     :pclass b,
     :plant-id {:names [id2], :type :pclass-arg-ref},
     :plant-part "b-two",
     :type :pclass-ctor},
    :observable false}},
  :methods
  {do-a
   [{:args [],
     :betweens [],
     :body
     [{:type :sequence,
       :body
       [{:type :method-fn,
         :method-ref {:type :field-ref, :names [b1 do-b]},
         :args []}
        {:type :method-fn,
         :method-ref {:type :field-ref, :names [b2 do-b]},
         :args []}]}],
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Do A",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass},
 b
 {:args [id],
  :fields
  {c1
   {:access :private,
    :initial
    {:args [],
     :pclass c,
     :plant-id {:names [id], :type :pclass-arg-ref},
     :plant-part "part-1",
     :type :pclass-ctor},
    :observable false},
   c2
   {:access :private,
    :initial
    {:args [],
     :pclass c,
     :plant-id {:names [id], :type :pclass-arg-ref},
     :plant-part "part-2",
     :type :pclass-ctor},
    :observable false}},
  :methods
  {do-b
   [{:args [],
     :betweens [],
     :body
     [{:type :sequence,
       :body
       [{:type :method-fn,
         :method-ref {:type :field-ref, :names [c1 do-c]},
         :args []}
        {:type :method-fn,
         :method-ref {:type :field-ref, :names [c2 do-c]},
         :args []}]}],
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Do B",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass},
 c
 {:args [],
  :methods
  {do-c
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Do C",
     :post true,
     :pre true,
     :primitive true,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass},
 demo
 {:args [],
  :fields
  {a1
   {:access :private,
    :initial
    {:args ["111" "222"],
     :pclass a,
     :plant-id "000",
     :plant-part "a-one",
     :type :pclass-ctor},
    :observable false}},
  :methods
  {main
   [{:args [],
     :betweens [],
     :body
     [{:type :sequence,
       :body
       [{:type :method-fn,
         :method-ref {:type :field-ref, :names [a1 do-a]},
         :args []}]}],
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Main",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass}}
