{camera
 {:args [],
  :methods
  {main
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive false,
     :betweens [],
     :display-name "Main",
     :post {:type :literal, :value true},
     :cost 0,
     :body
     [{:type :choose,
       :body
       [{:type :choice,
         :body
         [{:type :plant-fn-symbol,
           :name this,
           :method take-high-res-images,
           :args []}]}
        {:type :choice,
         :body
         [{:type :plant-fn-symbol,
           :name this,
           :method take-medium-res-images,
           :args []}],
         :temporal-constraints
         [{:type :bounds,
           :value
           {:type :lvar, :name "med-res-bounds", :default [3 6]}}]}]}],
     :doc "the tpn"}],
   take-high-res-images
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints
     [{:type :bounds,
       :value
       {:type :lvar, :name "high-res-bounds", :default [5 10]}}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Take High Res Images",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc "Take High Res Image"}],
   take-medium-res-images
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Take Medium Res Images",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc "Take Medium Res Image"}]},
  :type :pclass},
 example
 {:args [camera],
  :fields
  {:imager
   {:access :private,
    :initial {:args [], :pclass camera, :type :pclass-ctor},
    :observable false}},
  :type :pclass},
 pamela/lvars
 {:lvars {"high-res-bounds" [5 10], "med-res-bounds" [3 6]},
  :type :lvars}}
