{plant-methods
 {:args [],
  :meta {:doc "The Plant API", :version "0.2.1"},
  :methods
  {nonprimitive
   [{:args [],
     :betweens [],
     :body
     [{:type :plant-fn-symbol,
       :name this,
       :method primitive,
       :args [42.44537 -71.227891]}],
     :controllable false,
     :cost 0,
     :display-name "Nonprimitive",
     :doc "A non primitive method",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive false,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [10 50]}]}],
   primitive
   [{:args [arg1 arg2],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Primitive",
     :doc "A primitive method",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass},
 tpn-methods
 {:args [arg1 arg2],
  :meta
  {:doc "TPN with primitive and non primitive methods",
   :version "0.2.1"},
  :methods
  {entry-method
   [{:args [],
     :betweens [],
     :body
     [{:type :parallel,
       :body
       [{:type :sequence,
         :body
         [{:type :plant-fn-symbol,
           :name arg1,
           :method primitive,
           :args [42.44537 -71.227891],
           :temporal-constraints [{:type :bounds, :value [5 20]}]}]}
        {:type :sequence,
         :body
         [{:type :plant-fn-symbol,
           :name arg2,
           :method nonprimitive,
           :args []}]}]}],
     :controllable false,
     :cost 0,
     :display-name "Entry Method",
     :doc "Check methods",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive false,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass},
 wrapper
 {:args [],
  :fields
  {:go
   {:access :private,
    :initial
    {:args [qc1 qc2], :pclass tpn-methods, :type :pclass-ctor},
    :observable false},
   :qc1
   {:access :private,
    :initial
    {:args [], :id "qc1", :pclass plant-methods, :type :pclass-ctor},
    :observable false},
   :qc2
   {:access :private,
    :initial
    {:args [], :id "qc2", :pclass plant-methods, :type :pclass-ctor},
    :observable false}},
  :meta
  {:depends {plant-methods "0.2.1", tpn-methods "0.2.1"},
   :doc "Test methods",
   :version "0.2.0"},
  :type :pclass}}
