{parallel-constraints
 {:args [],
  :methods
  {coordination1
   [{:args [loc1 loc2 loc3 loc4],
     :betweens [],
     :body
     [{:type :parallel,
       :body
       [{:type :method-fn,
         :method-ref {:type :symbol-ref, :names [this video-flow]},
         :args
         [{:type :method-arg-ref, :names [loc1]}
          {:type :method-arg-ref, :names [loc2]}],
         :temporal-constraints [{:type :bounds, :value [5 10]}]}
        {:type :method-fn,
         :method-ref {:type :symbol-ref, :names [this video-flow]},
         :args
         [{:type :method-arg-ref, :names [loc1]}
          {:type :method-arg-ref, :names [loc3]}],
         :temporal-constraints [{:type :bounds, :value [5 11]}]}
        {:type :method-fn,
         :method-ref {:type :symbol-ref, :names [this video-flow]},
         :args
         [{:type :method-arg-ref, :names [loc1]}
          {:type :method-arg-ref, :names [loc4]}],
         :temporal-constraints [{:type :bounds, :value [5 12]}]}
        {:type :method-fn,
         :method-ref {:type :symbol-ref, :names [this video-flow]},
         :args
         [{:type :method-arg-ref, :names [loc2]}
          {:type :method-arg-ref, :names [loc3]}],
         :temporal-constraints [{:type :bounds, :value [5 13]}]}
        {:type :method-fn,
         :method-ref {:type :symbol-ref, :names [this video-flow]},
         :args
         [{:type :method-arg-ref, :names [loc2]}
          {:type :method-arg-ref, :names [loc4]}],
         :temporal-constraints [{:type :bounds, :value [5 14]}]}
        {:type :method-fn,
         :method-ref {:type :symbol-ref, :names [this video-flow]},
         :args
         [{:type :method-arg-ref, :names [loc3]}
          {:type :method-arg-ref, :names [loc4]}],
         :temporal-constraints [{:type :bounds, :value [5 15]}]}]}],
     :controllable false,
     :cost 0,
     :display-args [loc1 loc2 loc3 loc4],
     :display-name "Coordination 1",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}],
   coordination2
   [{:args [loc1 loc2 loc3 loc4],
     :betweens [],
     :body
     [{:type :parallel,
       :body
       [{:type :method-fn,
         :method-ref {:type :symbol-ref, :names [this video]},
         :args
         [{:type :method-arg-ref, :names [loc1]}
          {:type :method-arg-ref, :names [loc2]}
          "1"],
         :temporal-constraints [{:type :bounds, :value [5 10]}]}
        {:type :method-fn,
         :method-ref {:type :symbol-ref, :names [this video]},
         :args
         [{:type :method-arg-ref, :names [loc1]}
          {:type :method-arg-ref, :names [loc3]}
          "1"],
         :temporal-constraints [{:type :bounds, :value [5 11]}]}
        {:type :method-fn,
         :method-ref {:type :symbol-ref, :names [this video]},
         :args
         [{:type :method-arg-ref, :names [loc1]}
          {:type :method-arg-ref, :names [loc4]}
          "1"],
         :temporal-constraints [{:type :bounds, :value [5 12]}]}
        {:type :method-fn,
         :method-ref {:type :symbol-ref, :names [this video]},
         :args
         [{:type :method-arg-ref, :names [loc2]}
          {:type :method-arg-ref, :names [loc3]}
          "1"],
         :temporal-constraints [{:type :bounds, :value [5 13]}]}
        {:type :method-fn,
         :method-ref {:type :symbol-ref, :names [this video]},
         :args
         [{:type :method-arg-ref, :names [loc2]}
          {:type :method-arg-ref, :names [loc4]}
          "1"],
         :temporal-constraints [{:type :bounds, :value [5 14]}]}
        {:type :method-fn,
         :method-ref {:type :symbol-ref, :names [this video]},
         :args
         [{:type :method-arg-ref, :names [loc3]}
          {:type :method-arg-ref, :names [loc4]}
          "1"],
         :temporal-constraints [{:type :bounds, :value [5 15]}]}]}],
     :controllable false,
     :cost 0,
     :display-args [loc1 loc2 loc3 loc4],
     :display-name "Coordination 2",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}],
   main
   [{:args [],
     :betweens [],
     :body
     [{:type :method-fn,
       :method-ref
       {:type :symbol-ref, :names [this top-level-sequence]},
       :args ["host0101" "host0301" "host0501" "host0701"]}],
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Top-Level Activity",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}],
   top-level-sequence
   [{:args [loc1 loc2 loc3 loc4],
     :betweens [],
     :body
     [{:type :sequence,
       :body
       [{:type :method-fn,
         :method-ref {:type :symbol-ref, :names [this coordination1]},
         :args
         [{:type :method-arg-ref, :names [loc1]}
          {:type :method-arg-ref, :names [loc2]}
          {:type :method-arg-ref, :names [loc3]}
          {:type :method-arg-ref, :names [loc4]}],
         :temporal-constraints [{:type :bounds, :value [20 30]}]}
        {:type :method-fn,
         :method-ref {:type :symbol-ref, :names [this coordination2]},
         :args
         [{:type :method-arg-ref, :names [loc1]}
          {:type :method-arg-ref, :names [loc2]}
          {:type :method-arg-ref, :names [loc3]}
          {:type :method-arg-ref, :names [loc4]}],
         :temporal-constraints [{:type :bounds, :value [15 25]}]}]}],
     :controllable false,
     :cost 0,
     :display-args [loc1 loc2 loc3 loc4],
     :display-name "Top Level Sequence",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}],
   video
   [{:args [client server display],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-args [client server display],
     :display-name "Video",
     :post true,
     :pre true,
     :primitive true,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}],
   video-flow
   [{:args [loc1 loc2],
     :betweens [],
     :body
     [{:type :method-fn,
       :method-ref {:type :symbol-ref, :names [this video]},
       :args
       [{:type :method-arg-ref, :names [loc1]}
        {:type :method-arg-ref, :names [loc2]}
        "1"]}],
     :controllable false,
     :cost 0,
     :display-args [loc1 loc2],
     :display-name "Video",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass}}
