{parallel-tpn
 {:args [plant],
  :meta {:doc "Simple Parallel with 2 Activities"},
  :methods
  {simple-parallel-tpn
   [{:args [],
     :betweens [],
     :body
     [{:type :parallel,
       :body
       [{:type :method-fn,
         :method-ref {:type :pclass-arg-ref, :names [plant bounded]},
         :args []}
        {:type :method-fn,
         :method-ref {:type :pclass-arg-ref, :names [plant unbounded]},
         :args []}]}],
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Simple Parallel Tpn",
     :doc "Simple Parallel TPN",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass},
 plant
 {:args [],
  :meta {:doc "The Plant API"},
  :methods
  {bounded
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Bounded",
     :doc "Bounded",
     :post true,
     :pre true,
     :primitive true,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [1 5]}]}],
   unbounded
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Unbounded",
     :doc "Unbounded",
     :post true,
     :pre true,
     :primitive true,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass}}
