{parallel-tpn
 {:type :pclass,
  :args [plant],
  :meta {:doc "Simple Parallel with 2 Activities"},
  :methods
  {simple-parallel-tpn
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive false,
     :betweens [],
     :display-name "Simple Parallel Tpn",
     :post {:type :literal, :value true},
     :cost 0,
     :body
     [{:type :parallel,
       :body
       [{:type :plant-fn-symbol,
         :name plant,
         :method bounded,
         :args []}
        {:type :plant-fn-symbol,
         :name plant,
         :method unbounded,
         :args []}]}],
     :doc "Simple Parallel TPN"}]}},
 plant
 {:type :pclass,
  :args [],
  :meta {:doc "The Plant API"},
  :methods
  {bounded
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [1 5]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Bounded",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc "Bounded"}],
   unbounded
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Unbounded",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc "Unbounded"}]}}}
