{parallel-choice-tpn
 {:args [plant],
  :meta
  {:depends {plant "0.2.0"},
   :doc "Parallel and Choice, each with 2 Activities",
   :version "0.2.0"},
  :methods
  {simple-parallel-tpn
   [{:args [],
     :betweens [],
     :body
     [{:type :sequence,
       :body
       [{:type :parallel,
         :body
         [{:type :method-fn,
           :method-ref {:type :pclass-arg-ref, :names [plant bounded]},
           :args []}
          {:type :method-fn,
           :method-ref
           {:type :pclass-arg-ref, :names [plant unbounded]},
           :args []}]}
        {:type :choose,
         :body
         [{:type :choice,
           :body
           [{:type :method-fn,
             :method-ref
             {:type :pclass-arg-ref, :names [plant bounded]},
             :args []}]}
          {:type :choice,
           :body
           [{:type :method-fn,
             :method-ref
             {:type :pclass-arg-ref, :names [plant unbounded]},
             :args []}]}]}]}],
     :controllable false,
     :cost 0,
     :display-name "Simple Parallel Tpn",
     :doc "Simple Parallel TPN",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive false,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass}}
