{plant
 {:args [],
  :meta {:doc "The Plant API", :version "0.2.0"},
  :methods
  {bounded
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [1 5]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Bounded",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc "Bounded"}],
   unbounded
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Unbounded",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc "Unbounded"}]},
  :type :pclass}}
