{qc-demo
 {:args [],
  :fields
  {qc-waypoints
   {:access :private,
    :initial
    {:args
     [{:type :symbol-ref, :names [qc1]}
      {:type :symbol-ref, :names [qc2]}
      {:type :symbol-ref, :names [qc3]}],
     :pclass qc-waypoints,
     :type :pclass-ctor},
    :observable false},
   qc1
   {:access :private,
    :initial
    {:args [],
     :id "qc1",
     :interface "RMQ",
     :pclass qc,
     :type :pclass-ctor},
    :observable false},
   qc2
   {:access :private,
    :initial
    {:args [],
     :id "qc2",
     :interface "ZMQ",
     :pclass qc,
     :type :pclass-ctor},
    :observable false},
   qc3
   {:access :private,
    :initial {:args [], :id "qc3", :pclass qc, :type :pclass-ctor},
    :observable false}},
  :meta
  {:depends {qc "0.2.1", qc-waypoints "0.2.1"},
   :doc "Quadcopter test waypoints",
   :version "0.2.1"},
  :type :pclass}}
