{qc-waypoints
 {:args [qc1 qc2 qc3],
  :meta {:doc "Quadcopter test waypoints", :version "0.2.1"},
  :methods
  {waypoints
   [{:args [],
     :betweens [],
     :body
     [{:type :parallel,
       :body
       [{:type :sequence,
         :body
         [{:type :method-fn,
           :method-ref {:type :pclass-arg-ref, :names [qc1 location]},
           :args [42.44537 -71.227891 1.0 80],
           :temporal-constraints [{:type :bounds, :value [5 20]}]}
          {:type :method-fn,
           :method-ref {:type :pclass-arg-ref, :names [qc1 location]},
           :args [42.445435 -71.227843 2.0 170],
           :temporal-constraints [{:type :bounds, :value [6 20]}]}
          {:type :method-fn,
           :method-ref {:type :pclass-arg-ref, :names [qc1 location]},
           :args [42.445389 -71.227734 3.0 260],
           :temporal-constraints [{:type :bounds, :value [7 20]}]}
          {:type :method-fn,
           :method-ref {:type :pclass-arg-ref, :names [qc1 location]},
           :args [42.445327 -71.227788 4.0 350],
           :temporal-constraints [{:type :bounds, :value [8 20]}]}
          {:type :method-fn,
           :method-ref {:type :pclass-arg-ref, :names [qc1 location]},
           :args [42.44537 -71.227891 1.0 80],
           :temporal-constraints [{:type :bounds, :value [9 20]}]}]}
        {:type :sequence,
         :body
         [{:type :method-fn,
           :method-ref {:type :pclass-arg-ref, :names [qc2 wp2]},
           :args []}
          {:type :method-fn,
           :method-ref {:type :pclass-arg-ref, :names [qc2 wp3]},
           :args []}
          {:type :method-fn,
           :method-ref {:type :pclass-arg-ref, :names [qc2 wp4]},
           :args []}
          {:type :method-fn,
           :method-ref {:type :pclass-arg-ref, :names [qc2 wp1]},
           :args []}
          {:type :method-fn,
           :method-ref {:type :pclass-arg-ref, :names [qc2 wp2]},
           :args []}]}
        {:type :sequence,
         :body
         [{:type :method-fn,
           :method-ref {:type :pclass-arg-ref, :names [qc3 wp3]},
           :args []}
          {:type :method-fn,
           :method-ref {:type :pclass-arg-ref, :names [qc3 wp4]},
           :args []}
          {:type :method-fn,
           :method-ref {:type :pclass-arg-ref, :names [qc3 wp1]},
           :args []}
          {:type :method-fn,
           :method-ref {:type :pclass-arg-ref, :names [qc3 wp2]},
           :args []}
          {:type :method-fn,
           :method-ref {:type :pclass-arg-ref, :names [qc3 wp3]},
           :args []}]}
        {:type :choose,
         :body
         [{:type :choice, :body [{:type :delay, :body nil}]}
          {:type :choice, :body [{:type :delay, :body nil}]}]}
        {:type :parallel,
         :body
         [{:type :delay, :body nil} {:type :delay, :body nil}]}]}],
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Waypoints",
     :doc "QC waypoints for 3 quad copters",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass}}
