{qc
 {:args [],
  :meta {:doc "The Plant API", :version "0.2.1"},
  :methods
  {location
   [{:args [lat lon alt yaw],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-args [lat lon alt yaw],
     :display-name "Location",
     :doc
     "Move quadcopter to location lat (WGS84), lon (WGS84), alt (meters), yaw (degrees from north)",
     :post true,
     :pre true,
     :primitive true,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}],
   wp1
   [{:args [],
     :betweens [],
     :body
     [{:type :method-fn,
       :method-ref {:type :symbol-ref, :names [this location]},
       :args [42.44537 -71.227891 1.0 80]}],
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Wp 1",
     :doc "Waypoint 1",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [10 50]}]}],
   wp2
   [{:args [],
     :betweens [],
     :body
     [{:type :method-fn,
       :method-ref {:type :symbol-ref, :names [this location]},
       :args [42.445435 -71.227843 2.0 170]}],
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Wp 2",
     :doc "Waypoint 2",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [10 50]}]}],
   wp3
   [{:args [],
     :betweens [],
     :body
     [{:type :method-fn,
       :method-ref {:type :symbol-ref, :names [this location]},
       :args [42.445389 -71.227734 3.0 260]}],
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Wp 3",
     :doc "Waypoint 3",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [10 50]}]}],
   wp4
   [{:args [],
     :betweens [],
     :body
     [{:type :method-fn,
       :method-ref {:type :symbol-ref, :names [this location]},
       :args [42.445327 -71.227788 4.0 350]}],
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Wp 4",
     :doc "Waypoint 4",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [10 50]}]}]},
  :type :pclass}}
