{qc
 {:type :pclass,
  :args [],
  :meta {:version "0.2.1", :doc "The Plant API"},
  :methods
  {location
   {:args [lat lon alt yaw],
    :pre {:type :literal, :value true},
    :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
    :reward 0,
    :controllable false,
    :primitive true,
    :betweens [],
    :display-name "Location",
    :post {:type :literal, :value true},
    :cost 0,
    :body nil,
    :doc
    "Move quadcopter to location lat (WGS84), lon (WGS84), alt (meters), yaw (degrees from north)"},
   wp1
   {:args [],
    :pre {:type :literal, :value true},
    :temporal-constraints [{:type :bounds, :value [10 50]}],
    :reward 0,
    :controllable false,
    :primitive false,
    :betweens [],
    :display-name "Wp 1",
    :post {:type :literal, :value true},
    :cost 0,
    :body
    [{:type :plant-fn-symbol,
      :name this,
      :method location,
      :args [42.44537 -71.227891 1.0 80]}],
    :doc "Waypoint 1"},
   wp2
   {:args [],
    :pre {:type :literal, :value true},
    :temporal-constraints [{:type :bounds, :value [10 50]}],
    :reward 0,
    :controllable false,
    :primitive false,
    :betweens [],
    :display-name "Wp 2",
    :post {:type :literal, :value true},
    :cost 0,
    :body
    [{:type :plant-fn-symbol,
      :name this,
      :method location,
      :args [42.445435 -71.227843 2.0 170]}],
    :doc "Waypoint 2"},
   wp3
   {:args [],
    :pre {:type :literal, :value true},
    :temporal-constraints [{:type :bounds, :value [10 50]}],
    :reward 0,
    :controllable false,
    :primitive false,
    :betweens [],
    :display-name "Wp 3",
    :post {:type :literal, :value true},
    :cost 0,
    :body
    [{:type :plant-fn-symbol,
      :name this,
      :method location,
      :args [42.445389 -71.227734 3.0 260]}],
    :doc "Waypoint 3"},
   wp4
   {:args [],
    :pre {:type :literal, :value true},
    :temporal-constraints [{:type :bounds, :value [10 50]}],
    :reward 0,
    :controllable false,
    :primitive false,
    :betweens [],
    :display-name "Wp 4",
    :post {:type :literal, :value true},
    :cost 0,
    :body
    [{:type :plant-fn-symbol,
      :name this,
      :method location,
      :args [42.445327 -71.227788 4.0 350]}],
    :doc "Waypoint 4"}}}}
