{qc
 {:args [],
  :meta {:doc "The Plant API", :version "0.3.0"},
  :methods
  {location
   [{:args [lat lon alt yaw],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Location",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc
     "Move quadcopter to location lat (WGS84), lon (WGS84), alt (meters), yaw (degrees from north)"}],
   wp1
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [11 50]}],
     :reward 0,
     :controllable false,
     :primitive false,
     :betweens [],
     :display-name "Wp 1",
     :post {:type :literal, :value true},
     :cost 0,
     :body
     [{:type :plant-fn-symbol,
       :name this,
       :method location,
       :args [42.44537 -71.227891 1.0 80]}],
     :doc "Waypoint 1"}],
   wp2
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [12 50]}],
     :reward 0,
     :controllable false,
     :primitive false,
     :betweens [],
     :display-name "Wp 2",
     :post {:type :literal, :value true},
     :cost 0,
     :body
     [{:type :plant-fn-symbol,
       :name this,
       :method location,
       :args [42.445435 -71.227842 2.0 170]}],
     :doc "Waypoint 2"}],
   wp3
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [13 50]}],
     :reward 0,
     :controllable false,
     :primitive false,
     :betweens [],
     :display-name "Wp 3",
     :post {:type :literal, :value true},
     :cost 0,
     :body
     [{:type :plant-fn-symbol,
       :name this,
       :method location,
       :args [42.445389 -71.227733 3.0 260]}],
     :doc "Waypoint 3"}],
   wp4
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [14 50]}],
     :reward 0,
     :controllable false,
     :primitive false,
     :betweens [],
     :display-name "Wp 4",
     :post {:type :literal, :value true},
     :cost 0,
     :body
     [{:type :plant-fn-symbol,
       :name this,
       :method location,
       :args [42.445327 -71.227784 4.0 350]}],
     :doc "Waypoint 4"}]},
  :type :pclass},
 qc-demo
 {:args [],
  :fields
  {:qc1
   {:access :private,
    :initial
    {:args [],
     :id "qc1",
     :interface "RMQ",
     :pclass qc,
     :plant-part "pp1",
     :type :pclass-ctor},
    :observable false},
   :qc2
   {:access :private,
    :initial
    {:args [],
     :id "qc2",
     :interface "ZMQ",
     :pclass qc,
     :plant-part "pp2",
     :type :pclass-ctor},
    :observable false},
   :qc3
   {:access :private,
    :initial
    {:args [],
     :id "qc3",
     :pclass qc,
     :plant-part "pp3",
     :type :pclass-ctor},
    :observable false}},
  :meta
  {:depends {qc "0.3.0", qc-waypoints "0.3.0"},
   :doc "Quadcopter test waypoints",
   :version "0.3.0"},
  :type :pclass},
 qc-waypoints
 {:args [],
  :meta {:doc "Quadcopter test waypoints", :version "0.3.0"},
  :methods
  {circuit-one
   [{:args [q],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive false,
     :betweens [],
     :display-name "Circuit One",
     :post {:type :literal, :value true},
     :cost 0,
     :body
     [{:type :sequence,
       :body
       [{:type :plant-fn-symbol,
         :name q,
         :method location,
         :args [42.44537 -71.227895 1.0 80],
         :temporal-constraints [{:type :bounds, :value [5 20]}]}
        {:type :plant-fn-symbol,
         :name q,
         :method location,
         :args [42.445435 -71.227846 2.0 170],
         :temporal-constraints [{:type :bounds, :value [5 20]}]}
        {:type :plant-fn-symbol,
         :name q,
         :method location,
         :args [42.445389 -71.227737 3.0 260],
         :temporal-constraints [{:type :bounds, :value [5 20]}]}
        {:type :plant-fn-symbol,
         :name q,
         :method location,
         :args [42.445327 -71.227788 4.0 350],
         :temporal-constraints [{:type :bounds, :value [5 20]}]}
        {:type :plant-fn-symbol,
         :name q,
         :method location,
         :args [42.44537 -71.227899 1.0 80],
         :temporal-constraints [{:type :bounds, :value [5 20]}]}]}],
     :doc "First quadcopter circuit"}],
   circuit-three
   [{:args [q],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive false,
     :betweens [],
     :display-name "Circuit Three",
     :post {:type :literal, :value true},
     :cost 0,
     :body
     [{:type :sequence,
       :body
       [{:type :plant-fn-symbol, :name q, :method wp3, :args []}
        {:type :plant-fn-symbol, :name q, :method wp4, :args []}
        {:type :plant-fn-symbol, :name q, :method wp1, :args []}
        {:type :plant-fn-symbol, :name q, :method wp2, :args []}
        {:type :plant-fn-symbol, :name q, :method wp3, :args []}]}],
     :doc "Third quadcopter circuit"}],
   circuit-two
   [{:args [q],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive false,
     :betweens [],
     :display-name "Circuit Two",
     :post {:type :literal, :value true},
     :cost 0,
     :body
     [{:type :sequence,
       :body
       [{:type :plant-fn-symbol, :name q, :method wp2, :args []}
        {:type :plant-fn-symbol, :name q, :method wp3, :args []}
        {:type :plant-fn-symbol, :name q, :method wp4, :args []}
        {:type :plant-fn-symbol, :name q, :method wp1, :args []}
        {:type :plant-fn-symbol, :name q, :method wp2, :args []}]}],
     :doc "Second quadcopter circuit"}],
   waypoints
   [{:args [qc1 qc2 qc3],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive false,
     :betweens [],
     :display-name "Waypoints",
     :post {:type :literal, :value true},
     :cost 0,
     :body
     [{:type :parallel,
       :body
       [{:type :plant-fn-symbol,
         :name this,
         :method circuit-one,
         :args [qc1]}
        {:type :plant-fn-symbol,
         :name this,
         :method circuit-two,
         :args [qc2]}
        {:type :plant-fn-symbol,
         :name this,
         :method circuit-three,
         :args [qc3]}]}],
     :doc "Three quadcopter pattern of waypoints"}]},
  :type :pclass}}
