{qc
 {:args [],
  :meta {:doc "The Plant API", :version "0.3.0"},
  :methods
  {location
   [{:args [lat lon alt yaw],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-args [lat lon alt yaw],
     :display-name "Location",
     :doc
     "Move quadcopter to location lat (WGS84), lon (WGS84), alt (meters), yaw (degrees from north)",
     :post true,
     :pre true,
     :primitive true,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}],
   wp1
   [{:args [],
     :betweens [],
     :body
     [{:type :method-fn,
       :method-ref {:type :symbol-ref, :names [this location]},
       :args [42.44537 -71.227891 1.0 80]}],
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Wp 1",
     :doc "Waypoint 1",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [11 50]}]}],
   wp2
   [{:args [],
     :betweens [],
     :body
     [{:type :method-fn,
       :method-ref {:type :symbol-ref, :names [this location]},
       :args [42.445435 -71.227842 2.0 170]}],
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Wp 2",
     :doc "Waypoint 2",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [12 50]}]}],
   wp3
   [{:args [],
     :betweens [],
     :body
     [{:type :method-fn,
       :method-ref {:type :symbol-ref, :names [this location]},
       :args [42.445389 -71.227733 3.0 260]}],
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Wp 3",
     :doc "Waypoint 3",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [13 50]}]}],
   wp4
   [{:args [],
     :betweens [],
     :body
     [{:type :method-fn,
       :method-ref {:type :symbol-ref, :names [this location]},
       :args [42.445327 -71.227784 4.0 350]}],
     :controllable false,
     :cost 0,
     :display-args [],
     :display-name "Wp 4",
     :doc "Waypoint 4",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [14 50]}]}]},
  :type :pclass},
 qc-demo
 {:args [],
  :fields
  {qc1
   {:access :private,
    :initial
    {:args [],
     :pclass qc,
     :plant-id "qc1",
     :plant-interface "RMQ",
     :plant-part "pp1",
     :type :pclass-ctor},
    :observable false},
   qc2
   {:access :private,
    :initial
    {:args [],
     :pclass qc,
     :plant-id "qc2",
     :plant-interface "ZMQ",
     :plant-part "pp2",
     :type :pclass-ctor},
    :observable false},
   qc3
   {:access :private,
    :initial
    {:args [],
     :pclass qc,
     :plant-id "qc3",
     :plant-part "pp3",
     :type :pclass-ctor},
    :observable false}},
  :meta
  {:depends {qc "0.3.0", qc-waypoints "0.3.0"},
   :doc "Quadcopter test waypoints",
   :version "0.3.0"},
  :type :pclass},
 qc-waypoints
 {:args [],
  :meta {:doc "Quadcopter test waypoints", :version "0.3.0"},
  :methods
  {circuit-one
   [{:args [q],
     :betweens [],
     :body
     [{:type :sequence,
       :body
       [{:type :method-fn,
         :method-ref {:type :method-arg-ref, :names [q location]},
         :args [42.44537 -71.227895 1.0 80],
         :temporal-constraints [{:type :bounds, :value [5 20]}]}
        {:type :method-fn,
         :method-ref {:type :method-arg-ref, :names [q location]},
         :args [42.445435 -71.227846 2.0 170],
         :temporal-constraints [{:type :bounds, :value [5 20]}]}
        {:type :method-fn,
         :method-ref {:type :method-arg-ref, :names [q location]},
         :args [42.445389 -71.227737 3.0 260],
         :temporal-constraints [{:type :bounds, :value [5 20]}]}
        {:type :method-fn,
         :method-ref {:type :method-arg-ref, :names [q location]},
         :args [42.445327 -71.227788 4.0 350],
         :temporal-constraints [{:type :bounds, :value [5 20]}]}
        {:type :method-fn,
         :method-ref {:type :method-arg-ref, :names [q location]},
         :args [42.44537 -71.227899 1.0 80],
         :temporal-constraints [{:type :bounds, :value [5 20]}]}]}],
     :controllable false,
     :cost 0,
     :display-args [q],
     :display-name "Circuit One",
     :doc "First quadcopter circuit",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}],
   circuit-three
   [{:args [q],
     :betweens [],
     :body
     [{:type :sequence,
       :body
       [{:type :method-fn,
         :method-ref {:type :method-arg-ref, :names [q wp3]},
         :args []}
        {:type :method-fn,
         :method-ref {:type :method-arg-ref, :names [q wp4]},
         :args []}
        {:type :method-fn,
         :method-ref {:type :method-arg-ref, :names [q wp1]},
         :args []}
        {:type :method-fn,
         :method-ref {:type :method-arg-ref, :names [q wp2]},
         :args []}
        {:type :method-fn,
         :method-ref {:type :method-arg-ref, :names [q wp3]},
         :args []}]}],
     :controllable false,
     :cost 0,
     :display-args [q],
     :display-name "Circuit Three",
     :doc "Third quadcopter circuit",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}],
   circuit-two
   [{:args [q],
     :betweens [],
     :body
     [{:type :sequence,
       :body
       [{:type :method-fn,
         :method-ref {:type :method-arg-ref, :names [q wp2]},
         :args []}
        {:type :method-fn,
         :method-ref {:type :method-arg-ref, :names [q wp3]},
         :args []}
        {:type :method-fn,
         :method-ref {:type :method-arg-ref, :names [q wp4]},
         :args []}
        {:type :method-fn,
         :method-ref {:type :method-arg-ref, :names [q wp1]},
         :args []}
        {:type :method-fn,
         :method-ref {:type :method-arg-ref, :names [q wp2]},
         :args []}]}],
     :controllable false,
     :cost 0,
     :display-args [q],
     :display-name "Circuit Two",
     :doc "Second quadcopter circuit",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}],
   waypoints
   [{:args [qc1 qc2 qc3],
     :betweens [],
     :body
     [{:type :parallel,
       :body
       [{:type :method-fn,
         :method-ref {:type :symbol-ref, :names [this circuit-one]},
         :args [{:type :method-arg-ref, :names [qc1]}]}
        {:type :method-fn,
         :method-ref {:type :symbol-ref, :names [this circuit-two]},
         :args [{:type :method-arg-ref, :names [qc2]}]}
        {:type :method-fn,
         :method-ref {:type :symbol-ref, :names [this circuit-three]},
         :args [{:type :method-arg-ref, :names [qc3]}]}]}],
     :controllable false,
     :cost 0,
     :display-args [qc1 qc2 qc3],
     :display-name "Waypoints",
     :doc "Three quadcopter pattern of waypoints",
     :post true,
     :pre true,
     :primitive false,
     :probability 1.0,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass}}
