{infeasible-sequence
 {:type :pclass,
  :args [plnt],
  :meta {:doc "An example of infeasible sequence of activties"},
  :methods
  {start
   {:args [],
    :pre {:type :literal, :value true},
    :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
    :reward 0,
    :controllable false,
    :primitive false,
    :betweens [],
    :display-name "Start",
    :post {:type :literal, :value true},
    :cost 0,
    :body
    [{:type :sequence,
      :body
      [{:type :plant-fn-symbol, :name plnt, :method do-a, :args []}
       {:type :plant-fn-symbol, :name plnt, :method do-b, :args []}
       {:type :plant-fn-symbol, :name plnt, :method do-c, :args []}
       {:type :plant-fn-symbol, :name plnt, :method do-d, :args []}
       {:type :plant-fn-symbol, :name plnt, :method do-e, :args []}],
      :temporal-constraints [{:type :bounds, :value [10 30]}]}],
    :doc "Simple TPN with constraints"}}},
 plant
 {:type :pclass,
  :args [],
  :meta {:doc "The Plant API"},
  :methods
  {do-a
   {:args [],
    :pre {:type :literal, :value true},
    :temporal-constraints [{:type :bounds, :value [2 4]}],
    :reward 0,
    :controllable false,
    :primitive true,
    :betweens [],
    :display-name "Do A",
    :post {:type :literal, :value true},
    :cost 0,
    :body nil},
   do-b
   {:args [],
    :pre {:type :literal, :value true},
    :temporal-constraints [{:type :bounds, :value [3 6]}],
    :reward 0,
    :controllable false,
    :primitive true,
    :betweens [],
    :display-name "Do B",
    :post {:type :literal, :value true},
    :cost 0,
    :body nil},
   do-c
   {:args [],
    :pre {:type :literal, :value true},
    :temporal-constraints [{:type :bounds, :value [4 8]}],
    :reward 0,
    :controllable false,
    :primitive true,
    :betweens [],
    :display-name "Do C",
    :post {:type :literal, :value true},
    :cost 0,
    :body nil},
   do-d
   {:args [],
    :pre {:type :literal, :value true},
    :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
    :reward 0,
    :controllable false,
    :primitive true,
    :betweens [],
    :display-name "Do D",
    :post {:type :literal, :value true},
    :cost 0,
    :body nil},
   do-e
   {:args [],
    :pre {:type :literal, :value true},
    :temporal-constraints [{:type :bounds, :value [5 10]}],
    :reward 0,
    :controllable false,
    :primitive true,
    :betweens [],
    :display-name "Do E",
    :post {:type :literal, :value true},
    :cost 0,
    :body nil}}}}
