{plant
 {:type :pclass,
  :args [],
  :meta {:version "0.2.0", :doc "The Plant API"},
  :methods
  {move-high-res-images
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 4]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Move High Res Images",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc "Move High Res Image"}],
   watch-right-hemisphere
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [10 20]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Watch Right Hemisphere",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc "Watch Right Hemisphere"}],
   move-medium-res-images
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 4]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Move Medium Res Images",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc "Move Medium Res Image"}],
   track-elephant
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [150 180]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Track Elephant",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc "Track Elephant"}],
   take-high-res-images
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 3]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Take High Res Images",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc "Take High Res Image"}],
   watch-left-hemisphere
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Watch Left Hemisphere",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc "Watch Left Hemisphere"}],
   take-medium-res-images
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 3]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Take Medium Res Images",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc "Take Medium Res Image"}],
   picture-analysis-type-3
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 7]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Picture Analysis Type 3",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc "Picture Analysis Type-3"}],
   picture-analysis-type-2-fast
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 8]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Picture Analysis Type 2 Fast",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc "Picture Analysis Type-2: Fast"}],
   picture-distribution
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 5]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Picture Distribution",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc "Picture Distribution"}],
   take-move-low-res-images
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 3]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Take Move Low Res Images",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc "Take and Move Low Res Image"}],
   picture-analysis-type-1
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 6]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Picture Analysis Type 1",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc "Picture Analysis Type-1"}],
   picture-analysis-type-2-slow
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 9]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Picture Analysis Type 2 Slow",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc "Picture Analysis Type-2: Slow"}]}},
 tpn
 {:type :pclass,
  :args [plant],
  :meta {:version "0.2.0", :doc "TPN Demo"},
  :methods
  {elephant
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive false,
     :betweens
     [{:type :between,
       :from :acquire,
       :to :analyze,
       :temporal-constraints [{:type :bounds, :value [5 20]}]}
      {:type :between-starts,
       :from :watch-right,
       :to :phase-3,
       :temporal-constraints [{:type :bounds, :value [50 :infinity]}]}
      {:type :between-ends,
       :from :phase-3,
       :to :watch-right,
       :temporal-constraints [{:type :bounds, :value [0 5]}]}
      {:type :between-ends,
       :from :process,
       :to :watch-right,
       :temporal-constraints [{:type :bounds, :value [0 3]}]}],
     :display-name "Elephant",
     :post {:type :literal, :value true},
     :cost 0,
     :body
     [{:type :parallel,
       :body
       [{:type :plant-fn-symbol,
         :name plant,
         :method track-elephant,
         :args [],
         :temporal-constraints [{:type :bounds, :value [160 170]}]}
        {:type :parallel,
         :body
         [{:type :plant-fn-symbol,
           :name plant,
           :method watch-right-hemisphere,
           :args [],
           :label :watch-right}
          {:type :plant-fn-symbol,
           :name plant,
           :method watch-left-hemisphere,
           :args []}],
         :temporal-constraints [{:type :bounds, :value [20 25]}]}
        {:type :sequence,
         :body
         [{:type :choose,
           :body
           [{:type :choice,
             :body
             [{:type :sequence,
               :body
               [{:type :plant-fn-symbol,
                 :name plant,
                 :method take-high-res-images,
                 :args [],
                 :temporal-constraints [{:type :bounds, :value [0 3]}]}
                {:type :plant-fn-symbol,
                 :name plant,
                 :method move-high-res-images,
                 :args [],
                 :temporal-constraints
                 [{:type :bounds, :value [0 4]}]}]}]}
            {:type :choice,
             :body
             [{:type :plant-fn-symbol,
               :name plant,
               :method take-move-low-res-images,
               :args [],
               :temporal-constraints [{:type :bounds, :value [0 3]}]}]}
            {:type :choice,
             :body
             [{:type :sequence,
               :body
               [{:type :plant-fn-symbol,
                 :name plant,
                 :method take-medium-res-images,
                 :args [],
                 :temporal-constraints [{:type :bounds, :value [0 3]}]}
                {:type :plant-fn-symbol,
                 :name plant,
                 :method move-medium-res-images,
                 :args [],
                 :temporal-constraints
                 [{:type :bounds, :value [0 4]}]}]}],
             :temporal-constraints [{:type :bounds, :value [78 90]}]}],
           :label :acquire}
          {:type :parallel,
           :body
           [{:type :plant-fn-symbol,
             :name plant,
             :method picture-analysis-type-1,
             :args [],
             :temporal-constraints [{:type :bounds, :value [0 6]}]}
            {:type :choose,
             :body
             [{:type :choice,
               :body
               [{:type :plant-fn-symbol,
                 :name plant,
                 :method picture-analysis-type-2-slow,
                 :args []}],
               :label :slow-path}
              {:type :choice,
               :body
               [{:type :plant-fn-symbol,
                 :name plant,
                 :method picture-analysis-type-2-fast,
                 :args [],
                 :temporal-constraints
                 [{:type :bounds, :value [0 10]}]}]}],
             :temporal-constraints [{:type :bounds, :value [0 15]}]}
            {:type :plant-fn-symbol,
             :name plant,
             :method picture-analysis-type-3,
             :args [],
             :label :phase-3,
             :temporal-constraints [{:type :bounds, :value [0 7]}]}],
           :label :analyze}
          {:type :plant-fn-symbol,
           :name plant,
           :method picture-distribution,
           :args [],
           :temporal-constraints [{:type :bounds, :value [0 5]}]}],
         :label :process,
         :temporal-constraints [{:type :bounds, :value [123 456]}]}]}],
     :doc "the tpn"}]}}}
