{plant
 {:args [],
  :meta {:doc "The Plant API", :version "0.2.0"},
  :methods
  {move-high-res-images
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Move High Res Images",
     :doc "Move High Res Image",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 4]}]}],
   move-medium-res-images
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Move Medium Res Images",
     :doc "Move Medium Res Image",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 4]}]}],
   picture-analysis-type-1
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Picture Analysis Type 1",
     :doc "Picture Analysis Type-1",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 6]}]}],
   picture-analysis-type-2-fast
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Picture Analysis Type 2 Fast",
     :doc "Picture Analysis Type-2: Fast",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 10]}]}],
   picture-analysis-type-2-slow
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Picture Analysis Type 2 Slow",
     :doc "Picture Analysis Type-2: Slow",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 10]}]}],
   picture-analysis-type-3
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Picture Analysis Type 3",
     :doc "Picture Analysis Type-3",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 7]}]}],
   picture-distribution
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Picture Distribution",
     :doc "Picture Distribution",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 5]}]}],
   pre-picture-distribution
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Pre Picture Distribution",
     :doc "Pre Picture Distribution",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 5]}]}],
   take-high-res-images
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Take High Res Images",
     :doc "Take High Res Image",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 3]}]}],
   take-medium-res-images
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Take Medium Res Images",
     :doc "Take Medium Res Image",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 3]}]}],
   take-move-low-res-images
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Take Move Low Res Images",
     :doc "Take and Move Low Res Image",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 3]}]}],
   track-elephant
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Track Elephant",
     :doc "Track Elephant",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [150 180]}]}],
   watch-left-hemisphere
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Watch Left Hemisphere",
     :doc "Watch Left Hemisphere",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}],
   watch-right-hemisphere
   [{:args [],
     :betweens [],
     :body nil,
     :controllable false,
     :cost 0,
     :display-name "Watch Right Hemisphere",
     :doc "Watch Right Hemisphere",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive true,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [10 20]}]}]},
  :type :pclass},
 tpn
 {:args [plant],
  :meta {:doc "TPN Demo", :version "0.2.0"},
  :methods
  {elephant
   [{:args [],
     :betweens [],
     :body
     [{:type :parallel,
       :body
       [{:type :plant-fn-symbol,
         :name plant,
         :method track-elephant,
         :args [],
         :temporal-constraints [{:type :bounds, :value [160 170]}]}
        {:type :parallel,
         :body
         [{:type :parallel,
           :body
           [{:type :plant-fn-symbol,
             :name plant,
             :method watch-right-hemisphere,
             :args []}
            {:type :plant-fn-symbol,
             :name plant,
             :method watch-left-hemisphere,
             :args []}],
           :temporal-constraints [{:type :bounds, :value [20 25]}]}
          {:type :sequence,
           :body
           [{:type :choose,
             :body
             [{:type :choice,
               :body
               [{:type :sequence,
                 :body
                 [{:type :plant-fn-symbol,
                   :name plant,
                   :method take-high-res-images,
                   :args [],
                   :temporal-constraints
                   [{:type :bounds, :value [0 3]}]}
                  {:type :plant-fn-symbol,
                   :name plant,
                   :method move-high-res-images,
                   :args [],
                   :temporal-constraints
                   [{:type :bounds, :value [0 4]}]}]}]}
              {:type :choice,
               :body
               [{:type :plant-fn-symbol,
                 :name plant,
                 :method take-move-low-res-images,
                 :args [],
                 :temporal-constraints
                 [{:type :bounds, :value [0 3]}]}]}
              {:type :choice,
               :body
               [{:type :sequence,
                 :body
                 [{:type :plant-fn-symbol,
                   :name plant,
                   :method take-medium-res-images,
                   :args [],
                   :temporal-constraints
                   [{:type :bounds, :value [0 3]}]}
                  {:type :plant-fn-symbol,
                   :name plant,
                   :method move-medium-res-images,
                   :args [],
                   :temporal-constraints
                   [{:type :bounds, :value [0 4]}]}]}],
               :temporal-constraints
               [{:type :bounds, :value [78 90]}]}]}
            {:type :plant-fn-symbol,
             :name plant,
             :method pre-picture-distribution,
             :args []}
            {:type :parallel,
             :body
             [{:type :plant-fn-symbol,
               :name plant,
               :method picture-analysis-type-1,
               :args [],
               :temporal-constraints [{:type :bounds, :value [0 6]}]}
              {:type :choose,
               :body
               [{:type :choice,
                 :body
                 [{:type :plant-fn-symbol,
                   :name plant,
                   :method picture-analysis-type-2-slow,
                   :args [],
                   :temporal-constraints
                   [{:type :bounds, :value [0 10]}]}]}
                {:type :choice,
                 :body
                 [{:type :plant-fn-symbol,
                   :name plant,
                   :method picture-analysis-type-2-fast,
                   :args [],
                   :temporal-constraints
                   [{:type :bounds, :value [0 10]}]}]}]}
              {:type :plant-fn-symbol,
               :name plant,
               :method picture-analysis-type-3,
               :args [],
               :temporal-constraints [{:type :bounds, :value [0 7]}]}]}
            {:type :plant-fn-symbol,
             :name plant,
             :method picture-distribution,
             :args [],
             :temporal-constraints [{:type :bounds, :value [0 5]}]}],
           :temporal-constraints
           [{:type :bounds, :value [123 456]}]}]}]}],
     :controllable false,
     :cost 0,
     :display-name "Elephant",
     :doc "the tpn",
     :post {:type :literal, :value true},
     :pre {:type :literal, :value true},
     :primitive false,
     :reward 0,
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}]}]},
  :type :pclass}}
