{quadcopter-plant
 {:type :pclass,
  :args [],
  :meta {:version "0.2.0", :doc "The Plant API"},
  :methods
  {wp1
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [10 50]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Wp 1",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc "Waypoint 1"}],
   wp2
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [10 50]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Wp 2",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc "Waypoint 2"}],
   wp3
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [10 50]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Wp 3",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc "Waypoint 3"}],
   wp4
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [10 50]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Wp 4",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc "Waypoint 4"}],
   wp5
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [10 50]}],
     :reward 0,
     :controllable false,
     :primitive true,
     :betweens [],
     :display-name "Wp 5",
     :post {:type :literal, :value true},
     :cost 0,
     :body nil,
     :doc "Waypoint 5"}]}},
 waypoints-test
 {:type :pclass,
  :args [quadcopter-plant],
  :meta
  {:version "0.2.0",
   :depends {quadcopter-plant "0.2.0"},
   :doc "Quadcopter test waypoints"},
  :methods
  {waypoints
   [{:args [],
     :pre {:type :literal, :value true},
     :temporal-constraints [{:type :bounds, :value [0 :infinity]}],
     :reward 0,
     :controllable false,
     :primitive false,
     :betweens [],
     :display-name "Waypoints",
     :post {:type :literal, :value true},
     :cost 0,
     :body
     [{:type :sequence,
       :body
       [{:type :plant-fn-symbol,
         :name quadcopter-plant,
         :method wp1,
         :args []}
        {:type :plant-fn-symbol,
         :name quadcopter-plant,
         :method wp2,
         :args []}
        {:type :plant-fn-symbol,
         :name quadcopter-plant,
         :method wp3,
         :args []}
        {:type :plant-fn-symbol,
         :name quadcopter-plant,
         :method wp4,
         :args []}
        {:type :plant-fn-symbol,
         :name quadcopter-plant,
         :method wp5,
         :args []}]}],
     :doc "QC waypoints"}]}}}
